<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1000</title>
</head>
<body>
<h1>
中央农村工作会议：公共财政更大力度向“三农”倾斜-新华网
</h1>
<p id="demo"> 2017-12-29 22:53:49</p><p>新华社北京１２月２９日电（记者申铖）２９日闭幕的中央农村工作会议明确提出，要建立健全实施乡村振兴战略财政投入保障制度，公共财政更大力度向“三农”倾斜，这让广大农民吃了颗“定心丸”。实施乡村振兴战略离不开财政“真金白银”的支持。记者从财政部了解到，展望明年，中央财政将从多方面着力，扎实做好支持实施乡村振兴战略工作。完善农业支持保护制度是财政支持实施乡村振兴战略的一大着力点。日前召开的全国财政工作会透露，明年将实施“大专项＋任务清单”管理，探索建立涉农资金统筹整合长效机制；完善农业补贴制度；健全农业信贷担保体系和农业风险分担机制。中央农村工作会议强调，走中国特色社会主义乡村振兴道路，必须深化农业供给侧结构性改革，走质量兴农之路。“明年，中央财政将深入推进农业供给侧结构性改革。”财政部部长肖捷在全国财政工作会上表示，明年要深化粮食价格形成机制改革，完善玉米、大豆市场化收购加补贴机制。扩大耕地轮作休耕制度试点。加大优质粮食工程实施力度。中央农村工作会议还强调，农业农村农民问题是关系国计民生的根本性问题，公共财政更大力度向“三农”倾斜。记者从财政部了解到，明年将深化农村综合改革。落实村级组织经费运转保障机制。扶持村集体经济组织发展。推进美丽乡村建设提档升级，更好发挥一事一议财政奖补机制和平台作用，开展农村综合性改革试点试验。此外，中央财政还将支持加快发展现代农业，大力推进高标准农田建设，发展高效节水灌溉，加强灾后水利薄弱环节建设。财政部表示，明年将支持多种形式适度规模经营，推进农业生产社会化服务体系建设，促进小农户和现代农业发展有机衔接。支持地方特色优势主导产业发展，开展农业全产业链开发创新示范。</p></body></html>