<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1001</title>
</head>
<body>
<h1>
河北发布大雾红色预警 多条高速封闭-新华网
</h1>
<p id="demo"> 2017-12-29 22:10:11</p><p>新华社石家庄12月29日电（记者杨知润杨帆）河北省气象台29日晚间继续发布大雾红色预警信号，受大雾影响河北省内多处高速路段封闭，封闭情况可能还将变化。河北气象台预计，29日夜间到30日上午，唐山南部、廊坊、保定中东部、石家庄中东部、沧州、衡水、邢台中东部、邯郸中东部有雾，局地能见度不足50米。受此影响，石家庄周边各站口陆续打开，可以去往山西、河南方向，北京方向和沧州方向，有些分流点暂时不能够选择高速通行。廊坊辖区内廊沧高速逐步恢复正常，但辖区内其他高速因雾关闭。沧州辖区内除津汕高速和沿海高速逐步恢复正常外，辖区其他高速还处于关闭状态。邯郸、邢台辖区除京港澳高速可以通行外，辖区其他高速因雾关闭。秦皇岛、唐山、承德、张家口辖区通行正常。除上述地区之外，河北省内其他高速全部因雾关闭。</p></body></html>