<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1002</title>
</head>
<body>
<h1>
2017年度省级政府安全生产工作考核启动-新华网
</h1>
<p id="demo"> 2017-12-29 22:10:11</p><p>新华社北京12月29日电（记者叶昊鸣）国务院安全生产委员会办公室将于明年1月初开展省级政府安全生产工作考核。据安监总局有关负责人介绍，这是国务院第二次实施对省级政府年度安全生产工作进行现场考核，由国务院安委会成员和国务院安委会办公室负责同志担任考核组组长，国务院安委会23个成员单位的150多名同志组成16个考核组，对32个省级政府（含新疆生产建设兵团）开展专项考核。国家安全监管总局局长王玉普表示，各考核组要严格对照2017年度省级政府安全生产工作考核评分标准，公正客观地反映各地区安全生产工作的真实情况；要充分认识做好考核工作的重要意义，严肃认真、客观公正地开展考核工作，推动全国安全生产形势持续稳定好转，为决胜全面建成小康社会营造良好的安全生产环境；要突出“深、严、实、细”的要求，真正做到深下去、严起来、求真务实、严谨细致，坚决反对形式主义、官僚主义，坚决杜绝弄虚作假。针对岁末年初安全生产形势，王玉普指出，各考核组要坚持“两手抓”，在深入细致做好考核的过程中提请各地区、各部门抓紧抓实当前的安全生产工作，督促检查前一段安全生产大检查和巡查、明察暗访中发现的问题和隐患整改落实情况，推动各地区强化安全防范措施，严防各类事故发生。</p></body></html>