<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1004</title>
</head>
<body>
<h1>
“双一流”建设、新高考落地等入选２０１７年全国十大教育新闻-新华网
</h1>
<p id="demo"> 2017-12-29 22:25:27</p><p>新华社北京１２月２９日电２０１７年全国十大教育新闻评选结果２９日揭晓。党的十九大报告提出建设教育强国是中华民族伟大复兴的基础工程、“双一流”建设高校和学科名单、上海浙江新高考正式落地等１０件新闻入选。２０１７年，教育领域出台了诸多重大方针和政策，引发社会高度关注：国务院出台《对省级人民政府履行教育职责的评价办法》，让省级政府教育统筹评价“尺子”有了具体量法；教育部统一组织新编的三科教材经审查通过，开始投入使用；这一年被定为“高校思想政治理论课教育质量年”，教育部用３个月时间实施完成了新中国思政课建设史上首次“地毯式”全覆盖的大调研……据悉，２０１７年全国十大教育新闻评选活动由中国教育报和中国教育电视台联合举办。按照新闻发生时间顺序，十大教育新闻分别是：首次开展思政课全覆盖大调研全面落实高校思政精神取得新进展；习近平总书记考察中国政法大学强调立德树人德法兼修抓好法治人才培养；习近平总书记对黄大年先进事迹作出重要指示黄大年教授事迹和精神感动中国；上海浙江新高考正式落地我国高考综合改革取得新进展；《对省级人民政府履行教育职责的评价办法》出台省级政府教育统筹评价依法执行；统编义务教育三科教材启用２０１９年全国中小学所有年级全覆盖；“双一流”建设高校和学科名单公布我国高等教育向着更高目标迈进；《关于深化教育体制机制改革的意见》出台到２０２０年教育基础性制度体系基本建立；党的十九大报告提出建设教育强国是中华民族伟大复兴的基础工程；中办国办印发意见加强和改进中外人文交流工作。</p></body></html>