<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1007</title>
</head>
<body>
<h1>
农业部将推动农业供需关系在更高水平上实现新平衡-新华网
</h1>
<p id="demo"> 2017-12-29 23:10:58</p><p>新华社北京12月29日电（记者胡璐、高敬）农业部部长韩长赋29日表示，近两年我国在推进结构调整方面取得了初步成效，但供需脱节、资源错配问题仍很突出。下一步将坚定不移推进结构调整，推动农业供需关系在更高水平上实现新平衡。他是在29日召开的全国农业工作会议上作出上述表述的。韩长赋介绍说，2017年我国围绕农业供给侧结构性改革这个主线，扎实推进结构调整和绿色发展。籽粒玉米累计调减5000万亩，粮改饲面积超过1300万亩，生猪养殖进一步向玉米主产区聚集，农产品质量和品牌进一步优化。“这两年玉米调减效果明显，收储制度改革成效显现，市场价格有了回升。”韩长赋说，要巩固这一成果，继续推动“镰刀弯”地区玉米调减，为优势产区留出空间。同时继续扩大粮豆轮作试点，增加大豆、杂粮杂豆、优质饲草料等品种，将粮改饲面积扩大到1500万亩。他还说，农业部将继续推进生猪规模化标准化养殖，优化生产布局，引导产能向粮食主产区、环境容量大的地区转移。并启动现代化牧场示范创建，实施奶业振兴行动，力争到2020年优质苜蓿自给率达到80%，奶牛存栏100头以上规模养殖比重超过70%，奶源自给率保持在70%以上。不仅如此，还要以退出不合理产能、改善养殖生态环境为重点推进渔业结构调整。“渔业养殖技术要从重产量转到重质量上来，降低水库、湖泊网箱密度，开展循环水养殖和零用药养殖技术示范，推广稻渔综合种养，明年底基本完成禁养区、限养区、养殖区划定。”韩长赋说。</p></body></html>