<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1009</title>
</head>
<body>
<h1>
宁夏两名厅级干部违纪被“双开”-新华网
</h1>
<p id="demo"> 2017-12-29 23:09:57</p><p>新华社银川12月29日电（记者张亮）宁夏回族自治区发改委原主任张八五、经信委原副主任戎生灵严重违纪被开除党籍和公职。经查，张八五违反组织纪律，不如实报告个人有关事项；违反廉洁纪律，收受礼金；违反生活纪律，与他人发生不正当性关系；违反国家法律法规规定，利用职务上的便利，为他人谋取利益，收受财物，涉嫌受贿犯罪。戎生灵作为党员领导干部，严重违反政治纪律，滞留国外不归且涉嫌挪用公款犯罪在逃；违反国家法律法规规定，利用职务上的便利，挪用公款进行营利活动，应予严肃处理。经自治区纪委常委会议研究，并报自治区党委批准，决定给予张八五、戎生灵二人开除党籍处分。经自治区监察厅研究，并报自治区人民政府批准，决定给予二人开除公职处分。收缴张八五违纪所得，将其涉嫌受贿犯罪问题、线索及款物移送司法机关依法处理。</p></body></html>