<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>101</title>
</head>
<body>
<h1>
民警与骗子“时间赛跑” 一小时内成功堵截电话诈骗案-新华网
</h1>
<p id="demo"> 2018-06-14 19:11:07</p><p>日前，浙江江山城南派出所民警在该市清湖街道一农业银行ATM机前成功堵截一起电话诈骗案，让一徐姓市民免受资金损失。记者获悉，民警从接到指令到成功止损只花了一个小时。“警察别抓我啊”，当晚21时左右，手中正拿着一沓人民币，准备存进骗子账户的徐女士在看见民警冲向ATM时，脱口而出这么一句话。记者获悉，在当晚20时左右，江山城南派出所民警接到衢州市反欺诈中心的紧急指令，要求民警火速核查清湖街道一起疑似电话诈骗的案件。在致电徐女士无果后，民警猜测骗子一直与被害人保持通话，为防诈骗过程中被害人受到他人提醒。无奈之下，民警只好一边继续致电徐女士，一边查找徐女士的家庭住址，并拨通了徐女士丈夫周先生的电话。令民警哭笑不得的是，在表明身份和来意后，周先生坚持认为民警是冒充警察的骗子。经验丰富的民警深知遇到诈骗时的前半个小时是黄金止损时间，为和骗子时间赛跑，民警在持续与徐女士夫妇联系的同时，赶往徐女士家中。不料在徐女士家中，民警被告知周先生在外地工作，而徐女士在不久前已骑电瓶车出门，去向不明。侦查一时间陷入了困境，但民警没有放弃。通过推测徐女士不会使用网上银行以及骑电瓶车出门等线索，民警最终在清湖街道的一个农业银行ATM机前找到了正与骗子在通话中且打算存钱的徐女士。据悉，骗子冒充北京市公安局的工作人员，谎称徐女士家中所有钱涉嫌一桩案子，需要汇到“北京公安”的账户才能脱罪。对此深信不疑的徐女士拿着家中所有现金及卡里余额共约8000余元人民币，准备存进骗子账户，所幸在最后被民警及时止损。(周禹龙 施紫楠 汤甜甜 程祺) </p></body></html>