<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1010</title>
</head>
<body>
<h1>
财政部通报四川、江西有关市区违法违规举债担保等问题-新华网
</h1>
<p id="demo"> 2017-12-29 23:53:36</p><p>新华社北京12月29日电（记者郁琼源）财政部29日对外通报，四川省巴中市、成都市新都区查实违法违规举债担保问题，江西省丰城市存在违规使用置换债券资金相关问题。除责令限期整改，还依法依规对多名相关责任人启动问责程序，给予行政撤职、行政降级、行政记过等不同程度处分。经查实，2014年至2015年，为支持四川巴中新城投资建设有限公司借款融资，巴中市政府同意巴中经济技术开发区管委会相关融资请示，并违反国家法律法规规定，由市政府、市财政局向相关单位出具承诺函，承诺将还本付息资金纳入预算或在新城公司不能按时偿还贷款本息时安排财政资金偿还有关债务，2014年至2015年共涉及合同金额23.12亿元，其中2015年新预算法实施后继续到位资金14.13亿元。截至目前，巴中市政府、市财政局已按程序协商撤销了出具的融资承诺函，并由新城公司全额偿清相关违规融资债务。经查实，2013年至2015年，成都市新都区政府批准同意通过区属国有公司以银行贷款、信托产品或发行私募债等形式融资，区财政局将成都市新都香城建设投资有限公司等国有公司通过信托、私募债、银行贷款等方式融资的资金划拨给街道办、行政事业单位、国有公司，用于征地拆迁和道路建设等支出，2013年至2015年共涉及金额23.22亿元，其中2015年新预算法实施后继续划拨22亿元。截至目前，新都区通过财政资金安排、借款人偿还等措施，已将违规融资全部整改完毕。经查实，江西省丰城市置换债券资金使用和管理过程中，存在违规使用置换债券资金、个人违法代持国有股份、私设账外账挪用财政资金等问题。对丰城市存在的违规问题，江西省政府建立了问题清单和责任清单，逐项整改落实。截至目前，已全额收缴违规使用的置换债券资金10861万元，并按程序扣减了丰城市2017年度新增地方政府债券额度1亿元。严肃追究相关人员责任。</p></body></html>