<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1015</title>
</head>
<body>
<h1>
元旦假期第二天全国接待国内游客0.51亿人次-新华网
</h1>
<p id="demo"> 2017-12-31 21:16:14</p><p>新华社北京12月31日电（记者齐中熙）综合通讯运营商、线上旅行服务商等数据，经国家旅游局数据中心测算，31日，全国共接待国内游客0.51亿人次，实现国内旅游收入296亿元。元旦假期第二天，全国假日旅游市场迎来高峰。滑雪场、温泉度假村、大型综合商圈、特色商业街区、电影院等旅游休闲场所火热，乡村嘉年华、逛大集、美食节等旅游主题活动备受欢迎。各地以全域旅游理念为指导，积极加强假日旅游供给，旅游民俗和跨年迎新主题活动推陈出新，旅游公共服务和保障措施再度升级，假日旅游产品更多样，内容更丰富，出行更便捷，体验更美好。交通部门信息显示，全国铁路当天预计发送旅客850万人次，火车站与景点间接驳车辆开行频次加密。部分城市夜间对大型跨年活动区域实行交通管制，有效保障游客安全、道路畅通。</p></body></html>