<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1019</title>
</head>
<body>
<h1>
我国探索对侵害未成年人犯罪人员从业禁止和信息公开制度-新华网
</h1>
<p id="demo"> 2017-12-30 21:31:01</p><p>新华社北京12月30日电（记者白阳、丁小溪）近期，一些有前科的犯罪人员再次侵害未成年人的案件引发社会关注。最高人民检察院有关负责人日前表示，检察机关正在积极探索侵害未成年人犯罪人员从业禁止和信息公开制度，对一些地方的成熟做法将适时予以推广。司法实践表明，侵害未成年人犯罪，尤其是性侵害未成年人犯罪，存在重犯率高、熟人作案比例大的特点。对此，许多国家都建立了对相关犯罪人员的信息披露及职业禁止等制度。我国2015年起施行的刑法修正案（九）也规定，因利用职业便利实施犯罪，或者实施违背职业要求的特定义务的犯罪被判处刑罚的，法院可根据犯罪情况和预防再犯罪的需要，禁止其自刑罚执行完毕之日或者假释之日起从事相关职业，期限为三年至五年。最高人民检察院未成年人检察工作办公室副主任史卫忠介绍，修正案生效以来，各地检察机关已在很多侵害未成年人犯罪案件中向法院提出禁止被告人从事与未成年人密切相关职业的量刑建议，并就如何让法律进一步落地进行了有益探索，对预防侵害未成年人的犯罪人员重新实施犯罪行为发挥了积极作用。浙江慈溪市检察院联合相关部门出台了《性侵害未成年人犯罪人员信息公开办法（试行）》，建立了信息登记数据库；江苏淮安淮阴区检察院、法院、公安局等共同制定了《关于性侵害未成年人犯罪人员从业禁止及信息公开制度》；上海市闵行区检察院与区综治办、公安、法院、教育、民政等部门共同制定了《关于限制涉性侵害违法犯罪人员从业办法（试行）》，将该区从事未成年人服务的教育单位、培训机构、医疗机构、救助机构、游乐场所、体育场馆、图书馆等纳入应当加强入职人员审查的领域。史卫忠表示，适用信息公开制度，有利于弥补从业禁止制度和入职查询制度的一些不足，最高检高度关注地方的制度探索，将加强研究指导，对一些成熟做法适时予以推广。</p></body></html>