<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>102</title>
</head>
<body>
<h1>
上海一征信公司出售公民房屋产权信息被提起公诉-新华网
</h1>
<p id="demo"> 2018-06-14 18:51:08</p><p>新华社上海６月１4日电（黄安琪、卢一凡）上海一家征信公司出售公民房屋产权信息，涉案信息达１８００余条，该公司及员工于日前被上海市虹口区人民检察院提起公诉。据悉，潘某是上海一家企业征信公司的法定代表人兼总经理，主要从事对企业的信用资质、财产状况等进行调查、核实业务。从２０１６年１１月开始，潘某为满足一些小贷公司客户对个人借贷抵押用的房产信息真实性进行核实的额外需求，指使其公司员工蔡某、凌某等人，根据企业客户提供的房屋地址，向他人购买个人房屋产权信息，也就是俗称的“产调信息”，然后将这类信息出售给小贷公司等客户。案发后经核实，上述“产调信息”均能明确识别房屋产权人、产权情况等财产状况内容，共计１８１４条，该类信息的泄露可能对产权人等造成安全隐患。虹口检察院认为，该征信公司及其负责人潘某、员工蔡某、凌某违反国家有关规定，购买公民的敏感信息并予以出售，情节特别严重，应当依照我国《刑法》的规定，以侵犯公民个人信息罪追究刑事责任。（完）</p></body></html>