<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1022</title>
</head>
<body>
<h1>
我国成功研发出大地电磁探测仪-新华网
</h1>
<p id="demo"> 2017-12-30 16:50:45</p><p>新华社武汉12月30日电（记者谭元斌）记者29日从湖北省国防科工办和中船重工第722研究所了解到，由中船重工第722研究所研发的大地电磁探测仪近日通过了由湖北省科技厅、中国地质大学（武汉）、中国地震局地震研究所等单位专家组成的验收组的验收。据介绍，这一项目为湖北省科技计划项目。验收组专家认为，这一项目开发了高性能磁传感器、高稳定低噪声接收机、小功率便携发射机等核心部件，研制出了工程化、实用化的大地电磁探测仪整机，技术指标均达到或超过项目任务书要求，同时实现了市场销售并取得了较好的经济效益。验收组专家同时认为，这一项目极大地缩短了我国与国际先进大地电磁探测系统的技术差距，打破了国外公司在我国的市场垄断，增加了国内用户的选择余地，为国产大地电磁探测系统的产业化发展创造了新契机，更为重要的是为从根本上改变长期依赖于进口的状况打下了良好基础。中船重工第722研究所相关负责人说，此次通过验收的大地电磁探测仪，可广泛应用于地质勘探、能源勘探、深海探测等领域，目前已进入市场。</p></body></html>