<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1024</title>
</head>
<body>
<h1>
李克强签署国务院令公布《中华人民共和国环境保护税法实施条例》-新华网
</h1>
<p id="demo"> 2017-12-30 17:08:00</p><p>新华社北京12月30日电  国务院总理李克强日前签署国务院令，公布《中华人民共和国环境保护税法实施条例》（以下简称《条例》），自2018年1月1日起与环境保护税法同步施行。《中华人民共和国环境保护税法》于2016年12月25日第十二届全国人民代表大会常务委员会第二十五次会议通过，自2018年1月1日起施行。这部法律对于保护和改善环境，减少污染物排放，推进生态文明建设，具有十分重要的意义。为保障环境保护税法顺利实施，有必要制定实施条例，细化征税对象、计税依据、税收减免、征收管理的有关规定，进一步明确界限、增强可操作性。《条例》对《环境保护税税目税额表》中其他固体废物具体范围的确定机制、城乡污水集中处理场所的范围、固体废物排放量的计算、减征环境保护税的条件和标准，以及税务机关和环境保护主管部门的协作机制等做了明确规定。《条例》明确，2003年1月2日国务院公布的《排污费征收使用管理条例》同时废止。  （受权发布）中华人民共和国国务院令 第693号（受权发布）中华人民共和国环境保护税法实施条例</p></body></html>