<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1028</title>
</head>
<body>
<h1>
北京南站今迎客流高峰 发送量预计达17.9万人-新华网
</h1>
<p id="demo"> 2017-12-30 07:31:55</p><p>昨日，北京晨报记者从北京南站获悉，元旦假期运输期间，北京南站将发送旅客51.6万人，日均发送旅客12.9万人，较去年同期增幅7%。今日将迎客流高峰日，发送量预计达到17.9万人。北京南站将增开多方向旅客列车保证旅客节日出行。资料图：车站里的旅客。中新社记者 殷立勤 摄北京南站介绍，元旦假日期间车站客流以短途旅游、探亲客流为主，从车票预售情况来看，管内客流主要集中在京津地区，直通客流主要集中在济南、杭州、上海、合肥、福州、厦门、沈阳、哈尔滨等城市，直通客流将成为假日客流的主要增长点。在运力保障方面，假日期间北京南站京沪高铁开行104列，京津城际开行90列，同时增开北京南至济南西G4287次、G4523次，北京南至德州D9121次，北京南至天津西G9005、G9007、G9009、G9013、G9015、G9017、G9019次共10列动车组列车，最大限度满足旅客出行需求。今日起至1月1日，车站将根据客流变化适时提前或延长地下换乘层快速进站通道的开启时间，通过采取高架检票口与地下换乘层快速进站通道同步检票放行的方式，车站将最大限度减少旅客排队等候时间，缓解候车厅客流压力。这里提示广大旅客，快速进站厅主要针对半小时内发车的列车，可覆盖全部北京南站始发高铁列车。候车时间充裕的旅客朋友请到候车大厅等候检票进站。在售票组织方面，为方便网络购票的旅客来站换取车票，车站将增开8个互联网取票专口，同时二楼候车大厅、地下换乘层和北进口的4个自助售票专区调整为自助取票专区，并增加引导帮扶人员，帮助旅客快速购取车票。此外，为方便旅客办理常旅客会员服务业务，车站共开设12个常旅客服务窗口。(记者 曹晶瑞)</p></body></html>