<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>103</title>
</head>
<body>
<h1>
湖北荆门破获特大手机网络赌博案 庄家两年牟利３０００余万元-新华网
</h1>
<p id="demo"> 2018-06-14 18:49:17</p><p>新华社武汉６月１４日电（俞俭、周隗伟）一款普通手机捕鱼游戏ＡＰＰ被人动起“歪脑筋”，摇身一变成为赌博平台，两年吸引上万人参赌，庄家牟利３０００余万元。湖北荆门市公安局１４日通报，经过近半年艰苦侦查成功破获利用手机捕鱼游戏ＡＰＰ实施赌博的特大网络赌博案，万某、蒋某等５名主要犯罪嫌疑人已被移送检察机关起诉。荆门市公安局接到群众举报后，民警调查发现有人利用一款名为“摇摇乐”捕鱼游戏进行网络赌博，并于２０１７年１１月成立专班以涉嫌开设赌场罪立案侦查。民警侦查发现，犯罪嫌疑人万某、蒋某等人通过微信招揽赌客，赌客根据其提供的二维码下载游戏后安装在手机或平板电脑上，通过微信红包、支付宝或银行卡转账方式以一定比例购买游戏币下注进行捕鱼，游戏结束结算时以同样的分值比例返还现金给参赌人员，该网络赌博团伙则从中牟利。在掌握充分证据后，２０１７年１２月底，荆门市公安局果断实施收网，在广东东莞、湖南怀化同时进行抓捕，主要犯罪嫌疑人万某、余某某、蒋某某、李某某、陶某某逐一落网，同时扣押作案手机、电脑２０余部，银行卡３０余张，作案车辆２辆。犯罪嫌疑人万某交代，３年前在湖北潜江利用捕鱼游戏机赌博被当地公安机关查处后，便想着能否将游戏弄到手机上进行赌博。２０１５年１０月，万某接触到一家软件公司，并花费３０万元让其开发制作手机捕鱼游戏ＡＰＰ，年底软件上线后，万某便利用手机微信搜索添加功能招揽赌客。之后，万某聘请蒋某负责平台日常管理，并按赢利的１０％分红。蒋某则雇佣亲戚李某某、陶某某等人帮其实施拉人入局、收账、结账等工作，每人每月给予８０００元报酬。警方初步查明，玩家涉及全国各地，注册人员上万，日活跃用户在２０００人左右。赌博平台运行两年，万某及团伙非法获利３０００余万元，高峰期每月牟利达２００余万元。办案民警称，利用手机进行网络赌博隐蔽性极强，且传播速度和扩散力也相当强，提醒广大网民应自觉增强法律意识，远离网络赌博行为。</p></body></html>