<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1038</title>
</head>
<body>
<h1>
三江源国家公园将于2020年初步建成标准体系-新华网
</h1>
<p id="demo"> 2017-12-31 10:49:56</p><p>新华社西宁１２月３１日电（记者 李亚光、骆晓飞）记者从三江源国家公园管理局了解到，该管理局计划于２０２０年三江源国家公园建成时发布一批专项标准，初步形成可支持公园建设管理运行的标准体系。在近日召开的新闻发布会上，三江源国家公园管理局副局长田俊量表示，管理局全面梳理国内有关国家标准、行业标准和地方标准，编制印发了《三江源国家公园管理规范和技术标准指南》。“该‘指南’共引用９４项规范标准，初步定义了与三江源国家公园相关的名词解释。这些条文不仅对于公园建设具有极强的指导意义，还有望将公园的各项管理工作纳入更标准化、规范化的轨道。”田俊量说。据介绍，三江源国家公园管理局还将于近期发布《三江源国家公园技术标准导则》，提出三江源国家公园标准体系建设内容、编制规范和技术要求，搭建标准体系框架和规范。田俊量介绍说，标准体系建设是三江源国家公园依法依规建设和管理的重要保障，有助于解决“九龙治水”体制下自然资源管理和利用领域标准体系条块分割的问题，帮助公园实现与国际接轨。２０１６年６月，我国首个国家公园体制试点在三江源地区设立，青海果洛、玉树两个藏族自治州的４个县及可可西里地区总面积１２．３万平方公里的区域被纳入试点范围。</p></body></html>