<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>104</title>
</head>
<body>
<h1>
上海出台中国国际进口博览会安全生产专项保障方案-新华网
</h1>
<p id="demo"> 2018-06-14 18:24:35</p><p>新华社上海6月14日电（记者李荣）据上海市安监局提供的最新信息，上海已出台了2018年中国国际进口博览会安全生产专项保障工作方案，要求严格落实安全生产责任措施，坚决遏制较大以上事故，有效降压一般事故，营造良好的安全环境。据上海市安监局人士介绍，上海将织紧织密安全生产责任网，梳理分析可能存在的安全风险和事故隐患，督促指导重点领域、重点区域、重点单位制定有效防范应对措施，进一步强化对小化工、小饭店、小超市、临街店面等的安全监管，确保安全生产工作“不留盲点、不留死角”。上海正围绕风险管控和隐患排查治理双重预防机制，组织开展危险化学品、油气管道、冶金、粮食仓储、粉尘涉爆、液氨制冷、有限空间作业等领域的专项检查，提升执法效能，督促企业压实主体责任。对非法生产经营建设和经停产整顿仍未达到要求的，一律关闭取缔；对非法生产经营建设的有关单位和责任人，一律按规定上限予以处罚；对存在非法生产经营建设的单位，一律责令停产整顿，并严格落实监管措施；对触犯法律的有关单位和人员，一律依法严格追究法律责任。根据相关方案，上海要求各企业单位聚焦重大危险源、劳动密集型场所和高危作业工序等，持续开展安全风险辨识，将安全风险辨识管控融入企业安全生产标准化建设、隐患排查治理体系建设、专项整治和日常监管中。特别是进口博览会周边区域的企业和单位，应采取应急联动等人防、物防、技防措施，有效提升安全生产管控能力。可根据需要，实行错峰避峰生产或调整检维修作业周期，确保本质安全。</p></body></html>