<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1043</title>
</head>
<body>
<h1>
致2018：岁月为犁 不负韶光-新华网
</h1>
<p id="demo"> 2017-12-31 23:10:03</p><p>（新华时评）致2018：岁月为犁 不负韶光新华社北京12月31日电  题：致2018：岁月为犁 不负韶光新华社记者2017年最后一个晚上，国家主席习近平发表了2018年新年贺词。时光无言，长河奔流不息；光阴有知，历史从未忘却。当浑厚的钟声响彻神州、绚丽的曙光普照大地，崭新的一年又在眼前。我们坚信习近平主席新年贺词中描绘的美好图景，在全体人民共同努力下，必将一步步变成现实。2017年，注定因其不凡而被镌刻于历史丰碑之上。党的十九大胜利召开，开启了全面建设社会主义现代化国家新征程。我们朝着实现全面建成小康社会目标又迈进了一大步。韶华易逝，初心难忘。跨年之际，人们竞相在朋友圈晒出自己18岁时的照片。光阴的故事之所以令人赞叹，是因为其中交融了个人的成长、时代的变迁和国家的进步。一张张18岁照片的背景拼接起来就是一幅从站起来、富起来到强起来的瑰丽画卷，照片中亿万个你我，就是伟大发展成就的创造者。幸福都是奋斗出来的。“中国奇迹”的背后没有魔法，民族复兴、中华崛起靠的是一代又一代的接续奋斗、苦干实干。人生没有几个18年，唯有爱国奉献方得无怨无悔。2018年是全面贯彻党的十九大精神的开局之年，我们要以庆祝改革开放40周年为契机，逢山开路、遇水架桥，将改革进行到底。我们要尽锐出战，精准施策，确保3年后如期打赢脱贫攻坚战。唯有不驰于空想、不骛于虚声，一步一个脚印，踏踏实实干好工作，方能把蓝图变为现实。岁月为犁，不负韶光。民族复兴、国家富强的每一步，都是靠你我的一笔一画写就。回眸中华民族百年征程，一个历史论断被反复证明：“我们的目的一定要达到。我们的目的一定能够达到。”对照党的十九大描绘的美好蓝图，每个人都应该有一张属于自己的时间表。播种未来希望，深耕每寸光阴。再过18年，站在基本实现社会主义现代化的神州大地上，我们能由衷感叹：年华未曾虚掷，一切如我所愿。</p></body></html>