<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1053</title>
</head>
<body>
<h1>
利用网络云盘买卖个人信息 很快落网了-新华网
</h1>
<p id="demo"> 2018-02-08 09:19:09</p><p>利用网络云盘，买卖个人信息 很快落网了网络时代，在数据信息共享的大背景下，云盘应运而生，一些不法分子也把黑手伸向了云盘。1月18日，湖南省泸溪县检察院以涉嫌非法提供信用卡信息罪将犯罪嫌疑人杨炜批准逮捕。2016年10月，杨炜在网上加入了一个名为“收门票、机票、酒店”的QQ群，想要找份网络方面的工作。入群后不久，第一单生意就找上门来了，一个网友添加杨炜为好友，给他发来了一张含有许多银行卡信息的截图，问他是否能使用这些信息购买机票。由于杨炜对此类业务不熟悉，第一单生意并没有做成，可是这个网友却发现了杨炜“另有用处”，网友给杨炜提供了许多银行卡信息，教他如何使用专门的网站来鉴别这些银行卡信息是否能够使用。在这个网友“手把手”的带领下，杨炜学会了这些操作。在接下来“合作”中，这个网友给杨炜发来了一个云盘，说是方便以后的“业务往来”。杨炜打开云盘，发现里面竟然存有10万余条银行卡、支付宝、手机号码等个人信息。从这些信息中，杨炜看到了“商机”。杨炜将云盘中所有的资料进行了下载保存在自己的电脑里。之后，他开始在QQ群里、微信里添加好友，询问他们是否需要银行卡信息，还在QQ群里发布广告，称自己手里有大量的银行卡信息，有需要的网友可以找他。云盘里的银行卡信息数量大，大部分信息都没有经过网站的测试，属于使用价值较低的“毛料”。在他的“努力”下，成交了三笔“小买卖”，共获利260元。除此之外，杨炜还给认识的网友免费提供过云盘信息。2017年12月15日，杨炜被警方抓获归案，对非法提供信用卡信息的犯罪事实供认不讳。检察官提醒，在网络世界，公民个人信息同样受到法律的保护。公民要严格遵守法律法规，从自身做起，要做个人信息的保护者。（张吟丰 谭华钰 李蓉）</p></body></html>