<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1057</title>
</head>
<body>
<h1>
春节假日旅游市场呈现四大特点-新华网
</h1>
<p id="demo"> 2018-02-08 18:50:45</p><p>新华社北京2月8日电（记者齐中熙）新春佳节将至，国家旅游局数据中心8日发布调查数据显示：2018年春节假日期间，全国假日国内旅游市场将达3.85亿人次，预计实现旅游收入4760亿元，分别同比增长12%和12.5%，旅游市场呈现四大特点。一是旅游市场热度高，举家出游占主流。大众旅游时代，旅游已成为广大群众欢度春节的重要方式，今年春节旅游市场持续红火。调查显示，2018年一季度，我国居民出游意愿为83%，其中48.9%的游客选择在春节期间出行。二是中长线游需求旺，周边休闲成新潮。春节期间具有出游意愿的居民中，有65.9%选择了国内中长线旅游，比例最高。南下避寒、北上玩雪仍是广大游客春节出行的重要动机。选择近郊旅游的居民比例达34.5%，表明春节期间探亲团聚、家庭短途游将升温。三是休闲游超观光游，旅游体验受关注。调查显示，度假休闲超越景点观光成为居民春节假日出游的第一动机。选择度假、休闲排解工作压力的游客占到有出游意愿居民的50.5%。四是时空选择更自由，消费选择重理性。随着职工带薪年休假制度的持续落实，居民更偏向于选择错峰休假。调查显示，提前出游和延迟返程的比例越来越高，春节旅游市场有突破假期、向节后拓展的趋势。</p></body></html>