<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1058</title>
</head>
<body>
<h1>
内蒙古等8省区公开中央环保督察整改落实情况-新华网
</h1>
<p id="demo"> 2018-02-08 18:27:24</p><p>新华社北京2月8日电（记者高敬）记者8日从环境保护部了解到，第一批接受中央环境保护督察的内蒙古、黑龙江、江苏、江西、河南、广西、云南、宁夏等8省区公开了督察整改情况。截至2017年底，8省区督察整改方案明确的481项整改任务已完成316项，其余165项正在推进中。中央环境保护督察组于2016年7月至8月组织对内蒙古等8省区开展环境保护督察，并于2016年11月完成督察反馈。8省区将督察整改作为推进生态文明建设和环境保护的重要抓手，建立机制、强化措施、积极推进，取得明显的整改成效。通过整改，解决了一批长期难以解决的环境问题。国家环境保护督察办公室相关负责人表示，8省区督察整改工作取得阶段性成效，但仍然存在一些薄弱环节。——部分整改任务进展有所滞后。一些电解铝、钢铁等违规产能退出周期长，一些地区基础治污设施建设、尾矿库治理和生态环境恢复等工作滞后，一些自然保护区和饮用水水源保护区历史遗留问题多，虽制定整改方案，但整改工作缓慢。——一些地区整改力度仍需加大。个别地区对督察反馈指出的问题，没有制定更加细化的整改方案，导致部分问题没有完全整改到位；一些地区督察整改方案论证不够充分，整改措施不够精准，影响整改工作有效开展。——一些环境问题出现反弹。个别地区在督察进驻期间对部分污染较重企业，特别是“散乱污”企业等，采取简单关停措施，督察进驻结束后又恢复生产，导致人民群众反映较多。督察整改是环境保护督察的重要环节，也是深入推进生态环境保护工作的关键举措。下一步，国家环境保护督察办公室将继续对各地整改情况实施清单化调度，并不定期组织开展机动式、点穴式督察，始终保持督察压力，压实整改责任。</p></body></html>