<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1059</title>
</head>
<body>
<h1>
我国19个省将法律服务纳入政府购买目录-新华网
</h1>
<p id="demo"> 2018-02-08 18:19:55</p><p>新华社北京2月8日电（记者王茜）目前全国19个省把公共法律服务体系纳入到本地“十三五”经济社会发展规划，将法律服务纳入到政府购买目录。司法部副部长熊选国8日在国务院新闻办举行的新闻发布会上这样表示。熊选国表示，中国特色社会主义进入新时代，人民美好生活的需要日益广泛，不仅对物质文化生活提出更高要求，而且在民主、法治、公平、正义、安全、环境等方面的要求也日益增长。这在很大程度上都会转化成一种对法律服务方面的需求。“司法部在司法行政改革意见中，把律师、公证、司法鉴定、法律援助、人民调解、法治宣传，包括安置帮教都纳入到公共法律服务体系当中去。旨在通过公共法律服务体系建设，更好地满足人民群众对多层次、多领域、个性化、体现公平正义价值的公共法律服务的需求。”熊选国说。据介绍，为了推进公共法律服务体系建设，司法部着力构建了“12348”中国法网，广泛开展“一村（社区）一法律顾问”工作，探索建立了法律顾问微信群，建立“12348”电话热线平台，建设中国司法行政（法律服务）案例库等。熊选国表示，下一步司法部将按照有关规划，加快建设公共法律服务体系。</p></body></html>