<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1061</title>
</head>
<body>
<h1>
我国将开展核安全法实施年活动-新华网
</h1>
<p id="demo"> 2018-02-08 17:59:00</p><p>新华社北京2月8日电（记者高敬）记者从环境保护部（国家核安全局）日前举行的核安全法媒体座谈会上获悉，今年将开展核安全法实施年活动。我国核安全领域的根本法——核安全法于2018年1月1日起实施。环保部核设施安全监管司司长郭承站表示，核安全法通过设立严格的标准、制定严密的制度，实行严格的监管，并对违法行为实施严厉的处罚，对保障核事业安全可持续发展、捍卫国家安全、维护公众权益、推动核电“走出去”，具有重要作用。据了解，开展核安全法实施年活动，要全面开展核安全法宣贯，组织全行业深入学习、贯彻落实核安全法；全面依法加强核安全监管体制机制，形成确保安全的合力；全面完善法规标准体系，建立健全核安全法配套制度；全面深化核安全文化建设；全面落实核安全责任，推动核设施营运单位落实核安全主体责任；全面依法从严监管，推进核安全工作规范化建设，对弄虚作假和违规操作零容忍；全面提升核安全保障能力，做好涉核反恐、核材料管制、核应急以及监测等工作，推进核设施退役和放射性废物治理，优化核安全设备和核安全特种人员监管；全面防范风险，以保障核设施运行安全为核心，积极推进涉核项目风险化解。</p></body></html>