<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1063</title>
</head>
<body>
<h1>
新华时评：莫让“表态式扶贫”误了大事-新华网
</h1>
<p id="demo"> 2018-02-08 17:50:29</p><p>新华社北京2月8日电 题：莫让“表态式扶贫”误了大事新华社记者姜伟超党的十九大报告提出“确保到2020年我国现行标准下农村贫困人口实现脱贫”。当前，多地扶贫攻坚扎实推进，成效显著。然而，也有少数地方落实这一时间表还停留在统计表格上、工作表面上和会议表态上，若不扭转这种“表态式扶贫”现象，可能会延误扶贫攻坚的大事。记者春节前夕调查扶贫工作发现有三个问题值得关注：一是中央提出的“一户一策”扶贫措施落实不到位。比如，有的贫困户“养头牛就当项目，种点菜就算产业，打个工就是发展”，本该记录翔实的扶贫户手册除了名字外一片空白，一问才知扶贫干部下到村里只顾院子里填表格、羊圈前拍个照；还有的扶贫干部给贫困户留了帮扶电话，记者打过去得到的提示却是“您拨打的电话已停机”。二是离中央提出的脱贫期限不到三年时间，少数地方扶贫工作还停留在表面上，说起整体规划头头是道，实际上并没有抓手，贫困户致富无项目、脱贫户生活无变化。三是一些扶贫干部表态多行动少、调门高落实差。记者采访发现，有的贫困户精准扶贫贷款刚发放几个月就被认定“脱贫”，严重不符合产业发展规律；在脱贫验收时，部分收入被夸大。应该承认，有的地方发展落后，经济底子薄，项目吸纳能力差，加上环境恶劣，发展空间小，群众致富的路子窄，扶贫工作确有难度。扶贫不是一锤子买卖，把这一工作做实，要着眼于贫困地区的条件和贫困户的内生动力，不光要扶“口袋”，更重要的是出思路、找依托、定项目。只做表面文章，不解决实际问题。扶贫是攻坚战，反贫困斗争是持久战，打硬仗必须有硬作风，务必扎根农村、心系群众，办实事、求实效；同时，还要加强问责，对“上面喊破嗓子，下面不挪步子”的消极行为要严查细究，莫让“表态式扶贫”误了大事。</p></body></html>