<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1065</title>
</head>
<body>
<h1>
我国完善危重孕产妇急救、转诊网络把好母婴安全“源头关”-新华网
</h1>
<p id="demo"> 2018-02-08 18:19:55</p><p>新华社北京２月８日电（记者王宾）记者从国家卫生计生委获悉，我国将建立完善危重孕产妇急救、会诊、转诊网络，推动市、县两级均至少建立１个危重孕产妇救治中心，把好母婴安全“源头关”。国家卫计委印发《危重孕产妇救治中心建设与管理指南》提出，省级和市级危重孕产妇救治中心依托产科实力和综合救治能力较强的三级综合医院、三级妇幼保健院或三级妇产医院设立；县级救治中心原则上依托已建有ＩＣＵ病区，且产科实力和综合救治能力较强的二级以上综合医院、妇幼保健院或妇产医院设立。省级应当建立若干危重孕产妇救治中心，市、县两级均应当建立至少１个危重孕产妇救治中心。根据相关要求，县级危重症孕产妇救治中心产科床位数原则上不少于３０张。各级危重症孕产妇救治中心均建立完善高危妊娠管理、孕产妇危重症评审、孕产妇死亡评审等制度。加快建成分级负责、上下联动、应对有序、运转高效的危重孕产妇急救、会诊、转诊网络。数据显示，２０１７年我国孕产妇死亡率和婴儿死亡率均稳中有降，妇幼健康核心指标总体上优于中高收入国家平均水平。“在妇幼健康水平不断提升的基础上，广大百姓还希望生得安全、生得舒心，希望获得更专业、更连续的妇幼健康服务。”国家卫计委副主任马晓伟说。为让百姓在家门口就能享受放心、便捷的医疗服务，我国还将鼓励三级医疗机构牵头组建产儿科专科联盟，以专科协作为纽带，重点提升危重孕产妇和新生儿救治能力。大力发展面向基层、边远和欠发达地区的产儿科远程医疗协作网。</p></body></html>