<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1066</title>
</head>
<body>
<h1>
我国首家社会资本特许经营合作办医项目立项-新华网
</h1>
<p id="demo"> 2018-02-08 18:19:55</p><p>新华社北京２月８日电（记者王宾）记者从东方资产获悉，中国东方资产管理股份有限公司与北京安贞医院以特许经营模式合作建设的北京安贞东方医院项目，近日取得北京市发展和改革委员会的立项核准，标志着该项目建设进入实质性实施阶段。据介绍，这一项目是国内首家社会资本以特许经营模式与公立医院合作办医项目，是北京市贯彻落实国务院创新重点领域投融资机制鼓励社会投资的重点项目，已相继取得北京市卫生计生委、北京市规划国土委等部门的批复意见。医院将按照相关国际认证标准以及国家卫计委三级医院标准建设，成为集医疗、科研、教学为一体的、以心血管为特色的强专科、大综合医院。北京安贞东方医院位于北京朝阳东坝地区。该区域周边人口达４０余万，但附近没有大型综合医院。医疗资源匮乏是当地人民群众迫切需要解决的突出问题，也是民生建设和公共服务的短板。此次规划的安贞东方医院地上建筑面积１１９０００平方米，设置床位８００张，总投资２５亿元，由东方资产负责医院建设的投资资金以及后续运营；并由安贞医院派驻管理团队和医疗技术团队，使新建医院的医疗水平与安贞医院一致。该医院也将成为北京首个通过特许经营方式引入社会资本合作办医的试点项目。东方资产是国有四大资产管理公司之一。在取得北京市发改委的立项核准后，安贞东方医院计划于２０１８年开工，２０２０年竣工验收。来自国家卫计委的统计显示，截至２０１７年４月底，全国社会办医机构４４．４万家，占医疗机构总数的４５％；社会办医院１．６９万家，占医院总数的５７．２％。“社会办医是本轮医药卫生体制改革的重点任务之一，充分释放社会办医潜力和活力，提供多层次多样化的医疗服务，有利于推动形成高质、高效的多元办医格局。”东方资产董事长吴跃表示，东方资产结合自身优势参与社会资本合作办医，有利于健康产业壮大和改善民生，进一步优化医疗供给结构，满足人民群众日益增长的卫生需求，为支持健康中国建设作出贡献。国家卫生计生委相关负责人表示，目前社会力量进入医疗领域的积极性十分高涨，投资主体更加多元。社会资本以特许经营模式参与办医，是当前社会资本参与医疗服务领域的重要方式，对推进医改实践、提高医疗行业服务质量具有积极意义。</p></body></html>