<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1075</title>
</head>
<body>
<h1>
南京获赠以色列已故艺术家雕塑“和平之吻”-新华网
</h1>
<p id="demo"> 2018-01-27 16:46:51</p><p>新华社南京１月２７日电（记者 蒋芳）１月２７日是“国际大屠杀纪念日”。记者２７日从侵华日军南京大屠杀遇难同胞纪念馆获悉，该馆获赠已故以色列艺术家玛纳什·卡迪诗曼生前创作的“秋之落叶”装置艺术中的四枚“金属脸”雕塑与“和平之吻”雕塑。玛纳什·卡迪诗曼１９３６年８月出生于以色列特拉维夫，２０１５年８月去世，是以色列著名雕塑家、画家，他创作的雕塑、绘画作品和公共艺术品遍布世界各地。２０１４年，以色列前总统西蒙·佩雷斯访华时，曾将卡迪诗曼先生创作的“和平之吻”绘画作品赠予中国，作为两国和平与友谊的象征。２６日，玛纳什·卡迪诗曼的儿子本·卡迪诗曼将父亲的多件雕塑作品捐赠给南京。在捐赠仪式上，本·卡迪诗曼介绍，“和平之吻”雕塑由一对母子和平鸽组成，父亲创作这件作品的初衷是希望世界永无战争、永远和平。“秋之落叶”装置艺术目前在德国柏林犹太人纪念馆展出，它由一万多个张着嘴、睁着眼、面部狰狞的铁片“金属脸”组成。走在这条铺满铁片“金属脸”的路上，脚下会发出呐喊一样的回响，让人感到那些如秋日落叶般陨落的生命。“父亲很早就知道南京大屠杀惨案，这次捐赠也是完成父亲的遗愿。”本·卡迪诗曼说，父亲出生在一个动荡战乱的国家，但他一生都在追求艺术与和平，他教会我自由地创作艺术、真诚地追求和平。他计划通过了解南京这座城市和南京大屠杀史实，创作以反对战争、爱好和平为主题的艺术作品，并捐赠给纪念馆。侵华日军南京大屠杀遇难同胞纪念馆馆长张建军表示，南京作为国际和平城市，对和平有着更深刻的理解和认识，这批雕塑将于今年５月在纪念馆展出。</p></body></html>