<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1076</title>
</head>
<body>
<h1>
航班、火车、汽运不同程度受阻，这次南方的雪下得有点猛-新华网
</h1>
<p id="demo"> 2018-01-27 16:49:26</p><p>新华社北京１月２７日电与北京市民苦盼下雪而不得相反，南方则是暴雪来得有点猛。温柔的落雪能带来难得一见的美景，但过猛的雨雪交加使民航、铁路、公路普遍受到较大影响，给人们出行也带来了不便。中央气象台２７日一早继续发布暴雪橙色预警，２７日至２８日，河南东南部、江淮、江南北部、湖北东南部、贵州中北部、湖南大部等地有中到大雪或雨夹雪，其中，安徽南部、江苏南部、浙江西北部、湖北东南部、湖南西北部等地有暴雪，局地大暴雪。２６日夜间至２７日，贵州省黔东南、铜仁、遵义、黔南等地多处公路受凝冻灾害影响。贵州省２６日发生近百起道路交通安全事故，其中大多数为路面湿滑造成的追尾。在确保交通主干线不封闭的前提下，贵州境内多地多处公路因凝冻采取了临时交通管制。记者从广西南宁吴圩国际机场了解到，受外地大雪影响，截至２７日１１时，南宁机场当天累计超过３０个航班被取消，主要为南京、武汉、合肥等方向。其中，进港取消１６班，出港取消１５班。在湖北，气象部门２７日实时监测数据显示，全省有２０个县市积雪深度超过１０厘米。持续雨雪冰冻天气给交通运输带来不利影响。因冰雪造成跑道摩擦系数不达标，武汉天河机场暂时关闭，２７日计划航班共４３６架次，截至１５时，已取消进出港航班２２２架次，造成部分旅客滞留。此外，武汉三大火车站１００多趟列车停运，各大汽车客运站几乎全线停运，湖北省内３０多条高速公路部分路段入口封闭或限行。武汉城区公交运输也受到明显影响。城区４５５条运营线路中，５４条公交线路暂停运营，３１条改线。长江汽车轮渡也已停航。２７日安徽多地仍在降雪。此前因雨雪低温天气，为确保广大游客生命财产安全，黄山风景区自２６日起临时封闭。此外，安徽天柱山风景区、芜湖方特主题乐园等４０多家景区也相继发出公告，暂停对外开放。在未来几天，南方出门的人们仍需做好应对低温的准备。根据中央气象台的预报，１月２７日至２月３日，受频繁南下的冷空气影响，中东部地区自北向南气温还将有所下降，并继续维持偏低状态。气象专家提醒，雨雪天气，交通、铁路、电力、通信等部门应加强道路、铁路、线路巡查维护，做好道路清扫和积雪融化工作。驾驶人员应及时通过服务热线、广播、手机ＡＰＰ、ＬＥＤ情报板等方式了解气象灾害和路况等信息，提高出行效率和安全。</p></body></html>