<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1077</title>
</head>
<body>
<h1>
最高检不发“全国通缉令” 谨防假冒检察机关诈骗-新华网
</h1>
<p id="demo"> 2018-01-28 08:20:45</p><p>北京青年报记者27日从最高检了解到，近期有不法分子冒充检察机关工作人员、仿冒最高人民检察院网站实施“钓鱼式”电信网络诈骗。目前，相关部门接到报案后已正式立案并正在全力抓紧侦破案件。据介绍，一些不法分子通过互联网上泄露的用户个人信息，拨打受害者电话，通知其涉及某类型案件，需要到“最高检网站”或其他“检察机关网站”进行“案件清查”。在受害者看到仿冒网站上相关假的案件信息后，诈骗者即通过伪造虚假“刑事拘捕令”，以“保护账户资金安全”等为由进一步骗取受害人信息，或诱导其将存款转账至所谓“安全账户”实施诈骗。有的不法分子还一步步诱骗受害者进行电脑操作，在受害者电脑上安装木马恶意程序，实施电脑远程控制，盗取受害者电脑上的重要信息。为防止广大群众上当受骗，最高检声明并提醒：最高人民检察院官方网站不发布“执法追缉令”“全国通缉令”，不会有案件清查的相关内容。各级检察院不存在“电话办案”，没有“安全账户”，不会通过电话向任何人索要个人银行卡或账户信息。凡是要求上网查看“通缉令”、接收“逮捕令”、做“电话笔录”、要求“绝对保密”、进行“转账汇款”等情况均有严重诈骗嫌疑。最高人民检察院官方网站的域名为：http://www.spp.gov.cn，以其他域名显示的“最高人民检察院官方网站”均为假冒。请不要轻易打开任何电话、短信以及社交软件中所谓的“最高人民检察院网站”，尤其是以发送IP地址方式要求直接访问的网站。我国检察机关名称一般为“中华人民共和国最高人民检察院”“××省/市/区（县）人民检察院”等表述，不存在任何“中级”或“高级”字样，以及“中华人民共和国××市最高人民检察院”等表述。最高检有关部门负责人表示，广大群众如接到类似涉嫌诈骗的电话、邮件等，请务必提高警惕，可向当地检察机关、公安机关等询问核实，或直接拨打110电话报警。检察机关将加强与有关部门的协作配合，及时了解情况，通报案件线索，跟踪办案进程，形成惩治合力，坚决打击此类违法犯罪行为，切实维护人民群众合法权益。（记者 孟亚旭）</p></body></html>