<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1079</title>
</head>
<body>
<h1>
北京市检察机关：精准打击金融犯罪积极防控风险-新华网
</h1>
<p id="demo"> 2018-01-25 18:52:12</p><p>新华社北京1月25日电（记者熊琳）北京市人民检察院25日发布，2017年，全市检察机关共受理金融犯罪审查逮捕案件889件1342人，受理金融犯罪审查起诉案件820件1480人。针对2017年全市金融犯罪案件所呈现的特点，全市检察机关依托专业化建设对金融犯罪实施精准打击，积极防控金融风险。北京市人民检察院经济犯罪检察部检察官王拓介绍，2017年，全市检察机关受理金融犯罪案件涉及14个罪名，信用卡诈骗罪案件数量占全部金融犯罪案件的47.8％，非法吸收公众存款罪案件数量居第二，占全部金融犯罪案件的36.8％。非法吸收公众存款罪、集资诈骗罪、利用未公开信息交易罪及贷款诈骗罪案件数量上升，信用卡诈骗罪、妨害信用卡管理罪、保险诈骗罪案件数量下降。北京市人民检察院经济犯罪检察部主任姜淑珍表示，2017年，全市金融犯罪案件主要呈现以下特点：以“互联网金融”等新热点名义的犯罪增多、非法集资案件多发、传统信用卡诈骗案件数量呈下降趋势但依旧多发。此外，证券类案件类型呈集中态势，新类型金融案件开始出现，涉及多个金融领域。北京市人民检察院检察长敬大力表示，全市检察机关主动对标对表，加大专业化办案力度，参与金融风险防控治理。在全市三级检察机关建立金融案件专业化办案机构和办案组织，强化专业平台、专业工具、专业素质“三位一体”专业化建设，依法严厉打击各类金融犯罪。积极参与金融风险防控治理，提高预测预警预防能力，完善行刑衔接模式，向金融监管部门提出对策建议、建立长效协作机制，服务保障首都金融安全。</p></body></html>