<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1081</title>
</head>
<body>
<h1>
湖南郴州多名校长因违规征订教辅材料问题被追责-新华网
</h1>
<p id="demo"> 2018-01-25 18:23:43</p><p>新华社长沙１月２５日电（记者 陈文广）记者２５日从湖南省郴州市获悉，近日，郴州市通报了查处的９起违规征订教辅材料问题典型案例，多名校长被追责。据介绍，这９起典型案例分别是桂阳县荷叶镇中心学校原校长卢波钦违规订购教辅材料涉嫌受贿问题；桂阳县第二中学原校长吴清武违规订购教辅材料涉嫌受贿问题；宜章县玉溪镇学校违规收取教辅材料折扣款、专项整治中问题清查整改不彻底等问题；宜章县天塘镇学校违规收取教辅材料折扣款、专项整治中问题清查整改不彻底等问题；汝城县一完小违规征订教辅材料问题；桂东县沙田镇一完小违规征订教辅材料问题等。其中，邓耀明在任宜章县玉溪镇学校校长期间，玉溪镇学校在２０１４年至２０１６年违规收取教辅材料折扣款共计１４．８５０４万元，并未计入学校财务账目；玉溪镇学校在２０１７年中小学违规征订教辅材料问题专项整治自查自纠中，未按要求彻底清查到位，对此，邓耀明负有主要领导责任。２０１７年１２月，邓耀明受到党内警告处分。</p></body></html>