<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1087</title>
</head>
<body>
<h1>
“２０１７年我最喜欢的执行法官”评选结果出炉-新华网
</h1>
<p id="demo"> 2018-01-25 19:49:31</p><p>新华社北京１月２５日电（记者丁小溪）“２０１７年我最喜欢的执行法官”评选结果２５日出炉，１０名执行法官获此殊荣。最高人民法院执行局局长孟祥表示，此次评选有助于激励全国执行法官为基本解决执行难而继续努力，营造全社会理解执行、尊重执行、协助执行的良好氛围。此次评选活动由最高法和新华社共同举办。经网络投票、专家评审等环节，从全国法院推荐的３３名候选人中最终评出１０名优秀执行法官。他们分别是：上海市浦东新区人民法院执行局审判员陈文健、黑龙江省鸡西市鸡冠区人民法院执行局副局长刘成、四川省苍溪县人民法院执行局局长张素华、江苏省盱眙县人民法院执行局局长姚月梅、江西省赣州市赣县区人民法院执行二庭副庭长赖远明、湖南省岳阳市中级人民法院执行局副局长付胜芳、陕西省商洛市商州区人民法院执行局局长王健、云南省昆明市西山区人民法院执行一局局长李丽玲、北部战区军事法院执行处处长冯占文、河北省盐山县人民法院执行庭副庭长李立华。“基本解决执行难问题已取得实质性进展。人民法院建立了覆盖四级法院的执行案件流程管理系统，进一步完善了覆盖全国地域和主要财产形式、四级法院能够广泛应用的网络执行查控系统，执行效率大幅提升，查人找物、财产处置难题得到有效破解。”孟祥说。此外，最高法出台了２０多个涉及执行工作的司法解释和规范性文件，开展规范执行行为专项整治行动，确保执行行为依法规范，同时深入推进执行工作体制机制改革，确定１１个地区法院作为审执分离改革试点法院。数据显示，截至２０１７年１２月３１日，全国累计发布失信被执行人信息９５９．４万人次，限制购飞机票９３６．４万人次，限制购高铁动车票３６７万人次，１８４万人次慑于信用惩戒主动履行了义务，“一处失信、处处受限”的信用惩戒格局初步形成。</p></body></html>