<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1088</title>
</head>
<body>
<h1>
外交部：贸易保护主义的帽子无论如何也扣不到中国头上-新华网
</h1>
<p id="demo"> 2018-01-25 19:32:24</p><p>新华社北京1月25日电（记者闫子敏）外交部发言人华春莹25日在例行记者会上表示，贸易保护主义这顶帽子无论如何也扣不到中国的头上，中国将张开双臂欢迎各国搭乘中国发展的高速列车，也将坚定捍卫自身的合法权益。有记者问，据报道，美国政府官员近日称，中国在提倡自由贸易方面说得很好，在高度保护主义行为方面则做得更好。中方对此有何回应？华春莹表示，贸易保护主义这顶帽子无论如何也扣不到中国的头上。“当今世界，谁在推行保护主义，谁对国际规则合则用、不合则弃，谁片面强调本国利益优先并采取以邻为壑的政策，我想世界人民的眼睛是雪亮的。”她说。华春莹说，中国领导人多次郑重声明，中国开放的大门不会关上，只会越开越大。开着门，世界能够进入中国，中国也才能走向世界。“相信大家都已经注意到，去年年底，中国在大幅度放宽金融业市场准入等方面采取了实实在在的行动。”她说，这几天，中共中央政治局委员、中央财经领导小组办公室主任刘鹤出席达沃斯世界经济论坛2018年年会时，也向外界再次宣示中国将继续推动全面对外开放、大幅放开市场准入、坚定维护多边主义和多边贸易体制的决心。相信中国已经和即将推出的重大改革和开放的举措将为中国同包括美国在内的各国拓展经贸互利合作开辟更广阔的空间。“中国的发展是世界的机遇，谁能越早正视这个现实，谁就能越早从中国的高速发展中共享红利。我愿重申，中国将张开双臂欢迎各国搭乘中国发展的高速列车，当然，我们也将坚定捍卫自身的合法权益。”华春莹说。相关链接：新华国际时评：贸易保护难保美国利益</p></body></html>