<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>109</title>
</head>
<body>
<h1>
国务院安委办就辽宁本溪“6·5”重大炸药爆炸事故约谈辽宁省政府-新华网
</h1>
<p id="demo"> 2018-06-14 21:26:38</p><p>新华社北京6月14日电（记者叶昊鸣）记者14日从应急管理部了解到，根据《国务院安委会安全生产约谈实施办法（试行）》，国务院安全生产委员会办公室当日对辽宁省人民政府和本溪市人民政府进行安全生产约谈。6月5日，辽宁省本溪市龙新矿业公司思山岭铁矿措施井井口发生炸药爆炸事故，造成12人死亡、2人失踪，10人受伤。自今年以来，辽宁省已发生2起重大事故，死亡和失踪24人，起数和死亡人数占全国1/3，均排全国第一；发生较大事故11起、死亡50人。近5年来，辽宁省每年1起煤矿或非煤矿山重大事故。应急管理部有关负责人指出，“6·5”事故给人民群众生命财产安全造成重大损失，且发生在上合组织青岛峰会前夕和全国“安全生产月”期间，社会广泛关注，影响十分恶劣。这位负责人要求，“6·5”事故发生后，辽宁省各级党委政府和相关部门要深刻汲取事故血的教训，坚决遏制重特大事故频发势头。这位负责人指出，虽然“6·5”事故的具体原因还有待调查确定，但从目前掌握的情况看，是因违反《爆破安全规程》混装炸药和雷管导致爆炸。国务院安委会已经对“6·5”事故查处进行挂牌督办，要求辽宁省抓紧进行事故调查，事故调查要在60日内完成，报国务院安委会办公室审核同意后，由辽宁省负责批复结案，并向社会公布。约谈指出，辽宁省要以此次约谈为契机，强化岗前培训、标准作业，细化行业监管责任，加强公众科普知识宣传尤其是民爆物品安全知识；要立即组织开展民用爆炸物品、基建矿山和工程承包单位专项执法检查，依法严肃查处以包代管、违规作业和挂靠资质等违法违规行为；要认真贯彻落实《地方党政领导干部安全生产责任制规定》，督促各级党政主要负责人、政府分管负责人和其他相关负责同志严格落实安全生产职责；要扎实推进矿山整顿关闭、防范遏制重特大事故等重点工作；要盯住高风险企业、高风险工艺、高风险设备设施，落实管控措施、强化隐患排查治理。</p></body></html>