<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1090</title>
</head>
<body>
<h1>
七部门发文促核准对外投资资金真实去向 引导“走出去”健康发展-新华网
</h1>
<p id="demo"> 2018-01-25 19:40:32</p><p>新华社北京1月25日电（记者于佳欣）商务部、人民银行等部门25日联合发布《对外投资备案（核准）报告暂行办法》，通过实行最终目的地管理原则、凡备案（核准）必报告原则等，将利于掌握对外投资资金真实去向，并为对外投资企业提供精准服务和保障。办法的一大亮点是明确对外投资备案（核准）实行最终目的地管理原则，即对外投资备案或核准的对象是最终目的地企业。这类企业是指境内投资主体投资最终用于项目建设或持续生产经营的所在地，对于境内投资主体投资到最终目的地企业的路径上设立的所有空壳公司，管理部门均不予备案或核准。商务部合作司商务参赞韩勇表示，这种“穿透式”管理有利于掌握对外投资资金真实去向，同时也有利于政府部门为对外投资企业提供精准服务和保障。但要注意的是，这种管理不是无限穿透，最终目的地企业再开展的投资活动不属于现行对外投资管理范畴，无需办理对外投资备案或核准手续。此外，办法还明确“凡备案（核准）必报告”的原则，即境内投资主体完成对外投资备案（核准）手续后，均应按相关规定，向相应的主管部门定期报送对外投资关键环节信息。办法规定，主管部门将重点对六方面对外投资情形进行督查，包括中方投资额等值3亿美元（含3亿美元）以上的对外投资，敏感国别（地区）、敏感行业的对外投资，出现重大经营亏损的对外投资，出现重大安全事故及群体性事件的对外投资，存在严重违规行为的对外投资等。此外，办法还建立了“管理分级分类、信息统一归口、违规联合惩戒”的对外投资管理模式，明确了对外投资备案（核准）按照“鼓励发展+负面清单”进行管理，并且规定了重点督察和“双随机、一公开”抽查工作相结合的事中事后监管方式等。相关链接：２０１７年我国对外投资规模达１２００亿美元 </p></body></html>