<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1092</title>
</head>
<body>
<h1>
外交部：习近平主席达沃斯演讲展现巨大感召力和影响力-新华网
</h1>
<p id="demo"> 2018-01-25 20:26:18</p><p>新华社北京1月25日电（记者 闫子敏）外交部发言人华春莹25日表示，今年世界经济论坛年会期间，许多嘉宾和媒体积极评价习近平主席在去年年会上的主旨演讲，这充分展现出习主席演讲的巨大感召力和影响力，以及中国理念、中国主张、中国方案对当今世界的重要引领作用。在当日例行记者会上，有记者问：中共中央政治局委员、中央财经领导小组办公室主任刘鹤24日在世界经济论坛年会上发表致辞，重申了习近平主席去年达沃斯演讲中关于推动经济全球化再平衡、推动人类命运共同体等重要主张。舆论纷纷评论称，时隔一年，习主席的演讲对解决当前世界重大问题仍具有重要意义。请问中方对此如何评价？华春莹说，去年1月，习近平主席出席世界经济论坛年会，并在开幕式上发表题为《共担时代责任共促全球发展》的主旨演讲。习主席深入剖析了世界经济面临的突出矛盾，提出了推动经济全球化再平衡的重大倡议，强调要打造富有活力的增长模式、开放共赢的合作模式、公正合理的治理模式、平衡普惠的发展模式。在国际社会面临迷茫之际，习主席的讲话指明了方向，稳定了人心，提振了信心，展现了中国应势而为、勇于担当的大国引领作用。一年来，习主席演讲多次被各国领导人和国际组织负责人提及引用，产生了广泛而深远的国际影响。华春莹说，世界经济论坛年会今年的主题是“在分化的世界中打造共同命运”，这同习主席在去年演讲中提出的构建人类命运共同体、促进经济全球化再平衡等重大主张高度契合。论坛主席施瓦布24日在会上指出，习主席在达沃斯的演讲是“中国与世界关系的重要转折点”。“我们也了解到，年会期间许多参会嘉宾和媒体都还在讨论习主席的演讲，并积极评价演讲的重要意义。这充分展现出习主席演讲的巨大感召力和影响力，以及中国理念、中国主张、中国方案对当今世界的重要引领作用。”华春莹说。她说，中共中央政治局委员、中央财经领导小组办公室主任刘鹤在24日的致辞中，再次重申了习主席的重要主张，介绍中国一年来在支持经济全球化、扩大对外开放方面的重大进展，强调中国始终是世界和平的建设者、全球发展的贡献者、国际秩序的维护者，展现出中国推动构建人类命运共同体的坚定决心。“我们欢迎各方同中方一道，秉持共商共建共享精神，为建设开放型世界经济、促进人类共同发展进步作出积极贡献。”华春莹说。</p></body></html>