<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1093</title>
</head>
<body>
<h1>
八部门发文：金融服务海洋经济发展-新华网
</h1>
<p id="demo"> 2018-01-25 20:29:42</p><p>新华社北京1月25日电（龚家琦、刘铮）中国人民银行25日宣布，人民银行、海洋局等八部门联合出台了《关于改进和加强海洋经济发展金融服务的指导意见》，围绕推动海洋经济高质量发展，明确了银行、证券、保险、多元化融资等领域的支持重点和方向。银行信贷方面，指导意见提出，鼓励有条件的银行业金融机构设立海洋经济金融服务事业部、金融服务中心或特色专营机构；加大涉海抵质押贷款业务创新推广；鼓励银行业金融机构优化信贷投向和结构，支持海洋经济一、二、三产业重点领域加快发展；明确加强涉海企业环境和社会风险审查。股权、债券方面，指导意见明确，引导涉海企业积极通过多层次资本市场获得融资支持。保险方面，强调规范发展各类互助保险，探索巨灾保险和再保险机制，加快发展航运险、滨海旅游险、环境责任险等。多元化融资方面，指导意见支持符合条件的金融机构和企业发起设立金融租赁公司；推动航运金融发展，加快政府和社会资本合作（PPP）、投贷联动等模式在海洋领域的规范推广。</p></body></html>