<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>111</title>
</head>
<body>
<h1>
新华时评：乘势而上 巩固经济稳中向好态势-新华网
</h1>
<p id="demo"> 2018-06-14 21:31:02</p><p>新华社北京6月14日电 题：乘势而上 巩固经济稳中向好态势新华社记者韩洁5月是观察全年经济走势的重要窗口。国家统计局14日发布的5月份主要国民经济数据显示，我国经济总体平稳、稳中向好的发展态势不断巩固，更加坚定了我们乘势而上，实现全年既定经济增长目标的信心。数据是观察经济运行的“晴雨表”。规模以上工业增加值增长6.8%，服务业生产指数上涨8.1%，全国城镇调查失业率4.8%……最新数据表明，面对复杂的内外部环境，我国经济仍“稳”字当头，就业持续向好，供求结构和效益不断改善，韧性增强。同时，“好”的因素继续积累，经济更具“后劲”。如，5月份升级类消费保持快速增长，高技术产业和装备制造业增加值同比分别增长12.3%和9.4%，新业态蓬勃发展。各方面对中国市场信心的增强也印证了稳中向好局面。前5个月，民间投资占全部投资比重达到六成，增速持续高于全部投资；教育、医疗、文化等社会领域投资增速比第三产业高9.6个百分点……自2016年第四季度以来的经济平稳增长曲线更加清晰，固然与世界经济回暖有关，更在于党中央对各项改革发展的正确部署。今年是推进供给侧结构性改革的第三年，一系列简政、减税、降费、提效政策反映在工业企业层面，综合成本下降带动制造业增速回升。前5个月，工业增速整体平稳，制造业投资增长5.2%；固定资产投资增速略有回落，服务业生产指数保持快速增长。升降之间，折射经济内生质变。乘势而上，风劲扬帆正当时。当前，我国经济呈现稳中向好态势，但制约经济持续向好的结构性、深层次问题仍然突出，“三大攻坚战”还有不少难题需要攻克；世界政治经济形势错综复杂，美联储再度加息、国际贸易摩擦有所加剧带来的影响仍有待观察。还需增强忧患意识、坚持问题导向，着力解决突出矛盾和问题。田家少闲月，五月人倍忙。下一步关键要按照经济高质量发展要求，坚持创新驱动，加快新旧动能转换，着力防范风险，落实好精准脱贫和环境治理等重点任务。还要顺应国内消费升级大势，重点做好内需文章，确保顺利实现全年经济社会发展目标。</p></body></html>