<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>112</title>
</head>
<body>
<h1>
环保督察“回头看”：河北一些地方河道多垃圾 河长制“形同虚设”-新华网
</h1>
<p id="demo"> 2018-06-14 17:59:14</p><p> 大沙河石家庄新乐段生活垃圾和工业废渣（图片来源：生态环境部网站）新华社北京6月14日电（记者董峻）中央环保督察“回头看”14日继续曝光各地督察整改中的问题。督察发现，河北省石家庄市、定州市大沙河河段堆放大量垃圾，河长制有关要求基本没有落实。通报指出，中央第一环保督察组于6月12日赴大沙河石家庄市新乐段、大沙河定州段进行现场检查。检查发现，在大沙河定州段的河堤上堆满了生活垃圾、工业废渣、边角料、医疗废物等多种固体废物，形成了一个长约3公里的“垃圾带”。从宽度上看，垃圾一直从河堤延伸至河床上，斜坡高度达到10米左右。督察人员还发现，污水沿河堤流入河道，在河道内积累成黑色、绿色的污水坑。整个河段充斥着工业废料的刺激性气味和生活垃圾的恶臭味。此外，在大沙河石家庄市新乐段，督察人员也发现河道沙坑中堆存大量固体废物，大多为废弃边角料、生活垃圾、工业废渣等。河北省是第一轮中央环保督察试点省份。2016年5月，督察组向河北省反馈督察意见时明确指出，部分河流水库水质恶化明显等问题。对此，河北省督察整改方案中提出全面推行流域治理河长制。河北省全面建立河长制工作考核验收评分细则明确要求，市、县、乡要制定巡查方案，巡查河道，并及时处理巡查发现的问题。督察人员分析认为，当地河长制考核不严。如评分细则要求如果存在县乡级未巡查河道等情况要扣分。但大沙河石家庄市新乐段等在存在诸多问题的情况下，仍然能在“河道巡查情况”中得到满分。同时，大沙河定州段的固体废物绝非短期内形成的，迟迟得不到解决，也是地方对中央环保督察整改不力造成的。针对上述问题，督察组有关负责人表示，将进一步深入调查，分析原因，做到见事见人见责任，对河长制形同虚设问题将依法严肃处理。</p></body></html>