<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>113</title>
</head>
<body>
<h1>
新华时评：营造公平公正的法治环境-新华网
</h1>
<p id="demo"> 2018-06-14 22:03:44</p><p>新华社深圳6月14日电 题：营造公平公正的法治环境新华社记者罗沙、毛一竹13日至14日，最高人民法院第一巡回法庭公开开庭审理顾雏军案。历时2天的庭审，交锋激烈而又井然有序。这起社会高度关注的涉产权旧案再审，释放出依法保护产权的强烈信号，也是我国以审判为中心的诉讼制度改革的一次生动实践。作为一起10多年前的复杂案件，顾雏军案的再审无疑面临许多挑战。孰是孰非、真相几何，需要法官兼听则明、居中裁判，认真听取各方意见，以事实为依据、以法律为准绳，作出公平公正的判决。没有程序的正义，就没有实体的正义。在历时2天的庭审中，检辩双方在法庭的组织下对原判存在争议的证据以及新证据进行质证，对本案的事实、证据和法律适用等问题充分发表了意见。多名证人和有专门知识的人到庭作证、提出意见，不仅有利于法庭查明事实，也是我国司法机关推进庭审实质化的一个标志。在法庭旁听的记者注意到，检辩双方在庭审中围绕多个争议焦点展开激烈争论，庭审现场不乏火药味。而主审法官始终不偏不倚，既对情绪激动的顾雏军等原审被告人进行提示和训诫，也对参加诉讼的检察员存在的问题作出提示，保证了庭审始终有序进行。整个庭审过程，原审被告人的各项诉讼权利得到了保障。值得一提的是，法院对这起复杂案件的再审没有回避和遮遮掩掩。开庭前数日，最高法就公布了再审开庭时间。13日至14日庭审期间，最高法通过官方微博等渠道进行了全程图文直播，将庭审信息、案件细节详尽呈现在人民群众面前。公开透明的庭审，将让公平正义以看得见的方式实现。信仰法治，期待真相。从张文中案改判到顾雏军案再审，产权保护的日益健全、诉讼制度的稳步完善，必将营造更加公平公正的法治环境，激励企业家放开手脚创新创业，让经济社会健康发展。</p></body></html>