<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1131</title>
</head>
<body>
<h1>
报告显示：近三成在校大学生创业意愿强-新华网
</h1>
<p id="demo"> 2018-01-07 07:51:46</p><p>人民大学发布《2017中国大学生创业报告》近三成在校大学生创业意愿强 昨天，中国人民大学举办《2017中国大学生创业报告》（以下简称《创业报告》）发布会暨高校创新创业教育院长论坛。《创业报告》指出，中国大学生的创业意愿持续高涨，26%的在校大学生有强烈或较强的创业意愿，相比去年又有明显提升。根据《创业报告》的调查统计，26%的在校大学生有强烈或较强的创业意愿，与2016年相比，上升了8个百分点，其中有3.8%的学生表示一定要创业。人民大学商学院院长、创业学院副院长毛基业介绍，除此意愿增强外， 大学生创业还呈现出低龄化趋势，很多大学生从本科之前就对创业产生兴趣，七成大学生创业者在本科期间开始创业。该报告由中国人民大学牵头，上海交通大学、浙江大学、厦门大学、武汉大学、中山大学等30余家高校、企业和社会组织联合发布，调查范围覆盖全国52所高校。与2016年相比，餐饮、农业、信息技术等行业仍是大学生创业的主要领域。其中，有71名创业者选择在住宿餐饮行业进行创业，62名创业者在消费电商领域创业。调查还发现，创业正呈现低龄化趋势，很多大学生从本科之前就对创业产生兴趣，七成创业者在本科期间开始创业。大学生普遍认同创造力(24.5%)、风险承担(16.5%)和警觉性(13%)是创业者极为重要的素质。毛基业指出，深化创新创业教育改革正在深度融入高校人才培养体系，成为高等教育综合改革的突破口。同时，虽然中国高校创业生态系统建设已经取得巨大成绩，但也存在不平衡和不充分的发展状况。《创业报告》显示，超过50%的受访者认为资金短缺是创业最大障碍。报告认为，未来有必要进一步强化高校创业生态系统环境要素的培育和发展，特别是发展大学生创业融资体系，缓解大学生创业的资金瓶颈约束。大学生最希望高校提供的创业扶持政策包括：“创业算学分”，占比24%；“实验设备向学生开放”，占比17%；“学校科研成果优先向创业学生转让”，占比16%。而高校提供的主要扶持政策为“休学创业”、“实验设备向学生开放”以及“创业算学分”。（记者 刘旭）</p></body></html>