<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1136</title>
</head>
<body>
<h1>
降雪范围减小 中央气象台解除暴雪蓝色预警-新华网
</h1>
<p id="demo"> 2018-01-07 07:52:09</p><p>据中央气象台网站消息，中央气象台1月7日06时解除暴雪蓝色预警：由于降雪范围减小，强度减弱，因此解除暴雪蓝色预警。但1月7日08时至8日08时，黄淮东部、江汉、江淮、江南北部、东北地区东部、甘肃、青藏高原东南部等地仍有小到中雪或雨夹雪，湖南中北部、贵州北部、江西西北部等地的部分地区有冻雨。1月6日晚，内蒙古呼和浩特市迎来2018年首场降雪，路面湿滑，民众出行受到一定影响。中新社记者 刘文华 摄防御指南：1.政府及相关部门按照职责做好防雪灾和防冻害的应急工作；2.交通、铁路、电力、通信等部门应当加强道路、铁路、线路巡查维护，做好道路清扫和积雪融化工作；3.减少不必要的户外活动；4.加固棚架等易被雪压的临时搭建物，将户外牲畜赶入棚圈喂养。</p></body></html>