<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1143</title>
</head>
<body>
<h1>
医生拄着拐杖做手术：病人多医生少，能做就做-新华网
</h1>
<p id="demo"> 2018-01-20 08:06:19</p><p>李郁明在护士搀扶下走向手术室。“铁拐李”医生火了打着石膏拄着拐杖做手术 他说：“病人多医生少，能做就做吧”这几天，在社交网络上，来自暨南大学附属顺德医院(原“顺德区第二人民医院”)耳鼻咽喉头颈外科副主任李郁明一下子“火了”，关于李郁明医生左脚打着石膏做手术、拄着拐杖走入手术室的两张照片引发广泛关注。记者看到，在李医生上手术台的照片里，李医生左脚打着石膏，用一张绿色的矮板凳垫着脚、支撑着身体，并坐在一旁的椅子上为患者做手术，眼神还一丝不苟地盯着仪器屏幕。另外一张背影照片更让不少网友看了心疼，李医生在准备进入手术室前，还得让护士搀着走……照片记录的只是一瞬间，而李医生所做的这场手术却要一个多小时。日前，记者联系上了该院的李郁明医生。李医生告诉记者，前几天，自己因为打篮球时不慎扭伤了脚踝导致骨裂，骨科医生帮他打了石膏固定，并建议他好好疗伤一个月。“但是，有个病人已经预约了很久，希望能通过鼻内镜手术，尽快治疗好他的鼻窦炎并解决他头疼的根源，看到病人都等了这么久，所以就决定还是上手术台吧。”李郁明说，再过一阵就是春节了，也希望病人能治好病，过一个好年。李郁明说，当时自己左脚打着石膏，需要支撑住身体才能进行手术。“其实还是有点辛苦，如果打石膏的是右脚，肯定就无法支撑身体了。”李郁明表示，好在鼻科手术不太需要医生长时间站着做手术。不过，实际上李医生在长达一小多小时的手术中也需要时不时站起来操作。对于自己一下子被这么多人关注一事，李郁明告诉记者说，其实这是医生最平常的举动。“真的没有什么，只要是力所能及做的事，医生都会去做的。”李郁明医生“带伤上阵”的背后，是医院患者多、医生资源紧缺。李郁明告诉记者，自己一周至少要上手术台十八次，平均一天都有3台左右。“其他医生都很繁忙，很多同事都很难休假，日常夜班也不少。”李郁明觉得，在这样的情况下，自己休个长假，就有点“说不过去”。就在昨天，李郁明又被安排了两台手术。“能做就做吧。”李郁明说。广东正能量李郁明2015年5月被引进到暨南大学附属顺德医院耳鼻咽喉头颈外科工作，担任科室副主任、副主任医师。工作多年以来仁医仁心，还出色完成各项医教研工作。(记者 黄子宁)</p></body></html>