<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>115</title>
</head>
<body>
<h1>
武汉长江大桥铁路桥面进行更换钢轨大型施工-新华网
</h1>
<p id="demo"> 2018-06-14 22:03:58</p><p>新华社武汉６月１４日电（记者王贤）武汉长江大桥１３日至１５日进行铁路桥面更换钢轨大型施工作业。中国铁路武汉局集团有限公司所属的武汉工务大修段、武汉电务段、武汉桥工段等单位，利用中午两小时的列车运行间隙，更换长江大桥铁路桥面下行１．２公里区段钢轨。武汉长江大桥是“万里长江第一桥”，是全国重点文物保护单位。大桥建成通车６０多年来，抵御多次较大洪水和轮船碰撞，被誉为“桥坚强”。目前，大桥每天通行１０万多辆汽车、３００余列火车，是重要的城市过江通道和沟通南北铁路的大动脉。武汉铁路部门相关负责人称，此次施工作业主要涉及钢轨更换、封口焊轨、现场探伤、信号设备检修等作业项目。工务、电务等部门还将对换轨区段的轨距、水平等几何尺寸和信号设备技术指标进行调试检查，确保施工后线路达到通车条件。武汉长江大桥待换区段的钢轨为２０１０年铺设的长钢轨，达到使用年限和更换周期。此次更换的３００米长钢轨为Ｐ６０型长钢轨，采取无缝焊接技术，减少了钢轨接头间的撞击，列车行驶更平稳，旅客乘车更舒适。据介绍，为保证施工安全，铁路部门通过现场摄像探头传输的实时画面，监控施工中的重点环节、关键部位以及通车后的列车和大桥状况。武汉铁路公安处民警强化施工现场的治安秩序维护，加大治安防范力度；并会同武警官兵强化长江大桥的巡查，对线路上的３５个消防栓、１９个消防桶、２１个消防箱进行全面检查。</p></body></html>