<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1153</title>
</head>
<body>
<h1>
公益诉讼进行时|浙江海宁：检察建议促收缴近百万排污费-新华网
</h1>
<p id="demo"> 2018-01-07 09:57:29</p><p>本报讯（记者范跃红</p><p>通讯员黄爱丽）“何主任，自从你们发了那个检察建议后，现在企业缴纳费用比以前快多了。”日前，浙江省海宁市检察院民事行政和控告申诉检察部主任何萌与该市环保局老朱闲聊时听到这句话，不禁露出了欣慰的笑容。</p><p></p><p>2017年7月检察机关提起公益诉讼工作全面推开后，海宁市检察院变“等案上门”为“主动出击”，将公益诉讼作为“一把手”工程，检察长靠前指挥，积极摸排公益诉讼案件线索。同月中旬，该院检察长李斌在列席该市人大常委会会议时，偶然听到该市审计局的工作报告中提到“部分单位非税收入征收管理不够到位，其中之一就是建筑企业超标噪声排污费征收率不高”。凭借多年的工作经验，李斌敏锐地意识到这个涉及国有财产的问题属于民行监督的范围，可以此为线索开展监督。于是，他第一时间将线索转给该院民行检察部门。</p><p></p><p>接到这一线索后，民行检察部门迅速开展审查工作，将200多条已缴费信息和341个开单情况一一核对，整理出76个应缴未缴的建筑项目，涉及金额总计94万余元。根据相关法律规定，环保部门在开单后相关建筑企业应在7日内缴纳完毕或者提交缓缴申请。超标排污费未及时缴纳损害了国家利益。证据确实充分后，该院于2017年9月向该市环保局发出了检察建议，并附上76个应缴未缴的建筑项目清单。海宁市环保局收到检察建议后，调查发现这76个项目在7日内没有缴纳排污费，也没有提交缓缴申请，属于比较严重的违法情形，于一周内对相关公司超标排污费依法进行催缴。不久，海宁市检察院收到了环保局的回复函，94万余元超标排污费已收缴到位。</p><p></p></body></html>