<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>116</title>
</head>
<body>
<h1>
我国新增发电装机规模创新高-新华网
</h1>
<p id="demo"> 2018-06-14 22:04:06</p><p>新华社北京6月14日电（记者 姜琳）中国电力企业联合会14日发布的数据显示，截至2017年末，我国发电装机容量17.77亿千瓦，较上年增长1.31亿千瓦，新增装机规模创多年新高；全国人均装机规模达到1.28千瓦，超过世界平均水平。据中电联行业发展与环境资源部副主任薛静分析，新增非化石能源发电装机占全部发电装机增量的68.9%，同比提高3.6个百分点，显示了电力结构进一步优化。其中，光伏发电是增量的主要贡献者。在光伏扶贫、“领跑者”计划和光伏发电上网电价调整等利好政策推动下，去年太阳能发电装机容量同比大幅提升，新增规模高达5341万千瓦。业内人士表示，光伏发电是绿色清洁能源，但当前弃风弃光问题依然突出；飞速增长的分布式光伏装机，也给东部一些地区电网安全带来较大影响。在规范发展的同时，也有必要遏制光伏行业过热投资和非理性扩张。数据显示，2017年，全国弃风弃光现象明显改善。其中，弃光电量73亿千瓦时，弃光率6%，同比下降4.3个百分点。今年一季度，弃光率为４％，但是并不稳定。“发展协调性不够、系统灵活性不足导致调峰困难，输电通道建设不匹配导致大范围消纳受限，新能源自身存在技术约束，以及市场机制不完善等问题并未得到根本解决，未来大规模新能源发电并网消纳的压力和挑战会越来越大。”薛静表示。近日，国家发展改革委等三部门联合印发通知给行业“降温”，要求优化光伏发电新增建设规模，加快光伏发电补贴退坡、降低补贴强度，并将新投运光伏电站标杆上网电价每千瓦时降低0.05元。在一些业内人士看来，今年1至5月份，光伏行业效益就不太好，预计今年全年市场情况都不会太乐观。</p></body></html>