<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1162</title>
</head>
<body>
<h1>
第３５届全日本中文演讲大赛在东京举行-新华网
</h1>
<p id="demo"> 2018-01-07 22:03:57</p><p>新华社东京１月７日电（记者邓敏）由日中友好协会举办的第３５届全日本中文演讲大赛７日在东京举行，日本各地中文演讲比赛的３０余名优胜选手参加了比赛。比赛分为高中、大学、社会人士以及朗诵四个组。中国驻日本大使程永华的夫人汪婉参赞为高中组优胜者、东洋大学附属牛久高中高三学生田中美咲颁发了“中国大使奖”。神户市外国语大学的山本果步获得大学组第一名；来自东京的选手太田奈绪未获得了社会人士组第一名；朗诵组第一名由牛久高中高三学生山田简妮菲梓帆获得。各组的获奖选手获得了由主办方颁发的奖状。全日空航空公司向各组的第一名提供了前往中国的机票。本届比赛评委、东洋大学经济学部教授续三义在接受新华社记者采访时表示，本次参赛选手的汉语水平很高，难分高低。在演讲内容方面，突破了过去仅限于旅行、学习、见闻等方面的内容，开始涉及哲学、人生、反战等领域。全日本中文演讲大赛始于１９８３年。今年的大赛得到了中国教育部、中国驻日使馆等大力支持。日本外务省、文部科学省以及日本广播协会等日方单位也给予了支持。</p></body></html>