<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1163</title>
</head>
<body>
<h1>
法律界人士共话律师法修改 律师业迎来发展新契机-新华网
</h1>
<p id="demo"> 2018-01-07 21:14:22</p><p>新华社深圳１月７日电（记者 白阳）今年１月１日起，十二届全国人大常委会第二十九次会议关于修改律师法的决定正式施行。司法部部长张军７日说，要以律师法修改为契机，贯彻落实中央关于律师制度改革的决策部署，完善律师执业权利保障，规范律师执业行为，推动律师制度创新发展。张军是在此间开幕的第十届中国律师论坛上作出上述表示的。由中华全国律师协会主办的中国律师论坛是国内参与人数最多、影响力最大的全国性律师交流活动。当日，近９００名来自法学理论界和司法实务界的人士齐聚深圳，围绕“律师法修改与深化律师制度改革”的主题展开研讨。多位与会嘉宾指出，近年来司法体制改革的深入开展，给中国律师业带来发展新机遇；律师法作为中国律师制度的基本法，要及时体现改革中的新思路、新成果，更好地适应新形势下中国律师事业的发展要求。辽宁安行律师事务所律师王守贵表示，律师法诞生２２年来已经过４次修改，为律师群体稳定发展提供了有力支撑，促进了社会民主法治的建设进程。新一轮律师法的修改是在深化司法体制改革的重大背景下发生的，律师群体对此高度关注。浙江海通联合律师事务所律师贺宝健认为，随着社会法治程度的加深，律师业务范围也越来越广，但现行律师法只列举了律师可以从事的七种业务范围，不能满足现实需要。建议律师法对此明确，只要法律不禁止，律师就可以按照市场需求提供相应的法律服务。海南省律师协会秘书长苏文说，律师协会作为律师行业自治组织，对促进律师群体的规范发展有着重要影响。但是，当前各级各地律师协会性质不一，有的是事业单位，有的是社团组织，不利于律协职能的行使。建议律师法进一步明确律协的行政主体地位，促进律师行业规范管理。江西科技师范大学法学院法律系主任龚家林则建议律师法细化律师权利救济的相关规定。“律师法授予律师调查权，但缺乏对律师调查权的救济渠道和受理投诉机关的规定，使得这项权利难以得到有效保障。建议法律明确对妨碍律师正常行使调查权的行为的追责途径，完善律师执业保障机制。”他说。</p></body></html>