<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1164</title>
</head>
<body>
<h1>
两办出台意见促进城市安全发展体系建设-新华网
</h1>
<p id="demo"> 2018-01-07 20:23:54</p><p>新华社北京１月７日电（记者叶昊鸣）中共中央办公厅、国务院办公厅近日印发《关于推进城市安全发展的意见》，要求促进建立以安全生产为基础的综合性、全方位、系统化的城市安全发展体系，全面提高城市安全保障水平。据国家安全生产监督管理总局有关负责人介绍，根据意见，到２０２０年，将建成一批与全面建成小康社会目标相适应的安全发展示范城市；到２０３５年，将建成与基本实现社会主义现代化相适应的安全发展城市；持续推进形成系统性、现代化的城市安全保障体系，加快建成以中心城区为基础，带动周边、辐射县乡、惠及民生的安全发展型城市。这位负责人表示，要严密细致制定城市经济社会发展总体规划及城市规划、城市综合防灾减灾规划等专项规划，居民生活区、商业区、经济技术开发区、工业园区、港区以及其他功能区的空间布局要以安全为前提；加强城市棚户区、城中村和危房改造过程中的安全监督管理，严格治理城市建成区违法建设；完善高危行业企业退城入园、搬迁改造和退出转产扶持奖励政策。这位负责人指出，要建立城市安全风险信息管理平台，建立大客流监测预警和应急管控处置机制；加强广告牌、灯箱和楼房外墙附着物管理，严防倒塌和坠落事故；加强老旧城区火灾隐患排查，推行高层建筑消防安全经理人或楼长制度，建立自我管理机制。这位负责人要求，要全面落实城市各级党委和政府对本地区安全生产工作的领导责任、党政主要负责人第一责任人的责任，加强负有安全生产监督管理职责部门之间的工作衔接；充分运用移动执法终端、电子案卷等手段提高执法效能，完善执法人员岗位责任制和考核机制。这位负责人强调，要将生产经营过程中极易导致生产安全事故的违法行为纳入安全生产领域严重失信联合惩戒“黑名单”管理，完善城市社区安全网格化工作体系；同时国务院安全生产委员会将负责制定安全发展示范城市评价与管理办法，拟定命名或撤销命名“国家安全发展示范城市”名单。      中共中央办公厅 国务院办公厅印发《关于推进城市安全发展的意见》</p></body></html>