<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1165</title>
</head>
<body>
<h1>
广东警方摧毁多个APP诈骗团伙 冻结涉案金额1亿余元-新华网
</h1>
<p id="demo"> 2018-01-07 19:57:12</p><p>新华社广州１月７日电（记者詹奕嘉、叶前）据广东省公安厅７日下午通报，在公安部协调指挥下，该厅近日组织珠海、汕头、东莞等１１个地市公安机关在全国１３个省区市同步开展“安网２０号”打击手机ＡＰＰ新型网络诈骗专案收网行动，打掉涉案公司２１家，抓获犯罪嫌疑人６００余人，冻结涉案金额１亿余元，缴获服务器４００余台，扣押电脑、手机、账本等涉案物品一批。２０１７年８月，广东省公安厅网警总队在工作中发现，多款在手机应用市场流通的热门ＡＰＰ涉嫌利用虚假信息或播放疑似色情视频实施诈骗，广东省公安厅随后成立专案组开展侦查。专案组经侦查发现，“某城求偶”“某派交友”“某会么”“某约爱”“某城密撩”“某缘”等多款交友ＡＰＰ以交友、求偶为幌子，利用隐晦的宣传用语吸引男性用户安装注册，之后以引诱用户充值会员可享有“特权”的手法实施诈骗。“某咻影院”“某动影院”“某涩快播”“某乐影院”等疑似色情ＡＰＰ以播放色情视频为诱饵，吸引用户下载安装，进而引诱用户充值不断升级会员等级观看更多影片的手法实施诈骗。相关网络诈骗团伙均为公司化运作，分布在北京、杭州、长沙、武汉及广东省内广州、深圳等地，公司规模都在数十人以上，有的甚至超过数百人，公司每月资金流水为数十万元至数千万元不等，涉案总金额超过１０亿元。２０１７年１２月上中旬，在公安部协调下，专案组组织警力在北京、辽宁、陕西、河南、山东、江苏、浙江、湖南、湖北、江西、福建、广东、广西等１３个省区市同步开展收网行动，一举打掉上述团伙。“此次行动是近年来广东公安机关打击手机ＡＰＰ新型网络诈骗规模最大、成果最显著的收网行动。”广东省公安厅网警总队相关负责人表示，公安机关将深入推进“安网”专项行动，把“破大案、挖源头、摧网络、斩链条”作为主攻方向，继续净化网络空间。</p></body></html>