<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1169</title>
</head>
<body>
<h1>
我国天然橡胶合成技术取得新进展-新华网
</h1>
<p id="demo"> 2018-01-05 23:32:34</p><p>新华社海口1月5日电（记者郑扬子、罗江）记者从中国石油和化学工业联合会获悉，国内首创的万吨级纳米粘土天然橡胶（NCR）产业化项目已于5日通过关键技术鉴定，鉴定专家认为该项目的关键技术居国际领先水平，具有广阔应用前景。据了解，纳米粘土天然橡胶技术是将粘土的纳米片层引入天然橡胶中，使橡胶产品有更高的耐切割、耐拉伸、耐裂纹增长性能。该技术解决了粘土胶含水率高、不易脱水的难题，并实现了万吨级生产。应用报告表明，使用新技术的橡胶轮胎，其产品寿命较普通轮胎提高了20%以上。“该项目历时3年，由海胶集团和北京化工大学共同完成合作开发，其研发成果在国内具有突破性的意义，填补了国内在此技术领域的空白，极大地提升了我们在天然橡胶行业内的影响力。”海南天然橡胶产业集团董事长王任飞说。“我国虽然是橡胶大国，在橡胶技术上仍处于追赶西方国家的位置。该项技术形成了从上游到下游的完整产业链，使国产橡胶质量达到了更高水平，丰富了我国的自主知识产权，具有重要战略意义。”中国石油和化学工业联合会科技成果管理处处长姜砚茹说。纳米粘土天然橡胶技术于2017年9月在第二届全国军民两用技术创新应用大赛入围决赛，并获得决赛优胜奖，这也是目前橡胶材料中唯一获此殊荣的材料。截至目前，该项目已获得发明专利授权11件，预授权3件，并发表了100余篇学术论文。据专家介绍，该项技术经过进一步改良，可在未来广泛应用于矿业车辆轮胎制造、军工车辆轮胎制造等重要领域。</p></body></html>