<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1171</title>
</head>
<body>
<h1>
婚恋网站结交 男友竟是贼-新华网
</h1>
<p id="demo"> 2018-01-06 08:40:12</p><p>王女士趁子女都不在家时，将网上相识的男友屈某带至家中，没想到对方却是个贼，趁其不备实施盗窃。北京晨报记者昨天获悉，顺义法院以盗窃罪判处屈某有期徒刑一年，并处罚金1000元。据检方指控，2017年6月，屈某在王女士家中，窃取对方儿媳的航天纪念钞、美元若干以及黄金饰品等物品。经鉴定，航天纪念币价值人民币1500元。当天，屈某被民警查获归案。据屈某供述，他是在某婚恋网站上认识的王女士，对方不想让子女知道她在网上交了男朋友的事，便选了一天子女都不在家的时间让其去家中做客。当天他在沙发上假装睡觉，趁王女士出门给孙女拿东西的间隙，顺走她家中的一些财物。这些财物被他变卖后已全部挥霍。法院经审理认为，屈某秘密窃取他人财物，数额较大，其行为侵犯了公民的财产权利，已经构成盗窃罪。鉴于屈某系累犯且具有多次前科，依法应当从重处罚。最终，法院以盗窃罪判处屈某有期徒刑一年，并处罚金1000元。北京晨报讯（记者 颜斐）</p></body></html>