<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1175</title>
</head>
<body>
<h1>
超五成受访者 旅游过程中被“宰”过-新华网
</h1>
<p id="demo"> 2018-01-06 07:43:52</p><p>近日，一篇关于“雪乡宰客”的文章引发网友关注，文中称在当地住店遭商家“刁难”。黑龙江大海林林业地区旅游局局长刘忠才表示，经查，文章中提到的赵家大院确实存在价格欺诈行为，按照规定已对其处罚5.9万余元，同时发现赵家大院在卫生及消防方面也存在问题，已责令其限期整改。对“旅游景点宰客”现象你怎么看？本期“京报调查”（新京报与清研智库联合推出）就此展开调查。■ 旁边评论景区为何多一锤子买卖因为一档综艺节目，黑龙江雪乡突然火遍大江南北，无数游客从全国各地赶来旅游休假。可惜爆红的雪乡，并没有保持白雪般的纯洁；相反，一些商家剑走偏锋、恃宠而骄。这个冬天，因为一篇批评雪乡“坐地起价”的网文，令雪乡的声誉一夜间一落千丈。从盛赞到批评，被架上舆论烧烤架的雪乡应该反思。但从调查结果来看，类似雪乡“宰客”这样的问题，在全国来说并不鲜见，居然有超过五成游客在旅游过程中被“宰”过，看来“宰客”在现在的旅游中，还是较为常见。“宰客”寻常见，说到底还是因为商家与游客之间缺乏最根本的信任，导致景区的买卖关系多是“一锤子买卖”。可随着旅游逐渐成为人们的一种生活方式，这就要求商家必须重视游客的消费体验，主动取信于消费者；否则，消费者就会用脚投票，主动放弃一些景点。就拿滑雪来说，如果雪乡的旅游体验不好，人们就可能转而选择去北海道、去韩国，毕竟这些地方的价格越来越便宜。新京报评论员 陈媛媛</p></body></html>