<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>118</title>
</head>
<body>
<h1>
王毅谈美朝领导人会晤：带来和平希望，仍需相向而行-新华网
</h1>
<p id="demo"> 2018-06-14 22:05:10</p><p>新华社北京6月14日电（记者吴嘉林）国务委员兼外交部长王毅14日在北京同美国国务卿蓬佩奥举行会谈。双方在会谈结束后共同会见记者。王毅表示，蓬佩奥国务卿通报了美朝领导人新加坡会晤情况。这是一次成功的历史性会晤，尤其是把朝鲜半岛核问题纳入了对话解决的轨道，给半岛带来了和平的希望。我们对美朝两国领导人展现出的魄力和担当表示高度赞赏。王毅表示，这次会晤是一个重要和良好的开端。当然，解决半岛核问题需要一个过程，我们希望并相信美朝双方能够落实好此次会晤达成的共识，继续相向而行、积极互动。王毅表示，半岛局势牵动地区各国利益，解决问题离不开各方的支持参与。中方愿同包括美朝在内的有关各方密切沟通，继续为推动半岛无核化、建立半岛和平机制发挥应有作用。</p></body></html>