<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1180</title>
</head>
<body>
<h1>
高速公路下车如厕摔伤 司机和伤者各担责一半-新华网
</h1>
<p id="demo"> 2018-01-06 07:29:14</p><p>由于尿意难忍，乘坐中巴车的王彪（化名）要求司机停车，但此时中巴车行驶在高速路上，司机拒绝停车让王彪方便。但在王彪无法忍受的情况下，司机最终选择减速让车辆停靠在高速路上，准备让王彪在高速路上方便。然而车辆还未停稳，王彪就从车上冲了下去，导致摔伤住院一个月。随后，王彪将雇用他的公司、车主、司机三方诉至法院，要求赔偿6万元。通州区法院审理后认为，王彪和司机各有过错，各自承担百分之五十的责任。王彪经中间人张某辗转介绍，从北京出发，前往湖北省为某公司提供业务帮助，在湖北的工作完成后，得知公司承包了一辆中巴车，可以带人回到北京，王彪便自愿乘坐了该中巴车。在车辆飞驰的高速路上，由于之前喝多了水，王彪突然感到尿急难忍，便催促司机在高速路上停车。司机告诉王彪，高速路停车非常危险，也违反法规。司机承诺，只要前方出现服务区，车辆便会驶入，王彪可以在服务区内上厕所。但王彪由于尿意身体极度不适。之后，司机感觉王彪有在车内上厕所的意图，为了保持车内卫生，无奈之下决定将车停在高速路上，准备让王彪在高速路上方便。不久后，司机告诉王彪车辆即将停下来，与此同时打开了中巴车的中门。然而王彪过于着急，还没等车停稳，便一跃而下，结果摔得不轻，为此他住院一个月之久。出院后王彪将中间人张某以及中巴车主、司机告上了法院，让其赔偿医疗费和其他各项费用6万余元。王彪诉称，他是被张某雇用，在回程路上受伤，张某也应承担责任。庭审期间，车主一直失踪，无法取得联系，而司机辩称，自己本意反对王彪下车，但看到王彪已经在车上开始脱裤子，不得已才减速让其下车，没想到王彪摔伤。通州区法院审理后认为，张某仅是介绍工作，在此事件中并无责任；车主全程并未参与，两人不承担责任。司机在高速路上停车，并打开了车门，违反了交通法规，导致王彪跌落，应当承担一定责任。而王彪也明知道高速路上不能停车，还要求司机停车，并且是自己不注意跳了下去，也应该对自己的损伤负有责任。最后，法院判决司机和王彪各自承担五成责任。判决作出后，几方均未上诉，目前该案已经生效。文/本报记者  杨琳</p></body></html>