<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1187</title>
</head>
<body>
<h1>
发改委：2020年智能汽车新车占比达50%-新华网
</h1>
<p id="demo"> 2018-01-06 07:36:35</p><p>为加快推进我国智能汽车创新发展，国家发展改革委组织研究起草的《智能汽车创新发展战略》，昨日起公开向社会征求意见。征求意见稿提出，到2020年智能汽车新车占比达到50%；并利用机场、港口、旅游景区等相对封闭区域，以及北京冬奥会和通州副中心智能交通、雄安新区智慧城市等重大工程建设，开展智能汽车示范运行。2035年建成智能汽车强国新京报记者注意到，《智能汽车创新发展战略》(征求意见稿)提出三个发展阶段：到2020年，智能汽车新车占比达到50%，大城市、高速公路的车用无线通信网络(LTE-V2X)覆盖率达到90%，北斗高精度时空服务实现全覆盖。到2025年，中国标准智能汽车的技术创新、产业生态、路网设施、法规标准、产品监管和信息安全体系全面形成；新车基本实现智能化，高级别智能汽车实现规模化应用。到2035年，中国标准智能汽车享誉全球；率先建成智能汽车强国。为此，征求意见稿提出，开展示范运行验证。重点利用机场、港口、矿区、工业园区和旅游景区等相对封闭区域，相关部门设定的城市公交道路等开放区域，以及北京冬奥会和通州副中心智能交通、雄安新区智慧城市等重大工程建设，开展智能汽车示范运行。将出台智能汽车法律法规法律法规是智能汽车发展中不可忽视的一环，征求意见稿还提出，构建系统完善的智能汽车法规标准体系。通过立法、修法、释法等方法,消除影响智能汽车发展的法律障碍。具体包括：尽快出台公共道路自动驾驶测试规范，适时出台智能汽车测试、准入、使用等环节的法律法规，在条件成熟时对《道路交通安全法》及其实施条例等进行修订，为智能汽车发展预留空间。据悉，目前中国有超过2亿辆的汽车保有量、接近3000万辆的新车年销售量，新型城镇化建设、乡村振兴战略实施将进一步释放智能汽车发展潜力。此次公开征求意见的时间为2018年1月5日至2018年1月20日。■ 简介智能汽车智能汽车通常也被称为智能网联汽车、自动驾驶汽车、无人驾驶汽车等，是指通过搭载先进传感器、控制器、执行器等装置,运用信息通信、互联网、大数据、云计算、人工智能等新技术,具有部分或完全自动驾驶功能,由单纯交通运输工具逐步向智能移动空间转变的新一代汽车。(记者沙璐)</p></body></html>