<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1189</title>
</head>
<body>
<h1>
岗位变了，但反腐倡廉的使命没有变-新华网
</h1>
<p id="demo"> 2018-01-06 08:00:24</p><p>“检察岁月是我人生永远珍藏的时光。但是，告别是为了更好地出发——在新的岗位上，我们将忠诚履职，为党和国家作出新贡献。”1月3日，记者冒着飘落的雪花，如约将陕西省西安市检察院反贪局干警最后一张合影送到西安市监察委员会干部、原西安市检察院反贪局大要案指挥办情报中心主任师卫新的手上。他手里拿着照片，怀着对未来的希望。2017年12月18日，在西安市检察院副检察长廖平的提议下，该院反贪局全体干警整齐地穿着检察服，在办公大楼前留下了一张“全家福”。“我希望每个干警都深刻理解党中央的重大决策，时刻准备，整装待发，投入新的工作岗位！”廖平为大家鼓劲加油。“转隶工作正式开始后，我们按照深刻认识、坚决服从、认真配合的原则及时完成各项工作，为转隶工作做足了准备。”西安市检察院党组书记、检察长张民生告诉记者。据了解，截至2017年12月26日，西安市检察院已全部完成转隶工作。在新的岗位上，大家的感受如何？“在监察岗位上我们经过学习培训也在很快适应，大家更加理解了转隶的重大意义，明白了肩上的担子更重了。”西安市监察委员会干部、原西安市检察院反贪局侦查二处副处长蔚靖进说。“新的岗位，新的挑战，新的考验，新的角色，但反腐倡廉的使命并没有变，我们要完成漂亮的转身，不负重托。”西安市监察委员会委员、原西安市检察院反贪局局长王清宇指了指合影中的自己，深情地告诉记者。岳红革</p></body></html>