<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>119</title>
</head>
<body>
<h1>
首次参赛！健康和社会照护项目亮相２０１８年中国技能大赛-新华网
</h1>
<p id="demo"> 2018-06-14 18:14:21</p><p>新华社上海６月１４日电（记者叶昊鸣、周蕊）“您愿意配合我吗？”“我能坐下来跟您聊一会儿吗？”……伴随着一声声流利的英语问询，身着健康和社会照护项目服装的选手眼神真切，不断询问躺在病床上的“患者”是否身体不适。在选手身边，负责打分的裁判频频点头，偶尔在纸张上进行记录……作为中国最后五个没有参加世界技能大赛的项目之一，健康和社会照护在近期举行的２０１８年中国技能赛上首次亮相，且备受关注。然而记者了解到，这个项目在世赛中已有一定历史，为何我国迟迟没有参与？据此次比赛项目的裁判长周嫣介绍，一是国内有一项名为护理技能大赛的比赛项目，与健康和社会照护有所不同，但相似度较高；二是该项目是主要与人打交道，语言和文化非常重要，但由于规则以欧美为主，对于中国的从业人员来说，还是存在语言和文化的障碍。虽然困难重重，但作为多年从事医院护理和管理的人员，周嫣认为，健康和护理照护是与健康相关专业的人所要具备的基本技能。“相对传统护理更注重技术来说，健康和社会照护更加注重人文关怀。传统护理可能更多以命令的方式进行沟通，而这个项目则以问询的方式。这考验的是选手与病人的沟通能力、管理能力、健康教育能力、评估能力等。”周嫣说。谈到下一步如何在国内发展，周嫣认为，目前国外很多国家都有这一专业，可以利用现成课程和教材，让选手掌握理论、要求；其次要结合实践，到所在行业的国际医院进行实际操作；第三，在操作和沟通方面还应进一步强化。</p></body></html>