<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1190</title>
</head>
<body>
<h1>
被害人死亡是因为救助不及时吗-新华网
</h1>
<p id="demo"> 2018-01-06 08:02:15</p><p>江苏宿迁：自行补充侦查90余起案件提升监督质效“法院以故意伤害罪判处被告人王浩有期徒刑十年。”近日，由江苏省宿迁市检察院自行补充侦查办结的一起案件一审终结。2016年9月30日，王浩用刀把前来催债的叶某刺死，但在庭审现场，王浩的辩护律师认为是救护人员没能及时救助叶某，导致其死亡。由于没有证据证明王浩对叶某的伤害是死亡原因，法庭决定延期审理。对于需要调取新证据的案件，一般公安机关补充侦查可能会耗时几周，为了让真相尽快水落石出，宿迁市检察院决定启动自行补充侦查程序。于是，该院公诉处副处长刘李鹏带领办案小组前往医院调查取证，核实120救护车的出诊时间和相关医护人员资质，调取叶某的诊疗记录、医院的视频监控资料等，并把这些材料委托宿迁市医学会予以鉴定。鉴定意见显示，叶某被王浩刺穿了大腿动脉和静脉，抢救成功率极低，虽然120医护人员在叶某入院前的急救过程中存在过失，但是与叶某的死亡没有明确因果关系。再次开庭时，公诉人指出：叶某的死亡是王浩故意伤害的结果。同时，医院的不规范行为降低了叶某的生还可能性，建议法院适当下调对王浩的量刑。最终，法院一审认定王浩犯故意伤害罪，判处有期徒刑十年。王浩表示服从判决，叶某的家属也接受判决结果。2017年4月，宿迁市检察院出台了《关于加强公诉部门自行侦查工作的意见》，规定公诉环节自行补充侦查的基本原则、启动情形、侦查程序以及协作配合机制，力促指控质量和诉讼监督成效的提升。为提升检察干警自行侦查能力，宿迁市检察院邀请公安机关刑事侦查业务专家讲授刑事侦查、讯问方式、“零口供”案件突破等方面的方法和技巧，提升检察干警侦查水平；在办理涉众型、跨区域犯罪案件时，依托检察一体化机制，在全市范围内跨级别、跨区域调配公诉力量；与公安机关、审判机关及案外力量主动对接，通过自行补充侦查充分发挥诉讼监督职能。2017年以来，宿迁市检察机关共开展自行补充侦查90余件，调取新证据194份；通过自行补充侦查排除了7份非法证据，追诉3人，避免了2起错案的发生，提升了法律监督质效。本报讯（记者卢志坚通讯员万晓东臧宏年）</p></body></html>