<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>120</title>
</head>
<body>
<h1>
四川：坚决制止和纠正违规以地融资-新华网
</h1>
<p id="demo"> 2018-06-14 18:20:35</p><p>新华社成都6月14日电（记者陈健）记者14日从四川省政府办公厅了解到，四川把防范化解政府债务风险摆在更加突出的位置，要求各地坚决制止和纠正违规以地融资行为。四川省政府办公厅日前印发《关于加强规范管理坚决制止违规以地融资的通知》，要求牢牢守住不发生系统性区域性风险的底线，在有序清理整改基础上，进一步规范以地融资行为。四川要求各地进一步对土地融资情况开展全面深入清理检查，查清各类政府融资平台公司的数量和性质、土地抵押融资规模、土地供应和土地登记合法性等情况，并依据有关法律法规、政策规定以及当地经济发展水平和财政收入情况，对土地融资行为进行一次全面评估。据了解，违规以地融资，不仅透支地方土地收益，扰乱土地管理利用秩序，还容易造成土地权属不清、闲置浪费、国有资产流失等系列问题，加大地方政府债务风险。四川省明确，对违反国家法律法规和政策规定办理土地抵押融资的，要坚决予以纠正；对土地储备机构和以政府土地融资为目的的各类政府融资平台公司，要依据有关法律法规和政策规定进行清理和规范。在加强整改方面，四川要求各地通过采取完善用地手续、提前偿还贷款、解除抵押物或置换抵押物、依法注销违规颁发的土地使用权证书、追缴土地出让金和契税等措施，扎实推进违规以地融资行为整改。</p></body></html>