<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1206</title>
</head>
<body>
<h1>
暴雪蓝色预警：河南湖北局地有暴雪 新增积雪超10厘米-新华网
</h1>
<p id="demo"> 2018-01-06 08:11:42</p><p>中央气象台1月6日06时继续发布暴雪蓝色预警：3日至4日，西北地区东南部、黄淮西部、江淮西部、江汉北部、山西南部等地出现大到暴雪，局地大暴雪，截止到6日05时，上述地区积雪深度10～15厘米，局地超过20厘米。预计，6日08时至7日08时，陕西关中平原东部、山西南部、河南中西部、安徽西北部、湖北北部等地有大雪，其中河南东南部、湖北东北部局地有暴雪（10～14毫米），新增积雪深度4～8厘米，局地超过10厘米。防御指南：1.政府及相关部门按照职责做好防雪灾和防冻害的应急工作；2.交通、铁路、电力、通信等部门应当加强道路、铁路、线路巡查维护，做好道路清扫和积雪融化工作；3.减少不必要的户外活动；4.加固棚架等易被雪压的临时搭建物，将户外牲畜赶入棚圈喂养。</p></body></html>