<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1207</title>
</head>
<body>
<h1>
首个挥发性有机物在线监测指南发布 让大气污染物无处遁形-新华网
</h1>
<p id="demo"> 2018-01-06 08:17:37</p><p>随着北方采暖季的到来，空气质量问题再度成为焦点。近日，清洁空气联盟在北京发布中国首个《大气VOCs在线监测系统评估工作指南》。《指南》由清洁空气创新中心联合上海市环境监测中心、深圳环境科学研究院共同编制。VOCs即挥发性有机物，它是一类物质的总和，是以气态分子形态排放到空气中的所有有机化合物的总称。VOCs是臭氧和PM2.5的重要前体物，是我国当前区域复合型空气污染的主要贡献者之一。“十三五”规划纲要首次把VOCs纳入约束性指标，环保部也发布了一系列VOCs监测标准和治理方案。目前我国已经有北京、上海等17个省份开始征收VOCs排污费。上海、天津、深圳等城市明确要求对VOCs实行在线监测。清洁空气创新中心主任解洪兴说：“《指南》是基于目前上海、深圳等城市开展在线监测评估工作经验，形成的评估框架和基础方法。发布《指南》，是为了支持各地开展大气VOCs在线监测管理，完善监测技术体系，同时促进行业规范化发展。”对VOCs的管理极具挑战性。清洁空气创新中心高级项目经理凌炫介绍，一方面，VOCs的来源广泛，大致分为自然源和人为源。在我国大部分城市，人为排放的VOCs远高于自然源，主要来自固定源燃烧、道路交通、溶剂产品使用和工业过程。另一方面，VOCs的组成比较复杂，主要包括烷烃、烯烃、芳香烃等，物理和化学性质差异大。上海依托空气超级站和工业区空气特征污染监控网的建设与应用，应用在线色谱、质谱、光谱和传感器等方法，初步建立大气污染监管新模式，在提升VOCs监测能力方面取得了一定成效。“VOCs的监测是一项非常精细化的工作，每一步都不能松懈，才能把它做好。”上海市环境监测中心有机分析特聘专家林长青说。解洪兴表示，纵观全球，很多国家都经历了几十年的VOCs防治历程，到现在VOCs依然是欧美大气污染防治的重点领域。（记者 赵贝佳）</p></body></html>