<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1208</title>
</head>
<body>
<h1>
中共中央对外联络部四局原局长曹白隽被开除党籍-新华网
</h1>
<p id="demo"> 2018-01-06 08:18:01</p><p>据驻中央外办纪检组消息：日前，中央纪委驻中央外办纪检组对中共中央对外联络部四局原局长曹白隽严重违纪问题进行了立案审查。经查，曹白隽严重违反政治纪律和政治规矩，在职期间为有关公司等提供“咨询服务”并取酬；违反中央八项规定精神，退休后违规从事与原任职务管辖业务相关的营利性活动和兼职取酬；利用职务上的便利为他人谋取利益并收受财物，涉嫌受贿犯罪。曹白隽身为外交外事部门党员领导干部，理想信念丧失，毫无党性意识，行为底线全面失守，亦官亦商，严重违反党的纪律，并涉嫌造成重大国有资产流失，涉嫌违法犯罪，且在党的十八大后仍不收敛、不收手，性质恶劣、情节严重。依据《中国共产党纪律处分条例》等有关规定，给予曹白隽开除党籍处分，取消其退休待遇；收缴其违纪所得；交由有关部门依法对其采取留置措施，调查其涉嫌犯罪问题和线索。曹白隽简历曹白隽，男，汉族，1954年4月出生，江苏南京人，大学本科学历。1975年8月进入中联部，先后在欧美澳组、八局、西欧局等部门工作，历任副处长、一等秘书等职务。1993年9月，调任中国经济联络中心一等秘书。1994年9月起，历任中国华联国际贸易公司副总经理、中国经济联络中心副主任兼中国华联国际贸易公司总经理、中国经济联络中心主任、中国经济联络中心主任兼中国华联国际贸易公司总经理等职务。2007年6月任中联部四局局长，2012年7月提前退休。（驻中央外办纪检组）</p></body></html>