<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>121</title>
</head>
<body>
<h1>
世行１．５亿美元贷款助广西贺州改善水环境治理-新华网
</h1>
<p id="demo"> 2018-06-14 18:23:43</p><p>新华社北京６月１４日电（记者刘红霞）记者１４日从世界银行驻华代表处获悉，世行执行董事会已经批准向中国提供１．５亿美元贷款，用于帮助广西贺州市提升应对洪灾能力，减少水污染。据世行高级供水及卫生专家秦刚介绍，贺州市水环境治理与城市综合发展项目将通过联通贺江干支流、增强泄洪能力、清淤清障、提升改造贺江主河道上的基础设施等措施，降低贺江的洪灾风险。这一项目将通过建设雨污分流管网和污水处理厂及相关设施，实现污水全部收集处理，减少水污染。此外，项目还将协助加强水务规划与水资源管理部门间的协调，培训地方政府官员，建立水资源和洪水智能监测系统。据秦刚介绍，该项目实施期为６年，预计超过１０万人直接受益。新建和提升的污水收集处理设施还可以年均减排温室气体１６９７吨二氧化碳当量。这是世行近期又一次支持中国与水相关的项目。本月早些时候，世行执行董事会批准向中国提供３笔贷款，共计６亿美元，用于协助浙江、江西、辽宁三省提高供水及污水处理普及率、助推小流域综合治理。</p></body></html>