<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1210</title>
</head>
<body>
<h1>
北京：“海归”女硕士后海蹬三轮-新华网
</h1>
<p id="demo"> 2018-01-06 08:30:39</p><p>1月4日，北京什刹海景区，车队为每一个游客都准备了毯子御寒。图为王雪宜为两名年轻游客铺完毯子后交流今天的行程路线。王雪宜很注重自己的形象，每次开工前她都会精心打扮一下 。王雪宜正蹬着人力三轮车为游客讲解 。“这里曾是和珅的府邸”“这所中学曾是个贝勒府”……在北京什刹海景区附近的胡同里，“后海八爷”车队的新成员“海归”女硕士王雪宜正蹬着人力三轮车为游客讲解。近日，王雪宜等5名年轻车夫成了什刹海景区的名人，他们中有画家、雕塑师、户外从业者。作为一名女“海归”，1985年出生的王雪宜在众多车夫中格外引人注目。王雪宜是一名地道的北京人，从小就对老北京的文化着迷。2013年，她远赴加拿大学习绘画，归国后和朋友一起开了绘画工作室。在平时的创作中，她经常将老北京的文化融入其中，希望能让更多的人感受老北京文化的魅力。2017年11月，在得知“后海八爷”车队的招聘信息后，王雪宜报了名。“我加入这个车队，是为了深入了解这座城市，以自己的方式传播京味文化；也是为了体验生活，为以后的创作寻找灵感。”她说。应聘成功后，经过前期培训，王雪宜1月1日正式上岗。聊起这几天的收获，她表示，这里依旧有许多老北京的影子，而蹬车的大爷们不仅骑车骑得溜，还能讲好几国语言。“年轻人文化水平高、思维开阔，能够把对文化、对人生的新观念、新感悟融入讲解过程中，并且运用现在先进的手段将其传播出去。”看着车队里新来的年轻人，“后海八爷”车队负责人李永浮感叹：“老北京文化，还是要靠年轻人传承下去。”</p></body></html>