<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1211</title>
</head>
<body>
<h1>
上海涉嫌危害食药品安全犯罪案件数下降７％ 涉网购食药品犯罪占比上升-新华网
</h1>
<p id="demo"> 2018-01-06 08:50:52</p><p>新华社上海１月６日电（记者 黄安琪）上海市检察院侦查监督处有关负责人日前在接受采访时表示，随着司法机关对涉嫌危害食品药品安全犯罪打击力度的加大，２０１７年上海涉此类犯罪案件数量有所下降。但其中，涉及互联网销售的案件占比约２２％，案件数量较去年有所上升。据悉，２０１７年，上海涉嫌危害食品药品安全的犯罪案件数量同比下降约７％，三大主要类型是：在麻辣烫、牛肉汤等食品中添加罂粟壳，在减肥药中添加西布曲明，未经国家允许进口眼药水和隐形眼镜等。同时，数据显示，２０１７年，上海涉互联网销售的涉嫌危害食品药品安全犯罪案件占比约２２％。“互联网销售入门门槛低，监管也有一定难度。”寿志坚说，“而且呈现多渠道趋势。”比如，２０１６年９月至２０１７年４月，王某某、鲁某某、申某某、何某某分别在自己住处或作坊，用食用淀粉等灌装生产“第五元素”“特效百分百”“Ｖ８”等假冒内服性药胶囊以及包装等产品，通过ＱＱ、微信等网络渠道销售。另有其他４个“下家”又从王某某等人处购买上述产品假冒性药，在淘宝网店、微信平台销售给贾某某等。据统计，２０１７年，上海检察机关共建议行政执法机关移送危害食品药品安全犯罪案件６７件７４人，批准逮捕１３２件１６４人，起诉２８４件３６４人。</p></body></html>