<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1217</title>
</head>
<body>
<h1>
最高法发布司法解释加强海洋环境司法保护-新华网
</h1>
<p id="demo"> 2018-01-05 19:14:04</p><p>新华社北京1月5日电（记者 罗沙）记者5日从最高人民法院获悉，最高法近日出台关于审理海洋自然资源与生态环境损害赔偿纠纷案件若干问题的规定规范统一裁判尺度，全面加强海洋环境司法保护。这份规定提出，海洋自然资源与生态环境损害赔偿诉讼，由损害行为发生地、损害结果地或者采取预防措施地海事法院管辖。行使海洋环境监督管理权的机关，根据其职能分工提起海洋自然资源与生态环境损害赔偿诉讼，人民法院应予受理。规定要求，人民法院受理海洋自然资源与生态环境损害赔偿诉讼，应当在立案之日起五日内公告案件受理情况，如发现同一损害涉及不同区域或者不同部门，或者不同损害应由其他依法行使海洋环境监督管理权的机关索赔，可以书面告知其他依法行使海洋环境监督管理权的机关。自发布公告之日起三十日内，或者书面告知之日起七日内，对同一损害有权提起诉讼的其他机关申请参加诉讼，经审查符合法定条件的，人民法院应当将其列为共同原告；逾期申请的，人民法院不予准许。依法行使海洋环境监督管理权的机关请求造成海洋自然资源与生态环境损害的责任者承担停止侵害、排除妨碍、消除危险、恢复原状、赔礼道歉、赔偿损失等民事责任的，人民法院应当根据诉讼请求以及具体案情，合理判定责任者承担民事责任。规定明确，海洋自然资源与生态环境损失赔偿范围包括预防措施费用、恢复费用、恢复期间损失、调查评估费用等。规定同时明确，恢复费用限于现实修复实际发生和未来修复必然发生的合理费用。此外，未来修复必然发生的合理费用和恢复期间损失，可以根据有资格的鉴定评估机构依据法律法规、国家主管部门颁布的鉴定评估技术规范作出的鉴定意见予以确定。难以确定恢复费用和恢复期间损失的，可以根据责任者因损害行为所获得的收益或者所减少支付的污染防治费用，合理确定损失赔偿数额。</p></body></html>