<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1218</title>
</head>
<body>
<h1>
最高法：做好2018年春节前拖欠农民工工资纠纷案件审判执行工作-新华网
</h1>
<p id="demo"> 2017-12-28 19:08:15</p><p>新华社北京12月28日电（记者罗沙）记者28日从最高人民法院获悉，最高人民法院近日发出关于切实做好2018年春节前拖欠农民工工资纠纷案件审判执行工作的紧急通知，要求各级人民法院把治欠保支工作作为春节前的重要民生工作抓紧、抓实、抓好，确保让广大农民工拿到工资返乡过年。通知要求，各级人民法院要畅通立案绿色通道，及时审查受理拖欠农民工工资纠纷案件；对追索工资农民工当事人，要积极依法采取缓、减、免交诉讼费等救助措施，最大限度满足农民工群众的司法需求；要重点排查建设工程纠纷和劳动密集型加工制造、餐饮服务纠纷等案件以及涉及部分政府项目纠纷中是否存在拖欠农民工工资的问题，对相关案件要及早应对，并在确保公开、公平、公正的前提下，快立、快审、快结；对拖欠工程款和农民工工资案件，要强化执行措施，优先安排人力、物力，加大执行力度，强化执行措施，确保执行到位。通知强调，各级人民法院要高度重视农民工权益保护工作，强化组织保障，压紧压实责任，各种预案要及早制定，各项措施要及时跟上；要紧紧依靠党委领导，加强与政府及相关部门的沟通协调，建立健全畅通、有序、有效的预警机制、协同联动机制、风险化解机制；要及时总结辖区法院在审理执行拖欠农民工工资案件中的典型做法或案例，加强正面引导和宣传，营造良好的舆论环境。</p></body></html>