<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>122</title>
</head>
<body>
<h1>
国家新闻出版署、全国“扫黄打非”办公室联合部署２０１８年网络文学专项整治行动-新华网
</h1>
<p id="demo"> 2018-06-14 18:26:20</p><p>新华社北京６月１４日电（记者施雨岑）为进一步规范网络文学传播秩序，更好地满足人民群众精神文化需求，国家新闻出版署和全国“扫黄打非”办公室联合部署各地从５月至８月组织开展２０１８年网络文学专项整治行动，重点整治网络文学作品导向不正确及内容低俗、传播淫秽色情信息、侵权盗版三大问题。记者从１４日举行的新闻通气会上获悉，本次专项整治行动的目标是查处一批内容低俗、危害青少年身心健康的网络文学作品，关闭一批价值导向严重偏差、不具备运营能力的网络文学网站及移动客户端，查办一批违法违规典型案件。同时，要探索建立监管长效机制，强化导向管理，倡导讲品味、讲格调、讲责任，抵制低俗、庸俗、媚俗，督促网络文学企业建立完善内容把关制度，为青少年健康成长营造良好网络环境。据介绍，目前，专项整治行动进展迅速。全国“扫黄打非”办公室和国家新闻出版署还协调相关部门关闭４００余家境内外违法违规文学网站。为了让专项整治行动取得更大成效，全国“扫黄打非”办公室呼吁社会各界共同参与其中，欢迎网民发现传播低俗、淫秽色情和侵权盗版内容的网络文学作品后积极举报。</p></body></html>