<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1220</title>
</head>
<body>
<h1>
我国最新对可制造毒品的5种物质予以管制-新华网
</h1>
<p id="demo"> 2017-12-28 19:08:15</p><p>新华社北京12月28日电（记者熊丰）记者28日从国家禁毒办获悉，经国务院批准，公安部、商务部、国家卫生计生委、海关总署、国家安全生产监督管理总局和国家食品药品监督管理总局联合发布公告，对5种物质列入《易制毒化学品管理条例》附表《易制毒化学品的分类和品种目录》予以列管，其中包括制造芬太尼的两种前体和制造冰毒的三种前体。这五种物质名称是4-苯胺基-N-苯乙基哌啶、N-苯乙基-4-哌啶酮、N-甲基-1-苯基-1-氯-2-丙胺、溴素、1-苯基-1-丙酮。据了解，本次对这5种易制毒化学品予以列管，是我国政府认真履行国际禁毒公约，根据当前国际国内毒品形势出现的新情况新变化，及时主动采取的有效管制措施。国家禁毒办副主任、公安部禁毒局副局长邓明表示，近年来，新精神活性物质迅速蔓延，已成为继传统毒品、合成毒品后全球流行的第三代毒品，其中卡芬太尼等芬太尼类物质制贩滥用情况最为突出。根据国家毒品实验室对2015年和2016年全国缴获毒品样品的特征分析，以溴代苯丙酮合成麻黄碱从而制造冰毒的方法占全国地下加工厂制造冰毒方法的97%以上。继2014年溴代苯丙酮被列管以来，不法分子又转而利用溴素和1-苯基-1-丙酮非法合成溴代苯丙酮进而制造冰毒，这已成为我国内制造冰毒的最主要渠道。溴素与其他原料还可非法合成羟亚胺进而制造氯胺酮。氯代麻黄碱是目前国内地下加工厂制造冰毒的主要前体，相比之前的冰毒制造方法，采用氯代麻黄碱制造冰毒，时间大幅缩短，对场所要求也大大降低。据了解，近年来，我国政府高度重视易制毒化学品管制工作，把查缉易制毒化学品放在与查缉毒品同等重要的位置，通过加强对易制毒化学品生产、经营、购买、运输、储存、使用和进出口等环节核查，加大对易制毒化学品违法犯罪的打击力度，打掉了一大批制贩制毒物品犯罪团伙网络。此外，我国政府还进一步加强国际执法合作，与相关国家开展情报交流和办案协作，成功破获多起有国际影响的案件。</p></body></html>