<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1221</title>
</head>
<body>
<h1>
澜沧江—湄公河综合执法安全合作中心启动运行-新华网
</h1>
<p id="demo"> 2017-12-28 19:08:15</p><p>新华社昆明12月28日电（记者刘奕湛、赵珮然）澜沧江—湄公河综合执法安全合作中心（简称“澜湄执法中心”）启动仪式28日在云南省昆明市举行，这标志着澜沧江—湄公河流域第一个综合性执法安全合作政府间国际组织正式启动运行。据介绍，澜湄执法中心首任秘书长郑百岗由中方派出，后任秘书长将由各成员国轮流担任。该中心将在尊重各成员国主权和法律的基础上，致力于统筹协调本地区预防、打击跨国违法犯罪，融合交流情报信息，开展专项治理联合行动，加强执法能力建设，为各成员国执法部门提供优质、高效的服务。公安部党委委员、反恐专员刘跃进指出，澜湄执法中心的建立在流域执法安全合作领域具有里程碑意义，是各国政府积极应对地区安全形势变化和风险挑战的智慧结晶。中方愿与流域各国共同努力，以助力和平发展、依托项目推进、促进开放包容为导向，凝聚力量与智慧，共同推动澜湄执法中心发展走上突出地区特色、高效务实、持续发展之路，积极打造“平安澜湄”安全走廊，推动构建澜湄安全命运共同体，为促进区域发展繁荣作出新贡献。老挝、柬埔寨、缅甸、泰国、越南等国代表一致肯定了中方作为东道国在澜湄执法中心筹建过程中做出的积极贡献，并表示今后愿与中方一道增强合作意识、沟通协调和资源投入，推动澜湄中心稳步持续发展，成为保障流域和平发展的“稳定器”。据了解，自2011年湄公河流域执法安全合作机制建立以来，流域各国执法部门累计开展了65次联合巡逻执法、4届“平安航道”联合扫毒行动，破获跨国贩毒案件3.9万余起，缴获各类毒品87.4余吨，救助遇险船只120余艘，为沿岸群众挽回经济损失近1.5亿元人民币，有效保障了湄公河国际航运安全，维护了地区安全与稳定。</p></body></html>