<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1224</title>
</head>
<body>
<h1>
沙家浜连：传承“沙家浜精神”激发出不竭动力-新华网
</h1>
<p id="demo"> 2018-01-05 18:25:36</p><p>新华社西安１月５日电  题：沙家浜连：传承“沙家浜精神”激发出不竭动力曹志国、殷杰、刘小红前不久，在第８３集团军某旅组织的比武考核中，“沙家浜连”再次斩获桂冠，并打破３项考核记录。“阳澄湖畔，虞山之麓，三九年的严冬，三十六个伤病员高举共产党的旗帜……”当记者走进第８３集团军某旅“沙家浜连”，恰逢连队开展“不忘初心，红色基因代代传”教育，官兵们高唱连歌《你是游击兵团》，而此时，他们刚结束了一轮连贯性比武考核。“沙家浜连”有着光辉的历史。它的前身为１９３９年１２月由新四军江南人民抗日义勇军西撤扬中时，在江苏阳澄湖畔留下的３６名伤病员组建起来的“江南抗日义勇军东路指挥部特务连”。他们克服敌人扫荡搜捕、药品奇缺、环境恶劣等困难，怀着对党的赤胆忠诚，团结和依靠当地人民群众，与伤病作斗争，与敌人灵活周旋，边战斗边壮大，胜利保存了“芦荡火种”，铸就了“一心向党、英勇顽强、百折不挠、热爱人民”的“沙家浜精神”。在“沙家浜精神”的传承中，一代代“沙家浜连”官兵始终坚持忠心向党的信念永不变、勇于战斗的精神永不变、同甘共苦的情谊永不变。参加确山系列演习，连队奉命驻守咽喉要道。连队官兵利用灵活机动的战术，打退数倍敌方多轮猛攻，确保了阵地安全。部队改制换装，面对信息化新装备，缺经验、缺教材、缺规范。连长焦明浩召集技术骨干组成攻关小组，逐条线路摸索内部电路，和厂方师傅一起改写射击评定程序，按照新式装甲车的技战术性能编写教案……连续奋斗２００多个日日夜夜，他们先后创新和改造训练器材５个类型２１件，为新装备全面列装蹚开了路子。党的十九大胜利召开后，指导员刘海军第一时间组织新兵参观连队荣誉室，通过讲革命故事，读革命历史让官兵进一步熟悉传承“沙家浜精神”；把“传承红色基因、担当强军重任”主题教育活动引入日常，引导官兵弘扬部队光荣传统，把学习领悟报告精神激发的政治热情转化为练兵备战的强大动力。邀请连队老前辈讲连史讲传统，充分发挥“活历史”的教育引领作用，让连队官兵知史、懂史、用史。在“沙家浜精神”激励下，官兵在部队建设中勇创佳绩：连续２０年被集团军以上单位评为“基层建设标兵连”，先后荣立集体一等功２次、集体二等功３次、集体三等功６次。</p></body></html>