<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1225</title>
</head>
<body>
<h1>
三部门在五省份联合开展公共信息资源开放试点工作-新华网
</h1>
<p id="demo"> 2018-01-05 18:09:47</p><p>新华社北京1月5日电  记者5日从中央网信办获悉，中央网信办、国家发改委、工信部联合印发《公共信息资源开放试点工作方案》，确定在北京、上海、浙江、福建、贵州开展公共信息资源开放试点工作。试点工作以充分释放数据红利为目标，旨在进一步促进信息惠民，进一步发挥数据规模大、市场空间大的优势，促进信息资源规模化创新应用，推动国家治理体系和治理能力现代化。针对当前公共信息资源开放工作中平台缺乏统一、数据缺乏应用、管理缺乏规范、安全缺乏保障等主要难点，通知要求在建立统一开放平台、明确开放范围、提高数据质量、促进数据利用、建立完善制度规范和加强安全保障６方面开展试点，探索形成可复制的经验，逐步在全国范围加以推广。根据通知，试点工作将重点开放信用服务、医疗卫生、社保就业、公共安全、城建住房、交通运输、教育文化、科技创新、资源能源、生态环境等领域的公共信息资源。凡是不涉及国家秘密、商业秘密和个人隐私以及法律法规规定不得开放的公共信息资源，都应逐步纳入开放范围。试点工作鼓励通过政府专项资金扶持和数据应用竞赛等方式，支持社会力量利用开放数据开展创业创新，促进大数据产业发展。同时，将引导基础好、有实力的机构和个人利用开放数据开展应用示范，带动各类社会力量开展数据增值开发。</p></body></html>