<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1226</title>
</head>
<body>
<h1>
从“讨薪难”到带着工资回家-新华网
</h1>
<p id="demo"> 2018-01-05 19:09:06</p><p>新华社北京１月５日电题：从“讨薪难”到带着工资回家新华社记者杨思琪、施钱贵１月３日下午４点，深冬的北京西站寒风阵阵，人来人往。在候车大厅对面，几位农民工静静站在八件大行李中间，搓搓手，一张张点起一沓百元大钞，彼此说说笑笑，脸上满是喜悦和兴奋。点钱的老徐是河南省荥阳市崔庙镇车厂村的农民。去年１１月，他和另外７位老乡“组团”来到北京市密云区当建筑工人。这已是他外出打工的第８个年头。他们干的活是为新建楼房打桩基。每两人一组，一人在下面挖，一人用滑轮把土石绞上来，每天与碎石和砖土为伴，都是手工力气活儿，可是再辛苦，老徐都乐呵呵的：“工资有保障，能拿到现钱。”他说，工地包吃住，一天能挣一百多块钱，这一趟挣了５０００多块钱。工资，是像老徐这样的外出打工者最关心的问题，而农民工工资被拖欠也一直备受社会关注。回忆起２０１２年的中秋节，老徐脸色变得凝重起来。那时，一心想回家与家人团聚的他却被困在了内蒙古。当时的包工头因为应收工程款未到账，拖欠了包括他在内的４０多位工人的工资。多次和包工头沟通索要都无果而返。被迫无奈，老徐便和工友们一起到当地政府反映问题，等拿到工资，他已经错过了中秋节。去年底，国务院办公厅印发《保障农民工工资支付工作考核办法》，旨在通过实施考核，进一步落实各级地方政府的属地监管责任，推动各地将有关工作部署落到实处，切实保障农民工劳动报酬权益。“现在政策好，工程建设的重重分包更明确了主体责任，企业啊、包工头啊都不敢拖欠工资。除了现金，我们还通过微信转账拿到了剩下的工钱。”老徐展示着手机里的转账记录说：“技术发展这么快，领工资更方便了。”从“讨薪难”到工资如期发放，还可以通过微信转账领工钱，老徐说这些年的变化让他和同乡们感到自己的辛苦付出受到了尊重，很是开心。与老徐同行的牛文来今年５０岁，已经外出打工十几年。谈及新年愿望，牛文来说：“现在出来干活儿，不怕被坑、不怕受骗，所以盼着活儿越多越好，幸福生活能靠自己干出来！”下午５点，天色渐渐暗下来，他们要乘坐的列车开始检票进站。老徐一行8人背起沉重的行李，向检票口走去。这个约30公斤重的帆布包里装着被子、枕头、换洗衣物，对他们来说是“移动的家”，也是“继续前行的梦”。</p></body></html>