<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1227</title>
</head>
<body>
<h1>
46个重点城市生活垃圾分类有了推进“时间表”-新华网
</h1>
<p id="demo"> 2018-01-05 19:01:13</p><p>新华社北京1月5日电（记者 王优玲）住房和城乡建设部近日发布通知，明确生活垃圾分类工作目标和任务，要求46个重点城市2018年3月底前出台生活垃圾分类管理实施方案或行动计划，明确年度工作目标，细化工作内容，量化工作任务。根据通知，2018年，46个重点城市均要形成若干垃圾分类示范片区，探索建立宣传发动、收运配套、设施建设等方面的工作机制。以街道为单位，开展生活垃圾分类示范片区建设，实现“三个全覆盖”，即生活垃圾分类管理主体责任全覆盖，生活垃圾分类类别全覆盖，生活垃圾分类投放、收集、运输、处理系统全覆盖。此外，要以分类示范片区为基础，及时总结经验，以点带面，逐步将生活垃圾分类好的做法和模式扩大至全区、全市范围。制定完善示范片区验收标准，加强日常检查考核，确保取得实效。通知还要求，2020年底前，46个重点城市基本建成生活垃圾分类处理系统，基本形成相应的法律法规和标准体系，形成一批可复制、可推广的模式。在进入焚烧和填埋设施之前，可回收物和易腐垃圾的回收利用率合计达到35%以上。2035年前，46个重点城市全面建立城市生活垃圾分类制度，垃圾分类达到国际先进水平。在结合实际开拓创新方面，通知指出，要充分运用互联网技术和信息化手段，结合实际创造性推动工作，提高生活垃圾分类效果和质量；要创新政府和市场合作模式，鼓励社会资本参与生活垃圾分类收集、运输、处理各环节，统筹前后端，实行一体化经营；多渠道筹措资金，在加大对生活垃圾分类体系投入的同时，建立生活垃圾跨界转移补偿机制，完善生活垃圾收费政策，逐步建立差别化的收费制度，实现按量收费。</p></body></html>