<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1228</title>
</head>
<body>
<h1>
国家旅游局推出“厕所导航”-新华网
</h1>
<p id="demo"> 2018-01-05 19:18:53</p><p>新华社北京1月5日电（记者 齐中熙）国家旅游局5日推出“全国全域旅游全息信息服务系统”。该系统一个重要功能就是借助高德地图数据和精确的定位能力实现全域旅游厕所导航，这是借助科技力量提升旅游品质，优化旅游体验，创新旅游信息服务方式的一项重要举措。中国全域旅游厕所导航是基于面向社会的多终端地理信息平台，旨在建立涵盖旅游综合信息的“全域旅游信息服务系统”，通过信息融合和资源整合，为游客提供包含厕所导航服务、假日出游预测、景区介绍及评价、周边生活服务及投诉咨询等一站式服务，首期将实现50余万家社会厕所和景区厕所的导航服务，实现厕所的精准定位，动态导航，并将逐步扩展。用户在景区之外的其他城市区域中均可以方便地查找厕所，切实推进“厕所革命”落地。据了解，游客只需点击最新版高德地图首页右侧的“全域旅游”按钮，即可进入该系统，可以查看附近景区厕所和社会厕所。点击某一景区之后，用户不仅可以一键获取景区介绍、周边服务、投诉咨询等信息，还可以在“智慧景区”服务中，查找到卫生间、餐饮、商店等。</p></body></html>