<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1229</title>
</head>
<body>
<h1>
成贵高铁四川段第一长大高瓦斯隧道贯通-新华网
</h1>
<p id="demo"> 2018-01-05 19:17:24</p><p>新华社北京1月5日电（齐中熙、朱国才）记者从中国铁建股份有限公司获悉，由中铁十六局集团四公司承担建设的成贵高铁四川段第一长大高瓦斯隧道——老房子隧道5日顺利贯通，为2019年底建成通车创造了良好条件。中铁十六局集团四公司成贵高铁项目部总工程师周明介绍，成贵高铁老房子隧道全长6423米，是成贵高铁四川段控制性工程。由于整个隧道都为高瓦斯施工，安全风险要求严，技术要求高，施工工艺复杂。项目在施工过程中通过积极推行和使用新技术、新工艺、新材料、新设备，特别是防水板超声波焊接工艺等，隧道安全质量和施工效率得到了很大提高。成贵高铁设计时速250公里，起于成都市，抵达贵阳市，与贵广客专连接，是四川南向最快捷的通道。成贵高铁全线建成后，成都到贵阳将从12小时缩短至3个小时，至广州仅需7小时。</p></body></html>