<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1230</title>
</head>
<body>
<h1>
中宣部中央文明办印发通知：加强农村精神文明建设 提升农民精神风貌-新华网
</h1>
<p id="demo"> 2018-01-05 10:22:42</p><p>新华社北京1月5日电  日前，中共中央宣传部、中央文明办印发通知，部署学习贯彻习近平总书记在江苏徐州市考察时对农村精神文明建设工作的重要指示精神，进一步加强农村精神文明建设，提升农民精神风貌。通知指出，习近平总书记的重要指示，充分体现了以习近平同志为核心的党中央对农村精神文明建设的高度重视，对亿万农民群众的深情关怀，是做好新时代农村精神文明建设工作的根本遵循。要深刻领会其中蕴含的物质文明和精神文明之间的辩证关系，深刻认识农村精神文明建设在实施乡村振兴战略中的重要地位，准确把握做好新时代农村精神文明建设的基本任务和要求，大力加强农村精神文明建设，切实提升农民精神风貌，为全面建成小康社会提供坚强的思想保证、强大的精神力量、丰润的道德滋养、良好的文化条件。通知强调，各级党委宣传部和文明办要把学习贯彻习近平总书记重要指示精神与学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神结合起来，运用农民群众喜闻乐见的形式，深入开展中国特色社会主义和中国梦宣传教育，开展爱国主义、集体主义和社会主义宣传教育，引导农民群众听党话跟党走，坚定中国特色社会主义道路自信、理论自信、制度自信、文化自信。要针对农村干部群众关心的热点、难点问题，深入解读党和政府各项政策措施，凝聚农民群众的精气神，合力建设农业强、农村美、农民富的好生活。通知要求，各级党委宣传部、文明办要切实抓好组织协调和指导推动，围绕着力培育新型农民、持续推进移风易俗弘扬时代新风行动、着力丰富农民群众文化生活、深化农村精神文明创建活动、补齐贫困地区精准脱贫的“精神短板”，切实把农村精神文明建设各项工作落到实处。要切实发挥农村党支部组织群众、宣传群众、凝聚群众、服务群众的作用，带领农民群众解放思想、振奋精神，学好致富技能和本领，齐心协力把乡村振兴战略要求落到实处，让农民群众在共建共享中拥有更多获得感、幸福感，焕发昂扬向上的精神风貌。</p></body></html>