<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1238</title>
</head>
<body>
<h1>
最高法“智慧法院导航系统”上线运行-新华网
</h1>
<p id="demo"> 2018-01-05 20:27:17</p><p>新华社北京1月5日电（记者 丁小溪）建立自上而下的四级法院权限管理体系，实现各类诉讼服务网点一键触达，探索审判流程信息公开网、裁判文书网等诉讼服务信息的集中入口展示……人民法院“智慧法院导航系统”和“类案智能推送系统”5日正式上线运行，旨在进一步加强司法大数据和人工智能在审判执行工作中的应用。最高人民法院信息中心主任许建峰说，最高法依托百度地图开展智慧法院导航系统建设，通过拓展传统导航服务内容，创新法院诉讼服务转化渠道，建成了集导航服务和诉讼服务于一体，导航服务更权威、更全面、更智慧的新型特色智慧法院导航系统，实现了诉讼服务信息的快速获取，方便了人民群众诉讼的便捷参与。“目前，导航地点的覆盖范围正在不断扩大，不仅包括全国四级法院，还涵盖所有派出法庭，同时纳入了独立办公的诉讼服务大厅、立案申诉大厅、信访接待大厅等对外服务办公点。”许建峰介绍说，系统还借助导航载体，实现了12368诉讼服务热线、审判流程信息公开网、裁判文书网、执行信息公开网、诉讼服务网等诉讼服务信息的集中入口展示。同时，系统创新提供了最高法内部全景图和室内导航图，旨在让当事人更加真实感知法院内部的空间布局，更加便利到达目标区域，提高了智慧法院导航服务的场景感、亲历感。百度集团副总裁兼CEO助理梁志祥表示，智慧法院项目如今实现了飞跃式发展，百度地图已成为全国各级法院司法信息化智慧服务的平台。“建设智慧法院，网络技术是基础，大数据是核心。我们要将互联网+、云计算、大数据、人工智能等先进技术与审判执行工作全面结合、深度融合，让信息多跑路、让群众少跑腿。”最高法有关负责人介绍，目前全国已有3503家法院和5711个派出法庭接入了智慧法院导航系统。下一步，人民法院将协同百度集团继续大力推进智慧法院建设，尽快实现全国所有法院和派出法庭的全面接入。</p></body></html>