<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1239</title>
</head>
<body>
<h1>
北京法院：当事人可通过微信立案-新华网
</h1>
<p id="demo"> 2017-12-26 13:13:47</p><p>新华社北京１２月２６日电（记者熊琳）北京市海淀区人民法院微信全流程自主立案服务平台２５日正式上线。当事人微信关注“海淀法院自主立案服务号”，通过微信就可完成递交诉讼材料、身份验证、交纳诉讼费用等立案流程。海淀法院政治处主任戴国介绍，关注自主立案服务号后，当事人可按提示扫描身份证确认身份。同时，全部起诉材料均可通过微信上传提交。经审核，材料内容齐全，符合立案条件，当事人即可接到微信立案通知。此次海淀法院推出的微信立案方式采用ＯＣＲ文字识别技术。当事人递交材料时，系统通过扫描身份证、营业执照等文件中的有效信息转化成电子文档，减少了上传材料时的文字输入工作。操作更加简便的同时，也提高了上传信息的准确度。戴国表示，海淀法院新推出的微信立案将和近年来推出的网络预约立案、跨域立案等方式一起，为当事人提供更加快速、便捷的立案方式。该平台上线后，当事人仍可通过到法院立案庭立案等传统方式进行立案。</p></body></html>