<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1245</title>
</head>
<body>
<h1>
“把学前教育的短板补起来”——全国人大常委会组成人员建议加大学前教育财政投入-新华网
</h1>
<p id="demo"> 2017-12-26 03:18:28</p><p></p><p></p><p>新华社北京１２月２５日电（记者胡浩郁琼源）十二届全国人大常委会第三十一次会议２５日分组审议了国务院关于国家财政教育资金分配和使用情况的报告。与会人员充分肯定了中央财政和地方财政把教育摆在优先发展的战略位置，重点投入优先保障，同时建议，发挥财政资金的激励引导作用，重点向学前教育倾斜，补齐学前教育短板。“中国俗话讲‘三岁看小、七岁看老’。上学前孩子的人格和行为已经基本形成，这是一块重要的阵地。”王陇德委员认为，学前教育阵地非常重要，“建议财政资金多往这块放放”。吴恒委员认为，国家对教育的投入在加大，成效也很突出，应该给予充分肯定。但是投入不仅是依照现行的法律规定、按照相应比例保障投入的数量，还应该对投入的结构问题引起重视。要把财政教育资金投入的结构问题纳入到改革的框架当中，正确区分和界定不同的教育层次，提高财政教育资金投入结构调整的精准性。吴恒委员说，提高财政教育资金投入结构方面的精准性，针对学前教育、义务教育，关键的投入在于人，在于教师身上。“事实上有效的管理和有绩效的结果，必须要建立在有合格的教师、有优秀的校长的基础上。”“目前对教育的投入，实际当中还是更多地随着工程和项目下去的，要切切实实地扭转，更多从硬件、设备到人。”庞丽娟委员说，要切实提高教师的待遇，特别是乡村教师的待遇。建立学前教育财政投入制度。“学前教育办好了，能够调动年轻父母的积极性，提高满意度。”迟万春委员说，希望学前教育尽快实现义务教育。马馼委员建议要着力培养合格的幼儿教师。“建议把０至３岁的托儿所好好办起来，这关系到国家的二孩政策能不能落地。” </p></body></html>