<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1247</title>
</head>
<body>
<h1>
北京将在４０８６个路侧停车位试点电子收费-新华网
</h1>
<p id="demo"> 2017-12-25 23:11:30</p><p>新华社北京１２月２５日电（记者丁静）记者２５日从北京市交通委获悉，为缓解交通拥堵、规范路侧停车收费，北京市将于１２月２６日零时起在城六区和通州区共计３７条试点路段的４０８６个路侧停车位试点电子收费，试点时间原则为一年。据介绍，试点区域将采用视频桩、地磁及高位视频三种车位检测设备，感应车辆进出并留存车辆图片。相关信息将实时传输至数据平台，统一计算停车时间和费用，实现电子计时收费。试点区域原则上需要使用电子缴费，包括支付宝、微信、市政交通一卡通卡、ＥＴＣ卡、银行卡五种方式。缴费途径包括“北京交通”客户端、停车管理员的手持收费终端、设置于人行步道上的自助缴费终端等，但每种途径的缴费方式略有不同。需要使用现金的用户，可由停车管理员通过手持收费终端以电子支付方式代缴停车费，代缴信息将在电子收费平台记录备案。试点期间，停车收费标准、居住区居民临时停车收费模式均沿用北京市现行政策。电子收费路段一律使用电子发票。试点期间，不按规定缴费的停车行为信息将被录入路侧停车电子收费平台。</p></body></html>