<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1249</title>
</head>
<body>
<h1>
北京首创地方标准快速检测重型汽车氮氧化物排放-新华网
</h1>
<p id="demo"> 2017-12-25 23:11:30</p><p>新华社北京１２月２５日电（记者林苗苗）北京市环保局１２月２５日称，北京发布实施３项重型汽车排放污染控制地方标准，其中《重型汽车氮氧化物快速检测方法及排放限值》为首创制定并已于今年１２月１日起实施。据介绍，《重型汽车氮氧化物快速检测方法及排放限值》主要用于在用重型汽车氮氧化物排放检查，车主需做好日常维护保养。北京市环保局称，目前大部分国四及以上排放标准的重型汽车都安装了选择性催化还原系统（ＳＣＲ系统），用户必须定期添加车用尿素溶液从而确保系统正常工作，减少氮氧化物排放。前期执法检查发现部分车辆不正常添加车用尿素溶液或车用尿素溶液消耗很少，不足以处理排放的氮氧化物污染物。北京市环保局调研发现，目前国际上没有在用重型汽车氮氧化物快速检测标准。北京市首创制定《重型汽车氮氧化物快速检测方法及排放限值》，规定了氮氧化物检测方法和排放限值，主要通过现场检测法和在线检测法两种氮氧化物快速检测方法，用于道路检查和入户抽查等执法工作。据悉，有科学研究表明重型汽车排放的氮氧化物污染是机动车排放污染的主要来源。北京市重型汽车占全市机动车保有量的４％左右，其排放的氮氧化物占机动车排放总量的５０％以上，再加上外埠进京、过境的重型汽车，成为机动车排放污染控制的重点工作对象。</p></body></html>