<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1250</title>
</head>
<body>
<h1>
张平率团出席六国议长会议-新华网
</h1>
<p id="demo"> 2017-12-25 23:12:29</p><p>新华社伊斯兰堡12月25日电 12月24日至25日，六国议长会议在巴基斯坦伊斯兰堡举行，讨论了反恐和互联互通两大主题并通过《伊斯兰堡宣言》。中国全国人大常委会副委员长张平率团出席会议。张平在会议上表示，恐怖主义是本地区国家和国际社会面临的共同安全威胁，互联互通不畅是制约各国发展的重要因素。中方愿同各国一道，加大反恐合作，维护地区和平安宁；加快推进“一带一路”建设，实现互联互通与合作共赢，共同构建人类命运共同体。张平表示，不久前胜利召开的中国共产党第十九次全国代表大会明确了新时代中国迈向“两个一百年”奋斗目标的宏伟蓝图和行动纲领，中国愿与各国共享发展机遇，共创美好愿景。张平还分别会见了巴基斯坦国民议会议长萨迪克和土耳其议长卡赫拉曼，就两国关系、立法机关交往以及共同关心的问题交换了意见。来自中国、巴基斯坦、阿富汗、伊朗、俄罗斯、土耳其6国议会领导人出席会议。</p></body></html>