<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1252</title>
</head>
<body>
<h1>
湖南东安否认“带病提拔”干部 经调查复核后被取消任命-新华网
</h1>
<p id="demo"> 2017-12-25 21:32:26</p><p>新华社长沙１２月２５日电（记者周楠）湖南省永州市东安县近期对两名干部的任命被网民质疑为“带病提拔”“火箭提拔”，东安县委组织部随后公开回应予以否认，称干部选拔任用工作严格执行了相关程序，两人符合任职条件。２５日，永州市委组织部的调查结论推翻了东安县委组织部的这一说法。永州市委组织部称，经调查复核，东安县委在两名干部的选拔任用过程中，未严格执行干部选拔任用工作程序，同时一名干部存在年龄问题。目前已责成东安县委取消对这两名干部的任命决定，东安县县委书记冯德校等相关责任人被处分问责。１２月１０日，东安县委组织部发布的一份“干部简历公示”通告引发广泛质疑。网民质疑主要集中在两名拟提拔干部身上，一名是１９９２年出生、拟由乡镇科员提拔为共青团东安县委副书记、党组成员的宋雨翼，东安官方称其为１９９２年４月出生，２０１２年大学毕业后考取湖南省委组织部选调生，分配在东安县白牙市镇工作，其年龄受到网民质疑。另一名是拟由县法院助理审判员提拔为县法院副院长的周建明，一方面，由助理审判员直接提升为副院长遭质疑，另一方面，２０１５年４月东安县法院办公室主任唐庆元违规操办女儿婚宴，周建明因为赠送礼金受过处分，网民质疑为“带病提拔”。１１日，东安县委组织部发布回应，认为经过核查，东安县委严格执行了《党政领导干部选拔任用工作条例》，两人均符合任职条件。不过，此回应仍受到广泛质疑。随后，永州市委组织部启动了调查复核程序。永州市委组织部２５日回应称，经查，东安县委在周建明、宋雨翼的选拔任用过程中，未严格执行干部选拔任用工作程序，未按照干部双重管理的规定征求协管方意见。宋雨翼早期学籍材料有两个出生年月，根据干部档案有关政策进行核实，其出生年月应为１９９１年４月。针对上述问题，永州市委组织部作出如下处理：责成东安县委取消周建明拟任东安县人民法院副院长和宋雨翼拟任共青团东安县委副书记、党组成员的决定。对东安县委书记冯德校进行批评教育；对东安县委常委、县委组织部部长彭俊卿给予诫勉；责成东安县委对其他相关责任人进行问责。就宋雨翼年龄问题，移交有关部门继续调查处理。</p></body></html>