<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1253</title>
</head>
<body>
<h1>
上海市城市总体规划获国务院批复 严控土地和人口规模-新华网
</h1>
<p id="demo"> 2017-12-25 21:07:13</p><p>新华社上海１２月２５日电（记者郑钧天）中国政府网２５日公布的《国务院关于上海市城市总体规划的批复》显示，到２０３５年，上海市常住人口将控制在２５００万左右，建设用地总规模不超过３２００平方公里。《批复》要求，未来上海要着力提升城市功能，塑造特色风貌，改善环境质量，优化管理服务，努力把上海建设成为创新之城、人文之城、生态之城，卓越的全球城市和社会主义现代化国际大都市。《批复》提及，上海要严格控制城市规模。坚持节约和集约利用土地，严格控制新增建设用地，加大存量用地挖潜力度，合理开发利用城市地下空间资源，提高土地利用效率。坚持最严格的耕地保护制度，保护好永久基本农田。构建空间留白机制和动态调整机制，提高规划的适应性。在加强生态环境保护方面，《批复》要求，上海“要增强绿水青山就是金山银山的意识，坚持节约资源和保护环境的基本国策。”在创造优良人居环境方面，《批复》要求上海加快建立多主体供给、多渠道保障、租购并举的住房制度。稳步推进城市有机更新，开展城市修补和生态修复，加强城乡环境综合整治和违法违规建设治理，提高城市的承载力、包容度和宜居性。在塑造城市特色风貌方面，《批复》提出，上海要强化对历史城区风貌格局的整体保护，加强对中共一大会址等各级文物保护单位、外滩近代建筑保护区等历史文化街区、历史建筑、工业遗产等的保护。《批复》还提出，上海要优化城市空间布局，逐步形成“一主、两轴、四翼，多廊、多核、多圈”的空间结构和“主城区—新城—新市镇—乡村”的城乡体系。同时，从长江三角洲区域整体协调发展的角度，上海须充分发挥中心城市作用，加强与周边城市的分工协作，构建上海大都市圈，打造具有全球影响力的世界级城市群。</p></body></html>