<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1254</title>
</head>
<body>
<h1>
上海市通报５起违反中央八项规定精神典型案例-新华网
</h1>
<p id="demo"> 2017-12-25 20:31:05</p><p>新华社上海１２月２５日电（记者吴振东）记者２５日从上海市纪委获悉，上海市纪委对５起违反中央八项规定精神典型案例进行了查处，并予以通报。这５起典型案例分别是：２０１６年１１月１７日，静安区市场监督管理局彭浦所所长凌云接受监管对象某餐饮公司宴请，并收受礼品。凌云受到党内警告处分。２０１６年１１月２５日，杨浦区延吉新村街道在组织街道有关人员开展参观活动期间，借机游览景点，违规组织聚餐并发放礼品。该街道办事处主任肖枫、人大工委副主任冯新宇、党建服务中心主任郜云分别受到党内警告处分。２０１６年中秋节、２０１７年春节，闵行区浦锦街道社区自治办主任迟骋两次收受管理服务对象赠送的消费卡。迟骋受到党内警告处分。２０１７年１月１１日，上海工艺美术职业学院环境艺术学院院长李刚，组织干部职工在酒店公款聚餐。期间，违规接受并使用校企合作单位提供的经费和礼品发放奖金、奖品。李刚受到党内警告处分。２０１７年５月、８月，崇明区大同中学党支部书记、校长张耀飞两次接受有业务往来单位的宴请。张耀飞受到党内警告处分。上海市纪委在通报中表示，２０１８年元旦春节即将到来，也是“四风”问题易发多发期。上述公款吃喝、违规接受宴请、公款旅游、收受礼金礼品等违纪问题反映出仍有少数单位和党员干部对贯彻落实中央八项规定精神认识不够、执行不力甚至顶风违纪。上海市纪委要求，各地区、各部门、各单位必须吸取教训，举一反三，引以为戒。各级纪检监察机关要紧盯元旦春节“四风”问题不放松，加强监督检查、持续通报曝光，切实抓好节日期间整治“四风”问题工作，防止不良风气反弹回潮，促进全市党风政风持续好转。</p></body></html>