<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1256</title>
</head>
<body>
<h1>
贵州新增２．５万名生态护林员助推脱贫攻坚-新华网
</h1>
<p id="demo"> 2017-12-25 19:31:29</p><p>新华社贵阳１２月２５日电（李凡、李平）为进一步扩大选聘生态护林员带动脱贫攻坚成效，贵州将新增２．５万名建档立卡贫困人口生态护林员，其中４５００名由中央财政兜底，２．０５万名由贵州省财政解决。记者从贵州省林业厅了解到，２．５万名生态护林员将从武陵山区、乌蒙山区等集中连片特困地区和６６个扶贫开发工作重点县的贫困人口中选聘，并优先选聘有劳动能力、适合野外巡护工作、年龄在１８岁-６０岁之间的少数民族、残疾人或退伍军人贫困人口。贵州省林业厅公益林管理中心主任殷建强表示，贵州财政自行承担的２．０５万名生态护林员报酬，主要从中央财政重点生态功能区转移支付和省级财政切块到县扶贫资金中统筹列支，按照每人每年１万元标准发放。有条件的地区，还可根据当地财力适当提高生态护林员报酬。作为国家“五个一批”中生态补偿脱贫一批的扶贫举措，在中央财政支持下，贵州２０１６年已选聘了２．５万名生态护林员，这些贫困人员经培训上岗之后，主要从事森林防火、植树造林、病虫害防治等工作，生态脱贫及森林管护效果明显。</p></body></html>