<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1257</title>
</head>
<body>
<h1>
创新连接未来——２０１７全国青年科普创新实验暨作品大赛落幕-新华网
</h1>
<p id="demo"> 2017-12-25 19:04:05</p><p>新华社北京１２月２５日电（记者郭方达）贵州省遵义西南部有座喇叭镇，镇上一条二十米宽的河流一直是孩子们上学放学路上的阻碍。最近，他们欣喜地发现，河两岸架起了一座被称作“筑梦桥”的木桥。这座木桥由“９０后”大学生率领的团队搭建。就读于内蒙古工业大学的杨仕林表示，自己是通过“全国青年科普创新实验暨作品大赛”这样一个平台，参与到“筑梦桥”项目中的。“探知未来”２０１７年全国青年科普创新实验暨作品大赛，日前在北京成功落幕。据悉，该项赛事自２０１３年起已成功举办五届。大赛由中国科学技术协会、共青团中央、中国科技馆、三星（中国）等共同举办，旨在通过鼓励青少年科技创新和落地，以促进科技创新观念深入人心并推动全民科普教育。据悉，今年赛事历时４个月，中国科技馆等全国１５家科技馆承担了本届大赛各赛区的组织工作。全国共有１８２４０支队伍报名参赛，覆盖超过１６７个城市，累计征集作品１２３９９件。比赛中，杨仕林提出了一项承重方案，因此被“筑梦桥”项目组邀请。这是将参赛优秀方案与思路转化为实际公益项目的一个重要途径。有冠军团队的同学表示，“探知未来”大赛提供了一个良好的平台，“我们获得的关于科技创新以及公益的思考是无价的。”“大赛已成功举办了五届，五年来坚持面向未来、聚焦创新，以实践和真实命题为特点，加强了竞赛与科技馆日常教育工作的融合，又将成果落地。青年学子们不仅收获了知识和技能，还增进了友谊，履行了社会责任。”中国科协副主席徐延豪说。另外，今年大赛“未来出行”命题中的冠军团队作品，将有机会在贵州、广西、江西三地落地。三星大中华区总裁黄得圭在致辞中表示：“‘探索和创新’是三星永恒不变的精神，希望这种精神能够感染参赛的同学们；希望通过大赛培养青少年对科学的兴趣，让他们收获知识、友谊和爱心，树立远大志向。”</p></body></html>