<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1258</title>
</head>
<body>
<h1>
上海首批初任法官宣誓就职 新型法官选任制度逐步建立-新华网
</h1>
<p id="demo"> 2017-12-25 18:53:41</p><p>新华社上海１２月２５日电（黄安琪、俞榕）１５７名初任法官２５日在上海市高级人民法院集体宣誓就职。据悉，这是上海司法体制改革后首批从法官助理中遴选的初任法官。９月４日，上海率先在全国开展初任法官遴选，即从法官助理中遴选初任法官。上海市共有２９６名符合条件的法官助理报名参加，其中１５７名法官助理通过申请报名、业绩考核、考试面试、遴选委员会遴选等八项程序，被任命为法官。据悉，这些初任法官平均年龄３２．７岁，全都具有本科以上学历，其中８７．３％的法官具有硕士以上学历，平均从事司法工作６.５年。“从法官助理中遴选初任法官将成为上海法院增补新法官的主要渠道。”上海高院党组书记、院长崔亚东表示，“此次遴选对于完善人员分类管理制度，建立正规化、职业化、专业化、高素质的法官队伍具有重大意义，也为今后我国新型法官选任制度的建立与完善先行探索、积累经验。”此次遴选实行全市统筹，统一平台、统一遴选，打破条块和单位限制，遴选出来的法官一律到基层法院任职，投入审判执行一线工作，使基层办案力量增加了８％，逐步形成基层法院法官从全市法官助理中遴选，高、中级人民法院法官从下级法院法官中逐级择优遴选的法官职业发展机制。值得一提的是，在此次遴选中，上海在全国首创“庭审面试”的实战化方式，由考生担任案件主审法官进行模拟开庭，重点考察对审判程序的熟练度、规范性以及驾驭能力，这是全国法院首次采用模拟庭审进行初任法官遴选面试。</p></body></html>