<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1259</title>
</head>
<body>
<h1>
最高法第四巡回法庭一年来审结案件逾2300件-新华网
</h1>
<p id="demo"> 2017-12-25 18:43:52</p><p>新华社北京12月25日电（记者罗沙、史林静）记者25日从最高人民法院获悉，位于河南郑州的最高人民法院第四巡回法庭设立一年来，截至今年12月23日共受理案件2880件，审结2304件，人均结案201.14件。数据同时显示，第四巡回法庭一年来接待来访群众26219人次，办理群众来信1679件，裁判文书上网1441件。受案数、结案数、人均结案数、裁判文书上网数均暂居最高人民法院各部门之首。据介绍，第四巡回法庭在案件审理过程中通过调判结合、多元化解，一年来共有18件民事案件调解结案，多起行政案件经过与行政机关协调，当事人满足诉求后自愿撤回再审申请。在诉讼信访方面坚持为当事人、律师提供优质服务，让更多人了解诉讼服务信息。同时，第四巡回法庭积极探索当庭宣判机制，提高办案效率，压缩办案周期，减少案外干扰。打造新型审判团队，彻底取消案件审批，制定地域回避制度，“法官不办老家案”。截至12月25日，在公开开庭审理的50起民商事案件中，当庭宣判25起，当庭宣判率达到50%。巡回法庭是最高人民法院派出的常设审判机构。2015年1月，最高人民法院在广东深圳设立第一巡回法庭，在辽宁沈阳设立第二巡回法庭。2016年12月，最高人民法院第三、四、五、六巡回法庭相继在江苏南京、河南郑州、重庆、陕西西安挂牌成立。</p></body></html>