<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1261</title>
</head>
<body>
<h1>
让国宝讲故事——纪录片《如果国宝会说话》展现中华文化之美-新华网
</h1>
<p id="demo"> 2017-12-25 18:44:01</p><p>新华社北京１２月２５日电（记者施雨岑）“中国”二字最早出现在何时？龙的形象在不同历史时期经历了怎样的演变？在国家文物局等单位共同策划完成的纪录片《如果国宝会说话》中，１００件国宝将为观众“讲述”自己的“前世今生”，展现中华文化之美。在２５日于中国国家博物馆举行的纪录片首映式上，国家文物局副局长顾玉才说：“文物虽然静伫，但它们无时无刻不在表达。走近文物，能欣赏到工艺之美、色彩之美、造型之美；能学习历史、研习美德、感悟民族精神。从收藏到展示，从展示到让文物说话，节目打开了一条细细的门缝，让我们能一窥文物的精彩，倾听文物讲述属于它们的故事。”为拍摄该纪录片，摄制组足迹遍布全国，拍摄了近百家博物馆和考古研究所，５０余处考古遗址。纪录片没有渲染猎奇和神秘的曲折表述，也避免了高冷的学术性叙事。在每集５分钟的时间里，文物用通俗易懂的语言与观众平等对话，“诉说”发生在自己身上的传奇。据介绍，《如果国宝会说话》共１００集，分为四季播出，第一季将于２０１８年１月１日开始在中央电视台纪录频道首播。</p></body></html>