<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1262</title>
</head>
<body>
<h1>
国图开展“走进新时代的图书馆——向经典致敬”读书周活动-新华网
</h1>
<p id="demo"> 2017-12-25 18:44:02</p><p>新华社北京１２月２５日电（记者周玮）国家图书馆２５日开启以“走进新时代的图书馆——向经典致敬”为主题的读书周活动，为广大读者提供展览、讲座、阅读分享、互动体验等系列活动，展示图书馆建设和服务成效以及传承中华优秀传统文化方面所取得的成果，进一步倡导和服务全民阅读。此次读书周的重头戏之一，是“激活经典熔古铸今——《中华传统文化百部经典》首批图书出版”活动。其中，主题展览展示图书编纂工作自启动以来的发展过程和阶段成果。“百部经典”遴选中华传统文化中最具代表性的１００部经典，萃取精华、赋予新意，深入浅出地进行解读，努力为广大读者提供立足学术、面向大众的古代典籍普及读本。首批１０部包括《周易》《尚书》《诗经》《论语》《孟子》《老子》《庄子》《管子》《孙子兵法》《史记》。“百部经典”视频课程和图书试读，采用多终端同步专题服务、线上线下互动体验相结合的方式展开。致敬经典·古韵弥新——“文津经典诵读”五周年系列活动，也吸引了不少读者。在国图北区亮相的“文津经典诵读”五周年回顾展，分为中华经典再现、古代诗词游戏、新媒体视听、交互体验区等区域，引领大众赏析中华优秀传统文化。观众可现场参与答题接龙、拓印名家善本字画等互动体验活动。此外，国家图书馆少年儿童馆将以“致敬经典”为主题开展专场故事会，挑选《百鸟羽衣》《花木兰》《大闹天宫》等六部经典故事，由少年儿童馆家长志愿者团队进行生动讲读。据悉，１月１日，国图还将举办“馆长带您走进国家图书馆”“亲近《四库全书》感受国家宝藏”等精彩体验活动。</p></body></html>