<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1266</title>
</head>
<body>
<h1>
第五届中国新兴媒体产业融合发展大会将在成都举行-新华网
</h1>
<p id="demo"> 2017-12-25 19:04:05</p><p>新华社成都１２月２５日电（记者徐蕊吴光于）１２月２６日，第五届中国新兴媒体产业融合发展大会将在成都举办，大会将同时发布《中国新兴媒体融合发展报告（２０１６－２０１７）》。本届大会由新华社和成都市人民政府共同主办，新华社新媒体中心、成都传媒集团承办，碧桂园集团协办。大会以“深度融合·跨界融合”为主题，来自政府部门、新闻界、企业及高校的４００多名代表将参加为期一天半的会议。会议将通过主题演讲、研讨、高峰对话、媒体采访等活动，探索传统媒体和新兴媒体在内容、渠道、平台、经营、管理等方面的深度融合，交流分享新形势下媒体深度融合发展之路。大会还将同时发布年度报告《中国新兴媒体融合发展报告（２０１６－２０１７）》，该报告由新华社出品、由我国媒体融合研究领域权威专家学者共同完成，汇集了有关媒体融合的实践案例与思考。同时，国内首个媒体人工智能平台“媒体大脑”将在大会上发布。２６日，大会将同时举行现场云颁奖活动。３０家媒体和党政机关分获新华社现场云２０１７年度优秀组织奖、优秀报道奖、创新策划奖。据介绍，近年来成都的大数据、云计算、数字金融等“互联网＋”代表行业在全国城市位居前列；“互联网＋”和大数据技术加速了成都产业价值链的分解和融合，科技服务、科技金融、网络视听、数字经济、新媒体等以“跨界融合、创新裂变”为特征的新兴业态不断涌现。成都传媒集团相关负责人表示，本届新兴媒体产业融合发展大会在成都举办，是中国“互联网＋”产业盘点年度发展成果、集中观察产业发展现状、积极探讨产业未来趋势的一次良机。</p></body></html>