<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1269</title>
</head>
<body>
<h1>
新闻背景：党务公开如何逐步走向制度化-新华网
</h1>
<p id="demo"> 2017-12-25 19:08:12</p><p>新华社北京12月25日电（记者荣启涵、朱基钗）中共中央制定的《中国共产党党务公开条例（试行）》25日全文公布，这是党的十九大后发布的首部条例，也是党务公开领域的基础主干法规。党务公开是马克思主义政党所坚持的一贯原则，是发扬党内民主的重要内容。中国共产党长期在探索和不断完善党务公开制度。2004年，党的十六届四中全会第一次在党的文件中正式提出逐步推进党务公开。自2007年党的十七大开始，“党务公开”被写入党代会报告，同时将按规定实行党务公开作为党的一项组织制度写入党章。十七大报告中强调，“尊重党员主体地位，保障党员民主权利，推进党务公开，营造党内民主讨论环境”。2009年7月，中央党务公开工作领导小组在北京成立，加强对党务公开工作的组织领导和工作指导。两个月后，党的十七届四中全会通过了《关于加强和改进新形势下党的建设若干重大问题的决定》，强调要“推进党务公开，健全党内情况通报制度，及时公布党内信息，畅通党内信息上下互通渠道”。2012年，党的十八大报告中明确，“推进权力运行公开化、规范化，完善党务公开、政务公开、司法公开和各领域办事公开制度”。2017年，党的十九大报告中指出，“扩大党内基层民主，推进党务公开，畅通党员参与党内事务、监督党的组织和干部、向上级党组织提出意见和建议的渠道”。如今，党务公开概念已十分成熟，《条例》的出台意味着这一概念以制度化的形式确定下来。对发扬党内民主、推进全面从严治党等有着多方面重要意义的党务公开工作，全面走上了制度化、规范化、程序化的轨道。</p></body></html>