<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1271</title>
</head>
<body>
<h1>
农村路 民心路-新华网
</h1>
<p id="demo"> 2017-12-25 20:22:18</p><p>新华社北京12月25日电 题：农村路 民心路新华社记者赵文君、齐中熙习近平总书记近日对“四好农村路”建设作出重要指示强调，从实施乡村振兴战略、打赢脱贫攻坚战的高度，进一步深化对建设农村公路重要意义的认识，聚焦突出问题，完善政策机制，既要把农村公路建好，更要管好、护好、运营好，为广大农民致富奔小康、为加快推进农业农村现代化提供更好保障。农村公路是全面建设小康社会的重要环节。我国发展农村公路的根本目的是助力农民脱贫致富，加快实现农业现代化。随着农村物流业的发展，城乡互动日趋频繁，农业机械因为有更多更好的农村公路而容易使用，可以将农业生产的诸多环节组成一个产业链，还可以全面促进乡村振兴。农村公路是民心路。路通了，可以为工业品下乡、农产品进城打开通道，还将乡村的风景拉近到城里人眼前，比如开展乡村旅游增加农民收入。依托农村公路发展起来的城乡客运，让广大村民触摸到城市文明的温度。农村公路越长，城乡之间的距离越短。高速公路见证了中国经济发展的速度，农村公路见证了中国社会发展的深度。随着农村公路的不断完善，物流网络包括电商延伸到乡村街道，大大方便了村民购物。我国农村公路里程约占全国公路总里程的87%，相对于发挥主动脉作用的国省干线，农村公路就是发挥“微循环”作用的毛细血管。农村公路作为公益性基础设施，对扶贫工作也是一个有力支撑。当前，要大力推进交通精准扶贫脱贫，进一步加大贫困地区对外骨干通道建设和内部通道连接，加快剩余乡镇、建制村通硬化路，创新农村客运发展模式。同时，还要多修一些村民少花钱和不花钱的实惠路，让农村公路成为“走得快、走得好”的通畅路、全面建成小康社会的阳光路。</p></body></html>