<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1273</title>
</head>
<body>
<h1>
黄志贤同志简历-新华网
</h1>
<p id="demo"> 2017-12-25 20:30:59</p><p>全国台联会长黄志贤像 新华社发。新华社北京12月25日电 黄志贤，男，汉族，1956年7月生，台湾台南人，研究生学历，高级会计师。中共党员、台盟盟员。现任全国台联党组书记、会长。1975年参加工作。1975年至1976年，北京平谷县峪口公社南营大队知青。1976年至1984年，任北京市面粉二厂会计员、团支部副书记。1984年至1988年，任市粮食工业公司财务科干部、副科长。其间：1981年至1984年，在北京职工大学工业经济系会计专业学习。1988年至1995年，任市粮食局财会处副主任科员、副处长。1995年至1999年，历任北京燕谷粮油购销公司总经理、党支部书记、市粮食局财会处处长、局长助理、党委常委、纪委书记。1999年至2003年，任北京市粮食集团有限责任公司董事、副总经理、党委常委、总会计师。其间：1997年至1999年，在中央党校领导干部函授本科班经济管理专业学习；1999年至2001年，在亚洲（澳门）国际公开大学工商管理硕士研究生班学习。2003年至2015年，历任台盟中央办公厅副主任、主任、副主席。2015年至2017年8月，任台盟中央常务副主席。2017年8月，任全国台联党组书记，2017年12月，任全国台联党组书记、会长。中共十六大代表、中共第十九届中央候补委员；第十一届、十二届全国政协常委、副秘书长。</p></body></html>