<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1275</title>
</head>
<body>
<h1>
叶正大同志逝世-新华网
</h1>
<p id="demo"> 2017-12-25 15:18:23</p><p>新华社北京１２月２５日电原国防科工委科学技术委员会副主任叶正大同志，因病医治无效，于１２月１４日在北京逝世，享年９１岁。叶正大同志遗像 新华社发叶正大出生于上海，是叶挺同志的长子，１９４７年２月参军，１９４８年３月加入中国共产党。革命生涯中，他历任工艺员、主任设计员、副主任设计师、副所长、三机部第六研究院副院长、国务院国防工业办公室副主任等职。他先后领导和直接参与了１２种型号飞机设计研制任务，为我国歼击机的研制作出了重要贡献；提出《关于我国防空武器研制发展方针的若干建议》；参与领导编写了《２０００年的中国国防科学技术》（总报告）和《中长期科技发展纲要（国防部分）》，提出新时期我国国防科技发展的战略思想，为部队革命化、现代化、正规化建设作出了贡献。叶正大是中国共产党第十次全国代表大会代表，第五届全国人民代表大会代表，第八届全国人民代表大会代表、常务委员会委员、教科文卫委员会委员，第七届全国政协委员。他１９８８年被授予中将军衔，曾荣获中国人民解放军胜利功勋荣誉章。</p></body></html>