<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1279</title>
</head>
<body>
<h1>
我国在原子分子超快动力学研究方面取得重要进展-新华网
</h1>
<p id="demo"> 2017-12-25 12:32:50</p><p>新华社武汉１２月２５日电（记者李伟）飞秒强激光为在原子时空尺度（阿秒时间与亚埃空间尺度）探测物质微观结构及电子超快动力学提供了重要手段。近日，我国专家在利用飞秒强激光探测原子分子结构及电子超快动力学研究方面取得重要进展。飞秒强激光诱导的电离电子波包或可重新返回母离子实并与之发生再散射过程，由再散射引起的高次谐波谱或光电子谱为探测原子分子结构及电子态超快演化提供有效途径。当前，发展时空高分辨的原子分子结构及动力学探测方法为研究领域广泛关注。中国科学院武汉物理与数学研究所柳晓军研究员、全威研究员等人与北京应用物理与计算数学研究所陈京研究员、吴勇副研究员等合作，提出一种新的激光诱导非弹性电子衍射方案，并采用这一方案实验测定了电子与惰性气体离子碰撞引起的非弹性散射微分截面。据介绍，在这一方案中，专家利用飞秒强激光驱动原子产生的再散射电子波包替代传统电子束，通过电子碰撞的方法对惰性气体母离子结构进行探测。结合武汉物数所前期建成的高分辨电子－离子动量谱仪装置与符合测量方法，他们实验测量了对应于电子－离子碰撞电离过程的光电子二维动量谱，并从中提取出电子与母体离子作用的非弹性散射微分截面，实验结果与扭曲波波恩近似理论计算结果吻合。这一方案继承了传统电子衍射方法的超高空间分辨优点，而且具有超高时间分辨能力，为在飞秒乃至阿秒时间尺度研究激光诱导的原子分子超快动力学过程提供了重要手段。相关研究成果近期发表在学术期刊《物理评论快报》上。</p></body></html>