<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1281</title>
</head>
<body>
<h1>
第十次全国台湾同胞代表会议在京闭幕-新华网
</h1>
<p id="demo"> 2017-12-25 17:41:47</p><p>新华社北京１２月２５日电（记者赵博）第十次全国台湾同胞代表会议２５日在北京闭幕。会议圆满完成各项议程，听取并审议通过了全国台联第九届理事会工作报告，审议通过了全国台联章程修正案，选举产生了由１００人组成的全国台联第十届理事会。会议期间召开的全国台联第十届理事会第一次全体会议，选举产生了由３３人组成的第十届常务理事会，黄志贤当选会长，卢丽安、白天亮、江尔雄、江利平、纪斌、许沛、张百良、张泽熙、杨毅周、陈云英、郑平、符之冠、颜珂当选为副会长（按姓氏笔画为序）。黄志贤在致闭幕词时指出，这次代表会议是一次凝心聚力、继往开来、求真务实的大会，进一步明确了新时代台联工作的方向。新一届全国台联领导集体一定不辜负以习近平同志为核心的党中央期望和广大台胞乡亲重托，切实增强台联工作的政治性、先进性和群众性，不断开创工作新局面。会议强调，当前和今后一个时期，台联系统要把深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神作为首要政治任务，深入贯彻落实中央关于群团改革的重大部署，全面推进全国台联改革，秉持“两岸一家亲”理念，发挥亲情乡情优势，努力提高沟通、联谊、服务和团结台胞的能力和水平，为早日实现祖国完全统一、实现中华民族伟大复兴的中国梦团结奋斗。本次会议为期４天，来自各省、自治区、直辖市和有关单位的台胞代表共３００多人与会。闭幕式上还宣读了给不再担任全国台联理事职务的老同志的致敬信。新闻链接全国台联第十届理事会会长、副会长、常务理事名单黄志贤同志简历“扎实推动台联工作迈开新步伐”——访中华全国台湾同胞联谊会会长黄志贤</p></body></html>