<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1282</title>
</head>
<body>
<h1>
执法检查报告：加强个人信息保护 坚决避免实名登记事项过滥问题-新华网
</h1>
<p id="demo"> 2017-12-25 15:47:28</p><p>新华社北京12月25日电（记者 王思北）此间正在举行的十二届全国人大常委会第三十一次会议审议了全国人大常委会执法检查组关于检查网络安全法、全国人大常委会关于加强网络信息保护的决定实施情况的报告。报告建议，认真研究用户实名制的范围和方式，坚决避免信息采集主体过多、实名登记事项过滥问题。报告指出，我国加强个人信息保护，全面落实网络接入、固定电话、移动电话实名制办理要求,凡用户不提供真实信息的，运营者不再为其提供相关服务。针对侵犯用户个人信息犯罪高发态势，公安部部署开展专项打击行动，统筹协调打击利用公民个人信息实施的电信网络诈骗犯罪。2014年至2017年9月，全国法院共审理利用网络侵犯公民个人信息犯罪案件1529件，取得了较好的法律效果和社会效果。“检查发现，有的互联网公司和公共服务部门存储了大量公民个人信息，但安防技术严重滞后，容易被不法分子窃取和盗用。当前在一些地方，利用网络非法采集、窃取、贩卖和利用用户信息已形成黑色产业链。”全国人大常委会副委员长王胜俊向常委会作报告时表示，用户个人信息保护工作形势依然严峻。执法检查组委托调查机构进行的民意调查结果显示，“一法一决定”关于用户个人信息保护的多项制度落实得并不理想，许多受访者反映，当前免费应用程序普遍存在过度收集用户信息、侵犯个人隐私问题，但几乎没有受到任何监管和依法惩处。对此，报告提出，加快个人信息保护法立法进程，通过专门立法，明确网络运营者收集用户信息的原则、程序，明确其对收集到的信息的保密和保护义务，不当使用、保护不力应当承担的责任，以及监督检查和评估措施。同时，报告指出，要认真研究用户实名制的范围和方式，坚决避免信息采集主体过多、实名登记事项过滥问题。各地区各单位对某一事项实施实名登记制度，应当有明确的法律依据。改进实名信息采集方式，减少实名信息采集的内容。一个人的银行信息值多少钱？６０元！——“内鬼”盗卖公民个人信息敛财路径起底我国将着力解决网上虚假信息诈骗、倒卖个人信息等突出问题北京警方破获特大非法获取公民个人信息案</p></body></html>