<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1283</title>
</head>
<body>
<h1>
国家文物局通报长城执法专项督察“回头看”情况少数县区还没有长城保护员-新华网
</h1>
<p id="demo"> 2017-12-25 15:47:28</p><p>新华社北京１２月２５日电（记者 施雨岑）国家文物局日前发布了长城执法专项督察“回头看”情况的通报。通报指出，长城保护基础工作有待加强，内蒙古、吉林、河南、青海等省（区）长城保护员经费偏低或落实不到位，辽宁有９个县区没有长城保护员。据国家文物局督查司副司长岳志勇介绍，２０１７年，国家文物局部署开展了长城执法专项督察“回头看”，针对２０１６年长城执法专项督察中发现的问题进行再督察。按照“双随机、一公开”要求，国家文物局专项督察组对去年得分低于８０分的天津、内蒙古、辽宁、吉林、河南、陕西、青海、新疆共８个省（区、市）集中开展实地督察。督察结果显示，目前８省（区、市）均未出台省级长城保护地方性法规，辽宁、河南两省未建立长城保护奖励制度，长城保护法规制度有待健全完善。依法将长城段落核定公布为省级文物保护单位的比例参差不齐，新疆占４７．６４％、辽宁占６．８％，远低于平均水平，长城保护基础工作有待加强。同时，通报指出，８省（区、市）长城认定点段的展示利用率约为０．２％，长城的社会、精神、经济价值有待进一步研究挖掘，展示利用方式与规模有待进一步拓展，长城保护管理与区域社会经济协调发展的局面尚未形成。国家文物局要求，针对实地督察反馈意见和存在的问题短板，各地要认真制定整改方案，明确具体改进措施，并建立长效机制，把解决当前问题与着眼长远保护利用相结合，对存在的问题进行分析研判，对整改成效进行客观评估，对好的经验和做法进行认真总结。</p></body></html>