<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1286</title>
</head>
<body>
<h1>
新华时评：将人生与祖国命运绑在一起-新华网
</h1>
<p id="demo"> 2017-12-25 23:31:47</p><p>新华社北京12月25日电 题：将人生与祖国命运绑在一起新华社记者刘宏宇中国第一代核潜艇总设计师黄旭华上世纪50年代投身核潜艇研制，在与世隔绝的荒岛上艰苦奋斗，用算盘加磅秤，在较短时间里研制出我国第一艘核潜艇“长征一号”。他始终将人生与祖国命运绑在一起。而今，老骥伏枥，奋斗不息。这位年逾九旬的老人，用他辉煌的人生，交出了一份轰轰烈烈的答卷。面对这份答卷，唯有热泪千行。我们感动，是因为他在国家利益面前毫不犹豫的人生抉择——“如果革命需要我一次把血流光，我可以一次流光自己的血；如果革命需要我一滴一滴地把血流光，我就一滴一滴地流光。”我们感动，是因为他的自力更生、艰苦奋斗和绝不认输的精神。面对国外的严密封锁，没有参考资料，他孜孜以求。“骑驴找马，驴没有的话，就迈开双腿，决不等待。”在惊涛骇浪中闲庭信步，黄旭华展现的革命英雄主义气吞山河。我们感动，是因为他潜心核潜艇事业长达60年。他将人生最美好的年华，奉献给国家的核潜艇事业。离家时正三十年华，再见老母亲，自己已是六十多岁白发老人。他是一个不称职的儿子，但坚信“对国家的忠，就是对父母最大的孝。”如他所言：“这辈子没有虚度，一生属于核潜艇、属于祖国，无怨无悔！”新时代的车轮滚滚向前，时序更替，唯有精神永恒。黄旭华的爱国精神，永不过时。自力更生、艰苦奋斗、大力协同、无私奉献的核潜艇精神，永不过时。要把这种精神传承下去，激励新时代的建设者们像黄旭华那样，将自己的人生志向同国家的命运紧紧结合在一起。</p></body></html>