<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1289</title>
</head>
<body>
<h1>
全国人大常委会组成人员“把脉”非遗传承之困-新华网
</h1>
<p id="demo"> 2017-12-25 23:51:45</p><p>新华社北京１２月２５日电（记者施雨岑）十二届全国人大常委会第三十一次会议２５日下午分组审议《国务院关于文化遗产工作情况的报告》。报告显示我国一些非物质文化遗产面临生存、传承之困，引起了多位全国人大常委会组成人员的关注。他们表示，需要国家层面统筹安排，多部门携手努力，方能破解非遗的传承困境。车光铁委员认为：“从基层普遍情况看，目前传承的社会环境和人文环境建设提升空间很大，很多传承人才和受众群体都明显出现断层现象。”他分析说，一方面，现有传承人才队伍结构普遍年龄较大，文化遗产濒危问题日趋严重。由于学艺周期长、经营收入低、未来成效难预测等因素影响，很难吸引年轻人主动融入，后继乏人状况较为突出。另一方面，从基层实际情况看，大多数文化遗产明显缺乏经营性、长期性的展示平台，能够体现和适应现代生活的时代精品相对较少，群体逐渐缩小，不了解、不熟悉文化遗产的现象非常普遍。对于非物质文化遗产的种种困境，全国人大常委会组成人员纷纷给出了自己的建议。车光铁委员建议，应进一步建立完善多层次、多渠道的传承人才培养体系，切实加强对优秀传承人才的政策扶持和资金帮扶力度，充分调动传承人才的传承积极性，鼓励传承人展示技艺、提高技能、带徒授艺。穆东升委员说，目前全国各地都有一些面临消失危险，但具有保护传承价值的非物质文化遗产，建议由国家统筹安排，在各省区市实施濒危文化遗产抢救传承发展的试验、示范项目，按照创造性转化、创新性发展的新路子，推进文化遗产的发展。龙超云委员提出，文化遗产保护涉及到文化部门、文物部门、交通部门、公安部门等多个部门，应该明确“非遗”保护的主管部门、责任部门，把国家资金落实到位，把国家工程建设好，使非遗保护好，活起来，传下去。</p></body></html>