<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1290</title>
</head>
<body>
<h1>
王毅会见阿富汗外长拉巴尼-新华网
</h1>
<p id="demo"> 2017-12-26 00:29:24</p><p>新华社北京12月25日电 外交部长王毅25日在北京会见出席首次中国－阿富汗－巴基斯坦三方外长对话的阿富汗外长拉巴尼。王毅欢迎拉巴尼来华出席首次中阿巴三方外长对话，表示中阿是传统友好邻邦，始终相互信任、理解和支持。中方将按照十九大精神，坚持亲诚惠容理念和与邻为善、以邻为伴周边外交方针进一步深化中阿合作。中方视阿富汗为建设“一带一路”的重要合作伙伴，愿同阿方加强发展战略对接，拓展合作空间，通过自身的发展带动阿富汗的发展。中方将继续本着“阿人主导、阿人所有”原则，希望看到阿富汗早日实现具有广泛包容性的政治和解。王毅表示，中阿巴互为重要邻国，在维护国家安全与稳定、促进经济社会发展、提高人民生活水平等方面面临共同的任务。中方倡议举行中阿巴三方外长对话，旨在帮助阿巴两国建立良好沟通对话平台，推进三方务实合作。希望阿巴双方相向而行，相互理解，相互体谅，聚焦共识，建立互信，改善关系。中方愿为此发挥建设性作用。拉巴尼表示，阿中是好邻居和好朋友。阿富汗视中国为永久和可靠的伙伴。阿方感谢中方在各领域为阿方提供的宝贵支持和帮助，愿积极参与习近平主席提出的“一带一路”倡议，加强互联互通、基础设施、能源等领域合作，以进一步发挥阿富汗的区位优势。中国也是阿富汗和巴基斯坦共同的朋友，阿方赞赏中方为推动阿巴改善关系以及建立中阿巴三方外长对话机制所作努力，期待同中方密切合作，通过这一机制增进彼此间政治互信，共同应对发展和安全挑战。</p></body></html>