<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>132</title>
</head>
<body>
<h1>
尤权：做好民族宗教工作 促进民族团结、宗教和顺-新华网
</h1>
<p id="demo"> 2018-06-14 19:35:45</p><p>尤权在云南调研时强调做好民族宗教工作促进民族团结、宗教和顺新华社昆明6月14日电 6月11日至14日，中共中央书记处书记、中央统战部部长尤权赴云南省调研。尤权强调，要深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神，认真落实党中央关于民族宗教工作方针政策和各项部署，促进民族团结、宗教和顺，改善各族群众生产生活。尤权先后来到昆明市、迪庆藏族自治州和德宏傣族景颇族自治州，走访民族社区、民族村和民族学校，看望少数民族群众，调研民族团结进步创建工作，勉励当地干部群众全面贯彻党的民族政策，始终牢记习近平总书记关于做好民族工作的重要指示精神，把民族团结思想传播到每个社区、村镇和学校，使中华民族共同体意识深入各级干部、各族群众和青少年的心田，牢固树立各民族谁也离不开谁的思想，自觉促进各民族交往交流交融。在考察境外藏胞创办企业、边境贸易区时，尤权指出，帮助民族地区摆脱贫困是脱贫攻坚的重中之重，也是促进民族团结的重要基础。要用足用好各项政策，结合民族地区特点发展特色产业，让各族群众真正得到实惠，共同过上好日子。尤权来到云南藏语系佛学院、松赞林寺，并与藏传佛教界人士座谈。他希望宗教界人士始终坚持我国宗教中国化方向，继承和发扬爱国主义光荣传统，不断提高宗教学识和修养，自觉维护祖国统一、民族团结、社会稳定，坚决抵制境外势力对藏传佛教的影响，努力用中华文化浸润我国宗教，使宗教更好地与社会主义社会相适应。调研期间，尤权还走访了云南各民主党派省委机关。</p></body></html>