<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1320</title>
</head>
<body>
<h1>
辛识平：改革就得“逢山开路”——品读习近平主席2018年新年贺词之四-新华网
</h1>
<p id="demo"> 2018-01-04 17:46:24</p><p>新华社北京１月４日电 题：改革就得“逢山开路”——品读习近平主席２０１８年新年贺词之四辛识平２０１８年是改革开放４０周年。“逢山开路，遇水架桥，将改革进行到底”。习近平主席在２０１８年新年贺词中的铿锵宣示，表达坚定的改革决心，吹响了新一年的改革集结号。走过４０年的风风雨雨，中国的改革开放事业可谓踏遍千山万水、历经千难万险。回望处，改革开放的蜿蜒小径渐成康庄大道，成为中国发展进步和实现中国梦的“必由之路”，把１３亿多中国人带进了新时代。这部仍然在书写的历史，总是给人以启示与力量。“逢山开路，遇水架桥”是一种闯关夺隘的改革勇气。１９７８年冬，安徽凤阳小岗村村民冒着风险按下了“大包干”红手印，拉开农村改革序幕。山高人为峰，路远脚更长。改革向前进，正如邓小平同志所说，“没有一点闯的精神，没有一点‘冒’的精神，没有一股气呀、劲呀，就走不出一条好路，走不出一条新路”。今天，改革进入滚石上山、爬坡过坎的攻坚期，面临啃硬骨头、涉险滩的深水区。时代变了，精神永恒。在全面深化改革的新征程上，敢闯敢试的勇气不可少，敢为人先的锐气不可少。改革是前无古人的事业，没有现成经验可学，我们永远需要“逢山开路，遇水架桥”那么一股子精气神。改革需要方法，更需要谋略。既加强顶层设计，又鼓励基层探索，连通上与下；既敢于创新突破，又讲究于法有据，兼顾破与立；既学会“弹钢琴”，又善于牵住“牛鼻子”，抓重点带全盘。打通思想之路，架起实践之桥，夯实制度之基，改革就会不断呈现全面发力、多点突破、纵深推进的生动局面。“时间就是金钱，效率就是生命。”上世纪８０年代初，这句诞生于深圳蛇口工业区的口号，令多少人闻之热血沸腾。从广大农村包产到户到几亿农民外出打工，从乡镇企业异军突起到中国制造走向世界，从设立经济特区到设立雄安新区，改革开放重塑着中国的发展版图，深刻改变了一代代人的命运，铺筑着通往未来的道路。２０１８，中国的改革故事仍在继续，新的改革篇章需要你我共同书写。辛识平：“习式金句”点亮2018——品读习近平主席2018年新年贺词之一辛识平：为普通人的奋斗点赞——品读习近平主席２０１８年新年贺词之二辛识平：解决好百姓烦心事——品读习近平主席２０１８年新年贺词之三</p></body></html>