<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1323</title>
</head>
<body>
<h1>
河长湖长将分级分段扛起长江保护责任-新华网
</h1>
<p id="demo"> 2018-01-05 19:54:14</p><p>新华社北京1月5日电（记者王立彬、胡璐）万里长江数以千计的河长湖长，将分级分段承担长江大保护责任，工作不力的河长湖长将被追责。水利部副部长周学文5日在国新办新闻发布会上说，按中央要求，2018年全面建成河长制湖长制后，长江大保护责任将分级分段落实到各级河长湖长肩上。“一湖一策”“一河一策”重点是要列出五大清单，包括问题清单，这段河段有什么问题；责任清单，责任要落实到哪个河长身上。此外还有任务清单、措施清单、目标清单。长江水生态、水环境问题，表现在水里，根子在岸上。河长湖长不仅要管水里，还要管岸上，做好源头治理。要通过实施河长制、湖长制，推进各地产业结构调整和升级改造，控制入河湖排污总量。一项重要工作是对河流周边养猪场进行整治，散乱、没有污水处理设施的要关闭。规模化养猪场要进行无害化处理。中央明确规定，上级河长、湖长对下一级河长、湖长进行考核，发现超标排污、侵占岸线、非法采砂现象的，要予以处理。造成河湖管理秩序混乱的，要追究河长、湖长责任。据介绍，水利部编制了长江岸线保护和开发利用总体规划、长江采砂管理规划、长江经济带沿江取水口排污口和应急水源布局规划等一系列规划，明确了长江水资源、水环境保护目标、任务和措施。加强了长江水功能区监管，在长江流域划定1362个重要水功能区并加强了监管。开展了长江入河排污口专项检查行动、长江采砂管理专项整治行动、长江干流岸线保护和利用专项检查行动。</p></body></html>