<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1324</title>
</head>
<body>
<h1>
网贷纠纷如何解？“一站式”网络仲裁服务平台来了！-新华网
</h1>
<p id="demo"> 2018-01-05 19:28:15</p><p>新华社北京１月５日电（记者 高洁）网贷纠纷若走传统诉讼程序，往往门槛高、耗时久，成本巨大。近日，第三方电子合同平台“法大大”联合中国广州仲裁委员会正式推出“一站式”网络仲裁服务系统，针对网贷平台逾期借款收回业务提供高效解决方案。网络仲裁是指利用互联网等网络技术资源提供仲裁服务的网上争议解决方法。“法大大”联合创始人兼首席法务官梅臻介绍说，该网络仲裁服务系统通过协助网贷平台以网络仲裁的方式，可以高效便捷地获得具备法院强制执行力的仲裁裁决书，大大降低了司法成本。目前，平台每天最高可受理逾万宗案件，最快７天便可批量化拿到裁决书。据悉，目前已经有数十家互金平台使用该服务。梅臻告诉记者，针对网贷平台业务跨地域性导致的异地执行困难，“法大大”将通过近４００个中级法院所在地的合作律师网络，代理网贷平台向执行法院申请强制执行，从而帮助网贷平台完成逾期借款的合法回收，对拒不还款的老赖，还将通过法院执行系统，将其纳入失信人名单。据介绍，该系统包含了从电子合同签署及存证、电子证据梳理、网络仲裁系统服务到申请法院强制执行等各个环节，贯穿整个网贷纠纷解决的全过程。此外，专业律师将介入整个服务全程，仲裁全程在线，高效便捷、合法合规。广州仲裁委网络事业部部长钟晓东表示，“法大大”是最早接入广仲网络仲裁平台的服务商，其领先的“法律＋科技”服务能力赢得了庞大的客户群体，双方将发挥各自在电子合同、数据存证及仲裁领域的专业优势，为互联网金融行业整体的合规发展提供有力的法律服务保障，守护互联网时代的契约精神。（参与采写：肖罗娜）</p></body></html>