<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1326</title>
</head>
<body>
<h1>
外交部介绍法国总统马克龙访华行程-新华网
</h1>
<p id="demo"> 2018-01-05 19:58:38</p><p>新华社北京1月5日电（记者 闫子敏）法国总统马克龙将于8日至10日对中国进行国事访问。外交部发言人耿爽5日在例行记者会上介绍了马克龙总统在华访问行程，并表示此访是马克龙总统对华进行的首次国事访问，对中法关系具有承前启后的重要意义。耿爽说，访问期间，习近平主席将为马克龙总统举行国事活动，李克强总理和张德江委员长将分别会见马克龙总统。双方将就中法关系及共同关心的问题深入交换意见。访问期间，马克龙总统还将赴陕西省西安市进行参观访问，并在北京参观故宫等。“此访是马克龙总统对华进行的首次国事访问，对中法关系具有承前启后的重要意义。”耿爽说，访问期间，两国元首将全面回顾和展望中法关系，在总结过去经验的基础上，提升政治互信，凝聚战略共识，为中法在政治、经贸、人文等各领域的交流合作指明方向，做出规划，推动紧密持久的中法全面战略伙伴关系迈上新台阶。他说，中法两国都是联合国安理会常任理事国，中法关系具有超出双边范畴的全球影响。访问期间，两国元首还将就国际局势及重大国际和地区问题深入交换看法，探讨如何加强合作，共同维护多边主义，推动世界多极化，建设开放型世界经济，改善全球治理，合作应对全球性挑战，携手构建新型国际关系和人类命运共同体。</p></body></html>