<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1327</title>
</head>
<body>
<h1>
外交部回应朝鲜同意与韩国举行高级别会谈-新华网
</h1>
<p id="demo"> 2018-01-05 19:59:14</p><p>新华社北京1月5日电（记者 闫子敏）针对朝鲜同意与韩国举行高级别会谈，外交部发言人耿爽5日表示，中方注意到这一最新进展，呼吁各方抓住半岛局势中的积极动向，争取早日把半岛问题重新纳入通过对话协商以和平方式解决的正确轨道。韩国统一部5日确认，朝鲜同意9日在板门店韩方一侧“和平之家”举行韩朝高级别会谈。此前，韩国政府向朝方提议举行会谈，就朝方代表团参加平昌冬奥会、南北关系改善等共同关心的问题进行讨论。耿爽在当日例行记者会上回答提问时说，连日来，中方已多次就最新半岛局势中出现的积极动向作出回应，表明中方立场。作为半岛的近邻，中方欢迎并支持朝韩双方近来就缓和相互关系采取的积极举动。中方也希望国际社会对此予以支持，共同努力找到缓和紧张、增进互信、恢复对话的有效路径。他说，长期以来，中方为解决半岛问题作出了不懈努力，自始至终发挥着积极和建设性的作用。在半岛局势复杂敏感的情况下，中方始终对外发出冷静理性的声音，始终积极做各方工作，劝和促谈。“在此，我愿再次呼吁所有有关各方都与中方一道，发挥应有作用，承担应有责任，抓住半岛局势中的积极动向，共同努力，争取早日把半岛问题重新纳入通过对话协商以和平方式解决的正确轨道。”耿爽说。朝鲜最高领导人金正恩今年1月1日在发表新年贺词时表示，朝鲜有意派遣代表团参加即将举行的平昌冬奥会，北南当局可以就此进行紧急会谈。3日，朝韩双方重新恢复自2016年2月中断的板门店联络渠道，进行了约20分钟通话。</p></body></html>