<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1328</title>
</head>
<body>
<h1>
外交部：绝不允许中国公民和企业从事违反安理会决议的活动-新华网
</h1>
<p id="demo"> 2018-01-05 19:59:58</p><p>新华社北京1月5日电（记者 闫子敏）外交部发言人耿爽5日在回答有关提问时表示，中国政府始终全面、严格执行安理会决议，绝不允许中国公民和企业从事违反安理会决议的活动。在当日的例行记者会上，有记者问：据韩国媒体报道，有多艘中国公司所有的船只多次变换船旗国和注册地，从事违反安理会对朝制裁决议的活动。中方对此有何评论？耿爽说，中方注意到有关报道。中国政府始终全面、严格执行安理会决议，履行自身承担的国际义务，绝不允许中国公民和企业从事违反安理会决议的活动。他说，国际航运业高度开放，船只变更船旗国、注册地或租赁给其他方面的情况非常常见。对于在第三国注册的船只运营，中方并不掌握具体情况。对任何经调查确属违反安理会决议的行为，中方都将依法依规作出严肃处罚。</p></body></html>