<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1329</title>
</head>
<body>
<h1>
外国人才来华签证手续进一步简化实现四个“最”-新华网
</h1>
<p id="demo"> 2018-01-05 20:01:27</p><p>新华社北京1月5日电（记者 闫子敏）针对近日中国出台的人才签证制度，外交部发言人耿爽5日表示，中国驻外使领馆已于2018年1月1日起进一步简化经国内人才主管部门认定的外国人才来华签证手续，具体措施包含四个“最”。在当日例行记者会上，耿爽介绍了四个“最”措施：一是最长有效期，也就是颁发有效期为10年的签证；二是最长停留期，也就是颁发停留期为180天的签证；三是最短审发时间，也就是申请次日即可颁发签证；四是最优惠的待遇，包括“零费用”办理，即外国人才及其家属免交签证费和急件费。2017年11月28日，国家外专局、外交部和公安部联合印发了《外国人才签证制度实施办法》，进一步扩大人才签证发放范围和期限。耿爽表示，新的签证优化改革举措将进一步增强中国人才引进的开放程度，吸引更多外国人才参与中国建设，增强中国整体创新能力，同时也有助于帮助外国人才共享中国发展机遇，施展自身才华，成就一番事业。</p></body></html>