<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1331</title>
</head>
<body>
<h1>
全国118个重要湖泊水质总体不乐观-新华网
</h1>
<p id="demo"> 2018-01-05 20:10:23</p><p>新华社北京1月5日电（记者 王立彬、胡璐）全国118个重要湖泊监测显示，IV-V类水质的比例过半，我国湖泊水质总体状况不乐观，建立湖长制，加强湖泊管理保护势在必行。水利部副部长周学文5日在国新办发布会上介绍湖长制有关情况时说，经过多年治理，太湖、滇池、巢湖等我国一些重要湖泊水质有所改善。但由于湖泊的特殊性，全国湖泊水质总体状况不乐观。2016年，据全国118个重要湖泊监测评价结果，总体水质为I-III类的比例为23.7%，IV-V类的比例为58.5%，劣V类的比例是17.8%。总体看，I-III类水质比例有所降低，劣V类水质比例也在降低，IV-V类水质的比例在增加。很多湖泊存在富营养化问题，湖泊管理保护任务繁重。他说，全国湖泊实施湖长制，水污染治理将采取综合治理措施。首先控制入湖污染物排放量，给湖泊减负，包括实施国家节水行动，通过节水减少废污水排放量。实施入湖排污口整治，设置在饮用水水源保护区和自然保护区的排污口都要清理。提高入湖污染物排放标准。要“一湖一策”，有的湖泊淤积严重，需要开展底泥清淤，将内源污染清理掉。有的要在湖泊周边设置湿地，进一步净化入湖水质。有的要实施水系连通工程，提高湖泊水体流动性。要加强湖泊水环境监测和评估、考核和问责。据介绍，根据第一次全国水利普查，我国常年水面面积1平方公里以上的湖泊有2865个，其中跨省的有43个湖泊。关于湖长的设置，指导意见明确规定，跨省级行政区域的重要湖泊，由省级负责同志担任湖长。跨省湖泊涉及的行政区要做好沟通协调工作，“一湖一策”方案要衔接，流域管理机构要做好协调、指导、监督工作。</p></body></html>