<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1332</title>
</head>
<body>
<h1>
我国5年累计减贫超6600万人-新华网
</h1>
<p id="demo"> 2018-01-05 20:12:15</p><p>新华社北京1月5日电（记者胡璐、侯雪静）国务院扶贫办主任刘永富在5日国务院新闻办召开的新闻发布会上表示，十八大以来，脱贫攻坚战取得决定性进展，5年累计减贫6600万人以上，创造了我国减贫史上的最好成绩。刘永富说，2012年底，我国有贫困人口9899万人，到2017年底剩余贫困人口在3000万左右，现行标准下的贫困人口减少了三分之二以上。从贫困县摘帽看，2016年有28个贫困县率先脱贫摘帽，第一次实现了贫困县总量的减少。“预计2017年还会有100个左右的贫困县脱贫摘帽。这表明我们在解决区域性整体贫困方面迈出了坚实的步伐。”刘永富说。他认为，脱贫攻坚的伟大成就为实施乡村振兴战略奠定了基础，为全球减贫事业贡献了中国智慧和中国方案，彰显了中国共产党领导的政治优势和社会主义制度优势，更加坚定了“四个自信”。</p></body></html>