<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1333</title>
</head>
<body>
<h1>
2018北京图书订货会将有736家单位参展 近50万种精品图书亮相-新华网
</h1>
<p id="demo"> 2018-01-05 20:15:46</p><p>新华社北京1月5日电（记者 史竞男）由中国出版协会和中国书刊发行业协会主管主办的2018北京图书订货会，将于1月11日至13日在京举行。本届订货会共销售展位2434个，参展单位达736家。记者从5日在京召开的2018北京图书订货会新闻发布会上获悉，本届订货会是党的十九大闭幕后，全国图书出版发行界的第一次盛会，将全面展示图书出版行业的新气象、新面貌，设立“十八大以来优秀政治读物、十九大图书文献”专门展区。据介绍，组委会邀请了全国新华书店、民营书店、专业书店、图书馆3000家，采集馆配可供书目15万种。本届订货会将展示2017年以来的新书和精品图书近50万种，涵盖“国家图书奖”“中华优秀出版物奖”“大众喜爱的50种图书”等获奖佳作，同时还有一批深受读者欢迎的各类好书。此外，订货会期间，还将举办丰富多彩的文化活动。据初步统计，各类文化和新书推介活动预计达到180场次，如“高层论坛”、《2017-2018图书市场报告》发布会、中国出版发展报告会、“红沙发系列访谈”“大家读好书”“2018中国民营高峰论坛”等。</p></body></html>