<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1335</title>
</head>
<body>
<h1>
《戊戌年》狗年生肖特种邮票在深圳首发-新华网
</h1>
<p id="demo"> 2018-01-05 23:33:22</p><p>新华社深圳1月5日电（记者陈立新）《戊戌年》狗年生肖邮票1月5日在深圳举行首发仪式。这是2018年发行的第1套邮票，吸引了大批集邮爱好者购买。《戊戌年》特种邮票是第四轮生肖系列邮票的第三套。邮票1套2枚，全套邮票面值为2.40元，图案内容分别为“犬守平安”（2-1）和“家和业兴”（2-2），邮票规格为36×36毫米。邮票设计者为曾参加国徽设计的艺术家周令钊。生肖邮票是中国邮政精心打造的系列经典力作，从1980年起至2015年已经发行3轮生肖邮票，获得集邮爱好者的极大认可，成为形象展现中国深厚生肖文化底蕴的精品。本次发行的邮票延续了第四轮生肖票“合家欢”的设计理念，展示了中华田园犬的形象。第一图为“犬守平安”，画面中的公犬昂首挺胸，目光炯炯注视前方，好像随时能离地飞奔、守护家宅。第二图为“家和业兴”，棕色母犬深情凝视幼崽，黑色小狗昂头挺立，活泼可爱，母子相依，舐犊情深。两图相连，预示着家的平安和睦与国的兴旺富强。与《戊戌年》生肖邮票一同发行的还有生肖首日封、纪念封、纪念邮折和纪念邮册等特色邮品。</p></body></html>