<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1338</title>
</head>
<body>
<h1>
中国“科学”号科考船靠泊印尼比通港补给-新华网
</h1>
<p id="demo"> 2018-01-05 23:42:32</p><p>新华社雅加达１月５日电 在西太平洋海域执行“西太主流系潜标观测网维护及升级综合考察航次”的“科学”号科考船５日圆满完成第一航段任务，顺利靠泊印度尼西亚比通港进行补给。中国科学院海洋研究所党委书记王辉、中国驻印尼大使馆参赞潘永录等前往迎接，调研船舶及科考工作进展。“科学”号本航段历时４１天，完成了西太平洋科学观测网深海潜标的大规模实时化升级，首次实现了深海３０００米大水深温度、盐度和三维流速连续数据的实时回传，首次成功布放５０００米级深海综合观测浮标１套。靠港期间，“科学”号科考船将面向印尼萨姆拉图兰吉大学师生及比通当地科研院所人员开放，以普及海洋科考船及海洋科学考察知识，促进友好合作。“科学”号科考船本航次维护升级优化了我国在西太平洋构建的深海潜标科学观测网，提高了我国对西太平洋海洋环流与气候的认知能力，成为国际海洋科技界近２０年来在西太平洋调查的成功范例，标志着西太平洋新一轮调查研究热潮的兴起。</p></body></html>