<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1339</title>
</head>
<body>
<h1>
浴“雪”奋战！TA们才是最美丽动人的“雪景”-新华网
</h1>
<p id="demo"> 2018-01-06 18:33:46</p><p>新年伊始多地迎来2018年首场降雪 河南湖北安徽等地的降水量更是打破历史同期记录各地美丽雪景屠版微博、刷爆朋友圈、占领客户端看着各地美到令人窒息的雪景未下雪地区的网友们纷纷开启求雪模式</p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>北京网友强烈</p><p></p><p></p><p></p><p></p><p></p><p></p><p>要求“南雪北调” </p><p></p><p></p><p></p><p></p><p>然而，在暴雪降临时有这样一群人TA们来不及欣赏美丽的雪景TA们不畏严寒、浴“雪”奋战只为保障人们出行安全武警官兵暴雪夜袭 武警官兵积极参与市区扫雪除冰官兵们在暴雪中紧急就餐民警老人在积雪路上不慎摔倒民警将老人抱起抬上警车送往医院医治</p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>交警 </p><p>雪花飘洒在大地上一辆汽车轮胎打滑行进困难交警们助力推车</p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>通讯电缆被压落导致交通瘫痪执勤协警爬上公交车顶用双手托举电缆线10多分钟城管暖心！南京城管扫雪打通道路两岁小女孩跑过来说“谢谢叔叔”环卫工人拧干湿透的袜子穿上后继续清理路面积雪铁路工人在风雪中巡检维修设备自来水工郑州某地因井盖砸断水管造成突发漏水自来水工张威甩掉外套冒着风雪抢修电工巡线人员冒着大雪更换老化线路 解决用户用电问题......对于大多数人来说漫天飞雪意味着打雪仗、“晒”雪景但对TA们来说积雪却意味着彻夜奋战、守卫平安感谢那些在暴雪中默默付出的TA们因为TA们寒冷的冬季也有暖流涌上心间（刘晓朋/综编  图片来源：新华社、人民日报、大河网、深圳晚报、现代快报等） </p></body></html>