<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>134</title>
</head>
<body>
<h1>
海南高层次人才签3年以上聘用合同可安置配偶就业-新华网
</h1>
<p id="demo"> 2018-06-14 19:41:06</p><p>为进一步加强高层次人才队伍建设，协助解决高层次人才配偶就业问题，营造良好人才环境，吸引更多高层次人才到海南创新创业，近日，海南省委办公厅、省政府办公厅联合下发《海南省引进高层次人才配偶就业安置实施办法(试行)》(下称《办法》)。《办法》指出，新引进的符合海南省需求的高层次人才，在海南省工作并与该省用人单位签订3年以上聘用(劳动)合同，且其配偶自愿来琼就业的，适用本办法。大师级人才、杰出人才达到法定劳动年龄的子女，以及经行业主管部门认定的3大产业类型、10个重点领域、12个重点产业急需紧缺人才配偶也可参照本方法进行安置。《办法》提出，高层次人才配偶就业安置工作实行分级管理，坚持市场配置为主，调配安置为辅的原则。高层次人才配偶应当主动联系用人单位，引进人才的单位及其主管部门负有协助高层次人才配偶实现就业安置的责任。各级人力资源社会保障部门、公务员管理部门应当积极做好高层次人才配偶就业安置的统筹协调工作。机关、企事业单位安置高层次人才配偶时，不得设置法律法规政策之外的歧视性限制条件。《办法》对高层次人才配偶的安置途径作出了明确规定：高层次人才配偶为公务员或者参照公务员法管理的事业单位人员，需调配安置的，由同级公务员管理部门商相关单位在现有空编内妥善安置。高层次人才配偶为机关工勤人员或者事业单位在编在岗人员，安置原则为：事业单位引进的高层次人才，其配偶由引进高层次人才的单位在现有空编内接收安置，或者由其主管部门在所属事业单位范围内统筹安置；企业引进的高层次人才，其配偶由同级人力资源社会保障部门商相关事业单位及其主管部门妥善安置。高层次人才配偶为企业人员的，安置原则为：事业单位引进的高层次人才，其配偶由引进高层次人才的单位协调相关企业安置；企业引进的高层次人才，其配偶由引进高层次人才的企业安置或者由引进高层次人才的企业协调其他企业安置。《办法》还规定，对因健康状况、个人能力等原因无法就业的高层次人才配偶，将给予生活补贴，并为其缴纳城乡居民基本养老保险和基本医疗保险。（记者 张茜翼）</p></body></html>