<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1341</title>
</head>
<body>
<h1>
中国舞剧《朱鹮》在纽约林肯中心上演-新华网
</h1>
<p id="demo">/</p><p>新华社纽约１月５日电（记者王文）５日晚，由上海歌舞团精心创作的舞剧《朱鹮》在纽约林肯艺术中心举行美国首演，精彩的演出赢得观众经久不息的掌声和欢呼。这部舞剧以朱鹮这一珍稀动物为主角，演员用柔软、细腻的肢体语言表达和诉说人类在现代化、城市化进程中与自然环境休戚与共的关系。舞剧在丹青水墨般的古代田园布景和男耕女织的和美场景中揭幕。男女主角在河水边、芦苇旁翩然起舞，营造了朱鹮栖息地唯美的意境。舞剧下半场展现人类破坏环境使朱鹮濒临灭绝，朱鹮的脆弱和挣扎给观众以全新的视觉冲击。最终，人类环保意识增强和科学家的努力拯救了朱鹮，使其获得新生。模拟朱鹮的形象和神态是舞剧的一大亮点，也是创作之初的一个难点。舞剧导演、编舞佟睿睿提炼出最能代表朱鹮的舞姿，如众鹮在水云间闲庭信步之“涉”舞，七鹮驻足溪流沼泽之“栖”舞，众鹮在云开日出之“翔”舞，使其优雅而高贵。主演朱洁静说，表演借鉴了西方的芭蕾元素，运用东方古典的身韵和现代的手法，抛开了舞种的限制，“是只属于朱鹮的舞蹈语汇”。《朱鹮》自２０１４年首演至今已演出超过２００场，受到观众的喜爱。舞剧的创作者们说，舞台上的朱鹮既是美的化身，更是人类对于美好事物的永恒追求。观众肯·丁格尔丁非常喜欢这部舞剧，称赞舞蹈演员的表现令人惊叹：“女演员模仿朱鹮的动作太传神了！”作为中国对外文化集团公司打造的“中华风韵”系列演出，《朱鹮》在林肯艺术中心演出３场，随后在波士顿舒伯特剧院演出２场。上海电视节闭幕式红毯舞蹈系毕业照秀一字马你去商场,真的是为了购物吗?费孝通田野调查奖征文活动章子怡怀抱8月爱女拍封面过去15年你错过多少次发财机会胡歌现身春晚彩排王祖贤49岁生日曝新照容祖儿否认结婚传言2016“互联网+”下的创业“热词”反手摸肚脐“炫腹”走红游客与大白鲨近距接触近距离拍摄火山岩浆柬埔寨训练巨鼠探地雷</p></body></html>