<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1344</title>
</head>
<body>
<h1>
备战踏上新起点，练兵展现新气象——2018中国军队新年开训全景大扫描-新华网
</h1>
<p id="demo"> 2018-01-06 18:52:42</p><p>武警重庆总队官兵进行冬季野营拉练（1月3日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（曹峰 摄）驻守在平均海拔4000米以上的果洛骑兵连进行骑兵紧急拉动演练（1月3日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（文明 摄）西部战区空军航空兵某旅战机快速升空，飞赴对抗空域展开训练（1月3日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（陈庆顺 摄）</p><p></p><p>   上一页 1 2 3 4  </p><p>   上一页 1 2 3 4  </p><p></p><p></p></body></html>