<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1345</title>
</head>
<body>
<h1>
备战踏上新起点，练兵展现新气象——2018中国军队新年开训全景大扫描-新华网
</h1>
<p id="demo"> 2018-01-06 18:52:42</p><p>海军陆战队在湛江某军港展开登陆装载训练（1月3日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（蒲海洋 摄）火箭军“常规导弹第一旅”官兵组织导弹发射训练（1月3日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（陈平 摄）武警山西总队官兵在冬季实战化野营拉练中快速出击（1月5日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（孙玉山 摄）</p><p></p><p>   上一页 1 2 3 4 下一页  </p><p>   上一页 1 2 3 4 下一页  </p><p></p><p></p></body></html>