<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1346</title>
</head>
<body>
<h1>
备战踏上新起点，练兵展现新气象——2018中国军队新年开训全景大扫描-新华网
</h1>
<p id="demo"> 2018-01-06 18:52:42</p><p>陆军第76集团军某旅合成二营火力连利用反坦克导弹对“敌”目标点实施摧毁（1月4日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（李忠元 摄）陆军第73集团军某陆航旅组织跨昼夜多课目连贯训练，锤炼飞行员全天候驾驶技能和实战化水平（1月4日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（何生 摄）陆军第79集团军某陆航旅在复杂条件下组织大集群编队演练，提高实战化水平（1月5日摄）。从北疆边陲到南海之滨，从东海海域到雪域高原，全军4000多个训练场同时开训，一派生龙活虎、热火朝天的宏阔图景。 新华社发（李宁 摄）</p><p></p><p>   上一页 1 2 3 4 下一页  </p><p>   上一页 1 2 3 4 下一页  </p><p></p><p></p></body></html>