<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1347</title>
</head>
<body>
<h1>
国家林业局：鼓励各地开展生态区位商品林赎买等改革-新华网
</h1>
<p id="demo"> 2018-01-06 22:07:26</p><p>据中国之声《全国新闻联播》报道，国家林业局表示，当前林业改革总体相对滞后，产权模式结构单一，社会资本难以进入，今年将继续抓好集体林业改革试验示范，鼓励各地开展重点生态区位商品林赎买等改革，重点处理好经营权问题。国家林业局数据显示，截至目前，全国确权集体林地面积27.05亿亩，明晰产权、承包到户的任务基本完成，集体林权抵押贷款余额从300亿元增加到818亿元；中央财政森林保险保费补贴政策覆盖全国，保险面积达20.44亿亩。国家林业局局长张建龙坦言，林业改革取得了一定成效，但总体相对滞后，产权模式结构单一，社会资本难以进入，林业的活力和动力都不足。张建龙指出，当前，林业改革已经进入攻坚阶段，要敢于在关键领域寻求突破，大胆创新产权模式，推进国有自然资源有偿使用，拓展集体林经营权权能，健全林权流转和抵押贷款制度，以吸引更多资本参与林业建设。要大力推动林业科技、金融和管理创新，优化要素配置，培育新兴产业，全面增强林业发展内生动力。张建龙表示，今年将继续抓好集体林业改革试验示范，鼓励各地开展重点生态区位商品林赎买等改革。积极推行集体林地“三权分置”，完善集体林业社会化服务体系，加快培育新型林业经营主体，促进多种形式的适度规模经营。张建龙认为，集体林权制度改革，经营权这个权能怎么来搞好，盲目的规模不合适，不符合国情，但是如果是完全分给老百姓了，老百姓看都不去看一眼，怎么把经营权调动起来，这是集体林权制度改革建设最重要的问题。当然现在存在的问题就是“三过”，租期过长、面积过大、租金过低，要处理林权承包权、经营权的纠纷，现在是一大问题。(记者沈静文 见习记者万存灵) </p></body></html>