<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1349</title>
</head>
<body>
<h1>
中缅警方合作连续破获多起案件缴获毒品１６０公斤-新华网
</h1>
<p id="demo"> 2018-01-06 15:39:02</p><p>新华社昆明１月６日电（记者王研赵珮然）中缅警方合作禁毒成效显著，去年末破获多起案件，缴毒１６０公斤，并跨国抓获多名犯罪嫌疑人。云南省公安厅禁毒局５日发布情况通报，２０１７年１２月１９日，云南省临沧公安边防支队获悉，一批藏匿毒品将从缅甸果敢自治区老街县转移至我国境内贩卖。根据线索，临沧市公安局禁毒支队启动中缅禁毒执法合作机制，由中国南伞边境禁毒联络官办公室协调缅方协助破案。缅甸老街警方于１９日１７时许，在缅甸果敢自治区老街一甘蔗地内查获冰毒可疑物６袋，毛重１６０公斤，查获运毒车一辆，抓获犯罪嫌疑人李某某（缅甸老街人）。当日，缅甸警方将查获的毒品移交中方，犯罪嫌疑人李某某及查获的运毒车辆由缅甸警方依法处理。通报还显示，去年末，云南警方通过中缅国际禁毒合作机制，分别帮助重庆市荣昌警方、吉林省长春警方抓获外逃至缅甸老街的涉毒犯罪嫌疑人邓某某和季某某。目前，犯罪嫌疑人邓某某、季某某已分别移交荣昌警方和长春警方做进一步调查处理。</p></body></html>