<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1360</title>
</head>
<body>
<h1>
当我们讨论“国家宝藏”时，我们在讨论什么？-新华网
</h1>
<p id="demo"> 2017-12-28 15:35:52</p><p>图表：《盗/守墓笔记》五</p><p>在这场“猫鼠游戏”中，怎样保护更多的“国家宝藏”？虽然打击力度不断增大，但文物犯罪形势依然严峻。甚至有盗墓贼形容，在盗墓案件高发的陕西，盗墓就像“赶集会”。要斩断伸向地下“国家宝藏”的黑手，必须出口与入口“两头堵”。首先要“堵”住盗掘文物销赃渠道。从报道来看，透明度低、流通性差的私人博物馆，往往是盗墓贼理想的销赃地，而目前我国对于私人博物馆收藏文物还没有明确的法律界定。因此，必须对私人博物馆实行更严格的准入制度。需要警惕的是，文物收藏与公职人员的贪污腐败之间，还存在着说不清道不明的灰色地带，反腐重拳还需加强。淳化“7·20”系列盗墓案警方通报中，就有甘肃、河南两省政协委员利用私人博物馆参与倒卖文物，其中一人外逃后仍逍遥法外。其次，打击文物犯罪的同时也需要主动预防，提高全民文物保护意识。值得欣慰的是，当一部以文物为主题的节目引起大众广泛讨论时，也意味着我们正在做这件事。文物是中华文明、中国革命的精神标识和文化标识，是国家象征、民族记忆的情感依托和物质载体。保护文物就是保护国家与民族的历史，守护中华民族的根与魂。文物背后遗失与守护的故事，与燃起的自豪感一同被唤醒的大众文保意识，正是当下各种“文物热”现象的真正意义所在。 </p><p></p><p></p><p></p><p></p><p>   上一页 1 2 3 4 5 6 下一页  </p><p>   上一页 1 2 3 4 5 6 下一页  </p><p></p><p></p></body></html>