<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1361</title>
</head>
<body>
<h1>
当我们讨论“国家宝藏”时，我们在讨论什么？-新华网
</h1>
<p id="demo"> 2017-12-28 15:35:52</p><p>图表：《盗/守墓笔记》四攻守：合力之策，魔高一尺道高一丈11月16日，中国被盗（丢失）文物信息发布平台上线，截至目前，公安机关和文物部门已搜集了2000余条被盗、丢失文物信息数据，并在平台发布了207条文物信息，之后还会分期分批发布。公众如获悉有关线索，可在平台直接进行举报。同时，这些文物信息发布后，也会上传到国际刑警组织的被盗艺术品数据库，如果在国外发现了相关的交易活动，根据国际公约，我们就可以主张权利将它追索回国。盗墓与文保，在这场旷日持久的“攻守战”中，尽管魔高一尺，我们也是道高一丈。为了切实把老祖宗留下的宝贵遗产管理好、守护好，国务院办公厅印发了《关于进一步加强文物安全工作的实施意见》，全面提升文物安全管理水平。“两高”还颁布了《关于办理妨害文物管理等刑事案件适用法律若干问题的解释》，文物犯罪定罪量刑标准更加细化完善。针对一些重特大文物犯罪案件，公安部采用了挂牌督办、直接指挥的形式，加大打击力度。今年6月至8月，公安部部署全国公安机关开展了为期三个月的打击文物犯罪专项行动，挂牌督办了一批文物大案。针对文保监管力量不足的问题，在人防之外，也加强了技防。比如，利用卫星遥感、无人机技术，对文物实施监测，覆盖一些只靠文保人员走不到、看不到的地方。</p><p></p><p></p><p></p><p>   上一页 1 2 3 4 5 6 下一页  </p><p>   上一页 1 2 3 4 5 6 下一页  </p><p></p><p></p></body></html>