<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1363</title>
</head>
<body>
<h1>
当我们讨论“国家宝藏”时，我们在讨论什么？-新华网
</h1>
<p id="demo"> 2017-12-28 15:35:52</p><p>图表：《盗/守墓笔记》二伤痕：盗洞可以填回去，然后呢？新华社一篇报道中曾提到，在陕西秦雍城遗址，一位秦国国君的墓葬区累计有270多个盗洞，这些大大小小的盗洞来自多个朝代，算下来，自这位国君下葬后平均每10年就会被一个盗墓贼“探望”一次。在公安机关公布的盗墓大案中，很多案件侦查的起点，也都是盗洞的发现。盗洞是盗墓贼出入墓葬的通道，也是盗墓行为存在的直接证据，因此有不少人会将盗洞掩埋，以掩盖犯罪痕迹。10月份终审被判死缓的姚玉忠，是新中国成立以来最大盗墓案——公安部部督2015一号特大盗掘古文化遗址、古墓葬系列案件头号主犯，盗墓界人称“祖师爷”。媒体报道，姚玉忠有一个“高明”的细节：盗墓时带一包草籽，临走回填盗洞，撒下一把草籽，用不了多久，挖开的土上就长草了。</p><p>盗洞可以回填，但被破坏的墓葬与遗址，真的会像伤疤愈合一样没事了吗？在考古专家眼中，盗掘一座古墓，不光文物被盗，还会破坏墓葬中原有的层位、器物的共出关系及其携带的各种文化信息，而这些恰恰是研究中国古代文明的重要依据。盗墓，对于研究文物及其所处历史时期的社会文化，是巨大的灾难。</p><p></p><p></p><p></p><p>   上一页 1 2 3 4 5 6 下一页  </p><p>   上一页 1 2 3 4 5 6 下一页  </p><p></p><p></p></body></html>