<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1366</title>
</head>
<body>
<h1>
河北警方破获一起特大互联网销售假烟案 涉案金额７．８亿余元-新华网
</h1>
<p id="demo"> 2018-01-04 17:49:03</p><p>新华社石家庄１月４日电（记者 杨帆、杨知润）记者日前了解到，在河北省公安厅组织开展的打击侵犯知识产权犯罪“春雷行动”中，衡水市公安机关与当地烟草管理部门协同作战，成功侦破了“５·１６”特大互联网销售假烟案，涉案价值７．８亿余元，目前已抓获犯罪嫌疑人９３名。２０１７年５月１５日，衡水市公安局接到烟草专卖部门通报线索，有人通过网上交易订货、快递物流配送、电子交易转账的方式买卖假烟。衡水市公安局、烟草专卖局立即成立专案组开展侦查，经深入挖掘，一个从产到销，涉及全国３１个省份、涉案金额７．８亿余元的巨大犯罪网络浮出水面。经调查发现，该犯罪网络涉案人员通过微信平台以虚拟身份进行联系，通过物流快递或当面交付的方式小批量、多批次地购进和销售非法卷烟，通过网上交易方式交割货款，犯罪手段隐蔽，反侦查能力较强。此行为严重干扰了国家的烟草专卖秩序，给国家税收造成了严重损失。２０１７年１２月８日，河北省公安机关联合辽宁、黑龙江、江苏、浙江等十几个省份公安机关，对“５·１６”特大互联网销售假烟案集群战役进行收网。目前，已抓获犯罪嫌疑人９３名，捣毁假烟生产和仓储窝点２５个，缴获制假烟机３台，现场查获７．６万余条假冒知名品牌香烟，烟叶、烟丝１７．５６吨，涉案价值７．８亿余元。目前，有关案件正在进一步审理中。</p></body></html>