<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1367</title>
</head>
<body>
<h1>
云南昌宁警方捣毁一特大跨境贩毒网络 缴毒逾130公斤-新华网
</h1>
<p id="demo"> 2018-01-04 16:45:49</p><p>新华社昆明1月4日电（记者 林碧锋）经过4个多月的缜密侦查，云南省保山市昌宁县公安局近日成功捣毁一境内外毒贩相互勾结的特大贩毒网络，抓获包括1名缅甸籍货主在内的14名犯罪嫌疑人，缴获冰毒131.142公斤。据通报，2017年9月初，昌宁县公安局禁毒大队获悉，有几名毒贩正筹集资金准备到境外组织购买一批毒品，运回国内贩卖。经侦查，警方很快锁定嫌疑人，并于9月19日抓获李某甲、胡某甲、傅某3名犯罪嫌疑人，缴获冰毒68.851公斤。经后续调查及线索分析研判，警方判定该案背后是一个分工明确的贩毒网络。办案民警随即顺藤摸瓜，分别前往境外、广东、江西和云南等地，逐步摸清该贩毒团伙境内外人员结构，一个以胡某乙为首的跨境贩毒团伙由此浮出水面。经侦查，2017年12月11日22时许，办案民警在云南临沧抓获犯罪嫌疑人李某乙、杨某某2人，并缴获冰毒62.291公斤。当日，专案组在云南楚雄、广东、江西同步收网，抓获犯罪嫌疑人胡某乙、彭某某等5人。为防止境外货主察觉后藏匿踪迹，警方迅速对其展开追捕，并于12月22日在云南临沧抓获包括缅甸籍境外货主鲁某某在内的4名犯罪嫌疑人。至此，警方成功捣毁该特大跨境贩毒网络，共抓获犯罪嫌疑人14名，缴获冰毒131.142公斤。目前，14名犯罪嫌疑人已被公安机关依法刑事拘留，案件正在进一步侦办中。</p></body></html>