<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>137</title>
</head>
<body>
<h1>
北京城市副中心今年重点推进两个公共交通项目-新华网
</h1>
<p id="demo"> 2018-06-14 19:46:01</p><p>新华社北京6月14日电（记者孔祥鑫）记者14日从北京市发展改革委获悉，今年，北京城市副中心在公共交通领域，将重点实施广渠路快速公交系统、土桥公交中心站等项目，同时不断优化调整公交线路，努力建成现代化的公交基础设施体系。据介绍，连接北京中心城区与城市副中心之间的快速公交走廊——广渠路快速公交系统工程5月28日正式开工建设。该项目西起东二环路的广渠门桥，东至通州东小营公交中心站，全长约26公里。全线目前拟设站16对。该项目沿线集公交专用道、高架快速路、地下隧道等交通设施于一体，将有效缩短乘客通行时间，大幅度提高北京城市副中心与中心城区之间的通行效率。土桥公交中心站位于北京市通州区临河里路与九棵树东路相交路口东北角，项目总用地规模为2.9万平方米。该项目建成后将成为北京城市副中心及通州地区唯一一个纯电动公交场站，日充电能力达到210辆，对城市副中心及通州区新能源车辆的推广发挥重要的引领示范作用。此外，北京市公交集团依托道路资源，不断优化调整公交线路。目前，在通州区境内行驶的常规公交线路共82条，主要包括通州区往返中心城区的线路，连接中心城区、通州区及河北省相邻县市的线路，通州区内的部分线路等。</p></body></html>