<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1372</title>
</head>
<body>
<h1>
贵州一县水务局怠于履责被判违法-新华网
</h1>
<p id="demo"> 2018-01-04 16:51:05</p><p>新华社贵阳１月４日电（记者 汪军）记者从贵州检察机关了解到，贵州省凤冈县水务局怠于履行河道监管职责，被当地检察机关提起公益诉讼。贵州省湄潭县人民法院近日宣判，凤冈县水务局怠于履责的行为违法，并责令其依法全面履职。２０１７年初，凤冈县检察院在履行职责中发现，该县六池河流域“河坎房”问题突出，引发高度关注，群众反映强烈。凤冈县检察院立即行动，以该现象为线索展开调查。经查，２００９年以来，第三人未经水务部门批准，在乌江水系六池河支流六里河上修建长木屋、拦河坝、凉桥等设施，六池河原生河道被破坏，国家和社会公共利益长期遭受侵害。凤冈县水务局作为凤冈县水利行政管理部门，依照相关法律法规，对其辖区内河道范围具有保护和监管职责，应当依法履行水资源保护及水域及其岸线的管理和保护工作等法定职责，对违法占用河道、河滩，使国有河道持续处于受侵害状态，且影响河道泄洪功能，威胁国家、集体和个人的生命财产安全的违法行为，应当予以监管。法院审理认为，凤冈县水务局怠于履职，致使违法行为处于持续状态，国家和社会公共利益持续受到侵害，其行为已构成怠于履行法定职责，应当确认违法。为保护生态环境，督促行政机关依法积极履行职责，维护国家和社会公共利益，法院依法作出判决。</p></body></html>