<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1373</title>
</head>
<body>
<h1>
安徽：科研院所仪器设备有望开放共享-新华网
</h1>
<p id="demo"> 2018-01-04 16:48:34</p><p>新华社合肥1月4日电（记者 张紫赟）记者从安徽省政府新闻办获悉，该省将从实施科研院所创新创业共享行动、强化知识产权保护运用、完善科技成果信息登记制度、建设专业化众创空间四个方面，进一步加快科技成果转化。为提高科技成果转化能力和创新创业能力，安徽将实施科研院所创新创业共享行动，推进仪器设备资源开放共享，探索仪器设备所有权和经营权分离机制，对于财政资金购置的仪器设备，探索引入专业服务机构进行社会化服务等多种方式。针对知识产权保护问题，安徽计划建立专利、商标、版权综合执法机制，完善知识产权快速维权机制，支持在合芜蚌国家自主创新示范区和产业集聚发展基地建立快速维权援助中心。同时加强重点产业知识产权海外布局和风险防控，提高企业应对知识产权国际纠纷能力。据介绍，安徽将完善科技成果信息登记制度，探索在战略性新兴产业相关领域率先建立利用财政资金形成的科技成果限时转化制度，除涉及国防、国家安全、国家利益、重大社会公共利益外，在合理期限内未能转化的科技成果，可依法强制许可实施转化。此外，安徽将支持龙头企业、高校、科研院所围绕优势细分领域建设专业化众创空间，引导众创空间向专业化、精细化方向升级。并探索将创投孵化器等新型孵化器纳入科技企业孵化器管理服务体系，享受相应扶持政策。</p></body></html>