<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1374</title>
</head>
<body>
<h1>
陕西两年易地扶贫搬迁入住安置人员超40万人-新华网
</h1>
<p id="demo"> 2018-01-04 16:53:03</p><p>新华社西安1月4日电(记者 毛海峰)据牵头易地扶贫搬迁工作的陕西省国土资源厅介绍,到2017年12月底,陕西省2016年、2017年通过易地扶贫搬迁已入住安置人员达到42.75万人。2017年,陕西完善修编了《移民(脱贫)搬迁“十三五”总体规划》,并在各地大力推行精准搬迁、精确施策、精细管理工作模式。截至2017年12月底,全省2016年、2017年易地扶贫搬迁任务共开工建设用房18.08万套,计划安置62万人;已竣工17.73万套,可安置60.87万人;已入住12.63万户,已安置42.75万人,完成总投资223.33亿元。2017年,陕西省始终将搬迁和脱贫系统谋划、并联推进、配套实施,做到“搬前精心谋、搬中配套建、搬后快速跟”。把群众搬迁到便于就业和发展生产的地区;在安置方式上以集中安置为主,鼓励进城入镇,推行易地扶贫搬迁与避灾、工程搬迁群众融合安置,便于“以富带穷”,确保实现搬迁一户脱贫一户。同时,注重让产业、就业、健康、教育、生态、社会兜底等扶贫项目、资金和帮扶措施惠及搬迁群众,并将搬迁后续帮扶项目作为财政涉农资金整合使用的优先方向,形成政策叠加效应。加快社区配套园区建设,培育、引进劳动密集型加工企业,打造搬迁群众能脱贫、逐步致富的产业体系、就业支撑、创业平台,彻底解决搬迁群众后顾之忧。</p></body></html>