<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1375</title>
</head>
<body>
<h1>
“实验３”号科考船进入马六甲海峡-新华网
</h1>
<p id="demo"> 2018-01-04 16:09:30</p><p>新华社“实验３”号１月４日电（记者 张建松）正在执行中国和巴基斯坦首次北印度洋联合考察任务的中科院南海海洋研究所“实验３”号科考船，４日清晨进入马六甲海峡。据“实验３”号科考船船长路正兵介绍，“实验３”号２０１７年１２月３０日从广州起航以后，由于南海北部受冷高压影响，海况较差。为了避开大风浪区，船舶实时调整了航线，沿着岸边航行，一路南下。根据航行计划，约需两天时间穿过马六甲海峡，进入印度洋。此后一直向西航行，经过斯里兰卡后，改向西北航行，进入阿拉伯海。预计１３日抵达巴基斯坦卡拉奇港。马六甲海峡位于马来半岛和印度尼西亚所属的苏门答腊岛之间，处于赤道无风带，终年高温多雨，风平浪静，是海盗高发区。为了保障船舶安全，“实验３”号自２日晚起，已安排船员和考察队员昼夜值班，巡查瞭望。</p></body></html>