<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1376</title>
</head>
<body>
<h1>
行政执法与司法审查良性互动促进资本市场监管进步-新华网
</h1>
<p id="demo"> 2018-01-04 15:41:18</p><p>新华社北京1月4日电  题：行政执法与司法审查良性互动促进资本市场监管进步新华社记者 刘慧岁末年初，证监会发布了这样一组数据：2015年、2016年和2017年，证监会系统行政处罚诉讼案件分别为31件、43件和48件，连续三年创造历史新高，行政处罚连续三年诉讼案件保持实体“零败诉”。数字背后折射出，行政执法与司法审查良性互动正在促进资本市场监管的进步。这种进步体现在两个方面：第一，倒逼监管部门从源头上提高行政执法的质量，不能“任性”运用权力；第二，更好地维护市场公平正义，震慑证券期货市场各类违法行为。纵观这些案例，行政处罚诉讼案件呈现多样化、复杂化、新颖化的特点，案件类型既包括证券市场操纵、内幕交易、信息披露违法、短线交易、中介机构未勤勉尽责等传统案件，也包括期货市场操纵、编造传播虚假信息、上市公司大股东违法减持、欺诈发行等历史上首次出现的新型案件。分析案例可以看出，法院审判过程中对进一步提高依法行政水平提出了有益建议，有助证监会不断提升依法行政水平。监管部门的处罚工作正向着充分尊重司法审查，主动适应司法审查的新形势、新要求，遵循监管规律、审判规律，严守法律底线，坚持专业化方向发展，注重提升行政处罚的质量与效能。同时，证监会的胜诉率始终保持高水平，其执法原则和标准得到进一步巩固和确认，执法权威和公信力得到进一步加强。就像欣泰电气欺诈发行案二审开庭中，证监会主席助理黄炜郑重声明的那样，证监会应诉不仅是为证监会自身行政行为的合法性抗辩，更是为被违法行为侵害、遭受巨额经济损失的广大中小投资者抗辩，更是为维护证券市场稳定健康运行的正常秩序而抗辩。法治化、市场化、国际化是资本市场改革发展的方向。法治化是资本市场健康发展的基石。行政执法与司法审查良性互动向市场传递了监管部门的法治理念，推动了资本市场的法治进程。</p></body></html>