<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1377</title>
</head>
<body>
<h1>
厦门警方发布春运电信网络诈骗预警-新华网
</h1>
<p id="demo"> 2018-01-04 14:53:00</p><p>新华社厦门1月4日电（记者颜之宏）厦门市反诈骗中心4日向社会发布春运电信网络诈骗预警，根据往年大数据分析结果和立案情况，厦门警方梳理出假网站喊你来买“特价票”、假好友请你帮买“回国票”、假短信喊你来“机票退改签”等三类票务诈骗行为，提醒广大群众切莫落入春运电信网络诈骗圈套。据厦门市反诈骗中心相关负责人介绍，2017年春运期间，厦门市反诈骗中心共接报与“春运票务”有关的诈骗警情29起，其中冒充国外QQ好友回国购机票诈骗18起，机票改签11起。而近半个月以来已接报各类票务诈骗警情14起。在厦门警方披露的一起案件中，厦门的林女士就因为想要购买“特价机票”上当受骗。去年12月20日，林女士担心春节时回老家的机票不好买，于是就提前上网搜索厦门到成都的特价机票，发现一个名为“中国民航订票网”的网站机票最便宜，于是购买了3张机票，并用支付宝付款2958元。可等了足足3天，林女士查询该网站自己的订单信息时，系统仍然显示“未出票”，林女士就打电话咨询航空公司官方客服，航空公司称其有购票登记但还没有付款成功。得到此回复后的林女士又跟“网站客服”QQ联系，对方称林女士之前填写的乘机人身份信息有误，导致出票失败，可以办理退款，但退款前林女士必须先缴纳一笔1000元的“保证金”，林女士在缴纳了1000元“保证金”后，发现自己被对方拉黑了。警方提醒，防范春运电信网络诈骗应当做到以下3点：第一，通过正规渠道订购票务，不要轻信“低价票”“折扣票”等虚假信息；第二，收到好友帮忙购买机票等信息时，一定要多方核实情况，不向陌生账号转账汇款；第三，当收到航班延误、取消短信时，不要直接联系短信提供的电话号码，应向航空公司官方客服或机场工作人员询问，切记退票、退款是不需要输入密码和验证码的，更不需要先行汇款。</p></body></html>