<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1378</title>
</head>
<body>
<h1>
民政部：2017年共救助流浪乞讨人员300多万人次-新华网
</h1>
<p id="demo"> 2018-01-04 14:56:51</p><p>据民政部网站消息，1月2日至4日，全国民政工作会议在北京召开。会议总结2017年工作，分析民政工作面临形势，研究部署2018年任务。会议指出，2017年全年共救助流浪乞讨人员300多万人次。会议提到，2017年，脱贫攻坚、民生兜底保障作用有效发挥，全国所有县(市、区)农村低保标准达到或超过国家扶贫标准，城乡低保标准同比分别增长9.9%和16.6%，全国所有县(市、区)建立困难群众基本生活保障工作协调机制，残疾人两项补贴制度分别惠及1000多万残疾人，帮助76万名无人监护的农村留守儿童落实监护措施、18万名农村留守儿童登记落户、1.6万名农村留守儿童返校复学。会议提到，2017年，大幅提高中央有关救灾补助标准，有效应对各种重特大自然灾害，全面完成2016年因洪涝灾害倒损民房恢复重建任务。养老服务顶层设计全面加强，开展全国养老院服务质量建设专项行动，4万余家养老院纳入排查整治，养老服务设施和服务质量明显改善。2017年，城乡社区治理水平和服务能力进一步提升，全国社区综合服务设施达到16.2万个。全国性社会组织党的组织和党的工作实现“两个全覆盖”，社会组织涉企收费得到清理规范，行业协会商会与行政机关脱钩试点改革任务完成过半。会议提到，2017年，全面排查整改全国救助和托养机构，实施“寒冬送温暖”专项行动，全年共救助流浪乞讨人员300多万人次。会议强调，2018年各级民政部门要不断提升防灾减灾救灾能力，把工作重心从应急救灾逐步转到日常防灾减灾上来。加强养老服务顶层设计，完善制度措施，更好满足广大老年人对幸福美好晚年生活的需要。加快发展社会福利和慈善事业，继续完善残疾人两项补贴制度，支持鼓励慈善组织健康发展。会议强调，2018年各级民政部门要推动健全农村留守儿童和妇女、老年人关爱服务体系，加强和改进生活无着流浪乞讨人员救助管理工作，深化殡葬改革，规范婚姻收养工作。</p></body></html>