<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>138</title>
</head>
<body>
<h1>
贵阳警方捣毁一制销假证的犯罪团伙 查获2000余枚假章-新华网
</h1>
<p id="demo"> 2018-06-14 20:06:26</p><p>图为警方缴获的部分物品。贵阳警方供图记者14日从贵阳警方举行的发布会上获悉，贵阳警方日前捣毁一制销假证的犯罪团伙。警方现场查获2000余枚假公章；半成品假证1000余本，涉及身份证、户口册、房屋产权证等几百余种。2018年4月12日，贵阳市公安局治安支队三大队民警在工作中发现一条制贩假证的重大案件线索，一微信号为“荆敏”的犯罪嫌疑人通过微信方式招揽、承接制贩假证生意，在贵阳市南明区火车站周边大肆开展制贩假证活动，涉嫌伪造、变造、买卖国家机关公文、证件、印章犯罪。得到这一案件线索后，警方迅速成立专案组全力侦破此案，经过40多天的工作，终于查清了该团伙的犯罪事实。2018年5月24日，贵阳市公安局治安支队联合南明分局出动10余警力，在市区一出租屋内将正在制作假证的曾某荣、黄某周成功抓获。图为警方缴获的部分物品。贵阳警方供图警方当场查获电脑、打印机、扫描仪到晒版机、压膜机、钢印、打码机、专门制作身份证的机器等各种制假设备；查获2000余枚各个政府机构、事业单位、教育院校的假公章；半成品假证1000余本，涉及身份证、户口册、房屋产权证等各类证件几百余种。目前，警方已抓获犯罪嫌疑人6名，案件正在进一步调查处理中。贵阳警方将加大击制贩假证犯罪力度，加强对重点区域的整治，重点打击制贩假证的黑工厂、黑作坊、黑窝点，形成对打击制贩假证统一打击、统一清理、统一整治、统一管控的高压态势。警方特别提醒：买卖假证不仅严重扰乱社会治安秩序，更会对社会诚信建设构成严重危害。不仅制贩假证要面临法律的严惩，购买、使用假证也同样会被追责。广大市民如发现兜售假证人员，应立即报警并向警方积极提供违法犯罪线索。(记者 张伟)</p></body></html>