<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1380</title>
</head>
<body>
<h1>
重庆破获一“贷款诈骗案”-新华网
</h1>
<p id="demo"> 2018-01-04 16:27:17</p><p>新华社重庆1月4日电（记者 陈国洲）无抵押、无征信，只需办卡就能获得30万-50万元贷款？这样的“好事”背后却是一个庞大的诈骗陷阱。近日，重庆市公安部门一举破获涉及全国27个省区市、涉案数千万元、7000多人受骗的特大“贷款诈骗案”，捣毁犯罪团伙窝点7个，抓获犯罪嫌疑人97人。重庆市民张先生今年经人介绍，在河南得创易购电子商务有限公司业务员李某某诱骗下，办理了“得创易购”网络商城消费卡。工作人员告诉他，他们放款无需抵押、无需征信，只要办理一张网络商城消费卡就可以获得贷款。于是，张先生缴纳了4500元办卡费并得到了实际贷款1182元。因远不及自己想申贷的金额，张先生按工作人员要求还清1182元借款，又在“得创易购”网上商城购买了一只手表。但这次他申请30000元的贷款却迟迟放不下来，业务员解释说是他消费太少，需要消费更多才能贷款。这时，张先生才感觉自己跌入了连环诈骗陷阱，随即报警。接案后，重庆市公安局渝北分局通过大量调查工作，明确这是一个以“公司化”运作形式为掩护的跨区域系列电信诈骗公司，总公司河南得创易购电子商务有限公司及分公司河南凌玺电子商务有限公司位于河南省郑州市，另外4家加盟商分别位于河南、山西、河北、湖北4省，在27个省区市开展“贷款业务”。公司以加盟模式发展加盟商、招募会员，以持续扩张趋势危害人民群众的财产安全。经50多天的细致侦查，警方掌握了诈骗团伙的组织架构，锁定了主要成员及其落脚点后，调集230多名警力，分9组从重庆远赴河南、山西、湖北、河北等地，在约定的同一时间一举抓获犯罪嫌疑人97人，扣押涉案电脑153台，手机102部。</p></body></html>