<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1382</title>
</head>
<body>
<h1>
李敬忠被追授为“全国公安系统一级英雄模范”-新华网
</h1>
<p id="demo"> 2017-12-25 11:30:32</p><p>新华社昆明12月25日电（记者丁怡全）云南省西双版纳傣族自治州景洪市公安局禁毒大队原副大队长李敬忠，在2016年11月4日执行抓捕外籍毒贩任务中颈部中弹后仍不退缩，奋勇向前，不幸被毒贩再次开枪击中，由于伤势严重，经抢救无效壮烈牺牲，年仅32岁。近日，人力资源和社会保障部、公安部联合发文追授李敬忠为“全国公安系统一级英雄模范”。李敬忠2007年参加公安工作，生前为西双版纳州景洪市公安局禁毒大队副大队长，一级警司警衔。李敬忠勤奋好学、刻苦钻研，练就了过硬的侦查办案本领，成长为禁毒战线的业务能手和骨干。面对急难险重任务，他不畏艰险、冲锋在前，先后参与侦破毒品案件380余起，抓获犯罪嫌疑人350余名，缴获各类毒品3800余千克、毒资9000余万元、枪支29支、子弹1500余发，为严厉打击毒品犯罪活动作出了突出贡献，曾荣立个人三等功3次。</p></body></html>