<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>139</title>
</head>
<body>
<h1>
贵州搭建教育精准扶贫系统 “不让一个学生因贫失学”-新华网
</h1>
<p id="demo"> 2018-06-14 19:52:53</p><p>贵州省教育厅召开十三五教育信息化应用新闻通气会。冷桂玉 摄记者14日从贵州省教育厅举行的十三五教育信息化应用新闻通气会上获悉，贵州教育精准扶贫系统自2018年1月进行全省全覆盖应用培训以来，截至目前，已精准资助贵州全省建档立卡贫困家庭学生42.9万人。近年来，贵州教育部门将大数据发展战略运用于教育信息化工作中，巧做大数据“加减法”，打造了贵州省教育精准扶贫系统等一批体现大数据“聚通用”效能的教育信息化管理平台。贵州省教育厅党组成员、副厅长黄健表示，贵州教育精准扶贫系统以扶贫部门确认的贫困人口数据为基准，将之与学籍数据、高考招生录取数据进行对比及关联性分析，自动在入学前将贫困学生名单推送给各相关学校。贫困生办理入学手续时，学校只需核实其个人信息，并相应完善贫困学生资助金额，即可减免学费。系统简化了资助业务流程，提高了识别准确度和工作效率，实现了“让数据多跑路，让群众少跑腿”，做到了“不让一个学生因贫失学”“不让一户脱贫户因学致贫”。贵州省教育精准扶贫系统从贫困生资助“小切口”入手，将教育数据与公安、扶贫、民政等部门数据共享互通，实现贫困生精准识别，解决传统中“先收后退、先收后返”等问题，简化流程，既提高了大数据服务民生水平，又确保了国家资助资金“不乱发、不错发、不多发、不少发”。贵州省教育精准扶贫系统从2017年3月开始建设，同年9月在贵州省黔西南州进行试点应用，2018年1月，进行全省全覆盖应用培训，推动全省全面应用。截至2018年3月31日，贵州省教育精准扶贫系统以扶贫部门确认的全省840万条贫困人口数据为基准，精准资助全省建档立卡贫困家庭学生429774人。在教育信息化的推动下，贵州还通过“教学点数字教育资源全覆盖”项目建设，偏远山区的1791个教学点基本实现了设备配置、资源配送和教学应用“三到位”，率先在中国完成省级全员培训，有效地解决了长期以来教学点师资短缺和水平不高的实际困难，提高了教学质量。(冷桂玉)</p></body></html>