<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1393</title>
</head>
<body>
<h1>
网上通缉逃犯车管所办业务，被当班女警智擒-新华网
</h1>
<p id="demo"> 2018-01-04 19:12:08</p><p>新华社石家庄１月４日电（记者杨帆）一网上通缉的犯罪嫌疑人近日大胆前往车管所办理业务，被当班女警机智识破，随后刑警迅速赶赴现场将其控制。去年１２月２９日，一名男子前往石家庄市正定县交警大队车管所业务大厅办理驾驶证审验业务，根据业务程序，辅警曹玉钒仔细查看驾驶证上的照片，在与办理业务的驾驶人进行比对时，发现该驾驶人有意回避，神情异样。此举动引起曹玉钒的警觉，她立即向身旁的辅警樊璐璐发出信号，并将情况汇报给民警王莹。在一旁整理驾驶人资料的王莹不动声色地稳住该驾驶人，并悄悄进入公安网查验比对，发现驾驶人张某竟然是一名网上通缉的犯罪嫌疑人。再次确认信息无误后，三人像往常一样询问驾驶人情况，同时悄悄通知车管所领导通报刑警大队。随后，几名刑警迅速赶至现场，将张某当场控制。经初查，２０１７年１０月１３日下午５时许，嫌疑人张某与同伴王某、周某等，在石家庄长安区某小区内对执行抓捕任务的民警进行围堵、辱骂、殴打，致使抓捕嫌疑人侥幸逃脱，数名民警受伤，张某因涉嫌妨害公务罪被公安部门网上追逃。目前，此案已移交刑侦部门进一步办理。</p></body></html>