<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1395</title>
</head>
<body>
<h1>
广东举报传销违法犯罪案件最高奖励30万元-新华网
</h1>
<p id="demo"> 2018-01-04 18:35:44</p><p>新华社广州1月4日电（记者 胡林果）自2018年1月1日起施行的《关于广东省打击传销举报奖励的管理办法》规定，对于举报传销窝点的，一经查实奖励500-1000元，对于举报传销违法犯罪案件的，最高奖励30万元。办法由广东省工商局、广东省公安厅、广东省社会治安综合治理委员会办公室、广东省财政厅等四部门联合制订。办法所称的举报人，是指以书面、电话、网络或者其他方式实名向各级政府及所属工商、公安、综治等部门举报传销行为，举报情况经查证属实的人员。办法在对已有经验做法进行提炼的同时，进一步完善奖金发放的激励机制，将举报奖励细化为举报传销窝点和举报传销案件两种。对于举报传销组织、传销窝点或传销集会的具体奖励标准为：一次查获3人以上10（含）人以下的，奖励金500元；一次查获10人以上30（含）人以下的，奖励金800元；一次查获30人以上的，奖励金1000元。对于举报传销案件的，由打击传销部门根据其价值、涉及金额等进行等级评定，确定具体奖励标准，具体分为三个等级，单案举报奖励金最高不超过30万元，最低不低于2000元。为了更好地发挥基层社会治安协管人员的作用，使其参与到打击传销工作中来，办法还将平安志愿者、治安联防员、镇街协管员、信息员、网络员、巡防员等相关协管人员纳入发放奖励范围。</p></body></html>