<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1398</title>
</head>
<body>
<h1>
研究发现小行星Ｄｅｍｂｏｗｓｋａ可能含有水冰-新华网
</h1>
<p id="demo"> 2018-01-04 17:58:41</p><p>新华社南京１月４日电（记者 王珏玢）记者４日从中科院紫金山天文台获悉，该台行星科学团队与合作单位研究者在一项最新研究中，详细研究了主带小行星Ｄｅｍｂｏｗｓｋａ的表面热物理性质。研究发现，这颗小行星可能含有水冰。这些成果，对深入了解小行星的形成与演化，具有重要科学意义。编号３４９的Ｄｅｍｂｏｗｓｋａ小行星，是一颗位于火星和木星轨道之间的主带小行星。它最早发现于１８９２年１２月９日，其轨道半长径接近地日距离的３倍，靠近太阳系“雪线”，因而可能有水冰的存在。含有水冰的小行星，可能蕴含了地球生命和水体起源的重要线索，以及太阳系形成初期的原始信息，具有极其重要的科学研究价值。长期以来，这颗小行星受到国际天文研究机构的高度关注，但对于它的基本物理信息，科学界一直难以确定。近年来，季江徽研究员等行星科学研究者，建立起国际上先进的小行星热物理模型。此次，科研人员基于国际空间红外卫星的探测数据和位于夏威夷的斯巴鲁望远镜的红外数据，获得了Ｄｅｍｂｏｗｓｋａ表面热惯量、粗糙度、反照率等基本热物理信息，并利用小行星热物理模型，模拟出Ｄｅｍｂｏｗｓｋａ在任意轨道时刻的表面及次表面温度环境。研究结果显示：Ｄｅｍｂｏｗｓｋａ表面南北两极温度变化较大，并呈现明显的季节变化。赤道温度变化较小，且有较长时间温度较高，表面不太可能保存水冰。而在Ｄｅｍｂｏｗｓｋａ南北次表层３０至５０厘米以下，温度可保持在较低水平，水冰可以维持稳定地存在。“探知Ｄｅｍｂｏｗｓｋａ上的水冰，不仅有助于解决地球水的起源之谜，也可能成为将来太空探索的重要资源储备。同时，现在积累下来的小行星物理信息和研究方法，将来还可应用于我国小行星深空探测任务，为探测器、科学载荷的设计与研制等，提供重要科学参考。”季江徽说。相关研究成果已于近日发表在《英国皇家天文学会月刊》上。</p></body></html>