<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1399</title>
</head>
<body>
<h1>
安徽通报4起国土资源典型违法违规案件-新华网
</h1>
<p id="demo"> 2018-01-04 17:54:19</p><p>新华社合肥１月４日电（记者 姜刚）记者４日从安徽省国土资源厅获悉，该厅近日通报４起国土资源典型违法违规案件查处情况，其中包括天长市秦栏镇人民政府违法批准使用土地案，天长市国土资源局作出行政处理决定，收回违法批准使用的土地２４.１５亩。据介绍，２０１６年１０月，天长市秦栏镇人民政府未经依法批准，与本镇庆祝村签订征地协议，征收该村集体土地２４.１５亩（耕地１５.２亩）。该宗土地符合秦栏镇土地利用总体规划。同年１１月，天长市秦栏镇人民政府将上述２４.１５亩土地交给安徽可可美佳乳胶制品有限公司建设厂房。２０１６年１２月２０日，天长市国土资源局作出行政处理决定：违法批准安徽可可美佳乳胶制品有限公司使用土地的协议无效；收回违法批准使用的土地２４.１５亩。现行政处理决定已执行到位，土地已退回原集体经济组织。２０１７年９月５日，天长市监察局给予秦栏镇经济开发区管委会副主任、秦栏镇副镇长刘汉昌行政记过处分。２０１７年２月，广德经济开发区管理委员会未经批准，擅自将桃州镇双河社区（原荆汤社区桃园八队）集体土地，交付给广德金恒镀业有限公司使用。违法批准土地面积１６.２１亩（耕地６.７１亩），其中７.５１亩土地符合土地利用总体规划。２０１７年９月１８日，宣城市国土资源局作出行政处理决定：广德经济开发区管理委员会违法批准征收土地文件无效；广德经济开发区管理委员会与广德金恒镀业有限公司签订的《项目投资协议书》中关于用地的条款无效；责令广德经济开发区管理委员会依法收回广德金恒镀业有限公司违法占用的集体土地１６.２１亩。现行政处理决定已执行到位，土地已退回原集体经济组织。２０１７年９月２２日，广德县监察局给予广德经济开发区党工委副书记、副主任刘德怀行政警告处分。此次被通报的还包括蚌埠市龙子湖区老山搅拌站项目违法占地案，太湖县宏泰石料厂越界开采案。</p></body></html>