<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>14</title>
</head>
<body>
<h1>
胡春华会见越南总理阮春福-新华网
</h1>
<p id="demo"> 2018-09-12 09:08:24</p><p>新华社河内９月１１日电（记者 陶军 王迪）应邀出席世界经济论坛东盟会议的国务院副总理胡春华１１日在河内会见越南总理阮春福。胡春华表示，习近平总书记、国家主席去年同阮富仲总书记、陈大光国家主席实现互访，就推进新时期中越关系作出顶层设计和战略谋划。中方愿同越方共同抓好落实，推动中越全面战略合作伙伴关系取得新的发展。胡春华指出，双方应加快推进“一带一路”建设与越南“两廊一圈”的对接，加强对双方务实合作的战略引领，深挖贸易投资合作潜力，不断提升中越合作的质量和水平。中方愿与越方共同努力，积极解决双边经贸合作中存在的问题，扩大自越水果等优势农产品进口，加强科技等领域投资合作，欢迎总理同志率团来华出席今年１１月举办的首届中国国际进口博览会，中方愿为越南企业参展提供便利。阮春福表示，胡春华出席世界经济论坛东盟会议不仅体现了中方对越中关系的重视，更体现了两国兄弟般的情谊。阮春福表示，与中国发展睦邻友好、全面合作关系是越方头等优先大事，今年以来两国高层交往密切，对推动两党两国关系发展具有重要意义。作为中国在东盟最大贸易伙伴，越方赞赏中方进一步扩大开放的重大举措，支持并愿积极参与共建“一带一路”，我本人也将率团出席中国国际进口博览会。越方愿与中方共同努力，推动越中全面战略合作伙伴关系持续健康稳定发展。</p></body></html>