<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1400</title>
</head>
<body>
<h1>
江苏：“10项指引”让政务公开便捷高效-新华网
</h1>
<p id="demo"> 2018-01-04 17:54:27</p><p>新华社南京1月4日电(记者 周思雨)如何申请获取政府信息、行政机关如何办理申请、哪些渠道可获取政府信息……4日,江苏省人民政府办公厅发布《申请获取政府信息10项指引》,引导公众申请政府信息，让政务公开便捷高效。2017年10月起,江苏组织13个设区市政府办公室和45个省级部门,梳理信息公开申请中的突出问题,融合国办信息公开办6个法规性解释文件,明确信息公开申请的办理内容、程序,形成“10项指引”。“10项指引”以“十问十答”的形式,为申请人解惑。问题包括,应该向哪个行政机关提出申请?怎样提出申请?提出申请时应注意哪些事项?申请的方式有哪些?行政机关收到申请后会怎么办?多长时间能收到行政机关的答复?政府信息公开申请办理期限如何计算?收到补正通知后如何处理?行政机关的送达方式有哪些?政府还提供哪些高效便捷的信息获取渠道?江苏省政府办公厅政务公开办主任张旻介绍,“10项指引”以申请人的视角设置问题,整合6个法规性解释文件,具较强权威性和指导作用,覆盖申请获取政府信息全流程,确保申请人和行政机关有章可循,引导申请人多渠道获取政府政策信息。张旻说,江苏每年有3万余件信息公开申请被提交至行政机关,其中约70%的申请能够得到满足,但公众对信息公开具体办理总感觉落实不够。“10项指引”既是方便申请人,满足公众信息需求,也是对行政机关办理工作的约束规范,提高政府信息公开的透明度、质量、效率。</p></body></html>