<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1401</title>
</head>
<body>
<h1>
新华时评：“放管服”改革出实招才能见实效-新华网
</h1>
<p id="demo"> 2018-01-04 17:57:04</p><p>新华社南昌1月4日电 题：“放管服”改革出实招才能见实效新华社记者 余贤红去年以来，江西省围绕“放管服”改革落实情况，深入全省各地各部门，采取不打招呼、不下通知、不安排接待的方式开展持续半年多的明察暗访。对暗访掌握的238个问题在有关会议上曝光，“一针见血”刺痛涉事地方领导干部，换来的是抓整改、抓改革的立即行动。这一改革实践说明，在这场“刀刃向内”的政府自我革命中，只要狠下决心出实招，敢于“主动亮丑”，自我加压，就没有破除不了的顽瘴痼疾。近年来，各级政府出台了一系列简政放权、转变政府职能的措施，“放管服”改革成效有目共睹。但也要清醒看到，“放管服”改革与经济社会发展要求和人民群众期待相比，仍有不小差距：一些领域的审批程序仍然繁琐、环节依然较多；一些已决定取消的收费项目仍改换名目照收不误；还有个别地区“上面打一下、下面才动一下”，消极应对，主动改、创新做的意识不强。改革从来不是一蹴而就的事，“放管服”改革仍需上下齐心狠抓落实，容不得半点懈怠和虚与委蛇。政府自我削权瘦身是一个艰难选择，需要领导干部有敬民之心和担当精神。江西省通过暗访督查刺痛了、警醒了各级领导干部，为改革疏通了血脉，为群众带来了便利。志不求易者成，事不避难者进。“放管服”改革是全面深化改革的“先手棋”，是转变政府职能的“当头炮”。当前“放管服”改革进入攻坚期，唯有以“壮士断腕”的决心和勇气深化改革，出实招、求实效，把雷厉风行和久久为功有机结合起来，才能换来市场活力和社会创造力的释放，推动国家发展、增进人民福祉。</p></body></html>