<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1402</title>
</head>
<body>
<h1>
“雪龙”号完成中山站卸货驶离站区-新华网
</h1>
<p id="demo"> 2018-01-04 18:02:20</p><p>新华社“雪龙”号１月４日电（记者 白国龙）中国“雪龙”号极地考察船４日完成中山站卸货任务，总计卸运约４５３吨物资，随后从中山站外围陆缘冰区驶离。自上月２８日开始卸货至今，“雪龙”号船载“雪鹰１２”Ｋａ－３２直升机共飞行３２架次，总计向中山站卸运物资约４５３吨，包括越冬队员所需的食物与用品、站区所需的燃油、钢结构建筑材料等。在“雪龙”号驶离前，中国第３４次南极科考队越冬队与去年第３３次科考队越冬队进行了交接，举行了庄严的升旗仪式，五星红旗和第３４次南极科考队队旗在中山站飘扬。已在中山站生活４００多天的第３３次科考队越冬队员随“雪龙”号驶离站区。而第３４次南极科考队中山站站长崔鹏惠率领的１８名越冬队员将继续在南极工作一年多，开展南极气象、极光、动物等领域的观测研究。按计划，“雪龙”号离开中山站后将在南极普里兹湾等地进行潜标回收等大洋科考作业，随后再返回恩克斯堡岛为中国第５个南极科考站建设做前期准备。</p></body></html>