<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1404</title>
</head>
<body>
<h1>
新华时评：靠默认勾选套取用户信息，差评！-新华网
</h1>
<p id="demo"> 2018-01-04 18:35:30</p><p>新华社北京1月4日电 题：靠默认勾选套取用户信息，差评！新华社记者 许晟、周琳3日，支付宝个人年度账单和年度关键词刷爆朋友圈，但随后人们发现查看账单时默认勾选的《芝麻服务协议》。“满满的情怀被套路坑了”是用户普遍感受。对此，就用户体验而言，无疑要“果断差评”。而从法律和行业规范角度审视，当务之急该考虑如何防止企业靠默认勾选等小伎俩过度“索要”用户个人信息。关于《芝麻服务协议》，人们讨论最多的两点是：默认勾选的字体太小，背景杂乱，太容易被忽略，感觉就像个“坑”；不接受协议也可以查看部分账单，为什么还要设置协议，这是不是芝麻信用在过度搜集信息，个人隐私受到了侵犯没有？在大多数用户心目中，《芝麻服务协议》对个人信息的搜集与使用，似乎已经超出了查看信用账单的合理需要。在大数据时代，个人信息是企业的价值源泉，但企业“索要”用户的个人数据，应当坚持合法性、正当性、必要性原则。近几年，政府、企业等各层面均加大了个人数据保护力度。企业要使用个人数据须得到用户授权的做法，已成为法律的基本要求，也被行业普遍遵循。与此同时，类似默认勾选的“小聪明”式告知签署，也在业内屡见不鲜。这种行为会导致用户数据风险敞口扩大，权益受损。在保护用户信息这个问题上，容不得半点含糊。把数据风险控制在最低程度，是用户授权个人信息给企业的必然要求，任何企业都不应为追求利益，无视用户的数据安全。企业索要用户信息必须光明磊落，严格履行告知义务。在个人信息保护还比较粗放的社会环境、法律环境下，行业龙头企业应该率先垂范，有更规范的标准、更清晰的指引，规范信息索取和使用。相关法律的适用上也应该更有针对性，对过度“索要”个人信息的行为加强约束。支付宝年度账单刷屏 却因这行小字连夜认错支付宝２０１７全民账单：全国５．２亿用户移动支付占比８２％</p></body></html>