<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1408</title>
</head>
<body>
<h1>
我国每万人口发明专利拥有量达9.8件-新华网
</h1>
<p id="demo"> 2018-01-04 19:03:36</p><p>新华社北京１月４日电（记者张泉）国家知识产权局局长申长雨4日表示，２０１７年，中国发明专利申请量１３８．２万件，同比增长１４．２％；ＰＣＴ国际专利申请受理量５．１万件，同比增长１２．５％；实用新型和外观设计申请量分别为１６８．８万件和６２．９万件。国内（不含港澳台）发明专利拥有量为１３５．６万件，每万人口发明专利拥有量达９．８件。申长雨是于当日在京举行的２０１８年全国知识产权局局长会议上作出表述的。据介绍，２０１７年，我国专利行政执法办案量６．７万件，同比增长３６．３％，知识产权保护社会满意度由２０１６年的７２．３８分提高到２０１７年的７６．６９分；专利质押融资额７２０亿元，同比增长６５％，知识产权使用费出口额超过４０亿美元。对２０１８年知识产权工作，申长雨从六个方面进行了部署：一要强化统筹协调和改革创新，高标准落实中央决策部署；二要强化知识产权创造，提高技术供给水平；三要强化知识产权保护，塑造良好市场环境；四要强化知识产权运用，支撑实体经济发展；五要强化国际合作交流，服务国家对外开放；六要强化综合保障，进一步夯实事业发展基础。</p></body></html>