<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1409</title>
</head>
<body>
<h1>
我国首个Ｐ４实验室正式运行 致力于最危险病毒研究-新华网
</h1>
<p id="demo"> 2018-01-04 16:43:10</p><p>新华社北京１月４日电（记者王宾、董瑞丰）记者日前从国家卫生计生委科技教育司了解到，中国科学院武汉国家生物安全四级实验室通过国家卫计委高致病性病原微生物实验活动现场评估，成为中国首个正式投入运行的Ｐ４实验室，标志着我国具有开展高级别高致病性病原微生物实验活动的能力和条件。武汉Ｐ４实验室是“中法新发传染病防治合作项目”重要内容之一，是国家投资建设的大科学工程装置之一。该实验室是国家高等级生物安全实验室体系的重要组成部分，也将成为我国公共卫生防御体系的重要组成部分和国内外传染病防控研究的技术平台。该实验室具有三大功能定位：一是我国突发急性传染病防控科学研究基地；二是烈性病原的保藏中心和世界卫生组织烈性传染病参考实验室；三是我国生物安全实验室平台体系中的重要区域中心。据介绍，Ｐ４实验室是人类迄今为止能建造的生物安全防护等级最高的实验室。埃博拉等最危险病毒，只有在Ｐ４实验室里才能研究。专家表示，该实验室对增强我国应对重大新发、突发传染病预防控制能力，提升抗病毒药物及疫苗研发等科研能力将起到基础性、技术性的支撑作用。</p></body></html>