<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1410</title>
</head>
<body>
<h1>
太原警方摧毁一个案值千万的生产、销售冒牌灯具网络-新华网
</h1>
<p id="demo"> 2018-01-04 17:03:05</p><p>新华社太原１月４日电（胡靖国、孙亮全）太原警方近日成功摧毁一个涉及全国１０余省市的特大生产、销售假冒名牌灯具的犯罪网络，抓获犯罪嫌疑人１８名，查封造假窝点４个、储假库房７个，查获大批假冒某名牌灯具及伪造商标，涉案价值１０５７万元。２０１７年３月，太原市公安局尖草坪分局民警在打假线索摸排中，发现区内某公司照明电器经销部销售的某名牌灯具疑似假冒，经鉴定，确定该产品是假冒产品。经进一步侦查，民警发现这些假冒灯具均出自太原卧虎山公路附近的一仓库。办案民警通过对该经销部注册信息查询，成功锁定其负责人韩某，后查证韩某为该经销部和卧虎山公路附近仓库的总负责，同时在太原拥有４家储假仓库和３家售假门店。办案民警先后辗转北京、江苏、河北、湖北、山东等地核查，查证供货上线来自４处生产窝点，分别位于湖北武汉、河北廊坊以及江苏常州的２家工厂，假冒灯具分别销往华北、华东多个地市。在全面掌握其产供销网络及涉假线索关联后，专案组将售假嫌疑人韩某、赵某、孟某、郭某一举抓获，并将该团伙在太原的３家销售网点和４间储假仓库全部查封。从２０１７年７月２１日至９月１４日，在公安部的统一指挥下，江苏常州、河北廊坊、湖北武汉、山东临沂等地警方果断出击，连续抓获犯罪嫌疑人１４名，查封生产窝点４处、储假仓库３个，查获假冒标识４６万余个。</p></body></html>