<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1411</title>
</head>
<body>
<h1>
中东部降雪致途经京九线的10余趟列车晚点-新华网
</h1>
<p id="demo"> 2018-01-04 17:32:27</p><p>新华社南昌1月4日电（记者 余贤红）记者从中国铁路南昌局集团有限公司获悉，受中东部地区降雪影响，途经京九线的10余趟列车4日晚点，2对动车停运。受河南、湖北、安徽、江苏等地降雪影响，途经京九线的K1453、T167、K569、K341、K789、Z65、Z67、Z133、Z71、Z107、Z295、K571、Z111次等列车出现不同程度晚点。同时，铁路部门停运1月4日福州至北京南的G304/1次、南昌西至郑州东的G2044/3次2对列车；变更南昌西至宜昌东的D3252/3、D3254/1次列车的运行区段，改为南昌西至武汉。针对列车晚点和停运等情况，南铁根据列车运行实际，采取增开退票和改签专窗、加强旅客退票改签引导、在候车室增设晚点列车信息牌、实时更新晚点列车信息等方式为旅客提供服务，畅通退票改签渠道。已购买停运列车车票的旅客，可于票面乘车日期起30日内（含当日）持车票到车站窗口办理退票手续；在12306网站购票尚未换取纸质车票的旅客，可在网站直接办理退票，均不收取手续费。今冬最强降雪迎来“最强时段” 7省有大到暴雪2日开始，中国中东部大部地区出现今年首次大范围雨雪天气，这也是入冬以来中国范围最大、强度最强的一次降雪过程。气象专家预计，3日夜间到4日白天，这轮降雪天气将迎来“最强时段”，中东部局地新增积雪深度可达20至30厘米。>></p></body></html>