<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1413</title>
</head>
<body>
<h1>
《学习十九大报告：经济50词》出版发行-新华网
</h1>
<p id="demo"> 2018-01-04 17:38:32</p><p>新华社北京1月4日电  近日，由人民出版社出版的《学习十九大报告：经济50词》出版发行。为了帮助广大党员干部深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大报告精神，特别是认真学习贯彻落实习近平新时代中国特色社会主义经济思想，人民出版社策划出版了《学习十九大报告：经济50词》，本书精选了十九大报告中所涉及的50多个最具代表性的经济核心词进行介绍和阐释，每个词条包括报告原文、重要背景、简明要义和实践指导四个部分内容，侧重于广大党员领导干部关注角度的内涵解释以及实践意义或政策建议，力求准确通俗、简明实用，切实解决怎么看、怎么办、怎么干等基本问题。该书是广大党员干部在网络化、快阅读时代学习贯彻十九大精神特别是学习贯彻习近平新时代中国特色社会主义经济思想的简明读本、有效助手。点击查看专题</p></body></html>