<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1414</title>
</head>
<body>
<h1>
山东省副省长季缃绮接受组织审查-新华网
</h1>
<p id="demo"> 2018-01-04 17:40:59</p><p>新华社北京1月4日电 记者从中央纪委获悉，山东省副省长季缃绮涉嫌严重违纪，目前正接受组织审查。季缃绮简历季缃绮，男，汉族，1960年10月生，山东费县人。1980年7月参加工作，1986年4月加入中国共产党，高级经济师。1980年7月青岛商业学校计划统计专业毕业，1985年7月山东财贸职工业余专科学校贸易经济专业毕业，1999年12月省委党校业余本科班经济管理专业毕业，2005年1月南开大学现代远程教育学院工商管理专业本科毕业，2005年6月获得南开大学国际商学院高级管理人员工商管理硕士学位，2010年12月获得天津大学管理学院管理科学与工程专业管理学博士学位。曾任省五交化公司办事员、经营部副经理、经理，省五交化公司副总经理；省商业厅行政处副处长；省商业综合公司总经理；省商业大厦副总经理、总经理；山东世界贸易中心总经理；省商业集团总公司副总经理、党委委员兼山东世界贸易中心总经理；省商业集团总公司总经理、党委副书记；省商业集团总公司董事长、总经理、党委副书记；省商业集团总公司董事长、党委书记；省商业集团有限公司董事长、党委书记。2013年1月任山东省副省长，2013年2月任山东省副省长、省政府党组成员。（简历摘自山东省人民政府网站）</p></body></html>