<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1415</title>
</head>
<body>
<h1>
最高法启动“２０１７年推动法治进程十大案件”评选-新华网
</h1>
<p id="demo"> 2018-01-04 19:27:27</p><p>新华社北京１月４日电（记者丁小溪、罗沙）最高人民法院４日启动“２０１７年推动法治进程十大案件”评选活动。“百名红通”１号杨秀珠回国受审案等２０个热点案件入选初评案例。据悉，此次活动参选的案例包括刑事、民事、商事、知产、海事、行政、审判监督、国家赔偿、执行等有影响力的案件。“百名红通”１号杨秀珠回国受审案、徐玉玉被电信诈骗案、于欢案等２０个广受社会关注的案件入选初评案例，将在有关媒体上接受网民的投票。“此次面向社会集中公示的案件，是全国法院一年来审理的２５００多万起案件的缩影。”最高法常务副院长沈德咏说，人民法院要善于从这些典型案件中汲取智慧、提炼工作方法，以依法妥善审理好社会关注的每一起重大案件为切入点，更好彰显司法公正，推动法治进步。据介绍，１月４日至１０日，参评案件将通过最高人民法院官方微博微信等渠道进行公示和投票，充分听取网民意见。网友可通过关注相关媒体进行投票。</p></body></html>