<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1418</title>
</head>
<body>
<h1>
厦门公安推出“办案百度”APP-新华网
</h1>
<p id="demo"> 2018-01-06 11:09:16</p><p>新华社厦门1月6日电（记者 颜之宏）“偷换商家收款二维码获取顾客付款的行为，是盗窃还是诈骗？”厦门市公安局中华派出所民警胡曙光日前打开“办案百度”APP，在线提问办案中的疑惑。“您好，关于该行为的定性实践中存在争议，结合一些判例，建议以盗窃定性。”不久，胡曙光收到了值班专家的答复。新年伊始，厦门市公安局法制支队向全市办案民警推出一份特别的“新年礼物”——被办案民警称为“办案百度”的执法办案指导APP。该APP以“厦门移动警务中心”平台为依托，不仅兼具法律法规查询、典型案例汇编、量罚幅度指引、在线执法咨询等多项强大功能，还有厦门市公安局法律顾问、公职律师及法制民警、法制员作为强大的专业依托，有效发挥法制队伍对基层民警执法办案的“支撑席”作用。据厦门市公安局法制支队行政复议办公室副主任张遂涛介绍，基层民警在办案过程中，有时由于对相关法律法规不够熟悉，会出现在处罚时对量罚幅度拿捏不准的现象。为解决这一难题，“办案百度”APP上设置“量罚幅度指引”板块，民警只需在系统上勾选相关条件，比如违法行为人的年龄、是否曾被处罚、是否为特殊人群等，系统便会自动筛选、匹配与案件有关的法律法规、司法解释及内部规范性文件，快速获取量罚区间，规范民警办案量罚时的自由裁量权。张遂涛表示，“办案百度”APP每天会安排3位法制专家值班，分别负责答复刑事、治安以及行政执法中碰到的问题，倘若值班专家研究后仍无法解答该问题，还可以在法制专家库的微信群里进行讨论，并在第一时间答复提问民警。据了解，厦门市公安局法制支队还将在未来根据实际需要，进一步开发新的功能板块，使之更加全面、精准地为基层民警提供办案指导。 </p></body></html>