<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1419</title>
</head>
<body>
<h1>
女子遭红包轰炸网络交友不慎 失身又被骗万元-新华网
</h1>
<p id="demo"> 2018-01-06 11:01:44</p><p>女子网络交友不慎 失身又被骗万元在南京江宁新港开发区一家工厂上班的21岁姑娘李某，在微信里结识一名陌生男子，因缺乏防范之心，被对方一阵红包轰炸后，很快从陌生到自以为的“恋人”，并贸然赴约，最终失身破财，被骗万余元。南京铁路警方介入调查后，于前天将这名躲在南京的男子抓获。2017年初，李某从安徽老家来到南京打工，去年11月份在微信里结识男子陈某。24岁的陈某，广东籍，在上海工作。陈某自称在上海开有公司，隔三差五微信红包轰炸，每天甜言蜜语相对，还吹嘘能为李某谋到一份比现在好很多的工作。此时的李某失去了防备之心，并决定在2017年12月14日接受陈某的邀请，赴上海与其见面。李某自以为两人已是恋人关系，当晚两人便共同开了房。16日上午陈某接完一个电话后，称母亲在老家被打要回家处理，李某善良地表示理解。直到18日，李某在购物消费时，发现自己支付宝内680元已被转至陈某名下的支付宝内，她的支付宝内还多出两笔网络信用贷款2200元和8300元，也都被转至陈某的支付宝内。李某此时再想找陈某时，发现微信已被拉黑，李某这才醒悟自己被骗了。陈某为了躲避风头，便来到南京投靠朋友，他自作聪明地认为最危险的地方就是最安全的地方。但令陈某没想到的是，他虽然躲过了李某，却没躲过警方。(记者 梅建明 通讯员 顾明轩) </p></body></html>