<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1421</title>
</head>
<body>
<h1>
我国湖泊将全面实施湖长制-新华网
</h1>
<p id="demo"> 2018-01-04 19:40:06</p><p>新华社北京１月４日电（记者王立彬）为进一步加强湖泊管理保护工作，我国将在２０１８年年底前在全国湖泊全面建立湖长制，建立健全以党政领导负责制为核心的责任。中共中央办公厅、国务院办公厅印发的《关于在湖泊实施湖长制的指导意见》４日正式公布。意见要求充分认识在湖泊实施湖长制的重要意义和特殊性，各省区市要将本行政区域内所有湖泊纳入全面推行湖长制工作范围，到２０１８年年底前在湖泊全面建立省、市、县、乡四级湖长制，建立健全以党政领导负责制为核心的责任体系，落实属地管理责任。湖泊最高层级的湖长是第一责任人，对湖泊的管理保护负总责，统筹协调湖泊与入湖河流的管理保护工作，组织制定“一湖一策”方案。各级湖长对湖泊在本辖区内的管理保护负直接责任。流域管理机构要充分发挥协调、指导和监督作用。对跨省级行政区域的湖泊，流域管理机构要与各省区市建立沟通协商机制，强化流域规划约束，切实加强对湖长制工作的综合协调、监督检查和监测评估。意见明确了全面落实湖长制的主要任务，包括严格湖泊水域空间管控，强化湖泊岸线管理保护，加强湖泊水资源保护和水污染防治，加大湖泊水环境综合整治力度，开展湖泊生态治理与修复，健全湖泊执法监管机制。意见要求切实强化保障措施，各级党委和政府要加强组织领导，层层建立责任制，强化部门联动。水利部要会同全面推行河长制工作部际联席会议各成员单位加强督促检查，指导各地区推动湖泊实施湖长制工作。各地区各有关部门要建立“一湖一档”，加强分类指导，完善监测监控，严格考核问责，实施湖泊生态环境损害责任终身追究制。要通过湖长公告、湖长公示牌、湖长ＡＰＰ、微信公众号、社会监督员等多种方式加强社会监督。</p></body></html>