<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1422</title>
</head>
<body>
<h1>
濮存昕美文朗诵会将巡演全国 琵琶演奏家吴玉霞等助演-新华网
</h1>
<p id="demo"> 2018-01-04 19:47:51</p><p>新华社北京１月４日电（记者白瀛）由濮存昕导演并主演的“听见美·濮哥读美文朗诵会”将于1月３１日在北京保利剧院首演并开启全国巡演序幕。首场朗诵会由白岩松主持，黄宏、张凯丽、师悦玲、陶虹、吴京安、吴玉霞等担任助演嘉宾。濮存昕４日在京介绍，３１日的朗诵会将是微信公号“濮哥读美文”的首场线下演出；公众号诞生两年以来，始终以朗诵优美文字、触摸文学之美为己任，去年底迎来一百期纪念。濮存昕说，提倡朗诵，是因为在这个漂泊浮躁的时代里，它能够提供一些确定无疑的东西，这种被称为美感的东西，足以令人们抵挡生活的迷茫和庸常。值得一提的是，演出当晚，琵琶演奏家吴玉霞还将与濮存昕联袂带来白居易长篇乐府诗《琵琶行》，呈现“同是天涯沦落人，相逢何必曾相识”的深情时刻。“这次来到现场的助演嘉宾，都是我合作多年的老朋友，大家都有共同的审美品格。”濮存昕说，“听见美·濮哥读美文朗诵会”将使观众于一晚之间，体验美文、美声、美乐的多重邂逅。</p></body></html>