<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1423</title>
</head>
<body>
<h1>
黑龙江首次启动机动巡视进驻省森工总局-新华网
</h1>
<p id="demo"> 2018-01-04 20:02:12</p><p>新华社哈尔滨1月4日电（记者 潘祺）黑龙江省委巡视组进驻省森工总局开展“机动式”巡视工作动员会4日召开，提出将对森工系统所属企业重大经营问题、亚布力等重点单位改革发展中存在的问题，对阻碍改革、影响发展、破坏营商环境等违规违纪问题进行严肃查处。这是黑龙江省首次启动机动巡视方式。黑龙江省委负责人表示，推动森工总局等重点国有企业改革工作，要牢固树立“四个意识”，改革必须按照党中央和省委部署坚定不移推进，必须破除体制机制弊端敢于碰硬，必须从政企分开破题注重实效，树立问题导向。对所属企业重大经营问题、亚布力等重点单位改革发展中存在的问题、群众关切社会关注的问题，对阻碍改革、影响发展、破坏营商环境等违规违纪问题，必须严肃查处、绝不姑息，坚决打好重要领域改革攻坚战、整顿作风优化发展环境攻坚战。据了解，巡视组值班电话、接收短信手机号码、邮政信箱、邮政编码、接访地址等已刊登在黑龙江省纪委监察厅网站。黑龙江核查处理“雪乡宰客” 涉事旅馆业主被列入“黑名单”黑龙江重拳打击欺客宰客 将公开曝光并依法按上限处罚黑龙江调查亚布力管委会遭控诉事件守护洁白雪乡，莫再如此经商！</p></body></html>