<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>143</title>
</head>
<body>
<h1>
《习近平谈治国理政》缅文版首发式暨中缅治国理政研讨会在缅举行-新华网
</h1>
<p id="demo"> 2018-07-09 21:07:35</p><p>新华社内比都7月9日电（记者 庄北宁 车宏亮）7月9日，由中共中央宣传部、缅甸联邦政府宣传部共同主办的《习近平谈治国理政》缅文版首发式暨中缅治国理政研讨会在缅甸首都内比都举行。缅甸人民院副议长吞吞亨、民族院副议长埃达昂，联邦政府宣传部部长佩敏、自然资源和环境保护部部长翁温，以及中缅两国各界代表300多人出席此次首发式和研讨会。双方嘉宾表示，《习近平谈治国理政》一书，为中外读者认识和理解习近平新时代中国特色社会主义思想提供了重要文献，为国际社会更好了解当代中国提供了一把钥匙，集中反映了中国共产党所做的一切就是为中国人民谋幸福、为中华民族谋复兴、为人类谋和平与发展。《习近平谈治国理政》第一卷缅文版的出版发行，为缅甸人民更好了解中国打开了一扇新窗口，为增进中缅人民“胞波”情谊搭建了新桥梁，为深化两国治国理政经验交流提供了新载体。双方嘉宾表示，中缅是山水相连、血脉相通的友好邻邦，是天然的命运共同体。当前，中缅都处于改革发展的关键期，两国加强治国理政经验交流和互鉴，对于两国各自走好今后的道路、推进国家事业发展、增进人民福祉，具有重要意义。《习近平谈治国理政》第一卷于2014年9月出版、2018年1月再版，受到中外读者广泛关注和好评。目前，该书已出版24个语种27个版本，发行到160多个国家和地区。《习近平谈治国理政》第一卷缅文版由中国外文出版社与缅甸亚洲名望媒体集团合作翻译出版，是该书再版后首个通过国际出版合作完成的文版。</p></body></html>