<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1431</title>
</head>
<body>
<h1>
天津交警接力护送 晚高峰５０分钟完成跨省急救-新华网
</h1>
<p id="demo"> 2018-01-06 17:10:54</p><p>新华社天津１月６日电（记者李鲲）５日下午，一位河北省的病人需转院来天津急救，在交通晚高峰之际，天津市交管部门做好接力救助，多个交警支队、大队开启绿色通道，仅用５０分钟，危重病人便被及时护送至天津胸科医院。５日１６时刚过，天津市交管部门接到该市胸科医院一位医生报警求助，来自河北省的一辆小客车载有危重病人，需要转院去往天津胸科医院就诊。考虑到时间逼近交通晚高峰，车辆从河北省驶入天津后恐怕会遭遇堵车耽误急救，天津市交管指挥中心立即做好救助准备，经过规划，小客车从京沪高速至津沧高速由一辆警车带路，津沧高速至天津胸科医院由属地各队警车接力护送，同时，沿线属地交警支队、大队也全力配合疏导交通，一条即将为危重病人打开的“绿色通道”准备就绪。最终，该客车驶入天津市界内后仅用约５０分钟，护送病人的车辆便平安到达天津胸科医院。在此过程中，天津交警微博等交管部门官方微博和天津交通广播也在实时播报情况，并提醒沿途行驶的车辆为病人让出生命通道，不少网民在微博中留言，对交警为群众生命安全护航表示赞扬。</p></body></html>