<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1434</title>
</head>
<body>
<h1>
一名“90后”水果店主的“年终总结”-新华网
</h1>
<p id="demo"> 2018-01-06 17:29:15</p><p>新华社郑州1月6日电（闫浩 刘怀丕）一间约15平方米的小店里，红艳艳的苹果、黄澄澄的橘子摆满货架，门口“柚子30一包”的荧光字闪闪发亮，不时有顾客进店询问价格、挑拣水果，曹洁一脸微笑地招呼着。在郑州市莲花农贸市场里，与周边摊铺四五十岁的店主比起来，曹洁显得还有些稚嫩。攀谈中，曹洁向记者聊起了她过去一年的高兴事、烦心事和新年期待。今年27岁的曹洁是河南兰考人，高中毕业后端过盘子、做过二手房中介。3年前，曹洁嫁到郑州，如今已是两个孩子的妈妈，婚后一直在家没工作。2017年6月，经过一个做水果批发生意的朋友介绍，她盘下了这个店铺。“这一年最高兴的事就是接下了这个小店，有了活干人才精神，好歹算是个挣钱的营生。”曹洁说，经过半年多的摸索，她积累了一些经营心得，工作日人少，少进点货，减少损耗；周末人多，要多进货、多进几个品种，情况好的时候周末一天卖过1000多元。现在，随着对小店经营日渐熟练起来，曹洁有了新的想法。“大型综超进货成本低、水果种类多，我这小店比不了，但小店有小的好，能给顾客提供更加便利的服务。”曹洁说，她正准备通过微信建立客户群，实现网上订货，然后送货上门。有了水果店，曹洁的生活也发生了很大变化。她把妈妈和弟弟接到自己身边住，弟弟有空可以帮忙看店、进货，妈妈从老家过来帮着看孩子，一家人天天都能团聚在一起了。“之前没有工作总是在家闲着，难免与婆家怄气，开了个小店可忙，能见上一面亲还亲不过来呢，关系都变好了。”曹洁说。2018年，弟弟就要中专毕业了，曹洁最大的期望是他能找到一份好工作。曹洁说：“希望小店的生意能蒸蒸日上，全家人的生活能过得更好。”</p></body></html>