<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1435</title>
</head>
<body>
<h1>
我国航天员重温入队誓词全力备战空间站工程任务-新华网
</h1>
<p id="demo"> 2018-01-06 10:46:02</p><p>新华社北京１月６日电（李潇帆、朱霄雄）正在全力备战空间站工程任务的我国航天员日前重温入队誓词，以纪念中国人民解放军航天员大队成立２０周年。“我自愿从事载人航天事业……英勇无畏，无私奉献，不怕牺牲，甘愿为载人航天事业奋斗终生！”１月４日，面对五星红旗，杨利伟、费俊龙、聂海胜、翟志刚、刘伯明、景海鹏、刘旺、张晓光、刘洋、王亚平、陈冬等１１名曾经出征太空的航天员，举起右拳大声宣誓，铿锵有力的宣誓声响彻大厅。１９９８年１月５日，根据中国载人航天事业发展需要，中国人民解放军航天员大队正式成立，首批１４名航天员加入到这个担负特殊使命的英雄群体。２０１０年５月７日，中国完成第二批航天员选拔工作，７名航天员成为中国航天员队伍新成员。成立２０年来，大队成功执行６次载人航天飞行任务，１１名航天员遨游苍穹，为中国载人航天事业作出突出贡献。航天员大队被中央军委授予“英雄航天员大队”荣誉称号，２０１７年７月荣立集体一等功。１１名航天员先后被中共中央、国务院、中央军委授予“航天英雄”“英雄航天员”荣誉称号，１人被授予“八一勋章”。航天员大队大队长、特级航天员聂海胜说，在纪念大队成立２０周年、载人航天工程迈入空间站建设新时代之际，举行航天员重温入队誓词活动，目的就是激励大家牢记党和人民期望重托，为探索浩瀚宇宙、发展航天事业、建设航天强国而不懈奋斗。中国载人航天工程办公室副主任、特级航天员杨利伟参加了宣誓活动。他表示，全体航天员将发扬一不怕苦、二不怕死的战斗精神，更加刻苦训练、科学训练，随时准备接受党和人民挑选，随时准备奉命出征太空。目前，全体航天员正按计划展开新年度空间站工程任务学习训练。 正在全力备战空间站工程任务的我国航天员日前重温入队誓词，以纪念中国人民解放军航天员大队成立20周年。万全 摄正在全力备战空间站工程任务的我国航天员日前重温入队誓词，以纪念中国人民解放军航天员大队成立20周年。万全 摄正在全力备战空间站工程任务的我国航天员日前重温入队誓词，以纪念中国人民解放军航天员大队成立20周年。万全 摄正在全力备战空间站工程任务的我国航天员日前重温入队誓词，以纪念中国人民解放军航天员大队成立20周年。万全 摄  “英雄航天员大队”迎来20岁生日</p></body></html>