<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1439</title>
</head>
<body>
<h1>
国家旅游局责成黑龙江省旅游委对“雪乡导游车上强售套票”事件立案调查-新华网
</h1>
<p id="demo"> 2018-01-15 17:51:24</p><p>新华社北京１月１５日电（记者齐中熙）记者１５日从国家旅游局获悉，针对近日网络曝光的“雪乡导游车上强售套票”事件，国家旅游局高度重视，责成黑龙江省旅游委迅速调查核实，对涉事导游和旅行社要依法严肃查处，绝不姑息。目前已初步查明，涉事导游为商某某，涉事旅行社为哈尔滨康华国际旅行社有限公司龙腾四海分公司。黑龙江省旅游委正按照法律程序，进一步调查取证，一经核实，将依法依规严肃处罚。国家旅游局已发出通知，要求各地旅游主管部门进一步重视旅游市场监管工作，举一反三，加大旅游市场整治力度，尤其要加强对冰雪旅游、森林旅游等旅游新业态的监管，督促景区主管部门加强日常管理，严厉打击“不合理低价游”、强迫消费和欺客宰客等各类侵害游客合法权益的违法行为，切实履行起行业监管职责。新闻链接雪乡导游车上强售套票 国家旅游局要求立案调查</p></body></html>