<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1462</title>
</head>
<body>
<h1>
教科书式老赖女儿提起执行异议之诉 要求解封房产-新华网
</h1>
<p id="demo"> 2018-01-14 06:39:54</p><p>唐山“教科书式耍赖”事件又有最新进展肇事者女儿提起“执行异议之诉” 欲解封房产持续引发关注的河北唐山“教科书式耍赖”一事，1月13日有最新进展。13日晚，受害者家属赵勇告诉北京青年报记者，近日，肇事者黄淑芬女儿刘明月，提起执行异议之诉。“我觉得，(她这么做)是想否认黄淑芬出钱买的房，想让房子解封。”目前，唐山市丰润区法院已受理此案。本报此前报道，2015年10月，河北唐山市民赵勇的父亲赵香斌遭遇车祸，成为植物人。法院判决显示，肇事司机黄淑芬对事故承担主要责任，但之后黄淑芬一直没有赔偿各项损失80余万元。此后，赵勇将数段黄淑芬“教科书式耍赖”的音频及视频公布到网络上，引发热议。事发后，黄淑芬被曝光“有房有车”，也引发众多网友指责其“有能力赔偿却不作为”。对此，黄淑芬女儿刘明月曾在接受采访时表示，房产在她(刘明月)名下，且房产购于事故发生前，而汽车则是为了方便她上班才购置。2017年12月1日，赵勇的父亲因抢救无效去世。随后，赵勇起诉肇事者黄淑芬，追究其刑事责任。肇事者黄淑芬一方请律师提交鉴定异议书，要求唐山市检察院法医再次鉴定。昨日，赵勇告诉北青报记者，1月13日，他收到法院的快递，拿到刘明月提起执行异议之诉的民事起诉受理通知书。通知书发送给赵勇及其母亲，内容显示：法院受理“刘明月诉你及第三人黄淑芬执行异议之诉一案”。赵勇表示，诉状内容显示，其(刘明月)名下房产为刘个人出资，黄(黄淑芬)近两年收入和40万贷款用于保险市场投资及团队建设上，与交通事故纠纷一案无任何关联，否认转移财产。同时要求：1.解封房产；2.被告(也就是赵勇)承担诉讼费用。北青报记者注意到，目前唐山市丰润区法院已受理此案。法律界人士告诉北青报记者，根据通知书内容显示，肇事司机黄淑芬系该案“第三人”。“这有两种可能。第一，法院已告知黄淑芬此事，黄淑芬认同女儿的说法，即认同房产份额全部属于女儿。否则黄就是共同被告而不是第三人；第二种可能是，法院还不知道黄淑芬对此事的态度，因此暂时将她列为第三人。”（文/本报记者 张雅 杨琳）</p></body></html>