<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1471</title>
</head>
<body>
<h1>
湖南衡阳市委原书记李亿龙一审被判刑18年-新华网
</h1>
<p id="demo"> 2018-01-15 20:25:44</p><p>新华社长沙1月15日电（记者陈文广、白田田）15日，湖南省娄底市中级人民法院公开宣判湖南省衡阳市委原书记李亿龙受贿、贪污、滥用职权、巨额财产来源不明案，认定被告人李亿龙犯受贿罪、贪污罪、滥用职权罪、巨额财产来源不明罪，数罪并罚，决定执行有期徒刑18年，剥夺政治权利5年，并处没收个人财产250万元。被告人李亿龙受贿赃款926万余元、贪污赃款142万余元、来源不明的巨额财产4950万余元依法予以追缴，上缴国库。法院经审理查明：1998年6月至2016年3月,李亿龙任长沙市芙蓉区人民政府区长、中共芙蓉区区委书记、中共浏阳市委书记、怀化市人民政府市长、中共怀化市委书记、中共衡阳市委书记等职务，期间先后多次收受黄某等数十人给予的现金及财物，共计折合人民币926万余元，并利用职务便利为上述人员在承揽工程、职务调整晋升等方面谋取利益。李亿龙用公款购买名表、眼镜、黄金瓶等贵重物品，占为己有，并采取虚开发票的方式，先后将个人开支在怀化市市委办、衡阳市市委办报销，贪污公款共计人民币142万余元。李亿龙接受浙江某公司负责人黄某请托，违背相关规定，安排人员启动对10个污水处理厂进行股权收购，额外支付提前退出补偿款和前期费用补偿款共计2943万余元给该公司，致使国家和人民利益遭受重大损失。另李亿龙财产、支出明显超过合法收入，尚有折合人民币共计4950万余元的财产不能说明来源。法院认为，李亿龙身为国家工作人员，利用职务便利，为他人谋取利益，非法收受他人财物，数额特别巨大，其行为构成受贿罪。李亿龙还利用职务便利，非法占有公共财物，数额巨大，其行为构成贪污罪。李亿龙不正确行使职权，致使公共财产遭受重大损失，情节特别严重，其行为构成滥用职权罪。李亿龙的家庭财产、支出明显超出其合法收入，差额特别巨大，且不能说明来源，其行为构成巨额财产来源不明罪。据此，依法作出上述判决。衡阳市委原书记李亿龙受贿案公开审理湖南省衡阳市委原书记李亿龙被“双开”</p></body></html>