<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1472</title>
</head>
<body>
<h1>
供销总社：土地托管等农业社会化服务面积超1.4亿亩-新华网
</h1>
<p id="demo"> 2018-01-15 20:24:11</p><p>新华社北京1月15日电（记者高敬）中华全国供销合作总社理事会主任王侠15日介绍，供销合作社已经从以流通服务为主，拓展到为农服务各领域、农民生产生活各方面。其中，土地托管等农业社会化服务面积超过1.4亿亩。在当天举行的中华全国供销合作总社第六届理事会第五次全体会议上，她表示，供销合作社系统坚持把为农服务放在首位，不断优化和创新服务供给。土地托管服务已推广到全国29个省份，托管对象从大田托管发展到草场托管、林果托管、高原农业托管，服务内容从农资供应延伸到耕、种、管、收、售各环节，土地托管等农业社会化服务面积超过1.4亿亩，探索了“大国小农”基本国情农情下、以服务规模化推进农业现代化的路子。她说今年供销合作社系统要加大土地托管服务推广力度，探索适应不同地区、不同作物生产特点的多种社会化服务形式，提升服务的标准化、规范化水平，促进农业适度规模经营。要注重发挥供销合作社经营服务主体的带动作用，培育各类专业化市场化服务组织，提升小农生产经营组织化程度，把小农生产引入现代农业发展轨道。同时，加快拓展农民生活服务领域，建设一批功能完备、便民实用的农村综合服务社和城乡社区服务中心，2018年全系统要新发展综合服务社1万家，大力发展代购代销、快递物流、便捷缴费等“一站式”服务，积极开展养老托幼、文体娱乐等多样化服务。供销合作社系统还要推动农资企业扩大高效、环保、新型农资产品供给，加快农资物联网和质量安全追溯体系建设，积极参与农业面源污染防治，从源头上推进绿色有机农业发展。</p></body></html>