<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1495</title>
</head>
<body>
<h1>
交通运输工程建设项目不缴工伤保险不可开工-新华网
</h1>
<p id="demo"> 2018-01-13 07:27:21</p><p>交通运输工程建设项目不缴工伤保险不可开工我国全面启动交通运输工程建设项目参加工伤保险工作。人社部、交通部等部门日前联合发布通知，要求铁路、公路、水运、水利、能源、机场工程建设项目结合行业用工特点为从业人员提供工伤保险，确保在各类工地上流动就业的农民工依法享有工伤保障。据介绍，人社部于2014年印发《关于进一步做好建筑业工伤保险工作的意见》，作出工伤优先、项目参保、一次参保、全员覆盖的制度安排，并明确交通运输、铁路、水利等相关行业参照执行。3年来，住建领域新开工工程建设项目参保率已达99.73%，累计4000多万人次建筑业农民工纳入工伤保险保障。通知要求各地要针对交通运输等行业工程建设项目施工管理、用工管理的特点，设计高效便捷的管理服务流程和参保约束机制，切实做到“先参保，再开工”。按照“谁审批，谁负责”的原则，各类工程建设项目在办理相关手续、进场施工前，均应向行业主管部门或监管部门提交施工项目总承包单位或项目标段合同承建单位参加工伤保险的证明。未参加工伤保险的项目和标段，主管部门、监管部门要及时督促整改，即时补办参加工伤保险手续，杜绝“未参保，先开工”甚至“只施工，不参保”现象。各级行业主管部门、监管部门要将施工项目总承包单位或项目标段合同承建单位参加工伤保险情况纳入企业信用考核体系，未参保项目发生事故造成生命财产重大损失的，责成工程责任单位限期整改，必要时可对总承包单位或标段合同承建单位启动问责程序。建筑施工企业相对固定的职工，应按用人单位参加工伤保险。不能按用人单位参加工伤保险的职工特别是短期雇佣的农民工，应按项目优先参加工伤保险，一般应由施工项目总承包单位或项目标段合同承建单位按照劳动雇佣关系一次性代缴本项目工伤保险费，覆盖项目使用的所有职工。（记者白天亮） </p></body></html>