<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1497</title>
</head>
<body>
<h1>
2017年中国未发生重大食品安全事件 谣言可控-新华网
</h1>
<p id="demo"> 2018-01-13 07:30:00</p><p>去年未发生重大食品安全事件1月12日，在国家食品药品监督管理总局、中国科协共同指导下，中国食品科学技术学会举行会议，邀请业界权威专家对过去一年主要食品安全热点进行解读。中国工程院院士、国家食品安全风险评估中心总顾问陈君石介绍，2017年中国食品安全总的形势继续稳中向好，没有发生重大食品安全事件，食品谣言的社会影响也可控。会上，世界卫生组织（WHO）食品安全部主任彼得·本·恩巴瑞克博士通过视频澄清：“世界卫生组织从未公布‘十大垃圾食品’”，粉碎了由来已久的“十大垃圾食品”谣言。针对喝王老吉“可延寿10%”的言论，中国食品科学技术学会副理事长孙宝国说，目前没有一种食品甚至药品能够延长寿命10%。企业不应该对科研成果随意加工、按照自己的想象进行宣传，而是应该根据《食品安全法》，有科学依据地声称保健功能。国家食品药品监督管理总局稽查专员李海锋介绍，2017年，公安、网信部门对食品安全谣言制造者实行治安拘留等处罚50件次。（记者林丽鹂）  </p></body></html>