<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1499</title>
</head>
<body>
<h1>
上海行政机关、法院、检察院建立规范性文件审查衔接机制-新华网
</h1>
<p id="demo"> 2018-01-13 08:48:31</p><p>新华社上海１月１３日电（记者黄安琪）为进一步提高上海市行政规范性文件质量，不断提升制度环境软实力，上海市法治政府建设工作领导小组办公室于１２日同上海市高级人民法院、上海市人民检察院共同签署《行政规范性文件审查衔接工作机制的意见》。据悉，意见主要建立６方面的工作机制。其中，“意见征询机制”明确行政机关和法院、检察院之间可以就特定的规范性文件相互听取对方意见，进一步畅通行政机关与司法机关沟通途径；“涉诉材料共享机制”明确行政机关应当及时提供涉诉文件制定的相关材料，法院、检察院可以将相关司法监督建议告知行政机关，进一步树立司法监督的权威；“协同配合机制”明确行政机关和法院、检察院要相互配合，对发现问题的规范性文件，政府法制机构要督促文件制定机关及时清理，司法机关对政府法制机构备案审查意见，在案件办理中予以参考，以进一步形成行政监督和司法监督的合力。上海市法制办相关负责人表示，建立衔接紧密、运转顺畅、良性互动的规范性文件审查工作衔接机制，不仅有利于解决规范性文件制定及审查方面遇到的突出问题，全面推动规范性文件质量的提升，而且有利于提升制度环境软实力，保障人民群众的合法权益，打造营商环境新高地。</p></body></html>