<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1500</title>
</head>
<body>
<h1>
“桑吉”轮碰撞事故：船体猛烈燃烧 溢油面积明显增大-新华网
</h1>
<p id="demo"> 2018-01-13 08:46:58</p><p>【“桑吉”轮碰撞事故】船体猛烈燃烧 溢油面积明显增大昨天(12日)，央视记者登上国家海洋局海监飞机，在空中勘察“桑吉”轮碰撞事故现场。记者发现，桑吉轮船身猛烈燃烧，溢油情况比前两天明显增多，火势已经蔓延到海面，桑吉轮船体倾斜严重，非常脆弱。央视记者 杨理天：我 们乘坐海监船从舟山机场出发一个半小时之后，抵达桑吉轮事故现场，现在飞行高度3000米，因为云层很厚，机长一直在请求下降，穿过云层才能看清事故全 貌，现在我们的飞机不断下降，画面中这艘冒着滚滚浓烟的船就是“桑吉”号，离它最近的这艘名为“深潜号”的船只已经3天3夜坚守在这里，不间断地向“桑 吉”轮喷射泡沫试图帮它灭火。中国海监东海航空执法队副队长 李功弋：通过这几天的航空观察，感觉这艘船火势没有很明显的变化，船体结构越来越脆弱了，碰撞的缺口越来越大了，可能是11日的爆炸所致。据 海监执法人员的介绍，目前桑吉轮向右侧倾斜，右舷破损处与前日相比明显变大，右舷有两处着火点，分别位于船头和右舷中部，不时有爆炸现象，并有大量黑色浓 烟冒出，甲板和上层建筑烧损明显，未发现人员活动迹象。船体右舷前部破损处海水涌入明显，左舷中部有破口。右舷中部附近海面有燃烧情况。事故船只附近海域 发现疑似油污带痕迹，自船首向东北方向延伸，疑似油污带长约5公里，呈羽毛状，面积约3平方公里，溢油面积较前几天明显增大。随着冷空气减弱东移，未来3 天海况将有所好转，利于海上清污。</p></body></html>