<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1501</title>
</head>
<body>
<h1>
中国中东部地区气温陆续回升 13日起黄淮等地有霾-新华网
</h1>
<p id="demo"> 2018-01-13 08:38:07</p><p>据中央气象台网站消息，13日，我国中东部地区气温自北向南陆续回升，14日将回升至正常或略偏高的水平；13日起，华北中南部黄淮等地有霾。昨日，新疆北部出现小雪，伊犁河谷局地中雪。今晨，中东部大部地区气温较昨日回升，仅浙江、福建南部、江西南部、广东等地仍有小幅降温；气温零度线位于福建南部、江西南部、湖北中南部、陕西南部一带。13日，我国中东部地区气温自北向南陆续回升，14日，将回升至正常或略偏高的水平。14日至16日，先后有两股弱冷空气影响新疆北部、内蒙古大部、华北北部及东北地区，上述地区降温4～6℃，局地可达8℃以上，并伴有4～5级风。13日至17日白天，华北中南部、黄淮西部和北部、陕西关中等地大气扩散条件逐渐转差，将有一次轻至中度霾、局地重度霾过程。另外，四川盆地未来三天有轻雾或霾天气。未来具体预报13日08时至14日08时，新疆北部、内蒙古东北部、青海东南部、西藏东北部、云南东北部等地有小到中雪或雨夹雪；云南大部、川西高原北部和四川盆地南部等地有小雨或阵雨。甘肃中西部、内蒙古西部有4～5级风(见图1)。台湾海峡、巴士海峡、南海大部海域将有7～8级、阵风9～10级的东北风。图1 全国降水量预报图(1月13日08时-14日08时)14日08时至15日08时，新疆北部、东北地区大部、内蒙古东北部、甘肃东南部等地有小到中雪或雨夹雪，其中黑龙江南部、吉林北部等的局地有大雪；西藏东南部、云南西北部和东南部、广西西北部、海南岛东部、台湾东部等地有小雨(见图2)。内蒙古大部、河北北部、东北地区中南部等地有4～6级风。南海东北部偏东和中东部偏北海域将有8级、阵风9级的东北风。图2 全国降水量预报图(1月14日08时-15日08时)15日08时至16日08时，新疆北部、内蒙古东北部、东北地区中部和南部、青藏高原东部、西北地区东南部等地有小到中雪或雨夹雪，其中新疆伊犁河谷的部分地区有大雪。西南地区东部、云南西北部、黄淮中部和西南部、江汉大部、江南西部和东部、广西中西部、海南东部、台湾东部等地的部分地区有小雨或阵雨。内蒙古中西部、华北北部、甘肃中部等地有4～6级风(见图3)。图3 全国降水量预报图(1月15日08时-16日08时)</p></body></html>