<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1503</title>
</head>
<body>
<h1>
世界跨度最大“反对称结构斜拉桥”主塔百米高空合龙-新华网
</h1>
<p id="demo"> 2018-01-13 08:54:14</p><p>图为航拍合龙的白沙大桥钟欣摄12日，目前世界上跨度最大的“反对称结构斜拉桥”广西柳州市白沙大桥主塔在106米高空合龙，该大桥建设正式进入最后阶段。素有“桥梁博物馆”美誉之称的柳州，已建有19座跨柳江大桥，即将建成的第20座白沙大桥被称为“柳州之门”。该桥由中国中铁上海工程局有限公司承建，于2015年开建。据白沙大桥项目经理刘明友介绍，该大桥大桥主塔高106米，钢箱梁顶推跨度65米，主桥为“空间异形扭曲反对称全漂浮体系”。2017年8月，白沙大桥通过国家知识产权局成功申请《反对称结构大跨度钢箱梁顶推施工工法》，该工法指出该桥是目前世界上同结构类型桥梁中跨度最大的一座。白沙大桥的建设以科技为先导，在建设中先后获得16项国家级授权专利发明。在主塔吊装过程中，该桥开创国内复杂钢桥建设信息化施工技术的先河。白沙大桥主塔采用单箱七室结构矩形截面钢箱型结构，共由27节总重量达4178吨的钢节段组成。其中最大节段重293.4吨，约等于70头成年非洲象的重量。由于白沙大桥的主塔为空间异形结构，合龙时仿佛将两根笔直的钢塔在106米的空中拧成一个“麻花”，施工难度巨大。对此，该桥项目部设计出能够同时满足主塔高度、异形结构、线性、稳定性要求，能够实现模块化设计并在现场快速安装的整体行架，并采用拼装方式进行架设。据中铁上海局“造桥专家”唐俊介绍，通过与世界上同类型桥梁施工模式进行比对后发现，在此类型桥梁的建设中白沙大桥的综合性造桥技术和功法在国内处于首创地位，在国际上的同类桥梁施工中也属一流。作为柳州市重点民生工程，白沙大桥预计今年中下旬建成通车。届时将成为连接该市柳北区和河东片区的一条交通要道，对缓解柳州市交通压力起着重要作用。白沙大桥亦开创国内复杂钢桥建设信息化施工技术的先河，对今后同类桥梁施工具有广泛的参考应用价值。(杨志强 邱银)</p></body></html>