<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1505</title>
</head>
<body>
<h1>
104名电信诈骗犯罪嫌疑人从老挝被押解回国-新华网
</h1>
<p id="demo"> 2018-01-13 09:00:08</p><p>打击跨境电信诈骗再添战果104名犯罪嫌疑人从老挝被押解回国1月12日下午，随着两架中国民航包机分别降落在河南郑州国际机场和陕西西安国际机场，104名电信诈骗犯罪嫌疑人被我公安机关从老挝押解回国，涉及全国多地的300余起电信诈骗案件成功告破，涉案金额3000余万元人民币。去年以来，河南、陕西两地先后发生百余起冒充公检法机关工作人员实施电信诈骗案件，受害群众被骗上百万元，社会影响恶劣。案件发生后，公安部立即部署开展侦办工作，并初步查明上述案件的多个犯罪窝点位于老挝境内。随后，公安部立即派工作组赴老挝开展工作。经缜密工作，在掌握相关犯罪事实和证据基础上，去年年底，工作组和老挝警方先后两次开展集中抓捕收网行动，共捣毁在老挝万象市和琅勃拉邦省的6个电信网络诈骗犯罪窝点，抓获冒充公检法工作人员以及以购物退款、网络投资、网络赌博等方式实施电信诈骗犯罪的嫌疑人104名，缴获涉案银行卡、电脑、语音网关等一大批赃物，初步核破涉电信诈骗案件300余起。（记者张洋、龚仕建） </p></body></html>