<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1508</title>
</head>
<body>
<h1>
今夜至明天白天北京污染持续较重 预计下周三好转-新华网
</h1>
<p id="demo"> 2018-01-13 07:32:48</p><p>1月12日，远望北京CBD地区，蓝天与雾霾分界清晰。中新社记者 李慧思 摄 “霾伏”来了。昨天下班的时候，市民朋友能用肉眼观察到，天空逐渐变得昏黄。前两天京城碧空如洗，蓝天明澈得仿佛分分钟就能扎进去游个泳。今天起，这样的好时光，暂别了。今天您一睁眼，空气重污染橙色预警已经启动，这次预警时段为1月13日0时至15日24时，请市民做好健康防护，正好是周末双休日，尽量减少外出。空气重污染预警一般都走在污染之前，我们可以看到，空气质量会慢慢地一点点变差。昨天下班时，PM2.5开始秀存在感，尤其是南部和城区，空气污染上升很快。19时，城六区PM2.5浓度已攀至124微克/立方米；西北部和东北部还都在100微克/立方米以下；东南部127微克/立方米，西南部已跃至164微克/立方米。昨天夜里，污染继续上升，空气质量达轻度-中度污染；今天白天有轻度霾，将达中度污染；入夜有轻度到中度霾。环保部门预计，此次的中度-重度污染过程，主要时段是今天到下周一，尤其是今天夜间至明天白天污染持续较重。预计下周三白天，霾将散去，空气好转。昨晨，南郊观象台最低气温仅有-11.2℃，再创入冬以来新低值；白天最高气温攀至3.6℃。未来一周时间，京城没有冷空气没有凛冽北风，白天最高气温维持在2到6℃，夜间最低气温在-4℃到-7℃。其实目送蓝天隐去之后，我们想说，冷就冷吧！只要有蓝天。(记者 王海亮）</p></body></html>