<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1514</title>
</head>
<body>
<h1>
民航局、旅游局要求相关外企对网站和APP上的信息进行全面排查-新华网
</h1>
<p id="demo"> 2018-01-13 15:43:54</p><p>新华社北京1月13日电（记者齐中熙）记者13日从民航局、国家旅游局获悉，针对达美航空、万豪酒店集团等将我国固有领土列为“国家”事件，两部门分别约谈了这两家企业并责令其立即整改、公开道歉。同时要求所有运营至我国航线的所有外国航空公司、旅游住宿企业要立即对企业网站和App上的信息进行全面排查。针对达美航空官网将西藏、台湾列为“国家”事件，民航局高度关注，第一时间约谈达美航空公司相关负责人，责令其查明事实，立即整改，并将调查结果和整改情况及时向社会公开。同时，民航局要求达美航空立即公开进行道歉。此外，民航局要求运营至我国航线的所有外国航空公司立即对企业网站及App等信息进行全面排查，严格遵守我国法律法规，杜绝同类事件发生。近日，万豪酒店集团在发给其中国会员的活动邮件中，把西藏和港澳台地区都列为了“国家”。国家旅游局对此事高度重视，立即约谈万豪驻亚太区负责人，并责成上海市旅游局尽快查明事实，配合相关部门做出处理。国家旅游局有关负责人指出，在华经营需要严格按照中国法律法规行事，绝不允许有任何挑战中国法律红线的活动。并要求万豪积极配合中国有关部门的调查，诚恳接受处罚，同时对网站和App全面进行隐患排查，深刻吸取此次事件的教训，消除事件造成的负面影响。国家旅游局重申，旅游住宿业是旅游业的核心要素，旅游住宿业形象关系着我国旅游业的整体形象。旅游住宿企业要立即对企业网站和App上的信息进行全面排查，严格遵守我国法律法规，坚决杜绝出现上述类似事件。各级旅游主管部门要举一反三，切实加强日常监管，引导企业规范经营，对违法违规行为，依法依规严肃处理。民航局约谈达美航空相关负责人：立即整改 公开道歉上海旅游局约谈万豪 责令其查明事实、严肃处理相关责任人</p></body></html>