<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1516</title>
</head>
<body>
<h1>
我国成功发射陆地勘查卫星三号-新华网
</h1>
<p id="demo"> 2018-01-13 15:45:53</p><p>2018年1月13日15时10分，我国在酒泉卫星发射中心用长征二号丁运载火箭，成功将陆地勘查卫星三号发射升空，卫星进入预定轨道。新华社发（汪江波 摄）2018年1月13日15时10分，我国在酒泉卫星发射中心用长征二号丁运载火箭，成功将陆地勘查卫星三号发射升空，卫星进入预定轨道。新华社发（汪江波 摄）新华社甘肃酒泉１月１３日电（李国利、许京木）１月１３日１５时１０分，我国在酒泉卫星发射中心用长征二号丁运载火箭，成功将陆地勘查卫星三号发射升空，卫星进入预定轨道。这颗星主要用于开展陆地资源遥感勘查。这是长征系列运载火箭的第２６３次飞行。中国长征火箭已为国内外用户提供60次商业发射中国卫星通信业务已拓展至全球30多个国家和地区，实现了“海上丝绸之路”沿线区域的基本覆盖；中国北斗卫星导航系统的区域服务能力不断提升，计划于2018年左右实现对“一带一路”沿线区域的覆盖。２０１８年我国将先后发射嫦娥四号中继星和探测器你想寄语月球吗？探月与航天工程中心自２０１７年１２月１９日至２０１８年３月６日向全球民众实名征集寄语，所有参与者的姓名和优选的两万条寄语将于明年搭载在嫦娥四号中继星上，飞向深空开启探月之旅。</p></body></html>