<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1518</title>
</head>
<body>
<h1>
判了无期却逍遥法外？检察监督抓捕归案-新华网
</h1>
<p id="demo"> 2018-01-14 07:53:22</p><p>近日，在监外逍遥了4年多的吴某被收监，至此，广东省检察机关2017年集中清理判处实刑罪犯未执行刑罚专项活动中，被收监执行的罪犯已有410人。吴某因涉嫌出售假币罪于2010年5月4日被羁押，2013年3月因鼻咽癌复发、放射性脑病等疾病被汕头市中级法院决定取保候审。2013年7月，法院一审以伪造货币罪判处吴某无期徒刑，剥夺政治权利终身，并处没收个人全部财产。同年11月，广东省高级法院二审裁定维持原判。其后，有关部门准备对吴某进行收监执行时，却发现其已经逃匿，未依法执行刑罚。为尽快将吴某收监执行，广东省检察院刑事执行检察处专门下发督办通知，将该案列为重点挂牌督办案件，并多次派工作组赴汕头地区进行实地督导，协调相关部门共同开展清理纠正工作。汕头市检察院及时就该案向汕头市委政法委专题汇报，并组织公安、法院和司法等职能部门召开联席会议，专题研究部署吴某收监执行刑罚案件的追逃抓捕工作。与此同时，该院向法院发出检察建议，建议法院进一步加强与公安机关的协同配合，加大追捕力度。在省、市两级检察机关刑事执行检察部门的持续、深入监督下，2017年12月，吴某终于被抓捕归案，并于近日被投送河源监狱执行刑罚。据悉，2017年，广东省检察院部署开展集中清理判处实刑罪犯未执行刑罚专项活动，共核查出此类罪犯532人，其中被判处无期徒刑3人，十年以上有期徒刑33人。在检察机关有力监督下，截至目前，该省532名判处实刑未交付执行罪犯，除查明死亡23人外，已收监执行410人，剩余99人全部启动网上追逃程序。（记者 韦磊）</p></body></html>