<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1521</title>
</head>
<body>
<h1>
南方继续回温北方多弱冷空气 黄淮陕西等地将有霾-新华网
</h1>
<p id="demo"> 2018-01-14 08:41:35</p><p>据中央气象台网站消息，14日至15日，我国南方地区气温将回升至正常或略偏高的水平；14日至16日，将先后有两股弱冷空气影响新疆北部、内蒙古大部、华北北部及东北地区；14至17日，华北中南部黄淮等地有霾。昨日，新疆北部出现小到中雪，云南等地出现小雨。今晨，四川盆地局地出现能见度不足1千米的雾。14日至15日，我国南方地区气温将回升至正常或略偏高的水平。14日至16日，先后有两股弱冷空气影响新疆北部、内蒙古大部、华北北部及东北地区，上述地区降温4～6℃，局地可达8℃以上，并伴有4～5级风。14至17日，华北中南部、黄淮西部和北部、陕西关中、四川盆地等地大气扩散条件转差，将有一次轻至中度霾、部分地区重度霾过程，其中，15日夜间开始，受冷空气与降水影响，四川盆地霾明显减弱或消散。未来具体预报14日08时至15日08时，新疆北部、东北地区等地有降雪。新疆北部、内蒙古东北部、东北地区大部、甘肃南部等地有小到中雪或雨夹雪，其中，黑龙江中部、吉林北部和东南部等地的部分地区有大雪；云南西部、海南岛东部等地有小雨或阵雨。内蒙古大部有4～6级风。15日08时至16日08时，新疆北部、内蒙古东北部、黑龙江南部、吉林北部、辽宁东南部、甘肃南部、西藏东部等地有小到中雪或雨夹雪，其中，新疆伊犁河谷等地的部分地区有大到暴雪；西南地区东部、黄淮南部、江汉、江南西部和东部沿海、广西西部、云南西部、西藏东南部、台湾东部等地有小雨或阵雨。内蒙古中西部、甘肃西部、华北北部等地有4～6级风。16日08时至17日08时，新疆伊犁河谷、内蒙古东北部、黑龙江中南部、吉林东部、辽宁东部等地有小到中雪或雨夹雪；西南地区东部、黄淮南部、江淮、江南北部、华南西部、台湾等地有小雨或阵雨。新疆东部、内蒙古中西部、甘肃西部等地有4～6级风。东海大部有6～7级、阵风8级的东南风转西北风，其中，东海东北部偏东海域的偏南风可达8级、阵风9级。</p></body></html>