<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1523</title>
</head>
<body>
<h1>
住建部：贵州黄果树等7处国家级风景名胜区整改通过验收-新华网
</h1>
<p id="demo"> 2018-01-14 08:46:44</p><p>住房城乡建设部近日公布了7处国家级风景名胜区整改复查结果的通报，经过组织专家复查，贵州黄果树、荔波樟江、红枫湖，安徽采石、花山谜窟-渐江，陕西宝鸡天台山和甘肃崆峒山7处国家级风景名胜区整改结果已达到要求，通过验收。国家级风景名胜区是指具有观赏、文化或者科学价值，自然景观、人文景观比较集中，环境优美，可供人们游览或者进行科学、文化活动的区域。贵州多措并举完成整改要求​这7处风景名胜区到底存在什么样的问题？当地又采取了什么措施完成整改要求通过验收？在贵州黄果树国家级风景名胜区，检查中发现，景区内存在着建设活动审批及监管不力，门票违规交由企业收取、部分设施影响景观风貌、过度园林化等问题。对此，当地强化风景名胜区内建设活动审批及监管，清查各类违规建设及活动，做好生态环境和景观修复。截至目前，黄果树风景名胜区共查处了违法建房72户，拆除违建面积9千平方米，生态覆绿22万平方米，全区森林覆盖率达74%，大瀑布景区森林覆盖率达到90%以上。同时，全面拆除影响自然景观的群猴观瀑、受难五行山、悟空拜师等雕塑，恢复景区自然风貌。在贵州荔波樟江风景名胜区，检查发现，樟江风光带和景区主入口违规建设量大、农房建设缺乏有效管控、景区建设及施工方式粗放、与自然生态环境融合度差、公园化和人工化倾向明显等问题。对此，荔波樟江风景名胜区开展清查违章建筑专项行动，对风景名胜区范围内的违法建设、违规占地、挖沙取土、盗伐林木等行为进行严厉打击和实行严格的管控；同时还关闭景区内游乐场，取消了卡丁车、直升机等与景区不协调项目，实施完成原址的生态复绿工程。</p></body></html>