<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1524</title>
</head>
<body>
<h1>
“幸运”捡到两部手机 破解支付密码行窃-新华网
</h1>
<p id="demo"> 2018-01-14 07:53:22</p><p>意外拾得两部苹果手机，竟利用手机里的身份信息和银行卡信息，“成功”获取失主的微信和QQ支付密码。日前，被告人李磊因涉嫌盗窃罪被安徽省合肥市蜀山区检察院提起公诉。2017年8月27日晚，李磊在其母亲经营的小吃店捡到于某的两部苹果手机，发现手机都未设置开机解锁密码，准备据为己用。李磊回家翻查所拾手机的照片、微信、短信等内容，发现手机里有于某的结婚证和银行卡照片，于是心生歹意，利用于某结婚证上的身份证号码和银行卡号码“破译”其微信支付密码。后又从另一部手机的微信聊天记录中，“破译”了于某的QQ支付密码。李磊的父母发现此事后，于9月1日带李磊到公安机关自首，当天李磊被刑事拘留。经查，李磊六次转账共盗取于某1.8万元。（记者 刘瑶黄河）</p></body></html>