<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1525</title>
</head>
<body>
<h1>
粗心房客将39万现金忘在酒店 保洁捡到主动上交-新华网
</h1>
<p id="demo"> 2018-01-14 07:57:05</p><p>保洁客房捡到39万现金酒店多方寻找 终于完璧归赵“这个包包里全是钱！”1月13日下午，成都市金牛区一家酒店内，保洁人员在对客房进行打扫时，发现行李柜中的一个黑色背包里有大量现金。酒店试图联系失主无果后报警，在警方的帮助下，当天晚上7点过，背包中的39万现金完璧归赵。1月13日下午，金牛公安曹家巷派出所接到一酒店报案，称保洁人员在一个客房内发现了装满现金的黑色书包。“就在房间里的行李柜内，保洁人员在打扫时发现的。”该酒店负责人李先生说，发现客人遗落的物品后，他们立即通过酒店系统查找失主。系统显示，住在房间的客人是两名40多岁的中年男性，于13日中午12点07分退房。李先生说，酒店先是通过酒店系统联系失主，但是电话关机，没有联系上。考虑到背包里的现金数额较大，李先生立即报警。接警后，金牛警方立即派出人员前往酒店，并在酒店财务室内对现金进行了清点。据办案民警介绍，背包里的现金全是百元大钞，共有四沓，每沓都用绳索捆绑，整整齐齐。经过清点，现金数额共39万。此时，失主的联系电话仍然没能拨通。通过联系其户口所在地警方，告知其家属。同时，寻找另一名一起住店的男子，最终于下午5点过，与失主取得联系。据办案民警介绍，失主是江苏人，在四川做工程生意，因为个人原因，将现金带在身上。联系上失主时，他们正在乐山旅游，警方对失主身份进行核实后，于当日晚上7点过，在发现现金的酒店内，将装有现金的黑色背包归还失主。(记者戴竺芯)</p></body></html>