<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1536</title>
</head>
<body>
<h1>
北京首座临空国际免税城2020年建成-新华网
</h1>
<p id="demo"> 2018-01-14 08:24:53</p><p>首座临空国际免税城2020年建成距离T3航站楼仅600米 涵盖免税店、休闲及文化体验等综合业态北京青年报记者获悉，到2020年，顺义将在紧邻首都国际机场的位置建成北京首座临空国际免税城，距离T3航站楼仅600米。据了解，北京临空国际免税城将涵盖免税店、休闲及文化体验项目、星级酒店、高端写字楼等综合业态，并与T3航站楼、城际铁路联络线枢纽、T2有轨电车站点实现无缝链接。免税城是世界各地机场周边功能中最重要的业态之一，未来北京也将建成一座临空国际免税城。该免税城项目由中国国旅股份有限公司、首都机场集团、顺义区政府共同打造，总投资将达到120亿元。昨天在北京临空经济核心区举行了临空免税城项目战略合作签约仪式，计划于2020年建设完成。北青报记者了解到，北京首座临空国际免税城的位置紧邻北京首都国际机场，距离T3航站楼仅600米，可与T3航站楼、城际铁路联络线枢纽、T2有轨电车站点无缝链接，交通十分便捷。去年底开始实施的京津冀144小时过境免签政策，对免税城的发展十分有利。“所谓144小时过境免签，就是指持有效国际旅行证件和前往第三国或地区联程客票的外国旅客，可从京津冀口岸出入境，并可免办签证在京津冀区域内停留6天，进行旅游、商务会展、探亲访友等短期活动。这样一来，过境旅客可以利用过境免签时间，到紧邻机场的临空国际免税城里选购免税商品，体验便捷服务。”项目负责人介绍说，免税城地上建筑面积达到42万平方米，包含免税、休闲、文化体验、星级酒店、高端写字楼等丰富业态。初步规划，仅停车位就设置1.1万个。北京临空国际免税城建成后，预计主体商业年销售额将达200亿元，带动周边产业及消费500亿元，远期将达1000亿元，成为全球最大临空商业综合体。（记者 王斌）</p></body></html>