<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1537</title>
</head>
<body>
<h1>
北京吸烟人群减少20万 各类控烟场所总合格率为95%-新华网
</h1>
<p id="demo"> 2018-01-14 08:35:40</p><p>北京市政府新闻办联合北京市卫生计生委，12日召开新闻发布会介绍，北京市成人吸烟率22.3%，吸烟人群399万，比《北京市控制吸烟条例》实施前下降了1.1个百分点，吸烟人群减少20万。2015年6月1日，《北京市控制吸烟条例》正式实施，被称为史上最严的控烟条例。2017年，北京12320热线共受理控烟相关服务14043件，其中控烟投诉举报11662件，投诉处理率为97%。北京市卫生监督执法人员去年共监督检查各类控烟场所121621户次，发现不合格单位6013户次，总合格率为95%，比《条例》实施之初的77%有了较大提升。责令整改不合格单位5359户次，处罚违法单位653家，单位罚款176.67万元；处罚个人3292人，处罚金额17.16万元。（记者王君平）</p></body></html>