<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1538</title>
</head>
<body>
<h1>
山东淄博建立流通追溯体系 保障舌尖上的安全-新华网
</h1>
<p id="demo"> 2018-01-14 08:35:41</p><p>家住山东淄博张店世纪花园的李大妈，几乎每天都要去新玛特超市买菜，几样蔬菜、一份排骨，包装称重完毕，用手机扫一下包装袋上的结算码，立刻显示出菜品的出处：“临淄区忆当年农业合作社，桓台县万鑫生态产业园……”“以前买吃的不太放心，现在好多超市都上了追溯系统，扫码就可以知道出处，买得踏实，吃得安心。”民以食为天。5年前，淄博市被列入全国肉菜流通追溯试点城市，以此为契机，全市下大力气将屠宰场、农贸市场、超市等多个门类的192个流通节点纳入追溯体系。早晨5点半，天刚蒙蒙亮，管庄蔬菜批发市场已经人流涌动。凡是进入市场的蔬菜运输车辆，都要填写入场单据，接受严格的农残标准检测。进场蔬菜的品种、数量、原产地、检测情况等重要信息，都会被一一录入一张流通服务卡中，只需在每个摊位配备的终端机上一刷即可完成交易。与此同时，交易信息同步存储在市场信息中心的数据库里，并实时上传至市信息平台，实现了农产品“来源可追溯、去向可查证、责任可追究”。在淄博流通追溯体系指挥大厅里，巨大的显示屏上，全市重点蔬菜生产基地、肉类屠宰企业、批发市场等24小时监控，各类信息一目了然。同时，运用大数据采集，可以根据需要随时调阅交易记录，对数据进行动态采集分析，一旦发生食品安全事故，可以立刻追根溯源。“肉菜流通追溯体系建设，在我国尚处于试点阶段。淄博运用信息技术手段，建设责任可追究的质量安全追溯链条，做到了实用、有效。”有关专家表示。据介绍，淄博的追溯体系链条正在进一步延伸，覆盖面不局限于肉菜，而是延伸到水果、海鲜、禽类、粮食等多个重要产品，让市民尽享“舌尖上的安全”。（记者 刘成友 苏利民）</p></body></html>