<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1541</title>
</head>
<body>
<h1>
万豪酒店首席执行官为公司涉华不当行为道歉-新华网
</h1>
<p id="demo"> 2018-01-12 17:23:20</p><p>新华社华盛顿１月１１日电（记者刘阳徐剑梅）美国连锁酒店万豪首席执行官１１日发表声明，为公司近日两起涉华不当行为道歉，称尊重中国的领土主权完整，将采取措施避免类似事件再次发生。“我们不支持任何企图分裂中国领土主权的人，我们也不以任何方式鼓励或煽动这类个人及团体。我们意识到了事件的严重性，表示真诚的道歉。”万豪集团首席执行官阿恩·索伦森在一份给新华社记者的声明中说。声明称，万豪已修改了相关表态，纠正了不当行为，并对万豪所有网站和手机应用上的相关内容进行核查。索伦森表示将积极配合中国有关部门的调查，并在得出调查结果后对相关负责人员采取必要的处罚措施。９日，有网民曝光万豪在一份致中国会员的问卷中，将中国西藏、香港、澳门、台湾等地区列入“国家”一栏。此后还有媒体曝出万豪酒店在美国社交网站推特上为一个“藏独”团体账号“点赞”。记者１１日发现此次“点赞”已被撤回。上海黄浦区网信办及市场监管局日前已约谈万豪酒店管理公司上海负责人及万豪国际集团大中华区负责人，要求整改。此外，由于万豪酒店的行为涉嫌违反《中华人民共和国网络安全法》《中华人民共和国广告法》相关规定，黄浦区市场监管局已经对其立案调查。万豪被查！此事关乎中国主权，不容挑战和触犯！ </p></body></html>