<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1543</title>
</head>
<body>
<h1>
河南省完成首例“镜面人”双肺移植-新华网
</h1>
<p id="demo"> 2018-01-11 15:13:22</p><p>新华社郑州１月１１日电（记者王烁）肺移植手术在业内一直被称为器官移植手术的“珠穆朗玛峰”。记者从河南省人民医院获悉，日前该院成功为一名“镜面人”患者实施双肺移植手术，实现了河南省在该项手术领域“零的突破”，目前患者身体状况良好。今年３０多岁的张先生来自四川南充，从小体弱多病，去年１０月份出现了明显的胸闷气促，并反复感染伴有咯血症状。他辗转来到河南省人民医院就诊。该院胸外科主任魏立通过全面会诊惊讶地发现，张先生是一位“镜面人”，即心、肝、脾等身体内脏器官的位置与正常人相反。“一般情况下，有一部分‘镜面人’是能够健康生存的，但该患者还合并支气管扩张，可以诊断为Ｋａｒｔａｇｅｎｅｒ综合征（又称内脏逆位——鼻窦炎——支气管扩张综合征），肺移植是唯一的救治途径。”魏立说，由于患者全内脏反位，肺门解剖结构异常，还伴有数十年的反复感染，肺移植手术难度极大。为做好全方位的准备，魏立和他的团队查阅了大量国内外文献，精心为患者制订了手术预案及术后康复方案。经过两个多月的等待，张先生等到了匹配合适的肺源，经过长达９个小时的手术，医生成功为张先生顺利实施了双侧肺移植，这也是河南省首例、全国第３例、全球第１５例Ｋａｒｔａｇｅｎｅｒ综合征双肺移植病例。据介绍，目前全国做肺移植手术的病人并不多，且仅有极少数医院能够开展。“这是因为肺移植手术复杂、感染风险高，围手术期治疗及护理难度大，加上术后病人排斥反应强、并发症多，导致手术成功率较低。此外，肺源也极其稀缺。”魏立说。</p></body></html>