<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1545</title>
</head>
<body>
<h1>全面从严治党再出发--聚焦第十九届中央纪委二次全会_新华网</h1>
<p id="demo">/</p><p>全面加强党建成就：彰显领导核心作用形成反腐败斗争压倒性态势近20名中管干部被立案审查 聚焦2017中国反腐“成绩单”锻造过硬队伍 以担当诠释忠诚推进管党治党政治责任落实:牵住"牛鼻子" 种好"责任田"中央巡视工作：锻造巡视监督利剑 探索自我净化路径2017年作风建设：从严治党 驰而不息改作风中央纪委近日印发通知，决定从2018年到2020年持续3年开展扶贫领域腐败和作风问题专项治理，为确保到2020年我国现行标准下农村贫困人口实现脱贫提供坚强有力的纪律保障。[详细]自承担国家监察体制改革试点任务以来，浙江省从体制机制、制度建设上先行先试、探索实践，党对反腐败工作统一领导明显强化，反腐败资源力量得到有机融合，夯实了“清廉浙江”建设的制度基础，为改革试点的全面推开提供了可复制可推广的经验。[详细]自2017年3月省市县三级监委组建以来，山西省严格落实中央部署的监察体制改革试点“蓝图”，转隶组建率先起动，用制度确保监察全覆盖，不断把制度优势转换为治理效能。[详细]监察对象人数从２１万增加到９９．７万，１２项调查措施全使用、留置６０多人，追回“百名红通人员”刘常凯等外逃人员……这是作为全国首批监察体制改革试点地区的北京市，交出的改革答卷，北京经验为全面推开和制定国家监察法提供了实践支撑。[详细]2017年以来，围绕打赢脱贫攻坚战，福建在全省范围内部署扶贫领域腐败和作风问题专项治理，推动入户访查全覆盖，启用省级扶贫资金在线监管系统，强化精准监督，确保真脱贫、脱真贫。[详细]在刚刚过去的一年里,各地政法机关驰而不息纠正“四风”,严查老问题、紧盯新变种,深化作风建设,特别是紧紧抓住节日节点,坚决刹住节日不正之风,严防“四风”问题借节日之机“还魂”。[详细]根据省委统一部署，8月中旬至9月底，省委巡视组对灵寿县等22个县（市、区）开展了常规巡视。省委巡视工作领导小组成员、省委巡视办有关负责同志出席反馈意见会，对巡视整改工作提出要求。[详细]执纪问责唯有敢于动真碰硬，才能真正形成震慑。几年来，中核集团党组纪检组坚持对违规违纪问题尤其是涉及违反中央八项规定精神问题露头就打、一寸不让，持续加大力度从严查处。[详细]</p></body></html>