<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1546</title>
</head>
<body>
<h1>
中核集团打出正风肃纪组合拳 近100人受处分-新华网
</h1>
<p id="demo"> 2018-01-07 10:50:38</p><p>原标题：中核集团打出正风肃纪组合拳近100人因违反八项规定精神受处分“2013年至2017年底，共立案查处违规违纪案件260余起，给予党纪政纪处分近400人次，其中违反中央八项规定精神给予党纪政纪处分近100人次。”这是中国核工业集团公司党组纪检组近日公布的正风肃纪“成绩单”。执纪问责唯有敢于动真碰硬，才能真正形成震慑。几年来，中核集团党组纪检组坚持对违规违纪问题尤其是涉及违反中央八项规定精神问题露头就打、一寸不让，持续加大力度从严查处。在查办违纪问题同时，中核集团党组纪检组以集中通报曝光的形式，对违纪人员逐一点名道姓、“自曝家丑”强化教育警示，重在形成震慑。2016年11月，中核集团党组在警示教育大会上，集中通报了17起30余名党组管理干部的违纪涉法案件查处及问责情况。中核集团党组纪检组在2016年底，对2013年以来超标准购置公务用车、使用办公用房，违规发放薪酬补贴等问题开展“拉网式”排查，推动各业务板块和成员单位开展专项清理整改。在4个月的集中整治中，中核集团100多家主要成员单位共清退违规违纪款项5000余万元，对1000余人批评教育，对20余人给予党纪政纪处分或组织处理。发现问题就要及时整改。2017年以来，中核集团党组纪检组先后对7家单位下达直指问题要害的《纪律检查建议书》，对相关单位涉及集资建房、物资采购、落实中央八项规定精神等方面20多个重点问题提出纪律检查建议。同时建立问题台账，明确责任时限，对发出的问题整改建议跟踪问效，挂号销账，定期检查监督，确保问题整改落实到位。近年来，中核集团党组纪检组对各单位监督执纪工作情况及近五年受处分的400余名党员干部的思想、工作和生活状况进行“双回访”，充分体现监督执纪的“力度”与组织关爱的“温度”。此外，集团党组纪检组用好专题民主生活会这个有力抓手，组织党员干部，尤其是违纪党员干部开展批评和自我批评，剖析根源、讲透病因，引导党员干部通过组织帮助、身边同志批评、自我反思，真正补足精神之“钙”。(何纪)</p></body></html>