<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1550</title>
</head>
<body>
<h1>
“五一”假期全国出入境日均流量将达198万人次-新华网
</h1>
<p id="demo"> 2018-04-28 18:07:11</p><p>新华社北京4月28日电（记者熊丰）记者28日从国家移民管理局获悉，“五一”假期，全国出入境旅客日均流量预计将达到198万人次，同比增长8%，比平日增长15%。北京、上海、广州等地大型机场和深圳、珠海毗邻港澳的陆地口岸，出入境旅客流量将创新高。为确保“五一”期间出入境人员顺畅通关，国家移民管理局要求全国边检机关做好充分准备，在旅客高峰期到来前开足所有查验通道，最大限度提升通关效率，缩短旅客候检时间，确保不发生拥堵。充分利用自助通关系统、旅客信息预报系统等科技手段，提高口岸通行能力和效率。加强旅检现场的组织引导，维护口岸正常通行秩序，安排警力为需要特殊照顾的老人、儿童以及其他行动不便的旅客提供切实必要的帮助。国家移民管理局提示广大出入境旅客，“五一”假期出行前要关注相关口岸通关状况，尽量避开高峰时段出境。乘坐飞机出境的旅客，请尽量提前抵达机场办理边检手续。通关过程中如遇有困难，可及时向现场执勤民警寻求帮助。</p></body></html>