<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1556</title>
</head>
<body>
<h1>
全国工商联:加强政治引领 细化党建考核标准-新华网
</h1>
<p id="demo"> 2018-04-28 08:40:30</p><p>近日，全国工商联党组出台《党建“六强”工作机制建设方案（试行）》，围绕构建工作计划导向性强、查摆问题针对性强、工作措施有效性强、与中心工作融合性强、基础建设体系性强、工作成果可考核性强的“六强”工作机制，分类细化对机关、直属单位、直属商会等不同类型党组织党建工作的考核标准，以督促和推动所属各级党组织进一步落实管党治党两个责任，推动全面从严治党向纵深发展。量化评价标准。工作机制结合机关部门、直属单位、直属商会的职责任务、组织特点和工作特点，明确5类考评标准，每类考评标准由6个评分大项11个分项构成，每个评分项下设若干具体条款和标准，以及加分项、减分项、单项否决项和整体否决项，将考评标准项目化，以实现对各级党组织的精准化管理。如机关部门党支部共设置56项正面描述项、17项加分项、39项减分项、27项单项否决项和15项整体否决项。加强政治引领。考评标准重点在政治建设、思想建设、作风建设、纪律建设和反腐败斗争等方面，规定了党员干部职工出现不良倾向和问题的否决情形，对党组织教育管理监督党员的责任予以明确。凸显实效原则。考评工作每年度一次，采取自评、横向评、考评小组评、党组评四方评分方式，对评为“优秀”的党组织进行通报表扬，对评为“不合格”的党组织予以通报批评，并责令限期整改。党建考核结果同时也作为部门、单位、商会考核、评价的重要内容和依据。强化结果运用。该工作机制通过将考核结果纳入干部评价体系，为党员干部职工思想行为划出高线和底线，促进党员干部职工查摆自身在思想作风、行为习惯中存在的问题和不足，不断优化思维与行为方式，内化于心、外化于行，为工商联事业发展提供坚强政治保证。（驻中央统战部纪检组）</p></body></html>