<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1559</title>
</head>
<body>
<h1>
广州：3次交通违法 外卖小哥要被辞退-新华网
</h1>
<p id="demo"> 2018-04-28 08:08:35</p><p>9家外卖企业的广州负责人递交承诺书 3次交通违法 外卖小哥要被辞退外卖小哥3次交通违法将被辞退。4月27日，广州市公安交警部门组织美团、饿了么、百度等9家网络送餐平台的广州市负责人，召开外卖行业警企共建共治会议，通过通报外卖送餐行业交通管理情况、企业负责人签订《广州外卖行业警企共建共治承诺书》等方式，从源头管理出发，消除广州市外卖送餐人员交通违法对道路交通秩序的影响。今年以来，广州交警针对非机动车交通违法行为开展10余次全市统一行动，查处非机动车交通违法行为7万余宗，其中外卖送餐人员交通违法行为近6000宗。从外卖送餐人员交通违法情况来看，美团、饿了么、百度3家外卖行业总体违法量排前3位；从查处的非机动车交通违法行为来看，不靠右行驶、不按信号灯通行、不按车道行驶、逆向行驶等6类重点违法行为占非机动车违法总量的87%。广州交警部门将定期把外卖送餐交通违法信息抄送相关企业，并联合工商、城管、食药监、交委等部门，敦促企业根据交通违法信息对员工实行责任追究：1年内有1次交通违法行为的，企业应对员工进行内部惩处，并组织安全教育；出现2次交通违法行为的，应采取停工惩罚措施；出现3次违法的，企业应对该员工进行辞退，并由公安交警部门纳入黑名单，其他外卖企业不得再录用。（祁雷）</p></body></html>