<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>156</title>
</head>
<body>
<h1>
华北中南部黄淮等地有霾 北方多弱冷空气活动-新华网
</h1>
<p id="demo"> 2018-01-15 15:41:32</p><p>据中央气象台网站消息，15日至17日，华北中南部、黄淮中西部、陕西关中、四川盆地等地静稳天气形势持续并发展，轻至中度霾维持，部分地区重度霾；15至18日，先后有多股弱冷空气自西向东影响新疆北部、内蒙古大部、华北北部及东北地区，上述地区气温多起伏，一般降温幅度在4～6℃。新疆北部出现小到中雪昨日，黑龙江中东部、吉林、辽宁东部、新疆北部等地出现小到中雪，辽宁丹东、吉林白山和吉林市、黑龙江哈尔滨等局地大雪(5～7毫米)。今5时，河北南部、山西西南部、山东西部、河南中北部、陕西中部等地出现霾或雾，能见度1～4千米。华北中南部黄淮等地有霾15日至17日，华北中南部、黄淮中西部、陕西关中、四川盆地等地静稳天气形势持续并发展，轻至中度霾维持，部分地区重度霾，其中，15日夜间开始，受冷空气与降水影响，四川盆地霾明显减弱或消散。16日、17日的夜间至早晨，华北南部、黄淮、江淮、江汉、四川盆地南部等地有大雾，局地有能见度不足200米的强浓雾。北方多弱冷空气活动15至18日，先后有多股弱冷空气自西向东影响新疆北部、内蒙古大部、华北北部及东北地区，上述地区气温多起伏，一般降温幅度在4～6℃，局地可达8℃以上，并伴有4～6级风。未来具体预报15日08时至16日08时，新疆北部、内蒙古东北部、东北地区中部、青海东部、甘肃南部等地有小到中雪或雨夹雪，其中，新疆伊犁河谷等地的部分地区有大雪，局地暴雪；云南西部、西南地区东部、四川盆地、江汉、江南西部等地有小雨或阵雨。内蒙古中部有4～6级风。全国降水量预报图(1月15日08时-16日08时)16日08时至17日08时，新疆西部、内蒙古东北部、黑龙江南部等地有小到中雪；云南东南部、贵州东南部、江淮、江南北部、台湾岛等地有小雨或阵雨。内蒙古中西部等地有4～6级风。全国降水量预报图(1月16日08时-17日08时)17日08时至18日08时，新疆西部、东北地区大部等地有小雪；贵州大部、重庆大部、广西西部、台湾岛等地有小雨或阵雨。内蒙古东部、华北西部等地有4～6级风。南海西南部海域将有7级、阵风8级的大风。全国降水量预报图(1月17日08时-18日08时)</p></body></html>