<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1563</title>
</head>
<body>
<h1>
陕西米脂县砍杀学生事件死亡人数上升至9人-新华网
</h1>
<p id="demo"> 2018-04-28 07:36:15</p><p>新华社西安4月28日电（记者刘彤、薛天）记者28日从米脂县公安局了解到，27日18时许在米脂县第三中学校外巷道发生的伤害案件，导致19名学生（14女5男）受伤。截至目前，死亡学生人数已上升至9人（7女2男），其余10名伤者仍在全力救治中。犯罪嫌疑人于案发后已被警方控制。初步查明：犯罪嫌疑人赵某，男，汉族，1990年1月20日生，户籍米脂县城郊赵家山村人。案件正在进一步侦查中。案发后，米脂县已调集全县医疗力量开展救治工作。同时，陕西省卫计委派出3名医疗专家，榆林市第一医院、第二医院以及第一医院绥德院区派出20余名医疗专家已在米脂帮助开展救治工作。榆林市区、米脂县、绥德县等地群众，也自发在第一时间到当地为受伤学生献血。</p></body></html>