<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1564</title>
</head>
<body>
<h1>
人社部集中公布887件重大欠薪案 企业拖欠工资拒不整改的按高限处罚-新华网
</h1>
<p id="demo"> 2018-04-28 07:38:46</p><p>记者今天从人力资源和社会保障部了解到，人社部组织开展的2018年春节前农民工工资支付情况专项检查中，全国共移送涉嫌拒不支付劳动报酬犯罪案件1329件，集中公布887件重大欠薪典型案件，共为100.6万名农民工补发被拖欠工资及赔偿金119.75亿元，对无故拖欠工资的用人单位依法责令限期整改，责令改正不改的，一律按高限给予行政处罚。据人社部政策研究司副司长卢爱红介绍，2017年12月至2018年春节前，人社部联合发改委等部门联合开展了治理拖欠农民工工资专项行动，全国共移送涉嫌拒不支付劳动报酬犯罪案件1329件。此次专项行动全面开展欠薪排查，限时解决欠薪特别是政府投资工程的欠薪问题，对无故拖欠工资的用人单位依法责令限期整改，责令改正不改的，一律按高限给予行政处罚；对拖欠工资数额大、一时难以落实清偿资金或者企业主欠薪逃匿的，及时动用工资保证金和政府应急周转金，先行垫付部分资金或基本生活费。卢爱红表示，下一步将继续加大工作力度，主要采取三项措施：继续加大工程建设领域欠薪问题源头治理力度，着力解决政府投资工程项目的欠薪问题，健全治理欠薪问题长效机制，严格落实属地监管责任；加强劳动保障监察执法，进一步畅通举报投诉渠道，推进举报投诉案件省级联动处理机制建设，严厉打击恶意欠薪；进一步做好企业劳动保障守法诚信等级评价和重大劳动保障违法行为社会公布工作，对拖欠农民工工资企业实行“黑名单”管理，加大对欠薪企业、欠薪行为的曝光力度。（记者 李丹青）</p></body></html>