<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>166</title>
</head>
<body>
<h1>
驻国资委纪检组通报4起违反中央八项规定精神问题-新华网
</h1>
<p id="demo"> 2018-02-13 09:16:40</p><p>1.中国通用技术（集团）控股有限责任公司所属中国通用新兴地产有限公司原领导班子成员2016年均存在超标准乘坐交通工具问题，其中原党委书记尚宝田累计超标准乘坐交通工具12次，原党委副书记、总经理刘军5次，原纪委书记王晓康12次，原总会计师张小英7次，原副总经理吴子华6次，原副总经理李安民3次，原副总经理刘金刚1次。分别给予尚宝田、王晓康撤销党内职务、行政降级处分；给予刘军（合并其他违纪问题）开除党籍处分、解除劳动关系；给予张小英党内警告处分；分别对吴子华、李安民、刘金刚进行诫勉谈话。2.招商局集团有限公司所属中外运集装箱运输有限公司阳光速航运营中心副总经理金航于2014年5月至2017年1月任总经理助理、副总经理期间，先后9次用公款组织公司客户到娱乐场所进行高消费娱乐活动，共计消费81450元。给予金航留党察看一年、行政记大过处分、对其行政职务降二级处理，按高级经理安排。3.中国机械工业集团有限公司所属恒天资产管理有限公司2015年11月购买高档红酒24瓶，单价1680元/瓶、总价值40320元，用于业务接待；购买高档皮具1件，价值13510元，作为礼品赠送客户；2015年2月至12月，购买香烟4次，合计金额4180元，用于业务接待。给予总经理孙晓东党内严重警告、行政记大过处分；分别给予党委书记张豫和党委副书记、纪委书记顾朝武党内严重警告处分；给予总会计师刘义升行政记大过处分；分别对副总经理、工会主席王军龙，副总经理卢世焕，副总经理、总法律顾问熊佩文进行诫勉谈话。4.中国核工业集团有限公司所属中国核电工程有限公司采购中心监造处处长、第五党支部组织委员赵利勇2016年6月29日在浙江绍兴参加会议期间，违规参加合作供应商组织的KTV娱乐活动，并接受有偿异性陪侍。此外，2016年，赵利勇还利用出差机会，通过虚开住宿发票、将个人其他费用计入住宿费等方式，虚报、骗取差旅费19985元。给予赵利勇撤销党内职务、行政撤职处分。（驻国资委纪检组 | 责任编辑 王小宁）</p></body></html>