<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>170</title>
</head>
<body>
<h1>
警方捣毁一以声称可以开通“微粒贷”实施诈骗的团伙-新华网
</h1>
<p id="demo"> 2018-01-24 19:47:38</p><p>新华社杭州１月２４日电（记者 马剑）杭州上城警方２４日宣布，通过缜密侦查，破获一起以开通“微粒贷”业务实施诈骗的犯罪团伙，抓获涉案人员５０多人，刑事拘留４３人。“微粒贷”是腾讯微众银行推出的一款互联网小额信贷产品。该产品采用用户邀请制，只有受官方邀请的用户才可开通，并根据用户的信用记录主动提额。一些不法分子以声称可以开通“微粒贷”或者提高“微粒贷”额度进行诈骗。２０１７年７月，杭州地铁集团的何先生在网络上看到一则可以帮忙开通“微粒贷”的广告。他添加微信后与对方取得了联系，对方声称开通“微粒贷”需要转账１０００元作为技术费。当何先生转账后按照对方提供的信息进行操作时，却发现并不能开通“微粒贷”。何先生多番与对方交涉，对方将其微信拉黑。于是，何先生向杭州市公安局地铁分局报案。几乎在同一时段，杭州市公安局上城区分局接到了类似报案。上城警方发现包括地铁警方受理的案件在内，杭州已有７起类似案件，涉案金额近万元。上城警方随即成立专案组对全部案件进行串并侦查。通过调查发现，位于湖北武汉的网络公司“未来之行”涉嫌以开通“微粒贷”“蚂蚁借呗”为名实施诈骗。２０１７年８月３０日，在武汉警方协助下，专案组对“未来之行”网络公司实施封控，现场抓获包括公司法人余某、接待兼会计熊某珍等团伙主要成员在内的涉案人员３８人，现场扣押涉案电脑３６台。根据警方调查，自２０１５年以来，该公司以开通“微粒贷”“蚂蚁借呗”业务实施诈骗２０００余起，受害人２０００余名，遍布全国各地，涉案金额超过６００万元。针对一些参与诈骗的员工已经离开公司，为彻底肃清该诈骗团伙，２０１７年下半年以来，上城警方先后十余次组织警力前往湖北、广东、海南、四川等地，又抓获涉案人员２０多人。到目前，该案共刑事拘留４３人，经上城区检察院批准逮捕１３人，１５人已移送检察院起诉。</p></body></html>