<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>171</title>
</head>
<body>
<h1>
国内首个集成电路与微系统共享共创平台正式发布-新华网
</h1>
<p id="demo"> 2018-01-24 19:19:59</p><p>新华社北京1月24日电（记者胡喆）由中国电子科技集团发起成立的国内首个集成电路与微系统共享共创平台“电科芯云”24日在京正式发布。通过“电科芯云”共享共创平台，中国电科将率先向全社会开放集团内IP库、工具软件和工艺产线等资源，推动业务协同，为国家先进制造业发展作出贡献。“中国智造，从芯开始。”长期以来，我国电子信息产业“缺芯少魂”“被卡脖子”的现象较为突出，产品依赖进口，核心技术受制于人，信息安全面临隐患。《中国制造2025》中明确提出，要“突破关系国家信息与网络安全及电子整机产业发展的核心通用芯片，提升国产芯片的应用适配能力”。中国电科董事长熊群力认为，集成电路与微系统技术在一定程度上代表了新一轮信息技术的革命，是助推国家发展的倍增器。“大力发展集成电路与微系统技术和产业，既是顺应信息技术产业发展的潮流，也是适应装备集成化、小型化、综合化、智能化发展的需要。”熊群力说。当前，我国在设计方法、设计工具、制造工艺等方面基础薄弱，与国际先进水平存在代差，缺少自主可控IP核、设计软件与安全可信工艺，存在着周期过长、成本过高和维护保障效率低等问题。构建多单位协同研发、资源共享平台将是破除瓶颈、解决问题的关键手段。中国电科总经理刘烈宏介绍，中国电科在集成电路与微系统领域，从基础制造到系统集成整个链条均有布局，在微电子、光电子、微机电系统、系统封装、砷化镓、氮化镓等方面具有较好的研究基础，具备为全行业服务的坚实基础。据悉，作为军工电子的国家队，利用“电科芯云”，中国电科将逐步推进科技资源和知识产权开放共享，快速将技术优势转化为产业优势，支撑产业跨越式发展，同时利用民用产业成熟的工艺平台和设计资源，降低研发成本，缩短研制周期，迅速形成军民共享的工业生产能力。</p></body></html>