<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>172</title>
</head>
<body>
<h1>
我国科学家找到了蜈蚣毒的解药——瑞替加滨-新华网
</h1>
<p id="demo"> 2018-01-24 18:46:21</p><p>图表：我国科学家找到了蜈蚣毒的解药——瑞替加滨 新华社发 大巢制图新华社昆明1月24日电（记者岳冉冉）我国科学家日前揭开了蜈蚣在30秒内捕杀猎物的分子机制之谜，并基于此发现临床药物“瑞替加滨”对消除由蜈蚣叮咬产生的严重临床症状有良好效果。该研究成果于近日发表在国际期刊《美国国家科学院院刊》上。蜈蚣是肉食性产毒动物，分布在世界各地，其化石记录可追溯到4.2亿年前。在长期进化适应进程中，蜈蚣优化其毒液来进行捕食、防御，并可杀死远大于自身体重的猎物。而被蜈蚣叮咬后的患者会出现疼痛、水肿、发炎、坏死和皮下出血，严重者有高血压、心肌缺血、呼吸衰竭、昏迷和痉挛，甚至死亡。中国科学院昆明动物研究所赖仞研究员牵头的团队日前揭开了这一谜底。研究发现：金头蜈蚣可以在30秒内快速制服并捕食比自己体重大30倍以上的猎物。这一惊人的捕食效率是由于蜈蚣毒液中含有一种名为“SsTx”的多肽毒素。该毒素会阻断钾离子通道KCNQ，从而导致猎物心脏、呼吸和神经系统功能障碍，使其能高效捕食猎物。论文通讯作者之一、中科院昆明动物研究所博士杨仕隆说：“KCNQ4是钾离子通道KCNQ家族的一个成员，主要分布在血管和呼吸肌上，当蜈蚣的SsTx毒素进入血液，就会阻断KCNQ家族，从而使血管收缩，并让呼吸肌无法运动，最终导致心肌缺血和呼吸衰竭。而一旦蜈蚣咬穿小动物颅骨，大脑里的KCNQ2等通道就会被抑制，从而导致癫痫。”基于SsTx的分子机制，在小鼠和猴子模型上，研究者发现临床药物“瑞替加滨”能够有效治疗中蜈蚣毒引发的心肌衰竭、癫痫和呼吸抑制等症状。</p></body></html>