<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>173</title>
</head>
<body>
<h1>
我国首次明确快递末端服务设施公共属性快递业再获政策红利-新华网
</h1>
<p id="demo"> 2018-01-24 19:19:15</p><p>新华社北京1月24日电（记者赵文君）国务院办公厅近日印发《关于推进电子商务与快递物流协同发展的意见》，对近年来电子商务与快递物流融合发展中出现的新情况、发现的新问题，给出了具体的指导意见。意见指出，创新公共服务设施管理方式，明确智能快件箱、快递末端综合服务场所的公共属性。国家邮政局发展研究中心主任曾军山认为，这是首次从国家层面明确智能快件箱、快递末端综合服务场所的公共属性，能够切实解决快递网点安家难、智能快件箱部署难等问题，为加快完善快递末端服务网络提供了有力支撑。意见明确，实施快递末端网点备案管理，实现许可备案事项网上统一办理。曾军山说，末端网点是快递网络的末梢机构，对末端进行备案管理，将有利于末端的创新、创业，有利于提升行业准入效率，对于解决当前快递末端困局提供了便捷。意见提出，将快递物流相关基础设施纳入整体规划，快递物流相关仓储、分拨、配送等设施用地须符合土地利用总体规划并纳入城乡规划。北京邮电大学邮政发展研究中心主任赵国君认为，这将完善电子商务快递物流的基础设施建设，有效缓解快递企业作业场所紧张的问题。意见鼓励各地对快递服务车辆实施统一编号和标识管理等措施。赵国君说，这些便利配送车辆通行的举措更为细化，更接地气。在绿色发展方面，意见从促进资源集约、推广绿色包装以及推动绿色运输与配送等三方面，对发展快递绿色生态链进行了规划，提出了具体措施。意见提出，创新价格监管方式，引导电子商务平台逐步实现商品定价与快递服务定价相分离，促进快递企业发展面向消费者的增值服务。赵国君表示，此举将引导商品销售与快递服务定价相分离，有利于快递行业走出价格战泥潭，为消费者提供更加优质的服务。意见提出，推动建立电子商务与快递物流各环节数据接口标准。鼓励仓储、快递、第三方技术服务企业发展智能仓储，延伸服务链条。曾军山表示，这将有利于提高快递物流科技应用水平、鼓励信息互联互通、推动供应链协同发展。</p></body></html>