<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>178</title>
</head>
<body>
<h1>
最高检将研究对侵害英雄烈士名誉案件提起公益诉讼-新华网
</h1>
<p id="demo"> 2018-01-24 20:36:43</p><p>新华社北京1月24日电（记者陈菲）记者从24日召开的全国检察长会议上获悉，今年检察机关将积极推进提起公益诉讼工作，除重点办理生态环境和食品药品安全领域案件外，还将加强对侵害英雄烈士名誉案件提起公益诉讼研究。去年6月，全国人大常委会对民事诉讼法和行政诉讼法作出修改，确立了检察机关提起公益诉讼制度。此前，经全国人大常委会授权，北京等十三个省区市检察机关开展了为期两年的提起公益诉讼试点工作。最高检负责人表示，检察机关提起公益诉讼制度改革在试点两年间完整经历了顶层设计、法律授权、试点先行、立法保障、全面推进五个阶段，成为全面深化改革的典型样本，走出一条具有中国特色的公益司法保护道路。据悉，试点期间，860个试点检察院在环境资源等领域办理公益诉讼案件9053件。此次会议上，最高检还要求在推进提起公益诉讼工作中，准确把握法定案件范围，探索建立公益诉讼中发现违纪违法线索向有关部门移送制度。</p></body></html>