<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>179</title>
</head>
<body>
<h1>
我国将在2018年底前基本实现村居法律顾问全覆盖-新华网
</h1>
<p id="demo"> 2018-01-24 20:48:17</p><p>新华社北京1月24日电（记者 王茜）我国将在2018年底前基本实现村居法律顾问全覆盖，让老百姓足不出户就能解决日常生活中的法律问题。司法部部长张军24日在全国司法厅（局）长会上这样表示。据了解，村居法律顾问是指在村居一级推进一村居一法律顾问工作，鼓励有条件的地方在村居委会或当地社区服务中心建立公共法律服务工作室，同时建立微信工作群，加强与基层群众、村居委会工作人员之间的工作联系，提供好相关法律服务。张军认为，村居法律顾问微信群就像“家庭医生”，重点解决老百姓家长里短的矛盾，为城乡居民提供全覆盖优质高效公共法律服务。目前，一些地方正在探索建立不同层级的法律顾问微信群，推动村居法律顾问从面对面咨询解答到网上引导化解并重，从面上全覆盖向有效全覆盖提升。张军介绍，在贫困边远地区的农村，智能手机、网络的使用已非常普遍。一份权威调研报告统计显示，有的县农民人均手机拥有量0.69台，其中智能手机占66.9%。张军建议，有关部门要用好这一条件和优势，在县、乡、村建起不同层级的微信群，让村居法律顾问成为老百姓时刻在线的法律顾问。</p></body></html>