<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>180</title>
</head>
<body>
<h1>
到2020年我国将基本建立适应行业特点的全科医生培养制度-新华网
</h1>
<p id="demo"> 2018-01-24 20:18:41</p><p>新华社北京１月２４日电（记者毛振华、王宾）日前，国务院办公厅印发《关于改革完善全科医生培养与使用激励机制的意见》，提出到２０２０年，适应行业特点的全科医生培养制度基本建立，适应全科医学人才发展的激励机制基本健全，全科医生职业吸引力显著提高，城乡每万名居民拥有２—３名合格的全科医生。全科医生主要在基层承担常见病多发病诊疗和转诊、预防保健、病人康复和慢性病管理等一体化服务，被称为群众健康的“守门人”。截至２０１６年底，我国培训合格的全科医生已达２０．９万人，为卫生与健康事业发展提供了有力支撑。意见强调，医教协同深化院校全科医学教育改革。高等医学院校要高度重视全科医学学科建设，面向全体医学类专业学生开展全科医学教育和全科临床见习实习。“全科医生培养量质齐增，有利于家庭医生签约服务和分级诊疗制度的落实，推动满足人民群众对医疗卫生服务的迫切需求。”中国医师协会全科医师分会会长杜雪平说。为全面提高全科医生职业吸引力、做好激励举措，意见提出改革完善全科医生薪酬制度，推进医疗服务价格改革，体现包括全科医生在内的医务人员技术劳务价值。完善全科医生聘用管理办法。拓展全科医生职业发展前景。增加基层医疗卫生机构的中高级专业技术岗位比例，重点向经全科专业住院医师规范化培训和全科专业专科医师规范化培训合格的全科医生倾斜。北京市丰台区方庄社区卫生服务中心主任吴浩表示，意见实施将有望加快解决基层社区医疗机构收入不高、学术能力不强、对全科医生吸引力弱等问题。“这些措施将有助于他们扎根基层，在建立和谐医患关系方面将发挥重要作用。”意见还提出，加快壮大贫困地区全科医生队伍。继续推进全科医生特岗计划试点工作，到２０２０年，逐步将试点范围覆盖到所有贫困县的乡镇卫生院。</p></body></html>