<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>192</title>
</head>
<body>
<h1>
去年森林旅游产值1.15万亿元 我国将建6个国家级森林城市群-新华网
</h1>
<p id="demo"> 2018-01-27 07:32:15</p><p>记者从国家林业局获悉：我国正加快推进森林城市群建设，全国有20多个省份正在积极推进森林城市群建设， 到2020年将建成6个国家级森林城市群。据介绍，林业发展“十三五”规划明确提出到2020年建成京津冀、珠三角、长三角、长株潭、中原、关中—天水6个国家级森林城市群。在《关于着力开展森林城市建设的指导意见》中，将“着力推进森林城市群建设”列为8项主要任务之一，并在珠三角开展首个“国家级森林城市群建设示范区”建设，在国家级森林城市群建设上实现率先突破。目前，珠三角国家级森林城市群涉及的9个城市中已有7个成功创建为国家森林城市。6个国家级森林城市群和省级森林城市群将在今年内完成中长期规划编制。6个国家级森林城市群所在省份将全部开展国家森林城市和省级森林城市创建，并逐步向乡村延伸。另据了解：2017年全国森林旅游游客量达到13.9亿人次，占国内旅游人数的比例约为28%，创造社会综合产值11500亿元。森林旅游已经成为继经济林产品种植与采集业、木材加工与木竹制品制造业之后，年产值突破万亿元的第三个林业支柱产业。森林旅游直接收入从2012年的618亿元增长到2017年的1400亿元，年增长率保持在18%以上。5年来全国森林旅游游客量累计达到46亿人次，年均增长15.5%。森林旅游是指人们以森林、湿地、荒漠和野生动植物资源及其外部物质环境为依托，所开展的观光游览、休闲度假、健身养生、文化教育等旅游活动。调查显示，森林旅游已经成为我国公众特别是城镇居民常态化的生活方式和消费行为。公众的出游动机和对森林旅游产品的偏好呈现多样化，热衷于山地运动、森林养生的群体正在快速壮大。（记者顾仲阳）</p></body></html>