<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>195</title>
</head>
<body>
<h1>
广东清远：7个跨省电信诈骗团伙被端-新华网
</h1>
<p id="demo"> 2018-01-27 08:04:21</p><p>26日上午，清远市公安局召开清远市公安机关打击治理电信网络新型违法犯罪工作新闻发布会暨涉案资金返还仪式。去年清远共立涉电信网络诈骗刑事案件729宗，破案298宗，刑拘197人，逮捕人数172人，起诉案件643宗。行动共打掉7个跨省诈骗团伙（已移送检察机关公诉团伙7个）。2017年，清远市接警群众受损金额1530多万元，进驻中心五大银行查询涉案银行账户6475个，全市公安机关止付、冻结涉案金额705万元，进驻中心三大通信运营商查询涉诈骗手机号码744个，共关停涉电信网络诈骗手机号码71个，中心对正在受骗群众成功预警、劝阻4255人次。2017年清远市共受理涉电信网络诈骗资金原路返还工作29起，市反诈骗中心先后派员前往北京、四川、广州等地办理涉电信诈骗资金返还工作，办理返还金额共计475076.6元。（记者曹菁）</p></body></html>