<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>197</title>
</head>
<body>
<h1>
早了10天！8件政协提案促成“冰城”人提前“住暖屋”-新华网
</h1>
<p id="demo"> 2018-01-27 10:09:44</p><p>新华社哈尔滨1月27日电（记者闫睿）黑龙江省哈尔滨市部分城区2017年相较以往早10天启动供热系统热态试运行，居民提前入“暖冬”。记者从正在召开的黑龙江省政协十二届一次会议上了解到，之所以促成这一转变，源起于黑龙江省政协十一届五次会议上的8件提案。对于刚刚经历了零下35摄氏度“极寒”天气考验的哈尔滨市民来说，每年供热期“早几天来，晚几天走”是他们关心的大事。2017年初召开的黑龙江省政协会议上，民革黑龙江省委、民盟黑龙江省委、九三学社黑龙江省委和省政协委员唐铁威等人分别提交了“关于调整冬季供暖期的建议”8件提案，呼吁更好地依据天气情况调整供暖时间。“这看似是百姓小事却不小，应该成为我们关注的大事。”民盟黑龙江省委秘书长李福生说，这一现象最初由盟员个人提出，但得到了集中关注。记者了解，黑龙江省政协在梳理2017年委员提案时，将反映此类问题的8件提案“打包”确定为重点提案，由省政协相关负责人领衔督办。实行提前供暖怎样做才合理？黑龙江省政协人士说，这实际上是在求解百姓诉求、政府管理、企业运营和环境保护的“最大公约数”。2017年8月黑龙江省政协召开专题会，研究“如何既确保提前供暖，又不致过多增加成本。”9月，黑龙江省政府召开专题会议，研究哈尔滨市提前供暖工作。随后，哈尔滨市向黑龙江省政协回复报告。2017年9月18日，哈尔滨市政府出台通知，明确10月10日前各供热单位全部进行包括热用户室内供热系统的热态运行，确保10月20日供热质量达标。同时，继续实施困难家庭用热保障政策。对于提前供热带来的成本增加，有关部门打出“组合拳”。一方面组织省内煤炭生产企业以合理价格保证热煤供应，从源头上降低成本。一方面强化市场作用，通过招投标形式，找到最利于百姓的热源企业。今年1月23日，哈尔滨最低气温约零下35摄氏度。香坊区香顺社区居民王喜燕说，虽然这几天外面温度很低，但家中温度仍在23摄氏度左右。“民主党派提交的民生提案，得到了政府回应、企业响应、群众点赞。”这让从事了10余年参政议政工作的李福生自己也充满了“获得感”。相关链接：法官提示：冬季供暖不达标 用户维权“三注意”国家能源局：有序推进“煤改电”供暖供暖分界地区一线之隔冷暖天差地别 差异性供暖成共识</p></body></html>