<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>198</title>
</head>
<body>
<h1>
中国南极新站前期建设全面展开-新华网
</h1>
<p id="demo"> 2018-01-27 10:14:35</p><p>新华社“雪龙”号１月２７日电（记者白国龙）中国第３４次南极科考队在南极恩克斯堡岛上建设新科考站的前期准备工作已全面展开，目前岛上住宿舱已经通电，海水淡化设备也已能基本满足生活用水需要。中国第３４次南极科考队副领队、国家海洋局极地考察办公室副主任夏立民介绍，科考队在前些天将总重１８０吨的工程装备和建设物资全部运上恩克斯堡岛后，随即展开了修路、平整场地、吊运住宿舱、搭建临时供电线路等工作。科考队领队助理张体军说：“我们利用好天气，在岛上平均每天作业十四五个小时，‘人换机不停’，工程机械２４小时连续作业。”科考队员在岛上已完成临时设施场地地基开挖、临时建筑基础水泥墩定位及安装等关键工作，基础钢梁预拼装完成４０％，半高箱组合式简易码头也已成功修建。接下来，科考队员会继续相关基建工作，同时还将继续开展恩克斯堡岛新站的站址地形图测绘、鸟类调查、近岸海洋测绘、地质调查、南极鱼类进化研究等科考工作。恩克斯堡岛也称“难言岛”，位于南极罗斯海海域。按计划，中国第３４次南极科考队要在恩克斯堡岛为中国第五个南极考察站建设做前期准备工作。此前，中国已在南极建设了长城站、中山站、昆仑站、泰山站４个南极考察站。</p></body></html>