<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>199</title>
</head>
<body>
<h1>
董云虎当选上海市政协主席-新华网
</h1>
<p id="demo"> 2018-01-27 11:27:55</p><p>新华社上海1月27日电 政协上海市第十三届委员会第一次会议27日选举董云虎为市政协主席，方惠萍（女）、赵雯（女）、周汉民、王志雄、张恩迪、李逸平、徐逸波、金兴明、黄震为副主席。董云虎简历董云虎，男，1962年12月出生，籍贯浙江仙居，1986年7月参加工作，1985年3月加入中国共产党。南开大学哲学系毕业，研究生学历，硕士学位。1986年7月至1997年8月在中央党校工作，历任马列所一室副主任、副教授，人权研究中心主任、教授(其间到中央对外宣传办公室挂职任人权研究室任主任)，马列所副所长、人权研究室主任；1997年8月任中央对外宣传办公室七局局长，中国人权研究会副会长兼秘书长；2009年11月任中央对外宣传办公室副主任。2012年1月，西藏自治区党委常委、宣传部部长。2015年8月，上海市委常委、宣传部部长。2018年1月27日，上海市政协十三届一次会议举行全体会议，选举董云虎为上海市政协主席。（简历来源：中国经济网）</p></body></html>