<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>205</title>
</head>
<body>
<h1>
湖南：高校毕业生到基层工作将享受多项优惠政策-新华网
</h1>
<p id="demo"> 2018-01-30 11:03:57</p><p>新华社长沙1月30日电（记者谢樱）湖南省近日出台《关于进一步引导和鼓励高校毕业生到基层工作的实施意见》，推出多种优惠政策引导和鼓励高校毕业生到基层发挥才干。根据《意见》，武陵山、罗霄山片区等艰苦边远地区基层机关招录高校毕业生可适当放宽学历、专业等条件，降低开考比例，可设置一定数量的职位面向具有本市、县户籍或在本地区长期生活的高校毕业生；艰苦地区乡镇事业单位招聘大学本科以上毕业生、县级事业单位招聘硕士以上毕业生，可以采取面试、组织考察等方式公开招聘。《意见》明确，到农村基层工作的高校毕业生，由所在乡镇或工作单位落实基本住房保障。符合条件的服务艰苦地区贫困县基层的高校毕业生将被纳入学费补偿和国家助学贷款代偿政策范围。对到农村基层急需和紧缺专业的高校毕业生给予专项安家费。《意见》规定，基层人员参加职称评审，对外语、计算机应用能力、论文著作等不作硬性要求，提高基层一线特别是脱贫攻坚一线专业技术人才履行岗位职责实践能力、工作业绩、工作年限等要素的权重。对在县乡基层一线工作满10年或作出重要贡献，受到省级及以上主管部门表彰肯定的高校毕业生，可提前2年破格晋升职称。《意见》还明确，县以下机关事业单位工作的高校毕业生，新录用为公务员的，试用期工资可直接按试用期满后工资确定；试用期满考核合格后的级别工资，在未列入艰苦边远地区或国家扶贫开发工作重点县的高定一档，在三类及以下艰苦边远地区或国家扶贫开发工作重点县的高定两档。</p></body></html>