<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>207</title>
</head>
<body>
<h1>
河北：民营医疗机构医务人员将被纳入继续医学教育管理体系-新华网
</h1>
<p id="demo"> 2018-01-30 10:14:36</p><p>新华社石家庄1月30日电（记者李继伟）记者从河北省卫计委获悉，河北省日前印发的《关于深化医教协同进一步推进医学教育改革与发展的实施意见》规定，民营医疗机构的卫生技术人员将被纳入继续医学教育管理体系。意见中说，河北将修订完善继续医学教育相关规定，将个体诊所和民营医疗机构的卫生技术人员、乡村医生纳入继续医学教育管理体系，到2020年实现继续医学教育全员覆盖。同时，河北相关部门还将把继续医学教育合格与否作为卫生技术人员考核、岗位聘用或晋升专业技术职务的重要条件。意见还提出，河北将以基层为重点，以岗位胜任能力为核心，围绕各类医务人才职业发展需求，分层分类制订继续医学教育指南，遴选开发优质慕课，健全继续医学教育基地网络，充分利用以国家健康医疗开放大学为基础、中国健康医疗教育慕课联盟为支撑的健康教育培训云平台实施继续医学教育等。</p></body></html>