<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>216</title>
</head>
<body>
<h1>
云南芒市边防破获特大毒品案缴获海洛因逾32公斤-新华网
</h1>
<p id="demo"> 2018-01-12 13:33:14</p><p>新华社昆明１月１２日电（何冬华、田洪涛）来自云南省德宏州公安边防支队的消息称，近日，芒市边防大队成功破获一起特大毒品案，缴获毒品海洛因３２．１公斤，抓获犯罪嫌疑人５名。２０１７年１２月３０日，德宏边防支队芒市边防大队接到群众举报称：近期，有一个团伙与境外毒贩相互勾结，伺机贩运一批毒品入境。芒市边防大队迅速成立专案组，并派出侦查人员深入边境一线走访摸排。３１日凌晨５时４５分，专案组发现一男子驾驶一辆载着猪饲料的货车驶入境内。专案组迅速布控堵截，当场从该车装载的猪饲料中查获毒品海洛因３２．１公斤，并抓获了驾驶员张某。通过延伸侦办，今年１月２日凌晨，专案组在四川警方的大力配合下，在四川凉山某酒店将其余４名贩毒团伙一举抓获。目前，该案正在进一步办理中。</p></body></html>