<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>217</title>
</head>
<body>
<h1>
广东惠州一火车票代售点现“机器人抢票键盘手”-新华网
</h1>
<p id="demo"> 2018-01-12 12:38:48</p><p>惠州铁路公安处在惠州一火车票代售点查获的“机器人抢票键盘手”。惠州铁路公安处提供记者1月12日从广东惠州铁路公安处获悉，该处在1月11日下午查获了一个用“机器人”抢票、高价倒卖火车票的火车票代售点。据介绍，1月11日15时许，惠州铁路公安处接到民众举报，在惠州市区某火车票代售点有高价倒卖火车票行为，惠州铁路警方迅速出击，在惠州仲恺区陈江一火车票代售点查获嫌疑人庄某(男，35岁，广东省惠州市人)，当场查获火车票120多张，并依法将其停机整顿。令民警惊讶的是，电脑旁装有一台“机器人”，正在连续不停地敲击电脑键盘抢票。经查，庄某为了节省人力和时间，自己用了半年时间研发制作，花费数千元研制了这台机器人键盘手，24小时每一秒敲击一次电脑键盘，代替人工刷新页面。自今年元旦以来，已成功抢票120多张，大都是春运期间的紧俏车票。庄某通过多个小区业主微信群发布信息帮人代订火车票，利用互联网上下载抢票软件抢票，通过微信或qq将订票信息发送给旅客，然后通过微信收取20至100元不等的手续费。目前，该代售点已被停机整顿，该案仍在进一步调查中。据了解，广东惠州铁路警方为营造和谐温馨平安的春运环境，组织多警种联动，注重网络巡查、分析研判，自1月1日以来连续破获5起高价倒卖车票案件，查获倒票窝点3个、抓获票贩子26人，查获火车票935张，票面价值163147元。(张中铃 宋秀杰)</p></body></html>