<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>218</title>
</head>
<body>
<h1>
杭州保姆纵火案被告人愿接受法援律师继续为其辩护-新华网
</h1>
<p id="demo"> 2018-01-12 11:49:01</p><p>浙江省杭州市中级人民法院今日在其官方微博通报被告人莫焕晶放火、盗窃一案最新情况。通报称，被告人莫焕晶愿意接受杭州市法律援助中心指派的两名法律援助律师继续担任其辩护人。2018年1月5日下午，浙江省杭州市中级人民法院收到北京市中闻律师事务所律师何兵提交的、由被告人莫焕晶之父莫某某签名的代为委托辩护的相关材料。鉴于此前被告人莫焕晶已接受杭州市法律援助中心指派的两名法律援助律师担任其辩护人，故根据有关规定，本案合议庭成员赴杭州市看守所，将前述事项告知了被告人莫焕晶，并征询其本人意见。被告人莫焕晶经过考虑后，于1月9日向杭州中院表示，其本人愿意接受杭州市法律援助中心指派的两名法律援助律师继续担任其辩护人。浙江省杭州市中级人民法院已将上述情况告知北京市中闻律师事务所何兵律师。浙江省杭州市中级人民法院将依法继续审理本案。</p></body></html>