<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>242</title>
</head>
<body>
<h1>
证监会将进一步规范券商投行业务-新华网
</h1>
<p id="demo"> 2017-12-29 20:50:18</p><p>新华社北京12月29日电（记者王都鹏、刘慧）中国证监会新闻发言人常德鹏29日说，为净化资本市场生态环境，维护资本市场稳定健康发展，证监会研究制定了关于进一步规范证券公司在投资银行类业务中聘请第三方机构等相关行为的意见（征求意见稿），并于近日向社会公开征求意见。常德鹏在例行新闻发布会上说，近年来，投资银行类业务快速发展，部分证券公司在开展投资银行类业务的过程中，为获取专业服务或其他目的而直接或间接有偿聘请各类第三方机构或个人的行为也不断增加。相关聘请行为的表现形式复杂多样，其中部分形式容易滋生利益输送、商业贿赂等问题，为行业的规范、健康发展埋下了隐患。常德鹏说，因此，证监会制定了意见，针对该类事项进行专项规定，旨在统一行业认识、明确相关要求、加强实践指导，切实贯彻落实廉政风险防控工作。同时，证监会正在研究制定投资银行类业务廉洁从业行为监管意见，对证券基金经营机构及从业人员在投资银行类业务中廉洁从业做出整体性规范。据介绍，意见内容主要包括四个方面：一是重申廉政建设基本原则，明确禁止证券公司通过各种形式进行利益输送、商业贿赂等行为。二是强调证券公司落实廉政风险防控主体责任，完善机制建设，强化管控力度，从源头防控违规风险。三是明确对证券公司相关聘请行为的信息披露要求。四是要求证券公司对其投资银行类项目服务对象的相关聘请行为及其合法合规性进行核查并发表意见。</p></body></html>