<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>244</title>
</head>
<body>
<h1>
中国驻越南大使馆提醒中国公民遵守越南出入境法规-新华网
</h1>
<p id="demo"> 2017-12-29 21:02:35</p><p>新华社河内１２月２９日电 由于越南近日发生多起中国公民因违反越南出入境法规遭处罚案件，中国驻越南大使馆２９日发布通知，提醒旅越中国公民注意遵守越南出入境法规。中国驻越南大使馆提醒旅越中国公民，勿从事与签证种类不符的活动，根据实际赴越目的申请签证，领取签证后仔细检查签证种类、有效期及入境次数。越南常见签证种类包括ＤＬ（旅游签证）、ＬＤ（劳动签证）、ＤＨ（留学签证）、ＤＴ（投资签证）、ＤＮ（商务签证）等。根据越南相关法律规定，越南出入境管理部门负责检查外国公民所持签证，如与入境目的不符，将处以１５００万到２５００万越南盾（约４３００元到７２００元人民币）罚金并限期离境；情节严重的将处以罚金并驱逐出境。中国驻越南大使馆还提醒赴越旅游中国公民勿自行前往民宅居住（居住在越南籍配偶家中除外）及到当地工厂参观或进行其他非旅游活动，如有相关需求，应提前向当地公安机关申报。根据越南相关法律规定，如未按规定申报，将被处以５０万到２００万越南盾（约１４０元到５７０元人民币）罚金；情节严重的将处以拘留或驱逐出境。此外，中国驻越南大使馆还建议广大旅越中国公民提前了解并遵守越南相关出入境法规，注意在签证有效期内及时离境。</p></body></html>