<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>247</title>
</head>
<body>
<h1>
英雄烈士保护法草案征求社会公众意见-新华网
</h1>
<p id="demo"> 2017-12-29 20:14:04</p><p>新华社北京12月29日电（记者陈菲、丁小溪）英雄烈士保护法草案29日在中国人大网公布征求社会公众意见。刚闭幕的十二届全国人大常委会第三十一次会议对《中华人民共和国英雄烈士保护法（草案）》进行了首次审议。草案共30条，包括英雄烈士的历史功勋、人民英雄纪念碑的法律地位、纪念缅怀英雄烈士活动、弘扬传承英雄烈士精神、烈士褒扬和遗属抚恤优待、保护英雄烈士名誉荣誉等内容。近年来，社会上有些人以“学术自由”“还原历史”“探究细节”等为名，通过网络、书刊等渠道歪曲历史特别是近现代历史，丑化、诋毁、贬损、质疑英雄烈士，造成恶劣社会影响，引起社会各界愤慨谴责。在2017年全国两会上，有251人次全国人大代表、全国政协委员和一些群众来信提出，建议通过立法加强英雄烈士保护。据悉，英雄烈士保护法草案在中国人大网公布后，社会公众可以直接登录中国人大网（www.npc.gov.cn）提出意见，也可以将意见寄送全国人大常委会法制工作委员会。征求意见2018年1月27日截止。</p></body></html>