<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>248</title>
</head>
<body>
<h1>
2018年内地居民赴港澳地区定居审批分数线公布-新华网
</h1>
<p id="demo"> 2017-12-29 19:54:14</p><p>新华社北京12月29日电（记者刘奕湛、丁小溪）记者29日从公安部获悉，公安部日前公布了2018年内地居民赴港澳地区定居审批分数线。2018年，内地居民赴港澳地区定居夫妻团聚类审批分数线为146.1分，即2014年12月31日之前夫妻分居；子女照顾父母类审批分数线为60分，即申请人年龄为18-59周岁，在香港或者澳门定居的父母年龄均为60周岁以上且在香港或者澳门无子女；子女投靠父母类审批分数线为1分，即申请人未满18周岁，父母均在香港或者澳门定居；父母投靠子女类审批分数线为1分，即申请人年龄为60周岁以上且在内地无子女，需要投靠在香港或者澳门定居的18周岁以上子女。公安机关出入境管理部门将根据定居名额和审批分数线依法审批内地居民赴港澳地区定居。申请人如需了解具体情况，可向常住户口所在地公安机关出入境管理部门咨询。</p></body></html>