<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>250</title>
</head>
<body>
<h1>
中国公共关系协会成立三十周年纪念会在京召开-新华网
</h1>
<p id="demo"> 2017-12-29 19:10:08</p><p>新华网北京12月29日电 中国公共关系协会成立三十周年纪念会12月29日在北京召开。会议回顾了中国公共关系30年的发展历程，表彰了一批公共关系先进组织，并发布《中国公共关系发展报告（2017）》蓝皮书。全国人大教科文卫委员会主任委员、中国公共关系协会会长柳斌杰在致辞中指出，值此中国公共关系协会成立三十周年之际，我们要不忘初心、牢记使命，通过回顾公共关系30年的发展历程，总结历史经验，增强开拓前进的力量和勇气。新时代中国特色社会主义公共关系的建设，需要我们紧紧抓住机遇，努力把新时代中国特色社会主义公共关系事业推向前进，为建设中华民族伟大复兴中国梦做出更大的贡献。中国公共关系协会常务副会长兼秘书长王大平表示，三十年来，中国公共关系协会奋发进取，不断汇聚各行各业优秀资源，积极发挥“桥梁”和“纽带”作用，在社会服务、文化传播、国家形象塑造等方面都取得了长足的发展。中国公共关系协会将总结过去、展望未来、凝心聚力、共谋发展，为把中国公共关系协会建设成为政府决策的智库和社会认可、公众信任的社会组织不懈努力。中国公共关系协会成立三十年来，众多公关组织和公关人士为公共关系事业的建设和发展出谋划策、倾心献力。会议特别表彰了一批公共关系先进组织，并向为中国公共关系建立、巩固和发展做出重大贡献的先进个人和组织致敬。纪念会上还举行了公共关系蓝皮书《中国公共关系发展报告（2017）》的发布仪式。该蓝皮书由中国公共关系协会、中国传媒大学媒介与公共事务研究院组织专家编写，系统总结和梳理了过去一年在“五位一体”总体布局，“四个全面”战略布局下，我国风起云涌的公共关系实践，记录了公共关系界为实现“两个一百年”奋斗目标、为我国顺利推进“一带一路”倡议、为提升中国公共关系水平所做出的重要贡献，对构建新时代中国特色社会主义公共关系理论体系具有重要意义。本次大会还开展了纪念中国公共关系协会成立三十周年系列文化活动之“卅载辉煌书盛世 丹青溢彩谱华章”书画作品展。来自中国公共关系协会各专业委员会，各省、自治区、直辖市公共关系协会主要负责人，公共关系行业的专家、学者，和新闻媒体近300人参加了本次大会。</p></body></html>