<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>253</title>
</head>
<body>
<h1>
内地专家：“一国两制”站在新的历史起点-新华网
</h1>
<p id="demo"> 2017-12-29 19:06:03</p><p>新华社北京12月29日电（记者赵博）以“十九大与‘一国两制’新发展”为主题的北航第二届“一国两制”高端法律论坛２９日在北京举行。与会专家表示，随着国家发展进入新时代，“一国两制”也站在了新的历史起点。北京大学法学院教授饶戈平表示，全面准确推进“一国两制”实施，就要做到强化国家意识、树立宪法意识、增强发展意识和团结意识。全面落实中央管治香港的宪制性权力，继续依法保障香港高度自治，推动协调香港融入国家发展大局，巩固扩大爱国者治港的政治基础，强化对“一国两制”实践的研究和理论总结等工作，都非常重要。国务院参事室特约研究员曹二宝指出，早在中英谈判香港前途问题时，邓小平就明确表示“主权治权不可分”，在起草基本法过程中又提出“高度自治不是‘完全自治’”和“‘港人治港’不是中央不管”的两条原则。十九大报告强调要把维护中央全面管治权和保障特别行政区高度自治权有机结合起来，这是确保“一国两制”实践不变形、不走样的初心所在。中山大学粤港澳发展研究院教授王禹认为，中央在特别行政区治理体系中的地位是主权的代表者、权力的授出者和自治的监督者。完善基本法实施的相关制度和机制，必须进一步维护中央在特别行政区应有的宪制地位和宪制权威，促进中央全面管治权和特区高度自治权的有机结合。本次论坛由北京航空航天大学法学院一国两制法律研究中心主办，北京台港澳交流促进会、京台文化交流研究中心、南开大学法学院台港澳法研究中心协办。来自内地及港澳的约５０位专家学者与会。</p></body></html>