<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>258</title>
</head>
<body>
<h1>
在新时代的伟大征程上奋斗-新华网
</h1>
<p id="demo"> 2017-12-30 09:19:52</p><p>新华社南京12月30日电 题：在新时代的伟大征程上奋斗新华社记者蒋芳6集通俗理论电视节目《厉害了，我们的新时代》热播。节目聚焦新时代、新使命、新思想、新征程、新部署和伟大工程，设身处地地发问作答、解疑释惑，引发观众强烈共鸣，在共赴新时代的伟大征程上，凝聚起实现新作为、夺取新胜利的磅礴力量。新时代的样子，言人人殊。新在生活更智能，只需要一部手机；新在环境更优美，空气质量日益提升；新在中国文化走向世界，学习中文成为流行。在法国前总理多米尼克·德维尔潘眼中，新时代不仅是中国的，“它也开启了一个全球的新时代。”人民对新时代的关注，蕴含着对未来的期盼。收入更高、看病更方便、更有安全感、环境更美、乡村振兴、军队更强、千年大计、创新型国家、房子不是用来炒的、幼有所育、弱有所扶……诚如党的十九大报告所言，“永远把人民对美好生活的向往作为奋斗目标”。新时代伟大征程上，需要永不懈怠的精神状态和一往无前的奋斗姿态。曾记得，林州长达1500公里的“人工天河”、河北塞罕坝百万亩人工林海，都闪耀着一代代实干者、创业家迎难而上、勇于担当、埋头苦干的精神，这种精神至今仍熠熠生辉，鼓舞人心。时代发展，使命赓续。站在新时代的起点上，每一名党员，要始终保持“赶考”的精神状态，以坚定的理想信念为中华民族伟大复兴贡献力量。每一个中国人，要争做新时代的建设者、弄潮儿，将自己的人生追求融入到国家和民族的奋斗大潮中，用今天的汗水换取明天的笑容。让我们为梦想出发，在新时代的伟大征程上奋斗！</p></body></html>