<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>263</title>
</head>
<body>
<h1>
中共中央组织部下发通知要求 在元旦春节期间开展走访慰问生活困难党员、老党员和老干部活动-新华网
</h1>
<p id="demo"> 2017-12-29 19:57:33</p><p>新华社北京12月29日电 中共中央组织部近日下发通知，要求各级党组织在元旦春节期间开展走访慰问生活困难党员、老党员和老干部活动，加强党内激励关爱帮扶，让党员、干部和广大人民群众切身感受到以习近平同志为核心的党中央的关怀和温暖。通知提出，各级党委要全面深入了解生活困难党员、老党员和老干部情况，把他们的冷暖放在心上，深入基层、深入党员群众，实地走访慰问，了解他们的思想动态和诉求，有针对性地解决困难、送去温暖，做好思想政治工作，努力取得“慰问一人、温暖一户、带动一片”的效果。同时，要做好宣传解读工作，使党的十九大精神深入人心。要重点关注贫困地区、受灾地区、困难行业和单位的老党员、老干部，重点关注生产工作一线、脱贫攻坚一线的党员干部。要适当扩大走访慰问对象范围，做好帮扶村（社区）老骨干、因病致贫的特困群众和因公牺牲党员、干部家庭工作。中央组织部将从代中央管理的党费中安排慰问资金，于近期划拨给各省（区、市）、各部门（系统），各地区各部门（系统）要落实配套资金，确保在春节前发给慰问对象，确保专款专用。通知要求，各级党委组织部门要会同有关部门，对近年来出台的有关提高离休干部医疗待遇、提高离休干部生活补贴标准和扩大发放范围等政策落实情况进行认真检查，发现问题及时解决。认真做好新中国成立前入党的农村老党员和未享受离退休待遇的城镇老党员生活补贴发放工作。按照《关于调整部分优抚对象等人员抚恤和生活补助标准的通知》（民发〔2017〕154号）要求，将相关生活补贴于春节前足额发放到每个符合条件的老党员手中。通知强调，各地区各部门（系统）要把开展走访慰问活动作为学习宣讲党的十九大精神、推进“两学一做”学习教育常态化制度化的重要举措，引导广大党员、干部自觉做好联系服务群众工作，真心实意为困难群众办实事、解难事。要严格落实中央八项规定和新修订的实施细则精神，改进作风、纠正“四风”，倡导新风正气，营造文明祥和欢乐的节日气氛。要运用广播、电视、报刊、网络等媒体，宣传报道走访慰问活动，促进形成关心帮助生活困难党员群众、尊重爱护老党员、老骨干、老模范的良好社会氛围。</p></body></html>