<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>265</title>
</head>
<body>
<h1>
今日头条、凤凰新闻手机客户端存违法违规行为被约谈-新华网
</h1>
<p id="demo"> 2017-12-29 20:17:06</p><p>新华社北京12月29日电 针对今日头条、凤凰新闻手机客户端持续传播色情低俗信息、违规提供互联网新闻信息服务等问题，国家互联网信息办公室29日指导北京市网信办分别约谈两家企业负责人，责令企业立即停止违法违规行为。北京市互联网信息办公室相关负责人指出，今日头条和凤凰新闻手机客户端违反国家有关互联网法律法规和管理要求，传播色情低俗信息，存在严重导向问题，对网上舆论生态造成恶劣影响。在尚未获得互联网新闻信息服务资质的情况下，今日头条手机客户端违规转载新闻信息，且“标题党”问题突出，严重干扰了网上传播秩序；凤凰新闻手机客户端违规自采和转载新闻信息，扰乱了网上传播秩序。对此，北京市互联网信息办公室责令两家企业深入自查自纠，全面清理网上违规内容，杜绝类似情况再次发生。两家企业负责人表示，将严格落实网信部门管理要求，对相关问题进行自查自纠，分别对违规问题严重的部分频道暂停内容更新。并将全面加强网站业务和人员管理，切实对社会和广大网民负责。据悉，今日头条手机客户端“推荐”“热点”“社会”“图片”“问答”“财经”等6个频道自2017年12月29日18时至12月30日18时暂停更新24小时、凤凰新闻手机客户端“头条”“推荐”等2个频道自2017年12月29日18时至12月30日6时暂停更新12小时。</p></body></html>