<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>267</title>
</head>
<body>
<h1>
2018年三大转变确保打好脱贫攻坚战-新华网
</h1>
<p id="demo"> 2017-12-29 21:04:16</p><p>新华社北京12月29日电（记者侯雪静）12月27日至29日召开的全国扶贫开发工作会议明确，2018年脱贫攻坚工作由找准帮扶对象向精准帮扶稳定脱贫转变，由关注脱贫速度向保证脱贫质量转变，由开发式扶贫为主向开发式扶贫与保障式扶贫并重转变，要加大工作力度，强化监督考核，确保打好脱贫攻坚战。会议明确，2018年脱贫攻坚工作总体要求是坚持“中央统筹，省负总责，市县抓落实”的体制机制，以深度贫困地区脱贫攻坚为重点，以扶贫领域作风专项治理为抓手，以提高脱贫攻坚实效为导向。会议指出，2017年以来，脱贫攻坚继续保持良好态势，各项工作稳步推进，年度减贫任务将超额完成，贫困人口将再减少1000万人以上。经过各方面的不懈努力，我国脱贫攻坚取得了决定性进展，五年共减贫6600多万人，年均减少1300万人以上。会议强调，2018年是全面贯彻落实党的十九大精神的第一年，是打好脱贫攻坚战的关键一年，是扶贫领域作风建设年。国务院扶贫开发领导小组明确将2018年作为脱贫攻坚作风建设年，集中力量解决扶贫领域作风突出问题。会议明确，2018年扶贫工作将重点确定2018年度贫困人口脱贫和贫困县摘帽计划，调整完善脱贫滚动规划；制定三年行动指导意见；强化对“三区三州”等深度贫困地区的精准支持；抓实推进精准施策；开展作风专项治理；扶贫与扶志扶智相结合，激发内生脱贫动力；完善督查巡查和考核评估机制；深入推进东西部扶贫协作和定点扶贫等。</p></body></html>