<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>268</title>
</head>
<body>
<h1>
第65次湄公河联合巡逻执法圆满完成-新华网
</h1>
<p id="demo"> 2017-12-29 21:01:37</p><p>新华社昆明12月29日电（记者张东强）29日，随着3艘中国执法船靠泊云南关累港，第65次湄公河联合巡逻执法圆满结束，标志着2017年度12次湄公河联合巡逻执法任务胜利完成。记者从云南公安边防总队水上支队了解到，在本次巡航勤务中，中老缅泰通过全线巡航、分段巡航、船艇驻训等方式，对湄公河金三角、班相果等重点水域开展巡逻执法，总计航时38小时，航程512公里，检查车辆16辆次，人员37人次。应缅方邀请，中方53901执法艇还对缅甸万崩水警分局进行友好交流访问，开展了船艇开放日、国际信号旗语等交流活动，邀请当地学生、百姓参观53901艇。据了解，6年来，中老缅泰方共开展全线联巡勤务65次，动用执法船艇561艘次，总航行2175小时，联合检查船只698艘次、人员3555人次，救助遇险商船120艘、船员462人，为900余艘商船进行护航，有力地维护了湄公河流域安全稳定。</p></body></html>