<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>269</title>
</head>
<body>
<h1>
北京市首个无人驾驶试运营基地启动-新华网
</h1>
<p id="demo"> 2017-12-29 21:01:37</p><p>新华社北京12月29日电（陈旭）北京顺义区政府29日宣布，北京市首个无人驾驶试运营基地在奥林匹克水上公园启动，以绿色科技智能的发展方式，推动汽车产业转型升级。据介绍，基地位于奥林匹克水上公园，全长7公里，属于半开放实景道路。基地由北汽新技术研究院提供技术支持，现阶段主要依托北汽量产的现有车型EU260，汽车搭载环境感知技术，场地内融合智能交通设施，预计实现较为安全、精准、舒适的运行效果，公园游客可按流程申请体验。据悉，基地内的无人驾驶车辆此前已经全部完成了道路测试，具备在社会开放道路上行驶的能力。据介绍，宝马汽车中国研发中心、滴滴出行无人驾驶智能硬件、北京地平线机器人技术研发有限公司人工智能芯片等一批高精尖项目在顺义集聚发展。顺义区规划了奥林匹克水上公园、中关村顺义园、北小营镇无人驾驶示范应用区，以及北小营300亩智能网联汽车试验场等综合发展体系，预计到2018年上半年将全部投入运行。</p></body></html>