<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>270</title>
</head>
<body>
<h1>
中央财政安排资金6.53亿元支持新型农业社会化服务体系建设-新华网
</h1>
<p id="demo"> 2017-12-21 21:26:54</p><p>新华社北京12月21日电（记者申铖）记者21日从国家农业综合开发办公室了解到，为加快农业社会化服务体系建设，推进农业适度规模经营和供给侧结构性改革，2017年，中央财政安排农业综合开发资金6.53亿元，集中支持237个新型农业社会化服务体系示范项目。据国家农业综合开发办公室有关负责人介绍，今年以来中央财政采取了多项具体举措：安排农业综合开发资金3.18亿元，立项扶持土地托管项目121个，为农业适度规模经营提供保障，推进新型农业社会化服务体系建设；安排农业综合开发资金1.65亿元，立项扶持新型农业服务主体能力提升项目74个，夯实为农服务和现代农业发展基础。此外，中央财政积极推进一二三产业融合发展。安排农业综合开发资金1.7亿元，立项扶持以涉农企业或农民合作社联合社为龙头，以新型农业经营主体为主体，发展一二三产业融合示范项目42个，完善与农民的利益联结机制，延伸农业产业链价值链，促进农业增效农民增收。这位负责人表示，相关项目建成后，将显著加快新型农业社会化服务体系建设步伐，有力提升农民生产经营组织化、社会化程度，有效推进农业适度规模经营，大力提高农业综合效益和竞争力。</p></body></html>