<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>271</title>
</head>
<body>
<h1>
我国公安交管改革减少群众办事直接经济成本２００多亿元-新华网
</h1>
<p id="demo"> 2017-12-21 21:17:19</p><p>新华社北京１２月２１日电（记者 熊丰 刘奕湛）记者２１日从公安部获悉，今年以来，全国公安机关扎实推进车检、驾考、机动车号牌管理、跨省异地缴纳交通违法罚款、公路和农村地区交通事故快处快赔等公安交管改革措施，取得明显成效。据统计，公安交管改革共减少群众办事直接经济成本２００多亿元，通过推行社会化向企业让利超过１５０多亿元。记者了解到，驾考改革于２０１６年４月１日启动实施以来，学车考证更加便捷，驾校培训服务质量有所提升。全国３１个省区市全部开通互联网自主报考约考，已有２．４７亿人网上约考，实现考试资源公平分配。河北、福建等１８个省份开通网上缴纳考试费，群众报考约考更加便捷。此外，放开异地考证补换证、放宽残疾人驾车条件、优化老年人体检要求等一系列服务举措全面落地。截至目前，已有８．６万人异地申请大型客货车驾驶证，５６５．７万人异地补换领和审验驾驶证，５．４万名单眼视障和上肢残疾人考领驾驶证，１１００多万６０至７０周岁老龄驾驶人不再进行每年一次身体条件检查。今年以来，全国新增驾考考场１０９７个，９０１个县市开展了小型汽车全科目考试，有效解决了考试排队长、积压多问题。湖北、安徽等地考试业务下放率超过９０％。我国还与阿联酋、法国签署驾驶证互认换领协议，更加方便群众出国出行。</p></body></html>