<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>272</title>
</head>
<body>
<h1>
全国性基金会教育扶贫投入大-新华网
</h1>
<p id="demo"> 2017-12-21 21:06:15</p><p>新华社北京１２月２１日电（记者罗争光）记者２１日从民政部获悉，据初步统计，２０１６年全年和２０１７年上半年，民政部登记的全国性基金会累计投入公益慈善资金和物资约３１．５６亿元用于扶贫，其中教育扶贫投入最大。据悉，近２年来，民政部登记的２０６个基金会中，有９７个基金会共开展了５４７个扶贫专项活动，主要集中在教育、健康、产业、救助、基础设施建设等方面。其中，教育扶贫投入最大，各基金会积极帮助贫困地区改善办学条件，发展基础教育、职业教育、素质教育，守护困境儿童，解决农村贫困家庭幼儿、留守儿童面临的困难，共投入约１４．８６亿元。此外，这些基金会在健康扶贫方面共投入约６．６６亿元，在产业扶贫方面共投入３．７３亿元，对遭遇灾害或者急难的群众直接救助方面共投入约１．２９亿元，支持贫困地区基础设施建设方面共投入约１．９５亿元，在贫困地区生态保护、文化保护、信息联通、社会事业、志愿服务等多个方面共投入３．０６亿元。</p></body></html>