<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>274</title>
</head>
<body>
<h1>
飙车入刑：成都３男子高架路竞速飙车被判拘役-新华网
</h1>
<p id="demo"> 2017-12-21 16:50:15</p><p>新华社成都１２月２１日电（记者吴光于）日前，四川省成都市锦江区人民法院依法开庭审理一起高架路竞速飙车、严重危及道路通行安全的涉嫌危险驾驶罪案件。据了解，这也是四川省首例飙车入刑案。今年４月１９日晚，成都市交管局指挥室视频巡查时，发现三辆大功率的二轮摩托车，违禁驶入二环高架快速路，在限速每小时８０公里的高架路上违反规定使用公交专用车道，并相互追逐，穿插超越，最高时速达每小时１３０公里以上。据警方调查，三名驾驶人平时均喜欢驾驶大功率摩托车，经常通过微信群与他人相约前往龙泉山，利用龙泉山道路多弯的特点，体验刺激性“压弯”。４月１９日晚，三人在龙泉山飙车结束后，违禁驶入二环高架城市快速路。经警方调查，其中的一名驾驶人刘某未取得机动车驾驶证。另一名驾驶人雷某在５月４日再次飙车时还受了重伤。经庭审，锦江区人民法院审理法庭依法当庭判决：姜某某犯危险驾驶罪判处拘役１个月，并处罚金２０００元；雷某犯危险驾驶罪判处拘役２个月，并处罚金３０００元；刘某犯危险驾驶罪判处拘役２个月，并处罚金３０００元。</p></body></html>