<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>275</title>
</head>
<body>
<h1>
新疆、吉林警方联手破获一起藏毒案-新华网
</h1>
<p id="demo"> 2017-12-21 16:45:59</p><p>新华社乌鲁木齐12月21日电（记者孙少雄）记者从乌鲁木齐市公安局禁毒支队二大队了解到，近日，新疆、吉林警方联手破获一起公安部督办毒品案，查获大麻粉35公斤。这是乌鲁木齐警方今年以来查获的数量最大的一起大麻粉案。据办案民警介绍，11月26日，他们接到吉林警方提供的一条线索，新疆籍男子吴某将于近日通过货运方式从吉林运输大麻粉到乌鲁木齐。经过两天两夜的排查守候，11月28日11时，在乌鲁木齐市乌拉泊附近一物流公司，侦查员将正往车上装货的吴某抓获。随后，侦查员打开吴某搬运的货物包装箱，里面是一个长1.2米、宽50厘米、高20厘米的电烤箱，当侦查员用吴某自备的电锯将电烤箱的后盖和顶部锯开后，两包用塑料袋、尿素袋层层包裹的大麻粉露了出来。看到眼前的一切，吴某低下了头。吴某今年35岁，无业。据其交代，这批大麻粉是他在吉林购买的，准备在乌鲁木齐销售。吴某落网后，乌鲁木齐警方即时与吉林警方取得联系。同日，吉林警方将吴某的“上线”抓获，缴获大麻粉一吨多。目前，涉嫌运输毒品的吴某已移交吉林禁毒部门。</p></body></html>