<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>276</title>
</head>
<body>
<h1>
我国下线防火标准最高的地铁车辆-新华网
</h1>
<p id="demo"> 2017-12-21 16:34:39</p><p>新华社北京１２月２１日电（记者樊曦）记者从中国中车股份有限公司了解到，２１日，中车青岛四方机车车辆股份有限公司为香港市区线研制的首列地铁车辆下线。该车是我国最大地铁车辆项目的首列车，也是目前国际上防火标准最高的地铁车辆。２０１５年，中车四方在国际竞标中成功中标香港市区线地铁车辆采购项目，项目共９３列车（７４４辆），是港铁史上最大规模的新列车采购，也是中国境内最大的一笔地铁车辆订单。这批地铁车辆将用于香港市区的观塘线、荃湾线、港岛线及将军澳线运营。据中车四方高级主任设计师王文健介绍，香港市区线地铁车辆采用不锈钢车体，最高运行时速８０公里，八辆编组最大载客量超过３０００人。车辆基于中车四方股份公司成熟的地铁车辆技术平台，充分借鉴港铁的运营维护经验，采用国际先进标准设计制造，拥有优异的安全性、可靠性和舒适性。作为防火标准最高的地铁，该车所使用材料的阻燃、发烟量、烟毒性等性能指标满足国际最高等级的防火要求。同时，作为防火屏障的车厢地板、司机室与客室之间的隔墙等结构也具备较好的防火性能，车厢地板的耐火时间达到３７分钟。王文健表示，下线的首列车目前已经完成厂内的型式试验验证，下一步将运往香港进行线路试验。按照计划，首列车预计将在２０１８年下半年完成调试具备上线运行条件。该项目所有９３列车预计到２０２３年全部完成交付。</p></body></html>