<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>277</title>
</head>
<body>
<h1>
冬至大如年 数九过寒冬-新华网
</h1>
<p id="demo"> 2017-12-21 16:01:29</p><p>新华社天津１２月２１日电（记者周润健）２２日，冬至。专家表示，作为我国二十四节气的一个重要节点，冬至素有“冬至大如年”之说，也意味进入“数九寒天”。古代人们认为，“冬至”是阴阳二气的自然转化，是上天赐予的福气，这一天是个吉祥喜庆的日子，预示否极泰来，时来运转，值得庆贺，因此，冬至又称“冬节”“亚岁”“一阳节”等。天津市天文学会理事赵之珩介绍说，从古至今，不论是官方，还是民间都对冬至非常重视。商周和秦代，将“冬至”作为一年的岁首。汉代之后，确立冬至为“冬节”，官府有一套隆重的祝贺仪式，叫“贺冬”。到了宋代，冬至被定为“法定节日”，例行放假。宋代童谣说：“冬至大似年，家家吃汤圆。老师不放假，学生不把钱。”明清时代，民间有“肥冬瘦年”之说。冬至后即开始“数九”，俗称“交九”，意味进入到一年中最寒冷的时节。所谓“数九”，是指从“冬至”当天算起，九天为一个单位，谓之“九”，过了九个“九”，刚好八十一天，即为“出九”。从“一九”数到“九九”，冬寒就变成春暖了。天文专家表示，民间广为流传的冬至“九九消寒歌”，俗称“九九歌”，生动形象地记录了冬至到来年春分之间的气候、物候变化情况，同时也表述了农事活动的一些规律。天津市民俗专家由国庆介绍说，为了迎接冬至的到来，我国北方大部分地区“冬至日”这天要吃饺子，因为饺子有“消寒”之意，至今民间还流传着“冬至不端饺子碗，冻掉耳朵没人管”的民谣。</p></body></html>