<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>278</title>
</head>
<body>
<h1>
国家卫生计生委发文规范疾病应急救助工作-新华网
</h1>
<p id="demo"> 2017-12-21 15:28:01</p><p>新华社北京１２月２１日电（记者田晓航）国家卫生计生委近日下发通知，从准确把握疾病应急救助基金使用范围、加大救助制度的宣传培训力度等方面进一步规范疾病应急救助工作。为及时掌握各地疾病应急救助信息，结合近期在地方调研中发现的问题，国家卫计委起草印发了《国家卫生计生委办公厅关于进一步做好疾病应急救助工作的通知》。通知要求，按照政策规定的救助对象、救助病种及诊疗规范，开展救助基金的申请审核拨付工作。不属于救助基金使用范围的，不能申请救助基金。通知还要求，加强疾病应急救助制度的宣传培训，省、地市两级卫生计生行政部门每年至少组织１次培训活动，覆盖到辖区内所有承担疾病应急救助任务的医疗机构，提高院前急救、医院急诊科和重症医学科医务人员的知晓程度。通知要求做好救助患者信息公示和档案管理工作，并做好救助数据管理。国家卫计委今年４月曾发布《疾病应急救助工作指导规范（试行）》，对救助对象、基金申请资料、基金申请流程、申请核销流程等作出了详细规定。２０１３年起，国家建立疾病应急救助制度，通过设立疾病应急救助基金，对需要紧急救治但身份不明或身份明确、无力支付医疗费用的患者进行救治。根据《中国健康事业的发展与人权进步》白皮书，截至２０１７年６月，这一制度累计救助患者约６４万人。国家卫生计生委：全国１１月报告法定传染病５７７２４７例死亡１９５８人卫生计生委：我国大病保险覆盖城乡居民超10亿人</p></body></html>