<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>279</title>
</head>
<body>
<h1>
茅盾文学奖获奖小说《尘埃落定》印地语版正式发行-新华网
</h1>
<p id="demo">/</p><p>新华社新德里１２月２１日电（记者赵旭）中国知名作家阿来获茅盾文学奖的作品《尘埃落定》印地语版２０日在印度首都新德里正式出版发行，同时他的另一部作品《空山１》印地语版也于当天正式发行。据悉，这两部作品由印度记者阿南德·斯瓦鲁普·维尔马翻译。包括维尔马在内的数十名中印两国作家、学者和出版商出席了当天的新书发布会。两书的印度出版商表示，书籍是了解一个国家和人民最好的桥梁，中国在引进海外文学工作方面做得很好。印度应加强对中文作品的翻译和出版，给印度民众提供更多了解中国的途径，加强中印两国的民间交往。前来洽谈合作的商务印书馆总编辑周洪波在发布会上表示，多年来中方翻译并出版了印度著名诗人泰戈尔的作品以及关于印度文化的著作，深受中国读者喜爱。希望未来能与印度出版社密切合作，向印度推出更多中国作品，讲好中国故事。印度著名汉学家、“中印经典和当代作品互译出版”项目负责人狄伯杰教授在接受记者采访时说，此次出版的两部小说是从英文版翻译而来，希望随着两国出版界合作不断深化，尽快实现大规模文学作品中印互译。以文学之灯照亮前路--第9届茅盾文学奖颁奖典礼记茅盾文学奖，为何颁给他们？--第九届茅盾文学奖获奖作品透视上海电视节闭幕式红毯舞蹈系毕业照秀一字马你去商场,真的是为了购物吗?费孝通田野调查奖征文活动章子怡怀抱8月爱女拍封面过去15年你错过多少次发财机会胡歌现身春晚彩排王祖贤49岁生日曝新照容祖儿否认结婚传言2016“互联网+”下的创业“热词”反手摸肚脐“炫腹”走红游客与大白鲨近距接触近距离拍摄火山岩浆柬埔寨训练巨鼠探地雷</p></body></html>