<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>281</title>
</head>
<body>
<h1>
“月宫一号”入选《自然》２０１７年最佳科学图片-新华网
</h1>
<p id="demo"> 2017-12-21 15:23:21</p><p>新华社北京１２月２１日电（记者田晓航、余晓洁）在一个种满植物的密闭舱里，一名志愿者正在进行科学实验——这幅展现“月宫一号”工作场景的照片，近日同“北美日全食”等一道入选英国《自然》杂志的２０１７年最佳科学图片。据“月宫一号”总设计师、北京航空航天大学教授刘红介绍，“月宫一号”是我国第一个、世界第三个生物再生生命保障地基有人综合实验系统。它的建立使我国在生物再生生命保障领域的研究水平进入国际先进行列。生物再生生命保障技术是未来月球、火星基地等载人深空探测所需的关键技术之一。人类未来在深空建立基地时不易依靠携带物品来满足生活需要，就可以通过建立应用这种技术的高闭合度装置来实现自给自足。“月宫一号”正是这样一个能与地球媲美的“微型生物圈”，它由一个综合舱和两个植物舱组成。综合舱包括四间卧室、饮食交流工作间、洗漱间、废物处理和动物养殖间，植物舱种有小麦、蔬菜等。整个系统可满足四人长期高闭合度的生命保障需求，开展各种科学实验研究。今年５月，“月宫３６５”计划启动——利用“月宫一号”进行为期３６５天、多人次更高闭合度的生物再生生命保障系统综合实验。如果计划成功实施，系统运行时长以及成员连续居住时长均有望创世界之最。北航“月宫３６５”计划第二批志愿者入舱</p></body></html>