<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>282</title>
</head>
<body>
<h1>
定位精度达7.5米 我国自主研发出商用团雾监测预警雷达-新华网
</h1>
<p id="demo"> 2017-12-21 15:54:37</p><p>新华社合肥12月21日电（记者马姝瑞、刘美子）近年来，大雾及团雾成为秋冬季交通事故、特别是高速公路重特大事故的重要元凶。由于团雾具有突发性和局地性，监测预警难度极大。日前，由国内自主研发的一款商用团雾监测预警雷达在安徽合肥面世，对团雾的定位精度可达7.5米。安徽中凯信息产业股份有限公司研发中心负责人周剑介绍说，这一团雾监测预警雷达由该企业与中科院合肥物质研究所共同合作，历时2年研发成功，其核心探测单元为团雾监测预警与能见度测量合成光学雷达。“团雾”往往出现在大雾中数十米到上百米的局部范围内，雾气更浓，能见度极低，且不断变化。“团雾监测预警雷达是基于光学遥感技术开发而来，内部有一个激光光源，在工作时，发射出来的激光照射到大气里，会使颗粒物产生后向散射，而雷达内部的光学望远镜系统会将散射光信号转为电信号，并通过数据采集系统记录分析，从而对团雾进行定位，目前定位精度可达7.5米。”周剑说。据介绍，这一雷达具有两项特点使其能够满足商用需要:一是能够探测出团雾区与非团雾区的界线以及雾区可见度；二是光源发射和工作原理的改进，大幅降低了成本。目前，该系统的激光雷达自动采集和防护的方法已申请国家发明专利，预计2018年将实现量产。</p></body></html>