<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>283</title>
</head>
<body>
<h1>
办理经济犯罪案件新规：公安机关不得在诉讼程序终结前处置涉案财物-新华网
</h1>
<p id="demo"> 2017-12-21 15:26:07</p><p>新华社北京１２月２１日电（记者陈菲）“除法律法规和规范性文件另有规定以外，公安机关不得在诉讼程序终结之前处置涉案财物。”这一新规出自最高检、公安部日前联合修订印发的关于公安机关办理经济犯罪案件若干规定。近年来，随着我国经济社会的快速发展，在办理经济犯罪案件中，涉案财物种类繁杂、数额巨大、涉及面广，处置难度在加大，也面临一些新问题。如何规范涉案财物处置程序，确保在严格依法办案的前提下，既保持打击犯罪的“力度”，又注重文明执法的“温度”，最高检、公安部在新规定中作出了明确要求。新规要求，严格区分违法所得、其他涉案财产与合法财产，严格区分企业法人财产与股东个人财产，严格区分犯罪嫌疑人个人财产与家庭成员财产，不得超权限、超范围、超数额、超时限查封、扣押、冻结，并注意保护利害关系人的合法权益。新规明确，对依照有关规定可以分割的土地、房屋等涉案不动产，应当只对与案件有关的部分进行查封。对不可分割的土地、房屋等涉案不动产或者车辆、船舶、航空器以及大型机器、设备等特定动产，可以查封、扣押、冻结犯罪嫌疑人提供的与涉案金额相当的其他财物。犯罪嫌疑人不能提供的，可以予以整体查封。冻结涉案账户的款项数额，应当与涉案金额相当。规定还提出，对不宜查封、扣押、冻结的经营性涉案财物，在保证侦查活动正常进行的同时，可以允许有关当事人继续合理使用，并采取必要的保值保管措施，以减少侦查办案对正常办公和合法生产经营的影响。“规定采用了人性化执法方式，尽可能选择对当事人权益损害较小的侦查措施，减少不必要的成本损失。”公安部经济犯罪侦查局负责人说。</p></body></html>