<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>285</title>
</head>
<body>
<h1>
西藏首家县级监察委员会成立-新华网
</h1>
<p id="demo"> 2017-12-21 17:16:53</p><p>新华社拉萨１２月２１日电（记者张宸）西藏日喀则市桑珠孜区监察委员会２０日成立，桑珠孜区纪委书记担任监察委员会主任，实现了对桑珠孜区所有行使公权力的公职人员监察全覆盖。这是西藏首家县级监察委员会。根据监察体制改革提出纪委监委合署办公的工作要求，桑珠孜区监察委员会重新设立了纪委监委综合室、审理室（信访与案件监督管理室）、党风政风监督室、纪检监察一室（执纪监督室）、纪检监察二室（审查调查室）、信息中心６个内设机构，职能、职责更加明确。据了解，桑珠孜区检察院反贪、反渎、预防职务犯罪三个部门的人员全部转隶，与纪委干部混编，分配到执纪监督室、执纪审查室、党风政风监督室，审理室（信访与案件监督管理室）等部门工作。据介绍，西藏其他地市、县（区）监察委员会成立已进入倒计时。</p></body></html>