<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>289</title>
</head>
<body>
<h1>
国家“一带一路”官网俄文、法文、西班牙文、阿拉伯文四个版本正式上线-新华网
</h1>
<p id="demo"> 2017-12-21 17:31:44</p><p>新华社北京12月21日电（记者安蓓）记者21日从国家发展改革委了解到，国家“一带一路”官方网站——中国一带一路网（www.yidaiyilu.gov.cn）已正式开通俄文、法文、西班牙文、阿拉伯文四个语言版本。目前，中国一带一路网可同步支持中、英、俄、法、西、阿六大联合国官方语言访问，可覆盖全球大部分地区用户。据介绍，此次上线的四个语言版本分别设置了新闻、政策、数据、商业、人文、观点等栏目，重点面向海外用户提供“一带一路”建设重点新闻，权威发布中国投资、贸易、税收、海关、检验检疫等方面的重要政策法规，汇聚展示沿线国家旅游美食、消费热点、文化艺术等人文资讯，设立“一带一路”专题和“一带一路”关键词，全面介绍“一带一路”倡议的发起背景、重要历程、核心宗旨、主要内容、进展成效等，为海外用户全面了解“一带一路”倡议提供权威信息服务平台，进一步促进“一带一路”国家信息互联互通与交流合作。中国一带一路网由推进“一带一路”建设工作领导小组办公室指导、国家信息中心主办。网站自今年3月21日正式上线中文、英文版本以来，已建立了覆盖中央多个部委和全国31个省区市的信息报送体系，陕西一带一路网、广东一带一路网等地方网站逐步落地，“一带一路”官方发布体系初见雏形。网站已被列入“一带一路”国际合作高峰论坛成果之一。</p></body></html>