<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>292</title>
</head>
<body>
<h1>
南海舰队航空兵开展远海舰机实战化对抗训练-新华网
</h1>
<p id="demo"> 2017-12-21 18:54:56</p><p>新华社海口１２月２１日电（高宏伟 吴登峰）南海舰队航空兵近日组织轰炸机、歼击机、预警机等多型数十架战机分批从异地机场起飞，赴西太平洋某海域与航经该海域的海军第２８批护航舰艇编队进行对抗训练。当天清晨，预警机按计划准时起飞，并快速飞向预定区域，担负空中预警侦察和空中指挥引导任务。随后，所有参训飞机均一次性启动成功并按计划相继起飞。空中，轰炸机、干扰机在歼击机的支援掩护下分批向远海目标舰艇编队快速突击。地面，指挥所内电话声、报告声此起彼伏，一道道命令快速传送至空中战机。最终，轰炸机按时完成训练，随后返航，途中与前来支援接护的歼击机会合，圆满完成任务后安全降落在起飞机场。这次训练检验完善了相关战法，达到了预期目的。南海舰队航空兵领导说，类似的远海对抗训练在海军航空兵已成为常态，训练紧贴实战，不通报“敌情”，互为对手，舰机在复杂的气象和电磁环境下进行“背靠背”攻防对抗，各机组要克服航程远、海空域情况复杂等困难，还要与指挥所、水面舰艇等进行协同，部队的远海实战化训练水平得到了检验。据了解，这次远海训练，是南海舰队航空兵年度训练计划内的例行性安排，符合相关国际法和国际实践，不针对任何特定国家、地区和目标。训练过程中没有影响相关海空域的航行和飞越自由，有效增强了部队应对当面复杂形势、坚决捍卫国家海洋权益的能力，今后还将继续开展类似训练活动。</p></body></html>