<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>298</title>
</head>
<body>
<h1>
四川检察机关依法对2名副厅级官员提起公诉-新华网
</h1>
<p id="demo"> 2017-12-21 19:04:22</p><p>新华社成都12月21日电（记者 吴光于）记者21日从四川省人民检察院获悉，四川省公安厅交警总队原总队长何宗志（副厅级）涉嫌受贿罪、滥用职权罪一案，经四川省人民检察院指定管辖，由遂宁市人民检察院侦查终结并移送审查起诉。日前，遂宁市人民检察院已向遂宁市中级人民法院提起公诉。遂宁市人民检察院起诉书指控：被告人何宗志身为国家工作人员，利用职务便利，为他人谋取利益，数额特别巨大；在侦办案件中滥用职权，给国家造成重大损失，情节特别严重，依法应当以受贿罪、滥用职权罪追究其刑事责任。四川省投资集团有限责任公司副总经理朱兵（副厅级）涉嫌受贿罪、滥用职权罪一案，经四川省人民检察院指定管辖，由达州市人民检察院侦查终结并移送审查起诉。日前，达州市人民检察院已向达州市中级人民法院提起公诉。达州市人民检察院起诉书指控：被告人朱兵身为国家工作人员，利用职务便利，为他人谋取利益，单独或伙同他人非法收受他人财物，数额巨大；滥用职权，违规为工程承建单位绵阳佳成公司计算赶工费，造成国有资产损失，情节特别严重，依法应当以受贿罪、滥用职权罪追究其刑事责任。</p></body></html>