<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>301</title>
</head>
<body>
<h1>
首次中阿巴三方外长对话将在北京举行-新华网
</h1>
<p id="demo"> 2017-12-21 18:59:28</p><p>新华社北京12月21日电（记者闫子敏）外交部发言人华春莹21日在例行记者会上宣布：首次中国－阿富汗－巴基斯坦三方外长对话将于26日在北京举行。应外交部长王毅邀请，阿富汗外交部长拉巴尼、巴基斯坦外交部长阿西夫将率团出席对话。华春莹说，此次对话将是中阿巴三方外长首次对话。三方将围绕“政治互信与和解”“发展合作与联通”“安全合作与反恐”三大议题深入沟通。中方希望三方通过此次会议凝聚共识，增进互信，促进阿巴改善关系，推进三方合作，共同致力于本地区的和平、稳定与发展。“作为阿富汗、巴基斯坦两国共同的邻居和朋友，中方一贯支持阿巴两国友好相处、实现共同发展。”华春莹说，今年6月，王毅外长穿梭访问阿巴两国时，三方同意建立中阿巴三方外长对话机制，为增进三方对话与合作搭建平台。</p></body></html>