<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>304</title>
</head>
<body>
<h1>
我国拟规定禁止高层建筑地下三层及以下设商场——《高层建筑消防安全管理规定》公开征求意见-新华网
</h1>
<p id="demo"> 2017-12-21 18:38:59</p><p>新华社北京１２月２１日电（记者熊丰）日前，公安部就《高层建筑消防安全管理规定（征求意见稿）》向社会公开征求意见，旨在进一步加强高层建筑消防安全管理，预防和遏制高层建筑火灾事故发生。征求意见稿提出，禁止在高层建筑地下三层及以下设置商场，禁止在高层建筑地下二层及以下设置公共娱乐场所。此外，高层建筑内的儿童活动场所应当设置在一至三层，且应当设置独立的疏散楼梯、安全出口。高层建筑应当每年至少进行一次全要素综合演练，建筑高度超过一百米的高层公共建筑应当每半年至少进行一次全要素综合演练。征求意见稿拟规定，禁止在高层建筑疏散走道、楼梯间、安全出口停放电动自行车或者为电动自行车充电。鼓励在高层住宅小区内设置电动自行车集中存放和充电的场所。电动自行车存放、充电场所应当独立设置，并与高层建筑保持安全距离，配备必要的消防器材，充电设施应当具备充满自动断电功能。此外，征求意见稿还要求高层公共建筑应当明确专人担任消防安全经理人，负责整栋建筑的消防安全管理工作。建筑高度超过１００米的高层公共建筑应当聘用具备注册消防工程师资格的人员担任消防安全经理人。每栋高层住宅建筑还应当明确一名消防安全楼长，由业主委员会委员、业主代表、物业服务企业的管理人员或者基层消防安全网格管理人员担任。公安部消防局数据显示，我国已建成投入使用的高层建筑６１．９万栋，百米以上的超高层建筑６４５７栋。近１０年来，全国共发生高层建筑火灾３．１万起，死亡４７４人，直接财产损失１５．６亿元。社会公众可在２０１８年１月２０日前通过中国政府法制信息网、公安部网站或电子邮件、信函等方式对征求意见稿提出意见。</p></body></html>