<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>305</title>
</head>
<body>
<h1>
新华时评：脱贫别“拖”在干部作风上-新华网
</h1>
<p id="demo"> 2017-12-21 18:50:47</p><p>新华社北京12月21日电  题：脱贫别“拖”在干部作风上新华社记者李仁虎、张丽娜精准脱贫是一场攻坚战，如果说贫困户是这场战役中的战士，那么各级领导干部就是指挥员，而指挥员的作风无疑是影响战况的关键因素。最近媒体报道一些地方扶贫工作中形式主义、官僚主义的种种现象，让人担忧干部作风问题不解决，脱贫攻坚怎能如期完成？刚刚闭幕的中央经济工作会议要求，打好精准扶贫攻坚战，要保证现行标准下的脱贫质量，既不降低标准，也不吊高胃口，瞄准特定贫困群众精准帮扶，向深度贫困地区聚焦发力，激发贫困人口内生动力，加强考核监督。不可否认，各级领导干部特别是基层干部在扶贫工作中付出了心血，作出了贡献。但同时也要看到，形式主义、官僚主义的风气仍然在一些地方存在，在有的干部身上还比较突出。群众反映这些人“说得多、做得少”“道理多、办法少”“填表多、计策少”“应承多、兑现少”……有的干部名义上驻村包户，实际上“三天打鱼，两天晒网”，身在农村、心在城里；有的表面和气热情，实际上对群众冷暖关心不够；有的长期浮在上面，对下情知之甚少；有的凭主观决策，拍脑袋指挥，凭意气拍板；此外，还有上交矛盾的，推卸责任的，糊弄过关的，凡此种种，不一而足。精准脱贫的政策已经明晰，脱贫对象、目标也很明确，各级干部也制订了任务书、时间表、路线图。然而，这一攻坚战的时间紧、任务重，如果作风依然故我，显然不能胜任指挥员的角色。因作风问题而落伍掉队，不但害人害己，还会贻误脱贫大业。事实充分说明，形式主义、官僚主义已成为脱贫这一攻坚战中“最大的敌人”“最大的障碍”，可见干部作风到了非改不可的地步。打硬仗必须有硬作风。脱贫攻坚战就是转变干部作风的攻坚战。只有作风过硬，才能攻克堡垒，啃下硬骨头。所谓的作风过硬，就是根扎农村，心系困难群众，权为民所用，情为民所系，利为民所谋；就是讲实话，办实事，见实效，不搞花架子，不做表面文章。脱贫攻坚的集结号已吹响，人民在期盼，干部转变作风刻不容缓。不能让形式主义、官僚主义拖了精准扶贫的后腿，拖了群众奔向美好生活的后腿，拖了决胜全面建成小康社会的后腿。</p></body></html>