<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>306</title>
</head>
<body>
<h1>
“杏林寻宝”9年累计挖掘中国民间中医药特色技术283项-新华网
</h1>
<p id="demo"> 2017-12-21 18:52:15</p><p>新华社广州12月21日电（记者肖思思）运用艾绒、牛角和金、银、铜、铁等五金制造的专用器具，加热器械后对局部进行烧烙刺激，术后给予药膏护理外用，该疗法用于胃火衰微、浮肿、腹水、黄水病、白脉病等，来自青藏高原的“喋巴疗法”在羊城引起围观。21日，“杏林寻宝——第九届全国中医药特色技术演示会”在羊城上演，“喋巴疗法”等10种中医特色“绝技”登台亮相。自2009年广东省中医院开启第一届“杏林寻宝”以来，吸引了越来越多来自全国各地的中医药专家踊跃献宝，9年来，演示会共展示了88个中医特色技术，累计梳理全国中医药特色技术283项，实地走访185项，根据寻宝开展的各类在研课题82项，“杏林寻宝”已经成为全国挖掘中医药特色疗法的品牌。当天演示会共有10个民间特色疗法分成四组展示，分别是藏医喋巴疗法、精灸疗法、颊针疗法、全息易象针灸术、软外银质针技术等。各具特色的中医“绝活”让人目不暇接。“传岐黄之道，扬中医之术；融百家所长，汇各派精髓。”为了更好地传承和弘扬这些特色技术，让这些技术广泛应用于临床、造福大众，在过去一年的寻宝历程中，广东省中医院的专家们走遍大江南北，亲自登门拜访，仔细甄选出了10位身怀绝技的名师，邀请他们传承技艺，共同推动中医药事业的繁荣与发展。传统疗法越来越受到百姓们的青睐。据广东省中医院相关负责人介绍，以广东省非遗“天灸”为例，每年就吸引了逾30万群众到广东省中医院贴药，该院“膏方节”已开展8年，数万人次服用过该院的协定膏方。</p></body></html>