<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>311</title>
</head>
<body>
<h1>
“享”“初心”当选２０１７年度国内字词-新华网
</h1>
<p id="demo"> 2017-12-21 19:58:31</p><p>新华社北京１２月２１日电（记者 史竞男）“汉语盘点２０１７”活动２１日在京揭晓年度字词，“享”“初心”“智”“人类命运共同体”分别当选年度国内字、国内词、国际字、国际词。共“享”经济打造美好生活，不忘“初心”继续砥砺前行，人工“智”能引领未来发展，构建“人类命运共同体”为世界发展贡献中国智慧……专家表示，这些字词概括了过去一年里令人难忘的时事、世情、民心，记录着世界的变化、时代的变迁。“汉语盘点２０１７”揭晓仪式由国家语言资源监测与研究中心、商务印书馆、人民网、腾讯网联合主办。该活动自１１月２０日启动以来，共收到网友推荐字词数千条，网络推荐和投票点击量达２亿次，并于近日陆续发布了２０１７年度十大流行语、十大新词语、十大网络用语。据悉，“汉语盘点”活动至今已举办１２年，鼓励全民用语言记录生活，描述中国视野下的社会变迁和世界万象。</p></body></html>