<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>312</title>
</head>
<body>
<h1>
第四届老舍青年戏剧文学奖励扶持计划结束 为孵化新人新作当“红娘”-新华网
</h1>
<p id="demo"> 2017-12-21 20:08:10</p><p>新华社北京１２月２１日电（记者白瀛）第四届老舍青年戏剧文学奖励扶持计划２１日在京结束。戴昱的《岗厦罗生门》、俞思含的《台城柳》作为优秀剧本，现场与制作单位签订了合作意向书。老舍青年戏剧文学奖励扶持计划创立于２００２年，是一个专门以推出剧坛新人新作、举荐和发现青年戏剧文学创作人才为宗旨的戏剧文学项目，本届由北京戏剧家协会、《新剧本》杂志、北京老舍文艺基金会联合主办。据介绍，《岗厦罗生门》直面现实，以城中村的拆迁重建为故事背景，表现了对我国城镇化历程中的问题与思考。《台城柳》从南北朝时期诸侯王萧综的视角，展现南朝齐、梁间的恩怨情仇，将人情感怀与历史更迭结合起来，演绎传统文化里权力兴替循环的情感创伤。此外，熊海龙的《边界》、高明的《虎门长歌》、尚垒的《钟点丈夫》、梁晓艳的《星星闪呀闪》获得提名剧本。北京市河北梆子剧团、声希（北京）文化传媒、北京剧空间剧场分别与《台城柳》《岗厦罗生门》《星星闪呀闪》创作者签订了合作意向书，其他获奖剧作也将获得创作资助，由北京演艺集团优先选用。主办方称，刚起步的青年剧作者面临着剧本难以上演的窘境，而院团和制作公司又苦于寻觅不到优秀的原创剧本，扶持计划尝试为二者做“红娘”孵化作品，推动剧本从文字走向舞台。</p></body></html>