<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>313</title>
</head>
<body>
<h1>
１４个国家级贫困县获赠１０３辆救护车-新华网
</h1>
<p id="demo"> 2017-12-21 20:24:55</p><p>新华社北京１２月２１日电（记者 罗争光）由中华思源工程扶贫基金会和芭莎明星慈善夜捐赠的１０３辆救护车，２１日在北京启程奔赴全国１４个国家级贫困县的受助医院。据介绍，此批１０３辆救护车将捐给内蒙古、河南、湖北、青海、宁夏、河北、黑龙江、广西８个省份的１４个国家级贫困县，覆盖１０１家医院。这项名为“思源救护”的公益项目于２０１３年１月启动，目标是到２０２０年向全国５９２个国家级贫困县每县捐赠３辆救护车。截至目前，已向全国８５５个贫困县（包含５９２个国家级贫困县）总计捐赠了２４１１辆救护车，提前超额实现了目标。中华思源工程扶贫基金会副理事长兼秘书长李晓林表示，这些救护车在贫困地区受助医院投入使用后，不但大幅缩短急救半径和时间，提高基层医院诊治能力，保障救灾救援需求，而且促进医疗资源向基层和农村拓展，减轻了农民看病难问题，节省患者赴外诊断、治疗费用。</p></body></html>