<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>316</title>
</head>
<body>
<h1>
食药监总局回应查处沈阳新地药业：化学原料药生产应持续合规-新华网
</h1>
<p id="demo"> 2017-12-21 21:24:31</p><p>新华社北京１２月２１日电（记者陈聪、罗捷）沈阳新地药业日前被曝光涉嫌违规生产治疗感冒的原料药马来酸氯苯那敏（扑尔敏），引起民众广泛关注。国家食品药品监督管理总局２１日就此指出，所有原料药生产企业应严格按照批准的工艺生产，保持生产过程持续合规。食药监总局药化监管司有关负责人说，所有原料药生产企业应切实落实主体责任，严格按照批准的工艺生产，确保全过程记录真实、完整、可追溯。对于沈阳新地的查处就是食药监总局加强对化学原料药监管的体现。食药监总局今后还会通过各种形式的检查督促企业持续合规生产。该负责人说，食药监总局将进一步加大对化学原料药生产企业检查力度，检查发现涉嫌违反批准的工艺生产、记录不真实、不完整等违法违规行为的，一律依法查处。食药监总局日前发布通告，要求所有经营和使用单位立即停止销售和使用标示为沈阳新地药业有限公司２０１７年生产的马来酸氯苯那敏原料药。根据通告，食药监总局在对该企业开展飞行检查时，发现其违反批准的生产工艺，将马来酸氯苯那敏的合成路线中起始物料由“对氯氰苄”改为外购中间体“氯苯那敏”生产，生产未如实记录，未履行报批程序，此举属于擅自变更生产工艺行为。截至目前，沈阳新地药业尚未对记者就被查处的问题作出回应。据了解，辽宁省食药监局已对该企业立案调查，在对涉案相关原料药产品按照药典检验后，未发现不合格的情况。该企业受到严查主要是合规性方面问题。据专家介绍，马来酸氯苯那敏用于消除或减轻感冒所致的流泪、流涕、喷嚏等过敏症状。</p></body></html>