<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>317</title>
</head>
<body>
<h1>
11月京津冀PM2.5浓度同比降幅超四成-新华网
</h1>
<p id="demo"> 2017-12-21 21:07:22</p><p>新华社北京12月21日电（记者高敬）记者21日从环境保护部了解到，今年11月，全国空气质量同比呈改善趋势，其中京津冀区域当月PM2.5浓度为60微克/立方米，同比下降41.2%。环保部环境监测司司长刘志全介绍，11月，全国338个地级及以上城市平均优良天数比例为79.2%，同比上升6.3个百分点。PM2.5浓度为51微克/立方米，同比下降10.5%；PM10浓度为89微克/立方米，同比下降8.2%。其中，京津冀区域13个城市11月平均优良天数比例为68.5%，同比上升31.6个百分点。PM2.5浓度同比下降41.2%；PM10浓度同比下降34.3%。从1至11月累计情况看，京津冀区域PM2.5浓度为63微克/立方米，同比持平；PM10浓度同比上升1.8%。去年秋冬季，北方地区重污染天气频发。相比较而言，北京市今年11月空气质量改善程度明显。11月，北京优良天数比例为80%，同比上升36.7个百分点。PM2.5浓度为46微克/立方米，同比下降54%；PM10浓度下降44.7%。截至11月，北京市今年PM2.5浓度为58微克/立方米，同比下降13.4%，在“大气十条”考核要求范围内。从城市排名看，1至11月，74个城市空气质量相对较差的后10位城市（从第74名到第65名）依次是石家庄、邢台、邯郸、保定、唐山、太原、西安、衡水、郑州和济南市，大部分处于京津冀及周边地区，后五名均在河北省境内；74个城市空气质量相对较好的前10位依次是海口、拉萨、舟山、厦门、丽水、深圳、惠州、福州、贵阳和珠海市。</p></body></html>