<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>318</title>
</head>
<body>
<h1>
郭声琨在中央政法委员会全体会议上强调 增强服务新时代经济社会发展的本领-新华网
</h1>
<p id="demo"> 2017-12-21 21:03:22</p><p>新华社北京12月21日电 中共中央政治局委员、中央政法委书记郭声琨21日在京主持召开中央政法委员会全体会议，传达学习中央经济工作会议精神，研究谋划2018年政法工作。郭声琨强调，要全面贯彻落实党的十九大精神，以习近平新时代中国特色社会主义思想为指导，按照中央经济工作会议部署要求，充分发挥法治的引领、规范、保障作用，努力营造公正、透明、可预期的法治环境，促进经济社会持续健康发展。郭声琨指出，党的十八大以来，我国经济发展取得历史性成就、发生历史性变革，形成了习近平新时代中国特色社会主义经济思想。要自觉学深悟透、融会贯通，牢牢把握新时代高质量发展的基本特征，不断增强服务新时代经济社会发展的本领。依法稳妥查处经济犯罪案件，主动防范化解经济金融风险，切实维护社会主义市场经济秩序和群众切身利益。进一步完善产权司法保护政策，甄别纠正社会反映强烈的产权纠纷案件，促进市场主体立恒心、增信心。坚决打击和惩治黄赌毒、黑拐骗等违法犯罪活动，着力解决网上虚假信息诈骗、倒卖个人信息等突出问题，努力给人民群众带来更多获得感、幸福感、安全感。会议还研究了其他事项。周强、曹建明出席会议。</p></body></html>