<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>319</title>
</head>
<body>
<h1>
团中央：保护母亲河行动开展１８年 建设绿化工程６０００多个-新华网
</h1>
<p id="demo"> 2017-12-21 21:19:48</p><p>新华社北京１２月２１日电（记者 荣启涵 黄小希）记者２１日从共青团中央了解到，我国保护母亲河行动开展１８年来，共建设６０００多个、总面积５００多万亩的绿化工程，吸引了６亿多人次青少年参与。据了解，保护母亲河行动是团中央于１９９９年联合全国绿化委员会、全国人大环境与资源保护委员会、全国政协人口资源环境委员会、环境保护部、水利部、农业部、国家林业局等单位共同发起实施的群众性生态环保公益活动，旨在团结带领广大青少年积极参与生态文明建设。团中央书记处书记徐晓在２１日举行的２０１７年全国保护母亲河行动领导小组办公会上表示，保护母亲河行动要紧紧围绕新时代生态文明建设大局，站在满足人民日益增长的优美生态环境需要的高度，不断提升工作内涵，丰富活动载体。通过互联网手段，应用文化、时尚元素和公益、共享理念，不断创新动员模式，将理念教育与实践活动紧密结合起来，发挥好典型示范作用，注重生态环保类文化产品生产，强化生态文明理念宣传推广。</p></body></html>