<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>320</title>
</head>
<body>
<h1>
国家发改委提前下达２０１８年以工代赈资金３８．４亿元-新华网
</h1>
<p id="demo"> 2017-12-21 21:21:37</p><p>新华社北京１２月２１日电（记者安蓓）国家发展改革委有关负责人２１日称，已提前下达２０１８年财政预算内以工代赈计划３８．４亿元，其中９０％投向深度贫困地区。这位负责人介绍说，安排“三区三州”（西藏、新疆南疆四地州、四省藏区和四川省凉山州、云南省怒江州、甘肃省临夏州）以工代赈资金３４亿元，占比约９０％，并要求其他省份对本省深度贫困县也要给予倾斜支持。这位负责人强调，各地要以以工代赈资金为引领，在“三区三州”等深度贫困地区大力推广自建、自管、自营等参与式扶贫方式，组织当地建档立卡贫困人口积极参与工程建设，使以工代赈回归政策初衷，在改善贫困乡村生产生活条件的同时，激发贫困群众光荣脱贫的内生动力，推动贫困群众实现增收脱贫。以工代赈是一种由政府投资建设公共基础设施工程、贫困群众参加工程建设并获取劳务报酬，取代直接救济的开发式扶贫方式。自１９８４年实施以来，国家发改委已累计安排１５００多亿元，累计发放劳务报酬１６０多亿元。</p></body></html>