<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>322</title>
</head>
<body>
<h1>
甘肃首家失信被执行人曝光平台上线-新华网
</h1>
<p id="demo"> 2017-12-26 09:16:57</p><p>新华社兰州12月26日电（记者刘能静、王博）甘肃首家失信被执行人曝光平台“鼎立信”于25日正式上线。该平台是推进解决法院执行工作开展难的创新举措，将推进银行业金融机构加强风险管控。“鼎立信”是一个惩治“老赖”的执行综合事务平台，由法院、媒体、金融机构三方共同搭建。它将甘肃法院失信被执行人名单库通过专线、接口与“中国甘肃网”连接，在专题页面上进行曝光，并实时更新数据。平台共曝光近三年内“老赖”人数约15040人次，曝光涉金融案件金额共计约139亿元。据介绍，平台集中了公开曝光、公众查询、联合惩戒、悬赏公告、举报“老赖”、终本案件库等十大功能。社会公众可以通过该平台查询个人或单位是否存在失信行为、失信情形等信息，还可以随时举报“老赖”财产线索、高消费行为、隐匿地址等信息。甘肃省高级人民法院执行局指挥中心将这些信息处理、分发，助力法院化解执行工作中人难找、财产难寻等问题。</p></body></html>