<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>324</title>
</head>
<body>
<h1>
铜矿公司违法排废水影响数万居民吃水 赔偿八千万-新华网
</h1>
<p id="demo"> 2017-12-24 19:04:27</p><p>记者从四川广元检察机关获悉，因违法将含铊元素严重超标废水排入嘉陵江、导致嘉陵江四川广元段饮用水源严重污染而影响数万居民生活用水的陕西某铜矿公司为此付出了沉重代价：近日，利州区检察院与违法企业陕西某铜矿公司达成民事和解协议，对方除了履行自身担负的整改修复环境的义务外，还赔偿嘉陵江广元段因污染受到的损失费用8000万元人民币。2017年5月，陕西某铜矿公司违法将含铊元素严重超标废水排入嘉陵江，造成嘉陵江广元段水域铊超标4.6倍，广元城区因此供水中断36小时。为此，当地检察机关启动了公益诉讼程序。今年5月5日，广元市环境监测中心站监测发现嘉陵江入川断面出现水质异常，根据监测数据，西湾水厂水源地水质铊元素超标4.6倍，远远超出了中国国家地表水环境质量0.0001㎎/L的标准，对广元城区数万百姓用水安全造成严重威胁。广元市立即采取净水处理、泄洪、加密监测等应急措施，经与相关方面专家及部门综合研判，初步判定污染源为川陕界上游输入型、一次性污染团。截至2017年5月6日6时，西湾水厂水源地水质铊浓度降至2.2倍，呈稳步下降趋势。为保障市民生活用水，广元市当即启动可实现日产3至4万吨的城市应急供水，从5月6日8时起，15辆消防车、环卫车、专用送水车对东坝、南河、万源、雪峰、老城片区部分供水不足区域实施送水服务。陕西省汉中市政府于2017年6月13日通报：此次严重污染事故中，涉案企业9名涉嫌违法人员已被控制，其中涉嫌违法排污的陕西汉中锌业铜矿有限公司法人代表等4人被刑拘。事故发生后，陕西宁强县常务副县长鲁志文和环保局长郑永军等7名涉嫌失职人员均被停职。(苗志勇) </p></body></html>