<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>325</title>
</head>
<body>
<h1>
北京2018年将精简九成多政府网站-新华网
</h1>
<p id="demo"> 2017-12-24 17:33:17</p><p>新华社北京12月24日电（记者乌梦达）记者24日从北京市政府办公厅了解到，北京市提出，到2018年底，在各项服务“提质不减量”的前提下，把全市1042家各类政府网站精简90%以上，只保留80多家。据介绍，北京市目前共有政府网站1042个，其中市政府门户网站1个；市级部门网站95个，垂直管理单位网站115个；16个区和北京经济技术开发区有网站831个。北京市提出，对其中960个政府网站整合，2018年12月底前，完成区级及以下政府网站的规范整合工作。按照计划，北京政府网站将只保留80余家，实现“一区一网、一部门一网”，整合比例预计为93%。伴随政府网站精简，北京将整合全市政务服务资源与数据，加快构建权威、便捷的一体化互联网政务服务平台，形成互联互通的政务信息资源库，让“数据多跑路、群众少跑腿”。计划到2020年底，建成高效惠民的网上政府。此外，北京还计划在政府网站搭建统一的互动交流平台，建立网民意见建议的审看、处理和反馈等机制，力争做到件件有落实、事事有回音；同时也会更注重网站的用户体验，为群众提供个性化、便捷化、智能化服务。</p></body></html>