<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>326</title>
</head>
<body>
<h1>
安徽合肥：骗子开设婚恋网站诈骗６０余人被判刑-新华网
</h1>
<p id="demo"> 2017-12-24 16:33:17</p><p>新华社合肥１２月２４日电（记者 鲍晓菁）记者从安徽省合肥市庐阳区人民法院获悉，近日该院审理一起开设相亲网站诱骗注册会员缴纳会费的诈骗案。被告人靳某等骗取６０余人缴纳会费等各项费用共计４６万余元。据介绍，２０１３年１２月，靳某注册成立合肥长相守信息科技有限公司，经营婚恋网站。为达到借用婚恋网站骗取钱财的目的，该公司招聘人员以“红娘”名义与新注册的会员联系，谎称有异性会员对其关注并有交往意向；根据对方需求推荐“会员”，骗取对方信任，促使其缴纳会费升级为“高级会员”“钻石会员”。收费标准和服务期限最低是３个月２５９９元，最高是６个月６９９９元。该团伙招聘人员还通过与高级会员聊天、推荐情感老师服务、参与“相亲”见面会及旅游活动，继续诱骗高级会员缴纳相关费用，最终再找借口提出“分手”。法院一审认定靳某犯诈骗罪，判处有期徒刑４年，并处罚金１５万元，其余１５名被告人均被判缓刑。</p></body></html>