<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>327</title>
</head>
<body>
<h1>
中国诗歌两大源头《诗经》《楚辞》将同台对咏-新华网
</h1>
<p id="demo">/</p><p>新华社北京１２月２４日电（记者白瀛）以“新思路·新诗路”为主题的第四届中国诗歌春晚将于春节前夕举办。其中一大亮点是中国诗歌的两大源头《诗经》《楚辞》将在舞台上对歌、对唱。主办方中国屈原学会会长方铭２４日在京介绍，第四届诗歌春晚将在北京设主会场，并设近百个分会场，包括洛杉矶、多伦多、悉尼、杜塞尔多夫（诗人海涅故乡）、新加坡市等海外城市。中国诗歌春晚总策划屈金星说，《诗经》《楚辞》是中国诗歌的两大源头，其中《诗经》中１００多首诗诞生于河南鹤壁淇河流域，《楚辞》中多篇诞生于湖南汨罗江流域。本届诗歌春晚主会场中，将有来自鹤壁和汨罗的艺术家以朗诵和歌唱的形式对咏《诗经·秦风·蒹葭》和《楚辞·九歌·山鬼》，表演中融入古代北方民歌和古代楚地民歌的元素，寓意诗和歌自古一体。此外，本届诗歌春晚上，瞿弦和、张筠英将联袂朗诵艾青名作《我爱这土地》，虹云、刘纪宏将领衔朗诵诗剧《中国梦·沈阳颂》节选《国徽昭示的光荣梦想》。《岳母刺字》《桃花源记》《一封来自张家界的特别诗歌请柬》等名篇也将搬上舞台。上海电视节闭幕式红毯舞蹈系毕业照秀一字马你去商场,真的是为了购物吗?费孝通田野调查奖征文活动章子怡怀抱8月爱女拍封面过去15年你错过多少次发财机会胡歌现身春晚彩排王祖贤49岁生日曝新照容祖儿否认结婚传言2016“互联网+”下的创业“热词”反手摸肚脐“炫腹”走红游客与大白鲨近距接触近距离拍摄火山岩浆柬埔寨训练巨鼠探地雷</p></body></html>