<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>329</title>
</head>
<body>
<h1>
我国拟立法明确国家重视培养使用全科医生-新华网
</h1>
<p id="demo"> 2017-12-24 15:19:48</p><p>新华社北京12月24日电（记者王宾）日前首次提请全国人大常委会第三十一次会议审议的基本医疗卫生与健康促进法草案提出，国家重视全科医生的培养和使用。全科医生主要承担预防保健、常见病多发病诊疗和转诊、康复和慢性病管理、健康管理等一体化服务。草案提出，国家建立健全住院医师规范化培训制度和专科医师规范化培训制度。为建立规模适宜、结构合理、分布均衡、素质全面的医疗卫生人员队伍，草案提出国家制定医疗卫生人员培养规划，建立适应行业特点和社会需求的医疗卫生人员培养机制和供需平衡机制。全国人大教育科学文化卫生委员会主任委员柳斌杰介绍说，在保障医务人员权益方面，草案规定了“国家依法维护医疗卫生人员合法权益，保障医疗卫生人员执业环境”，“国家建立符合医疗卫生行业特点的人事、薪酬制度”；全社会应当尊重医疗卫生人员等。</p></body></html>