<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>331</title>
</head>
<body>
<h1>
新华时评：期待更多中国之翼翱翔九天-新华网
</h1>
<p id="demo"> 2017-12-24 12:59:08</p><p>新华社广州12月24日电  题：期待更多中国之翼翱翔九天新华社记者胡喆、胡林果继大型运输机运-20、大型民航客机C919成功飞天后，24日由中国航空工业集团自主研发的我国首款大型灭火／水上救援水陆两栖飞机“鲲龙”AG600成功首飞。让大飞机飞向蓝天，是几代中国人的梦想。共圆航空强国梦，要让更多大国之翼九天翱翔。航空工业被誉为现代工业“皇冠上的明珠”，涉及数以百计的专业知识应用和大多数产业领域，具有带动整个工业进步的巨大能量。AG600全机5万多个结构及系统零部件中，98%由国内供应商提供，全机机载成品95%以上为国产产品，国内20个省市、150多家企事业单位、十余所高校数以万计的科研人员参与了项目研制。曾几何时，由于我们没有自己制造的大飞机而被称作“没有翅膀的雄鹰”。作为大国，必须牢牢掌握自主研制大飞机的关键技术，必须具备与大国地位和需要相匹配的、能够自主研制各型飞机的能力。同时，中国飞机呼唤强劲的“中国心脏”：航空发动机、航电系统、高端材料等航空“关键技术”亟待强力突破。“桐花万里丹山路，雏凤清于老凤声”。AG600多年攻关的背后是一支平均年龄只有35岁的主要研制团队。他们怀揣航空报国梦，始终以国家利益作为追求，将青春激情浸润到每一个部件的研发、设计和制造当中，用实际行动书写着新时代的奋斗之歌。飞向新航程，共圆航空强国梦。未来，随着更多国产大飞机面世，多机型、多用途的中国飞机谱系必将更加完整。怀着对引领式创新的渴望与追求，“中国制造”要加快向“中国创造”转变，自信的中国需要“领跑力”的诞生。期待中国航空制造把更多不可能变为可能，让更多的大国之翼翱翔于九天之上。12月24日，“鲲龙”AG600在广东珠海金湾机场起飞。新华社记者 梁旭 摄（受权发布）中共中央 国务院对AG600首飞成功的贺电</p></body></html>