<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>336</title>
</head>
<body>
<h1>
3年来我国取消违法违规网站许可或备案、关停违法网站13000多家-新华网
</h1>
<p id="demo"> 2017-12-24 13:39:57</p><p>新华社北京12月24日电（记者王思北）全国人大常委会有关网络安全法、关于加强网络信息保护的决定的执法检查报告24日提请全国人大常委会审议。报告指出，各地各有关部门坚决清理各类违法违规信息，维护网络空间清朗。2015年来，共取消违法违规网站许可或备案、关停违法网站13000多家。网络安全事关党的长期执政，事关国家长治久安，事关经济社会发展和人民群众切身利益。“网络安全法今年6月1日开始施行。一部新制定的法律实施不满3个月即启动执法检查，这在全国人大常委会监督工作中尚属首次。”全国人大常委会副委员长王胜俊代表执法检查组向大会作报告时说。报告指出，为维护网络空间清朗，各地各有关部门通过开展“扫黄打非”、“剑网”等系列行动，对互联网站、应用程序、论坛、博客、微博、公众账号、即时通讯工具、网络直播中宣扬恐怖暴力、淫秽色情等信息及时清理。2015年以来，国家互联网信息办公室等部门依法约谈违法违规网站2200余家，取消违法违规网站许可或备案、关停违法网站13000多家，有关网站按照用户服务协议关闭违法违规账号近1000万个。根据执法检查组委托有关调查机构进行的民意调查，超过90%的受访者对治理成效给予肯定，其中有63.5%的人认为近年来网络上危害国家安全、宣扬恐怖暴力、淫秽色情等违法违规信息明显减少。我国出台一系列配套法规文件构建网络安全制度体系</p></body></html>