<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>337</title>
</head>
<body>
<h1>
我国出台一系列配套法规文件构建网络安全制度体系-新华网
</h1>
<p id="demo"> 2017-12-24 14:00:36</p><p>新华社北京12月24日电（记者王思北）24日提请十二届全国人大常委会第三十一次会议审议的全国人大常委会网络安全法、关于加强网络信息保护的决定的执法检查报告介绍，近年来，我国大力推进网络安全和网络信息保护工作，法律实施取得积极成效。出台的一系列配套法规、规章和政策文件，助推了“一法一决定”的贯彻实施。报告介绍，为配合“一法一决定”实施，近年来，国务院相关部门出台了《国家网络空间安全战略》《通信网络安全防护管理办法》《电信和互联网用户个人信息保护规定》《电话用户真实身份信息登记规定》《新闻出版广播影视网络安全管理办法》《公共互联网网络安全突发事件应急预案》等配套规章、规划和政策文件。全国人大常委会副委员长王胜俊代表执法检查组向常委会作报告时说：“不少单位反映，作为网络安全管理方面的基础性法律,网络安全法不少内容还只是原则性规定，真正‘落地’还有赖于配套制度的完善。比如网络安全法虽然对数据安全和利用作了规定，但现实中数据运用比较复杂，数据脱敏标准、企业间数据共享规则等，仍然需要有关法规规章予以明确。”对此，报告建议，要加快《关键信息基础设施安全保护条例》《网络安全等级保护条例》的立法进程，对实践中普遍感觉难以把握的问题作出明确规定。此前已制定的一些行政法规和部门规章也应根据网络安全法的要求以及法律实施中遇到的新情况新问题，及时予以修改完善。此外，根据防范和打击网络违法犯罪的需要，加强互联网刑事立法，研究制定网络违法犯罪防治法，推动网络违法犯罪行政处罚与刑事处罚的有效衔接。3年来我国取消违法违规网站许可或备案、关停违法网站13000多家</p></body></html>