<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>339</title>
</head>
<body>
<h1>
我国拟立法明确国家免费提供基本公共卫生服务-新华网
</h1>
<p id="demo"> 2017-12-24 15:43:02</p><p>新华社北京12月24日电（记者 王宾）日前首次提请全国人大常委会第三十一次会议审议的基本医疗卫生与健康促进法草案明确，公民的医疗卫生与健康需求通过政府、社会、个人多渠道筹措资金予以保障。基本公共卫生服务由国家免费向全体公民提供。“草案第七章明确了政府在医疗卫生投入方面的责任。”全国人大教育科学文化卫生委员会主任委员柳斌杰说，草案明确各级政府建立与经济社会发展、财政状况和健康指标要求相适应的医疗卫生与健康投入机制。将经费纳入本级预算，安排所需经费。草案提出，国家建立以基本医疗保险为主，商业健康保险、医疗救助、疾病应急救助和医疗慈善等为补充的、多层次的医疗保障体系。作为医疗卫生体制联动改革的重要一环，草案提出发挥基本医疗保险支付标准和方式激励约束作用，引导医疗卫生机构合理施治，促进患者有序流动，提高基本医疗保险基金使用效率。</p></body></html>