<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>341</title>
</head>
<body>
<h1>
中央环保督察组向浙江省反馈督察情况-新华网
</h1>
<p id="demo"> 2017-12-24 15:54:56</p><p>新华社杭州12月24日电（记者 魏一骏）中央第二环境保护督察组24日对浙江省进行督查反馈。督察组指出，浙江持之以恒推进环境保护，相关工作走在全国前列，但同时仍存在三方面主要问题，其中包括海洋生态环境损害和污染依然突出等。今年8月11日至9月11日，中央第二环境保护督察组对浙江开展环保督察。督察认为，浙江率先践行“绿水青山就是金山银山”的理念，持续推进环境保护重大工程，省级财政累计投入近800亿元；在全国率先推行河长制，并实现省、市、县、镇、村五级河长全覆盖；有效提升农村环境，让更多村庄成为富丽乡村；在全国率先建立生态补偿机制，累计安排省级生态环保转移支付资金142.8亿元。浙江省高度重视环保督察工作，坚持边督边改，立行立改。截至10月底，督察组交办的6920件环境问题举报已全部办结。其中责令整改7311家，立案处罚4387家，罚款金额达2.3亿元，立案侦查95件，拘留144人，约谈779人，问责350人。督察指出，浙江省生态环境保护工作存在的主要问题有：一是压力传导不够到位，工作推进不够平衡。一些地方和部门对省委、省政府强调较少的工作抓得不够有力，比如在海洋生态环境管理方面，存在的问题还较多；在环境基础设施建设、垃圾处理设施运行、固体废物处理处置等方面，也存在许多薄弱环节。二是海洋生态环境损害和污染依然突出。督察发现，浙江省海洋生态保护不力，对海洋开发利用统筹不够，违法围填海、违规养殖、入海排污等问题比较突出，导致部分近岸海域水质持续恶化，全省2016年劣四类海水比例高达60%。三是环境基础设施建设存在薄弱环节。浙江省住建厅对各市县垃圾处理设施建设工作指导督促不够，全省生活垃圾处理能力缺口约8000吨/日。省内现有生活垃圾处理设施普遍超负荷运行。督察强调，浙江省应根据《环境保护督察方案（试行）》要求和督察反馈意见，抓紧研究制定整改方案，在30个工作日内报送国务院。整改方案和整改落实情况要按照有关规定及时向社会公开。</p></body></html>