<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>343</title>
</head>
<body>
<h1>
马凯在大型灭火/水上救援水陆两栖飞机AG600首飞活动上强调 让更多自主研制的中国飞机翱翔蓝天-新华网
</h1>
<p id="demo">/</p><p>新华社广州12月24日电12月24日，大型灭火/水上救援水陆两栖飞机AG600在珠海成功首飞。国务院副总理马凯出席首飞活动并致辞，中共中央政治局委员、广东省委书记李希出席首飞活动。马凯指出，AG600成功首飞是继大型运输机运－20交付列装、C919大型客机成功首飞之后，我国航空工业发展的又一个重要里程碑。中航工业作为研制主体，在以习近平同志为核心的党中央坚强领导下，认真贯彻落实党中央、国务院决策部署，坚定不移走中国特色民机发展道路，形成了具有自主知识产权的水陆两栖飞机设计研发技术体系，全面提升了我国水面飞行器的设计和制造能力，推动我国航空工业取得重大进展。马凯强调，AG600首飞成功只是研制的一个关键节点，后续任务依然艰巨繁重。各参研单位和人员要更加紧密团结在以习近平同志为核心的党中央周围，全面贯彻党的十九大精神，以习近平新时代中国特色社会主义思想为指导，牢固树立新发展理念，以供给侧结构性改革为主线，按照高质量发展的根本要求，大力弘扬航空报国精神，始终坚持质量至上，持续加强科技创新，着力强化市场开拓，创新适航审定工作，全力做好水陆两用飞行器研制工作，加快建设航空强国，为实现中华民族伟大复兴的中国梦作出更大贡献。Copyright © 2000 - 2016 XINHUANET.comAll Rights Reserved. 制作单位：新华网版权所有 新华网</p></body></html>