<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>344</title>
</head>
<body>
<h1>
面向全球市场 中国大型水陆两栖飞机积极开展适航取证-新华网
</h1>
<p id="demo"> 2017-12-24 16:17:33</p><p>新华社广州12月24日电（记者 胡喆 王攀）中国自主研发的大型灭火/水上救援水陆两栖飞机“鲲龙”AG600于24日实现首飞，该型飞机是中国为满足森林灭火和水上救援的迫切需要，首次研制的大型特种用途民用飞机。中国航空工业通飞副总经理/ AG600项目现场常务副总指挥张枢玮当天表示，“鲲龙”也是中国首次开展大型水陆两栖飞机的研制和型号合格审定工作，目前飞机已经获得一些国内外客户关注，有着良好的市场前景。他说：“‘鲲龙’是一机多型的多用平台，除森林灭火、水上救援外，还可以在海洋巡逻、海洋监测、岛礁运输旅游等方面发挥作用，目前已经得到一些国外客户的关注，市场前景看好。”适航是民机进入市场的前提，是保证民机安全性的基础，AG600项目于2009年7月启动适航取证工作，目前型号合格审定已完成概念设计阶段、要求确定阶段、符合性计划制定阶段工作，并于2017年9月转入符合性计划实施阶段。AG600飞机项目研制采用“主制造商—供应商”的项目管理模式。在解决一系列难题的同时，项目显著带动国内供应商的适航管理和符合性验证能力的提升，对中国民机制造业的发展起到了重要的推动作用。</p></body></html>