<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>348</title>
</head>
<body>
<h1>
医生提醒，“吃得过细”影响幼儿牙齿发育-新华网
</h1>
<p id="demo"> 2017-12-24 17:30:18</p><p>新华社太原12月24日电（记者刘翔霄）一些家长认为，给宝宝吃得越精细，越有助于宝宝的消化吸收和成长。医生提醒，这种认识和做法存在一定片面性，容易给孩子的牙齿发育埋下隐患。山西省人民医院口腔科近年在接诊中发现，六七岁小患儿出现“双排牙”的现象并不少见。口腔科副主任医师段春红告诉记者，这种情况被称作“乳牙滞留”，即孩子恒牙已萌出，乳牙尚未脱落。“乳牙滞留”可引起恒牙萌出方向和位置的异常，造成牙齿畸形，并使牙齿口腔卫生维护难度加大，加剧龋齿的发生。医生提示，牙齿也存在“用进废退”，乳牙滞留发生的原因多是缺乏咀嚼、锻炼不够，致其难以脱落。为避免这种情况发生，在乳牙萌出后，儿童饮食不宜过于精细，可适量进食有一定硬度及高纤维的食物，同时加强口腔卫生，以利于乳牙的自行脱落。如果有“乳牙滞留”现象发生，应及时带孩子就诊进行专业处理。对于普通的“双排牙”现象，医生一般会将滞留乳牙拔除，减少新生恒牙的阻力，使其慢慢复位。如果没有复位，必须在适当时机“正畸”，使牙齿排列整齐。</p></body></html>