<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>349</title>
</head>
<body>
<h1>
葛坪村凉粉草“逆袭”记-新华网
</h1>
<p id="demo"> 2017-12-24 17:31:31</p><p>新华社广州12月24日电（记者李雄鹰）“今年种了2亩凉粉草，除去人工、肥料、农药，纯赚5500元以上。如果管理更精心，肯定6000元以上。”广东省南雄市澜河镇葛坪村村委委员巫景阳说，明年他会种5亩。其他村民也对种植凉粉草充满信心。葛坪村是山区贫困村。当地属于亚热带季风湿润气候区，适宜中药材生长，凉粉草曾被村民寄予厚望。2014年，村里一些人引进了凉粉草项目，巫景阳就是其中一位。“钱没挣到，折腾怕了。”巫景阳感叹。因为缺乏技术和门路，产量提不上去，销路也打不开。村里第一次种植凉粉草以失败告终。两年后，扶贫工作队把种植凉粉草方案提到村民面前。“村民们不愿意，我们确实遇到非常大的阻力。”广东省食品药品监督管理局驻葛坪村第一书记谢云峰说。“失败的关键在于缺乏技术和销路，我们只要在这两个方面做好保障就能打消村民的疑虑。”谢云峰与队友帮助村里成立南雄市葛坪中草药种植专业合作社，协调与广州医药集团签订收购托底价，聘请福建一家凉粉草种植企业的技术员担任技术指导。有了保障，村民就有积极性。“整个村子近50户，总共种了300多亩凉粉草，有劳动能力的贫困户全覆盖。”谢云峰说，葛坪村的凉粉草项目还带动了周边村民的积极性，澜河镇今年总共种了500多亩。收获时节，记者来到澜河镇凉粉草收购站，工人正有条不紊地将收购来的凉粉草用压缩机打包。谢云峰说，今年整个凉粉草产业项目收入保守估计在160万元以上，目前已经卖了80万元。“我们家的凉粉草是村里卖的较早的一批，今年种了10亩，除去成本，赚了2.7万元。”沈世红是村里的扶贫对象，他掰着手指算了账，决定明年继续种。澜河镇副镇长谭坚斌说：“我们计划将凉粉草以及包括凉粉草在内的中草药产业打造成澜河镇的主导产业。”</p></body></html>