<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>350</title>
</head>
<body>
<h1>
我国拟强化对法官及其近亲属人身权益保护-新华网
</h1>
<p id="demo"> 2017-12-24 19:05:48</p><p>新华社北京１２月２４日电（记者 丁小溪 罗沙）针对近年来屡见不鲜的侵害法官及其近亲属人身安全事件，日前提请全国人大常委会审议的法官法修订草案强化了对法官及其近亲属人身权益的保护。草案规定，任何单位和个人不得对法官及其近亲属打击报复。对报复陷害、侮辱诽谤、暴力侵害法官及其近亲属的违法犯罪行为，应当依法从严惩处。根据草案，法官因依法履职遭受不实举报、诬告陷害、侮辱诽谤，致使名誉受到损害的，人民法院应当会同有关部门及时澄清事实，消除不良影响，并依法追究相关单位或者个人的责任。在办理案件中，法官及其近亲属面临人身危险的，应当对法官及其近亲属采取人身保护、禁止特定人员接触等必要保护措施。在保障法官依法行使审判权方面，草案规定，行政机关、社会团体和个人不得干涉法官依法办理案件，不得要求法官从事违反法定职责的活动。对干涉法官办理案件的行为，法官有权拒绝，并应当予以记录，并由有关机关根据情节轻重追究行为人的责任。草案还提出，人民法院设立法官权益保障委员会，保障法官依法履职。 </p></body></html>