<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>351</title>
</head>
<body>
<h1>
湖南新化涉枪案嫌犯陈建湘被抓 所携枪弹全部缴获-新华网
</h1>
<p id="demo"> 2017-12-24 19:27:33</p><p>12月22日，湖南新化县公安局民警陈建湘持枪杀人，造成2人死亡后潜逃。24日，湖南警方通报称，犯罪嫌疑人陈建湘被抓获归案，所携枪弹被全部缴获。据湖南娄底市公安局官方微博消息，12月22日，湖南新化县发生一起涉枪案件。犯罪嫌疑人陈建湘，男，46岁，新化县公安局民警，持枪致2人死亡。初步查明，12月22日，犯罪嫌疑人陈建湘持枪致邹某(男，36岁，新化县教育局工作人员)、段某某(男，58岁，下岗职工)死亡。两人均因琐事与陈建湘曾发生过小过节。据湖南娄底市公安局官方微博消息，案发后，在公安部指挥下，省市县三级公安机关迅速启动重大案件侦办机制，迅速成立专案指挥部，全力追捕。24日17时许，犯罪嫌疑人陈建湘在新化县科头乡三板桥村被抓获归案，所携枪弹被全部缴获。</p></body></html>