<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>362</title>
</head>
<body>
<h1>
我国成功发射遥感三十号03组卫星-新华网
</h1>
<p id="demo"> 2017-12-26 09:06:29</p><p> 12月26日3时44分，我国在西昌卫星发射中心用长征二号丙运载火箭，成功将遥感三十号03组卫星发射升空，卫星进入预定轨道，发射任务获得圆满成功。新华社发（梁珂岩 摄）12月26日3时44分，我国在西昌卫星发射中心用长征二号丙运载火箭，成功将遥感三十号03组卫星发射升空，卫星进入预定轨道，发射任务获得圆满成功。新华社发（梁珂岩 摄）新华社西昌１２月２６日电（李国利、李潇帆）１２月２６日３时４４分，我国在西昌卫星发射中心用长征二号丙运载火箭，成功将遥感三十号０３组卫星发射升空，卫星进入预定轨道，发射任务获得圆满成功。据了解，遥感三十号０３组卫星采用多星组网模式，主要用于开展电磁环境探测及相关技术试验。这次任务是长征系列运载火箭的第２６０次飞行。</p></body></html>