<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>365</title>
</head>
<body>
<h1>
我国发布养老机构服务质量管理首个国家标准-新华网
</h1>
<p id="demo"> 2017-12-29 21:09:50</p><p>新华社北京12月29日电（记者王优玲）国家质检总局、国家标准委29日发布了《养老机构服务质量基本规范》国家标准，这是我国养老机构服务质量管理首个国家标准，标志着全国养老机构服务质量迈入标准化管理的新时代。据介绍，基本规范全文共有112条，除去规范性引用文件、术语和定义外，共对养老机构服务质量提出106条要求，主要包括基本要求、服务项目与质量要求、管理要求、服务评价与改进等内容。民政部相关负责人说，过去由于缺乏全国统一的养老机构服务质量标准，养老机构开展服务质量建设缺乏遵循，社会评价养老机构服务质量也缺乏依据。基本规范填补了养老机构服务质量国家标准空白，健全了养老机构标准体系，为进一步规范养老机构服务质量提供了指引。此外，基本规范还明确了全国养老机构服务质量的基准线、起跑线，为全国养老机构服务质量提出了最低要求。该负责人表示,提高养老院服务质量,关系2亿多老年人口特别是约4000万失能半失能老年人的晚年幸福,也关系他们子女工作生活,是涉及人民生活质量的大事。统计显示，截至2016年底，全国60周岁以上老年人口有2.3亿,占总人口的16.7%，其中失能半失能老年人约4000万人，占老年人口的18.3%，空巢老年人占老年人口的51.3%。随着人口老龄化不断加剧，养老服务需求快速增长，养老机构成为老年人社会化养老的重要方式。据了解，在近一年的起草过程中，民政部通过网上公开征求意见、座谈会、实地调研等方式，广泛听取各方意见，共收到全国23个省份、近100家不同类型养老机构和许多个人的449条意见。</p></body></html>