<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>366</title>
</head>
<body>
<h1>
李克强：打造良好的营商环境 更有效维护公平竞争的市场秩序-新华网
</h1>
<p id="demo"> 2017-12-29 21:10:17</p><p>李克强对深入学习贯彻党的十九大精神做好新时代工商和市场监管工作座谈会作出重要批示强调打造良好的营商环境更有效维护公平竞争的市场秩序王勇出席会议并讲话新华社北京12月29日电 深入学习贯彻党的十九大精神做好新时代工商和市场监管工作座谈会12月29日在京召开。中共中央政治局常委、国务院总理李克强作出重要批示。批示指出：打造良好的营商环境是建设现代化经济体系、促进高质量发展的重要基础。近年来我国商事制度改革持续推进，营商环境持续向好，极大激发了市场活力，促进了创业就业和民生改善。新形势下，要全面深入贯彻党的十九大精神，以习近平新时代中国特色社会主义思想为指导，围绕完善社会主义市场经济体制，深化“放管服”改革，积极对标国际先进水平，进一步推进商事制度改革，全面推开“证照分离”、网上审批等改革举措，着力推动监管创新，完善综合执法，优化工商、市场监管等各类直接面向市场主体的政府服务，更有效维护公平竞争的市场秩序，更有力激发大众创业、万众创新的深厚潜力，更好满足人民群众对美好生活的新期待。国务委员王勇出席会议并讲话。他强调，要全面贯彻党的十九大精神，以习近平新时代中国特色社会主义思想为指导，认真落实李克强总理重要批示要求，以更大力度持续深化商事制度改革，着力优化市场营商环境，努力开创工商和市场监管工作新局面。王勇指出，党的十八大以来，在以习近平同志为核心的党中央坚强领导下，各地区各有关部门以商事制度改革为突破口，推动工商和市场监管工作取得了历史性进展和成就。当前和今后一个时期，要以党的十九大精神为指引，按照中央经济工作会议的部署要求，不断拓展商事制度改革深度和广度，全面推开“证照分离”改革，大力推进登记审批网络化；全面落实“双随机、一公开”监管，完善部门协作和信息共享机制，推动跨部门联合检查制度化常态化；全面加强消费维权监管执法，积极实施商标品牌战略，着力营造让人民群众放心舒心的消费环境，为促进经济高质量发展和更好满足人民日益增长的美好生活需要作出新的更大贡献。</p></body></html>