<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>368</title>
</head>
<body>
<h1>
我国集中发布《养老机构服务质量基本规范》等１０９０项国家标准-新华网
</h1>
<p id="demo"> 2017-12-29 21:34:09</p><p>新华社北京１２月２９日电（记者王优玲）国家质检总局、国家标准委２９日集中发布了《养老机构服务质量基本规范》等１０９０项国家标准，将在提高人民群众生活水平，改善环境质量，风险隐患处置，便利日常出行等方面发挥重要作用。国家标准委有关负责人说，此次发布的国家标准数量大、涉及面广，包括养老服务、环境卫生、物流运输、公共安全、旅游服务、电子商务、卫星导航等许多重点领域的国家标准。国家标准委综合业务部主任国焕新说，新发布的《养老机构服务质量基本规范》国家标准，对养老机构提供出入院服务、生活照料服务、膳食服务等９方面服务作出了规定，让“老有所养、养有所规”不只是停留在口头上，而是体现在实实在在的服务上。据介绍，《卫星导航增强信息互联网传输》等６项国家标准，实现了向用户提供厘米级精密导航定位服务和用户终端辅助增强服务的功能。《电子商务平台商家入驻审核规范》等３项国家标准，首次针对电子商务平台商家入驻制定了资质要求。同时，标准还对网络平台上产品信息展示的基本原则、展示的内容和方式提出了要求，逐步缩小网上信息与实体感受之间差距。发布会还发布了５１项国家标准的英文版，涉及植物检疫、橡胶与橡胶制品、表面活性剂、汽车轮胎等多个重点领域，对于服务“一带一路”战略实施，具有积极意义。</p></body></html>