<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>375</title>
</head>
<body>
<h1>
安徽立法保护徽州古建筑 允许合法流转古民居所有权或使用权-新华网
</h1>
<p id="demo"> 2017-12-22 10:52:25</p><p>新华社合肥12月22日电（记者水金辰、刘美子）安徽省第十二届人大常委会第四十二次会议日前审查批准了《黄山市徽州古建筑保护条例》。该条例规定将实行古建筑保护责任人制度，古民居所有权或使用权可合法流转。据介绍，条例所称古建筑是指黄山市境内建于1949年以前能够反映历史风貌和地方特色，并具有历史、艺术、科学价值，列入保护名录的各类建筑物。条例明确，对古建筑保护实行名录管理，列入保护名录的古建筑建立档案，设立标志。在古建筑保护范围内，不得进行有损于古建筑保护的其他工程建设或者爆破、钻探等作业。古建筑维修要遵循“最小干预原则”。条例规定，实行古建筑保护责任人制度。县(区)文物主管部门要与古建筑保护责任人签订责任书。其中，国有古建筑，使用人是保护责任人；使用人不明确的，古建筑所在地的乡(镇)政府或街道办事处是保护责任人。非国有古建筑，所有权人是保护责任人；所有权人不明或者房屋权属不清晰的，使用人是保护责任人。租赁房屋另有约定的除外。此外，条例明确可通过多种有利于保护的方式合理利用古建筑。徽州古建筑的产权如何界定？条例明确：公民、法人和其他组织可以通过合法流转方式取得古民居所有权或者使用权。黄山市政府将整合全市古民居产权集中交易平台，促进古民居产权依法有序流转。</p></body></html>