<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>382</title>
</head>
<body>
<h1>
陕西宜川：“党员成长袋”实现党员精细化管理-新华网
</h1>
<p id="demo"> 2017-12-22 11:16:50</p><p>新华社西安１２月２２日电（记者李浩）对党员的精细化管理一直是基层党建工作的一个难题，陕西省宜川县为此探索建立“党员成长袋”制度，详细记录每名党员成长过程中的点点滴滴，有效解决基层党员档案缺失多、管理不连贯、评价难客观等问题。目前宜川县为全县３０３个支部的７０００多名党员建立了“党员成长袋”。据了解，宜川县在推进“两学一做”学习教育活动中发现，全县３６００余名农村党员中，９０％的党员档案缺失，而普通机关党员档案材料里也缺乏党内表现、组织生活、谈话资料等详细材料，影响了党员评价的客观性和党员管理的连贯性。宜川县委常委、组织部长王长江介绍，为便于党组织全面了解党员情况，２０１６年起宜川县在全县开展建立“党员成长袋”制度：各党支部将党员基本情况登记表、参加支部党员大会等党内活动情况、党员日常表现、个人整改情况等搜集审核后装进“成长袋”，确保台账有案可查，解决了党员管理难、评价难等问题。今年已有４２年党龄的宜川县秋林镇显头村老党员董文杰说：“以前村里党员参加支部活动很随意，现在表现不好就要记录进‘成长袋’，党员参加支部活动可认真了。”宜川县林业局党务干部李萌表示，以往民主评议党员时，经常因缺少全面评价依据出现争执。“现在有了‘党员成长袋’，个人表现一目了然，评议结果大家也就口服心服了。”</p></body></html>