<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>383</title>
</head>
<body>
<h1>
北京：今年公交地铁价格动态调整机制不启动-新华网
</h1>
<p id="demo"> 2017-12-22 15:53:28</p><p>新华社北京１２月２２日电（记者孔祥鑫）记者２２日从北京市发展改革委获悉，北京实行的公交地铁价格动态调整机制，今年不启动。地面公交和轨道交通的调整幅度整体纳入下一调价周期累计。据介绍，相关政策对外公布的时间一般都放在１２月，主要考虑动态调整以年度为调整周期，且需与轨道交通新线开通做好衔接，一并考虑售检票系统的调测试和票价标识更新等工作。２０１８年是否启动，需在相关统计数据对外公布后，根据具体测算情况和明年公共交通运营实际，多方听取意见、综合平衡后再行确定。北京市现行的公共交通票价是２０１４年制定的。２０１４年，为提高公共交通定价政策的透明度，增强行业发展活力和可持续发展能力，参照国内外票价管理经验，出台了《北京市城市公共电汽车和轨道交通价格动态调整办法》，建立了公共交通价格动态调整机制。按照机制要求，北京市实行政府定价管理的城市公共电汽车和轨道交通价格以年度为周期，根据价格调整公式，定期进行测算调整。当平均票价调整幅度大于等于０．１元时，启动年度调价。未达到上述启动条件时，当年不做调整，纳入下一周期累计。据了解，年度调整主要考虑公共交通企业人工成本、动力成本和其他可变成本的变动情况，及其权重（人工成本占５０％，动力成本占２０％，其他成本占３０％）。按照票价动态调整办法测算，２０１７年的公交地铁票价都达到了涨价的启动点。２０１７年地面公交平均调价幅度应为０．１元（其中，２０１７年当年平均票价调整幅度为０．０７元，２０１５年和２０１６年应累加合计０．０３元），达到动态调整的启动点（０．１元）。但考虑到近年来北京市地面公交客运量呈逐年下降态势，为保持地面公交票价对短途出行客流的吸引力，在多方听取意见后决定，今年暂缓启动地面公交票价动态调整，地面公交的票价调整幅度整体纳入下一调价周期累计。２０１７年轨道交通平均调价幅度应为０．６７元（其中，２０１７年当年平均票价调整幅度为０．２８元，２０１５年和２０１６年应累加合计０．３９元），达到动态调整的启动点（０．１元）。但考虑北京市轨道交通仍在大规模建设，新线仍在陆续开通，客流尚不稳定，在多方听取意见后研究决定，今年暂缓启动轨道交通票价动态调整，轨道交通的票价调整幅度整体纳入下一调价周期累计。</p></body></html>