<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>385</title>
</head>
<body>
<h1>
央企扶贫基金将撬动上千亿社会资本投入贫困地区-新华网
</h1>
<p id="demo"> 2017-12-22 15:42:26</p><p>新华社北京１２月２２日电（记者王希）中央企业贫困地区产业投资基金（央企扶贫基金）成立一年多来，通过直接投资、设立子基金、发起扶贫基金联盟等方式，将撬动社会资本上千亿元投入贫困地区。这是记者２２日从央企扶贫基金管理人——国家开发投资公司出资设立的国投创益产业基金管理有限公司了解到的信息。自去年１０月成立以来，央企扶贫基金完成投资决策项目４１个、金额８６亿元；立项项目１６个、金额１４亿元。这些项目遍布全国２６个省份，覆盖了全部１４个集中连片特殊困难地区，以及部分国家扶贫开发工作重点县、革命老区县。据了解，央企扶贫基金主要投资于贫困地区的资源开发、产业园区建设、新型城镇化发展等，适当投资养老、医疗、健康等民生产业。具体实践中，基金灵活采取股权投资、债权投资、可转债、优先股、子基金等方式，引导各类资本进入贫困地区主导产业，助力解决制约贫困地区产业发展的融资难、融资贵问题。初步统计显示，约八成的投资项目在央企扶贫基金投资前没有社会投资人进入。聚焦于扶贫效果，央企扶贫基金优先考虑吸纳就业人数多、带动力强的项目。根据测算，项目完全投产后预计可带动２０万贫困人口直接或间接就业，每年为贫困人口提供收入１２．６亿元。值得注意的是，央企扶贫基金发挥自身优势，将扶贫与“扶治”相结合，重点为贫困地区企业提供财务管理、资本运作、流动性资金、人员培训、党的建设等增值服务，引入现代经营管理理念，保障投资企业良好运营。央企扶贫基金由国资委牵头、财政部参与发起，中央企业共同出资设立，首期募资１２２．０３亿元。国家开发投资公司、国家电网、中国华电集团等５１家央企参与了首期出资。</p></body></html>