<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>386</title>
</head>
<body>
<h1>
2018年1月1日后投运光伏电站标杆电价每千瓦时下调0.1元-新华网
</h1>
<p id="demo"> 2017-12-22 15:55:09</p><p>新华社北京12月22日电（记者安蓓）国家发展改革委22日宣布降低2018年光伏发电价格。2018年1月1日之后投运的光伏电站，一类、二类、三类资源区标杆电价分别降低为每千瓦时0.55元、0.65元和0.75元，比2017年电价每千瓦时均下调0.1元。根据《关于2018年光伏发电项目价格政策的通知》，2018年1月1日之后投运的分布式光伏发电，对“自发自用、余电上网”模式，全电量补贴标准降低为每千瓦时0.37元，比现行补贴标准每千瓦时下调0.05元。通知指出，为积极支持光伏扶贫，助力打赢脱贫攻坚战，更好地保障贫困户收益，保持村级光伏扶贫电站（0.5兆瓦及以下）标杆电价、户用分布式光伏扶贫项目度电补贴标准不降低。即村级光伏扶贫电站一类、二类、三类资源区标杆电价分别为每千瓦时0.65元、0.75元和0.85元，户用分布式光伏扶贫项目度电补贴标准为0.42元。通知强调，要更好地发挥市场形成价格的作用，鼓励地方按国家有关规定开展光伏发电就近消纳配电价格改革和市场化招标定价试点，逐步完善通过市场发现价格的机制。国家发改委有关负责人说，我国光伏产业发展迅速，成本快速下降。调整后的标杆上网电价，能够继续保障光伏发电项目获得合理收益，保障新能源项目投资吸引力，促进光伏全产业链持续健康发展。</p></body></html>