<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>387</title>
</head>
<body>
<h1>
养心殿“摆驾”南京 故宫将推系列文物“回乡展”-新华网
</h1>
<p id="demo"> 2017-12-22 15:54:07</p><p>新华社南京12月22日电（记者蒋芳）“中正仁和”匾额高悬，东暖阁、西暖阁位于两侧，三希堂、无倦斋情景再现，279件故宫文物一览无余……22日，《走进养心殿——大清的家国天下》在南京博物院开展。故宫博物院院长单霁翔透露，紫禁城可以说是大运河“漂”过来的，未来将成系列地推出故宫文物“回乡展”。自雍正皇帝开始，直到溥仪出宫，清代有8位皇帝将养心殿作为政务与起居之所，承载着封建帝王关于“家国天下”的理想。2015年起，故宫博物院启动“养心殿研究性保护项目”。养心门暂闭，养心殿中的文物则由专家们悉心保养，并挑选出部分在国内巡展。2017年岁末，养心殿文物正式“摆驾”南京博物院，并将跨元旦、春节展出。据了解，此次展览依原状复原了养心殿明间、西暖阁勤政亲贤殿、三希堂、东暖阁垂帘听政、东暖阁明窗开笔和无倦斋佛堂六处场景，同时展出包括东晋谢安《行书中郎帖》、乾隆皇帝戊戌年元旦试笔御制诗手稿、青金石养心殿铭印章、青玉十二生肖在内的文物279件。其中，《行书中郎帖》将在2月初亮相展出一个月，“露脸”之后就将回库保养3年。“某种程度上紫禁城是大运河‘漂’过来的。大量南方的工匠、材料、工艺顺着运河漂到了北京，造就了恢弘的宫殿，充实了皇帝的收藏。”单霁翔说，故宫藏品来自全国各地，但有限的展陈空间让很多藏品难见天日，推动这些文物再回故乡非常有意义。未来故宫博物院计划成系列地推出“回乡展”，如明四家回到苏州、扬州八怪回扬州、黄公望回到杭州、寿山石回福州等。《走进养心殿——大清的家国天下》将在南京博物院特展馆展出至3月22日。</p></body></html>