<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>388</title>
</head>
<body>
<h1>
国家税务总局设立驻广州、重庆特派办-新华网
</h1>
<p id="demo"> 2017-12-22 16:26:44</p><p>新华社北京12月22日电（记者郁琼源）记者22日从国家税务总局了解到，继设立驻北京特派员办事处之后，国家税务总局近日分别设立驻广州、重庆特派员办事处。据国家税务总局有关负责人介绍，根据中央编办批复，国家税务总局分别设立驻广州、重庆特派办，主要承担对工作范围内国税地税机关贯彻执行党中央、国务院决策部署情况的督查、税收执法合规性检查、财务内审、跨区域涉税大案要案稽查等任务。其中广州特派办的工作范围为湖北、湖南、广东、海南和深圳等省市；重庆特派办的工作范围为重庆、四川、贵州、云南、西藏和广西等省区市。这位负责人说，广州、重庆特派办的成立，适应了当前经济和社会发展需要，符合税收管理服务集约化、高效化的趋势性规律，有利于为纳税人提供更加优质便捷服务，进一步优化营商办税环境。</p></body></html>