<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>389</title>
</head>
<body>
<h1>
深圳：举报违法犯罪线索最高奖10万元-新华网
</h1>
<p id="demo"> 2017-12-22 15:58:07</p><p>新华社深圳12月22日电（记者周科）为充分发挥广大群众在打击违法犯罪中的重要作用，深圳市公安局近日制定新的有奖举报实施办法。群众通过举报中心提供违法犯罪线索，经调查属实的，将根据线索作用获得奖励，奖励金额最高可达10万元。根据新制定的《深圳市公安局违法犯罪有奖举报实施办法》，凡是发生在深圳市内属于公安机关管辖的各类刑事案件、行政案件以及在逃犯罪嫌疑人线索，公民均可以采取实名或者匿名的方式，通过电话、互联网、来信、来访等多种途径向深圳市公安局检举、揭发。该办法将于2018年1月1日正式实施。办法同时规定，具有以下情形之一的，不予奖励：违法犯罪嫌疑人、在押人员检举揭发的线索；国家机关工作人员，依法执行职务或者履行法定义务过程中掌握的违法犯罪线索；企事业单位、社会团体工作人员，在职权范围内掌握的本单位（团体）被侵害的违法犯罪线索；举报人本人为刑事案件、行政案件的当事人；法律法规规定的其他不予奖励的情形。根据实施办法，对举报行政案件线索、且违法行为人依法受到行政处罚的，视线索发挥的作用，对举报人奖励300元至2万元；对举报线索查破刑事案件或抓获在逃犯罪嫌疑人的，视作用大小奖励1000元至10万元。</p></body></html>