<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>391</title>
</head>
<body>
<h1>
《奶业科普百问》出版发行-新华网
</h1>
<p id="demo"> 2017-12-22 16:11:36</p><p>新华社北京12月22日电（记者 胡璐 董峻）由农业部奶业管理办公室组织编撰的首部大众奶业科普读物《奶业科普百问》日前正式出版发行。全国畜牧总站研究员张书义说，一杯牛奶强壮一个民族，奶业是国计民生与健康中国不可或缺的产业。近年来我国奶业全产业链质量安全监管体系日趋完善，乳品质量实现了质的飞跃。虽然我国已成为奶业生产大国，但乳制品消费仍有较大的空间和潜力。农业部数据显示，目前我国人均乳制品折合生鲜乳消费量每年约36公斤，相当于每天100克，远未达到《中国居民膳食指南》推荐的每天300克的标准，只有亚洲平均水平的二分之一，世界平均水平的三分之一。为加强奶业公益科普宣传，引导乳品消费，振兴民族奶业，农业部奶业管理办公室会同全国畜牧总站、中国农业出版社等单位策划并组织编写了《奶业科普百问》。该书采用科普问答形式，针对人们日常生活中所关注的乳品问题，以清晰直观的图片、通俗易懂的文字进行解答，帮助消费者树立健康消费观念，科学选择食用适合自己和家人的乳制品。同时，介绍了传统乳制品、家庭奶食制作和奶业典故轶事，反映了我国悠久的奶业历史和深厚的奶业文化。该书还介绍了农业部推介的第一批8家休闲观光牧场，帮助读者联系体验优质乳品生产全过程。</p></body></html>