<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>392</title>
</head>
<body>
<h1>
农民专业合作社有望享有与其他市场主体平等的法律地位-新华网
</h1>
<p id="demo"> 2017-12-22 15:55:18</p><p>新华社北京12月22日电（记者董峻）22日，十二届全国人大常委会第二次审议农民专业合作社法修订草案。草案二次审议稿增加了“国家保障农民专业合作社享有与其他市场主体平等的法律地位”的规定。今年6月，全国人大常委会第一次审议农民专业合作社法修订草案。相比草案一审稿，这次的草案二审稿还新增规定，农民专业合作社可以依法向公司等企业投资，但是不得成为对所投资企业的债务承担连带责任的出资人。全国人大法律委员会副主任委员安建在向十二届全国人大常委会第三十一次会议作报告时介绍，为完善农民专业合作社的法律制度，进一步鼓励、支持、引导农民专业合作社的发展，对农民专业合作社法予以修订是必要的，修订草案经过常委会审议修改，已经比较成熟。草案规定，农民专业合作社成员可以用土地经营权、林权等可以用货币估价并可以依法转让的非货币财产出资。对此，在该草案此前征求各方面意见时，有些地方和农民专业合作社提出，实践中成员出资的形式多样，只要符合章程规定、全体成员认可、符合法律和行政法规规定即可。法律委员会经研究，建议增加“以及章程规定的其他方式”作价出资的内容。此外，在对农民专业合作社联合社的规定方面，草案作了如下修改：一是明确农民专业合作社为扩大生产经营和服务的规模，发展产业化经营，提高市场竞争力，可以依法自愿设立或者加入农民专业合作社联合社；二是增加联合社理事长、理事应当由成员社选派的人员担任的内容；三是明确农民专业合作社联合社的成员大会选举和表决，实行“一社一票”。</p></body></html>