<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>396</title>
</head>
<body>
<h1>
我国拟修改法官法 明确设立法官遴选委员会-新华网
</h1>
<p id="demo"> 2017-12-22 16:04:41</p><p>新华社北京12月22日电（记者丁小溪、罗沙）法官法修订草案22日提请十二届全国人大常委会第三十一次会议审议，草案增加了法官遴选委员会的内容。最高人民法院院长周强在向全国人大常委会作草案说明时指出，修改法官法是适应司法审判工作新的发展变化，推进法官正规化、专业化、职业化建设的客观需要。草案规定，设立最高人民法院法官遴选委员会,负责最高人民法院法官人选专业能力的审核。省、自治区、直辖市设立法官遴选委员会，负责初任法官人选专业能力的审核。草案对省级法官遴选委员会的组成及日常办事机构作出相关规定，明确省级法官遴选委员会的组成人员应当包括地方各级人民法院法官代表和社会有关代表,其中法官代表不少于三分之一。省级法官遴选委员会在高级人民法院设立办公机构，负责法官遴选委员会的日常工作。草案规定，初任法官一般到基层法院任职。中级以上人民法院法官，一般通过逐级遴选方式产生。最高人民法院和高级人民法院可以在下两级人民法院范围内遴选法官。草案还指出，中级、高级人民法院遴选法官人选一般在下级人民法院担任法官五年以上，并具有遴选职位三年以上相关工作经历；最高人民法院遴选法官人选一般在下级人民法院担任法官八年以上,并具有遴选职位五年以上相关工作经历。</p></body></html>