<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>397</title>
</head>
<body>
<h1>
第四批中央环保督察组陆续反馈督察意见 一些环境问题依然突出-新华网
</h1>
<p id="demo"> 2017-12-22 15:42:27</p><p>新华社北京12月22日电（记者高敬）从22日开始，第四批中央环境保护督察组陆续向吉林、浙江、山东、海南、四川、西藏、青海、新疆（含兵团）等8省（区）反馈督察意见，并移交督察发现的生态环境损害责任追究问题案卷。国家环境保护督察办公室有关负责人介绍，8月7日至9月15日，中央环保督察组对上述省份开展了督察。8省（区）严查严处群众举报案件。截至目前，督察组交办的40706件环境问题举报已基本办结，共立案处罚10806家，罚款54759万元；立案侦查335件，拘留424人；约谈4855人，问责6471人。督察发现，8省（区）环保工作虽然取得进展，但一些环境保护问题依然突出：一是部分地方党委政府对环境保护认识尚不到位，环保不作为、乱作为，不担当、不碰硬的情况仍然存在。一些省直部门对自身的环保职责不清楚、不重视、不落实，认为是替环保部门“扛活”。二是一些地区大气和水环境问题较为突出，大气污染防治重点工作落实不到位，黑臭水体治理工作严重滞后。三是一些城市环境基础设施建设严重缺失，重地上、轻地下，污水直排、垃圾乱堆等问题较为普遍。四是部分沿海地区违法围海填海和违规养殖情况常见，岸线破坏严重，生态功能退化，近岸海域环境污染情况突出。五是一些自然保护区局部生态破坏问题比较突出，违规审批，违规建设，只开发、不修复等现象多见。督察要求，8省（区）应在30个工作日内编制整改方案上报国务院，并向社会公开；应加强督察整改，定期公开整改情况；应组织对移交的生态环境损害责任追究问题进行深入调查，进一步厘清责任，并按有关规定严肃问责；应不断推动发展转型和供给侧结构性改革，落实环境保护党政同责和一岗双责。国家环境保护督察办公室将对督察整改情况开展清单化调度，并视情组织开展点穴式、机动式专项督察，重要情况及时报告党中央、国务院。</p></body></html>