<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>399</title>
</head>
<body>
<h1>
北京通过第三方明察暗访各区绩效任务落实情况-新华网
</h1>
<p id="demo"> 2017-12-22 17:02:23</p><p>新华社北京12月22日电（记者乌梦达）记者22日从北京市政府办公厅了解到，北京市政府绩效管理工作领导小组将在2017年12月至2018年1月组织开展对各区政府年度绩效任务落实情况的察访核验，并通过第三方机构进行现场查访。北京市政府绩效管理工作领导小组相关负责人介绍，察访核验内容主要包括：北京市重要民生实事项目完成情况；区政府与市政府签订的年度目标责任书完成情况；区政府承担的市政府工作报告重点工作完成情况；国务院督查、审计署审计、市委巡视组巡视中发现的问题和市政府专项督查、绩效考评反馈问题的整改情况；纳入区政府绩效考评体系的其他事项完成情况等。据介绍，察访核验工作会将明察与暗访相结合、查阅资料与实地察访相结合、内部考核与外部评价相结合，互为补充验证。在专项考评部门深入开展专业性察验的基础上，由北京市政府绩效办、各专项考评部门会同第三方机构对绩效任务完成情况进行线上全面核对，对重要民生实事项目开展现场察访。此外，北京将首次邀请参加过2016年市政府述职述廉考评的社会各界代表作为市政府工作联络员，通过填写调查问卷、参与实地核验、开展座谈交流等不同形式参与本次察访核验。北京市政府绩效管理工作领导小组相关负责人表示，察访核验的目的是帮助各区推动各项绩效任务落实，察访核验情况会作为专项考评的重要依据和述职考评的重要参考，还要认真梳理发现的问题，全面查找薄弱环节，深入剖析原因，狠抓反馈整改，持续跟踪问效。</p></body></html>