<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>402</title>
</head>
<body>
<h1>
福建一贼用毒狗针偷狗 射中孕妇致一尸两命被判死缓-新华网
</h1>
<p id="demo"> 2017-12-22 14:00:06</p><p>福建省龙岩市中级人民法院22日披露，该院对一起故意杀人及非法买卖危险物质案作出宣判：被告人邱某犯故意杀人罪，判处死刑，缓期二年执行，剥夺政治权利终身；犯非法买卖危险物质罪，判处有期徒刑三年六个月，决定执行死刑，缓期二年执行，剥夺政治权利终身。法院审理查明，2015年12月2日4时许，被告人邱某携带所购买的弓弩1把及5支“毒狗针”，驾驶租赁来的小轿车同马某某(另案处理)一起从福建省晋江市出发，欲去偷狗，沿高速行驶，后从永漳高速华安收费站驶离高速路，并沿省道308线行驶，2015年12月2日6时许行驶至漳平市官田乡某村，途中将小轿车车牌进行更换。被告人邱某发现被害人李某某(已怀孕七个月)住所附近的一只狗时，遂用弓弩发射“毒狗针”射狗，但击中从菜园返回家中的被害人李某某。被告人邱某见此，遂驾驶小轿车逃离现场。被害人李某某被“毒狗针”击中后，将“毒狗针”拔下并返回家中告诉其丈夫，随后昏迷不醒，被送往福建省华安县医院抢救，于当日8时许死亡。经福建省公安厅物证鉴定中心检验，击中被害人李某某的毒针内检测出氯化琥珀胆碱和氯化琥珀单胆碱成分，在被害人李某某右小腿针眼周围皮肤组织处检测出氯化琥珀单胆碱成分。经漳平市公安局物证鉴定室鉴定，被害人李某某系被内装含有氯化琥珀胆碱及氯化琥珀单胆碱成分液体的“毒针”刺中右小腿引起琥珀胆碱中毒导致严重呼吸循环功能衰竭而死亡。另查明，2015年11月份，被告人邱某向江西卖家傅某(已判刑)购买毒狗用的弓弩、微型注射器型的毒狗针及含有氯化琥珀胆碱成份的注射液体。龙岩市中级人民法院认定：被告人邱某明知被害人在被装有危险物质的工具射击后仍有生还可能的情况下，未积极采取有效的救助措施，致一人死亡，其行为构成故意杀人罪；还违反法律规定，非法买卖毒害性物质，其行为还构成非法买卖危险物质罪。被告人邱某一人犯数罪，应予以数罪并罚。被告人邱某曾因故意犯罪被判处有期徒刑以上刑罚，在刑罚执行完毕五年以内再犯应当判处有期徒刑以上刑罚之罪，属累犯，依法予以从重处罚。根据被告人的犯罪事实、情节、社会危害程度及悔罪表现，依照刑法的相关规定，遂作出上述判决。 (陈立烽 周宗琪)</p></body></html>