<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>406</title>
</head>
<body>
<h1>
新华时评：捍卫英雄荣光 弘扬浩然正气-新华网
</h1>
<p id="demo"> 2017-12-22 16:58:01</p><p>新华社北京12月22日电 题：捍卫英雄荣光弘扬浩然正气新华社记者罗争光、罗沙一个有希望的民族不能没有英雄，一个有前途的国家必定崇尚英雄。22日，英雄烈士保护法草案首次提请全国人大常委会审议。最高立法机关用庄严行动回应社会各界对捍卫英雄的高度关切，回击污蔑抹黑英雄的历史虚无主义暗流，将弘扬社会主义核心价值观和爱国主义精神、崇尚和捍卫英雄烈士提升到了国家法律的高度，振奋人心。众所周知，一段时间以来，一些人打着“还原历史”“寻找真相”“重新评价”等幌子，歪曲、否定革命历史，诬蔑、诋毁英烈人物，罔顾事实、混淆是非、恶意解构，将民族英雄、革命先烈污名化，其歪曲历史、数典忘祖、挑战正义良知、扭曲价值判断的做法，遭到公众的谴责，也引起社会各界的高度警觉。“如果丧失对历史的记忆，我们的心灵就会在黑暗中迷失。”面对暗流，社会各界对立法保护英雄烈士的呼声不断高涨。2017年全国“两会”上，有250多人次全国人大代表、全国政协委员和一些群众来信提出，建议通过立法加强英雄烈士保护。天地英雄气，千秋尚凛然。英雄烈士保护立法将明确英雄烈士的历史功勋，对保护英雄烈士的名誉荣誉、做好烈士褒扬和遗属的抚恤优待等作出规定并规范英雄烈士纪念缅怀的场所和活动，把崇尚英雄、捍卫英雄、学习英雄、关爱英雄以法律制度形式落到实处。英雄烈士保护立法，将极大推动对英烈精神的弘扬、对红色基因的传承，养天地之浩然正气、弘民族之英勇荣光！为有牺牲多壮志，敢教日月换新天。中华民族自古就不缺乏英雄，近代以来为了民族独立和人民自由幸福的崇高事业，更是英雄辈出、烈血挥洒。今天我们为保护英雄烈士立法，不仅决不允许抹黑英雄烈士、让历史变得虚妄，更是要弘扬和传承英雄烈士天下兴亡、匹夫有责的爱国情怀，视死如归、宁死不屈的民族气节，不畏强暴、血战到底的英雄气概，百折不挠、坚忍不拔的必胜信念，在实现中华民族伟大复兴中国梦的征程上，凝聚起全体人民的坚强意志和无穷力量。</p></body></html>