<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>408</title>
</head>
<body>
<h1>
土壤污染防治法草案二审 强化农用地风险管控责任-新华网
</h1>
<p id="demo"> 2017-12-22 16:58:01</p><p>新华社北京12月22日电（记者高敬）农用地有没有受到污染，直接关系到食品安全。土壤污染防治法草案22日再次提请全国人大常委会审议，从加强监测、强化风险管控责任等方面着力，管控农用地风险。草案今年6月初次审议时，有的常委会委员提出，由于土壤污染具有隐蔽性，应当加强监测工作，掌握土壤污染状况，提高防治工作的针对性和有效性。草案二审稿提出，在农用地地块方面，要进行重点监测的包括：产出的农产品污染物含量超标的，作为或者曾作为污水灌溉区的，用于或曾用于规模化养殖、固废堆放、填埋的，曾作为工矿用地或发生过重、特大污染事故的等情况。国家建立农用地分类管理制度。按照污染程度和相关标准，将农用地划分为优先保护类、安全利用类和严格管控类。有的常委会委员和专家提出，农用地风险管控不应仅由农业主管部门组织实施，污染责任人也应采取相应措施，建议按照“污染担责”的原则，明确污染责任人在农用地风险管控中的责任。同时，因为修复活动具有很强的专业性，应当加强监管，确保修复质量和效果。对此，草案二审稿规定，对安全利用类和严格管控类农用地地块，土壤污染责任人应当按照国家有关规定以及风险评估报告的要求，采取相应的风险管控措施，并定期向地方人民政府农业、林业主管部门报告。对产出的农产品污染物含量超标，需要实施修复的农用地地块，草案二审稿规定，土壤污染责任人应当编制修复方案，报地方主管部门备案并实施。土壤污染修复活动完成后，土壤污染责任人应当另行委托有关单位对修复效果进行评估，并将评估结果报政府主管部门备案。</p></body></html>