<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>410</title>
</head>
<body>
<h1>
我国拟立法保障公民基本健康权益-新华网
</h1>
<p id="demo"> 2017-12-22 17:06:48</p><p>新华社北京１２月２２日电（记者王宾）２２日提请全国人大常委会审议的基本医疗卫生与健康促进法草案提出国家和社会依法实现、保护和尊重公民的健康权，为实现全方位全周期维护人民健康提供法治基础。“这是国家首次在法律层面上直接提出健康是人的基本权益。”全国人大教育科学文化卫生委员会主任委员柳斌杰介绍说，草案第二章“公民的健康权利与义务”中规定了较为系统、适度的权利义务框架。草案提出中华人民共和国公民，不分民族、种族、性别、职业、财产状况、宗教信仰，依法享有健康权。国家和社会依法实现、保护和尊重公民的健康权。草案在明确公民依法享有获得基本医疗卫生服务等权利的同时，也明确了公民相应的义务。如根据近年来的改革实践，提出“公民有依法参加基本医疗保险的权利和义务”。为体现人人参与、人人共享的健康中国新理念，草案提出公民有获得健康教育的权利。公民应当主动学习健康知识，提高自身健康素养，加强自我健康管理，形成健康生活方式。草案还提出，国家保护与公民健康有关的个人隐私，确保个人健康信息安全。除法律法规规定或本人同意外，任何组织和个人不得获取、利用和公开公民个人健康信息。</p></body></html>