<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>411</title>
</head>
<body>
<h1>
基本医疗卫生与健康促进法草案首次提请审议 健康中国或将有法律保障-新华网
</h1>
<p id="demo"> 2017-12-22 20:04:47</p><p>新华社北京１２月２２日电（记者王宾）基本医疗卫生与健康促进法草案２２日首次提交十二届全国人大常委会第三十一次会议审议。该法是卫生与健康领域第一部基础性、综合性的法律，旨在落实宪法关于国家发展医疗卫生事业，保护人民健康的规定；引领医药卫生事业改革和发展大局；推动和保障健康中国战略的实施。该立法项目已连续三届列入全国人大常委会立法规划。“这部法律涉及面广、专业性强，确立了健康中国实施的基本原则、基本方针，也为制定与修订卫生与健康领域其他相关法律提供基本遵循。”全国人大教育科学文化卫生委员会人口卫生体育室主任丁巍介绍说。为体现人民共建共享的健康中国新理念，草案提出各级人民政府应当将健康理念融入各项政策制定过程，组织实施促进健康的规划和行动，建立健康影响评估制度，将本地区的公民主要健康指标的改善情况纳入政府目标责任考核。作为健康促进的系列制度设计和规定，草案提出，国家组织居民健康状况调查和统计，开展体质监测，对健康绩效进行评估；国家建立疾病和健康危险因素监测、调查和风险评估制度；国家开展爱国卫生运动；国家建立健康教育制度，提高国民的健康素养水平；国家将健康教育纳入国民教育体系。业内人士表示，草案从更广泛的健康影响因素入手，充分体现大卫生、大健康，以及将健康融入所有政策的新理念，反映出对我国卫生与健康相关立法工作的新要求以及立法思路的与时俱进。  我国拟立法明确医疗卫生机构以公立为主导严格医疗质量安全管理我国拟立法优先支持基层医疗卫生机构发展</p></body></html>