<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>412</title>
</head>
<body>
<h1>
中央环保督察组：海南一些市县热衷于搞速效政绩工程-新华网
</h1>
<p id="demo"> 2017-12-23 19:22:59</p><p>中央第四环境保护督察组23日向海南省反馈督察情况指出，一些地方和部门对全省得天独厚的生态环境沾沾自喜。一些市县重经济发展、轻环境保护，热衷于搞速效政绩工程，财政过分依赖房地产，一些自然保护区、优质自然岸线、生态脆弱山体遭受破坏。2017年8月10日至9月10日，中央第四环境保护督察组对海南省开展环境保护督察。督察组12月23日向海南省委、省政府进行反馈。贾治邦组长通报督察意见。督察认为，海南省针对长期以来海岸带无序开发带来的突出环境问题，大力推进专项整治工作。有效遏制了海岸带违法开发势头。督察指出，海南省生态环境保护工作取得积极进展，但与国家要求，与生态省、国际旅游岛定位和民众期盼相比仍有差距。主要问题有：对环保工作认识和推进不够。海域岸线自然生态和风貌破坏明显。部分自然保护区管护不力。环境基础设施建设滞后。督查认为，生态环境保护考核缺乏严肃性、科学性。比如，一边约谈、一边表彰，琼海市大气污染防治工作考核不合格，全省排名末位，但在生态省建设工作考核中却为第一。考核结果自相矛盾致考核导向作用严重虚化。沿海市县向海要地、向岸要房等情况严重，对局部生态环境造成明显影响或破坏。三亚市凤凰岛填海项目以国际客运港和邮轮港名义取得海域使用权，但实际主要用于房地产和酒店开发，由于填岛造成水流变化，三亚湾西部岸线遭到侵蚀，为修复岸滩不得不斥巨资对三亚湾进行人工补沙。同时，房地产和养殖等违法违规项目侵占海岸带，占用大量优质岸线资源，而在海岸带开发过程中，相关市县政府违规越权审批问题突出。全省海水养殖长期无序发展，甚至违规占用自然保护区和沿海防护林。全省10个国家级自然保护区中有8个存在未经审批的旅游项目。督察要求，海南省要坚守生态红线，遏制房地产过度开发和海水养殖无序发展对海域岸线的生态破坏。加强海洋和自然保护区保护，加大环境基础设施建设力度。 (记者 阮煜琳)</p></body></html>