<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>414</title>
</head>
<body>
<h1>
我国编制完成《北极东北航道通信指南》-新华网
</h1>
<p id="demo"> 2017-12-23 18:16:12</p><p>新华社天津１２月２３日电（记者周润健）记者２３日从交通运输部北海航海保障中心获悉，我国编制完成《北极东北航道通信指南》，有助于充分了解北极东北航段通信保障能力，为北极东北航道船舶运输提供参考。据介绍，指南分为总图通信概览、分台站业务情况介绍、国内短波通信频段推荐三个部分，以图文结合的形式，标注了自我国东部沿海出发经白令海峡至北极东北航道沿岸１７个主要海岸电台分布及业务开放情况，分为中国、韩国、日本、俄罗斯、欧洲五个部分。北极航线东北航道全程约３０００海里，穿过白令海峡向西航行，经过楚科奇海沿欧亚大陆北方海域等地，经巴伦支海到挪威北角附近，最终前往欧洲各港口，是沟通我国与欧美水上最近通道。从海上运输效率的角度来说，北极航道较传统的航线要减少１２至１５天航程，素有“黄金水道”之称。</p></body></html>