<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>415</title>
</head>
<body>
<h1>
国家安全监管总局要求强化“煤改气”过程中安全风险管控-新华网
</h1>
<p id="demo"> 2017-12-23 17:44:58</p><p>新华社北京１２月２３日电（记者齐中熙、叶昊鸣）记者２３日从国家安全监管总局获悉，安监总局日前通报山东日科化学股份有限公司“１２·１９”爆燃事故情况，要求强化提高对“煤改气”过程中安全风险的认识，加强变更过程安全管理，健全完善相关规程要求，严格从业人员资格准入，强化安全教育培训。１２月１９日９时１５分左右，位于山东省潍坊市的日科化学股份有限公司年产１．５万吨塑料改性剂（ＡＭＢ）生产装置发生爆燃事故，造成７人死亡、４人受伤。经初步分析，事故直接原因是：天然气通过新增设的直接燃烧加热系统串入了干燥系统，并与干燥系统内空气形成爆炸性混合气体，在启动不具备启用条件的天然气加热系统的过程中遇点火源引发爆燃。事故详细原因正在进一步调查中。国家安全监管总局认为，该起事故暴露出企业安全风险意识差，对“煤改气”产生的安全风险辨识不足，变更管理缺失，新增的天然气加热系统未经正规设计，没有操作规程，有关管理及操作人员专业素质不满足安全生产要求，地方政府和有关部门对“煤改气”过程安全重视不够、监管不到位等问题。国家安全监管总局要求，要强化提高对“煤改气”过程中安全风险的认识，高度关注“煤改气”过程中出现的新情况、新问题，强化安全风险预判，有针对性地采取应对措施，及时削减管控安全风险。准备实施或正在实施“煤改气”的化工企业，要立即对改造方案进行风险辨识，根据辨识结果，进一步完善改进安全风险管控方案；已经完成改造的化工企业，要立即开展安全隐患排查，存在问题的要立即进行整改。相关天然气供应企业要认真履行社会责任，加强对化工企业“煤改气”工作的技术指导和支持。各级安全监管部门要组织对辖区内涉及“煤改气”的化工企业进行全面摸底排查，督促指导有关企业严格落实相关要求，确保“煤改气”安全风险得到有效管控。</p></body></html>