<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>416</title>
</head>
<body>
<h1>
苏州探索群众直接参与检察机关部分案件处理-新华网
</h1>
<p id="demo"> 2017-12-23 17:14:17</p><p>新华社南京１２月２３日电（记者陈席元）记者从苏州市人民检察院了解到，经江苏省人民检察院批准，苏州率先推行“人民评议员”制度，人民群众代表可直接参与检察机关部分案件的处理。“犯罪嫌疑人虽如实供述犯罪事实并取得了被害人家属的谅解，但属于事后补救，他所驾货车存在隐患并导致了严重后果，这才是关键。”近日在苏州太仓市人民检察院的评议现场，３名人民评议员对一起交通肇事案发表意见，承办检察官表示，将补充核实案件相关证据，及时反馈处理结果。根据《苏州市检察机关人民评议员制度实施办法》规定，人民评议员公开评议或听证的范围包括被害人不服不逮捕决定、被害人不服不起诉决定、除醉酒驾驶外涉嫌危害公共安全罪拟不起诉以及涉嫌生产、销售伪劣商品罪拟不起诉等７种情形。此外也可视工作需要、并经检察长批准，将其他案件提交人民评议员评议。据了解，太仓市人民检察院自２０１５年起试点此项工作，三年来共开展案件评议活动２０次，对１０８件案件进行公开评议，其中评议团对３起案件提出的不同意见均被采纳。“人民评议员是监督检察院工作一支不可或缺的力量。通过开展案件评议活动，人民群众的司法实践从监督变为直接参与，对深化检务公开、构建公开透明的‘阳光检察’具有重要意义。”太仓市人民检察院副检察长杨耀红说。</p></body></html>