<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>419</title>
</head>
<body>
<h1>
审计署：800多人因央企审计查出问题受处分-新华网
</h1>
<p id="demo"> 2017-12-23 13:16:30</p><p>新华社北京12月23日电（杨学嘉、刘红霞）审计署审计长胡泽君23日表示，对于2016年度中央预算执行和其他财政收支的审计工作报告中涉及中央企业审计查出的问题，已有800多人受到处理处分，清退追回违规资金3100多万元。胡泽君23日上午向全国人大常委会报告审计工作报告查出问题的整改情况。她说，针对审计查出部分中央企业业绩不实的问题，国务院国资委按照制度未完善、资金未追回、责任未落实的“三个不放过”原则，切实抓好整改，对问题性质严重的严肃问责。她说，截至10月底，相关中央企业采取调整账目报表、中止违规业务、追究责任、清退追回资金等措施整改完毕，包括已调整账目报表1790.88亿元，清退追回违规资金3159.82万元，处理处分149人次，完善规章制度75项。针对审计查出部分企业投资经营风险管控比较薄弱的问题，相关企业已整改问题金额958.33亿元，挽回损失12.74亿元，处理处分652人次，建立健全相关制度341项。具体来看，对境内业务风险问题，相关企业通过采取诉讼清收、追究责任、完善制度等方式，已整改问题金额581.66亿元；对境外业务风险问题，已整改问题金额371.6亿元。此外，对超标准办会、购车、高档消费等问题，相关企业已整改5.07亿元。</p></body></html>