<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>420</title>
</head>
<body>
<h1>
任性吞苦果！“绝味鸭脖”发布低俗广告被罚６０万元-新华网
</h1>
<p id="demo"> 2017-12-23 13:05:42</p><p>新华社长沙１２月２３日电（记者白田田）网络广告营销，不能太任性。记者从湖南长沙市工商局获悉，工商部门２２日对长沙绝味食品营销有限公司下达了行政处罚决定书，责令其停止发布违法广告，处罚款６０万元。据了解，今年“双十一”前夕，绝味食品股份有限公司在天猫旗舰店“绝味鸭脖”首页贴出一张涉嫌侮辱女性的低俗海报。绝味食品的微信公众号上还发布了暗示性行为文字的营销文章。对此，长沙市工商局随即介入调查。长沙吟正律师事务所律师邓龙认为，我国广告法规定，广告不得有妨碍社会公共秩序或者违背社会良好风尚的行为。现在一些企业为了吸引眼球，发布违反社会公序良俗、伤害公众道德情感的内容的广告，构成违法，应受到相应处罚。总部位于长沙的绝味食品股份有限公司２２日在其官网刊登《致歉信》称，对“双十一”销售广告文案内容造成的不良影响深表歉意，接受工商部门对此事作出的处罚决定。同时免去长沙绝味食品营销有限公司负责人职务，对营销公司电商团队予以通报批评、扣发当季奖金处分。</p></body></html>