<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>422</title>
</head>
<body>
<h1>
杭州保姆纵火案辩护律师擅自离庭，广东司法厅对其立案调查-新华网
</h1>
<p id="demo"> 2017-12-23 11:09:56</p><p>12月21日，杭州保姆纵火案庭审过程中，被告人莫某某的辩护人、广东增泰律师事务所党某某律师擅自离庭一事经媒体曝光，引起社会广泛关注。22日，广东省司法厅相关部门负责人回应称，省司法厅对此事高度重视，事件发生后立即派出调查组赴杭州开展立案调查。经阅庭审视频、查阅相关记录，结合该案审理法院的司法建议，调查组初步认定，党某某律师涉嫌在庭审过程中不遵守法庭纪律，未经许可擅自退庭，干扰诉讼正常进行，利用网络炒作案件，造成严重的社会影响。根据《律师法》及律师执业管理相关规定，司法行政机关决定对党某某涉嫌违法违规行为行政处罚立案。广东省司法行政机关将认真履行监管职责，依法严肃查处违法违规行为，坚决维护法律权威，维护律师队伍良好的执业形象。（记者章宁旦 通讯员刘洪群 ）杭州保姆纵火案庭审临时中断 将延期审21日上午9点10分，庭审开始10分钟后，党琳山对管辖权提出异议，要求停止案件审理，等待最高院指示。17分钟后，律师离开了法庭。临走前，他向被告莫焕晶喊话：“不要回答任何问题。”法官当庭就“刑事案件犯罪地法院有管辖权”驳回申请后，党琳山又先后四次反对继续开庭。最后他关掉了麦克风，准备退庭。退庭前，他告诉莫焕晶：“我退庭后，你不要回答庭上任何人的任何问题。”上午9点31分，离开法院后不久，党琳山通过个人微博发布了完整的法庭发言。发言的核心在于阐述：杭州中级人民法院并不是审理此案的最佳选择。杭州保姆纵火案男主人:放弃民事赔偿 只求从重判决火灾发生后，林生斌沉浸在巨大的悲痛中，胡子拉碴，神情憔悴，不愿开口说话。12月19日，新京报记者在事发的蓝色钱江小区附近咖啡馆内再次见到林生斌。火灾后，他就搬离此地，和父母一起在附近租住。和6个月前相比，林生斌气色见好，刮了胡子。案发后，他已在江西云居山一座寺庙皈依。现在，他全部精力都用在打官司上。</p></body></html>