<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>43</title>
</head>
<body>
<h1>
云南女子驾无牌照电动车“冲卡”致辅警受伤遭刑拘-新华网
</h1>
<p id="demo"> 2018-05-26 07:45:32</p><p>记者25日从昆明市公安局盘龙分局获悉，近日一驾驶无牌照电动自行车的女子躲避警方设卡检查强行逃离，致两名拦截辅警受伤。目前，该女子因涉嫌妨害公务罪已被刑事拘留。本月24日，昆明市公安局盘龙分局穿金路派出所在昆明市联盟路依法开展设卡检查工作。张某某(女，云南弥渡人)驾驶一辆无牌照电动自行车，载其同事朱某沿北京路非机动车道由南向北行驶。在临近卡点约20米处，张某某见有公安机关设卡检查，遂驾驶电动自行车从非机动车道退出驶入机动车道，欲逃避检查。执勤民警见张某某行为可疑，便带领辅警对其进行拦截。在拦截过程中，张某某不顾民警停车示意和拦阻，加快车速强行逃离，致使一名辅警被拖倒在地，另一名辅警被撞倒躺地。两名辅警身体不同部位因此受伤。此后，张某某、朱某被民警控制并带回派出所接受调查。目前，嫌疑人张某某因涉嫌妨害公务罪已被盘龙分局刑事拘留，案件正在进一步办理中。(缪超)</p></body></html>