<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>432</title>
</head>
<body>
<h1>
深圳市投资推广署原副署长李石严重违纪被开除党籍-新华网
</h1>
<p id="demo"> 2017-12-21 22:16:26</p><p>新华社深圳12月21日电（记者周科）记者21日从深圳市纪委获悉，日前，深圳市纪委对市投资推广署原副署长李石严重违纪案件进行了立案审查。经查，李石在任深圳市发展改革委城市发展处处长、市重大项目稽查办公室副主任、市投资推广署副署长（副局级）期间，利用职务上的便利，或利用职权形成的便利条件，通过其他国家工作人员职务上的行为，为多个企业谋取不正当利益，收受巨额财物。为了掩人耳目，李石采用“在职时先办事，离职后再收钱”的方式，企图逃避法纪的制裁。2014年离职后，李石仍利用原有职务的影响力，通过在职国家工作人员职务上的行为，为他人承接工程项目谋取不正当利益，收受巨额财物，严重违反党的纪律和党政领导干部管理的有关规定，造成恶劣的社会影响。李石身为党员领导干部，理想信念丧失，利欲熏心，严重违纪，涉嫌受贿犯罪，且在党的十八大后仍不收敛、不收手，性质恶劣，情节严重，应予严肃处理。依据《中国共产党纪律处分条例》等有关规定，经深圳市纪委常委会议审议，决定给予李石开除党籍处分；将其涉嫌犯罪问题移送司法机关依法处理。</p></body></html>