<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>435</title>
</head>
<body>
<h1>
北京修订存量房屋买卖合同 增加户口迁移条款-新华网
</h1>
<p id="demo"> 2017-12-22 07:44:51</p><p>原标题：修订版存量房屋买卖合同开始征求意见房屋买卖合同增加户口迁移条款为进一步适应目前北京市存量房屋交易市场新情况，增强交易透明度，维护买卖双方切身利益、合理引导存量房屋买卖行为，市住建委和市工商局对现行《北京市存量房屋买卖合同》做出重要修订。昨日起开始公开征求意见。在征求意见稿中，“买卖合同”明确了房屋成交价格的构成及金额，以减少“阴阳合同”交易。在文本中明确“该房屋附属设施、家具家电、装饰装修等有关价格已全部包含在上述房屋成交价格内”，并进行了详细列举，防止买卖双方为了规避税收，将房屋成交价格拆分为净房屋价格和装饰装修等价格的情况发生。同时文本要求房屋转让价款、申请贷款与申报的房屋价款、缴纳税收时申报的房屋价款一致。同时，“买卖合同”细化了逾期迁出户口的违约责任。因户口迁移引发的房屋买卖合同纠纷案件较多，为了避免纠纷发生，在合同文本中明确约定户口迁移条款，并约定了户口逾期迁出等相关违约责任。“买卖合同”还实现了与当前法律法规的有效衔接并增加了特别提示和术语解释。目前，相关示范文本已通过“首都之窗”网站和北京市住房和城乡建设委员会官网，面向社会公开征求意见。（记者 王薇）</p></body></html>