<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>447</title>
</head>
<body>
<h1>
全国5亿人有家庭医生？卫计委：家庭医生不是私人医生-新华网
</h1>
<p id="demo"> 2017-12-22 08:05:03</p><p>近日，一条“我国超过5亿人有家庭医生”的报道引发热议，20日，国家卫计委基层司对此回应称：家庭医生不是私人医生，目前，家庭医生签约服务优先覆盖老年人、孕产妇、儿童、残疾人、慢性疾病患者等重点人群。国家卫计委基层司负责人表示，家庭医生不是私人医生。现阶段我国家庭医生主要包括基层医疗卫生机构注册全科医生（含助理全科医生和中医类别全科医生），以及具备能力的乡镇卫生院医师和乡村医生等。目前基层家庭医生签约服务，主要以团队服务形式为主，家庭医生团队包括家庭医生、社区护士、公共卫生医师等，二级以上医院医师提供技术支持和业务指导。目前，家庭医生主要依托城市社区卫生服务机构、农村乡镇卫生院、村卫生室，为居民提供包括基本医疗、公共卫生和约定的健康管理等服务内容。有签约意愿和服务需求的居民，可到附近的乡镇卫生院、社区卫生服务机构等基层卫生服务机构选择家庭医生（团队）签订服务协议，服务周期原则上为一年，期满后居民可续约或选择其他家庭医生（团队）签约。签约后，居民能获得包括居民健康档案管理、健康教育、预防接种服务等国家基本公共卫生服务，同时，享受包括常见病和多发病的健康咨询和转诊预约等服务，有的地区还可以提供包括家庭病床、家庭护理等个性化服务内容。“目前，家庭医生签约服务优先覆盖重点人群，包括老年人、孕产妇、儿童、残疾人等人群，以及高血压、糖尿病、结核病等慢性疾病患者、严重精神障碍患者、农村贫困人口、计划生育特殊家庭等。在此基础上，我们力争将签约服务扩大到全人群。”该负责人称。（记者 刘欢）</p></body></html>