<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>449</title>
</head>
<body>
<h1>
国家粮食局：主产区收购秋粮已超过1亿吨-新华网
</h1>
<p id="demo"> 2017-12-22 07:41:47</p><p>全国秋粮收购超1亿吨国家粮食局最新数据显示，全国秋粮收购量已经过半。截至2017年12月15日，主产区各类粮食企业累计收购秋粮已超过1亿吨，达10093万吨，同比增加586万吨，已经超过预计收购量的一半。总体看，当前全国秋粮收购市场平稳，秩序良好，粮食收储制度改革和价格形成机制改革已取得积极成效。今年秋粮市场最明显的特点就是市场化购销非常活跃，多元化主体入市收购积极。特别是东北三省和内蒙古自治区玉米实施市场化收购加补贴机制后，一方面，各类市场主体自主入市收购；另一方面，建立玉米生产者补贴制度，保持优势产区玉米种植收益基本稳定。稻谷仍实行最低收购价政策，目前安徽、湖北、四川、河南、江苏、黑龙江、江西、湖南、吉林等9省已先后启动了中晚稻最低收购价执行预案。监测显示，目前市场化收购量同比上升了11个百分点，转化用粮企业开工率同比上升15个百分点。(记者杜海涛)</p></body></html>