<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>451</title>
</head>
<body>
<h1>
中国最长组合式城市隧道在济南建成-新华网
</h1>
<p id="demo"> 2017-12-23 10:29:07</p><p>中国最长组合式城市隧道——济南玉函路隧道23日0点正式通车。济南玉函路隧道全长2.755公里，贯通济南南北，双向四车道，设计限速50公里/小时，是目前中国最长、埋深最浅、工程地质最为复杂、施工难度最大的城市隧道。记者从济南市城乡交通运输委员会获悉，济南玉函路隧道暗挖段长度达2.3公里，两洞间距小，为中国最长的城市超浅埋双联拱加超小净距组合形式隧道，隧道顶部距离地面平均仅7米，施工难度大。济南城建集团第五分公司副经理屈凡峰说，由于隧道掘进无法采用钻爆法及盾构施工，为提高施工效率，隧道全线配置了22台大型悬臂式掘机。“在市区内修地道采用这种掘进机为主穿隧道的方式在中国尚属首例”。据中国交通运输部规划研究院、交通运输部科学研究院、高德地图联合发布的《2017年第三季度中国主要城市交通分析报告》，济南超越哈尔滨、北京、广州、重庆、大连、长春、上海、西安和昆明等城市，以高峰拥堵延时指数为2.065位居榜首，济南玉函路隧道的建成有望缓解“首堵”济南的拥堵状况。（曾洁 沙见龙）</p></body></html>