<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>454</title>
</head>
<body>
<h1>
审计署：９７０人因扶贫问题被追责问责-新华网
</h1>
<p id="demo"> 2017-12-23 11:54:32</p><p>新华社北京１２月２３日电（刘红霞、杨学嘉）审计署审计长胡泽君２３日说，对于２０１６年度中央预算执行和其他财政收支的审计工作报告中涉及扶贫资金的问题，已有９７０人被追责问责。胡泽君２３日上午向全国人大常委会报告审计工作报告查出问题的整改情况。她说，截至１０月底，各地通过追回、盘活或避免损失等方式整改扶贫问题资金３２．６８亿元，追责问责９７０人，９３％的问题得到整改。具体而言，对于精准识别等基础工作不够扎实的问题，相关地方共剔除和清退不符合建档立卡贫困人口１０．１８万人，重新识别补录贫困人口９．５１万人，完善建档立卡数据信息２１．６８万人，从２０１８年起实现贫困识别常态化管理。对于追求短期效应、“垒大户”、“造盆景”和搞简单“平均主义”等问题，相关地方通过追回或补发资金、完善与贫困对象利益联结机制、拓宽精准帮扶渠道等方式，加以整改。相关地方对“被提前脱贫”人口逐一核查，将不符合政策要求的脱贫人口重新纳入贫困人口范围或给予财政补助，规范脱贫退出公示公开。胡泽君说，相关部门和地方还完善了扶贫机制，防止“泛福利化”和“平均主义”。针对基层扶贫资金统筹和监管还未完全到位的问题，相关部门和地方也采取了多条整改措施。</p></body></html>