<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>456</title>
</head>
<body>
<h1>
重磅！“让百姓生活更美好”系列融媒体产品即将上线-新华网
</h1>
<p id="demo"> 2017-12-23 13:03:18</p><p>天下顺治在民富，天下和静在民乐。十九大报告中指出，带领人民创造美好生活，是我们党始终不渝的奋斗目标。“人民群众期盼有更好的教育、更稳定的工作、更满意的收入、更可靠的社会保障、更高水平的医疗卫生服务、更舒适的居住条件、更优美的环境、更丰富的精神文化生活”，习近平总书记提及的“八个期盼”，为保障和改善民生指明了方向和着力点。从12月24日起，新华社将推出“让百姓生活更美好”系列融媒体产品，陆续在新华社客户端、新华网、新华社微信公众号同步上线。从黑龙江冰天雪地的沉陷区住户，到海南海边“为梦起舞”的男孩；从广东高科技的“无人工厂”，到湖北穿越千年的编钟……我们将带领大家跨越地域、穿越时间，感受在中华大地上发生着的民生变化。24日将推出第一部微视频《为梦起舞》，敬请期待！</p></body></html>