<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>457</title>
</head>
<body>
<h1>
审计署：1363人次因保障性安居工程问题受处分-新华网
</h1>
<p id="demo"> 2017-12-23 13:19:45</p><p>新华社北京12月23日电（刘红霞、杨学嘉）审计署审计长胡泽君23日说，对于2016年度中央预算执行和其他财政收支的审计工作报告中涉及全国保障性安居工程的问题，已有1363人次受到处理处分。胡泽君23日上午向全国人大常委会报告审计工作报告查出问题的整改情况。她说，截至10月底，各地已整改问题金额494.6亿元，整改率93%；处理处分1363人次，制定完善制度709项。在资金管理使用方面，超过1年未及时安排使用的资金中，有479.8亿元已安排使用；被违规使用或骗取、套取、侵占的资金中，有13.74亿元已上缴国库、归还原渠道或移交司法机关处理等。她说，在保障对象资格审核和后续监管不到位方面，有8.49万户被取消保障资格或调整保障待遇等，追回违规领取的补助补贴1.03亿元；被违规享受或使用的住房中，有3.61万套通过腾退置换、提高租金、补收差价、调整住房性质等方式进行整改；因配套基础设施建设滞后无法交付使用的住房中，有11.4万套完善后投入使用。</p></body></html>