<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>458</title>
</head>
<body>
<h1>
我国刑事案件认罪认罚从宽制度试点一年来审结案件超9万-新华网
</h1>
<p id="demo"> 2017-12-23 13:17:48</p><p>新华社北京12月23日电（记者罗沙、丁小溪）截至今年11月底，我国18个开展刑事案件认罪认罚从宽制度试点工作的地区共确定试点法院、检察院各281个,适用认罪认罚从宽制度审结刑事案件91121件103496人，占试点法院同期审结刑事案件的45%。这是最高人民法院院长周强23日上午代表最高人民法院，并受最高人民检察院委托，向全国人大常委会报告一年来刑事案件认罪认罚从宽制度试点工作时透露的信息。报告指出，试点工作坚持宽严相济、罪责刑相适应和证据裁判等原则,明确认罪认罚从宽制度的适用范围、适用条件及程序标准, 坚决防止出现“重罪轻判”“花钱买刑”问题。指导试点法院、检察院将工作重点放在判处三年有期徒刑以下刑罚的案件以及民间矛盾激化引发的案件上,着力探索与之相适应的诉讼程序、处理机制和办案方式。试点中，检察机关对认罪认罚案件依法提出从宽量刑建议,法院对量刑建议的采纳率为92.1%。认罪认罚案件犯罪嫌疑人、被告人被取保候审、监视居住的占42.2%,不起诉处理的占4.5%；免予刑事处罚的占0.3%,判处三年有期徒刑以下刑罚的占96.2%,其中判处有期徒刑缓刑、拘役缓刑的占33.6%, 判处管制、单处附加刑的占2.7%,非羁押强制措施和非监禁刑适用比例进一步提高。报告表示，最高人民法院、最高人民检察院将进一步加强法官、检察官自由裁量权的依法监督，坚决防止发生徇私枉法、滥用职权等违法情形,确保公正廉洁司法。认真贯彻宽严相济刑事政策,针对案件不同特点探索不同的程序规范机制。正确处理赔偿和解与从宽处罚的关系,坚持具体问题具体分析,避免将赔偿与从宽完全等同起来。</p></body></html>