<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>459</title>
</head>
<body>
<h1>
我国刑事案件认罪认罚从宽制度试点八成以上案件15日内审结-新华网
</h1>
<p id="demo"> 2017-12-23 13:18:21</p><p>新华社北京12月23日电（记者罗沙、丁小溪）最高人民法院院长周强23日上午代表最高人民法院，并受最高人民检察院委托，向全国人大常委会报告一年来刑事案件认罪认罚从宽制度试点工作时表示，试点工作使司法资源得到合理配置，促进了刑事诉讼效率明显提升。“对于认罪认罚案件,检察机关审查起诉平均用时26天,人民法院15日内审结的占83.5%。”报告说，“适用速裁程序审结的占68.5%,适用简易程序审结的占24.9%,适用普通程序审结的占6.6%;当庭宣判率为79.8%,其中速裁案件当庭宣判率达93.8%。”报告指出，试点工作坚持证据裁判,强化权利保障,确保从快不降低标准、从简不减损权利，充分保障犯罪嫌疑人、被告人的辩护权和其他诉讼权利。试点地区法律援助机构在看守所、法院、检察院设立法律援助工作站630个,其中设在看守所、法院的法律援助工作站覆盖率分别为97%和82%。报告同时显示，今年10月, 中国政法大学课题组对试点情况进行第三方评估,共有1516名律师、被告人、办案人员参加问卷调查,对试点效果总体评价较高,其中律师满意度为97.3%,被告人满意度为94.3%。“试点法院审结的侵犯公民人身权利案件中,达成和解谅解的占39.6%。检察机关抗诉率、附带民事诉讼原告人上诉率均不到0.1%,被告人上诉率仅为3.6%。”报告说。</p></body></html>