<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>464</title>
</head>
<body>
<h1>
我国拟取消修理计量器具许可行政审批-新华网
</h1>
<p id="demo"> 2017-12-22 21:46:41</p><p>新华社北京１２月２２日电（记者王优玲）《〈中华人民共和国招标投标法〉、〈中华人民共和国计量法〉修正案（草案）》２２日提请全国人大常委会审议，拟取消修理计量器具许可行政审批。国务院法制办公室党组书记、副主任袁曙宏在第十二届全国人民代表大会常务委员会第三十一次会议上说，从广东的试点情况来看，不设定“制造、修理计量器具许可”，有利于充分发挥市场自主调节的作用，方便制造、修理计量器具的企业、事业单位和个体工商户从事生产经营活动，激发市场主体的活力。因此，修正案草案删去计量法第十二条、第十七条第二款有关制造、修理计量器具的企业、事业单位和个体工商户应当取得制造、修理计量器具许可证的规定，并相应删去第二十二条关于法律责任的规定，增加了第十八条关于监督检查的规定。袁曙宏说，我国实行以国际单位制为基础的法定计量单位制度，但是实践中存在特殊需要，在飞机制造、生物医药等个别科学技术和应用领域，黄金交易等国际贸易领域，以及古籍和文学书籍出版等领域存在采用非法定计量单位的情况。为了减轻市场主体的负担，可以通过计量行政部门一揽子发布明确特殊需要的范围的规定进行管理，不必再逐项进行许可。据此，草案对计量法第十四条进行修改，同时对第三条作了相应修改，受权国务院计量行政部门就因特殊需要采用非法定计量单位制定管理办法。据了解，行政许可取消后，质检总局将研究制定限制采用非法定计量单位的管理规定，明确限制采用的领域、条件和标准，加大对法定计量单位的宣传力度，加强事中事后监督检查。</p></body></html>