<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>466</title>
</head>
<body>
<h1>
我国今年１０月以来因酒驾死亡１０４人-新华网
</h1>
<p id="demo"> 2017-12-22 20:49:54</p><p>新华社北京１２月２２日电（记者王茜）今年１０月以来全国共发生酒后驾驶肇事事故３０２起，造成１０４人死亡、２６８人受伤。这是记者２２日从公安部交通管理局视频会上了解到的。据统计，今年１０月以来，节假日期间因酒驾所导致的事故起数和死亡人数比工作日高１５％和１７％，５起醉驾导致的较大事故中有３起发生在节假日。“十一”长假期间，甘肃接连发生２起因驾驶人聚会醉酒后，驾驶车辆追尾前车导致的较大事故。近年来，各地公安机关始终坚持严格执法，持续严管高压，有效遏制了酒驾醉驾违法犯罪多发的势头。但机动车、驾驶人数量持续高速增长，传统酒文化影响根深蒂固，酒驾醉驾短时间难以根治。尤其每逢周末、节假日，庆祝活动、朋友聚会增多，酒驾风险相应增加，酒后肇事几率增大。酒驾整治具有长期性、反复性的特点，必须坚持常抓不懈，久久为功。为此公安部交管局部署各地公安交管部门立即开展酒驾整治行动，严查严处酒驾醉驾违法行为，充分发挥震慑和警示作用。</p></body></html>