<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>467</title>
</head>
<body>
<h1>
我国“两权”抵押贷款试点取得阶段性成效-新华网
</h1>
<p id="demo"> 2017-12-22 20:43:50</p><p>新华社北京12月22日电（记者李延霞）我国“两权”抵押贷款试点开展两年以来，有效激活了“两权”融资功能，改进农村金融服务，带动产业发展和农民增收，农民权益得到有效保障，试点工作取得阶段性成效。受国务院委托，中国人民银行副行长潘功胜在十二届全国人大常委会第三十一次会议上作《关于延长授权国务院在北京市大兴区等232个试点县（市、区）、天津市蓟州区等59个试点县（市、区）行政区域分别暂时调整实施有关法律规定期限的决定（草案）》说明时指出，通过健全工作机制，完善制度体系，有效保障试点工作有章可循，试点各环节稳妥有序推进，一些重点难点问题开始破题。据了解，目前90%以上的试点县（市、区）建立了农村产权交易中心或土地流转中心；1180家金融机构建立“两权”抵押贷款管理制度并落地试点业务，对不良贷款容忍度等方面也作了特殊安排；通过引入第三方评估机构等丰富抵押物价值评估方式、采取农村承包土地的经营权抵押物“预处置”模式、设立风险补偿基金等，一些重点难点问题开始破题。国务院2015年8月印发《关于开展农村承包土地的经营权和农民住房财产权抵押贷款试点的指导意见》，决定在全国选取部分县（市、区）开展对农村承包土地的经营权和农民住房财产权的“两权”抵押贷款试点。据介绍，截至2017年9月末，全国232个试点地区农村承包土地的经营权抵押贷款余额295亿元，试点以来累计发放贷款448亿元；全国59个试点地区农民住房财产权抵押贷款余额196亿元，试点以来累计发放贷款261亿元。潘功胜说，通过“两权”抵押增信、农户单笔贷款额度提高、利率降低，融资难融资贵问题得到缓解，农村金融服务得到改善，一批家庭农场、农民专业合作社通过“两权”抵押贷款扩大生产规模，并通过吸纳农民就业和股份分红等形式带动农民增收。</p></body></html>