<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>468</title>
</head>
<body>
<h1>
我国拟加强对沙漠等未利用地的保护-新华网
</h1>
<p id="demo"> 2017-12-22 20:46:21</p><p>新华社北京12月22日电（记者高敬）土壤污染防治法草案22日再次提请全国人大常委会审议，将加强对沙漠等未利用地的保护。记者了解到，前几年腾格里沙漠环境污染案引起了人们的高度关注。但目前，向沙漠等未利用地非法排污等违法行为仍时有发生。业内人士指出，沙漠环境下，污染物一旦造成土壤和地下水污染，当地生态环境将面临严重威胁。这类地方不但修复成本高昂，且修复难度很大。对此，这次的草案二审稿增加规定，县级以上地方人民政府及其有关部门应当依法加强对向沙漠、滩涂、盐碱地、沼泽地等未利用地非法排污、倾倒有毒有害物质等行为的监督检查。有的常委会委员建议，进一步加大地方政府及其有关部门防治土壤污染的责任。草案二审稿增加规定，省级以上人民政府环境保护主管部门应当会同有关部门对土壤污染问题突出、防治工作不力、群众反映强烈的地区，约谈设区的市级以上地方人民政府及其有关部门主要负责人。约谈情况应当向社会公开。</p></body></html>