<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>471</title>
</head>
<body>
<h1>
英雄烈士名誉将有专门法律保护-新华网
</h1>
<p id="demo"> 2017-12-22 18:45:21</p><p>新华社北京12月22日电（记者罗争光、史竞男）英雄烈士保护法草案22日提请十二届全国人大常委会第三十一次会议首次审议。草案对英雄烈士的历史功勋和名誉荣誉保护等作出了明确规定，侮辱诽谤英雄烈士构成犯罪的将追究刑事责任。草案提出，国家和人民永远尊崇、铭记英雄烈士为国家、人民和民族作出的牺牲和贡献。近代以来，为了争取民族独立、人民解放，实现国家富强、人民幸福，促进世界和平、人类进步而英勇献身、毕生奋斗的英雄烈士，功勋彪炳史册，精神永垂不朽。草案明确，英雄烈士是中华民族的杰出代表，英雄烈士的事迹和精神是中华民族的共同历史记忆和社会主义核心价值观的重要体现。国家保护英雄烈士，对英雄烈士予以褒扬、纪念，维护英雄烈士尊严和合法权益。草案禁止歪曲、丑化、诋毁、否定英雄烈士的事迹和精神，明确规定“英雄烈士的姓名、肖像、名誉、荣誉受法律保护。任何组织和个人不得在公共场合或者利用广播、电视、报刊、图书、互联网等，以侮辱、诽谤或者其他方式侵害英雄烈士的姓名、肖像、名誉、荣誉”。对于侵害英雄烈士合法权益等行为，草案规定，任何单位和个人都有权向民政、公安、网信等部门举报，接到举报的部门应当依法及时处理。草案还明确，对侵害英雄烈士的姓名、肖像、名誉、荣誉的行为，被侵害英雄烈士的近亲属可以依法向人民法院提起诉讼；被侵害英雄烈士没有近亲属或者近亲属不提起诉讼的，检察机关可以对这些侵害行为和损害社会公共利益的行为依法向人民法院提起诉讼。草案明确规定，侵害英雄烈士的姓名、肖像、名誉、荣誉的，应当依法承担民事责任。侵占、破坏、污损英雄烈士纪念设施，侮辱、诽谤英雄烈士，构成违反治安管理行为的，由公安机关依法给予治安管理处罚；构成犯罪的，依法追究刑事责任。</p></body></html>