<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>472</title>
</head>
<body>
<h1>
医生：用眼过度小心“眼中风”-新华网
</h1>
<p id="demo"> 2017-12-22 17:41:58</p><p>新华社武汉１２月２２日电（记者黎昌政）年终岁尾，白领一族加班增多，加之气候寒冷，用眼过度导致的眼部疾病高发。专家提醒，用眼过度是视网膜静脉阻塞的诱发因素，应注意科学用眼，小心“眼中风”。今年２５岁的陈浩是一名软件程序员，新入职的他拼劲十足，每当有工作任务，常常工作到凌晨一两点才睡觉。这个月为了项目进度，他除了吃饭睡觉一直在电脑前工作。上周，陈浩发现左眼看东西像蒙了一层雾，模模糊糊看不清，开始还以为是没休息好所致，不料症状越来越严重。在武汉爱尔眼科医院，他被诊断为左眼视网膜中央静脉阻塞，俗称“眼中风”。武汉爱尔眼科医院眼底科主任吴建华介绍，视网膜静脉阻塞一般高发于高血压、高血脂、动脉硬化等人群，过度疲劳、情绪激动也可能诱发此病。吴建华提醒，年底加班加点，对不少年轻人来说是家常便饭，加之新年等节日来临，生活工作规律易被打乱，应注意劳逸结合，科学用眼。眼中风具有“突发、无痛”的特点，越早医治对视网膜神经损伤越小，越有利于恢复视力，如突然视物模糊应及时就诊，以免错过最佳医治时机。</p></body></html>