<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>473</title>
</head>
<body>
<h1>
考研人数继续增加 238万考生明日开考-新华网
</h1>
<p id="demo"> 2017-12-22 17:18:14</p><p>新华社北京12月22日电（记者胡浩）记者22日从教育部了解到，2018年全国硕士研究生招生考试将于12月23日至25日举行，今年报考人数238万人，比2017年增加37万人。统计数据显示，今年报名考生中，应届考生131万人，比去年增加18万人，往届考生107万人，比去年增加19万人。《2018年全国研究生招生数据调查报告》分析认为，2018年高校毕业生预计达到820万人，创历史最高纪录，就业成为报考的最主要动因。这是继2017年硕士研究生报名人数高涨之后，2018年硕士研究生报名人数继续高涨的重要原因。其中，53%的考生在选择报考专业时关注的是就业情况，在选择学校时，学校的地域因素高居第一位，知名度居第二位。目前，各地教育、网信、工信、公安、工商等部门正在联合开展考试环境综合治理，努力确保研考安全平稳。教育部再次提醒广大考生，不要听信一些辅导机构所谓“保过”“内部关系”等虚假不实宣传，不要购买所谓“试题”“答案”，谨防上当受骗。不要参与考试作弊。对于涉考违法犯罪活动，有关部门将依法严厉打击，发现一起、查处一起，绝不姑息，坚决维护研招考试公平公正。</p></body></html>