<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>475</title>
</head>
<body>
<h1>
营养师:冬至羊肉香，进补也讲究合理膳食-新华网
</h1>
<p id="demo"> 2017-12-22 17:27:06</p><p>新华社重庆１２月２２日电（记者 李松）１２月２２日是24节气的冬至。在我国，冬至吃羊肉的习惯源远流长，羊肉肉质细嫩，既能御风寒，又可补身体。不过，专家提醒，羊肉虽好，也不可贪多，而且并非人人都适合吃。重庆市肿瘤医院营养科副主任营养师杨祖安介绍，中医认为，羊肉性温热，具有暖中祛寒、温补气血、开胃健脾功效，因此，在冬至乃至冬季吃羊肉，可促进血液循环，加速新陈代谢，抵御寒冷滋补身体。专家提醒，虽然羊肉蛋白质高脂肪低，不过也要注意摄入的量。中国居民５０—６５岁成人每天蛋白质的平均需要量为男性６０克，女性５０克。因此，在冬至切忌暴饮暴食羊肉，要小心蛋白质摄入过量，增加胃肠道负担。同时，体内有炎症、肝病患者、肿瘤患者等人群，也不适合进补羊肉。“因为羊肉中蛋白质含量较高，肝病患者食用后可能造成肝脏不能完全代谢，加重肝脏负担使肝脏病复发，或加重病情。”杨祖安说，肿瘤患者在放化疗后，胃肠功能较虚弱，若食用富含高蛋白质的羊肉，可能会导致消化不良等问题。</p></body></html>