<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>476</title>
</head>
<body>
<h1>
我国生产的脊髓灰质炎疫苗通过世卫组织预认证-新华网
</h1>
<p id="demo"> 2017-12-22 17:40:17</p><p>新华社北京１２月２２日电（记者王希）记者从国药集团获悉，国药集团中国生物技术股份有限公司旗下北京北生研生物制品有限公司生产的口服二价脊髓灰质炎减毒活疫苗（ｂＯＰＶ）日前通过了世界卫生组织的预认证。世卫组织预认证是为保证疫苗产品的质量、安全性和有效性达到国际标准而进行的一项评估认证工作，被认为是联合国采购机构疫苗采购的“通行证”。“通过世卫组织预认证，意味着这一自主研发的疫苗质量获得了肯定，是打开全球市场的重要一步。”国药集团有关负责人介绍说，企业已于今年７月获得联合国儿童基金会自２０１８年起ｂＯＰＶ产品的长期采购订单。此次疫苗预认证程序由世卫组织实施，历时５年。中国生物北生研公司自２０１２年项目启动后，全面提升质量管理体系的运行和管理水平，如期形成了生产能力，并开展了疫苗国际临床试验。去年６月，企业提交了ｂＯＰＶ预认证申请产品主文件，并于今年３月接受了世卫组织专家现场检查。比尔及梅琳达·盖茨基金会等机构在企业相关生产设施扩产及世卫组织预认证项目中，提供了各种形式的支持。据了解，作为中国最大的疫苗生产商，２０１３年中国生物旗下成都公司的乙脑减毒活疫苗成为首个通过世卫组织预认证的中国疫苗。脊髓灰质炎俗称小儿麻痹症，是由脊髓灰质炎病毒引起的一种急性传染病，每２００例感染病例中就有１例为不可逆性麻痹（常在腿部）。自１９８８年世界卫生大会发起全球消灭脊髓灰质炎行动倡议以来，全球已有约２５亿儿童接种了脊髓灰质炎疫苗，使脊髓灰质炎发病率降低了９９％。中国疫苗企业“走出去”，将为全球消灭脊髓灰质炎最后阶段战略计划的完成做出重大贡献。</p></body></html>