<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>477</title>
</head>
<body>
<h1>
我国抽水蓄能电站装机居世界第一-新华网
</h1>
<p id="demo"> 2017-12-22 17:42:37</p><p>新华社北京12月22日电（记者 姜琳）由国家电网公司投资建设的河北易县等6座抽水蓄能电站22日开工。截至目前，我国抽水蓄能电站装机容量已居世界第一，在运规模2849万千瓦，在建规模达3871万千瓦；到2020年，运行总容量将达4000万千瓦。抽水蓄能电站，通俗地说，就是建两个地势高低不同的水池，在电力富余时把低处的水抽到高处储能，在用电高峰时把高处的水放下发电，它是目前最经济、最清洁的大规模储能方式。此次开工的抽水蓄能电站总装机容量840万千瓦，总投资524亿元，计划于2026年全部竣工投产。其中，河北易县抽水蓄能电站装机120万千瓦，内蒙古芝瑞装机120万千瓦，浙江宁海装机140万千瓦，浙江缙云装机180万千瓦，河南洛宁装机140万千瓦，湖南平江装机140万千瓦。国网公司董事长舒印彪表示，抽水蓄能电站是重大基础设施、调节电源和生态环保工程。国家电网5年来已累计开工建设21项抽水蓄能电站工程，装机容量达3015万千瓦；累计投产5座抽水蓄能电站，装机容量610万千瓦，为清洁能源消纳、保障电力系统安全稳定运行起到了极大的促进作用。“工程建成投运后，将显著增强电力系统调峰能力、提高电网消纳能力，每年促进消纳富余风电、光伏发电约133亿千瓦时，有效缓解弃风弃光。同时，通过改善电网运行条件、降低电力系统单位能耗，每年可减少原煤消耗82万吨，减排二氧化碳166万吨。”国网公司总经理寇伟说。据国家能源局副局长刘宝华介绍，目前，我国抽水蓄能装机在电力装机占比还不到2%，远远不能满足系统发展的需要。这两年相关建设明显加快，新开工规模约1800万千瓦。按照国家“十三五”能源发展规划要求，“十三五”期间新开工抽水蓄能6000万千瓦，到2025年达到9000万千瓦左右。</p></body></html>