<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>481</title>
</head>
<body>
<h1>
我国拟立法促进反腐败国际追逃追赃合作-新华网
</h1>
<p id="demo"> 2017-12-22 20:23:44</p><p>新华社北京１２月２２日电（记者王茜）国际刑事司法协助法草案２２日首次提请十二届全国人大常委会第三十一次会议审议，旨在规范我国刑事司法协助体制，加强打击跨国犯罪国际合作。国际刑事司法协助法是反腐败国家立法的重要内容。全国人大外事委员会主任委员傅莹在向全国人大常委会第三十一次会议作说明时说，制定一部内容较为完备、行之有效的国际刑事司法协助法，有利于规范和完善我国刑事司法协助体制，填补刑事司法协助国际合作的法律空白，完善追逃追赃有关法律制度，为推进全面依法治国、全面从严治党作出应有贡献。傅莹表示，共同打击跨国犯罪、推进反腐败国际追逃追赃合作已经成为我国与有关国家和国际组织开展交流合作的重要领域。有效惩治跨国犯罪离不开国家间的紧密合作，需要有效履行相关国际条约义务。截至目前，我国已经批准和加入了包括《联合国反腐败公约》和《联合国打击跨国有组织犯罪公约》等多项有刑事司法协助内容的国际公约，批准了５４件有关刑事司法协助的双边条约。“我国与外国开展打击跨国犯罪国际合作尚存在一些制度障碍。”傅莹介绍，例如履行国际条约的国内法律依据不足、我国司法机关主动利用条约开展国际合作的意识和能力不强等。制定国际刑事司法协助法，有利于从制度上解决这些瓶颈问题，通过法律手段加强国际合作、打击跨国犯罪，为我国履行国际条约义务提供国内法律依据。傅莹介绍，国际刑事司法协助法草案在全面总结过去３０多年开展刑事司法协助工作实践经验的基础上，着眼于为我国与外国的国际刑事司法协助提供必要的法律依据，以解决合作中的实际问题为导向，以服务反腐败国际追逃追赃为目的。据了解，草案对刑事司法协助请求的提出、接收和处理，送达文书，调查取证，安排证人作证或者协助调查，涉案财物的查封、扣押、冻结，违法所得的没收、返还和分享，刑事诉讼结果通报等做出规范。同时草案还规定了开展协助的原则、依据、对外联系机关、主管机关和办案机关，规定了经费保障和费用承担等问题。相关链接：我国拟立法对国际刑事司法协助调查取证作出规定</p></body></html>