<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>482</title>
</head>
<body>
<h1>
我国拟立法对国际刑事司法协助调查取证作出规定-新华网
</h1>
<p id="demo"> 2017-12-22 19:19:32</p><p>新华社北京１２月２２日电（记者王茜）十二届全国人大常委会第三十一次会议２２日审议的国际刑事司法协助法草案，对我国向外国、外国向我国提出调查取证请求的事项和程序作出规定。外国向中华人民共和国请求获取和查实证据，草案规定，获准在执行请求时到场的人员，应当遵守中华人民共和国法律，服从主管机关和办案机关的安排，不得实施任何具有强制性的行为。草案在“调查取证”专章中还规定，我国向外国提出调查取证请求的事项程序、外国向我国提出调查取证请求在我国执行的程序和拒绝安排的情形，以及调查取证请求书的要件、证据材料和物品的返还等。草案同时规定，在我国向外国请求刑事司法协助和外国向我国请求刑事司法协助的两种情况下，提出、接收和处理刑事司法协助请求的程序、请求书要件、我国拒绝提供协助的情形、附加条件、结果通知等。此外草案还明确，我国向外国提出送达文书请求的程序、外国向我国提出送达文书请求在我国执行的程序，以及送达文书请求书的要件、送达文书的范围和效力等。草案还规定，我国向外国提出安排证人作证或者协助调查请求的程序、请求书要件，证人、鉴定人的保护及其作证费用和津贴，以及移送在押人员作证等，规定了外国向我国提出安排证人作证或者协助调查请求、移送在押人员作证请求在我国执行的程序，以及请求书要件等。</p></body></html>