<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>490</title>
</head>
<body>
<h1>
2017年中国新闻工作者援助项目名单发布-新华网
</h1>
<p id="demo"> 2017-12-25 11:17:55</p><p>新华社北京12月25日电  25日，中国记协正式发布2017年中国新闻工作者援助项目援助名单和金额，2家中央主要新闻单位、15个省（区、市）22家地方新闻单位的31名新闻工作者获得援助。这是中国记协连续第四年对因履行新闻工作职责殉职或伤残的新闻工作者进行援助。今年7月10日，中国记协向各省（区、市）和新疆生产建设兵团记协、中央主要新闻单位、中央军委政治工作部宣传局、全国性行业类媒体、各专业记协印发了《关于申报2017年中国新闻工作者援助项目的通知》，共收到申报材料42份，涉及全国16个省（区、市）35家新闻单位。经审核、公示，有31人符合援助条件。山东省青岛早报社马洪文、河南省东方今报社李凌、甘肃省武威日报社何立忠、广西壮族自治区桂林电视台张毅4人为因公殉职，分别获30万元援助金；甘肃省庆阳广播电视台惠立波等11人为重伤（病），分别获5万元援助金；中央电视台张颖等16人为轻伤，分别获得1万元援助金。中国新闻工作者援助项目系中国记协设立的公益性资助项目，旨在保障我国新闻工作者依法从事采访报道活动，引导新闻工作者弘扬职业精神、恪守职业道德、承担社会责任，切实履行新闻工作者的崇高职责和使命。2014年1月，中国记协首次公布《中国新闻工作者援助项目实施办法》，规定每年对因公伤亡新闻工作者给予经济资助。援助项目实施四年来，中国记协已对来自全国各级各类新闻单位因公伤亡的77名新闻工作者发放援助金427万元。</p></body></html>