<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>494</title>
</head>
<body>
<h1>
新华时评：治霾走心换群众暖心-新华网
</h1>
<p id="demo"> 2017-12-25 10:09:51</p><p>新华社济南12月25日电 题：治霾走心换群众暖心新华社记者 余孝忠、萧海川作为京津冀地区周边重要的省会城市，济南将从2018年起禁止在核心区域燃放烟花爆竹。禁令发出同时，济南出台政策，让市民可把家中剩余的烟花爆竹置换为日用品、纪念品等，并在居民社区设置了专门服务站。措施虽小，走了心就会让群众暖心。近些年，北方的冬天雾霾阵阵，蓝天保卫战警报声声。金山银山不如绿水青山、绿水青山就是金山银山，新理念成了社会共识。各行各业纷纷行动起来，为节能减排共同努力。在这个过程中，一些地方仅凭“一纸禁令”就想立竿见影，忽视了深入细致的群众工作，往往欲速不达，适得其反。剩余的烟花爆竹可置换，看似多此一举，实则“以人民为中心”理念在城市治理中的实践之举。政府部门通过置换回收，既化解了可能的尴尬，更提高了社会成员的治理参与度和成就获得感。置换的不仅是商品，更换出了城市对市民利益的尊重、市民对城市治理的支持。党的十九大报告强调：“把雷厉风行和久久为功有机结合起来，勇于攻坚克难，以钉钉子精神做实做细做好各项工作。”这是我们增强执政本领的重要方面。群众利益无小事，不同群体、不同利益诉求相互交织作用，政令的丝毫变化都可能引发阵阵涟漪。城市的建设与管理，终究是七分立规矩、三分讲温情，应多些市民角度、爱民情怀。在方向上坚持以人民为中心、在行动中彰显共治共享、在细节处体现人文关怀，这样的城市才更让人感觉越来越暖。天津最严“禁燃令”保卫蓝天 外环线以内禁止燃放烟花爆竹北京五环内禁放烟花爆竹 五环外通州首设禁放区</p></body></html>