<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>495</title>
</head>
<body>
<h1>
专家指出，大肠癌呈现年轻化趋势“三高一低”要注意-新华网
</h1>
<p id="demo"> 2017-12-25 09:09:22</p><p>新华社天津12月25日电（记者 张建新）随着生活水平的提高，人们的饮食结构、生活方式发生巨大变化，大肠癌发病率上升趋势明显，已经成为我国高发癌种。天津市肿瘤医院结直肠肿瘤科主任孔大陆教授日前接受记者采访时说，以往大肠癌好发于中老年，高发年龄在50岁以后。但近年来发病年轻化趋势明显，临床上30岁以下的青年人罹患大肠癌的比例逐渐升高，约占总患病率的10%。专家指出，近年来，随着工作节奏的加快，快餐红肉等高脂饮食不断增加，蔬菜水果摄入较少，缺乏有助于消化和分解脂肪的膳食纤维，特别是对于长期久坐、缺乏运动的年轻白领，更容易减缓肠道蠕动，刺激肠壁引起排便紊乱，使毒素在肠道内延长滞留时间，对肠道造成更重的负担，也增加了致癌物与肠道接触的机会，增加大肠癌风险。“大肠癌是可防可治的，可防的关键在于饮食和运动，可治的关键则在于早期发现。”孔大陆说，目前大肠癌的治疗效果不够理想，主要是由于发现晚，20％-30％的患者初次就诊时就已经出现转移性病灶。如果能做到早期发现，大肠癌的5年生存率可达90%以上。专家提醒，如果出现排便规律改变，比如次数频繁或明显减少，便秘腹泻交替，原因不明的贫血、便血、消瘦及腹部肿块等情况时，应及时到正规医院诊断。特别建议50岁以上、有结直肠息肉史或结直肠癌病史、慢性肠炎、长期饮酒或高脂饮食、长期坐位工作且缺乏运动的高危人群，可每5年进行一次肠镜检查，每年进行一次大便潜血检查和肛门指检。发现有肠息肉则必须高度重视。因为从息肉到癌变需要3到5年时间，如能在癌变之前进行治疗可以有效预防肿瘤。</p></body></html>