<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>506</title>
</head>
<body>
<h1>
尤权受中共中央委托 向党外人士通报中央经济工作会议精神-新华网
</h1>
<p id="demo"> 2017-12-22 21:10:51</p><p>新华社北京12月22日电 12月22日，受中共中央委托，中共中央书记处书记、中央统战部部长尤权向党外人士通报中央经济工作会议精神。尤权指出，中央经济工作会议是中共十九大后中共中央召开的第一个全国性会议。习近平总书记的重要讲话，全面总结了中共十八大以来我国经济发展取得的历史性成就、发生的历史性变革，深刻阐述了新时代中国特色社会主义经济思想，明确了明年经济工作的总体要求、主要目标、重点任务，充分体现了以习近平同志为核心的中共中央深刻把握我国经济发展规律的卓越能力、熟练驾驭复杂局面的丰富经验、主动应对新时代我国社会主要矛盾发生历史性变化的战略远见，为战胜各种风险挑战，促进经济平稳健康发展和社会和谐稳定提供了重要指导。尤权强调，统一战线要深入学习领会中央经济工作会议精神特别是习近平总书记重要讲话精神，深刻理解习近平新时代中国特色社会主义经济思想的丰富内涵，深刻认识我国经济已经转向高质量发展阶段的特征要求，切实把思想行动统一到中共中央对形势的分析判断和决策部署上来，勇担新时代赋予的新使命新任务，为促进我国经济实现更高质量、更有效率、更加公平、更可持续的发展发挥更大作用。尤权希望各民主党派、工商联、无党派人士牢牢把握建设现代化经济体系、推动高质量发展的要求，围绕深化供给侧结构性改革、实施乡村振兴战略、加快完善社会主义市场经济体制、打好“三大攻坚战”等战略举措建言献策，为党和政府提供决策参考。他指出，要支持民营企业健康发展，推动构建亲清新型政商关系，推动落实中央关于支持中小微企业、促进民间投资的政策措施，依法保护民营企业合法权益，引导非公有制经济人士坚定发展信心、弘扬企业家精神，在加大投资实体经济力度、提高企业核心竞争力和可持续发展能力的基础上，积极投身“万企帮万村”精准扶贫行动、光彩事业，实现发展成果共享和共同富裕。要充分发挥党外知识分子联谊会、留学人员联谊会、新的社会阶层人士联谊会和建言献策小组等平台载体作用，引导党外知识分子和新的社会阶层人士加强基础研究和应用基础研究，协调解决他们在创新创业中遇到的困难，激发党外知识分子和新的社会阶层人士的创新创业活力。出席通报会的有陈竺、齐续春。各民主党派中央、全国工商联负责人和无党派人士，中央统战部部领导班子成员参加会议。</p></body></html>