<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>508</title>
</head>
<body>
<h1>
郭声琨在全国反恐怖工作视频会议上强调 全面提升反恐怖工作能力和水平-新华网
</h1>
<p id="demo"> 2017-12-22 21:30:55</p><p>新华社北京12月22日电 中共中央政治局委员、国家反恐怖工作领导小组组长郭声琨22日在全国反恐怖工作视频会议上强调，要认真学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神，深入贯彻落实习近平总书记关于反恐怖工作的一系列重要指示精神，深刻认识反恐怖斗争形势的严峻性复杂性，积极适应新时代新任务新要求，全面提升反恐怖工作能力和水平，坚决维护人民群众生命财产安全，为全面建成小康社会创造安全稳定社会环境。郭声琨要求，要始终坚持党的领导，坚持总体国家安全观，把反恐怖工作摆在维护国家安全的重要位置，加强整体统筹、组织领导和督导检查，压紧压实属地责任、部门责任、单位责任，督促相关企业、行业和社会单位落实主体责任，确保党中央、国务院关于反恐怖工作的决策部署落实到位。毫不动摇坚持严打方针，以预测预警预防为着力点，强化情报信息引领，深化严打暴恐活动和打击暴恐音视频等专项行动，持续推进反恐怖国际合作，坚决把暴恐活动消灭在行动之前。继续加强反恐怖防范标准建设，严格落实巡逻防控、重点管控和边境管理等各项措施，深入排查整治安全隐患，切实筑牢安全防线。大力开展宣传教育，不断提高全民反恐防恐意识和能力，打好反恐怖人民战争。</p></body></html>