<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>509</title>
</head>
<body>
<h1>
烟叶税法草案再次提请全国人大常委会审议-新华网
</h1>
<p id="demo"> 2017-12-22 21:40:37</p><p>新华社北京12月22日电（记者郁琼源）《中华人民共和国烟叶税法（草案）》22日再次提请全国人大常委会审议，今年8月28日，最高立法机关初次审议了烟叶税法草案，并向社会公开征求意见。全国人大法律委员会认为，为落实税收法定原则，制定烟叶税法是必要的；草案经过初次审议修改后，已经比较成熟。全国人大法律委员会副主任委员孙宝树介绍，有的常委会委员提出，草案一审稿中关于烟叶税纳税人的规定有所重复，建议合并、简化。法律委员会建议将这一条修改为：在中华人民共和国境内，依照《中华人民共和国烟草专卖法》的规定收购烟叶的单位为烟叶税的纳税人。纳税人应当依照本法规定缴纳烟叶税。此外，草案又进一步明确了关于烟叶税征收管理的规定和申报纳税的时间。对于烟叶税的计税依据为纳税人收购烟叶实际支付的价款总额，法律委员会认为，在烟叶收购过程中，价款的构成、标准等均依据国家相关规定执行，实践中是清楚的。建议对草案相关规定不作修改。</p></body></html>