<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>511</title>
</head>
<body>
<h1>
刘延东在教育部直属高校工作咨询委员会全会上强调 深入学习贯彻党的十九大精神 全面开启建设高等教育强国新征程-新华网
</h1>
<p id="demo">/</p><p>新华社北京12月22日电  国务院副总理刘延东出席教育部直属高校工作咨询委员会第27次会议时强调，要深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神，扎根中国大地办大学，培养担当民族复兴大任的时代新人，为全面建成社会主义现代化强国作出新贡献。刘延东指出，党的十八大以来，我国高等教育体系更趋完备，教育公平迈出重大步伐，综合改革纵深推进，人才培养质量和科学研究水平稳步提升，为经济社会发展提供了重要支撑。刘延东强调，建设高等教育强国，要坚持正确方向，着眼“四个服务”，深刻把握新时代高等教育的战略定位和历史使命，使高等教育发展同我国发展现实目标和未来方向紧密相联。要以全面提高人才培养能力为核心点，坚持立德树人，完善培养模式，实现全员全过程全方位育人。要聚焦国家发展需要，优化学科结构，强化科技攻关，加快一流大学和一流学科建设，提升中西部高等教育水平，推进以质量为重点的内涵发展。要立足时代、面向未来，弘扬社会主义核心价值观，建设师德高尚、业务精湛的教师队伍，培育优良校风学风。要加强党的领导，保证高校始终成为培养社会主义事业建设者和接班人的坚强阵地。目前，我国接受高等教育总人口已达1.7亿，在学人数达3699万，高等教育整体实力达到世界中上水平。Copyright © 2000 - 2016 XINHUANET.comAll Rights Reserved. 制作单位：新华网版权所有 新华网</p></body></html>