<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>512</title>
</head>
<body>
<h1>
我国拟取消工程建设项目招标代理机构资格认定行政审批-新华网
</h1>
<p id="demo"> 2017-12-22 21:48:02</p><p>新华社北京12月22日电（记者王优玲）《<中华人民共和国招标投标法>、<中华人民共和国计量法>修正案（草案）》22日提请全国人大常委会审议，拟取消工程建设项目招标代理机构资格认定行政审批。国务院法制办公室党组书记、副主任袁曙宏在第十二届全国人民代表大会常务委员会第三十一次会议上说，招标代理机构是提供招标代理业务咨询服务的中介机构，不对代理的招投标项目承担主体责任，招标方自主选择代理机构属于市场行为，代理机构可以通过市场竞争、发挥行业自律作用予以规范。袁曙宏说，发展改革、建设等行政主管部门可以通过强化事中事后管理措施进行监督，不需要以行政许可的方式设定准入门槛。从广东的试点情况来看，不设定行政许可是可行的。据此，修正案草案删去了招标投标法第十四条第一款有关招标代理机构资格认定的规定，并对第五十条的相关法律责任作了修改、加大处罚力度，规定招标代理机构违反本法有关规定、情节严重的，禁止其一年至二年内代理依法必须进行招标的项目并予以公告，直至由工商行政管理机关吊销营业执照。行政许可取消后，有关主管部门将创新监管方式，全面推行“双随机、一公开”监管，畅通投诉举报渠道，依据有关规定及时查处违法违规行为，强化与相关部门的信息共享，通过加快诚信体系建设，对失信者实行联合惩戒。</p></body></html>