<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>513</title>
</head>
<body>
<h1>
中国血液病专科联盟在津成立-新华网
</h1>
<p id="demo"> 2017-12-22 22:05:06</p><p>新华社天津12月22日电（记者 张建新）由中国医学科学院血液病医院（血液学研究所）牵头成立的中国血液病专科联盟22日在天津成立，来自全国30个省份的七十余家医院加入联盟。中国医学科学院血液病医院（所）党委书记常子奎表示，专科联盟既是深入落实国家医改政策的重要举措，同时也是全国血液学事业发展的需要。联盟将在规范和创新血液病诊疗模式，促进医疗资源均衡化发展，提升各联盟单位科研合作、学术交流、人才培养和学科建设水平等方面进行探索。联盟将通过派遣专家业务指导、远程会诊和双向转诊构建更加高效合理的血液病分级诊疗模式；通过规范诊疗、专科共建等方式全面开展医疗协作，实现医疗资源均衡化、联盟内诊疗同质化；以学术交流、人才培养、科研合作等形式助力联盟单位血液科综合水平的全面提升；以国际国内重大课题及研究项目申请、新技术新项目推广、科技成果转化等形式共同打造联盟医院学科品牌，搭建联盟成员的广泛交流平台，提升血液学专业的国际影响力，最大范围惠及我国广大血液病患者。</p></body></html>