<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>514</title>
</head>
<body>
<h1>
中国社科院副院长：未来10年我国知识技术职工将形成庞大群体-新华网
</h1>
<p id="demo"> 2017-12-22 22:05:37</p><p>新华社北京12月22日电（记者 朱基钗 刘阳）“未来10年，我国从业人员中，知识技术职工将形成庞大群体；中等收入群体将会大幅增长，中国在世界上将成为一个庞大的消费市场。”中国社科院副院长李培林22日表示。当日，由李培林等主编的2018年《社会蓝皮书》发布。在蓝皮书中，李培林分析了我国新时代的未来发展趋势。他指出，按照世界银行公布的标准，高收入国家需要跨越人均GDP12616美元的门槛。根据目前的发展水平和年均增长速度，我国将会跨越“中等收入陷阱”。“当然具体哪一年跨越，要看实际的经济增长速度、人口的增长数量以及人民币兑美元的汇率。中国是一个有13亿多人口的大国，若能如期跨越中等收入陷阱，将是一个重大的历史事件。”李培林认为，我国已经逐步在国际上甩掉廉价产品生产大国和仿制大国的帽子，创新驱动和产业结构升级的效应将会逐步显现和爆发出来；新的人口红利将逐步形成，随着义务教育的发展和职业教育的升级，将产生一大批大国工匠、技师和工程师；社会保障将实现全国统筹；极端贫困消除后将开启解决相对贫困新征程。据了解，2018年《社会蓝皮书》是中国社科院“社会形势分析与预测”课题组的第26部年度报告，由中国社科院社会学研究所组织研究机构专家、高校学者及政府研究人员撰写。今年的蓝皮书，分析了2017年中国经济社会发展的形势，并对大学生就业、生活和社会态度，都市新白领的生存状况，城乡困难群体生存状况等社会热点问题进行了分析和透视，并提出了有针对性的对策建议。</p></body></html>