<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>516</title>
</head>
<body>
<h1>
审计署：医保基金审计整改率达到97%-新华网
</h1>
<p id="demo"> 2017-12-23 17:01:31</p><p>新华社北京12月23日电（杨学嘉、刘红霞）审计署审计长胡泽君23日说，对于2016年度中央预算执行和其他财政收支的审计工作报告中涉及全国医疗保险基金的问题，相关地方整改问题金额超过43亿元，整改率达到97%。胡泽君23日上午向全国人大常委会报告审计工作报告查出问题的整改情况。她说，截至今年10月底，相关地方通过补缴补征医保费、归还原资金渠道等方式整改问题金额43.25亿元，处理处分505人次，制定完善制度618项，整改率达97%。具体而言，针对少缴少征医保费的问题，相关地方已通过补缴补征或完善征缴办法等方式，整改问题金额28.68亿元。针对未参加职工医保的问题，相关地方通过将相关人员纳入职工医保、完善制度等方式，惠及33.16万人。针对骗取套取、违规出借基金的问题，相关地方通过收回资金、制定还款计划、移送公安或主管部门处理等方式，整改问题金额3.35亿元。此外，相关地方还就药价和收费不合理整改问题资金11.22亿元。胡泽君表示，有关地方、部门和单位深入研究分析审计揭示的体制机制问题，着力建立健全长效机制，正进一步织密织牢民生资金安全网。</p></body></html>