<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>527</title>
</head>
<body>
<h1>
工业盐加工食品贪小便宜吃大亏-新华网
</h1>
<p id="demo"> 2017-12-24 09:03:39</p><p>贪图价格便宜，不顾群众的身体健康安全，购买工业盐加工销售豆腐皮。近日，经河南省安阳市殷都区检察院提起公诉，法院以生产、销售不符合安全标准的食品罪判处被告人孙光有期徒刑六个月，并处罚金5000元。2016年12月6日，安阳市盐业局执法人员对殷都区内的饮食门店进行例行检查，当检查至戚家庄村孙光经营的豆腐皮加工店时，发现该店正在使用违法购进的工业盐加工豆腐皮，当场将还未使用的工业盐扣押。证据面前，孙光承认，为减少成本，增加销量，让豆腐皮的口感和味道更能吸引人，他于7月11日在钢三路和戚东路路口从一名骑电动三轮车的男子手中购进三包150公斤重的工业盐，用来制作豆腐皮，并卖给附近的群众食用。案发后，孙光对自己贪图小便宜使用工业盐的行为认罪悔罪。（刘志斌黄剑）</p></body></html>