<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>528</title>
</head>
<body>
<h1>
伪造证明骗借款合同诈骗被批捕-新华网
</h1>
<p id="demo"> 2017-12-24 09:03:39</p><p>伪造房产证明作担保，向他人骗取借款600万元。近日，河北省张家口市桥东区检察院以涉嫌合同诈骗罪批准逮捕谭金。2014年，谭金因投资矿山需要资金，通过他人找到冀某，称自己名下有多处房产和企业，愿用一套位于张家口市宣化区的商业房做抵押向其借款。同年4月，谭金凭着房产证明等材料，与冀某签订了一份借贷合同，同时还签了一份质押合同和一份房屋买卖合同，约定如果谭金还不了钱，就将其价值1000万元的商业房出售给冀某，冀某只需支付400万元差价即可。冀某随后将600万元汇至谭金账户中。借款到期后，谭金以没钱为由继续向冀某借款，其间一直支付利息，直到2015年8月，谭金在支付了11万元利息后就消失了。冀某想出售宣化区的那处商业房，到了以后才知道该处房产根本不是谭金的，而是他租的，房产证明是伪造的。2016年12月，谭金被公安机关抓获。（海啸）</p></body></html>