<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>529</title>
</head>
<body>
<h1>
侦查监督开启“千里眼”-新华网
</h1>
<p id="demo"> 2017-12-24 09:03:39</p><p>日前，河南省开封市检察院与该市公安局联合召开派驻公安检察室工作推进会。记者从会议上了解到，开封市检察机关目前已实现向市县两级公安机关全派驻。派驻检察官积极介入公安机关办理的重大、疑难、复杂案件，引导公安机关完善固定证据。杞县检察院与公安机关形成重点案件会商机制。在提前介入王某等24人组织、领导、参加黑社会性质组织案时，检察机关引导公安机关系统性取证，该案在审查逮捕时仅用4天就办结。派驻检察官通过登录公安机关警务综合平台，实时查询相关案件信息，对执法动态同步掌握，使派驻检察室成为侦查监督的“千里眼”。开封市鼓楼区检察院通过公安机关警务平台，发现并监督一起批准逮捕3天后仍未被执行的案件。与此同时，开封两级检察机关充分发挥派驻公安检察室“接地气”的优势，深入基层服务群众。龙亭区检察院结合开展的侵犯知识产权专项立案监督活动，为辖区营造“大众创业、万众创新”的良好法治环境。检察官通过走访发现一起假冒注册商标犯罪线索，遂移送公安机关立案侦查，为受害企业挽回经济损失255万元。自派驻公安检察室成立以来，开封市检察机关监督立案人数同比上升75%，监督撤案数同比上升56%，纠正漏捕人数同比上升150%。通过提前介入、捕前分流等机制，捕后轻刑判决率和缓刑判决率均大幅下降。本报讯（记者孟红梅通讯员刘红梅杨琦）</p></body></html>