<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>531</title>
</head>
<body>
<h1>
（授权发布）全国人民代表大会常务委员会任免名单-新华网
</h1>
<p id="demo">/</p><p>新华社北京2月27日电  全国人民代表大会常务委员会任免名单（2015年2月27日第十二届全国人民代表大会常务委员会第十三次会议通过）一、免去马丽莉（女）、熊少敏、王向东、穆爱华（女）、曾洪强的最高人民检察院检察员职务。二、任命劳娃（女）、丁英华、徐志伟、郭斐飞、尚爱国、段家星、阚林、郑在义为最高人民检察院检察员。尹相杰持毒案开庭 穿军绿色大衣冒雪进法院（组图）黑河边防官兵极寒天气赤膊浴雪奋战血性十足【图片故事】“最美洗脚妹”人大代表的两会声音2015高校艺考大幕开启 美女云集南宁开启“夏季模式”边防官兵极寒天气赤膊浴雪您的故乡，变了吗据说很多人都这样局长在"风声过后"翻船农民工回家最暖心一幕2015艺考大开锣！麦当娜失足跌落舞台胡杏儿：不希望被催婚奥斯卡收视率创新低刘亦菲晒美照闪到脖子醉酒男子欲跳楼琼瑶女郎刘雪华扮美猴王中戏主持艺考素颜进场</p></body></html>