<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>532</title>
</head>
<body>
<h1>
明知白酒来路不正收购转卖触犯刑律-新华网
</h1>
<p id="demo"> 2017-12-24 09:10:03</p><p>烟酒经营者明知他人的白酒系犯罪所得，仍为赚钱而收购倒卖，最终被判处刑罚。近日，经北京市怀柔区检察院提起公诉，法院以掩饰、隐瞒犯罪所得罪判处被告人公茂利拘役四个月，缓刑六个月，并处罚金3000元。2016年10月9日，江洪霞、闫万军（均另案处理）联系做烟酒生意的公茂利，向其出售盗窃的茅台酒、五粮液酒等。公茂利在明知这些酒系犯罪所得的情况下，为赚钱而进行收购。次日，公茂利再次收购二人出售的白酒。公茂利两次共收购江洪霞、闫万军所变卖的53度茅台牌白酒两箱零两瓶（共14瓶），52度五粮液牌白酒一瓶，付给江洪霞1.15万元。后将上述白酒转卖他人牟利。江洪霞、闫万军因涉嫌盗窃罪被抓后，公茂利也被公安机关抓获，他到案后如实供述了自己的犯罪事实。（张鹏飞孙思齐）</p></body></html>