<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>538</title>
</head>
<body>
<h1>
在线教育问题百出 别让在线学习变了味-新华网
</h1>
<p id="demo"> 2017-12-24 08:26:11</p><p>打开题库发现，有关答案错误百出，有的学习软件竟埋着“诱导消费”陷阱，面向中小学生的教育软件甚至暗藏“荤段子”……如今，在线学习类软件越来越红火，但暴露出的问题实在令人担忧。去年，全国在线教育用户已超过9000万人，预计未来还将保持20%左右的年增长率，其中，中小学生占据了“半壁江山”。固然，作为教育及互联网的新业态，发展初期难免出现暂时乱象，但对每一个孩子来说，成长只有一次，开不得任何玩笑。否则，线上教育就从“诲人不倦”变成“毁人不倦”了。在线教育对整合教育资源、促进教育公平、推进教育改革都具有重要意义。与此同时，在线教育虽在“云端”，却不能跳出“法外”。加强法律监管、强化企业责任，让在线教育从只唯流量的“粗放经营”，转向教书育人的“精耕细作”，才能让优质教育资源惠及更多人。（记者 石 羚）</p></body></html>