<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>539</title>
</head>
<body>
<h1>
辽宁：环保措施严 迎来冬天蓝-新华网
</h1>
<p id="demo"> 2017-12-24 08:28:26</p><p>辽宁省环保厅数据显示：从11月1日供暖至今，辽宁全省空气质量优良天数比例平均为86%，PM2.5平均浓度下降超过40%。辽宁今年进入供暖期以来，全省四项主要污染物浓度同比大幅下降。其中PM2.5降幅最大，平均浓度为38微克/立方米，同比下降41.5%； PM10平均浓度为71微克/立方米，同比下降26.8%；二氧化硫平均浓度为31微克/立方米，氮氧化物平均浓度为33微克/立方米，同比分别下降38.0%和17.5%。“冬季供暖期间，煤炭燃烧排放一直是重要污染来源，现如今，辽宁在全省大力推广蓄热式电锅炉供暖，推动冬季清洁取暖。”辽宁省环保厅厅长来鹤说。今年7月22日，辽宁省政府发布《关于加快推进“电化辽宁”工作方案》，要求综合运用财政、物价、环保等政策措施，在采暖、工业生产、交通运输、服务业及农业生产等五大领域“以电代煤”“以电代油”，提升电能占终端能源消费的比重。“没想到走了辽宁这么多地市，蓝天总是伴随着我们。”一位来自江苏的企业家称赞。目前，辽宁省新型干法水泥窑共有39条安装脱硝设施，35吨以上工业燃煤锅炉以及65吨以上燃煤锅炉均安装了在线监控设施，并全面推动20吨及以上燃煤锅炉在线监控设施安装工作，倒逼燃煤锅炉提标改造。“现在秸秆可是宝，不仅能发电，还能搞养殖青贮，能换不少钱呢！”开原市中固镇烟厂村村民刘求和告诉记者。2017年，全省新建秸秆收储点、收储中心370多个，新增收储能力290多万吨。辽宁省还出台了《辽宁省秸秆焚烧防控责任追究暂行规定》，全省各市全部建立并落实了县、乡、村三级秸秆禁烧责任制，并建立了责任追究制度。（记者王金海、刘洪超）</p></body></html>