<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>542</title>
</head>
<body>
<h1>
山东东平：新技术领跑脱贫路-新华网
</h1>
<p id="demo"> 2017-12-24 08:34:33</p><p>外面寒风凛冽，室内温暖如春，一踏入“宝岛风情园”温室，葱郁的香蕉树……浓郁的热带风情让人误以为置身南国。要知道这里可是山东东平新湖镇冯洼村，一个普通鲁西农村。“这是综合性现代农业示范园区，占地300多亩，搞种养也搞科研，可观赏也可采摘，是个3A级景区呢。”园区负责人兴致勃勃地说。“作为扶贫项目，镇上投入100多万元建了民宿，今后每年都会有占10%的固定收益发到贫困户手中，同时为贫困户提供就业岗位。”新湖镇党委书记郭东说。不远处的范洼村树林里，村民孙长征正俯身在土里翻腾，走近一看，原来是一条条蚯蚓，“树下就能养殖，十天半月加一次肥，不占地方，不靠时间，还可以腾出手干点别的活儿。”孙长征说。新湖镇经过调研，帮助村里建起了1200多亩的蚯蚓养殖基地。村里成立了蚯蚓养殖股份合作社，贫困户可以入股分红，还可以在合作社打工拿工资，带动了周边12个村30多个贫困户脱贫。这里产业扶贫花样多，养鱼用上了物联网。在霍庄的金岸生态园，10个375立方米的高标准鱼池一字排开，水面上波浪翻滚。鱼池养殖户说，他们采用物联网投饵设备和水底检测设备，能随时换水并净化水质。先进的循环水技术使高密度养殖变为现实，产量更大，收益也更多。目前已生产成鱼40万斤，销售额200多万元，通过扶贫资金入股分红，带动周边5个村的贫困户脱贫。精准扶贫、产业带动，新湖镇找准了工作的着力点，在去年463户成功脱贫的基础上，今年又有313户实现脱贫。在东平，产业扶贫成为脱贫攻坚主渠道，当地着力培育乡村旅游、生态农业、畜禽养殖、电商等“十大产业”，探索推行基地式扶贫、农场式扶贫、车间式扶贫、分红式扶贫、家庭式扶贫、融合式扶贫六种模式，让贫困群众精准受益、稳定脱贫。仅今年东平县扶贫专项资金用于产业项目就达4182万元，共策划产业项目48个。（记者 刘成友）</p></body></html>