<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>546</title>
</head>
<body>
<h1>
四川检察机关加大生态环境和资源保护公益诉讼案办理力度-新华网
</h1>
<p id="demo"> 2017-12-24 09:29:57</p><p>新华社成都12月24日电（记者吴光于）记者从四川省人民检察院获悉，自今年7月以来，四川省检察机关共办理生态环境和资源保护领域公益诉讼案件109件，占全省公益诉讼案件40.22%。今年6月27日，全国人大常委会作出修改民事诉讼法和行政诉讼法的决定，正式确立检察机关提起公益诉讼制度。最高检作出部署，7月1日起，全国检察机关全面开展提起公益诉讼工作。5个月来，四川省检察机关通过办案，共督促修复被污染、破坏、违法占用的林地、耕地、湿地、草原1748.2亩；消除污染隐患及治理恢复被污染水源地面积715.85平方公里；补种各类被毁林木22864株；促成关停和整治违法企业34家。陕西某铜矿公司违法将铊锌等元素严重超标的废水排入嘉陵江，造成嘉陵江广元段水域铊元素严重超标达4.6倍，广元城区供水中断36小时。广元市利州区检察院与违法企业达成民事和解协议，违法企业除了履行自身担负的整改修复环境的义务外，还赔偿嘉陵江广元段因污染受到的损失和费用8000万元。检察机关还从生活生产垃圾处理、饮用水安全、商品房违规炒售等关系到人民群众切身利益的方面入手，从源头上推动解决了一批老百姓最关切的热点问题。荣县长山镇垃圾场因当地主管部门监管不力，在长达6年时间中累计倾倒生活垃圾15000吨，对当地饮水源小井沟水库水质安全构成严重威胁。荣县检察院发出检察建议后，镇政府采取有效措施筹集480万元专项资金进行集中清运，彻底解决了长期困扰当地群众的饮水污染问题。</p></body></html>