<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>548</title>
</head>
<body>
<h1>
冷空气继续影响中东部地区 局地降温可达8℃以上-新华网
</h1>
<p id="demo"> 2017-12-24 09:28:19</p><p>12月20日，海口民众“全副武装”出行抵御冷空气。 中新社记者 骆云飞 摄据中央气象台网站消息，24日白天，冷空气继续影响影响我国中东部地区，局地降温可达8℃以上；另外，受今年第27号台风“天秤”和冷空气的共同影响，24日8时到25日8时，台湾海峡、巴士海峡、南海大部有7～8级大风，南海西南部部分海域和南沙群岛的风力可达9～10级。昨日(23号)，新疆北部、内蒙古西部、甘肃中部、青海东北部、山西西部等地部分地区降小雪；浙江东部沿海地区出现中雨，局地大雨。今晨，四川东部、重庆西南部、浙江东南部等地出现能见度不足1千米的雾，局地能见度不足200米。今5时较昨5时，内蒙古西部、甘肃中西部、青海东部、陕西中部、四川西北部等地部分地区出现6～8℃的降温。中央气象台预计，24日白天，冷空气继续影响影响我国中东部地区，上述地区降温4～6℃、局地可达8℃以上，并伴有4～6级、阵风7级左右的偏北风。另外，受冷空气影响，24日黄淮江淮等地霾天气将逐渐减弱或消散。此外，24日早晨至上午，四川盆地中南部有大雾天气。此外，今年第27号台风“天秤”已于今天(24日)凌晨加强为台风级，其中心早晨5点钟位于我国永暑礁东偏南方约245公里的南海东南部海面上，就是北纬8.4度、东经114.8度，中心附近最大风力有13级(35米/秒)，中心最低气压970百帕。预计，“天秤”将以每小时20～25公里的速度继续向偏西方向移动，强度还将有所加强，穿过南沙群岛附近海域后，将于 26日凌晨前后趋向于越南南部沿海。受“天秤”和冷空气的共同影响，24日08时到25日08时，台湾海峡、巴士海峡、南海大部有7～8级大风，南海西南部部分海域和南沙群岛的风力可达9～10级，台风中心经过的附近海域风力可达11～13级，阵风可达14～15级。中央气象台24日6时发布台风蓝色预警。</p></body></html>