<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>551</title>
</head>
<body>
<h1>
明年春运首日火车票1月3日开售 学生票启动集中订票-新华网
</h1>
<p id="demo"> 2017-12-24 07:31:44</p><p>北京青年报记者从铁路部门获悉，2018年春运首日火车票将于明年1月3日开售。同时，寒假学生票也已启动集中订票。据了解，每年春运的时间周期总计为40天，节前15天，节后25天，共计40天。明年春节为2月16日，照此推算2018年的春运时间为2月1日至3月12日。目前，全国铁路火车票预售期为30天，以此计算，2018年1月3日春运首日火车票开售。依照往年经验和上班族的休假安排，腊月二十七到腊月二十九(明年2月12日至2月14日)的火车票最为紧俏，有这几天出行的旅客，需要在明年的1月14日到1月16日就开始通过互联网、手机APP或电话订票渠道开始抢票了。1月17日可以通过以上渠道购买明年除夕当天(2月15日)的火车票。从明年1月22日开始，旅客还要想着购买春节返程上班的车票，这一天可以购买明年正月初五的返程车票，1月23日购买明年正月初六的返程车票，以此类推。铁路部门提示，购买车票有三次“捡漏”机会，起售45分钟后，如果部分抢票网民未及时支付，票源将返回票仓；开车前15天，是退票高峰期；开车前48小时和24小时，也是“捡漏”的好机会，售票系统往往会放出部分剩余车票。今年铁路部门还推出了网络购票的接续换乘服务，当旅客发现目的地无票时，可使用接续换乘查询途中换乘一次的部分列车余票情况，也可实现出行。中国铁路北京局集团有限公司12月22日宣布，2018年寒假学生票集中订票工作启动。此次集中办理，院校通过互联网提交订单，铁路部门集中配票，配票成功后，学生自助在指定网址上查询确认结果后到车站窗口、自助售票机支付票款取票。北青报记者了解到，学生票仅办理离京车票，乘车日期为2018年1月10日—1月31日。车票办理范围限定为北京站、北京西站、北京南站和昌平北站始发列车的学生硬座车票，动车组列车二等座学生车票。2017年12月20日至26日，北京各大院校可登录互联网提报学生订票记录，并汇总提交订票单，逾期将停止订票。2017年12月28日至2018年1月2日，学生可查询订票结果，学生认可订票结果的，可到车站窗口、自助售票机支付票款并取票。如配票结果不符合学生需求，学生可选择放弃取票。(记者 王薇)</p></body></html>