<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>566</title>
</head>
<body>
<h1>
我国已“抢救”记录839位国家级项目代表性传承人-新华网
</h1>
<p id="demo"> 2017-12-23 13:20:15</p><p>新华社北京12月23日电（记者施雨岑）受国务院委托，文化部部长雒树刚23日向全国人大常委会作关于文化遗产工作情况的报告时透露，我国启动实施非物质文化遗产记录工程，目前已对839位国家级项目代表性传承人开展了抢救性记录。他说，我国对非物质文化遗产及其孕育发展的环境进行整体性保护。文化部设立了21个国家级文化生态保护实验区，各省（区、市）设立了146个省级文化生态保护区，努力实现“遗产丰富、氛围浓厚、特色鲜明、民众受益”的建设目标。雒树刚同时指出，一些非物质文化遗产生存发展困难。由于自然和社会环境快速变化，一些非物质文化遗产找不到与现代生活的结合点，逐渐失去活力，面临消失危险。有的习俗失去传承发展空间，有的传统技艺后继乏人。雒树刚表示，下一步，将切实贯彻“见人见物见生活”的理念，以保护传承的能力建设为着力点，全面提升非物质文化遗产保护传承水平。进一步探索非物质文化遗产各门类的保护传承和振兴措施，健全非物质文化遗产分类保护政策体系。建立代表性项目、代表性传承人动态管理机制，完善非物质文化遗产保护重点工程和项目的绩效评估机制。</p></body></html>