<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>568</title>
</head>
<body>
<h1>
我国修改检察官法拟规定检察官非经法定程序不被调离-新华网
</h1>
<p id="demo"> 2017-12-23 16:59:13</p><p>新华社北京１２月２３日电（记者丁小溪、白阳）日前提请十二届全国人大常委会第三十一次会议审议的检察官法修订草案规定，检察官非因法定事由、非经法定程序，不被调离、免职、降职、辞退或者处分。草案规定，人民检察院设立检察官权益保障委员会，保障检察官依法履职。行政机关、社会团体和个人不得干涉检察官依法办理案件，不得要求检察官从事违反法定职责的活动。对干涉检察官办理案件的行为，检察官有权拒绝，并应当予以记录，并由有关机关根据情节轻重追究行为人的责任。同时，草案明确，检察官有贪污受贿、徇私枉法；隐瞒、伪造、变造或者故意损毁证据；故意违反法律法规，或者因重大过失导致案件错误并造成严重后果；私自会见当事人及其代理人，接受当事人及其代理人不正当利益输送等行为之一的，应当给予处分；构成犯罪的，依法追究刑事责任。草案还规定，处分应当按照规定的权限和程序进行，处分决定应当以书面形式通知被处分的检察官，并列明作出决定的理由和依据。  我国刑事案件认罪认罚从宽制度试点八成以上案件15日内审结我国刑事案件认罪认罚从宽制度试点一年来审结案件超9万我国拟修法明确法官兼职禁止与任职回避我国立法拟明确人民陪审员惩戒机制</p></body></html>