<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>570</title>
</head>
<body>
<h1>
我国拟修法明确法官兼职禁止与任职回避-新华网
</h1>
<p id="demo"> 2017-12-23 14:25:12</p><p>新华社北京１２月２３日电（记者丁小溪、罗沙）日前提请十二届全国人大常委会第三十一次会议审议的法官法修订草案在法官兼职禁止和任职回避方面作出明确规定，增加了法官不得在“营利性组织”兼职的情形。在兼职禁止方面，草案规定，法官不得兼任人民代表大会常务委员会的组成人员，不得兼任行政机关、检察机关以及企业、事业单位和其他营利性组织的职务，不得兼任律师、仲裁员和公证员。法官经过批准可以在高等学校、科研院所兼职从事教学、研究工作。同时，草案明确，法官从人民法院离任后两年内，不得以律师身份担任诉讼代理人或者辩护人。法官被开除公职后，不得担任诉讼代理人或者辩护人，但是作为当事人的监护人或者近亲属代理诉讼或者进行辩护的除外。在任职回避方面，根据草案，法官的配偶、子女有以下情形之一的，法官应当实行任职回避：担任该法官所任职法院辖区内律师事务所的合伙人或者设立人；在该法官所任职法院辖区内以律师身份担任诉讼代理人、辩护人，或者为诉讼案件当事人提供其他有偿法律服务的。</p></body></html>