<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>571</title>
</head>
<body>
<h1>
浙江“点名道姓”通报一起违反八项规定精神问题-新华网
</h1>
<p id="demo"> 2017-12-23 13:38:37</p><p>新华社杭州１２月２３日电（记者岳德亮）浙江省纪委２２日通报称，绍兴市纪委、监委近期严肃查处了绍兴市公安局原调研员徐明法违反中央八项规定精神的问题。并指出，对党的十九大后仍然违反中央八项规定精神的党员干部，一律从严处理，受到党纪政务处分的，一律点名道姓通报曝光。今年９月１日晚，徐明法应管理对象、绍兴市某公司董事长陈某某的邀请，到绍兴市越城区某菜馆聚餐，除陈某某自带红酒外，共消费１９５０元，由陈某某的朋友郑某某支付。９月９日，徐明法又接受陈某某的邀请到乐清市雇用渔船出海捕鱼，租船费２７００元、餐费９００多元及徐明法的住宿费４８８元，均由陈某某支付。９月２９日，徐明法再次接受陈某某的邀请参加聚餐，除陈某某自带红酒外，消费款７５０元由陈某某支付。徐明法身为党员领导干部，多次违规接受管理对象安排的可能影响公正执行公务的宴请和娱乐活动，并被人拍摄视频上传网络，造成恶劣社会影响。据了解，今年１０月，徐明法受到党内严重警告和撤职处分，由调研员降为副调研员。</p></body></html>