<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>575</title>
</head>
<body>
<h1>
审计署：处置“僵尸企业”等仍存在一定困难-新华网
</h1>
<p id="demo"> 2017-12-23 17:01:37</p><p>新华社北京12月23日电（刘红霞、杨学嘉）审计署审计长胡泽君23日说，由于涉及面广、时间跨度大等原因，“僵尸企业”处置等问题在推进过程中还存在一定困难。胡泽君23日上午向全国人大常委会报告审计工作报告查出问题的整改情况。她表示，从整改情况看，还有少部分问题没有得到全面纠正，原因比较复杂。其中，有些问题属于历史遗留问题，涉及面广，整改工作面临一些困难。比如，对企业“三供一业”分离移交、“僵尸企业”和特困企业处置问题，相关企业正在加大推进力度，但由于涉及职工安置、资产处置等问题，推进还存在一定困难。有些则涉及体制机制问题，涉及改革中长期目标，需要通过不断深化改革逐步解决。比如，对于部分预算收支在三本预算中的归属不够明确、安排不够合理的问题，涉及政府预算体系建设的最终目标，财政部等部门正在研究修订预算法实施条例，进一步深化预算管理制度改革，改进和完善现有预算管理模式。还有个别问题涉及部门间沟通协调，需要一定时间履行必要程序。胡泽君表示，对尚未整改到位的问题，相关地方、部门和单位对进一步整改已经作出了安排和承诺。审计署将按照党中央、国务院的决策部署，依法履行审计监督职责。</p></body></html>