<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>577</title>
</head>
<body>
<h1>
陈希在全国组织部长会议上强调 为新时代中国特色社会主义伟大事业提供坚强组织保证-新华网
</h1>
<p id="demo"> 2017-12-23 19:11:32</p><p>新华社北京12月23日电 全国组织部长会议22日至23日在京召开，中共中央政治局委员、中组部部长陈希出席会议并讲话，强调要全面贯彻党的十九大精神，坚持以习近平新时代中国特色社会主义思想为指导，以党的政治建设为统领，坚决维护习近平总书记在党中央和全党的核心地位、坚决维护党中央权威和集中统一领导，在思想上政治上行动上同以习近平同志为核心的党中央保持高度一致，不断提高组织工作质量和水平，为新时代中国特色社会主义伟大事业提供坚强组织保证。陈希强调，要坚持用习近平新时代中国特色社会主义思想武装党员干部，牢固树立“四个意识”、坚定“四个自信”，提高适应新时代、实现新目标、落实新部署的能力。抓好换届后领导班子政治建设、思想建设，从严管理监督干部，督促落实中央八项规定和实施细则精神，力戒形式主义、官僚主义。着力建设高素质专业化干部队伍，以对党忠诚选忠诚于党的人、以事业为上选担当干事的人、以扎实作风选作风扎实的人。要以提升组织力为重点、突出政治功能，统筹推进基层党组织建设。坚持党管人才原则，努力构建具有全球竞争力的人才制度体系。持续建设“讲政治、重公道、业务精、作风好”模范部门，坚持实践实干实效，忠诚履行在全面从严治党、推进伟大事业中的政治责任。</p></body></html>