<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>578</title>
</head>
<body>
<h1>
江西南康警方破获一起特大传销案 47人被刑拘-新华网
</h1>
<p id="demo"> 2017-12-23 19:23:14</p><p>江西省赣州市南康区公安局23日披露，近日，南康警方侦破了一起特大传销案，涉案金额达500余万元人民币，涉及人员120余人。目前，47人已被警方刑拘。今年5月份，南康区公安局刑侦大队获得线索：一个以广东梅州籍人员邓某某、林某某等为首的犯罪团伙有从事传销违法犯罪活动的重大嫌疑。当地警方经过侦查发现，该团伙“高层”人员多数为广东梅州、山东菏泽、湖北黄冈籍人员，涉案人员众多，交易笔数及涉案金额量大，分布在南康城区多个出租屋内，活动频繁。今年来，南康区陆续发生多起传销活动引起的非法拘禁、抢劫、故意伤害案，造成了极其恶劣的社会影响。对此，南康警方成立专案组进行侦查。经过缜密侦查，专案组基本查明了该传销组织的运作模式、组织架构、人员组成等情况，同时锁定了传销体系顶层重要组织领导者和骨干人员。时机成熟，本月19日上午9时许，南康警方启动统一收网行动。当天，警方共抓获涉嫌传销人员59人，经梳理核查，确定“老总”级传销人员3人、经理级人员2人、主任级人员7人和传销下层人员40余人。此外，警方还查扣赃款现金70余万元人民币，银行卡、课件、传销网络图等涉案物品一批。当地警方称，该传销组织骨干成员20余人流窜至南康，分散多点租房，并以交男女朋友、介绍工作、合作优质投资项目为幌子，通过电话、互联网邀约等方式，诱骗亲朋好友或各地网友前来南康考察，随后拉拢他们加入非法传销组织。目前，7名犯罪嫌疑人涉嫌组织领导传销罪被公安机关刑事拘留，40人涉嫌非法拘禁、抢劫被刑拘，取保候审1人，治安拘留2人，12人被教育后遣散。 (吴鹏泉)</p></body></html>