<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>579</title>
</head>
<body>
<h1>
两高：认罪认罚从宽制度试点一年 刑事诉讼效率明显提升-新华网
</h1>
<p id="demo"> 2017-12-23 19:23:14</p><p>中国最高人民法院院长周强23日在京表示，经过一年的试点探索，认罪认罚从宽制度实施效果逐步显现，各试点法院、检察院办理刑事案件的质量与效率显著提高。当日最高法院长周强代表最高法，并受最高检委托，向全国人大常委会报告了“两高”关于在部分地区开展刑事案件认罪认罚从宽制度试点工作情况。2016年9月，十二届全国人大常委会第二十二次会议通过《关于授权最高人民法院、最高人民检察院在部分地区开展刑事案件认罪认罚从宽制度试点工作的决定》，授权在北京等18个地区开展刑事案件认罪认罚从宽制度试点，当年11月，试点工作正式启动。周强表示，截至今年11月底，18个试点地区共确定试点法院、检察院各281个，适用认罪认罚从宽制度审结刑事案件91121件103496人，占试点法院同期审结刑事案件的45%。其中检察机关建议适用的占98.4%。周强在报告中称，试点中，检察机关对认罪认罚案件依法提出从宽量刑建议，其中建议量刑幅度的占70.6%，建议确定刑期的占29.4%，法院对量刑建议的采纳率为92.1%。认罪认罚案件犯罪嫌疑人、被告人被取保候审、监视居住的占42.2%，不起诉处理的占4.5%，免予刑事处罚的占0.3%，判处三年有期徒刑以下刑罚的占96.2%，其中判处有期徒刑缓刑、拘役缓刑的占33.6%，判处管制、单处附加刑的占2.7%，非羁押强制措施和非监禁刑适用比例进一步提高。周强指出，试点工作促进了刑事诉讼效率明显提升。对于认罪认罚案件，检察机关审查起诉平均用时26天，人民法院15日内审结的占83.5%。适用速裁程序审结的占68.5%，适用简易程序审结的占24.9%，适用普通程序审结的占6.6%，当庭宣判率为79.8%，其中速裁案件当庭宣判率达93.8%。报告强调，下一步工作中，将加强对认罪认罚从宽制度试点中法官、检察官自由裁量权的依法监督，坚决防止发生徇私枉法、滥用职权等违法情形，确保公正廉洁司法。并进一步完善制度机制，正确处理赔偿和解与从宽处罚的关系，坚持具体问题具体分析，避免将赔偿与从宽完全等同起来。 (记者 高凯 梁晓辉 张蔚然)</p></body></html>