<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>581</title>
</head>
<body>
<h1>
我国拟立法优先支持基层医疗卫生机构发展-新华网
</h1>
<p id="demo"> 2017-12-23 16:42:59</p><p>新华社北京１２月２３日电（记者王宾）日前首次提请全国人大常委会审议的基本医疗卫生与健康促进法草案提出，国家对基本医疗服务实行分级诊疗制度，逐步建立起基层首诊、科学转诊的机制。国家优先支持基层医疗卫生机构发展，采取多种措施提高基层服务能力。“草案在多个章节中将医改中行之有效的政策用立法的形式固定下来，使医改的一些重要措施于法有据。”全国人大教育科学文化卫生委员会主任委员柳斌杰介绍说，立法有利于相关医改政策的深入推进和稳定持续。针对优质医疗资源存在“堵点”的问题，草案明确提出，国家对基本医疗服务实行分级诊疗制度。分级诊疗实行首诊负责制和转诊审核责任制，鼓励非急诊患者首先到基层医疗卫生机构就诊，并与基本医疗保险制度相衔接。各级和设区的市级人民政府卫生主管部门根据本行政区域内的医疗卫生需求，整合区域内政府办医疗卫生服务资源，明晰医疗机构的功能定位。草案提出，基层医疗卫生机构实行家庭医生签约服务模式。基层医疗卫生机构应当为本服务区域内的居民建立健康档案，根据居民健康状况和医疗需求，建立服务团队，与居民签订协议，明确服务内容，提供基本医疗、公共卫生和健康管理服务。</p></body></html>