<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>582</title>
</head>
<body>
<h1>
我国拟立法明确医疗卫生机构以公立为主导严格医疗质量安全管理-新华网
</h1>
<p id="demo"> 2017-12-23 16:43:00</p><p>新华社北京１２月２３日电（记者王宾）日前首次提请全国人大常委会审议的基本医疗卫生与健康促进法草案提出，医疗卫生机构以公立医疗卫生机构为主导。坚持非营利性医疗机构为主体、营利性医疗机构为补充的总体布局。“草案第四章对构建医疗卫生服务体系作出了系列规定。”全国人大教育科学文化卫生委员会主任委员柳斌杰介绍说，草案明确构建覆盖城乡、功能互补、连续协同的基本医疗卫生服务体系，为公民提供预防、保健、治疗、康复、护理、安宁疗护等全方位全周期的公共卫生和医疗服务。草案提出，国家采取措施，保障全体居民享有基本、有效的公共卫生服务，预防疾病的发生，控制影响健康的危险因素，防止传染病、慢性非传染性疾病、职业病、地方病、精神障碍等对健康的危害。针对公众关注的医疗质量安全问题，草案明确医疗机构应当建立健全内部质量管理和控制制度，成立医疗质量管理专门部门，严格遵循临床诊疗指南、临床技术操作规范和行业标准等有关要求。草案第九章还对医疗卫生机构违规开展执业活动等违反本法及国家其他法律法规规定的情况明确了应承担的相应法律责任。  我国拟立法优先支持基层医疗卫生机构发展基本医疗卫生与健康促进法草案首次提请审议 健康中国或将有法律保障</p></body></html>