<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>584</title>
</head>
<body>
<h1>
审计署：８家重点商业银行收回违规放贷近４６亿元-新华网
</h1>
<p id="demo"> 2017-12-23 19:11:59</p><p>新华社北京１２月２３日电（杨学嘉、刘红霞）审计署审计长胡泽君２３日表示，针对金融审计中查出的问题，８家重点商业银行已整改问题金额超过１７５亿元，其中，收回违规放贷近４６亿元，处理处分７３人次。胡泽君当天向全国人大常委会报告关于２０１６年度中央预算执行和其他财政收支审计查出问题的整改情况。她说，相关商业银行按照监管部门统一部署进行自查，重点排查违规放贷、贷款“三查”不严、信用风险暴露不充分等问题，对屡查屡犯的问题加大问责力度。针对违规放贷和办理票据业务问题，相关银行通过回收贷款、加固抵（质）押、加强贷后监管等措施已整改完毕，其中，收回贷款４５．８７亿元；对于资产质量管理问题，相关银行在自查基础上，准确分类、有效管控风险，并按要求披露信息。针对审计查出商业银行资金投向需要进一步优化的问题，８家重点商业银行切实加大了“三农”支持力度；制定完善小微企业金融服务相关配套制度文件，优化续贷业务办理流程；建立普惠金融事业部，调整内部考核机制，进一步提升小微和涉农业务金融服务效率。胡泽君表示，在推动防范化解金融风险隐患方面，银监会强化了信用风险管控，推动商业银行不良贷款企稳，依法进一步扩大银行的自主经营权。</p></body></html>