<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>586</title>
</head>
<body>
<h1>
中科大成立生命科学与医学部安徽省立医院成为其附属医院-新华网
</h1>
<p id="demo"> 2017-12-23 19:12:46</p><p>12月23日，市民在安徽省立医院南区感受机器人导诊服务。新华社记者刘军喜摄新华社合肥１２月２３日电（记者鲍晓菁）记者从中国科技大学与安徽省立医院同时获悉，２３日，中国科学技术大学生命科学与医学部正式成立，安徽省立医院成为中国科学技术大学附属第一医院。今后中科大将凭借其在生命科学与医学研究方面的良好基础，向临床医学教育和临床实践等领域拓展。据介绍，经安徽省人民政府、国家卫生计生委、中国科学院三方协商，决定共同建设中国科学技术大学生命科学与医学部。中科大生命科学与医学部将纳入合肥综合性国家科学中心的重点建设内容，培养医学高端人才将成为其重要使命。新成立的生命科学与医学部将探索“科大新医学”，即理工医交叉融合、医教研协同创新、生命科学与医学一体化发展路径。12月23日，安徽省立医院南区工作人员在给患者拿药。新华社记者刘军喜摄安徽省立医院作为直属附属医院，命名为“中国科学技术大学附属第一医院”，保留“安徽省立医院”的名称；安徽省立医院原承担的功能、任务、职责不变，独立法人单位性质不变。中国科学技术大学将附属第一医院作为生命科学与医学部的重要组成部分，纳入学校发展整体规划，承担临床教学和科研任务，在学科建设、人才引进培育、科研项目部署和平台建设等方面给予附属第一医院重点支持，全面提升医院的综合实力，培养和输送更多高素质的临床医学和科技创新人才。据介绍，拥有近６０年历史的中科大生物和生命学科近年来注重青年人才的引进和培养，在以免疫、神经退化性疾病、生殖、肿瘤为代表的临床医学研究中取得了重大进展和突破，ＥＳＩ（基本科学指标数据库）的临床医学进入全球１％，显示了很好的发展态势好潜力。早在２０１２年３月，中科大与安徽省立医院就签署了全面战略合作框架协议，建立前沿生物学科、基础医学研究与临床医学相结合的转化与应用联盟。几年来，双方在肿瘤免疫治疗、脑科学与类脑研究、人工智能辅助诊疗等领域合作不断深入。</p></body></html>