<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>587</title>
</head>
<body>
<h1>
我国立法拟明确人民陪审员惩戒机制-新华网
</h1>
<p id="demo"> 2017-12-23 19:41:43</p><p>新华社北京１２月２３日电（记者王琦、熊丰）此间正在举行的十二届全国人大常委会第三十一次会议审议的人民陪审员法草案，规定了人民陪审员的退出和惩戒机制，明确人民陪审员在陪审活动中徇私舞弊将在辖区范围内被公开通报。草案规定，人民陪审员有如下情形，经所在基层人民法院会同同级司法行政机关查证属实的，应当由基层人民法院院长提请同级人民代表大会常委会免除其人民陪审员职务：本人申请辞去职务的；无正当理由拒绝参加审判活动，影响审判工作正常进行的；因犯罪受刑事处罚、被开除公职的；徇私舞弊，造成错误裁判或者其他严重后果的。草案明确，人民陪审员无正当理由拒绝参加审判活动，或徇私舞弊造成错误裁判或其他严重后果的，可以采取通知所在单位、户籍所在地或者经常居住地的基层组织，在辖区范围内公开通报等措施进行惩戒；构成犯罪的，依法追究刑事责任。</p></body></html>