<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>588</title>
</head>
<body>
<h1>
全国人大常委会拟延长授权在北京大兴等试点暂调实施有关法律规定-新华网
</h1>
<p id="demo"> 2017-12-22 20:04:47</p><p>新华社北京12月22日电（记者李延霞）为进一步深化农村金融改革创新，稳妥有序推进农村承包土地的经营权和农民住房财产权抵押贷款试点，《关于延长授权国务院在北京市大兴区等232个试点县（市、区）、天津市蓟州区等59个试点县（市、区）行政区域分别暂时调整实施有关法律规定期限的决定（草案）》22日提请十二届全国人大常委会第三十一次会议审议。这意味着我国“两权”抵押贷款试点期限拟延长1年至2018年12月31日。全国人大常委会于2015年12月27日表决通过《关于授权国务院在北京市大兴区等232个试点县（市、区）、天津市蓟县等59个试点县（市、区）行政区域分别暂时调整实施有关法律规定的决定》，在试点地区分别暂时调整实施物权法、担保法关于集体所有的耕地使用权、集体所有的宅基地使用权不得抵押的规定，该决定授权将于2017年12月31日到期。中国人民银行副行长潘功胜受国务院委托，在十二届全国人大常委会第三十一次会议上作说明时介绍，“两权”抵押贷款试点工作稳步有序推进的同时，也存在一些需要通过进一步深化试点解决的问题，有必要延长试点授权期限。他表示，权属清晰是“两权”抵押融资的前提，但确权工作情况复杂，个别试点地区仍存在确权未颁证的情况，影响了试点进度。建立有效的抵押物处置机制是试点的核心，但“两权”抵押贷款多为近年新增业务，出现违约并进入处置阶段的案例较少，有必要继续通过试点检验各项处置机制的成熟度和稳定性。潘功胜说，建议“两权”抵押贷款试点期限延长1年至2018年12月31日，相应将在北京市大兴区等232个试点县（市、区）、天津市蓟州区等59个试点县（市、区）行政区域分别暂时调整实施有关法律规定的期限也延长1年至2018年12月31日。</p></body></html>