<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>592</title>
</head>
<body>
<h1>
国家文物局：2017年文物系统消防态势相对平稳-新华网
</h1>
<p id="demo"> 2017-12-22 18:54:01</p><p>新华社北京12月22日电（记者施雨岑）国家文物局督察司副司长岳志勇在22日举行的第四季度新闻发布会上表示，今年截至目前，我国重点文物保护单位发生火灾事故5起，与去年持平，文物系统消防态势相对平稳。岳志勇说，2017年，我国大力推进文物平安工程，包括长城、大运河、中央红军出发地、汉唐帝陵、布达拉宫、莫高窟等在内的一大批具有较高安全风险的国保单位安全防护技术条件得到了有效增强。据统计，2017年，中央财政共支持922个全国重点文物保护单位建设完善了安防消防设施，资金投入近20亿元，与去年相比增加了200%。其中，安防项目361个，资金7.3亿元；消防项目378个，资金10亿元；防雷项目183个，资金2.2亿元。</p></body></html>