<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>594</title>
</head>
<body>
<h1>
大数据为青海高原农牧业注入“智慧基因”-新华网
</h1>
<p id="demo"> 2017-12-22 18:52:45</p><p>新华社西宁12月22日电(记者邓万里、骆晓飞）天然黑枸杞、原香菜籽油、精品中药材……青海省西宁市湟中县的电商服务中心，一大早就围满了前来送货的村民。这个电商服务中心一边接全国各地的网上订单，一边通过线下体验店，用送货车将农牧民种养的生态农特产品在县城及周边城镇就地销售。近年来，随着大数据的不断发展，青海努力搭建起覆盖省、市（州）、县、乡（镇）、村五级互联互通、资源共享的农牧业信息网络和服务体系，为农牧区产业发展注入了“智慧基因”。今年12月初，由青海省农牧厅与青海宝讯溯源网络科技有限公司共同投资建设的青海省“互联网+”高原特色智慧农牧业大数据平台正式上线运行，标志着青藏高原智慧农牧业迈出了新步伐。平台采用“1+14+N”模式，即“1个平台、14大板块、N个应用系统”，围绕藏羊、牦牛、冷水鱼、果蔬、饲草料等高原特色产业，开展农牧业物联网示范应用，提高产出质量和效益，推动产业结构优化升级。青海宝讯溯源网络科技有限公司总经理韩艳介绍，平台目前已完成40多套设施农牧业物联网项目建设，种植业、畜牧业、渔业、草原等“四大板块”1755家生产主体GPS定位上图。“通过这样的专业平台，不仅可以购买到货真价实的高原特色产品，还可以查看每件产品的各个环节，非常放心。”来自西安的网上顾客刘先生说。青海省农牧厅市场信息处处长鄂永利表示，在目前建立的大数据平台基础上，青海将进一步推动农牧业线下线上融合与质量追溯体系整合提升，打造农畜产品产前、产中、产后的综合质量追溯大数据平台，助力青藏高原农特产品走向世界。</p></body></html>