<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>595</title>
</head>
<body>
<h1>
云南特困家庭矮小症患者医疗救助项目启动-新华网
</h1>
<p id="demo"> 2017-12-22 18:52:46</p><p>新华社昆明12月22日电（记者字强）中国红十字基金会“成长天使基金”和云南昆明医科大学第一附属医院近日启动“云南省特困和深度贫困家庭矮小症筛查治疗与救助项目”。被确诊为矮小症且符合救助标准并经审核通过后的特困患儿可获得免费药物治疗。记者从昆明医科大学第一附属医院获悉，中国红十字基金会“成长天使基金”联合长春金赛药业股份有限公司，为昆明医科大学第一附属医院捐赠生长激素注射液。该院将把受赠的生长激素注射液无偿用于矮小症患者治疗，并在公司的支持下，更大范围内救助更多特困和深度贫困家庭的矮小症患者。昆明医科大学第一附属医院儿科主任医师鲁萍介绍，矮小症是指儿童的身高低于同性别、同年龄、同种族儿童平均身高的2个标准差，且每年生长速度低于5厘米者。目前，矮小症患者就诊率和治疗率都比较低。鲁萍说，产妇年龄大、身体差等高危因素条件下生育的孩子可能有宫内发育迟缓等原因，婴儿垂体受损导致矮小。很多父母对孩子的身高没有足够重视，错失最佳干预时机，随着孩子年龄增大和体重增加，给后期干预治疗带来难度。矮小症患者在临床上要求“早诊断、早发现、早治疗”，最佳干预年龄为3—10岁。鲁萍说，治疗生长激素缺乏症较为安全有效的方法是使用生长激素注射液。我国生产的生长激素注射液是当今世界上较为先进和安全的药品，对孩子生理和将来生活不会带来不利影响。但是生长激素缺乏症的孩子要长期使用药物治疗直至骨骺闭合，很多贫困家庭难以承担昂贵的医药费。目前我国已经把生长激素列入医保目录，云南省2017年起相继有楚雄州、丽江市和西双版纳州等9个州市把生长激素纳入慢性病医保报销范围。专家呼吁，希望慈善机构、爱心团体、爱心人士及企事业单位加入对贫困家庭矮小症患者免费治疗救助活动。记者获悉，需要申请医疗救助的患儿家属可登陆中国红十字基金会官网进行申请，也可拨打电话（010－85594818／85594816／85594811）进行咨询求助。</p></body></html>