<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>596</title>
</head>
<body>
<h1>
中国电信告别程控交换进入全光网运营时代-新华网
</h1>
<p id="demo"> 2017-12-22 18:52:46</p><p>新华社北京12月22日电（记者高亢、刘硕）记者从中国电信获悉，中国电信最后一个TDM程控交换端局21日下电退网，这意味着中国电信已成为全光网络、全IP组网运营商,开启了全光网络运营时代。据了解，自2011年以来，中国电信持续推进“宽带中国”建设，到目前，已建成全球最大的光纤宽带网络，光纤到户（FTTH）光端口3.12亿个，服务1.5亿宽带用户。为进一步提升网络能力，满足智能化时代消费者需求，促进节能减排，中国电信加快升级通信基础网络，于2014年启动大规模用户端局退网，历经4年时间完成了4575个端局的程控交换机退网，迁移1.1亿用户，这也是全球最大规模的TDM交换网络用户迁移。中国电信网络运行维护事业部总经理孙小红表示，TDM交换机的整体退役，标志着中国电信完成了从电路交换向全IP交换的大跨越，加速了网络智能化重构,开启了全光网络运营新征程。据了解，TDM交换机即传统的程控电话交换机，是通过数字多路复用技术,实现在同一个通信媒体上传输多个数字化数据、语音和视频信号，以往传统电话、通讯大多是通过该类设备进行的。此次，程控交换机的整体退役，也是中国电信淘汰落后产能，推进节能减排，实现绿色发展的重要举措。经测算，TDM程控交换设备退网4年累计节电16.82亿度，相当于减排二氧化碳16.77亿千克。</p></body></html>