<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>597</title>
</head>
<body>
<h1>
我国拟明确人民英雄纪念碑的法律地位-新华网
</h1>
<p id="demo"> 2017-12-22 19:01:04</p><p>新华社北京12月22日电（记者罗沙、林晖）英雄烈士保护法草案22日提交全国人大常委会审议，草案规定国家建立英雄烈士纪念设施，纪念、缅怀英雄烈士，并首次对人民英雄纪念碑的法律地位作出界定。草案规定，矗立在北京天安门广场的人民英雄纪念碑，是近代以来中国人民和中华民族争取民族独立解放、人民自由幸福和国家繁荣富强的精神象征，是国家和人民纪念、缅怀英雄烈士的永久性纪念设施。人民英雄纪念碑及其名称、碑题、碑文、浮雕、图形、标志等受法律保护。草案同时对其他英雄烈士纪念设施的保护、开放和管理作了规定，为纪念缅怀英雄烈士提供场所和服务，发挥其作为爱国主义教育基地的作用。草案规定，国务院和县级以上地方人民政府应当根据实际情况，将英雄烈士纪念设施建设和保护纳入国民经济和社会发展规划，加强对英雄烈士纪念设施的保护管理。对具有重要纪念意义、教育意义的英雄烈士纪念设施依法核定公布为文物保护单位。草案还规定，英雄烈士纪念设施应当免费向社会开放，供公众瞻仰纪念设施、悼念英雄烈士、告慰先烈英灵，开展教育纪念活动。草案明确提出，任何组织和个人不得在英雄烈士纪念设施保护范围内从事与纪念英雄烈士无关的活动。禁止侵占英雄烈士纪念设施保护范围内的土地和设施，禁止破坏、污损英雄烈士纪念设施。</p></body></html>