<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>598</title>
</head>
<body>
<h1>
财政部废止《会计从业资格管理办法》等3部规章-新华网
</h1>
<p id="demo"> 2017-12-22 19:21:26</p><p>新华社北京12月22日电（郁琼源 杨学嘉）财政部22日对外宣布废止《会计从业资格管理办法》等3部规章，废止《财政部关于印发<外国政府贷款管理规定>的通知》等34件规范性文件。据了解，为落实简政放权、放管结合、优化服务的改革措施，以及配合相关法律的修改，财政部组织开展此次规章、规范性文件清理工作。“比如会计法此前进行了修改，取消了会计从业资格考试，会计从业资格管理办法就相应废止了，与会计有关的大部分文件也是这样。”瑞华会计师事务所管理合伙人张连起说。根据此次公布的《财政部关于废止部分规章和规范性文件的决定》，3部规章被废止，包括《中外合作经营企业外国合作者先行回收投资审批办法》、《会计从业资格管理办法》和《财政部关于修改＜会计从业资格管理办法＞的决定》。此外，34件规范性文件被废止，包括《财政部关于印发＜会计从业资格考试管理规定＞的通知》、《财政部办公厅关于印发会计从业资格考试大纲（修订）的通知》、《财政部关于印发＜外国政府贷款管理规定＞的通知》、《财政部关于进一步加强外国政府贷款项目和资金管理的通知》等。</p></body></html>