<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>6</title>
</head>
<body>
<h1>
“百里嘉”“山竹”相继来袭 国家防总启动Ⅳ级应急响应-新华网
</h1>
<p id="demo"> 2018-09-12 08:56:19</p><p>中央气象台11日10时发布台风蓝色预警，11日8时，今年第23号台风“百里嘉”正式生成，预计将以每小时10—15公里速度向偏西方向移动，最强可达强热带风暴级或台风级，并将于13日白天在海南岛东部到广东西部一带沿海登陆。与此同时，第22号台风“山竹”预计将于16日在广东中部沿海登陆，登陆时强度为强台风级或超强台风级，有可能成为今年以来登陆我国的最强台风。预计，11日14时至12日14时，台湾海峡、巴士海峡、南海东北部以及福建沿海、广东东部沿海、台湾北部和南部沿海将有6—7级大风，阵风8级。福建东南部和广东东南部的部分地区有大雨，局地有暴雨。气象部门提醒，华南沿海地区要提高警惕，积极防御双台风影响。国家防总已于10日提前向粤、桂、琼等地发出防范通知，并于11日19时启动防汛防台风Ⅳ级应急响应，向粤、桂、琼、滇四省区派出4个工作组协助开展台风防御工作。目前南海休渔期结束不久，海上作业船只人员多，回港上岸难度大；加之将近汛末，容易产生麻痹侥幸思想，防汛防台风形势严峻。国家防总要求相关部门和地区强化预测预报预警，及时发布防风避险预警信息。受台风登陆影响，9月11日起广铁集团暂停发售9月13日至14日海南环岛高铁车票，9月17日至18日广深港及杭深高铁、广深及广珠城际所有本线列车以及粤湘两地始发前往上述方向的列车车票等。广东省防总、广东省重大气象灾害应急办公室于11日9时分别启动防风Ⅳ级应急响应和气象灾害（台风）Ⅳ级应急响应。（记者王浩、赵贝佳、李刚、贺林平）</p></body></html>