<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>60</title>
</head>
<body>
<h1>
北京市教委：民办高校招生禁用“最大”“最好”-新华网
</h1>
<p id="demo"> 2018-05-26 07:39:27</p><p> 昨天，市教委发布《关于做好2018-2019学年民办高校招生简章和广告备案工作的通知》（以下简称《通知》）。《通知》明确提出，招生宣传内容不得使用“最大”“最好”“第一”等描述性用语，不得使用“100％考试通过率”“入学即签订就业协议”等承诺性用语。 《通知》要求，凡经市教委批准设立或管理的，持有效的《办学许可证》和《法人登记证》，2018-2019学年具有招生资格的民办普通高校、独立学院、民办非学历高等教育机构发布招生简章和广告，均要进行备案。备案内容包括，民办高校在本市或外省（自治区、直辖市），通过报刊、广播、电视、互联网、户外广告、未经出版的印刷品及影像资料等媒介，以刊登、播放、张贴、散发、邮寄等方式发布的2018-2019学年秋季及春季招生简章、广告、报考指南、入学通知等各种形式的招生及办学宣传信息。 根据要求，招生宣传的主体必须是民办高校，不得以内设机构（如二级学院）名义单独进行宣传。有关办学条件、教学活动的图片要使用本校及本校师生员工的实景照片，不得使用电脑合成的图片；使用的图片要有文字说明，选用人物图片要征得本人同意使用。 《通知》强调，招生宣传内容不得含有虚假、模糊、夸大的信息，不得对学生和家长产生误导。不得回避、混淆学历教育与非学历教育的区别。非学历教育招生简章和广告在专业设置、证书颁发等内容上要严格区别于学历教育，不得标注北京教育考试院统一编制的普通本(专)科招生“学校代码”“专业代码”等内容。 同时，招生宣传不得使用“最大”“最好”“第一”等描述性用语，不得使用“100％考试通过率”“入学即签订就业协议”“100%就业率”“高薪就业，一步到位”等承诺性用语。不得对学校办学条件、师资力量及学生就业前景、薪金水平等做虚假、夸大宣传。（记者 武文娟）</p></body></html>