<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>600</title>
</head>
<body>
<h1>
国家文物局：我国联合考古合作已覆盖１２个国家１５个项目-新华网
</h1>
<p id="demo"> 2017-12-22 20:09:04</p><p>新华社北京１２月２２日电（记者施雨岑）国家文物局办公室主任解冰在２２日举行的第四季度新闻发布会上表示，目前，我国文物援外和联合考古项目在周边国家形成了较为完整的项目链，历史古迹保护修复覆盖６个国家、８个项目，联合考古合作已覆盖１２个国家、１５个项目。据解冰介绍，我国在埃及、沙特、伊朗、印度、孟加拉国、缅甸、老挝、哈萨克斯坦、吉尔吉斯斯坦、乌兹别克斯坦、蒙古国等“一带一路”沿线国家开展联合考古、规划设计和修复合作项目，为“一带一路”文化建设提供坚实支撑。他透露，２０１８年，国家文物局将做好援柬茶胶寺竣工移交的相关工作，稳步推进尼泊尔九层神庙、乌兹别克斯坦希瓦古城等开工项目；继续推进缅甸蒲甘佛塔修复项目的落地；另外要择机在巴基斯坦、斯里兰卡等国家新开文物援助项目。此外，我国在文物对外交流方面取得进展。据统计，我国截至目前已经与２０个国家签署“防止盗窃、盗掘和非法进出境文化财产”的政府间双边文件。</p></body></html>