<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>603</title>
</head>
<body>
<h1>
五年来全国教育经费总投入累计接近17万亿元-新华网
</h1>
<p id="demo"> 2017-12-23 16:48:50</p><p>新华社北京12月23日电（记者郁琼源胡浩）财政部部长肖捷23日表示，2012至2016年，全国教育经费总投入累计接近17万亿元，财政对教育投入不断加大，全国教育经费快速增长。受国务院委托，财政部部长肖捷23日上午在向十二届全国人大常委会第三十一次会议作国务院关于国家财政教育资金分配和使用情况的报告时介绍，教育投入是支撑国家长远发展的基础性、战略性投资，是教育事业的物质基础，是公共财政的重要职能。“中央财政和地方财政把教育摆在优先发展的战略位置，重点投入，优先保障，并强化资金使用管理，提高资金使用效益。”肖捷说，2012至2016年，全国教育经费，包括财政性教育经费和非财政性教育经费，总投入累计接近17万亿元，其中2016年达到38888亿元，是2012年的1.36倍，年均增长7.9%。“国家财政性教育经费支出占国内生产总值比例一般不低于4%。”肖捷说，财政性教育经费居主导地位。2016年，全国财政性教育经费，主要包括一般公共预算和政府性基金预算安排的教育经费等，达31396亿元，是2012年的1.36倍，年均增长7.9%，占全国教育经费总投入的80.7%，占 GDP比例自2012年以来连续5年保持在4%以上（2016年达到4.22%）。“全国一般公共预算安排的教育支出28073亿元，是财政性教育经费的主渠道，是一般公共预算的第一大支出，占比达到15%。此外，非财政性教育经费成为重要补充。”肖捷说。据介绍，2016年，全国非财政性教育经费7492亿元，占全国教育经费总投入的19.3%，其中：事业收入6277亿元（其中学费收入4771亿元），占83.8%；民办学校中举办者投入203亿元，占2.7%；捐赠收入81亿元，占1.1%；其他931亿元，占12.4%。新闻链接数万亿国家财政教育资金用在哪儿了？国务院报告透露三个“一半以上”预算分配绩效怎么搞？财政教育资金这样加强管理</p></body></html>