<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>604</title>
</head>
<body>
<h1>
预算分配绩效怎么搞？财政教育资金这样加强管理-新华网
</h1>
<p id="demo"> 2017-12-23 16:48:50</p><p>新华社北京12月23日电（记者郁琼源胡浩）财政部部长肖捷23日表示，近年来，财政部会同各地区和教育部等相关部门，积极采取措施加强财政教育资金管理，着力提高资金分配使用的科学性、规范性和有效性。受国务院委托，财政部部长肖捷23日上午向十二届全国人大常委会第三十一次会议作国务院关于国家财政教育资金分配和使用情况的报告。在制度方面，肖捷说，财政部、教育部修订了高等学校和中小学校财务制度、会计制度等4个教育财务会计管理制度，各高校和中小学据此制定了单位内部财务管理办法，为进一步规范各级各类学校财务会计行为奠定了制度基础。制（修）订专项资金管理办法。“扎紧制度笼子。各地也结合实际制定完善了地方财政教育专项资金管理办法，坚持用制度管钱管事管人。”肖捷说。此外，财政部会同教育部等有关部门，自2016年以来编制教育三年滚动支出规划，强化中期财政规划对年度预算的约束，提高预算编制的前瞻性、可持续性。加强预算执行进度考核，中央部门教育预算执行率保持在98%以上。“各地也狠抓预算执行，加快预算执行进度，如浙江省建立了省属高校预算执行定期通报制度，对各省属高校预算执行情况每季度通报一次，取得明显效果。”肖捷说。按照简政放权和规范预算管理的要求，2016年对中央高校预算拨款制度进行了改革，优化基本支出体系，完善生均定额拨款方式；重构项目支出体系，将原13个项目优化整合为6个项目，并改进资金分配和管理方式。按照完善转移支付制度的要求，将专项转移支付项目数量由2013年的23项，清理、整合、归并为目前的9项，资金由财政部会同教育部等相关部门，主要按照比例、因素、定额等方法分配，由各地按规定统筹安排使用。中央部门教育预算所有项目和中央财政教育专项转移支付全部编报绩效目标。新闻链接五年来全国教育经费总投入累计接近17万亿元数万亿国家财政教育资金用在哪儿了？国务院报告透露三个“一半以上”我国农村生均教育经费支出五年增长过半</p></body></html>