<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>605</title>
</head>
<body>
<h1>
我国农村生均教育经费支出五年增长过半-新华网
</h1>
<p id="demo"> 2017-12-23 16:48:50</p><p>新华社北京12月23日电（记者胡浩郁琼源）受国务院委托，财政部部长肖捷23日向全国人大常委会作国务院关于国家财政教育资金分配和使用情况的报告时介绍，我国农村生均教育经费支出保持较快增长，农村地区和中西部地区的孩子有了更好的就学条件和更多接受高质量教育的机会。统计数据显示，2016年，农村普通初中、小学、幼儿园生均教育经费支出依次为1.44万元、1.08万元、0.61万元，分别比2012年增长50.2%、51%、51.1%。数据表明，五年来，我国义务教育均衡发展稳步推进，80%以上的进城务工人员随迁子女在流入地公办学校接受义务教育。2012年以来全国家庭经济困难学生资助政策累计资助学生4.25亿人次、资助金额6981亿元。从国民总体受教育程度看，我国新增劳动力受教育平均年限达到13.3年；我国有1.7亿人接受过高等教育，新成长劳动力中接受高等教育比例超过45%。对此，教育部人文社会科学重点研究基地、东北师范大学中国农村教育发展研究院院长邬志辉认为，高度重视和发展农村教育不仅事关农村青少年德智体美全面发展，而且事关国家人力资本竞争力提升。“农村教育是建设教育强国不可或缺的重要组成部分，农村教育现代化则国家教育现代化，农村教育强则国家教育强。”邬志辉介绍，我国农村学前教育持续发展，超前完成多项国家政策目标；农村义务教育均衡化水平有序提升，生均教育资源占有量有所提高；高中阶段普职教育稳步推进，贫困学生资助体系不断完善，重点高校招收农村学生比例继续扩大，农村学生接受高等教育机会增加较快。下一步，还应继续推动义务教育均衡发展，提高农村教育质量。</p></body></html>