<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>606</title>
</head>
<body>
<h1>
数万亿国家财政教育资金用在哪儿了？国务院报告透露三个“一半以上”-新华网
</h1>
<p id="demo"> 2017-12-23 16:48:50</p><p>图表：国家财政教育资金用在哪儿了？ 新华社记者 周大庆 编制新华社北京12月23日电（记者胡浩郁琼源）受国务院委托，财政部部长肖捷23日向全国人大常委会作国务院关于国家财政教育资金分配和使用情况的报告时介绍，2016年我国财政性教育经费一半以上用于义务教育，一半以上用于中西部地区并向农村倾斜，一半以上用于教师工资福利和学生资助。肖捷说，2016年全国教育经费总投入为38888亿元，是2012年的1.36倍，年均增长7.9%。其中，全国财政性教育经费31396亿元，占全国教育经费总投入的80.7%，占GDP比例自2012年以来连续5年保持在4%以上。2016年全国财政性教育经费中，用于义务教育16583亿元，占52.8%，体现了义务教育重中之重的地位。从区域看，中央财政教育转移支付资金重点支持中西部地区以及革命老区、民族地区、边疆地区和贫困地区。2016年，中央财政教育转移支付资金的84%左右用于支持中西部地区。地方财政性教育经费中，东、中、西部地区分别为11718亿元、8813亿元和8329亿元，中西部地区财政性教育经费占全国（不含中央本级）的比重约60%。从支出项目看，财政性教育经费一半以上用于教师工资福利和学生资助。2016年国家财政性教育经费支出项目中，教师工资福利和学生资助两项合计占61.1%，比2012年提高10.6个百分点。        五年来全国教育经费总投入累计接近17万亿元     预算分配绩效怎么搞？财政教育资金这样加强管理</p></body></html>