<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>610</title>
</head>
<body>
<h1>
国管局就党政机关办公用房公务用车管理作出安排部署-新华网
</h1>
<p id="demo"> 2017-12-23 20:52:12</p><p>新华社北京１２月２３日电（记者林晖）记者２３日从国家机关事务管理局获悉，国管局日前向各省、自治区、直辖市和新疆生产建设兵团机关事务管理部门和中央国家机关各部门、各单位印发通知，对贯彻实施《党政机关办公用房管理办法》《党政机关公务用车管理办法》作出了安排部署。通知强调，“两个办法”是落实党的十八大以来全面从严治党战略部署、中央八项规定精神和国务院“约法三章”要求的制度成果，是学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神、推进全面从严治党向纵深发展的重要举措。通知指出，要破解体制机制障碍，将集中统一管理原则贯穿到办公用房、公务用车管理的各领域各环节，办公用房实行统一规划、统一权属、统一配置、统一处置，公务用车实行统一编制、统一标准、统一购置经费、统一采购配备，合理配置资源，降低机关运行成本，提高服务保障效能。统筹考虑各个管理环节问题，对办公用房的权属、配置、使用、维修、处置利用等全生命周期进行规范，严控配置“入口”，多渠道创新处置“出口”。通知要求，各地区各部门结合工作实际，于２０１８年年底前制定或修订实施办法，因地制宜出台相关具体政策和标准，梳理已有涉及办公用房和公务用车管理的政策文件并做好修改或废止工作，确保“两个办法”能落地、可推进、易执行。国家机关事务管理局将会同有关部门，尽快研究制定配套制度和标准，确保“两个办法”的规定落实落细。新闻链接中共中央办公厅 国务院办公厅印发《党政机关公务用车管理办法》中共中央办公厅 国务院办公厅印发《党政机关办公用房管理办法》</p></body></html>