<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>612</title>
</head>
<body>
<h1>
我国拟修法完善法官惩戒制度-新华网
</h1>
<p id="demo"> 2017-12-24 11:11:41</p><p>新华社北京１２月２４日电（记者丁小溪、罗沙）日前提请全国人大常委会审议的法官法修订草案在进一步完善法官惩戒制度方面作出重要规定，明确法官有故意违反法律法规，或者因重大过失导致裁判结果错误并造成严重后果的，应当给予处分；构成犯罪的，依法追究刑事责任。最高人民法院院长周强日前在向十二届全国人大常委会第三十一次会议作草案说明时指出，根据审判工作实际，考虑到现行法官法中“滥用职权，侵犯自然人、法人或者其他组织的合法权益”“玩忽职守，造成错案或者给当事人造成更严重损失”两种情形在实践中操作较为困难，草案将上述两种情形进行整合，修改为“故意违反法律法规，或者因重大过失导致裁判结果错误并造成严重后果”的情形。在停职和延期晋升方面，草案规定，法官在受处分期间不得晋升职务，处分期间不计入职务晋升年限以及工资档次晋升年限。此外，法官违法违纪，已经被立案调查，不宜继续履行职责的，可以按照规定的程序和管理权限暂停其履行职务。此外，草案对法官惩戒委员会及其职责进行专门规定。根据草案，最高人民法院和省、自治区、直辖市设立法官惩戒委员会，负责审查认定法官是否存在本法规定的相关违反审判职责的行为，提出构成故意违反职责、存在重大过失、存在一般过失或者没有违反职责的意见，人民法院依照有关规定作出惩戒决定，并给予相应处理。        我国出台一系列配套法规文件构建网络安全制度体系     检察官法修订草案：检察官不得兼任律师、仲裁员和公证员    3年来我国取消违法违规网站许可或备案、关停违法网站13000多家     全国人大常委会法工委公布多起备案审查典型案例</p></body></html>