<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>617</title>
</head>
<body>
<h1>
我国拟立法保障人民陪审员履职期间工资福利-新华网
</h1>
<p id="demo"> 2017-12-24 18:01:23</p><p>新华社北京１２月２４日电（记者王琦、熊丰）此间正在举行的十二届全国人大常委会第三十一次会议审议的人民陪审员法草案规定，有工作单位的人民陪审员参加审判活动期间，所在单位不得克扣或变相克扣其工资、奖金及其他福利待遇。草案明确，人民陪审员所在单位如果克扣工资等，基层人民法院应当及时向人民陪审员所在单位，或所在单位的主管部门，或所在单位的上级部门提出纠正意见。此外，草案对无固定收入的人民陪审员参加审判活动期间的补助作出规定，即由人民法院参照当地职工上年度平均货币工资水平，按实际工作日给予补助。草案还规定，人民陪审员因参加审判活动而支出的交通、就餐等费用，由人民法院参照当地国家机关一般工作人员的出差补助标准给予补助。参加审判活动期间，由人民法院为人民陪审员办理人身意外伤害保险，将保费纳入当年业务经费预算。</p></body></html>