<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>618</title>
</head>
<body>
<h1>
北京：“小学科”将纳入２０１８年中考-新华网
</h1>
<p id="demo"> 2017-12-24 20:03:35</p><p>新华社北京１２月２４日电（记者 赵琬微）记者２４日从北京市教委获悉，北京将从２０１８年起调整中考考试科目。根据新中考改革方案，２０１８年北京中考将分为必考与选考科目，历史、地理、生物、思想品德等“小学科”纳入中考。根据日前发布的２０１８年中考《考试说明》，２０１８年北京市中考在原５科基础上增加４个学科，由过去的必考调整为“必考＋选考”的形式。其中，语文、数学、英语３科为必考科目，物理、生物（化学）、历史、地理、思想品德实行“五选三”选考。其中生物（化学）为两个学科综合为一个科目。此外，英语增加听说考试。在调整科目的同时，试卷分值与考试时长也有所变化。其中，语文、数学分数由１２０分变为１００分；英语笔试分数由９０分变为６０分，考试时长由１００分钟变为９０分钟；物理笔试分数由１００分变为９０分，考试时长由１２０分钟变为９０分钟；化学笔试分数由８０分变为４５分，考试时长由１００分钟变为“生物＋化学”共９０分钟。为减轻考生负担，在考题类型基本保持稳定的基础上，语文删去“情境写作”，数学删去一道试题，英语笔试总题量由４６题变为３９题；物理、化学等科目也采取了合并知识点，精简题型等方式精简考试内容。据了解，选考科目中的“思想品德”将以初中学生的生活为基础，贯彻思想品德课程的思想性、人文性、实践性和综合性的要求，考查学生在自我成长、我与他人和集体、我与国家和社会的关系中表现出来的道德品质、健康心理、法治观念、参与意识，解决实际问题的能力等。北京市教委有关负责人表示，力求尊重学生的个性化发展，让学生有更多的选择。“五选三”选考科目将在考试内容、试卷结构、题型等方面整体设计，充分考虑学科平衡，努力做到命题指导思想相同、考试内容相当、试卷结构相似，让选择不同考试科目组合的考生都能够充分发挥出自己的水平。</p></body></html>