<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>62</title>
</head>
<body>
<h1>
云贵川等地将有强降水 较强冷空气将影响北方地区-新华网
</h1>
<p id="demo"> 2018-05-26 08:11:17</p><p>据中央气象台网站消息，中央气象台预计，26日8时至27日8时，贵州东部和南部、云南东部和南部、四川南部等地的部分地区有大到暴雨；26日至27日，受冷空气影响，内蒙古中东部、华北北部、东北地区南部等地气温下降4～6℃，部分地区8℃以上。昨日(25号)，湖北北部和东部、河南东南部、安徽中南部、江苏南部、上海、浙江北部、湖南西北部等地部分地区出现大到暴雨，安徽安庆和阜阳、江苏苏州和南通、上海崇明、湖南张家界等局地降大暴雨(100～193毫米)，上述地区最大小时降水量60～81毫米。另外，甘肃东南部、四川盆地西北部降中到大雨，四川阿坝和绵阳局地降暴雨(50～58毫米)。今晨、山东西部、河南中北部、江苏南部出现能见度不足1公里的雾，局地能见度不足200米。图片来源：中央气象台中央气象台预计，26日8时至27日8时，浙江中部、江西北部、湖南西部、贵州东部和南部、广西中西部、云南东部和南部、四川南部等地的部分地区有大到暴雨，其中，湖南西南部、贵州东部、广西西北部、云南东部局地有大暴雨(100～130毫米)；上述部分地区并伴有短时强降水、雷暴大风等强对流天气，最大小时降水量40～60毫米。中央气象台5月26日6时继续发布暴雨黄色预警。中央气象台预计，26日至27日，受冷空气影响，内蒙古中东部、华北北部、东北地区南部等地气温下降4～6℃，部分地区8℃以上，上述地区有4～6级偏北风，阵风7～8级。另外，受大风影响，西北、华北中北部等地的部分地区自西向东将有一次沙尘天气过程，其中5月26日8时至27日8时，新疆南疆盆地、内蒙古中西部、甘肃河西、宁夏北部、陕西中北部、山西、河北西北部、北京等地的部分地区有扬沙或浮尘天气。因此，中央气象台发布沙尘天气预报。此外，5月26日早晨至上午，河北南部、河南中东部、山东西部、江苏南部等地有大雾，部分地区有能见度不足200米的强浓雾。因此，中央气象台发布大雾天气预报。全国其余地区受降水和冷空气影响，无明显霾天气。</p></body></html>