<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>627</title>
</head>
<body>
<h1>
公安部：2017年超千名电信网络诈骗嫌犯被押解回国-新华网
</h1>
<p id="demo"> 2017-12-25 11:41:07</p><p>原标题：2017年公安打击治理电信网络新型违法犯罪实现“两升两降”超千名电信网络诈骗嫌犯被押解回国记者今天（24日）从公安部获悉，今年以来，全国公安机关按照国务院打击治理电信网络新型违法犯罪工作部际联席会议统一部署，深入推进打击治理电信网络新型违法犯罪工作，初步实现了查处违法犯罪嫌疑人数量明显上升、破案数明显上升、发案数明显下降、人民群众财产损失明显下降“两升两降”的目标。据统计，今年以来，全国公安机关共破获电信网络诈骗案件7.8万起，查处违法犯罪人员4.7万名，同比分别上升55.2%、50.77%；共收缴赃款、赃物价值人民币13.6亿元，止付、冻结涉案资金103.8亿元，阻截、清理涉案银行账户28.5万个，关停涉案电话号码37.1万个；共立电信网络诈骗案件53.7万起、造成群众经济损失120.1亿元，同比分别下降6.1%、29.1%。境内战场上，各地公安机关坚持民生为本，重拳打击境内窝点，破获了一批大案要案，联席会议挂牌的12个电信网络诈骗犯罪重点地区整治成效明显，河北省丰宁县、江西省余干县、福建省龙岩市新罗区、安徽省合肥市、广东省茂名市电白区5个重点地区已经摘牌。境外战场上，公安机关先后17次派工作组赴拉脱维亚、斐济、印度尼西亚、马来西亚、柬埔寨、越南等20多个国家开展打击电信网络诈骗犯罪警务合作，成功捣毁境外电信网络诈骗犯罪窝点128个，抓获并押解带回犯罪嫌疑人1014名，破获案件5000多起，有力震慑了跨国诈骗犯罪集团，得到国际社会广泛好评。据公安部有关负责人介绍，在公安机关取得较好打击治理战果、有力维护社会治安大局持续稳定的同时，当前电信网络违法犯罪形势依然严峻，犯罪手段日趋专业化、智能化，手法不断翻新，给打击治理工作带来了新问题、新挑战。下一步，公安机关将持续提升打击治理能力水平，切实维护好人民群众财产安全，进一步提高人民群众安全感和满意度。（记者 蔡长春 见习记者 董凡超）</p></body></html>