<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>629</title>
</head>
<body>
<h1>
十二届全国人大五次会议代表提出的建议、批评和意见已全部办理完毕-新华网
</h1>
<p id="demo"> 2017-12-24 20:25:21</p><p>新华社北京12月24日电（记者王琦）十二届全国人大常委会第三十一次会议24日上午听取了全国人大常委会办公厅关于十二届全国人大五次会议代表建议、批评和意见（以下简称建议）办理情况的报告。报告显示，代表们提出的8360件建议已全部办理完毕，并由各承办单位答复代表。全国人大常委会副秘书长信春鹰报告时说，代表提出建议有以下几个特点：一是着眼于党和国家工作大局，更加聚焦改革发展重点难点问题，其中需要多个部门共同办理的有5373件，占建议总数的64.3%。二是更加注重反映人民群众关注的突出问题，代表通过专题调研、视察、座谈、走访等形式，形成的建议有4993件，占建议总数的59.7%。三是以代表团名义提出的建议131件，内容主要涉及加快基础设施建设、精准扶贫精准脱贫、加强生态环境建设等方面。信春鹰指出，从办理结果看，代表建议所提问题得到解决或计划逐步解决的占建议总数的80.5%。在办理过程中，各有关方面深入贯彻以人民为中心的发展思想，将办理代表建议与国家机关密切联系代表、加强改进工作结合起来，进一步增强了代表建议办理实效。一是积极回应代表和人民群众关切，认真研究吸纳代表意见，推动立法、司法改革等法治建设工作。二是充分发挥代表建议的重要参考作用，完善相关政策措施，保持经济平稳健康发展。三是将办理建议和推进改进工作相结合，注重保障和改善民生，推进生态环境保护和精准脱贫，促进社会和谐稳定。</p></body></html>