<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>630</title>
</head>
<body>
<h1>
ＡＧ６００将使我国海上搜救能力大幅提升-新华网
</h1>
<p id="demo"> 2017-12-24 20:32:20</p><p>新华社广州１２月２４日电（记者 胡喆 王攀）国产大型灭火／水上救援水陆两栖飞机ＡＧ６００于２４日在广东珠海成功首飞。ＡＧ６００飞机具备良好的水陆起降和低空低速特性，相比于直升机、船只以及其他平台具有速度快、航程远的特点，在中远海海上快速支援和搜救等特种任务方面具有得天独厚的优势，其航程超过４０００公里，一次可救援５０名遇险人员或装载相应重量的空投物资。ＡＧ６００项目行政指挥系统办公室主任冷毅勋介绍，ＡＧ６００飞机的应用可以实现中国对南海更远端的中沙群岛、南沙群岛以及公海等区域的救助，更好地满足日益增长的海洋发展需求。中国急需将ＡＧ６００飞机纳入航空应急救援体系，发挥其海上支援和搜救速度快、可达性和机动性好等特点，填补中国海上救援特别是中远海救援力量的不足，带动海上搜索救援相关技术的发展，最终实现海上搜救能力的大幅提升，为建设成海洋强国奠定基础。据了解，目前我国应急救援体系正在逐步完善中，相应的任务体系、指挥体系、运行体系、协同体系还未形成明确的机制，发展远海、深海搜索设备的研发将成为未来的方向。中国航空工业集团民机产业部项目部有关负责人表示，未来将开展水陆两栖飞机的海上救援模式的深层研究，为用户提供实际使用的数据和方法，与现有的救援装备形成协同配合，在实际的海上救助中发挥其快速灵活的特点，并逐步积累使用经验，同时开展针对水陆两栖飞机特点的海上搜索设备和救援装备的研发，水陆两栖飞机配备高性能的先进设备，利用其多用途平台，达到远海救助的目的。</p></body></html>