<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>641</title>
</head>
<body>
<h1>
男子穿假警服上街溜达遇真警察 被行拘8天-新华网
</h1>
<p id="demo"> 2017-12-27 07:30:57</p><p>大写加粗的尴尬！云南一假警察上街溜达炫耀遇真警察后被行政拘留8天 云南网讯 “李鬼扮李逵，假警察撞见真警察，栽了！”近日，云南永善一年轻小伙网购了一套警服及警用标志，他不仅穿着警服上网聊天，还上街四处溜达，以此来炫耀自己的身份。谁料，其下半身的装扮和耳钉出卖了他，被正规的民警逮个正着。目前，他已被警方给予行政拘留8日的处罚。据介绍，12月24日中午，永善县公安局溪洛渡派出所民警开展街面巡逻防控工作时，在县城玉泉路华英商厦门前遇见了一位身着警服的年轻小伙。第一眼看见小伙子时，民警就觉得有哪里不对劲。待仔细观察发现，小伙子虽然穿着警服，但着装不规范，不仅是衣裤不搭调，而且双耳还带有耳钉。民警心想，要是咱们公安队伍的警察或辅警，绝对不会上衣穿警服，裤子穿便装，更不可能带耳钉。民警随即上前了解情况，通过询问查询发现，该小伙子根本就不是公安机关的人民警察或警务辅助人员，而是一名冒充的“警察”。于是，民警将其传唤至派出所作进一步调查。据查，小伙子吴某志，今年17岁。因无正当职业，整日无所事事，平日里看见警察穿警服，就想自己也弄一套警服来穿穿。今年12月10日，吴某志通过网络购买了一套警服及警用标志。随后，他便穿着该警服上网聊天，四处闲逛，以此来炫耀自己的身份。目前，永善警方对吴某志非法持有的人民警察警用标志、制式服装予以收缴，对其违法行为处以行政拘留8日的处罚。(记者 熊强)</p></body></html>