<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>643</title>
</head>
<body>
<h1>
“幽灵”微信号建群传播淫秽视频5万余部 11名嫌犯落网-新华网
</h1>
<p id="demo"> 2017-12-27 12:33:22</p><p>新华社合肥１２月２７日电（记者陈诺）购买微信号建立微信群，传播大量淫秽视频，然而不久微信号就如“幽灵”般消失，再换个“马甲”出现。记者从安徽省铜陵市公安局获悉，当地警方成功破获公安部挂牌督办的“５·２２”特大微信传播淫秽物品牟利案，打掉一个通过网络传播淫秽物品５万余部的犯罪团伙，抓获犯罪嫌疑人１１名，涉案金额近百万元。５月，铜陵市公安局铜官分局石城路派出所接到市民吴某的报警，称自己还在上学的表弟加入了一个涉黄的微信群。经初查，民警发现该群传播淫秽视频量大，且成员众多，可能存在其他关联群。因案情重大，当地警方迅速成立专案组展开调查。随着调查的深入，民警发现犯罪嫌疑人具有很强的反侦查能力，所有作案微信号均使用国外代理服务器注册，国内没有任何注册信息和通讯记录，且微信号“存活”时间极短，一至三天就封号消失，如同“幽灵”。最终，警方从一些细微线索中发现犯罪嫌疑人的窝点在广东惠东县，一个以林某为首的特大传播淫秽物品的网络犯罪团伙浮出水面。经查，今年３月至７月，林某通过购买大量微信号建立名为“某某福利社”的微信群传播淫秽视频。该犯罪团伙群内人员均有具体分工，群主负责建群，在群内发布公告，对群内人员进行管理；群内管理员将淫秽视频发至群里，几个小时内多达１００多部，随后群主再以几元到几十元不等的价格要求群成员加入ＶＩＰ群，以获取观看更多视频资源。经初步统计，今年３至７月间，该团伙就传播淫秽视频５万余部，传播人数超过５５万人次，盈利金额近百万元。在全面锁定证据及犯罪嫌疑人后，专案组决定实施抓捕，陆续将犯罪嫌疑人林某等９人抓获归案。迫于公安机关的巨大压力，２名犯罪嫌疑人投案自首。</p></body></html>