<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>65</title>
</head>
<body>
<h1>
今天午后北京将有雷阵雨 局地伴短时大风或冰雹-新华网
</h1>
<p id="demo"> 2018-05-26 08:44:17</p><p>今天（26日），北京午后将迎来对流性降水，局地有短时大风或冰雹，最高气温30℃，户外活动需注意安全。明天天气转好，最高气温32℃，夜间北部地区有分散性阵雨，最低气温17℃。未来一周北京将进入樱桃采摘高峰期，天气整体适宜采摘，需注意防晒补水。昨天，北京天气晴热，中午11时气温26.7℃，午后继续升温，15时突破了31℃。今天午后到前半夜，北京有雷阵雨，本次降水对流性较强，特点是降雨比较分散，雨量不大，短时会有大风，局地可能出现小冰雹，户外活动需注意安全。根据北京市气象台今晨6时发布的预报，今天白天多云转阴有雷阵雨，西部北部有浮尘，南风二级转北风四级左右（阵风六七级），最高气温30℃；夜间阴（北部有阵雨）转晴，北风三级转一二级，最低气温17℃。今天是周六，上午“鸿坤杯”“花绘北京 悦跑大兴”半程马拉松在大兴魏善庄月季场馆周边举行，届时周边部分道路会封闭，由于对流性天气过程将从午后开始，所以上午跑完就赶紧回家吧。明天天气转好，多云为主，白天平原地区最高气温32℃，山区最高气温30～32℃，夜间北部地区有分散性阵雨，平原地区最低气温17℃，山区最低气温14～16℃。总体看还是比较适宜出行，白天需注意防晒防暑。每年5月下旬到6月中旬，对于北京而言，都是一年之中樱桃采摘期，预计未来一周将进入樱桃采摘高峰期，北京地区天气整体适宜采摘，下周也都是晴或多云天气，最高气温将从周一的30℃逐渐升到周五的34℃，最低气温在17-18℃之间，户外活动需注意防晒补水。</p></body></html>