<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>654</title>
</head>
<body>
<h1>
国务院港澳办发言人就全国人大常委会批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》发表谈话-新华网
</h1>
<p id="demo"> 2017-12-27 16:53:31</p><p>新华社北京12月27日电（记者 石龙洪）国务院港澳事务办公室发言人27日就第十二届全国人大常委会第三十一次会议作出《关于批准〈内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排〉的决定》发表谈话。发言人表示，全国人大常委会根据《中华人民共和国宪法》和《中华人民共和国香港特别行政区基本法》作出了批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》的决定，确认香港特别行政区与内地就在西九龙站实施“一地两检”协商签署的上述合作安排符合“一国两制”方针，符合宪法和香港特别行政区基本法，并确认上述合作安排关于西九龙站内地口岸区管辖权（包括司法管辖权）划分和法律适用的规定是适当的，夯实了在西九龙站实施“一地两检”的法律基础，为国务院批准内地在西九龙站设立口岸并派驻机构依法履行职责提供了法律依据。全国人大常委会是最高国家权力机关的常设机关，其所作决定具有法律效力，内地和香港特别行政区均须执行。发言人指出，在西九龙站实施“一地两检”，是确保广深港高铁香港段的运输、经济和社会效益的最佳方案。从内地方面根据香港特别行政区政府的建议与其协商签署上述合作安排，到国务院审核同意并提请全国人大常委会批准上述合作安排，再到全国人大常委会作出批准决定，都充分体现了中央全力支持香港特别行政区发展、便利香港特别行政区与内地之间的人员往来和经贸活动、促进香港特别行政区更好地融入国家发展大局的政策取向，对保持香港长期繁荣稳定具有十分重要的意义。发言人表示，全国人大常委会作出上述批准决定后，香港特别行政区还需要进行相应的本地立法。相信香港社会各界特别是立法会能够以理性务实的态度完成“一地两检”本地立法和其他相关工作，确保广深港高铁香港段如期建成通车。中央有关部门和广东省将继续支持、配合香港特别行政区做好各项后续工作。  全国人大常委会批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》香港中联办负责人就全国人大常委会批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》发表谈话</p></body></html>