<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>655</title>
</head>
<body>
<h1>
香港中联办负责人就全国人大常委会批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》发表谈话-新华网
</h1>
<p id="demo"> 2017-12-27 16:59:05</p><p>新华社香港12月27日电  香港中联办负责人27日就全国人民代表大会常务委员会作出《关于批准〈内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排〉的决定》发表谈话。该负责人表示，全国人大常委会根据《中华人民共和国宪法》和《中华人民共和国香港特别行政区基本法》，行使国家最高立法机关的宪制权力，确认“一地两检”方案符合宪法和香港基本法，符合“一国两制”方针政策，并明确了在西九龙站实施“一地两检”是香港特别行政区依据基本法对高度自治权的具体行使，提出香港特别行政区应当尽快通过本地立法贯彻实施“一地两检”的安排。可见，《合作安排》的合宪性、合法性是毋庸置疑的。该负责人说，在广深港高铁西九龙站设立口岸实施“一地两检”有利于保持香港国际金融、贸易和航运中心地位，有利于香港特别行政区更好地融入国家发展大局，有利于拓展香港未来的发展空间，并极大方便市民出行和商贸往来，为香港长远发展提供新动力、新机遇。希望香港社会各界以理性务实的态度支持政府做好本地立法工作，确保广深港高铁香港段如期通车，充分发挥其运输、经济和社会效益。  全国人大常委会批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》国务院港澳办发言人就全国人大常委会批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》发表谈话</p></body></html>