<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>656</title>
</head>
<body>
<h1>
中央社院2017年培训统战各领域学员9000多人次-新华网
</h1>
<p id="demo"> 2017-12-27 16:45:04</p><p>新华社北京12月27日电（记者 姜潇）记者27日从此间召开的第十二次全国社会主义学院院长会议上获悉，2017年中央社院全年培训统战各领域学员9000多人次，规模创历史最高，实现培训规模和质量“双跨越”。据介绍，2017年以来，中央社院把热点领域和关键群体作为培训重点，承办地市级以上新任统战部长培训班2期；举办五大宗教各类班次21期，培训高层次爱国宗教人士800余人；自主举办少数民族代表人士、民营企业新生代企业家、文艺界人士、港澳台青年精英人士、海外名校留学归国人才和基层统战干部文化研修班7期等。据介绍，2016年以来，为落实党中央赋予的“统一战线人才教育培养主阵地”的职能定位，中央社院在政治共识教育方面启动了“五史合一”的教学改革，在文化共识教育方面，推出面向少数民族人士、宗教界人士、非公有制经济人士等群体的“十个讲清楚”教培项目，专门研发了88门新课，形成较完备的课程体系。2018年，中央社院将继续完善教学大纲和讲义，推出一套政治与文化共识教育的全新教材，旨在形成科学系统的课程体系，规范全国社院的教学内容，迈出正规化建设的关键一步。第十二次全国社会主义学院院长会议于12月26、27日在京召开。全国各地方社会主义学院主要负责同志约150人出席会议并进行了讨论交流。</p></body></html>