<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>660</title>
</head>
<body>
<h1>
哈尔滨查处“泛黄马桶刷刷茶杯”涉事酒店-新华网
</h1>
<p id="demo"> 2017-12-27 16:04:29</p><p>新华社哈尔滨12月27日电（记者强勇、杨思琪）26日，一段视频《这些五星级酒店：泛黄马桶刷刷茶杯》在网络上引起关注。当天下午，哈尔滨市成立联合调查组对涉事酒店展开现场调查，并依法作出处罚。“用马桶刷刷杯子”“马桶里洗抹布”“床尾巾不及时更换”，针对视频中曝光的凯宾斯基酒店、香格里拉大酒店、永泰喜来登酒店出现的上述问题，哈尔滨市成立了由市卫生和计划生育委员会、市旅游发展委员会、市市场监督管理局、市食品药品监督管理局、市政府法制办组成的调查组。经现场询问核实，确认以上事实存在。联合调查组当即对3家酒店负责人进行约谈，要求立查立改，确保入住者的健康权益。市卫计委执法人员下达《行政处罚事先告知书》，依据《公共场所卫生管理条例实施细则》规定，对涉事3家酒店依法进行处罚。下一步，哈尔滨市将对涉旅餐饮、住宿、购物、交通、景区等行业服务质量和安全全面排查，重拳打击假冒伪劣商品、价格欺诈、涉旅“四黑”等行为。对在排查中发现的扰乱旅游市场秩序，给消费者带来损害的违法违规行为，坚决采取零容忍态度，一查到底。</p></body></html>