<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>661</title>
</head>
<body>
<h1>
江西：造成特别重大环境突发事件 五家公司被判赔3700余万元-新华网
</h1>
<p id="demo"> 2017-12-27 16:01:28</p><p>新华社南昌12月27日电（记者赖星）江西省新余市中级人民法院27日对原告中华环保联合会与被告宜春市中安实业有限公司等环境污染责任公益诉讼一案，依法作出一审判决，判决五被告赔偿因违规排放废液废水造成的应急处置费用、生态环境修复费用及服务功能损失费用等3700余万元，并在省级媒体向公众赔礼道歉。2016年4月，宜春中安公司等在生产过程中，将未经处理的含镉、铊、镍等重金属及砷的废液、废水，通过私设暗管的方式，直接排入袁河流域，造成新余市第三饮用水厂供水中断的特别重大环境突发事件。事件发生后，新余市立即启动应急预案，排查并切断污染源，积极采取有力措施确保市民用水安全。同时从严控制工业污染，大力整治农业污染，加强袁河流域生态修复，到2016年12月，袁河流域及湖泊生物群落结构基本恢复至基线水平。办案人员查明，宜春中安公司经营的粗铟工厂无危险废物经营资质、未依法取得建设项目环境影响评价审批同意、未配套任何污染防治设施。湖南珊田投资集团汇金有色资源有限公司提供资金并参与非法生产经营，江西龙天勇有色金属有限公司、新余市博凯再生资源开发有限责任公司以及常宁市沿江锌业有限责任公司，违反危险废物管理制度向宜春中安公司提供危险废物。法院审理认为，原告中华环保联合会是环境民事公益诉讼的适格主体，其要求宜春中安公司等五被告立即停止违法转移、处置危险废物，通过江西省级媒体向公众赔礼道歉，并承担赔偿责任的主张，于法有据。新余中院依照我国《民法通则》《侵权责任法》《环境保护法》等有关法律规定，遂依法作出一审判决。</p></body></html>