<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>664</title>
</head>
<body>
<h1>
元旦期间全国预计接待国内游客１．３５亿人次-新华网
</h1>
<p id="demo"> 2017-12-27 16:03:02</p><p>新华社北京１２月２７日电（记者齐中熙）２０１８年元旦将至，国家旅游局２７日发布的信息显示：元旦期间，预计全国接待国内游客将达到１．３５亿人次，同比增长１２．５％；实现国内旅游收入将达到７６５亿元，同比增长１２．７％。国家旅游局综合司司长侯振刚表示，综合中国旅游研究院居民出游意愿调查和历年元旦假日旅游市场特征显示：居民元旦假日出游意愿强烈，都市周边休闲游市场逐渐升温，温泉、滑雪等特色旅游产品预订火爆。全国旅游市场将呈现出以下特点：周边短途游占据假日出游主流。调查显示，２０１８年一季度居民总体旅游意愿达到８３％，其中选择１月份出游的超过四分之一。元旦假期时间较短，多数居民假日期间将选择周边短途游，自驾车成为首选交通工具。全国旅游市场“南下北上”空间特征明显。元旦期间，反季温暖游和冰雪游热度较高，以“避寒”为主题的南方旅游目的地热度不减，滑雪、滑冰、赏雪等冰雪特色主题游则为北方地区带来大量游客。调查显示，三亚、哈尔滨、厦门、杭州、张家界、昆明、北京等在全国元旦假日热门旅游目的地中排名靠前。假日旅游将拉动消费持续增长。随着旅游消费不断升级，游客在假日旅游的过程中不止追求简单的观光游览，更加注重服务质量和旅游体验，舒适度高、体验性强的深度旅游线路受到广泛关注。年底至春节前亲友聚会、公司团建活动增多，预计假日期间旅游对消费拉动作用将更为显著。</p></body></html>