<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>665</title>
</head>
<body>
<h1>
北斗系统将像水、电、互联网一样服务公众-新华网
</h1>
<p id="demo"> 2017-12-27 16:03:48</p><p>新华社北京12月27日电（记者赵文君、刘诗平）“世界主流手机芯片大都支持北斗，国内销售的智能手机上北斗正成为标配。”中国卫星导航系统管理办公室主任、北斗卫星导航系统发言人冉承其27日在国新办新闻发布会上表示，北斗系统高精度位置服务正像水、电、互联网一样，成为公共服务。“共享单车配装北斗实现精细管理。支持北斗的手表、手环、学生卡，更加方便和保护人们日常生活。”冉承其介绍，北斗系统在大众消费领域实现规模化应用，由“高大上”转为“接地气”，日益走近百姓生活。以北京为例，33500辆出租车、21000辆公交车安装北斗，实现北斗定位全覆盖；1500辆物流货车及19000名配送员，使用北斗终端和手环接入物流云平台，实现实时调度。今年是北斗系统开通5周年。冉承其介绍，目前，北斗系统已在公安、交通、渔业、电力、林业、减灾、无人驾驶等行业和领域得到广泛使用，服务于智慧城市建设和社会治理。国内卫星导航产业年产值年均增长率超过15%，2016年突破2118亿元，北斗贡献率超过70%，预计2017年超过2500亿元，北斗贡献率可达80%。据统计，全国超过480万辆营运车辆安装北斗终端，建成全球最大的车联网平台，相比2012年，2016年道路运输重大事故率和人员伤亡率均下降近50%。公安出警时间缩短近20%，突发重大灾情上报时间缩短至1小时内，应急救援响应效率提升2倍；全国4万余艘渔船安装北斗，累计救助渔民超过1万人，已成为渔民的海上保护神。</p></body></html>