<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>666</title>
</head>
<body>
<h1>
滇西北特高压直流输电工程正式运行-新华网
</h1>
<p id="demo"> 2017-12-27 16:03:45</p><p>新华社广州12月27日电（记者李雄鹰）记者从南方电网获悉，27日，由该公司负责建设的滇西北至广东±800千伏特高压直流输电工程实现低端投运，形成250万千瓦送电能力。滇西北直流工程是落实国务院大气污染防治行动计划的12条重点输电通道之一，西起云南省大理州剑川县，跨越云南、贵州、广西、广东四省区，东至广东省深圳市宝安区，线路全长1953公里，额定电压±800千伏，输送容量500万千瓦。在施工过程中，南方电网克服了高海拔和高地震烈度叠加带来的巨大挑战，在主设备制造运输、电气绝缘、抗震设计等方面攻克了诸多难题。据了解，滇西北直流工程将于2018年6月开始双极高端投运，实现工程全面投产，届时云电外送能力达到500万千瓦，每年可向广东输送清洁能源200亿千瓦时。珠三角地区每年可减少煤炭消耗600万吨、二氧化碳排放量1600万吨、二氧化硫排放量12.3万吨。</p></body></html>