<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>668</title>
</head>
<body>
<h1>
重庆健康扶贫瞄准深度贫困地区-新华网
</h1>
<p id="demo"> 2017-12-27 16:03:45</p><p>新华社重庆１２月２７日电（记者李松）记者从重庆市卫计委获悉，重庆结合深度贫困地区健康扶贫需求，制定了包括卫生基础设施设备建设、加强人才队伍培育、强化公共卫生服务等６大类１３项具体帮扶措施，使深度贫困地区基本公共卫生服务指标接近全市平均水平。据了解，重庆市按照贫困发生率高、贫困人口占比高等标准，识别出了１８个深度贫困乡镇，并集中力量攻坚深度贫困难题。在这些深度贫困地区的５．０７万贫困人口中，因病致贫、返贫户约占１／２，成为脱贫突出难题。重庆市卫计委副主任傅仲学介绍，为完善深度卫生基础设施设备，重庆市要按照乡镇卫生院、村卫生室标准化建设要求，对深度贫困乡镇医疗机构查漏补缺，为每个乡镇配备１台救护车，并完善乡镇卫生院中医馆等中医综合服务区建设。“为提升医疗保障水平，将对深度贫困地区分类资助贫困户参加基本医保，完善商业补充保险，力争使贫困人口住院个人自付比例控制在１０％以内，门诊费用自付比例控制在２０％以内。”傅仲学说。同时，从２０１８年起，重庆还将为深度贫困乡镇每年提供３０个紧缺人才考核招聘岗位，连续实施３年；每年开展“城市优质医疗资源下基层”等系列培训，实现深度贫困乡镇卫生专业技术人员培训全覆盖。</p></body></html>