<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>671</title>
</head>
<body>
<h1>
香港特区政府欢迎全国人大常委会批准“一地两检”合作安排-新华网
</h1>
<p id="demo"> 2017-12-27 23:19:30</p><p>新华社香港１２月２７日电（记者周雪婷）十二届全国人大常委会第三十一次会议２７日下午表决通过决定，批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》（以下简称《合作安排》）。香港特区行政长官林郑月娥表示，特区政府欢迎全国人大常委会当日作出决定，批准《合作安排》。这标志着香港和内地落实“一地两检”的“三步走”程序已完成第二步，为在西九龙站落实“一地两检”安排的工作提供了坚实的法律基础。香港特区政府当日下午在政府总部召开记者会，林郑月娥、特区政府律政司司长袁国强、运输及房屋局局长陈帆和署理保安局局长区志光出席记者会。林郑月娥表示，广深港高铁香港段目前工程已经完成了９８％，香港铁路公司有信心高铁将在２０１８年第三季通车。她相信，香港社会当前普遍认同在西九龙站实施“一地两检”是广深港高铁发挥最大运输、经济和社会效益的方案。林郑月娥表示，随着全国人大常委会批准《合作安排》，“三步走”程序已经完成了两步，余下第三步就是本地立法。特区政府将会依据获得全国人大常委会批准的《合作安排》，致力在不迟于２０１８年２月初向特区立法会提交条例草案，争取在２０１８年暑假立法会休会前通过有关条例草案，以达致广深港高铁香港段于２０１８年第三季通车的目标。林郑月娥表示，全国人大常委会当日履行职权作出决定并批准《合作安排》，并清楚确认《合作安排》符合《中华人民共和国宪法》和基本法，这个做法为“一地两检”，包括往后由相关执法机构在西九龙站“内地口岸区”执行内地法律，提供了稳健的法律依据。林郑月娥强调，“一地两检”安排不会损害香港特区的高度自治。相反，香港特区政府与内地有关方面，就在西九龙站设立口岸并实施“一地两检”相关问题协商后作出适当安排，是香港特区依据宪法和基本法行使高度自治权的具体体现。袁国强表示，特区政府完全理解香港社会关注落实“一地两检”的法律基础，特区政府和内地有关部门在商讨“一地两检”时，一直强调“一地两检”安排必须符合“一国两制”，且不违反基本法。袁国强说，在这个大前提之下，双方建议采用“三步走”的方式落实“一地两检”。当天全国人大常委会就“一地两检”作出的决定，已非常清楚地说明“一地两检”的安排符合国家的宪法和香港特区的基本法。</p></body></html>