<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>672</title>
</head>
<body>
<h1>
上海实行民办学校非营利性和营利性分类管理 确保实现平稳过度-新华网
</h1>
<p id="demo"> 2017-12-27 23:04:55</p><p>新华社上海12月27日电（记者吴振东）上海市政府27日发布《关于促进民办教育健康发展的实施意见》，明确对民办学校（含其他民办教育机构）实行非营利性和营利性分类管理，确保已设立的民办学校实现平稳过渡。同时，积极鼓励和大力支持社会力量举办非营利性民办学校。根据意见，举办者自主选择举办非营利性民办学校或者营利性民办学校，依法依规办理许可和登记。其中，实施义务教育的学校，不得登记为营利性民办学校。非营利性民办学校举办者不取得办学收益，办学结余全部用于办学，终止时的剩余财产继续用于其他非营利性学校办学。营利性民办学校举办者可以取得办学收益，办学结余依据国家有关规定进行分配。在已设学校过渡安排上，意见明确2016年11月7日前设立的登记为民办非企业单位法人的现有学校（以下简称“现有学校”），其举办者可自主选择举办非营利性民办学校或者营利性民办学校，并在2018年12月31日前向主管部门提交关于学校办学属性选择的书面材料，未按期提交材料的不得转设为营利性民办学校。对于选择登记为非营利性民办学校的，应在2019年12月31日前依法修订学校章程、完善法人治理结构和内部管理制度、继续办学。选择登记为营利性民办学校的，应当由学校组织进行财务清算，依法明确资产权属，按照国家和本市规定缴纳相关税费，重新办理法人登记手续，继续办学，除实施高等学历教育的学校外，其他学校应在2020年12月31日前完成上述工作。</p></body></html>