<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>673</title>
</head>
<body>
<h1>
我国强化律师执业权利保护 已实现省级律协维权中心全覆盖-新华网
</h1>
<p id="demo"> 2017-12-27 22:45:59</p><p>新华社北京12月27日电（记者白阳）记者27日从全国律协举办的例行新闻发布会获悉，今年全国律协、３１个省区市律协及新疆生产建设兵团律协均已建成维权中心，大部分设区的市律协也成立了律师维权中心，律师执业权利得到有效保障。根据通报，11月，全国律协维权中心收到维权申请3起，协调地方律师协会共同解决1起律师申请权受侵犯事件；各省区市律师协会和设区的市律师协会共受理维权申请34起，其中正在处理的23起，加上10月遗留的维权申请共成功解决14起。律师是法治社会建设的重要一环。近年来，我国针对当前律师权利保障中存在的突出问题，先后出台《关于依法保障律师执业权利的规定》《关于建立健全维护律师执业权利快速联动处置机制的通知》《关于进一步做好保障律师执业权利相关工作的通知》《律师会见监狱在押罪犯规定》等一系列规定，为律师执业权利设置了多层次保障，并进一步明确了各部门对律师执业权利和人身权利的保障职责。“过去律师执业权利受到侵害后没有明确的维权途径，现在各地律师维权中心的建立和维权快速联动处置机制的形成，让执业环境有了明显进步，有利于律师充分发挥辩护权作用。”北京中闻律师事务所主任吴革说。近年来，各地律协以“律师之家”建设为抓手，通过设立公益基金、办理执业保险等措施加强对律师群体的身心保障。江西等地还出台细则，对保障律师办理刑事诉讼业务、民商事诉讼业务或非诉讼法律事务的执业权利作出具体规定。</p></body></html>