<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>676</title>
</head>
<body>
<h1>
最高检开展专项监督助力农民工讨薪-新华网
</h1>
<p id="demo"> 2017-12-27 22:45:36</p><p>新华社北京12月27日电（记者陈菲）最高人民检察院民事行政检察厅日前下发通知，决定从12月15日至2018年2月15日，在全国检察机关部署开展为期两个月的专项监督活动，积极协助解决农民工讨薪问题，努力确保辛苦一年的农民工拿到工资回家过年。通知指出，检察机关要充分运用支持起诉等职能，督促及时支付农民工工资。对在履职中发现可能引发群体性事件的农民工讨薪讨债案件线索，主动协助相关职能部门做好矛盾风险化解工作，依法支持当事人采取向劳动仲裁机构申请仲裁，向法院提起民事诉讼或者申请支付令等方式请求权利救济。同时，检察机关与法院、劳动仲裁机构、人力社保部门、信访部门、法律援助机构等建立农民工讨薪讨债信息交流共享机制，提高办理农民工讨薪讨债案件的质量和效率，确保农民工及时拿到被拖欠的工资报酬。通知强调，各级检察机关要加强对涉及地方政府项目和农民工讨薪讨债的民事、行政案件的审判、执行监督。集中办理涉及地方政府项目特别是民生工程的民事、行政诉讼监督案件。在民事行政诉讼监督中，既要加大对农民工等弱势群体合法权益的保护力度，也要防范和制裁为逃避债务或者优先受偿等冒用农民工名义捏造劳动合同关系或者劳务合同关系实施的虚假诉讼、虚假仲裁等违法犯罪行为。通知要求，各级检察机关要注意督促人力资源社会保障等行政部门依法履行监管职责。充分运用行政执法与刑事司法衔接平台等联系机制，增强刑事检察、民事检察、行政检察与行政执法在推动解决拖欠农民工工资问题上的合力。在督促相关行政部门依法履职大力惩治拖欠农民工工资行为的同时，也要加强对行政强制措施的检察监督，及时发现和监督纠正限制上访讨薪人员人身自由的违法行政强制措施，避免矛盾激化，维护群众合理合法诉求与社会稳定。</p></body></html>