<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>679</title>
</head>
<body>
<h1>
用好人民陪审员制度，助推司法公正－－人大常委会组成人员热议人民陪审员法草案-新华网
</h1>
<p id="demo"> 2017-12-27 22:46:12</p><p>新华社北京12月27日电（记者王琦）十二届全国人大常委会第三十一次会议27日上午分组审议人民陪审员法草案。与会人员普遍表示，制定人民陪审员法草案很有必要，把人民陪审员制度用法律加以规范，有助于体现司法公正，让人民群众在每一个司法案件中感受到公平正义。郎胜委员说，人民陪审员制度是具有中国特色的一项重要司法制度。它体现了人民当家做主，体现了宪法规定的人民通过各种形式和途径管理国家事务的精神。人大常委会组成人员还对修改完善人民陪审员法草案提出了建议。令狐安委员建议在草案中增设对人民陪审员合法权利保障和人身安全保护的内容，使人民陪审员在从事陪审的工作中，如受到打击报复、亲属受到伤害等情况下得到法律保护。针对在实践中出现的人民陪审员“陪而不审”问题，与会代表特别强调要加强对人民陪审员的培训，提高其履职的能力。黄伯云委员表示希望有专条来规定人民陪审员的培训问题。他认为，过去存在的“陪而不审”“审而不议”问题，很大原因是人民陪审员的水平有待提高。他建议要在人民陪审员任期内对其进行培训，以便在陪审中发挥更大的作用。列席会议的全国人大代表贾春梅表示，对人民陪审员的培训，最根本的是要培养他们的法律意识，避免以个人好恶、感知、情绪等决定陪审意见。</p></body></html>