<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>680</title>
</head>
<body>
<h1>
我国加快推动学前教育立法进程-新华网
</h1>
<p id="demo"> 2017-12-27 22:46:33</p><p>新华社北京12月27日电（记者王琦、刘奕湛）学前教育是我国教育体系中较为薄弱的环节，存在发展不均衡、合格师资缺乏、管理体制不健全等问题。记者从27日闭幕的十二届全国人大常委会第三十一次会议上获悉，我国正在加快推动学前教育立法进程，促进学前教育合理有序发展。十二届全国人大常委会第三十一次会议27日表决通过了全国人民代表大会教科文卫委员会关于第十二届全国人民代表大会第五次会议主席团交付审议的代表提出的议案审议结果的报告。审议结果的报告显示，全国人大代表提出的66件议案中，多个议案涉及教育方面，涵盖学前教育、职业教育、家庭教育、高等学校招生与考试法等内容。对此，全国人大教科文卫委员会建议通过列入人大常委会立法规划或年度立法工作计划；建议有关部门认真研究论证，加快调研起草工作，条件成熟时提请全国人大常委会审议；或通过加强执法监督，制定相关政策或规章等方式解决议案所提问题。其中，关于家庭教育法的议案，教科文卫委员会将对代表们提出的立法可行性、必要性及立法建议认真研究，积极参与前期的立法调研和论证工作，适时推动家庭教育立法进程。关于修改职业教育法的议案，教科文卫委员会将继续加强与有关部门的沟通联系，推动职业教育法修订草案尽快提请全国人大常委会审议。</p></body></html>