<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>684</title>
</head>
<body>
<h1>
元旦假期国内旅游预计创收765亿元 游客仍需理性消费-新华网
</h1>
<p id="demo"> 2017-12-28 07:19:21</p><p>2018年元旦将至，预计全国大部分地区天气晴好，降雪、雨水天气少，空气质量明显改善，有利于民众假日出行。12月27日，国家旅游局发布《2018年元旦假日旅游指南》（以下简称“指南”），为广大游客提供更具获得感的出行服务。根据指南预测，元旦期间，全国接待国内游客预计将达到1.35亿人次，同比增长12.5%；实现国内旅游收入将达到765亿元，同比增长12.7%。中国旅游研究院居民出游意愿调查显示，2018年一季度居民总体旅游意愿达到83%，其中选择1月出游的超过1/4。元旦假期时间较短，多数居民假日期间将选择周边短途游，自驾车成为首选交通工具，阖家团聚仍是重要的假日主题。元旦期间，以“避寒”为主题的南方旅游目的地热度不减，滑雪、滑冰、赏雪等冰雪特色主题游则为北方地区带来大量游客。中国旅游研究院居民出游意愿调查显示，三亚、哈尔滨、厦门、杭州、张家界、昆明、北京等在全国元旦假日热门旅游目的地中排名靠前。随着旅游消费不断升级，游客在假日旅游过程中不止追求简单的观光游览，更加注重服务质量和旅游体验，舒适度高、体验性强的深度旅游线路受到广泛关注。线下零售发展持续活跃、节日优惠活动延续，年底至春节前亲友聚会、公司团建活动增多，预计假日期间旅游对消费拉动作用将更为显著。根据游客元旦假期出行情况，国家旅游局提示广大游客假期要理性消费：选择合理的路线和产品；注意核实旅行社经营资质，并与旅行社签订旅游合同，在签订合同时应认真阅读合同条款，不要轻信口头承诺，不参加明显低于正常价格的团；旅途中购物时要根据自身需要量力而行，在付款后要主动索要发票，并注意妥善保存。国家旅游局新闻发言人侯振刚表示，假期期间，“12301”国家旅游服务热线将会24小时开通，当遇到旅游事项需要咨询，旅游中需要维权投诉，遇到紧急情况需要救援时，都可以电话拨打“12301”求助。此外，当疑似被侵权时，要依靠各类诉求渠道，合理、合法维权，切忌不加限制地伸张自身的权益，采取过度维权行为，如在旅途中维权不便，可以留存相关证据，待回程后再寻求解决。（记者 刘昶荣）</p></body></html>