<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>697</title>
</head>
<body>
<h1>
我国探索构建对自然地有效保护长效机制-新华网
</h1>
<p id="demo"> 2017-12-27 23:05:24</p><p>新华社北京12月27日电（记者熊丰）记者从27日闭幕的十二届全国人大常委会第三十一次会议上获悉，我国正推动制定自然地保护法，通过科学分类，统一规划，健全管理体制，建立对自然保护区、风景名胜区、森林公园、地质公园等保护地有效保护的长效机制。全国人大环境与资源保护委员会关于第十二届全国人民代表大会第五次会议主席团交付审议的代表提出的议案的审议意见指出，建议将制定自然地保护法列入十三届全国人大常委会立法规划。31名全国人大代表提出关于制定自然地保护法的议案1件。议案认为，经过60多年的发展，我国已经建立起包括自然保护区、风景名胜区、森林公园、地质公园等十多类保护地在内的多层级、多类型的自然保护地体系，但由于体系分类标准混乱、不同保护地的功能定位不清，因而保护工作中存在着部门职责重叠交叉、不同层级政府保护事权不明、保护机构和保护经费难以落实、“过度保护”和“过度利用”并存等现象。十九大报告提出，建立以国家公园为主体的自然保护地体系。长期以来，环资委针对我国自然保护地问题开展过大量的调查研究和立法实践。研究表明，由于现行自然保护地体系主要是按照资源要素设立的，因此对自然生态的系统性和完整性保护不力，加之各类保护地依据各自的法规建立、运行，缺乏国家法律统一协调，我国的自然保护地不可避免地出现分类不科学、区域重叠、保护标准不清晰、公益属性不明确、多头交叉管理、权责不落实、保护与开发矛盾难以协调等问题。审议意见指出，中央生态文明体制改革总体方案提出建立国家公园体制。目前，国家公园体制的试点工作正在进行，环资委建议国务院对多年来自然保护区建设和管理工作取得的经验、存在的问题进行总结和评估，结合国家公园体制改革实践，统筹研究包括国家公园、自然保护区、风景名胜区等在内的自然保护体制机制，对我国自然保护体系的设立、运行、管理、利用等方面的内容提出立法建议或者法律草案。</p></body></html>