<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>699</title>
</head>
<body>
<h1>
大风天气致新疆南部地区多趟旅客列车停轮-新华网
</h1>
<p id="demo"> 2017-12-27 23:09:26</p><p>新华社乌鲁木齐12月27日电（记者蔡国栋）27日18时28分，南疆铁路前百风区风力超过12级，为确保列车运行安全，在南疆铁路运行的多趟旅客列车停轮避风。据新疆铁路部门统计，截至27日20时，南疆铁路共有4趟旅客列车在铁路沿线车站停轮避风，其中包括库尔勒至伊宁k9770次、乌鲁木齐至和田的k6707次、伊宁至喀什的T9517次、乌鲁木齐至和田的7556次。大风天气出现后，铁路部门及时启动应急处置预案，列车停靠车站组织力量补充餐料和饮用水，确保正常供应；各车厢乘务人员检查车厢温度，随时协调做好车厢保暖。新疆铁路部门提醒广大旅客，及时关注“新疆铁路”官方微博、微信，车站电子显示屏、广播、公告及时了解列车运行情况，以便合理安排行程。受较强冷空气的影响，近期新疆北部地区迎来风雪降温天气过程。受此影响，新疆铁路管内精伊霍铁路、奎北铁路和兰新铁路部分区段均有中雪或大雪，目前铁路部门已及时组织人员机具上线清雪，全力保证线路安全畅通。</p></body></html>