<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>703</title>
</head>
<body>
<h1>
新修订的农民专业合作社法明确农民专业合作社联合社法律地位-新华网
</h1>
<p id="demo"> 2017-12-27 23:31:23</p><p>新华社北京12月27日电（记者董峻、胡璐）十二届全国人大常委会第三十一次会议27日表决通过了新修订的农民专业合作社法。该法明确农民专业合作社联合社的法律地位，自2018年7月1日起施行。全国人大农业与农村委员会法案室主任张福贵27日介绍，新修订的农民专业合作社法主要在三个方面作了修改和完善。一是取消了有关“同类”农产品或者“同类”农业生产经营服务中的“同类”的限制，扩大了法律的调整范围，同时以列举的方式明确农民专业合作社经营和服务的业务范围。二是进一步规范农民专业合作社的组织和行为。比如农民专业合作社应当按照国家有关规定向登记机关报送年度报告，并向社会公示。三是增加了“农民专业合作社联合社”一章，对联合社的成员资格、注册登记、组织机构、治理结构等作了规定。三个以上的农民专业合作社在自愿的基础上可以出资设立农民专业合作社联合社，依法登记后取得法人资格，登记类型为农民专业合作社联合社。据介绍，农民专业合作社法自2007年实行以来，为我国农民专业合作社的规范和发展提供了坚强的法律保障，有力促进了农民专业合作社的快速发展。据农业部的统计，截至2017年11月底，在工商部门登记的农民专业合作社达到了199.9万家，是2007年底的76倍。目前入社的农户超过1亿户，约占全国农户总数的46.8%。但张福贵也表示，现行的农民专业合作社法的一些规定已经不适应实践发展的需要，比如一些农民专业合作社已由单一的生产经营转向从事多种经营和服务的综合化发展，需要对农民专业合作社的基本内涵予以重新界定。同时一些地方设立了农民专业合作社联合社，需要明确其法律地位，规范和保障它的发展。</p></body></html>