<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>706</title>
</head>
<body>
<h1>
我国出台船舶吨税法2018年7月1日起施行-新华网
</h1>
<p id="demo"> 2017-12-27 23:33:08</p><p>新华社北京12月27日电（记者郁琼源、胡璐）十二届全国人大常委会第三十一次会议27日表决通过了中华人民共和国船舶吨税法，自2018年7月1日起施行。记者27日在全国人大常委会办公厅召开的新闻发布会上了解到，船舶吨税法规定，自中华人民共和国境外港口进入境内港口的船舶应当依照本法缴纳船舶吨税。应纳税额按照船舶净吨位乘以适用税率计算，由海关负责征收。吨税设置优惠税率和普通税率。中华人民共和国籍的应税船舶，船籍国（地区）与中华人民共和国签订含有互相给予船舶税费最惠国待遇条款的条约或者协定的应税船舶，适用优惠税率。其他应税船舶，适用普通税率。此外，对捕捞、养殖渔船，警用船舶等免征吨税。全国人大常委会法工委经济法室主任王瑞贺介绍，船舶吨税以前有国务院根据全国人大授权制定的条例规范。此次立法过程主要是把原来的条例平移上升为法律，没有对原来正在实行的制度做大的调整。“把船舶吨税的基本制度用法律确定下来，最重要的意义是在落实税收法定原则方面迈出了坚定的步伐。”王瑞贺说。据了解，船舶吨税法施行后，2011年12月5日国务院公布的《中华人民共和国船舶吨税暂行条例》同时废止。 （受权发布）中华人民共和国船舶吨税法烟叶税法、船舶吨税法明年7月施行 这里面有哪些看点？</p></body></html>