<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>708</title>
</head>
<body>
<h1>
提升素质·明确义务·完善保障——全国人大常委会组成人员热议法官法修订草案-新华网
</h1>
<p id="demo"> 2017-12-28 00:44:37</p><p>新华社北京12月27日电（记者丁小溪、罗沙）“提升法官队伍素质和能力，离不开职业培训。草案规定法官的培训贯彻理论联系实际、按需施教、讲求实效的原则，但没有明确法官培训的责任主体，可能会使这些原则难以落实，建议对此进行修改。”提请十二届全国人大常委会第三十一次会议审议的法官法修订草案27日引起全国人大常委会组成人员的热议。在分组审议时，与会人员认为，草案在法官遴选、任免、管理、监督等诸多方面亮点纷呈，充分反映了当前司法体制改革的经验，适应了审判工作的需要，对于推进法官正规化、专业化、职业化建设意义重大，建议在提升法官素质、规范法官义务、完善履职保障等方面作出进一步修改。郎胜委员表示，草案对法官的义务进行了很好的总结，但应当保留现行法官法对法官在“清正廉明，忠于职守，遵守纪律，恪守职业道德”“不得徇私枉法”等方面具有针对性的规定。“尽管近年来法官队伍在职业素质、职业操守等方面有了较大提升，但作风建设永远在路上，这些规定应当长期保留。”党的十八届四中全会提出，畅通立法、执法、司法部门干部和人才相互之间以及与其他部门具备条件的干部和人才交流渠道。鉴于此，一些常委会委员认为，应进一步拓宽法官的来源，对草案增加的“副院长、审判委员会委员、庭长和副庭长应当从法官中产生”的规定进行斟酌修改。列席会议的全国人大代表李士强建议，草案应当规定案件受理数量作为确定法院员额的因素，以缓解一些地区案多人少的矛盾，尽可能保证每一个案件都有足够的司法资源，提升司法效率。在法官履职保障方面，部分委员表示，草案对法官及其近亲属的人身安全规定了全面细致的保障措施，建议为法官投保人身险和财产险，保证法官在人身财产受到侵害时，能够及时得到赔偿，并且进一步完善法官考核评价制度，避免一刀切。</p></body></html>