<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>711</title>
</head>
<body>
<h1>
学生欺凌有了明确定义：语言欺凌网络欺凌都算欺凌-新华网
</h1>
<p id="demo"> 2017-12-27 18:36:10</p><p>新华社北京１２月２７日电（记者胡浩）什么是欺凌？欺凌和玩笑怎么界定？近年来各种形式和手段的欺凌事件时有发生，但却没有对学生欺凌的明确定义。２７日，记者从教育部召开的新闻发布会了解到，学生欺凌有了明确定义。为有效预防中小学生欺凌行为发生，经国家教育体制改革领导小组会议审议通过，教育部等１１部门日前印发《加强中小学生欺凌综合治理方案》。教育部教育督导局局长、国务院教育督导委员会办公室主任何秀超在发布会上介绍，方案明确定义，中小学生欺凌是发生在校园（包括中小学校和中等职业学校）内外、学生之间，一方（个体或群体）单次或多次蓄意或恶意通过肢体、语言及网络等手段实施欺负、侮辱，造成另一方（个体或群体）身体伤害、财产损失或精神损害等的事件。中国教育学会中小学安全教育与管理专业委员会理事长李雯认为，这样的界定明确了三个要点：一是明确了学生欺凌的范围，是发生在校园内外、学生之间事件；二是明确了学生欺凌的构成要素，包括发生的单次或者多次、主观上的故意、表现的多种形式、损害的多个方面等四个要素；三是强调学生欺凌与学生之间打闹嬉戏的区别。“这一界定对于在实践中判定什么是学生欺凌、什么不是学生欺凌提供了明确的判定标准，澄清了大家对于学生欺凌的认识。”李雯说，在界定学生欺凌构成要素时，还明确提出单次或者多次以各种方式蓄意伤害他人造成一定损害的事件都是学生欺凌，这一点特别有意义。因为不管是反复发生还是偶然发生或者单次发生的欺凌事件，其性质都是欺凌，都应该严肃、认真对待和处理，这样也有助于在实践中提早干预学生欺凌事件，避免事态发展和恶化。中国政法大学法治政府研究院院长王敬波认为，欺凌的手段包括通过肢体、语言及网络，其中对网络欺凌的认定值得思考。网络欺凌是一种不同于传统的新型学生欺凌现象，具有隐蔽性强、涉及范围广、影响大和难以消除等特点，危害性要甚于传统欺凌。此外，欺凌的结果要件为造成身体伤害、财产损失或精神损害，这也是区分学生间嬉戏打闹、欺凌和暴力的关键。相关链接：新华时评：面对校园欺凌，必须止恶于微１１部门同“亮剑”我们的孩子能否就此免于欺凌恐惧？教育部等十一部门联合印发《加强中小学生欺凌综合治理方案》</p></body></html>