<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>712</title>
</head>
<body>
<h1>
我国出台烟叶税法 保持20%税率-新华网
</h1>
<p id="demo"> 2017-12-28 00:41:55</p><p>新华社北京12月27日电（记者郁琼源、胡璐）十二届全国人大常委会第三十一次会议27日表决通过了中华人民共和国烟叶税法，保持20%税率。烟叶税法共计十条，总体上是按照“税负平移”原则，由烟叶税暂行条例平移上升为法律，保持了现行税制框架，税率保持20%不变。记者27日在全国人大常委会办公厅召开的新闻发布会上了解到，烟叶税法规定，在中华人民共和国境内，依照《中华人民共和国烟草专卖法》的规定收购烟叶的单位为烟叶税的纳税人。纳税人应当依照本法规定缴纳烟叶税。纳税人应当向烟叶收购地的主管税务机关申报缴纳烟叶税。此外，烟叶税法规定，烟叶税的计税依据为纳税人收购烟叶实际支付的价款总额。应纳税额按照纳税人收购烟叶实际支付的价款总额乘以税率计算。财政部条法司副司长周劲松说，在起草和审议的过程中不仅请立法部门、专家等提前介入，进行了前期指导，还公开征求意见，这些方式为今后的立法，特别是税收立法树立了很好的样本。国家税务总局税收科学研究所所长李万甫说，烟叶税法对提高烟叶税的立法层级，充分发挥烟叶税组织财政收入、调节分配结构，促进地方特色农业和烟草行业持续健康发展都具有十分重要的意义。烟叶税法明确，本法自2018年7月1日起施行。2006年4月28日国务院公布的《中华人民共和国烟叶税暂行条例》同时废止。</p></body></html>