<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>714</title>
</head>
<body>
<h1>
全国人大常委会组成人员：推动检察官队伍正规化、专业化、职业化发展-新华网
</h1>
<p id="demo"> 2017-12-28 00:46:00</p><p>新华社北京12月27日电（记者丁小溪、陈菲）十二届全国人大常委会第三十一次会议27日分组审议了检察官法修订草案。全国人大常委会组成人员认为，应当在检察官法中进一步体现员额制改革和司法体制改革内容，更好地促进检察官队伍正规化、专业化、职业化发展。沈春耀委员表示，当前员额制改革的重要思路是推进“谁办案谁负责”。员额制检察官要向基层、案多人少矛盾突出的地方倾斜，着力解决由行政层级和区划设置带来的不平衡矛盾，应当在草案中更好地体现出相关改革内容。一些常委会委员建议，省级以下检察人员的人财物统管也是本轮司法体制改革的重要内容，草案应当有所体现，以保持法律的稳定性，使正在进行的改革有法可依，从而更好地推进改革。列席会议的全国人大代表林志梅说，应当在草案中将检察官“拖延办案，贻误工作”修改为“故意拖延办案，贻误工作，造成严重后果的”，因为拖延有时候是检察官不能决定的，有客观上的因素。在完善遴选委员会方面，王明雯委员建议，进一步对遴选委员会的职权、作用、工作程序等作出明确规定，促使遴选委员会真正发挥作用，尽可能杜绝以权谋私。</p></body></html>