<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>715</title>
</head>
<body>
<h1>
2017年我国有10404名残疾人被普通高校录取-新华网
</h1>
<p id="demo"> 2017-12-27 18:57:47</p><p>新华社北京12月27日电（记者曹典、罗争光）记者从27日在京召开的中国残联第六届主席团第五次全体会议上获悉，2017年全国有10404名残疾人被普通高校录取，1.5万名残疾青壮年文盲接受扫盲教育。中国残联理事长鲁勇在相关报告中指出，过去一年来，中国残联积极参与推动修订了《残疾人教育条例》，完善《残疾人参加普通高等学校招生全国统一考试管理规定》，使残疾人受教育权进一步得到落实。同时，还加大资助力度，残疾人事业专项彩票公益金资助了17779名残疾儿童接受普惠性学前教育，资助了21所中高等教育院校改善办学条件。与此同时，中国残联还努力完善促进残疾人就业创业方面的政策措施，建立应届高校残疾毕业生台账，加强残疾毕业生就业服务。统计显示，全年新增城镇残疾人就业12.1万名，城乡残疾人在业比例达到49.6%；贯彻落实《残疾人职业技能提升计划（2016-2020年）》，年度实名培训41万人。鲁勇表示，2018年，中国残联将努力提升特殊教育水平；通过特殊教育学校就读、普通学校就读、送教上门等多种方式，优先采用普通学校随班就读的方式，就近安排适龄残疾儿童少年接受义务教育；加快发展非义务教育阶段特殊教育，扩大特殊教育覆盖面；积极发展残疾儿童学前教育，支持普通幼儿园接收残疾儿童；推动各省（区、市）集中力量至少办好一所面向本地区招生的盲人高中（部）、聋人高中（部）和残疾人中等职业学校。同时，完善残疾人职业教育相关政策，推动普通高校积极招收符合录取标准的残疾考生，继续开展高等融合教育试点，推动高等特教学院单考单招规范化工作。</p></body></html>