<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>716</title>
</head>
<body>
<h1>
2017年我国软件著作权登记量突破70万件-新华网
</h1>
<p id="demo"> 2017-12-27 18:35:10</p><p>新华社北京１２月２７日电（记者 史竞男）记者２７日从中国版权保护中心获悉，２０１７年我国软件著作权登记量突破７０万件，同比增长８５％，创我国软件著作权登记量历史新高。软件著作权是指软件的开发者或其他权利人依据有关著作权法律规定，对软件作品所享有的各项专有权利。软件经过登记后，便于软件著作权人行使权利、获得收益。据介绍，我国软件登记量在持续快速增长的基础上，２０１７年进一步呈现出跳跃式增长的发展态势。统计数据显示，２０１１年我国登记软件１０９３４２件，登记量首次突破１０万件；２０１４年登记软件２１８７８３件，登记量首次突破２０万件；２０１６年登记软件４０７７７４件，登记量首次突破４０万件；２０１７年呈现爆发式增长，软件登记量一举突破７０万件。专家分析，２０１７年我国软件登记量之所以大幅增长，除了受软件产业快速发展、软件研发创新能力不断增强、版权保护意识持续提升、软件登记作用日益凸显等因素的影响外，国家停征软件著作权登记费政策的实施，也发挥了重要的促进作用。软件著作权登记费自２０１７年４月１日停征以来，有效减轻了登记申请人的经济负担，软件登记申请量较停征前显著提高。</p></body></html>