<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>718</title>
</head>
<body>
<h1>
国家档案局：“大数据”时代我国档案工作要加快转型升级-新华网
</h1>
<p id="demo"> 2017-12-27 18:21:09</p><p>新华社北京12月27日电（记者姜潇）“近年来，随着网络和信息技术快速发展，档案工作也在面临一场深刻变革。”国家档案局局长李明华在27日在京召开的全国档案局长馆长会议上表示，我国档案工作要应势而动、乘势而为，加快转型升级，逐步实现以信息化为核心的档案管理现代化。李明华表示，抓好战略转型，首先要充分了解国家信息化发展战略，特别是电子政务、电子商务以及大数据、云计算、人工智能等发展规划，研究档案工作如何在工作模式、基础设施、法规政策、标准规范等方面与之对接。目前，国家档案局正在推进数字档案馆（室）建设，在试点的基础上推进电子文件归档、电子档案移交接收和长期保存等工作，并取得积极进展。据介绍，2017年我国档案信息化建设明显加快。目前，全国已有16家单位的数字档案馆系统通过了国家示范数字档案馆测试，4家单位通过了国家示范数字档案室评价。在档案数字化建设方面，中国第一历史档案馆、中国第二历史档案馆数字化工作成效显著，各级档案馆数字档案资源的比例均有大幅提高，全国数字化档案资源达2243万GB，数字化全文识别取得重要进展。“同时，仍有不少省级档案部门没有按计划接入国家电子政务内网，仍有很多信息系统在‘孤立运行’。”李明华说，下一步，要逐步实现档案部门与其他部门之间的互联互通，逐步实现由政务信息的互通到业务数据的互通再到档案数据的互通，最终实现对包括政务信息、业务数据等在内的各类电子文件的在线归档、在线移交接收、在线利用，彻底打破档案部门“信息孤岛”的状态。“档案科研要把推动档案工作转型发展作为主攻方向，加强规划，整合资源，集中攻关，形成一批优秀的创新型、实用型科技成果，加速成果转化，创新推广方式，为档案工作转型发展提供有力支撑。”李明华说。</p></body></html>