<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>719</title>
</head>
<body>
<h1>
国资委谋划推进创新思路研究设立央企创新服务平台-新华网
</h1>
<p id="demo"> 2017-12-27 18:17:50</p><p>新华社北京１２月２７日电（记者王希）围绕党的十九大提出的新任务新部署，国务院国资委正在谋划推动今后一个时期央企创新发展工作的“五个一”总体思路，其中包括研究设立央企创新服务平台、搭建央企创新发展基金系等具体举措。这是记者在日前举行的“２０１６中央企业熠星创新创意大赛”总结活动上了解到的信息。国资委副主任徐福顺在会议发言中说，贯彻落实新发展理念，坚持创新驱动，依靠科技创新、管理创新和商业模式创新，打造核心竞争力，推动央企实现高质量的创新发展，是当前一项重要任务。据他介绍，以本次大赛为起点，国资委推动央企创新的“五个一”总体思路为：——办好一个大赛，即继续办好央企熠星创新创意大赛，积极培育新动能。力争把大赛打造成央企创新的“绿色通道”，在激励分配、员工持股等方面给予政策支持。——搭建一批双创平台，汇聚创新资源。除了进一步推进央企承担的国家双创示范基地建设工作外，国资委正研究论证设立中央企业双创服务平台，以公司化形式组织推动创新成果转化，搭建央企和全社会创新的对接平台。——形成一套创新机制，持续激发活力。国资委已经出台相关政策，在创新考核、人才建设、技术资本结合等方面提出了一系列举措，希望企业大胆尝试、不断完善。——打造一个基金系列，强化技术与资本结合。由投资引导基金、产业发展基金、企业创新基金三个层次组成的中央企业创新发展基金正在快速形成。同时，国资委还与科技部研究设立中央企业科技成果转化基金，并与发展改革部门研究创业投资有关政策。——摸索一条道路，加快大中小企业融通发展。此次大赛历时一年，从网络安全、大数据与云计算、人工智能与无人系统、物联网与新型智慧城市四个方向，共征集了来自７６家央企和社会其他创新主体的１２３７个参赛项目，目前项目落地工作持续推进。</p></body></html>