<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>720</title>
</head>
<body>
<h1>
长沙天心区查处环卫局面向“干部子弟家属”的违规招聘-新华网
</h1>
<p id="demo"> 2017-12-27 18:10:09</p><p>新华社长沙１２月２７日电（记者 阳建）日前，长沙市天心区市容环境卫生管理局向社会发布招聘合同制环卫管理员公告，其中招聘范围面向“干部职工子弟、家属和亲戚朋友”的规定引发关注。天心区委、区政府２７日通报，经当地纪委部门紧急调查，初步确认招聘违规，已责令暂停招聘，并追究相关人员责任。２５日，天心区环卫局发布公告公开招聘８名合同制环卫管理员，任职基本条件包括：年龄在２５至４０周岁以内、高中及以上文化程度、身体健康和无犯罪记录等。同时，注明招聘报名范围为干部职工子弟，干部职工家属、亲戚朋友，以及自我推荐。这一限定报名范围的条件引发关注。记者了解到，在区环卫局发布招聘公告后，天心区委、区政府迅速采取查处行动，责成区纪委成立调查组，启动调查程序。经查，此次招聘的具体实施过程中，天心区环卫局局长蒯建红、副局长魏洪亮、人事科长文杰、人事科副科长喻春梅，违规设定招聘条件，未对招聘内容严格审查把关，发布前未将公告报送人社部门审核同意，违反了《长沙市天心区机关事业单位编外合同制人员管理办法》第十五条规定。针对上述问题，决定给予蒯建红警告处分，给予魏洪亮记过处分，给予文杰警告处分，给予喻春梅记过处分，并调离现岗位。天心区委、区政府要求区属各部门以此为戒，强化法制意识、程序意识。</p></body></html>