<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>721</title>
</head>
<body>
<h1>
取信于民，网络募捐才能走得更远-新华网
</h1>
<p id="demo"> 2017-12-27 17:57:00</p><p>新华社北京１２月２７日电（记者梁建强冯国栋）一个号召网友帮助“同一天出生的你”的网络募捐项目，近日被深圳市民政局叫停，民政部门还成立了调查组对其进行调查。本是受到了网友们“点赞”的创新募捐形式，却因受捐人信息存在问题遭受质疑，直至被政府部门叫停，值得反思。近年来，与“同一天出生的你”类似的受质疑项目多次出现，一再引发公众的信任危机。而当慈善遭遇诚信危机，负面效应不可避免。慈善、公益事业，应该是阳光下的善举；诚信、公开、透明，应当是最基本的底线。随着互联网逐渐联结起千千万万的公众，网络募捐正在成为汇聚社会爱心、推进公益事业的重要渠道之一。如何让爱心不被辜负，让善意都能真正温暖最需要的人，是慈善组织必须认真思考，并须在行动中交出优异“答卷”的考题之一。《中华人民共和国慈善法》中明确规定：“开展募捐活动，应当尊重和维护募捐对象的合法权益，保障募捐对象的知情权，不得通过虚构事实等方式欺骗、诱导募捐对象实施捐赠”。可见，要确保慈善募捐特别是网络募捐活动的诚信，透明的运作机制不可或缺，监管方面也应更“给力”。对于罔顾法规的恶意“诈捐”行为，应当依法予以严惩、重罚，产生警示效应。取信于民，不辜负每一份信任，网络募捐才能走得更远。相关链接：民政部初步核查认为“同一天生日”网络募捐涉嫌违反慈善法</p></body></html>