<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>723</title>
</head>
<body>
<h1>
全国政协互联网新版门户网站正式开通 张庆黎出席开通仪式-新华网
</h1>
<p id="demo"> 2017-12-27 17:43:44</p><p>全国政协互联网新版门户网站27日正式上线开通，全国政协副主席兼秘书长张庆黎出席开通仪式并正式启动门户网站。开通仪式现场全国政协互联网新版门户网站正式上线开通建设全国政协新版门户网站，是机关党组贯彻落实党的十九大精神和习近平总书记网络强国战略思想，更好地服务全国政协履行职能、加强政协机关建设的重要举措。网站整体风格由红黄色调改为简洁明快的政务蓝，版式由传统的窄屏设计改为当前流行的宽屏设计。同时，增加头条新闻功能，强化图片视频新闻比重，增加双周协商座谈会、专题议政性常委会议等政协工作的专题入口，进一步突出为委员履职服务的有关内容，并推动网站结构扁平化，增强便利性和易用性。新版网站还为全国政协领导同志设计了活动报道集。开通仪式现场全国政协常务副秘书长潘立刚等机关领导班子成员、部分专委会驻会副主任参加开通仪式。（记者 谢靓）</p></body></html>