<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>728</title>
</head>
<body>
<h1>
我国将以北斗系统为核心构建新时空体系-新华网
</h1>
<p id="demo"> 2017-12-27 18:25:18</p><p>新华社北京１２月２７日电（李国利、张文科）北斗卫星导航系统总设计师杨长风２７日在北斗宣传研究与传播中心成立仪式上表示，我国将以北斗系统为核心构建新时空体系。北斗卫星导航系统是我国重要的信息基础设施，是国家安全和经济社会发展的重要基石。“２０３５年前，我国将以北斗系统为核心构建起覆盖空天地海、高精度安全可靠、万物互联万物智能的新时空体系。”杨长风说，新时空体系将显著提升国家时空信息服务能力，满足国民经济和国家安全需求，从而为全球用户提供更为优质的服务。我国于２０世纪后期开始探索适合国情的卫星导航系统发展道路，逐步形成“三步走”发展战略：２０００年年底建成北斗一号系统，向中国提供服务；２０１２年年底建成北斗二号系统，向亚太地区提供服务；２０２０年前后建成北斗全球系统，向全球提供服务。１１月５日，我国在西昌卫星发射中心成功发射两颗北斗卫星。这是北斗三号卫星的首次发射，标志着北斗卫星导航系统步入全球组网新时代。杨长风透露，２０１８年年底前后将发射１８颗北斗三号卫星，为“一带一路”沿线国家提供基本服务，还将主办全球卫星导航系统国际委员会（ＩＣＧ）第十三次会议及上海合作组织卫星导航圆桌会议等活动。北斗系统将像水、电、互联网一样服务公众我国北斗安全信息播发系统升级 实现北斗与手机微信间信息互通北斗与GPS实现兼容互操作</p></body></html>