<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>729</title>
</head>
<body>
<h1>
食药监总局集体约谈外卖平台负责人 要求严格落实网络平台责任-新华网
</h1>
<p id="demo"> 2017-12-27 19:55:07</p><p>新华社北京１２月２７日电（记者陈聪）国家食品药品监督管理总局２７日集体约谈主要网络餐饮服务平台负责人，强调严格落实网络平台食品安全第一责任人责任，从各个环节保证“舌尖上的安全”。国务院食品安全办副主任、食药监总局副局长孙梅君在约谈会上说，《网络餐饮服务食品安全监督管理办法》将在２０１８年１月１日起施行，网络餐饮服务平台开办者必须切实履行好第一责任人的责任。她说，平台开办者要落实审查责任，确保入网商家具有实体经营门店；落实监督责任，确保线上线下餐饮服务同标同质；落实配送责任，确保配送环节餐食不受污染；落实维权责任，确保消费者合法权益得到保护；落实管理责任，确保有专门机构和专职管理人员。根据该办法，入网餐饮服务提供者应当具有实体经营门店并依法取得食品经营许可证，不得超范围经营。外卖平台需要履行建立食品安全相关制度、设置专门的食品安全管理机构、配备专职食品安全管理人员、审查登记并公示入网餐饮服务提供者的许可信息、如实记录网络订餐的订单信息、对入网餐饮服务提供者的经营行为进行抽查和监测等义务。孙梅君指出，我们希望平台开办者严格落实办法有关规定，切实履行责任义务，规范入网商家经营活动，配合监管部门共同营造良好的网络餐饮消费环境，促进“互联网＋餐饮”的健康发展。美团点评集团、百度外卖等平台相关负责人在会上说，将会按照办法要求，加强对商户入网的审查登记，推进与监管部门数据对接，提升餐饮服务质量安全，确保外卖客户“舌尖上的安全”。</p></body></html>