<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>732</title>
</head>
<body>
<h1>
中国首次环球海洋综合科考大西洋航段告捷-新华网
</h1>
<p id="demo"> 2017-12-27 11:40:00</p><p>新华社“向阳红０１”船１２月２７日电（记者张旭东）正在执行中国首次环球海洋综合科考暨中国大洋４６航次的“向阳红０１”船，于当地时间２６日靠泊智利蓬塔港，标志着此次环球科考大西洋航段告捷。本航次大西洋航段首席科学家李传顺介绍，此次科考队员已完成多波束测线３５条、３３５７公里，完成海底摄像综合拖曳调查测线４６条、３００公里，获取高清海底照片超过６万张，完成电视抓斗地质取样作业６２站，完成深海岩芯钻机取样３站，累计获取深海地质样品超过２０吨，其中包括一个重约３吨的块状硫化物——这也是中国获得的单体最大块状硫化物。此外，科考队员还开展了海洋生态、大洋环流、海水化学及海洋微塑料等方面的调查研究。大西洋航段领队、中国国家海洋局第一海洋研究所副所长孙永福说，这些珍贵的样品和数据资料对后期研究大西洋海底的岩石构造、生物活动、热液活动及产物的空间分布特征和演化规律等，都具有非常重要的作用。大西洋航段是本次环球科考的第二、三航段，第二航段于１０月８日从南非开普敦起航，在南大西洋作业海区调查作业３２天后，于１１月１９日返回开普敦；第三航段于１１月２２日再次从开普敦起航，在南大西洋作业海区调查作业１３天后，于１２月１０日起航前往智利蓬塔港补给。据了解，完成补给后，“向阳红０１”船将前往南极地区，与“雪龙”号开展协同科考作业，本次环球科考也是中国首次将大洋科考与极地科考整合在一起的环球海洋综合科考。</p></body></html>