<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>735</title>
</head>
<body>
<h1>
杭州通报六起违反八项规定典型问题-新华网
</h1>
<p id="demo"> 2017-12-27 10:44:50</p><p>新华社杭州１２月２７日电（记者岳德亮）杭州市作风办近日通报了６起违反中央八项规定精神典型问题，让党员干部知敬畏、存戒惧、守底线。此次通报的６起违反中央八项规定精神典型问题包括：拱墅区大关街道城市管理科科长汪凌华多次收受管理与服务对象所送超市充值卡，接受管理与服务对象宴请；萧山区种畜场原场长吴利传以现金形式超标准向１３名党员发放福利；富阳区安监局总工程师夏加平两次借外出考察机会公款旅游及接受监管单位宴请；临安区青山湖街道办事处征迁安置科副科长兼综合服务中心副主任张瑞华违规操办儿子婚宴，违规收受辖区村干部等管理与服务对象所送礼金；桐庐县０５、１６省道有限责任公司董事长、总经理、党支部书记罗根海多次私用公车；建德市经济和信息化局墙改办工作人员李军等人违规接受管理与服务对象宴请。据了解，相关人员已经分别被给予党内警告、留党察看、撤销党内职务或行政警告、行政撤职处分。</p></body></html>