<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>736</title>
</head>
<body>
<h1>
深圳通报9起违反中央八项规定精神典型案例-新华网
</h1>
<p id="demo"> 2017-12-26 19:02:37</p><p>新华社深圳12月26日电（记者周科）元旦前夕，深圳市纪委通报9起违反中央八项规定精神典型案例，涉及违规收受礼品礼金、违规使用公务用车、公款旅游等问题。深圳市经贸信息委副巡视员贾立群接受服务对象安排旅游及宴请、违规收受礼金等问题。2017年7月29日至8月9日，贾立群携家人在法国、瑞士旅游12天，其中交通、景点、餐饮、导游等费用1.3万欧元（约人民币10万元）由深圳市某工程设计顾问公司支付；往返机票、酒店住宿共人民币16.3万元由深圳市某展览公司支付。2016年至2017年，湛江市某建筑工程有限公司为与贾立群搞好关系，多次安排贾立群一家三口国内旅游，并多次宴请贾立群，共支付人民币3.2万元。2017年9月至11月，贾立群多次收受服务对象所送礼金、购物卡，共计美金1万元、购物卡人民币12万元。此外，贾立群还涉嫌其他严重违纪违法问题，目前正在接受组织调查。深圳华泰企业公司党委书记、副总经理赵崇明，副总经理、工会主席张春荣公款旅游等问题。2016年7月12日至17日，赵崇明一行5人在赴中核二四四川绵阳生活基地调研后，到九寨沟、峨眉山等景点公款旅游。本次活动共花费人民币45225元，由深圳华泰企业公司行政经费支出。2016年7月6日至11日，张春荣一行6人赴中核动力兰州分公司家属区拆迁项目调研考察后，到张掖、卓尔山等景点公款旅游。本次活动共花费人民币50356元，由深圳华泰企业公司行政经费支出。赵崇明受到党内严重警告处分，张春荣受到党内警告处分。深圳市纪委还通报了福田区园岭街道办事处安监科科长劳一邨违规收受礼品礼金问题；罗湖区城管局副调研员黄文业违规收受购物卡问题；宝安区住建局档案室主任李海丰违规套取财政资金公款聚餐问题；深圳市公安局交通警察支队龙岗大队南湾中队中队长刘荣斌违规收受礼金问题；龙华区中心医院副院长张豪违规使用公务用车问题；大鹏新区大鹏中心幼儿园原园长龚晖违规收受礼品礼金等问题；宝安区新安街道翻身社区景福股份合作公司董事长余灶成违规用公款购买购物卡等问题。</p></body></html>