<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>738</title>
</head>
<body>
<h1>
我国网络安全执法体制有待进一步理顺-新华网
</h1>
<p id="demo"> 2017-12-26 17:58:19</p><p>新华社北京１２月２６日电（记者王思北）全国人大常委会执法检查组关于检查网络安全法、全国人大常委会关于加强网络信息保护的决定实施情况的报告日前提交全国人大常委会审议。报告指出，我国网络安全监管“九龙治水”现象仍然存在，网络安全执法体制有待进一步理顺。报告称，近年来，各级党委政府深入贯彻中央关于“建设网络强国”的战略部署，把网络安全纳入经济社会发展全局来统筹谋划部署，大力推进网络安全和网络信息保护工作，法律实施取得了积极成效。但在贯彻实施“一法一决定”、维护网络安全方面还存在一些困难和问题。全国人大常委会副委员长王胜俊在人大常委会会议上作报告时表示，一些地方网络信息安全多头管理问题比较突出，但在发生信息泄露、滥用用户个人信息等信息安全事件后，用户又经常遇到投诉无门、部门之间推诿扯皮的问题。“网络安全工作涉及领域多、范围广、任务重、难度大，系统性、整体性、协同性很强。”王胜俊说，应对复杂的网络安全态势，必须做到统一谋划、统一部署、统一标准、统一推进。要不断完善网络执法协作机制，尽快健全适应网络特点的规范化执法体系。报告提出，要落实网络安全法相关规定，加强网络安全执法队伍和执法能力建设，强化网信部门的统筹协调职责，明确各职能部门的权责界限和接口，形成网信、工信、公安、保密等各部门协调联动机制，既要防止职能交叉、多头管理，又要避免执法推责、管理空白，不断提高执法效率，有效维护网络空间的安全。报告还指出，要破除部门利益，打通数据和信息壁垒，减少重复建设，建立共享数据平台，切实做到不同部门收集的数据能够共享，提高网络安全防范能力。</p></body></html>