<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>739</title>
</head>
<body>
<h1>
强按贫困户鞠躬道歉重庆巫山涉事干部被撤职-新华网
</h1>
<p id="demo"> 2017-12-26 17:54:05</p><p>新华社重庆１２月２６日电（记者周闻韬周文冲）记者２６日从重庆市纪委了解到，重庆巫山“强按贫困户鞠躬道歉”涉事干部已受到撤销党内职务、行政撤职处分，被降为正科级非领导职务。１２月上旬，一段“干部强行要求群众鞠躬致歉、并伴有不当言行”的视频在网上流传。视频中，一男子质问站在一旁的老人：“明明有３００元低保，为啥要打胡乱说？”“你搞错了没？”老人回答“错了，错了。”随后，男子强行按住老人头部，一边喊“一、二、三”，一边让其连续鞠躬道歉。事发后，巫山县委宣传部相关负责人回应称，经查，视频中的干部系该县大昌镇镇长陈勇，群众系该镇樟树村６０岁的村民李某。李某实际享受国家扶贫政策，但在县扶贫工作组回访时，反映自己并没有享受相关政策。事后陈勇到樟树村召开会议，发生了视频中的一幕。重庆市纪委通报，经调查核实，１１月２６日，巫山县大昌镇党委副书记、镇长陈勇在组织召开群众扶贫工作座谈会中，对群众反映的问题了解不深入，且没有耐心解释，强行按住群众头部要求鞠躬道歉、承认错误，并伴有言语威胁等不当行为，造成恶劣影响。经重庆市纪检部门研究决定，陈勇被撤销党内职务、行政撤职，降为正科级非领导职务。重庆市纪委相关负责人表示，重庆将持之以恒正风肃纪。</p></body></html>