<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>740</title>
</head>
<body>
<h1>
深圳知识产权法庭和深圳金融法庭揭牌-新华网
</h1>
<p id="demo"> 2017-12-26 17:41:24</p><p>新华社深圳12月26日电（记者周科）经最高人民法院批复同意，深圳市中级人民法院26日在前海合作区设立深圳知识产权法庭、深圳金融法庭，分别办理由深圳中院管辖的知识产权案件和深圳市辖区内除基层法院管辖范围之外的第一审民商事金融案件、不服基层法院审理的第一审民商事金融案件的上诉案件。近年来，深圳市知识产权、金融案件基数大、增长快。2016年，全市法院一审审结各类知识产权案件14887件，同比上升63.2%，占全国十分之一。今年以来，全市法院金融纠纷案件持续迅猛上升，截至11月底共受理一审金融纠纷案件23639件，是去年同期的两倍。设立知识产权、金融案件审判专门法庭，建成知识产权、金融审判专业队伍，是确保案件审判质量、提升案件审判效率的实际需要。</p></body></html>