<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>741</title>
</head>
<body>
<h1>
广西通报6起扶贫领域腐败和作风问题典型案例-新华网
</h1>
<p id="demo"> 2017-12-26 17:08:50</p><p>新华社南宁12月26日电（记者夏军、徐海涛）日前，广西壮族自治区纪委通报了6起扶贫领域腐败和作风问题典型案例。个别领导干部侵占、套取扶贫资金被查处。全州县司法局原党组书记、局长王家生在担任全州县绍水镇党委书记期间，通过虚构工程量、承包工程合同等方式，套取易地扶贫搬迁项目专项资金26万元、收受礼金3.45万元。今年9月，王家生被开除党籍，其涉嫌违法问题由司法机关依法处理。融安县桥板乡原党委书记王时林侵吞扶贫项目款，受到开除党籍、开除公职处分，其涉嫌违法问题移送司法机关依法处理。个别领导干部在农村危房改造资金上“动手脚”被查处。2010年7月至2017年8月，上思县那琴乡那琶村原党支部书记潘继承违规收受危房改造户“好处费”5.35万元；金秀瑶族自治县大樟乡花炉村原党支部副书记盘荣成骗取危房改造补助资金1.76万元。两人都受到党纪处理，潘继承涉嫌违法问题由司法机关依法处理。自治区纪委还通报了玉林市玉州区南江街道常乐村原党支部书记曾继龙违规收受好处费、来宾市兴宾区大湾镇大湾社区原党支部书记邓俊生工作失职失责问题。其中，邓俊生在协助镇政府开展农村危房改造工作中，不正确履行工作职责，对申请上报的材料审核把关不严，导致16户不符合条件的农户获得危房改造补助资金。邓俊生受到党内严重警告处分。自治区纪委通报称，各级党组织和广大党员干部要深刻汲取教训，举一反三，切实引以为戒。各级纪检监察机关要坚持问题导向，持续加大对扶贫领域腐败和作风问题的查处力度，重点查处贯彻中央和自治区党委脱贫工作决策部署不坚决不到位，以形式主义、官僚主义对待扶贫工作，搞数字脱贫、虚假脱贫等行为，严肃查处贪污挪用、截留私分，优亲厚友、虚报冒领，雁过拔毛、强占掠夺等群众反映强烈的突出问题，为广西打赢脱贫攻坚战提供坚强保障。</p></body></html>