<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>742</title>
</head>
<body>
<h1>
《习近平新闻舆论思想要论》出版-新华网
</h1>
<p id="demo"> 2017-12-26 16:58:00</p><p>新华社北京12月26日电（记者王思北、史竞男）由新华社国家高端智库组织编写的《习近平新闻舆论思想要论》近日由新华出版社出版。党的十八大以来，以习近平同志为核心的党中央高度重视党的新闻舆论工作，习近平总书记多次发表重要讲话，深刻阐述了新闻舆论工作在党和国家工作全局中的重要地位，科学回答了事关党的新闻舆论工作长远发展的一系列根本性、战略性、全局性重大问题，提出了许多富有创见的新思想新观点新论断新要求，形成了系统完整、逻辑严密、具有鲜明时代特色的新闻舆论思想，为做好新时代党的新闻舆论工作提供了强大理论指引和科学行动指南。25日，新华社就《习近平新闻舆论思想要论》出版召开专题研讨会。新华社社长、课题组组长蔡名照在研讨会上表示，课题组认真学习习近平总书记关于新闻舆论工作的重要论述，深入领会习近平新闻舆论思想的时代背景、科学体系、精神实质，深入领会这一思想的政治意义、理论意义、实践意义，结合十八大以来党的新闻舆论工作实践，进行了深入研究解读，形成了《习近平新闻舆论思想要论》这一成果。与会专家学者表示，习近平新闻舆论思想开辟了马克思主义新闻观的新境界，丰富了党的新闻理论宝库，标志着我们党对新闻舆论工作的理论认识和实践探索达到了新的高度。《习近平新闻舆论思想要论》的出版为学习贯彻习近平新闻舆论思想、开展马克思主义新闻观教育提供了生动教材。</p></body></html>