<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>744</title>
</head>
<body>
<h1>
中老缅泰四国启动第65次湄公河联合巡逻执法行动-新华网
</h1>
<p id="demo"> 2017-12-26 16:43:32</p><p>新华社昆明12月26日电（杨静、钟立业）26日，随着6艘执法艇鸣笛驶出中国关累港，第65次中老缅泰湄公河联合巡逻执法行动正式启动。此次行动四国将采取分段巡航与全线联合巡逻的方式相结合，计划从中国关累港出发至老缅泰交界的金三角水域返航，全程500余公里。行动期间，将采取定点查缉、机动查缉与联合走访相结合的方式，加大联合巡逻执法力度，打击湄公河流域走私、偷渡等跨境违法犯罪活动，确保流域安全稳定。行动前，中国、老挝、缅甸、泰国四国执法部门在中国景洪召开指挥官联席会议及多边信息交流会，相互通报第64次联合巡逻执法行动以来各方掌握的湄公河流域各种跨境违法犯罪活动情况，共同分析研判流域治安形势和突出问题，磋商研究制定行动方案和预案，增强行动的针对性和精准打击力度，确保此次联合巡逻执法实现预期目标。</p></body></html>