<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>745</title>
</head>
<body>
<h1>
“女友”骗走男子3万多元 实为介绍人男同事假冒-新华网
</h1>
<p id="demo"> 2017-12-26 16:27:48</p><p>男同事摇身变“女友”微信诈骗被判10个月经原同事许某介绍，肖先生通过微信结识了一名“女友”，并确定了恋爱关系，聊天期间，“女友”向肖先生索要钱款3万多元。不承想，微信那头的女友竟是许某。近日，房山法院以诈骗罪判处被告人许某有期徒刑10个月，缓刑1年，并处罚金3000元。2016年5月，38岁的肖先生经原同事许某介绍，认识了一名叫“小丽”的女性，随后肖先生与“小丽”坠入爱河，两人通过微信谈起了恋爱。不久，“小丽”开始以各种理由向肖先生借钱，起初是“家人去世着急用钱”，随后是“共同购买古玩需要用钱”，先后共向肖先生索要35220元。与此同时，原同事许某称自己孩子生病、孩子来京上学急用钱向肖先生借了4500元。当肖先生提出见面时，“小丽”以种种理由拒绝，肖先生觉着蹊跷，意识到自己可能被骗，追问原同事许某未果，随后，肖先生报警，许某被公诉至法院。法院经审理后查明，肖先生与许某系原同事关系，2016年5月，许某虚构出一名叫“小丽”的女性，并介绍给肖先生做女朋友，随后，许某一直冒充“小丽”通过微信与肖先生恋爱交往，并骗取肖先生共计人民币35220元。此外，许某还虚构自己孩子生病、孩子来京上学急用钱等事实骗取肖先生共计人民币4500元。后被告人许某偿还肖先生人民币2000元。庭审前，许某的家属退还了诈骗肖先生的全部钱款，肖先生对许某的行为表示谅解。最终，法院判决许某犯诈骗罪，判处有期徒刑10个月缓刑1年，并处罚金人民币3000元。(记者 张宇)</p></body></html>