<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>746</title>
</head>
<body>
<h1>
前11月全国适用环保法配套办法案件同比增102.4%-新华网
</h1>
<p id="demo"> 2017-12-26 16:17:14</p><p>中新社记者 刘新 摄据环保部网站消息，环保护今日向媒体通报各地环保部门11月执行《环境保护法》配套办法及移送环境犯罪案件的情况。据悉，1-11月，全国实施适用配套办法的五类案件总数35667件，同比去年1-11月增长102.4%。环保部环境监察局局长田为勇介绍说，11月份，全国适用《环境保护法》配套办法的案件总数为3385件，同比去年11月增长0.5%。其中，按日连续处罚案件103件，查封、扣押案件1728件，限产、停产案件624件，移送行政拘留717起，移送涉嫌环境污染犯罪案件213件。1-11月，全国实施五类案件总数35667件。同比去年1-11月增长102.4%。其中，按日连续处罚案件1046件，比去年同期增长31.1%。罚款金额达107540.30万元，比去年同期增长43.4%；查封、扣押案件16429件，比去年同期增长121.6%；限产、停产案件7842件，比去年同期增长77.8%；移送行政拘留7827起，比去年同期增长139.1%；移送涉嫌环境污染犯罪案件2523件，比去年同期增长46.3%。附件1:2017年11月环保法配套办法执行情况区域分布表 附件2:2017年1-11月环保法配套办法执行情况区域分布表 </p></body></html>