<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>750</title>
</head>
<body>
<h1>
北京东城民防局原局长私设小金库受贿获刑3年半-新华网
</h1>
<p id="demo"> 2017-12-26 15:50:35</p><p>东城民防局原局长被“双开”东城区纪委区监委通报两起违纪违法案，其中，东城区民防局(地震局)原党组副书记、局长芦永良因私设和使用“小金库”300余万元、非法收受他人财物186万元等违法违纪，受到开除党籍、行政开除处分。东城区人民法院以受贿罪判处芦永良有期徒刑三年六个月，并处罚金人民币二十万元。另外，2012年至2014年，建国门分中心房屋管理员颜博利用负责收缴直管公房房租、办理公房调租手续的职务便利，将收取的部分房租及房租差价共计224459.06元截留，用于归还个人赌博所欠高息贷款。经东城区监察委员会委员会议研究决定，给予颜博行政开除处分。2017年11月22日，东城区人民法院以挪用公款罪判处颜博有期徒刑一年，责令其退赔人民币224459.06元。(记者 张楠)</p></body></html>