<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>752</title>
</head>
<body>
<h1>
中铝兰州分公司环境污染存监管不到位 公安机关介入调查-新华网
</h1>
<p id="demo"> 2017-12-26 15:07:07</p><p>新华社兰州12月26日电（记者张钦、陈斌）兰州市副市长左龙26日在新闻发布会上通报称，中铝兰州分公司对历史遗留的电解铝大修渣没有按国家要求及时处置，反映出企业对环保重视不够，环保主体责任不落实，兰州市红古区和环保部门监管不到位。通报同时指出，中铝兰州分公司所在地区并不属于祁连山范围。中铝兰州分公司目前电解铝总产能43万吨。12月18日，有关企业固体废弃物环境污染问题的报道引发社会关注，甘肃省省市联合工作组进驻中铝兰州分公司全面开展调查核实处置工作。26日，兰州市政府举行新闻发布会通报调查处置情况。通报称，2016年8月，《国家危险废物名录》（2016版）将“电解槽维修及废弃产生的废渣”列为危险废物。此后中铝兰州分公司产生的大修渣全部在厂内库房暂存，但确实没有按照国家要求将此前产生的大修渣及时处理。左龙说，兰州市将根据对问题的调查结果，依法依规、从严从快，对相关责任人员进行严肃问责处理。目前，公安机关已介入调查，进一步查清是否存在违法问题。今年9月，兰州市环保局接到有关环保人士的举报后，对这起环境违法行为立案，分别对中铝兰州分公司和第三方甘肃欣鑫炉料公司罚款10万元，并责成企业及时处置。10月1日至2日，企业将1701.55吨大修渣拉运到厂区仓库存放。10月9日，又分拣、转运出大修渣40.75吨。截至18日媒体报道时，排查整治工作还在进行中。此前，中铝集团也对兰州分公司2名责任人给予党内警告处分，2人给予行政警告处分，1人被撤职。红古区对2名监管不到位的干部问责。兰州市政府通报称，从历年监测数据和近期联合工作组对企业周边44个采样点的采样监测显示，中铝兰州分公司周边土壤、气、水的监测数据未超出国家标准限值。中铝兰州分公司所在地区不属于祁连山范围，距离祁连山的东起点乌鞘岭70多公里。其大修渣堆放点集中于兰州市红古区平安镇岗子村北侧约3公里处的山神沟、撒拉沟中，村子与堆放点之间有国道、高速公路和中铝兰州分公司厂区分隔。中铝兰州分公司党委书记、总经理孙波涛表示，将加快实施电解铝大修渣无害化处理项目，确保在明年上半年投入运行。</p></body></html>