<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>755</title>
</head>
<body>
<h1>
2017反腐成绩单释放强烈信号：力度不减节奏不变-新华网
</h1>
<p id="demo"> 2017-12-26 16:10:41</p><p>近20名中管干部被立案审查、“百名红通人员”归案过半……这是2017年中国反腐“成绩单”。2017年是全面从严治党和惩治腐败的关键一年，反腐败斗争取得赫赫战果。2017年马上就要过去了，这样的成绩单令人欣慰……2017年，39名省部级以上高官落马。十九大后，鲁炜、刘强等高官落马，显示全面从严治党不会松口气、歇歇脚。2017年，孙政才、王三运、项俊波等近20名中管干部被中央纪委立案审查。截至12月22日，落马省部级以上高官39名，其中包括副国级官员1名，正部级高官9名。2017年，“百名红通人员”归案人数过半。12月6日，随着云南省昆明市盘龙区国税局原工作人员李文革的归案，“百名红通人员”已到案51人，我国追逃追赃的成绩单再次被刷新。我国通过设置防逃程序，实现新增外逃人员大幅下降，从2014年的101人降至2015年的31人，2016年为19人，2017年1月至9月为4人。2017年，巡视制度更趋完善。8月份，随着第12轮巡视整改情况全部公布，十八届中央巡视圆满收官，一届任期内中央巡视全覆盖在党的历史上首次实现。此轮巡视最大的亮点是首次开展了“机动式”巡视，十九大后“首虎”、中宣部原副部长鲁炜的落马，便是机动式巡视作用的彰显。7月14日，新修订的《中国共产党巡视工作条例》发布，明确了政治巡视的定位和要求。党的十九大对巡视工作也作出新部署：“深化政治巡视，坚持发现问题、形成震慑不动摇，建立巡视巡察上下联动的监督网。”2017年，国家监察体制改革试点全国推开。十九大报告提出，深化国家监察体制改革，将试点工作在全国推开，制定国家监察法，依法赋予监察委员会职责权限和调查手段，用留置取代“两规”措施。2017年，在北京、山西、浙江3省市前期试点基础之上，国家监察体制改革试点在全国各地推行。监察体制改革对国家权力配置进行调整，作为党统一领导的反腐败工作机构，监察委将实现对所有行使公权力的公职人员监察全覆盖，形成有效的反腐败体制机制。回顾2017年反腐，还有不少亮点。踏上新征程、担当新使命，党中央用实际行动向全社会释放反腐败力度不减、节奏不变的强烈信号。拿着这份优异的成绩单，我们对夺取反腐败压倒性胜利充满信心！</p></body></html>