<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>756</title>
</head>
<body>
<h1>
陕西咸阳一中学生校外被同校生群殴 校长被免职-新华网
</h1>
<p id="demo"> 2017-12-26 16:19:50</p><p>图为古渡中学。 官方供图陕西咸阳一中学生在校外被5人群殴，相关视频在网上流传引发关注。据了解这些学生均系咸阳市古渡中学学生。咸阳市秦都区委宣传部26日向中新网记者表示，古渡中学学生校外打架事件发生后，已对参与打架的5名学生给予纪律处分，对该中学校长予以免职处理，并对古渡中学主管学校安全工作的副校长给予警告处分。一段名为“咸阳惊现暴力视频，一穿校服男生遭数人暴打”的视频日前在网上流传。视频显示，在一块空地上，一名穿校服、背书包的男生，被其他5名男生群殴、飞踹、并用棍子在其身上抽打，被打学生几次被踹倒，然后被拉起来接着殴打。其中有1人身穿黑色外套，另外4人身穿与被打男生相同的校服，事发现场还停放有一辆共享单车，车上挂着衣服和书包。该视频引发关注和热议。咸阳市秦都区宣传部26日向记者透露，12月20日，陕西咸阳市古渡中学学生校外打架事件发生后，公安和教育部门及时介入调查，要求迅速查清真相并予以从严处理，教育部门组成调查组进入古渡中学，根据调查情况对相关责任人进行严肃处理。同时，要求做好被殴学生及家属的情绪安抚和心理疏导，在全区各学校开展校园安全隐患排查工作，对学生开展预防校园内外暴力的安全专题教育，坚决杜绝此类事情发生。经过调查，公安部门分别对5名古渡中学九年级打人学生按照相关法律规定给予了严厉处罚，因涉及未成年人违法犯罪，处理详细结果不对外公布。古渡中学按照公安部门的处理意见，分别对5名学生作出了严肃的纪律处分。咸阳市秦都区教育局相关负责人接受中新网记者采访时表示，25日，秦都区教育局党委根据调查组调查情况，对学校相关负责人作出处理决定，对古渡中学校长予以免职处理；对古渡中学主管学校安全工作的副校长给予警告处分；对古渡中学政教处临时负责人诫勉谈话，并通报全区各学校；对参与打人的5名学生所在的班级班主任分别调离班主任岗位，并在全区通报批评。目前，秦都区各学校正在认真开展校园安全隐患大排查工作，并在师生中开展校园预防校园内外暴力事件专题教育活动。(张枭 阿琳娜)</p></body></html>