<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>757</title>
</head>
<body>
<h1>
健身教练银行附近持刀抢劫 理发逃跑仍次日落网-新华网
</h1>
<p id="demo"> 2017-12-26 16:17:21</p><p>持刀抢劫取款人劫匪落网被刑拘本月20日晚正在银行ATM机取钱的男事主遭持刀抢劫，一名头戴口罩、帽子的体壮男子手持壁纸刀架在他的脖子上，抢走了他刚取出的五千多元钱。记者从海淀警方了解到，抢劫嫌疑人是一名健身教练，已被抓获归案，因涉嫌抢劫罪现已被刑事拘留。遭抢男事主于12月20日晚8点左右，在黄庄南路一银行取钱时，被一名男子持刀威逼，抢走了五千多元钱。据事主回忆，该男子头戴帽子，嘴上还戴着口罩，个子不高，一米七左右。事主报警后，海淀分局双榆树派出所立即出警，并将情况上报分局刑侦支队，共同成立专案组侦办案件。办案民警查看大量路边监控录像，发现嫌疑人离开银行后，往科学院南路西南方向逃跑，逃到科学院路东西方向时，进了一家理发店。过了半小时，嫌疑人剪短头发后，打车逃离。民警一路追踪抢劫嫌疑人到西二旗附近一小区内，确定他就住在小区某单元里。21日中午，民警在嫌疑人家里将其成功抓获，随后带回派出所。抢劫嫌疑人杨某此前是一名健身教练。作案前他准备了口罩，还买了一把壁纸刀。案发当晚他在银行附近溜达，尾随一位男子进了银行，后趁没人的时机，用刀架在该男子的脖子上，抢走五千多元。在逃跑过程中，为了掩饰躲避追踪，他进理发店，把长发剪成短发，却不料第二天就被警察抓住了。在大量证据面前，嫌疑人杨某对自己抢劫的犯罪事实供认不讳。目前，此案正在进一步审查中。(记者 林靖)</p></body></html>