<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>758</title>
</head>
<body>
<h1>
两辆摩托运毒近150公斤 云南警方破获一起特大运毒案-新华网
</h1>
<p id="demo"> 2017-12-26 16:24:31</p><p>新华社昆明12月26日电（记者 庞明广）云南省西盟县公安局25日在中缅边境一线破获一起特大跨境运输毒品案，缴获毒品可疑物冰毒片剂149.23公斤，抓获犯罪嫌疑人两名。该案的侦破刷新了西盟警方单起案件缴毒数量的纪录。据西盟县公安局通报，今年6月初，该局民警在边境调研中发现，一伙境内人员与境外人员相互勾结，准备将一批毒品通过西盟县运输至我国境内进行贩卖。在发现这一线索后，西盟县公安局当即抽调警力，组成专案组开展案件侦查。经长期跟踪侦查，专案组12月25日零时许在中缅边境一线的西盟县力所乡将犯罪嫌疑人岩某某和俄某抓获，当场缴获用白色编织袋包装的毒品可疑物冰毒片剂149.23公斤，以及两辆涉案摩托车。经审讯，岩某某和俄某均对犯罪事实供认不讳，两名犯罪嫌疑人因涉嫌运输毒品罪已被依法刑事拘留，目前案件正在进一步办理中。</p></body></html>