<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>76</title>
</head>
<body>
<h1>
九部门为民企专场解读优化营商环境-新华网
</h1>
<p id="demo"> 2018-04-03 08:07:17</p><p>新开办企业各种手续5天办结，减税降费……昨天，北京市工商联邀请北京市发改委、财政局、国税局、工商局等九大部门，集体为600余家民营企业解答北京市新出台的优化营商环境9项主要政策及N项配套措施，进一步提升政策措施的知晓度和应用度。在“北京市工商联优化营商环境政策解读会”上，北京市发改委表示，此次新发布的“9+N”项政策，首先解决的就是企业在营商中的痛点、难点和堵点。全市各部门将大力精简办事程序，大幅压缩政府部门办事时间。减税降费，先行试点税收优惠政策，减少企业的成本负担，也被民营企业家称之为此次营商“大礼包”的最大亮点，让企业有了真正的获得感。市财政局表示，在去年为企业和社会减负400亿元的基础上，北京还将大力减税减费。能否减少政府对企业活动的干预，真正落实简政放权，放管结合，优化服务，也是民营企业关注的话题。市发改委表示，此次“9+N”政策改革，拓展了北京市场主体的发展空间，必将激发民营经济创新创业活力。北京首农电商科技有限公司总经理李志起表示，营商环境是企业最在意的软环境。对于民营企业来讲，企业在营商的整个生命周期过程中，需要和政府各个部门打交道。过去，这些环节存在这样或那样的不方便。比如，以前，企业办执照时间往往长达一到两个月，漫长的办理过程在一定程度上影响了一些创业者想去做实体经济的积极性。现在北京打包推出一系列的优化营商环境的措施，增加了企业家的信心，对于培养新动能，促进新经济落地提供了最大的帮助。作为企业经营者，他们希望有更多的击中民营企业痛点的政策落地。比如，现在线下推出一站式办公大厅，是否可在线上也推出一站式服务大厅，围绕企业的全生命周期当中的若干痛点推出“一站通”，让一个企业的法人执照可以在一个平台通行无阻，不需要企业到各个网站上去注册。（记者 王薇）</p></body></html>