<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>760</title>
</head>
<body>
<h1>
范维纲同志逝世-新华网
</h1>
<p id="demo"> 2017-12-26 16:48:29</p><p>新华社北京１２月２６日电原海军航空兵部副政治委员、副兵团职离休干部范维纲同志，因病医治无效，于１１月２６日在北京逝世，享年９５岁。范维纲是山西榆次人。１９３８年３月参军，同年６月加入中国共产党。抗日战争时期，他历任战士、副班长、干事、连副政治指导员、团政治指导员、政治侦察员等职，先后参加了白晋、邢沙永、百团大战、太岳、反“扫荡”反“清剿”等战役战斗。解放战争时期，他历任团政治处特派员、科长等职，先后参加了上党、平汉、豫北、张凤集、鄄城、滑县、淮海等战役战斗。中华人民共和国成立后，他历任军政治部保卫部副部长，海军青岛基地政治部保卫部副部长、部长，海军政治部保卫部副部长、秘书长，海军装备技术部副政委、政委等职，为部队革命化、现代化、正规化建设作出了贡献。范维纲１９５５年被授予上校军衔，１９６４年晋升为大校军衔，曾荣获三级独立自由勋章、三级解放勋章和独立功勋荣誉章。</p></body></html>