<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>763</title>
</head>
<body>
<h1>
唐代瓯窑遗址首度完整发掘成果丰富-新华网
</h1>
<p id="demo"> 2017-12-26 17:01:11</p><p>新华社杭州12月26日电（记者冯源）记者从浙江省文物考古部门获悉，2017年，他们对位于温州的唐代瓯窑遗址进行了首度完整发掘，为研究唐代窑业管理制度提供了重要的考古依据。“瓯”是温州的别称，自东汉迄两宋的瓯窑因此得名。浙江省文物考古研究所研究员郑建明介绍，在今年对温州市永嘉县坦头遗址的发掘中，他们在一件匣钵上发现了“大中十一年”的纪年，在另一件匣钵上则发现了“余王监”三字，又在一件瓷碗上发现了“官作碗”等字样，这对研究唐代窑业管理制度具有指向性的意义。在历史上，两宋以及元明清官窑赫赫有名，生产了当时仅供宫廷使用的上等瓷器，从某种程度上讲更像是“御窑”。而在宋代之前，官府如何管理瓷窑则还有诸多未解之谜。郑建明说，他们在著名的慈溪上林湖越窑遗址上开展发掘时，发现过带有“官坊”字样的瓷器。当时这一地区属于五代十国中的吴越王国管辖，很可能是吴越国政权管理越窑生产的物证。而“大中”是唐宣宗的年号，此次发现则将官府管理瓷窑的制度研究追溯到了唐代。此次发掘工作是经国家文物局批准，由浙江省文物考古研究所会同温州市文物保护考古所、永嘉县文物馆实施的，发掘面积近1千平方米。坦头遗址位于永嘉县三江街道龙下村，地处楠溪江入瓯江口。考古工作者在遗址中发现了一座依山而建的龙窑，以及丰富的作坊遗迹和祭祀遗迹，同时还出土了大量的高质量青瓷器和各种类型的窑具。此次发掘首次较全面地揭示了唐代瓯窑产品的基本面貌与特征，发现了大量的碗、壶、罐、钵、盆、盒、碟、盏、灯盏、辗轮等瓷器。它们质量上乘，胎质细致紧致，釉面晶莹，釉色以淡青釉为主。</p></body></html>