<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>766</title>
</head>
<body>
<h1>
喜欢上这样的男孩只要七秒？ 他的暖心之举一夜之间火了-新华网
</h1>
<p id="demo"> 2017-12-26 17:54:23</p><p>新华社北京１２月２６日电（记者郭方达王晖冯国栋）近日一则关于武汉地铁上熟睡男子仍不忘让座的视频在微博广泛传播，短时间内获得了数万转发与评论。该视频由一位网名为“野味帅哥”的微博博主发布，视频中，身穿黑色外套的男子坐在靠近地铁车门的座位上，用帽子扣住头部，身体倚靠着扶手正在小睡。男子手中则握着手机，“需要让座请叫我”的字样在手机屏幕上滚动播放。尽管视频只有短短七秒，但引发了数万网友的集体点赞。网友纷纷留言表示“喜欢上这样一个男孩只需要短短七秒”“世上还是好心人多”。而在视频发布的次日凌晨，网名为“竞走大蜗牛”的网友留言表示自己是视频中的男子，“没想到自己能上热搜”，对于得到大家关注，他表示十分感动。同日下午，他发布一条微博称，自己十分感谢微博网友们的支持鼓励。但与此同时，自己也接到了一些私信，质疑其存在故作姿态与炒作的嫌疑。对此他回应称，自己想说的挺多，但最终还是决定随心，“我自己问心无愧就好”。他表示自己平常坐地铁站数较多时就会这么做，他只希望能多做一些正能量的事情。“我就是一个普通人，所以大家可以不用关注我。”记者联系到视频中的男子，他表示自己来武汉参加工作只有一年多的时间，一个习惯行为被大家关注纯属偶然。对于网络上一些质疑，他告诉记者，无论做怎样的事，一百个人中总会有一两个发表不同的看法，这些他无权干涉，“况且我收到更多的是鼓励与祝福”。记者在采访最后问他是否有什么话想与大家分享，他非常腼腆地告诉记者：“我组织不好语言，就给大伙拜个早年吧！”“连睡着时还在考虑给需要的人让座，男孩的行为获得广泛点赞背后反映的是人性的光辉，是一种正能量的传递。”中国传媒大学新闻学院院长刘昶认为，新闻要素是选择和采访编发消息的标准，在传播内容上这种具有“贴近性”“人情味”“显著性”和“进步性”等多重新闻价值的消息符合新闻传播规律。“男孩的行为”具有表征社会正能量的积极性，而这种现实意义在人们社会生活的任何时间、任何地点都可能出现，对于新闻的消费者而言，愈贴近周边生活、愈具人文情怀的客观事实，往往愈容易引发公众心理上的共鸣，呼唤人心深处的情感响应，这些因素的叠加以及社会对于正能量的向往，促成了此类人文性事件在网上的走红。</p></body></html>