<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>767</title>
</head>
<body>
<h1>
执法检查报告：研究建立网络安全特殊人才激励制度留住“高精尖”专业人才-新华网
</h1>
<p id="demo"> 2017-12-26 17:54:51</p><p>新华社北京１２月２６日电（记者王思北）此间正在举行的十二届全国人大常委会第三十一次会议审议了全国人大常委会执法检查组关于检查网络安全法、全国人大常委会关于加强网络信息保护的决定实施情况的报告。针对网络安全人才短缺问题，报告指出，要加快网络安全人才队伍建设，鼓励网络和信息化人才发展体制机制改革先行先试。网络安全是技术更新最快的领域之一，网络空间的竞争，归根到底是人才的竞争；建设网络强国，最关键的资源是人才。报告指出，教育部创新网络安全人才培养模式，增设网络空间安全一级学科，启动一流网络安全学院建设示范项目，为网络安全技术创新提供人才支持。“从检查的情况看，不管是经济发达地区还是相对落后地区，网络安全技术人才都比较匮乏，现有的网络运营单位技术人才对网络安全风险的监控、应急处置和综合防护能力不足，难以适应保障网络安全的需要。”全国人大常委会副委员长王胜俊在人大常委会会议上作报告时说，受到编制、职务、薪资等因素制约，许多地方网信、公安、通信管理、工信等单位往往招不到或留不住专业技术人才，一线执法人员的专业素养和技能难以胜任网络运行安全常态化监管执法职责。对此，报告提出，要高度重视网络安全人才培养工作。鼓励网络和信息化人才发展体制机制改革先行先试，研究建立网络安全特殊人才培养、管理和激励制度，加大对网络安全高端人才、紧缺人才的培养、引进和支持力度，使党政机关、关键信息基础设施运营单位能够招得进、用得好、留得住精通网络安全技术的“高精尖”专业人才。</p></body></html>