<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>768</title>
</head>
<body>
<h1>
杨晶：认真学习贯彻习近平新时代中国特色社会主义思想 全面开创行政学院事业发展新局面-新华网
</h1>
<p id="demo">/</p><p>杨晶在全国行政学院院长会上强调 认真学习贯彻习近平新时代中国特色社会主义思想 全面开创行政学院事业发展新局面新华社北京12月26日电 全国行政学院院长会议26日在京召开，国务委员兼国家行政学院院长杨晶出席会议并讲话。杨晶指出，党的十八大以来，全国各级行政学院在以习近平同志为核心的党中央坚强领导下，围绕中心、服务大局，突出特色、注重质量，坚持全面从严治党、从严治院，各方面工作取得显著成绩，行政学院事业发展进入了新时代。杨晶强调，新时代要有新气象新作为。各级行政学院要深入学习贯彻党的十九大精神，以习近平新时代中国特色社会主义思想为指导，牢固树立“四个意识”，高扬学院“姓党”旗帜，充分发挥特色优势，做强培训主业，打造高端智库平台，更好服务党和政府科学决策、干部队伍建设和全面开放新格局。要加强党对行政学院工作的领导，建立完善质量立院、人才强院、从严治院体制机制，大力推动改革创新，不断开创新时代行政学院事业发展新局面，为决胜全面建成小康社会、夺取新时代中国特色社会主义伟大胜利、实现中华民族伟大复兴的中国梦作出新贡献。Copyright © 2000 - 2016 XINHUANET.comAll Rights Reserved. 制作单位：新华网版权所有 新华网</p></body></html>