<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>770</title>
</head>
<body>
<h1>
一诚长老逝世-新华网
</h1>
<p id="demo"> 2017-12-27 10:08:42</p><p>新华社北京12月27日电知名的爱国宗教人士，中国共产党的亲密朋友，第十届、十一届全国政协常委，江西省政协原副主席，中国佛教协会名誉会长，北京法源寺、江西靖安宝峰寺住持一诚长老，于2017年12月21日在江西省云居山真如寺逝世，享年91岁。一诚长老病重期间和逝世后，中央有关领导同志以不同方式表示慰问和哀悼。一诚，湖南望城人，1927年2月出生。1949年在湖南省望城县洗心庵剃度出家。1956年广东省韶关市南华寺受戒，后返回江西省永修县云居山真如寺。1966年至1981年江西省永修县云山垦殖场劳动。1981年至1985年，任真如寺知客。1985年后，任真如寺主持。1993年后，历任中国佛教协会副会长、会长、名誉会长，中国佛学院院长，江西省政协副主席，江西靖安宝峰寺住持，北京法源寺住持。</p></body></html>