<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>771</title>
</head>
<body>
<h1>
我国拟对临床急需药品上市再开“新绿色通道”-新华网
</h1>
<p id="demo"> 2017-12-27 11:06:18</p><p>新华社北京１２月２７日电（记者陈聪）国家食品药品监督管理总局日前发布《临床急需药品有条件批准上市的技术指南（征求意见稿）》，向社会公开征求意见。意见稿提出，拟用于预防或治疗严重疾病或降低疾病进展至更严重程度的药品，包括治疗罕见病的药品，可申请有条件批准上市。根据意见稿，可申请有条件批准的药品，其目标适应症的现有治疗手段应具备未能满足临床需求的条件，包括无批准可用的治疗方法、与现有疗法相比对疾病的严重结果有明显改善作用等情况。据了解，该技术指南适用于未在中国境内上市销售、用于治疗严重或危及生命的疾病或罕见病的中药、化学药和生物创新药。目的是缩短临床试验的研发时间，提早应用于无法继续等待的急需病人。在这一规定发布前，食药监总局已在审评环节专门开辟绿色通道，对创新药品予以优先审批。此次新规发布后，符合规定条件的临床急需药和治疗罕见病的药品，将有望进一步加速上市。</p></body></html>