<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>772</title>
</head>
<body>
<h1>
医药代表从业新规征求意见：医药代表不得承担药品销售任务-新华网
</h1>
<p id="demo"> 2017-12-25 18:15:00</p><p>新华社北京１２月２５日电（记者陈聪）国家食品药品监督管理总局和国家卫生计生委日前发布《医药代表登记备案管理办法（试行）（征求意见稿）》，向社会公开征求意见。意见稿提出，医药代表不得承担药品销售任务，不得参与统计医生个人开具的药品处方数量，不得直接销售实物药品，不得收款和处理购销票据，不得进行商业贿赂。意见稿提出，医药代表不得误导医生使用药品，不得夸大或误导疗效，不得隐匿药品不良反应。根据意见稿，医药代表的姓名、性别、照片、身份证号等信息需在登记备案平台备案。药品生产企业是登记备案主体，应当对其聘用或授权的医药代表在统一的平台上进行登记备案。医药代表登记备案平台由食药监总局指定。据了解，医药代表是指代表药品上市许可持有人（持有药品批准文号的企业）在中华人民共和国境内从事药品信息传递、沟通、反馈的专业人员。进口药品总代理商可以代理境外药品上市许可持有人负责医药代表的登记备案管理工作。药品销售人员不属于医药代表。</p></body></html>