<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>773</title>
</head>
<body>
<h1>
湖北宜昌：检察院、公安局联合执法打击破坏长江生态环境犯罪-新华网
</h1>
<p id="demo"> 2017-12-25 17:41:57</p><p>新华社武汉12月25日电（记者王自宸）长江流域首个“保护长江生态环境检察官办公室”25日在长江航运公安局宜昌分局设立，此举旨在强化警检联合查办案机制，提高打击破坏长江生态环境犯罪实效。湖北宜昌是三峡工程所在地，其全长237公里的江段内以禁采区为主，生活着中华鲟、江豚、胭脂鱼等国家重点水生保护动物。为实现在生态环保领域刑事司法工作的有效联动，推动行政执法与刑事司法的“两法”衔接，宜昌市伍家岗区检察院在长江航运公安局宜昌分局派驻保护长江生态环境检察官办公室，从监督行政执法机关依法向公安部门移送案件、会同公安部门及相关行政执法单位开展执法和环境保护公益诉讼、开展环保犯罪预防等多方面入手，不断为维护长江生态平衡提供司法保障。长江航运公安局宜昌分局局长罗吉表示，下一步还将深化与海事、航道、渔政、水利、环保等行政执法部门的沟通协作和联合查办案机制，构建整体打防格局，精准高效打击破坏长江生态环境资源犯罪。</p></body></html>