<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>774</title>
</head>
<body>
<h1>
重庆法院出台１６条意见保护民营经济发展-新华网
</h1>
<p id="demo"> 2017-12-25 17:06:45</p><p>新华社重庆１２月２５日电（记者周闻韬、陈国洲）记者从重庆市高级人民法院了解到，该院日前联合重庆市工商联出台保护民营经济健康发展１６条意见，旨在解决民营经济司法保护中的主要矛盾，全面保护民营企业以及民营企业家物权、债权、股权、知识产权、自主经营权和各类新型权益，为民营经济营造更为宽松的发展环境。《关于依法平等全面保护民营经济健康发展的意见》提出，重庆高院将加强对民营企业及相关人员的平等刑事保护，依法审慎对待民营企业在生产、经营、融资活动中的创新性行为。同时强化商事审判保护职能，妥善审理涉及民营企业的金融借款、融资租赁、民间借贷、改制纠纷等案件，加强对民营企业救治和退出的司法保障。此外，针对民营经济与行政部门间的纠纷案件，意见提出，在行政审判中，法院应坚持审判中立。民营企业起诉认为行政机关行政行为逾越法定权限、违背法定程序侵犯其合法权益，如主张事实依据充分，法院要依法纠正相关行政行为。维护民营企业的经营自主权，推动建立公平公正的市场竞争秩序。据重庆市高级人民法院党组副书记、副院长黄明耀介绍，重庆法院将以法治作为最大公约数，以优质法治环境聚集经济要素，切实履行审判职能，为民营经济健康发展提供强有力司法保障。</p></body></html>