<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>777</title>
</head>
<body>
<h1>
西藏草原植被覆盖度超４５％草原生态恢复向好-新华网
</h1>
<p id="demo"> 2017-12-25 18:14:59</p><p>新华社拉萨１２月２５日电（记者刘洪明）监测数据显示，２０１０年到２０１７年，西藏自治区天然草地植被综合覆盖度增加２．５个百分点，达到４５．２％。随着多个草原生态保护重点工程大力实施，当地草原生态持续恢复向好，农牧区生态与经济取得双赢。记者从西藏自治区农牧厅获悉，近７年来，西藏高覆盖度的植被面积增加８．２％以上；昂仁、康马、仲巴、浪卡子和那曲县共５个县的禁牧区效益监测表明，工程区内与区外相比，植被覆盖度平均提高１５．１个百分点，植株高度和产草量分别平均增加３９％和５１％。全区草地生态功能和价值逐渐增强。草原植被覆盖度增加，得益于禁牧工程、草原生态保护补助奖励政策等多个草原生态工程。据了解，西藏于２００９至２０１０年开展试点草原生态保护补助奖励机制，这激发了农牧民主动保护意识。去年，西藏完成支出草原补奖和绩效考评共逾３２亿元。２０１７年，中央下达西藏新一轮草原补奖资金２８．８亿元，绩效考评资金约３．８亿元。西藏自治区农牧厅副厅长肖长伟介绍，到目前，全区实现草原禁牧面积１２９３８万亩。全区今年以来提高了深度贫困和边境地区人口对草原生态保护项目的参与度和收益水平。此外，扩大了草原生态保护重点项目实施范围，在保障牧区半牧区县实施基础上，将草原面积超过５００万亩的１１个农业县全部纳入退牧还草工程实施范围。随着牧民对草原生态项目的支持日益增强，西藏畜牧业结构逐渐科学化。据介绍，全区年末牲畜存栏从２０１０年的２３２１万头（只匹）预计减少到２０１７年的１８００万头（只匹）以下。天然草原鲜草产量从７８００万吨增加到９７００万吨。</p></body></html>