<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>778</title>
</head>
<body>
<h1>
武汉地铁新开线路网络优化提速２５％以上-新华网
</h1>
<p id="demo"> 2017-12-25 18:15:00</p><p>新华社武汉１２月２５日电（记者王贤）“经过专项网络优化和调试，新开地铁线路的上网平均速率可达５０Ｍｂｐｓ，较已开通线路提速超２５％。”中国移动湖北公司武汉分公司技术人员说。临近春运，为解决客流剧增对轨道交通上网需求的压力，湖北移动开展地铁上网提速工程。即将开通运营的武汉地铁８号线一期、阳逻线是网络提速重点区域，工作人员正对沿线通信基站进行最后的优化调试。作为武汉第三条穿越长江的地铁线，８号线一期庞大的客流量给通信保障提出了更高的要求。武汉移动公司在全线设置２Ｇ基站２４个、４Ｇ基站５２个，创新采用站台分布式天线覆盖和隧道不间断收发信号的泄漏电缆式覆盖两种信号覆盖方式；并突破性地采用新型信号传输方式，通过多频组网技术增加网络容量。根据测算，届时移动终端最高下载速率可达１００Ｍｂｐｓ。“阳逻线（２１号线）的特殊在于既有地上线路，又有地下轨道，保证地上地下路段通信信号的无缝式对接尤其关键。”上述技术人员表示，阳逻线轨道沿线精心设计选址建设的１３个２Ｇ基站、２５个４Ｇ基站，有效保障了线路全程连续覆盖，通话及上网信号满格。</p></body></html>