<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>779</title>
</head>
<body>
<h1>
宁夏隆德：“扶贫花”助村民在家门口脱贫-新华网
</h1>
<p id="demo"> 2017-12-25 18:15:00</p><p>新华社银川12月25日电 题：宁夏隆德：“扶贫花”助村民在“家门口”脱贫新华社记者王腾、靳赫、刘飞隆冬的宁夏山寒水冷，六盘山上的人造花制作车间里却温暖如春。伴随着机器轰鸣，38岁的女工卜桂琴正将零散的纱布拼接成“盛开”的鲜花。“以前我在杭州一家电子厂打工，一年见不上娃几面，如今家门口有了这个车间，可以边打工边带娃，挣钱持家两不误。”卜桂琴说。卜桂琴家住宁夏固原市隆德县观庄乡前庄村，地处六盘山集中连片特困地区，以前当地村民挣钱渠道较少，只能常年外出打工。而如今“开”进村头的人造花制作车间，将脱贫致富的良机送到了村民家门口。记者从隆德县政府了解到，近年来在“闽宁对口协作”背景下，福州市闽侯县助力隆德县打造以村级扶贫车间为载体的脱贫模式，目前已成功打造村级人造花制作车间3个，不仅解决了企业的招工难题，更帮助留守群体实现了精准脱贫。“我们的产品主要销往欧洲和中东，既可以出口创汇，又能帮助当地百姓脱贫致富。”宁夏隆德人造花工艺有限公司经理潘文贤说，2017年前10个月，隆德县人造花制作车间已实现产值6000余万元，提供固定就业岗位160多个。“在车间里做工，一个月下来我能挣2000元，以前家里的收入主要靠男人外出跑长途，现在我自己也能挣钱，在家里更独立了。”前庄村人造花制作车间女工李林说。潘文贤告诉记者，为了增加扶贫力度、扩大扶贫范围，除设置固定就业岗位外，公司还将原材料分发到户，并组织入村培训，使留守老人和失能人士在枕边炕头也能“栽”出“扶贫花”。目前，隆德县已有800余名村民通过在家制作人造花实现灵活就业，家住隆德县城关镇红崖社区的魏巧宁便是其中之一。“原来日子真难，我本来就有残疾，丈夫在盖房时摔伤，儿子又出了车祸。”魏巧宁说，家里失去了劳动力，孩子还要上学，是“扶贫花”让她找到了生活的新希望。“这活儿不累人，我和丈夫都能干，现在一个月也能挣两三千元，日子开始有了起色。”隆德县县长助理林隽表示，像魏巧宁这样的残障人士，人造花车间还有几十名，他们不仅通过双手获得了收入，更重拾了自己的价值和信心。明年，隆德县将在三家村级人造花车间的试点基础上，向全县铺开这种就地、就近就业脱贫模式，届时，更多的“扶贫花”将盛开在六盘山麓。</p></body></html>