<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>781</title>
</head>
<body>
<h1>
乡村振兴的一条“巧”路-新华网
</h1>
<p id="demo"> 2017-12-22 06:57:20</p><p>杨瑞雪</p><p>“美丽乡村怎么建？”“有钱就能建。”“美丽乡村怎么能建好？”“钱越多，建越好。”近年来，笔者在乡下采访，常常听到类似的论调。但在河北馆陶这个省级贫困县，却“赤手空拳”的建起多个特色小镇。</p><p>笔者以为，馆陶的特色小镇建设重在一个“巧”字。巧用小小的支点，撬动了美丽乡村建设的大事业。</p><p>经济实用，“巧”着建。将大农村变成好景致，发展旅游型特色小镇势必投入巨大。于是馆陶开源节流，一是成立“美丽乡村建设基金”，大大撬动了社会资本；二是从实际出发再兼顾风土，充分利用了农村的“破破烂烂”，把钱花在修修补补改造提升上。这样既花钱少，又更能凸显乡村特色。</p><p></p><p>内生动力，“巧”动员。笔者去过曾被列为样板的美丽乡村，但上面的“热乎劲”一过，乡村便不再美丽了，亭子破损，路边的毛竹大片死亡，曾经的风景上杂草丛生。如果不能激发老百姓的内生动力，美丽乡村往往难以有效维系和运转。所以馆陶用基层党建这个支点，不仅拉近了老百姓和党的距离，更是撬动起馆陶人建设美丽家乡的热情。</p><p></p><p>久久为功，“巧”运转。美丽乡村绝不是短期行为，它需要有战略定力，久久为功持续发力。如何保有美丽乡村的建设后劲？馆陶创造了美丽乡村大学这个支点，为美丽乡村的未来建了口“活泉”，预支了无限能量。随着他们不断的磨砺和成长，很快会成为建设美丽乡村的中坚力量。</p><p></p></body></html>