<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>783</title>
</head>
<body>
<h1>
湖南邵阳：辅警火海抢出煤气罐 百姓生命得保全-新华网
</h1>
<p id="demo"> 2017-12-27 11:36:40</p><p>新华社长沙１２月２７日电（记者谢樱）湖南省邵东县公安局廉桥派出所辅警尹鹏程从火海中将一个液化气罐及时扛离现场，维护了当地人民群众生命财产安全，受到了百姓的交口称赞。２０日下午４时许，邵东县廉桥派出所接到县１１９指挥中心指令，廉东村８组１４号一安置房起火，要求派员赶往现场进行前期处置。接警后，廉桥派出所副所长杨江东立即带领辅警尹鹏程、申细君、王磊立即飞奔火灾现场。到达现场后，杨江东首先组织辅警紧急疏散附近的居民，这时，周边群众反映房屋里还有一个装满液化气的气罐没有搬出来。 “有液化气罐？我的心咯噔一下，那随时都有发生剧烈爆燃的危险。”尹鹏程心里非常紧张。而此时，现场的火势已经非常猛烈，屋顶已大部分被烧穿，且不断有瓦片和木料往下掉落。就在这千钧一发之际，伴随着阵阵火光、滚滚浓烟，辅警尹鹏程不顾自身安危，逆行而上，一个箭步冲进熊熊烈火中，迅速将液化气罐扛离火场，成功排除爆炸隐患。 “当时真的来不及多想，第一反应就这样做了。因为如果不这样做，造成的危害会更大。”现在想来，尹鹏程都还有点后怕。因组织得当，经过近２个小时的紧张奋战，大火终于被扑灭。尹鹏程奋不顾身冲进火场的身影，也深深地留在了现场群众的脑海中。</p></body></html>