<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>785</title>
</head>
<body>
<h1>
丁雪峰：跨界融合当中新兴媒体人才的成长比成功更重要-新华网
</h1>
<p id="demo"> 2017-12-27 12:01:52</p><p>新华社成都１２月２７日电（记者杨进）“跨界融合的过程中，新兴媒体人才的成长比成功更重要。”２６日于成都举办的第五届中国新兴媒体产业融合发展大会上，首都经贸大学人才学研究中心秘书长丁雪峰接受记者采访时表示，跨界融合的大背景下，新兴媒体人才的发掘、培育、管理也需要创新。“传统媒体和新兴媒体通过融合转型最终会合而为一，传统媒体大量消亡，新兴媒体成为主流。新兴媒体人才从何而来？”丁雪峰表示，新兴媒体人才主要来自两个方面，一是从传统媒体发掘可适应转型新兴媒体的人才，给他们提供更多跨界交流学习的成长机会；二是在其他行业中选拔合适人才进入新媒体产业，让他们通过媒体工作实践锻炼和业务培训成为新兴媒体人才。“由于一些新媒体产品的绩效成果很难进行量化评估，或者投资周期较长，短期都是亏损经营，单纯通过‘以结果论英雄’的绩效考核来决定薪酬对于新媒体企业员工并不适用，也会影响员工的创新积极性和主动性。”丁雪峰认为，对于新兴媒体人才应给予更多尊重和自主性，结合员工的能力、个人成长两方面实行宽带薪酬方式和弹性工资制，会有效提升员工满意度和敬业度。在新兴媒体行业中有越来越多的９０后成为主力军，在丁雪峰看来，新一代的年轻从业者往往拥有更多创新力，对于他们的“突发奇想”应通过“轻管理”方式进行激励，给予年轻员工更多自主权和自我成长、成熟的宽容环境。</p></body></html>