<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>788</title>
</head>
<body>
<h1>
遥感三十号03组卫星成功发射 远望号船队完成全年海上测控任务-新华网
</h1>
<p id="demo"> 2017-12-27 07:34:29</p><p>图为远望3号船科技人员进行气象数据观测。亓 创摄北京时间12月26日3时44分，我国在西昌卫星发射中心用长征二号丙运载火箭将遥感三十号03组卫星发射升空，远望3号船在南太平洋某海域成功测控，卫星进入预定轨道，这标志着远望号船队2017年全年度海上测控任务全部完成。遥感三十号03组卫星主要用于开展电磁环境探测及相关技术试验。此次任务是长征系列运载火箭的第260次飞行。2017年，远望号船队圆满完成了包括天舟一号在内的11次海上测控任务，累计海上作业519天，安全航行13.5万余海里，相当于绕地球赤道6圈多。在万里大洋之上，远望号船队用无线电波搭接一条条“天梯”为飞船、卫星成功飞天保驾护航。远望3号船在外港短暂休整后将继续执行任务，并计划于明年2月上旬返回中国卫星海上测控部。远望6号船春节前还将两次出航执行任务，在大洋上度过春节。（记者 余建斌 魏龙）</p></body></html>