<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>789</title>
</head>
<body>
<h1>
阎庆民任中国证监会副主席(图/简历)-新华网
</h1>
<p id="demo"> 2017-12-27 08:43:54</p><p>国务院任命证监会有关负责人近日，国务院决定，阎庆民任中国证券监督管理委员会副主席。中央组织部批准，阎庆民同志任中国证券监督管理委员会党委委员。阎庆民同志，1961年5月出生，汉族，山西天镇人，经济学博士、管理学博士。现任中国证券监督管理委员会副主席、党委委员。阎庆民同志1977年7月参加工作。先后在中国人民银行重庆市分行、重庆营业管理部，国家外汇管理局重庆分局、重庆外汇管理部工作。2002年12月起历任中国人民银行银行监管一司副司长、中国农业银行监管组组长（正局级），中国银监会银行监管一部副主任（正局级），中国银监会银行监管一部主任，中国银监会人事部主任、党委组织部部长，中国银监会上海监管局局长、党委书记。2011年1月任中国银监会主席助理、党委委员，2013年5月任中国银监会副主席、党委委员（2011年2月起先后兼任办公厅<党委办公室>主任，北京银监局局长、党委书记）。2014年12月任天津市副市长。2017年12月任中国证券监督管理委员会副主席、党委委员。</p></body></html>