<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>794</title>
</head>
<body>
<h1>
石济高铁明日开行 京津冀“矩形”高铁环形网形成-新华网
</h1>
<p id="demo"> 2017-12-27 07:36:28</p><p>石家庄至济南客运专线，作为“四纵四横”太青“一横”收官之作将于明日正式开通运营。以北京、天津、石家庄和德州为基点的京津冀“矩形”高铁环形网正式形成。12月28日起，全国铁路将实施新的列车运行图。调图后，涉及石济客专开行的列车共计9对。石济高铁以河北省石家庄市、山东省济南市两省会城市为始终点，横贯晋冀鲁三省。该线路还在石家庄站与京广高铁、在德州东站与京沪高铁衔接，全线共设11个车站，除石家庄、德州东两站外，全线新建石家庄东、藁城南、辛集南、衡水北、景州、平原东、禹城东、齐河、济南东9站。石济客专开通运营，将与津保铁路南北呼应，实现以京沪、京广两大高铁线路为骨架，高速铁路路网在京津冀区域内“井字”形连接和梯次性配置，形成以北京、天津、石家庄和德州为基点的京津冀“矩形”高铁环形网。河北衡水也因此进入了高铁时代。届时，衡水至石家庄之间的列车运行时间将压缩至1个小时之内，石家庄至德州间列车运行时间将压缩至90分钟，石家庄至济南间列车运行时间从现在的最快4个小时左右，压缩至120分钟左右。以此为新起点，燕山山脉以南、太行山以东，河北9个地市级城市将全部进入高铁时代。此外，“复兴号”将再次扩容，从京津冀区域始发新换“复兴号”中国标准动车组15对。(记者 王薇)</p></body></html>