<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>795</title>
</head>
<body>
<h1>
2017民生热词发布：老幼受关注 安居成焦点-新华网
</h1>
<p id="demo"> 2017-12-27 07:37:19</p><p>近日，中国社会科学院舆情调查实验室联合百度搜索共同发布2017民生热词榜，盘点了2017年网友最关心的民生热词。在榜单上，校园安全、共享单车、众创空间位列前3名；限购令、抗污治霾、户籍新政等话题也备受关注。一、校园安全。随着各类虐童事件的出现，校园安全问题在今年广受社会关注。校园安全问题不仅直接关系到儿童、学生能否安全、健康地成长，更关系到千千万万个家庭的幸福，因此应该得到社会各界的重视。二、共享单车。今年，共享单车这一名词迅速蹿红，一夜之间，各种颜色的单车遍布大街小巷，因其使用方便、低碳环保、有锻炼身体的功能，而受到人们的欢迎。三、众创空间。在政策带动下，通过市场化机制、专业化服务和资本化途径构建的低成本、便利化、全要素、开放式的新型创业公共服务平台——众创空间应运而生。四、社区居家养老。在老龄化程度不断加深的过程中，家庭养老功能弱化，养老机构也难以满足需求。在此背景下，社区居家养老的模式越来越受到推崇。五、两孩。自去年初两孩政策开始全面实施以来，关于两孩的热度就一直居高不下。六、限购令。为了抑制中小城市房价过快增长，2017年3月份以来，河北涿州、保定，海南三亚等地纷纷启动限购或提升首付比例。七、抗污治霾。都说最宝贵的东西都是免费的，如水、空气。人们对蓝天白云青山绿水的渴望日益增强。八、共有产权房。所谓共有产权房，就是政府与符合条件的申请人，按照一定的比例出资把房产买下来，共享房屋产权。其出现，让很多人不再“望房兴叹”。九、户籍新政。2017年，全国多地出台了新的落户政策，户籍政策再次成为社会舆论关注的焦点。十、公租房。公租房作为保障性住房的一种，主要针对新就业职工出租，包括一些大学毕业生、退休老人及残疾人，还有一些从外地迁移到城市工作的群体。除了以上这些，精准扶贫、健康扶贫等扶贫措施，国培计划、老年大学等教育政策，以及关系到生活方方面面的网络提速降费、两票制、新型城镇化等热词，也受到网友关注。（张意轩）</p></body></html>