<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>804</title>
</head>
<body>
<h1>
财政部将出台地方债终身问责制 打消地方债中央买单政府兜底“幻觉”-新华网
</h1>
<p id="demo"> 2017-12-27 08:01:58</p><p>财政部在日前发布的《关于坚决制止地方政府违法违规举债遏制隐性债务增量情况的报告》中明确,将研究出台地方债终身问责、倒查责任制度,坚决查处问责违法违规行为。要坚决打消地方政府认为中央政府会“买单”的幻觉,坚决打消金融机构认为政府会兜底的幻觉。财政部有关负责人称,要坚决遏制隐性债务增量,管控好新增项目融资的金融“闸门”。督促金融机构尽职调查、严格把关,对没有稳定经营性现金流作为还款来源或没有合法合规抵质押物的项目,金融机构不得提供融资等。在积极稳妥化解存量隐性债务方面,将建立市场化、法治化的债务违约处置机制,依法实现债权人、债务人共担风险,及时有效防止违约风险扩散蔓延。坚持纠正政府投资基金、PPP、政府购买服务中的不规范行为,鼓励地方政府合法合规增信,防范存量债务资金链断裂风险。据这位负责人透露,截至2016年末,全国法定限额内政府债务余额27.33万亿元,负债率为36.7%,低于主要市场经济国家和新兴经济体水平；地方政府债务余额15.32万亿元,债务率为80.5%,低于国际通行的100%至120%警戒线。目前,地方政府债务风险总体可控。但个别地方政府继续通过融资平台公司、PPP、政府投资基金、政府购买服务等方式违法违规或变相举债,风险不容忽视。从地方政府及相关部门反映的情况看,地方政府违法违规举债的主要原因有:一些地方党政领导干部政绩观不正确；一些金融机构放松风险管控要求,大量违规提供融资；违法违规融资行为问责不到位；金融监管部门问责金融机构的制度尚不健全,对相关违法违规行为处罚不严。财政部指出,下一步将严格执行预算法和担保法,坚决刹住无序举债之风,有效遏制隐性债务增量,坚持谁举债、谁负责,严格落实地方政府属地管理责任,债务人、债权人依法合理分担风险,积极稳妥处置隐性债务存量,坚决打好防范化解重大风险的攻坚战。（记者 万静）</p></body></html>