<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>811</title>
</head>
<body>
<h1>
我国首次发布绿色发展指数评价各地发展质量-新华网
</h1>
<p id="demo"> 2017-12-26 12:22:58</p><p>新华社北京12月26日电（记者 陈炜伟、申铖）国家统计局网站26日发布《2016年生态文明建设年度评价结果公报》，首次公布了2016年度各省份绿色发展指数，排名前5位的地区分别为北京、福建、浙江、上海、重庆。根据2016年中办、国办印发的《生态文明建设目标评价考核办法》，我国将对各省区市实行年度评价、五年考核机制，以考核结果作为党政领导综合考核评价、干部奖惩任免的重要依据。其中，年度评价按照绿色发展指标体系实施，生成各地区绿色发展指数。2017年8月，国家统计局、国家发展改革委、环境保护部、中央组织部会同有关部门，共同完成了首次生态文明建设年度评价工作，综合评价各地区绿色发展总体状况。从2016年生态文明建设年度评价结果来看，公众满意程度排名前5位的地区分别为西藏、贵州、海南、福建、重庆。从构成绿色发展指数的6项分类指数结果来看，资源利用指数排名前5位的地区分别为福建、江苏、吉林、湖北、浙江；环境治理指数排名前5位的地区分别为北京、河北、上海、浙江、山东；环境质量指数排名前5位的地区分别为海南、西藏、福建、广西、云南；生态保护指数排名前5位的地区分别为重庆、云南、四川、西藏、福建；增长质量指数排名前5位的地区分别为北京、上海、浙江、江苏、天津；绿色生活指数排名前5位的地区分别为北京、上海、江苏、山西、浙江。国家统计局有关负责人表示，开展年度评价，对于完善经济社会发展评价体系，引导各地方各部门深入贯彻新发展理念、落实科学发展观、树立正确政绩观，加快推进绿色发展和生态文明建设，具有重要的导向作用。年度评价结果作为督促和引导地区推进生态文明建设的“指示器”和“风向标”，对于推动实现党中央、国务院确定的生态文明建设目标和“十三五”规划纲要目标具有重要意义。      生态文明建设的“中国样本”    北京：生态文明建设考核将成干部任免依据</p></body></html>