<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>813</title>
</head>
<body>
<h1>
全国人大常委会组成人员分组审议认罪认罚从宽制度试点中期报告-新华网
</h1>
<p id="demo"> 2017-12-26 11:41:39</p><p>新华社北京１２月２６日电（记者 罗沙）十二届全国人大常委会第三十一次会议日前分组审议了最高人民法院、最高人民检察院关于在部分地区开展刑事案件认罪认罚从宽制度试点工作情况的中期报告。与会人员表示，试点工作提高了审理刑事案件的质量和效率，取得了良好的法律效果和社会效果。“报告提出在进行试点的过程中坚决防止出现‘重罪轻判’‘花钱买刑’的问题，这抓住了试点中应当防止出现的问题的本质。”郎胜委员说，我国的认罪认罚从宽和有些国家的辩诉交易有着本质区别，是为了更好地体现司法公正，提高诉讼效率。丛斌委员表示，报告提出推进庭审实质化，既审查认罪认罚的自愿性，又对事实证据进行全面审查，防止犯罪嫌疑人、被告人被迫认罪、替人顶罪。“在认罪认罚案件后期试点过程中，在这方面要做详细的制度设计。”他说。“我们进行的认罪认罚从宽制度试点，应该说是法律规定的‘坦白从宽’这项刑事政策的一种具体化、制度化、程序化、规范化。”列席会议的全国人大代表贾春梅表示，试点工作既要敢于创新、大胆尝试，也要强化监督，确保公正廉洁司法，才能为试点下一步在全国推开积累更多有益经验。不少与会人员建议，要认真总结试点工作取得的经验，为将来修改实体法律提供参考。王其江委员建议，在研究总结试点经验的基础上，通过修改刑事诉讼法将改革中行之有效的做法固定下来，使改革成果制度化、法制化。“刑事案件认罪认罚从宽制度不仅要落实在刑事诉讼法等程序法上，也应该在刑事实体法上增加相关的配套规定。”白志健委员说。</p></body></html>