<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>817</title>
</head>
<body>
<h1>
一批西部重点公路项目取得重大进展-新华网
</h1>
<p id="demo"> 2017-12-26 12:26:58</p><p>新华社北京１２月２６日电（记者 齐中熙、王观生）记者２６日从交通部门获悉，年终岁末，一批西部重点公路项目取得重大进展。２６日，湖北利川通往重庆万州的高速公路全线建成通车，成为我国中西部贫困地区通往东南沿海便捷的公路大通道。宣鹤高速公路有限公司总经理沈典栋告诉记者，利万高速公路全长９７公里，为双向四车道，设计行车时速８０公里，工程总投资近１００亿元，沿线万山重叠，沟壑纵横，地质极其复杂。在全线的头号控制性工程齐岳山隧道的建设中，遇到了溶洞、突水涌泥、瓦斯、断层、岩爆等特殊不良地质，施工人员先后攻克多项世界级的工程技术难题，取得我国山区高速公路建设多项科研成果。据施工单位中铁十四局有关负责人介绍，利万高速公路通车后，作为沪渝高速公路和沪蓉高速公路的重要连接线，对于推进鄂西生态文化旅游圈的建设，特别是能够让贫困山区尽快融入“成渝经济圈”，带动沿线精准扶贫具有重大意义。此外，由中国铁建二十二局集团总承包的重庆市首条绿色公路示范项目——潼南至荣昌高速公路土建任务基本完工。重庆潼南至荣昌高速公路是交通运输部批准的重庆市首条绿色公路示范项目，全长１３９公里，设计时速１００公里。</p></body></html>