<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>818</title>
</head>
<body>
<h1>
国内最大直径海湾隧道首台盾构成功始发-新华网
</h1>
<p id="demo"> 2017-12-26 12:31:57</p><p>新华社北京１２月２６日电（记者 齐中熙）记者从中国中铁股份有限公司获悉，国内最大直径海湾盾构隧道，也是国内首条兼具城市道路与一级公路功能的水下盾构隧道——广东省汕头市海湾隧道东线盾构机２６日成功始发，标志着汕头海湾隧道工程取得重大进展。此次始发的盾构机是中铁隧道局集团通过全球招标采购，针对海湾隧道工程特殊的水文地质条件“量身订制”的。盾构刀盘直径１５．０１米，相当于５层楼高度，全长１３０米，总重４６００吨，总功率１０８００千瓦，具备常（带）压换刀、刀盘伸缩摆动、超前地质预报、超前钻探等功能。中铁隧道局集团技术人员介绍，汕头市海湾隧道具有地质复杂、施工难度极大、安全风险等级高等特点，被称之为“世界级超级工程”。海湾隧道全长６６８０米，盾构施工段长３０４７．５米，双向六车道，由双孔圆管组成，每孔分三层，上层是排烟通道，中间是行车通道、下层是人员疏散通道。盾构施工段采用两台盾构机进行施工。</p></body></html>