<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>823</title>
</head>
<body>
<h1>
中国空军首次颁发“空军飞行员光荣家庭”荣誉匾-新华网
</h1>
<p id="demo"> 2017-12-26 21:11:03</p><p>新华社济南１２月２６日电（张玉清、郭洪波）中国空军加强软实力建设推出新举措。２６日在济南举行的一个特别仪式上，一批“９０后”飞行员及家庭代表获得空军颁发的“首次评定飞行等级纪念”牌和“空军飞行员光荣家庭”荣誉匾，民政部和辽宁、吉林、黑龙江、山东、河南５省有关部门领导，共同见证了飞行员家庭共享飞行荣光的重要时刻。军事飞行人才是国家宝贵的战略资源。“让军人成为全社会尊崇的职业”，就要让飞行员和他们的家庭共享飞行荣光。在仪式上，空军副司令员麻振军表示，空军党委深入学习贯彻党的十九大精神，全面推进飞行员荣誉体系建设，从２０１７年起每年为首次评定飞行等级飞行员的家庭颁发“空军飞行员光荣家庭”荣誉匾。２０１７年，空军有数百名新飞行员获得“首次评定飞行等级纪念”牌。飞行员万继凯说：“奋飞新时代，追逐强军梦。我们要用使命去飞、用睿智去飞、用血性去飞，飞出空军的精气神，飞出‘能打仗、打胜仗’的新时代打赢能力！”空军作为有效塑造态势、管控危机、遏制战争、打赢战争的重要力量，深入学习贯彻新时代党的强军思想，在实战化军事训练上既有新气象又有新作为，响应了练兵备战的号令，回应了人民群众的期盼，使参加颁发“空军飞行员光荣家庭”荣誉匾仪式的地方有关部门领导备受激励鼓舞。他们表示，对空军强军事业满怀期待，对空军未来发展充满信心。飞行员陈封湛的母亲邱英说：“希望我们的孩子们飞得安全、飞出战斗力、飞出精气神，希望空军的发展越来越好！”近年来，空军转型发展进入快车道，列装歼－２０、运－２０等一大批高新武器装备使“硬实力”大幅度提升的同时，空军“软实力”也在同步提升。军事专家王明志表示，“硬实力”和“软实力”协调发展，是现代化战略性军种建设的重要内容。空军成立６８年来首次颁发“空军飞行员光荣家庭”荣誉匾，不仅使飞行员成为全社会尊崇的英才，也使飞行员家庭成为全社会尊敬的家庭。</p></body></html>