<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>824</title>
</head>
<body>
<h1>
国内最大单洞双线穿越长江地铁隧道投入使用-新华网
</h1>
<p id="demo"> 2017-12-26 20:59:39</p><p>新华社武汉１２月２６日电（记者 廖君）２６日，武汉轨道交通８号线一期开通运营。这意味着国内最大单洞双线地铁隧道投入使用。作为武汉第三条穿越长江的地铁线，８号线一期全长１６．７ｋｍ，设站１２座，是承担武汉中心城区跨长江客运交通的重要通道。８号线一期的通车与武汉地铁３号线、４号线形成一个封闭的圆环。这个地铁圆环总长约３６公里，途经武汉三镇，是名副其实的“地铁二环线”。穿越长江，地质复杂，对施工要求极高。武汉地铁集团有关人士介绍说，８号线过江隧道长３１８６米，比武汉地铁２号线、４号线的穿江隧道都长。隧道施工中要穿越１３６５米强透水、上软下硬的复合地层。这样的地层极易给盾构掘进造成巨大阻力，是当前穿越长江隧道施工遇到的世界级难题。此次，武汉首次采用外径达１２．２米的单洞双线盾构隧道，是国内轨道交通工程中直径最大的盾构隧道。不仅解决区间风井设置，行车通风等问题，而且盾构“一次通过”，不需来回惊扰长江两次。８号线一期地铁的过江隧道也是国内首条采用双层衬砌的盾构交通隧道。即在原有的隧道内壁贴管片的基础上，再加一层３０厘米厚的钢混内衬，相当于贴上了金刚甲。这种工艺运用在地铁隧道中，既保证安全性又耐用，可以抵抗６级震力，使用年限长达１００年。目前，武汉正在同步推进１３条地铁线路，在建里程达３００余公里，建设规模仍保持在高位，且居全国前列。</p></body></html>