<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>825</title>
</head>
<body>
<h1>
高速公路分时段差异化收费明年有望减免通行费超５００亿元-新华网
</h1>
<p id="demo"> 2017-12-26 20:24:02</p><p>新华社北京１２月２６日电（记者赵文君）“明年将完善高速公路分时段差异化收费工作，预计将减免通行费５１３亿元。”交通运输部新闻发言人吴春耕２６日在例行新闻发布会上说，明年将进一步通过减免涉企收费，优化运输服务管理流程等措施降低物流成本，减轻实体经济负担。吴春耕介绍，一是推动完成道路货运车辆年检和年审合并，预计全年减轻企业负担１００亿元；二是持续优化货车通行费优惠政策，严格执行鲜活农产品绿色通道政策，鼓励地方结合实际进一步加大货车通行费优惠力度，完善高速公路分时段差异化收费工作，预计将减免通行费５１３亿元，实现高速公路通行费增值税发票抵扣，抵扣金额约１．５亿元；三是大力发展多式联运，深化无车承运人试点工作，通过增效降本，预计全年降低物流成本约１３５亿元；四是精简中央定价港口收费项目，规范市场自主定价的港口服务性收费，预计全年减轻企业负担４７１亿元。“自２０１８年１月１日起，使用ＥＴＣ卡或用户卡通行高速公路交纳的通行费或ＥＴＣ卡充值费，可通过发票服务平台开具通行费增值税电子普通发票。”吴春耕表示，交通运输部会同国家税务总局已联合发布公告，明确了通行费增值税电子普通发票的编码规则、开具流程、相关规定、平台上线时间及业务投诉咨询等内容。吴春耕说，开具高速公路通行费增值税电子普通发票，能够最大限度方便纳税人获取发票和实现税款抵扣，有利于信息资源交换共享、互联互通和协同应用，是深化交通运输供给侧结构性改革的切实举措，将进一步提升高速公路供给服务质量，推动实现货运行业转型升级。</p></body></html>