<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>829</title>
</head>
<body>
<h1>
中央财政不断加大力度支持民族地区加快发展-新华网
</h1>
<p id="demo"> 2017-12-26 19:31:38</p><p>新华社北京１２月２６日电（记者郁琼源）记者２６日从财政部了解到，２０１７年，中央财政下达民族地区转移支付７０４亿元，比２０００年增加６７８．４７亿元，年均增幅达２１．５％。转移支付规模快速增长。据财政部预算司有关负责人介绍，２０００年以来，中央财政以民族地区转移支付为重要抓手，不断增强民族地区基本公共服务保障能力，支持民族地区加快发展。具体来看，转移支付范围逐步将内蒙古、广西、西藏、宁夏、新疆等５个民族自治区和青海、云南、贵州等３个财政体制上视同少数民族地区对待的省份，以及民族自治州、民族自治县纳入了民族地区转移支付范围。２０１０年建立了转移支付规模稳定增长机制，２０１７年引入了民族人口占比、世居少数民族个数、人口较少民族种类等体现民族特征的因素，加大了对少数民族占比大、少数民族种类多、人口较少民族分布丰富地区的支持力度。这位负责人说，下一步，中央财政将积极贯彻落实党的十九大提出的“加大力度支持革命老区、民族地区、边疆地区、贫困地区加快发展”有关精神，继续加大民族地区转移支付力度，保持转移支付相对较快增长，不断完善转移支付办法，提高转移支付资金使用绩效，提升民族地区基本公共服务水平，加快推进民族自治地方经济和社会发展。</p></body></html>