<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>830</title>
</head>
<body>
<h1>
广西百色市政协原副主席李廷荣一审被判有期徒刑十年-新华网
</h1>
<p id="demo"> 2017-12-26 19:12:22</p><p>新华社南宁１２月２６日电（记者黄浩铭）２６日，广西来宾市中级人民法院一审公开宣判广西百色市政协原副主席、百色市总工会原主席李廷荣受贿案，对被告人李廷荣以受贿罪判处有期徒刑十年，并处罚金人民币５０万元，对其受贿所得财物予以追缴，上缴国库。法院审理查明，１９９５年至２０１７年期间，被告人李廷荣先后利用担任广西百色市平果县县长、百色市人大常委会副主任、百色市政协副主席、百色市总工会主席等职务便利，在房地产项目开发、建设工程承揽、招标业务承揽等方面为他人所属的公司或个人谋取利益，先后收受他人所送钱款共计５５０万元。法院认为，被告人李廷荣身为国家工作人员，利用职务上的便利非法收受他人财物，数额特别巨大，为他人谋取利益，构成受贿罪，应依法惩处。鉴于李廷荣归案后，在办案机关已掌握其部分受贿数额线索的情况下，交代了大部分未被办案机关掌握的同种犯罪事实，具有坦白情节，并积极全额退赃，当庭认罪、悔罪，依法予以从轻处罚。法院遂作出上述判决。</p></body></html>