<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>832</title>
</head>
<body>
<h1>
我国将建设政务地理信息大数据“一张图”-新华网
</h1>
<p id="demo"> 2017-12-26 19:14:32</p><p>新华社北京１２月２６日电（记者刘诗平）国家测绘地理信息局局长库热西·买合苏提２６日表示，２０１８年我国将启动建设政务地理信息大数据“一张图”。库热西·买合苏提在当天举行的全国测绘地理信息工作会议上说，国家测绘地理信息局将统筹国家地理信息公共服务平台“天地图”、数字城市地理空间框架建设、智慧城市时空大数据与云平台建设，启动建设政务地理信息大数据“一张图”，形成全国时空大数据平台，接入国家数据共享大平台，辅助实现政府决策科学化、社会治理精准化、公共服务高效化。大数据是以容量大、类型多、存取速度快、应用价值高为主要特征的数据集合，以时间、空间为维度的相关数据被称为时空大数据。近年来，国家地理信息公共服务平台“天地图”建设不断推进。数据融合实现全覆盖，全国３１个省级节点均开展了数据融合，主节点已发布２２个省级节点的融合数据，实现了节点间数据资源的优势互补，形成了天地图的核心能力。据了解，２０１８年，国家测绘地理信息局将大力拓展“天地图”政府公益性服务，积极推进深层次多领域应用；基本建成国土空间基础信息平台国家测绘地理信息局数据中心节点；依托“天地图”，加快完善数据在线共享功能，在与水利部实现服务聚合的基础上，扩大试点范围，联合开展共建标准、共享服务和跨部门的数据融合和服务聚合。在此基础上，启动建设政务地理信息大数据“一张图”。</p></body></html>