<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>833</title>
</head>
<body>
<h1>
２０１７年全国能源生产总量预计为３６亿吨标准煤-新华网
</h1>
<p id="demo"> 2017-12-26 19:31:39</p><p>新华社北京１２月２６日电（记者刘羊旸）２０１７年，预计全国能源生产总量３６亿吨标准煤，其中非化石能源占比１７．６％，比２０１２年提高６．４个百分点。这是记者在２６日举行的全国能源工作会上获悉的。据介绍，预计截至２０１７年底，全国发电装机总量累计达１７．７亿千瓦，其中非化石能源发电装机占比达到３８．１％，比２０１２年提高９．６个百分点，是历史上增长最快的时期。据悉，党的十八大以来，我国煤炭去产能和防范化解煤电产能过剩风险取得重要阶段性成果。两年内煤炭去产能超过５亿吨，煤炭市场严重过剩局面得到有效遏制，同时有序释放先进产能，煤炭有效供给质量大幅提高。２０１７年，预计淘汰、停建、缓建煤电产能５０００万千瓦以上，新增煤电装机比２０１６年减少约４００万千瓦，煤电建设投资同比下降２５％，煤电建设速度和规模得到有效控制。党的十八大以来，我国加快转变能源利用方式，能源消费结构实现重大转型。煤炭消费比重累积下降８．５个百分点，是历史上降幅最大的时期。同时，清洁能源消费比重大幅提升。有序推进生产制造、居民取暖、交通运输等领域的电能替代和天然气替代，替代范围不断扩大。在能源利用效率不断提高的同时，能源科技创新取得重大成果。加快技术装备创新和示范工程建设，多项自主关键技术跃居国际领先水平，重大核心装备取得突破性进展。据介绍，我国电力体制改革迈出实质性步伐。２０１７年，预计市场化交易电量１．６万亿千瓦时，约占全社会用电量的２５％，为实体经济降低用电成本约７００亿元。</p></body></html>