<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>835</title>
</head>
<body>
<h1>
技术革新推动“大媒体”发展-新华网
</h1>
<p id="demo"> 2017-12-26 20:10:50</p><p>新华社成都１２月２６日电（许茹张海磊）互联网正在以其“平台化、移动化、智能化”的发展特征改变着人们的阅读方式和生活习惯，这种发展特征也成为媒体融合的发展方向。在２６日举行的第五届中国新兴媒体产业融合发展大会上，业内人士表示，智能技术发展正在重塑媒体形态，技术革新推动着“大媒体”的新发展。在大会举行的“现场新闻：传播手段建设与创新”“现场云：现场新闻的升级与共建”两场主题论坛上，嘉宾们普遍认为，随着互联网的应用与技术发展，每一个技术革新都在改变着媒体业态。“当新闻发生时，媒体的推送时差大约在５秒之内，这说明媒体已经将优化人力做到了最大化。”快手科技合伙人兼首席内容官曾光明说，媒体竞争的下一个突破口就在于技术，从过去的经验来看，每个时代脱颖而出的媒体，也是将当下的技术发挥到最大化。此外，在融合发展的过程中，媒体要不断适应“万物皆媒体”的大浪潮，不断创新传播手段。中国政法大学光明新闻传播学院副院长刘徐州认为，媒体不仅要适应时代变迁，也要以满足用户需求来“争夺”用户、通过与“入口”巨头合作“占领”市场；与此同时，瞄准互联网上稀缺的新闻资源，在“后真相”时代，通过调查和生产真相，传播主流的声音。会议期间，与会嘉宾对新华社的“现场云”全国服务平台、“现场新闻”直播态产品给予了高度的评价，认为不仅顺应了媒体融合发展的大趋势，也为更多媒体提供了融合发展的平台。刘徐州表示，“现场云”和“现场新闻”顺应了移动互联网发展大势，也体现了新华社传播手段与创新的能力。</p></body></html>