<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>836</title>
</head>
<body>
<h1>
交通扶贫：２０２０年完成建制村通硬化路、通客车等兜底性目标-新华网
</h1>
<p id="demo"> 2017-12-26 20:24:02</p><p>新华社北京１２月２６日电（记者赵文君）“到２０２０年完成建制村通硬化路、通客车等交通扶贫兜底性目标。”交通运输部综合规划司副司长张大为在例行新闻发布会上说。交通运输部近日印发支持深度贫困地区交通扶贫脱贫攻坚实施方案，进一步加大对深度贫困地区支持力度。方案明确，新增资金、新增项目、新增举措主要向西藏、四省藏区、新疆南疆四地州和四川凉山州、云南怒江州、甘肃临夏州等“三区三州”倾斜，其中“三州”纳入国家规划的公路项目车购税补助标准提高到与藏区政策持平，即国家高速公路按项目建筑安装工程费５０％安排，普通国省道按项目全额安排，建制村通硬化路就高执行每公里７０万元标准。在重点任务上，方案提出，进一步加快推进深度贫困地区国家高速公路、普通国省道和农村公路建设，提升农村客货运输服务水平，加大定点扶贫和交通“扶智”工作力度，同时优化通村硬化路路线走向，加大对较大人口规模撤并建制村通硬化路的支持力度，推动交通建设项目尽量向进村入户倾斜。</p></body></html>