<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>837</title>
</head>
<body>
<h1>
我国３年内构建国家应急测绘保障体系-新华网
</h1>
<p id="demo"> 2017-12-26 20:27:24</p><p>新华社北京１２月２６日电（记者 刘诗平）应急测绘保障是“灾区上空的眼睛”。记者２６日从全国测绘地理信息工作会议上获悉，我国将通过３年时间统筹做好国家应急测绘保障能力项目的建设，加快构建由全国航空应急测绘保障基地、国家应急测绘保障分队、应急测绘资源共享节点组成的国家应急测绘保障体系布局，全面提升应急测绘保障能力。国家应急测绘保障能力项目建成后，快速获取能力将形成响应时间提高３至４倍、航空应急救援４小时抵达８０％陆地及沿海区域、重大突发事件现场图像等４小时传送国务院应急平台的能力，快速处理与分发服务能力形成２小时提供应急分析指挥用图、１２小时提供第一批现场应急测绘成果、７×２４小时不间断在线应急测绘服务的能力。近年来，在四川芦山、九寨沟和云南鲁甸等地震抗震救灾，陕西山阳滑坡和四川茂县山体垮塌等地质灾害抢险救灾，天津滨海新区危险品仓库爆炸、深圳恒泰裕滑坡事故等突发事件应急抢险中，国家测绘地理信息局利用地理信息数据制作灾区各类专题地图，第一时间获取准确的灾后影像地图，研发应急指挥地理信息系统等，为科学决策、抢险救灾、灾情评估及灾后重建等提供了有力支持。国家测绘地理信息局局长库热西·买合苏提表示，国家应急测绘保障能力项目自２０１７年启动建设以来，正在加快完成由全国航空应急测绘保障基地、国家应急测绘保障分队、应急测绘资源共享节点组成的国家应急测绘保障体系布局，实现与国务院应急办、相关应急部门、各省应急办的互联。</p></body></html>