<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>838</title>
</head>
<body>
<h1>
军地联手搭建融合创新平台应对网络空间安全威胁-新华网
</h1>
<p id="demo"> 2017-12-26 21:11:30</p><p>新华社北京１２月２６日电（记者李国利）军地联手搭建的“网络空间安全军民融合创新中心”２６日在北京成立，以应对来自网络空间方面的安全威胁。当前，网络空间安全威胁呈现全球化蔓延趋势。“永恒之蓝”勒索病毒、乌克兰电网遭攻击、美国大选“邮件门”等事件表明，网络安全事关国家安全、社会稳定和战争胜败。新的安全形势迫切需要加强网络安全，以应对各种新的威胁和挑战。据介绍，这个中心将在军委机关有关部门的指导下开展工作，聚焦网络空间国防安全领域，探索军民深度融合创新发展模式，服务建设我军一流网络空间国防装备目标，提供与国际前沿接轨的网络国防安全智库服务和创新技术产业服务。“网络安全产业是网络国防力量的基础。经验表明，建设一流网络空间防御力量离不开网络安全产业支持。”牵头承建中心的３６０企业安全集团董事长齐向东说。据了解，这个中心是军队指导民营公司承建的第一个军民融合创新中心，将创建网络空间军民融合“三种模式”：一是探索网络民企参军“需求主导”模式；二是构建军民网络安全“共建共享”模式；三是完善网络装备技术“研用一体”模式。</p></body></html>