<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>840</title>
</head>
<body>
<h1>
专家：网络新“枫桥经验”拓展社会共治新格局-新华网
</h1>
<p id="demo"> 2017-12-26 21:39:43</p><p>新华社北京１２月２６日电（记者白阳）五十多年前诞生于浙江诸暨的社会治理“枫桥经验”，如今被赋予了网络时代的新内涵。在２６日由新华社瞭望周刊社、阿里巴巴集团主办的第二届网络新“枫桥经验”高峰研讨会上，多位专家表示，网络新“枫桥经验”以群防群治理念充分融合互联网元素，是社会共治新格局的一种积极探索。当日，数十名来自政法领域、媒体高校和企业界的专业人士，围绕互联网时代的社会综合治理、新时代的互联网司法等议题展开对话。“依靠群众就地化解矛盾的‘枫桥经验’是全国政法综治战线的一面旗帜；而网络新‘枫桥经验’利用科技优势、群众优势、制度优势进行优势聚合，最大效能地预防和化解矛盾纠纷，凸显了对群众路线的坚持，是创新社会治理格局的必然要求。”中国法学会副会长兼秘书长鲍绍坤说，网络新“枫桥经验”通过“脚板＋鼠标”“面对面＋键对键”“网络＋群众”的工作方法，把社会治理深深扎根于人民群众中。瞭望周刊社总编辑姬斌认为，当前网络犯罪层出不穷，极大挑战了公共安全及人民的生命财产安全，其影响面之广、治理任务之繁重远远超出既有的社会治理经验。“今天的社会生活日益复杂，发动和依靠群众，即是发挥和依靠社会中的每一个单元、每一股力量，建立网上网下齐抓共管的社会共治新格局。”他说。“在中国特色社会主义进入新时代的今天，坚持和发展‘枫桥经验’，重要的是适应社会主要矛盾的变化，借助网络技术手段，运用法治思维和法治方式实现共建共治共享。”第十二届全国政协委员、全国人大常委会法制工作委员会原副主任阚珂表示。阚珂说，正在召开的第十二届全国人大常委会第三十一次会议，审议了全国人大常委会执法检查组关于检查网络安全法、全国人大常委会关于加强网络信息保护的决定实施情况的报告。针对用户个人信息保护工作形势严峻等突出问题，报告就提升网络安全防护能力，加强网络安全保密保障体系建设，加大对网络攻击、网络诈骗、网络有害信息等违法犯罪活动的打击力度等方面提出了要求。</p></body></html>