<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>841</title>
</head>
<body>
<h1>
未来的交通强国什么样？交通运输部回应-新华网
</h1>
<p id="demo"> 2017-12-26 21:40:05</p><p>新华社北京１２月２６日电（记者赵文君）未来的交通强国什么样？交通运输部新闻发言人吴春耕２６日在例行新闻发布会上说，交通强国要世界领先、人民满意、有效支撑社会主义现代化建设。吴春耕说，一是世界领先的交通强国。要在数量规模全球领先的基础上，进而实现在质量效率、科技创新、行业治理、国际影响等方面全球领先，全面建成一个更加安全便捷、经济高效、绿色智慧、开放融合的现代化综合交通运输体系，拥有一大批具有全球竞争力的交通运输企业。届时，我国交通运输的综合实力将世界领先。二是人民满意的交通强国。要努力体现“四个零”的发展理念:“零距离”换乘，这不仅包括各种运输方式空间上的“零距离”，也包括时间上的“零距离”，让出行更方便更愉快；“零排放”，届时，燃油运输装备将逐步退出历史舞台，新能源运输装备将逐步成为主流，绿色出行成为常态，建成更高水平的环境友好、资源节约的绿色交通；“零死亡”，通过技术进步和管理创新，大幅降低交通事故发生率，让出行更安全；“零库存”，打造现代化的物流体系，运输装备将成为移动的仓库，物流的中间环节将大幅较少，物流效率大幅提升。三是有效支撑我国社会主义现代化建设的交通强国。交通运输将全面适应并引领经济社会发展，战略性、引领性、基础性、服务性功能得到充分发挥。届时，将建成遍及城乡、通达全国、连通世界的全球运输供应链，打造若干个与贸易强国、制造强国相适应的世界级交通枢纽和物流中心，有效支撑我国全球配置资源、有效实施重大战略、有效建成社会主义现代化强国。</p></body></html>