<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>845</title>
</head>
<body>
<h1>
我军加快推进三位一体的新型军事人才培养体系-新华网
</h1>
<p id="demo"> 2017-12-26 21:16:25</p><p>新华社北京１２月２６日电（黎云、吴旭）记者近日从全军军事教育计划会议暨院校教务处长集训中获悉，全军牢固确立习近平强军思想在军事教育领域的指导地位，推动军事教育事业整体重塑和加速发展，统筹构建军队院校教育、部队训练实践和军事职业教育三位一体的新型军事人才培养体系。军委训练管理部有关负责人说，构建军队院校教育、部队训练实践和军事职业教育三位一体的新型军事人才培养体系，是着眼实现党在新时代的强军目标作出的重大战略决策，是建设学习型军队、培养世界一流军事人才的时代要求，为加强新型军事人才培养指明了发展方向。当前，军队院校体制编制改革基本到位，职业教育发展路数逐步廓清，打造部队实践这个没有围墙的“战争学院”渐成共识，三位一体的培养体系建设进入了加快发展的最佳时期。２０１７年，全军院校深入开展改革专题教育，优化重组内部结构，基本完成人员定岗落编，改革取得实质性进展。军委机关、军兵种合力推进教学大纲编修，百余本通用课程和专业大纲陆续试用，初步形成教学能力。全军院校服务备战打仗主动作为，数千名军校教员参加重大演训活动，集智解决练兵备战中的现实问题。军委机关、军兵种还严格管控教育质量，分批组织对部分院校实施教育监察，对数万名军校学员和国防生进行考核，将博士、硕士研究生学位论文抽查比例分别提高至２０％和１０％。全军军事职业教育迈出实质性步伐，内网服务平台已初步具备大规模在线教学能力，互联网服务平台开始测试运行。军委训练管理部有关负责人表示，２０１８年全军军事教育工作将持续围绕三位一体的总思路破解现实矛盾问题，打造支撑强军一流的新时代军事人才方阵，围绕打仗需求重塑能够起牵引作用的岗位能力标准，围绕固本强基充分发挥军队院校教育的主渠道作用，围绕检验升华充分发挥部队训练实践的大课堂作用，围绕拓展提高充分发挥军事职业教育的大平台作用，围绕联动增效充分发挥政策制度改革的动力源作用，为实现军事教育三位一体整体联动运行，加快我军人才队伍能力转型升级提供重要保证。</p></body></html>