<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>846</title>
</head>
<body>
<h1>
民政部初步核查认为“同一天生日”网络募捐涉嫌违反慈善法-新华网
</h1>
<p id="demo"> 2017-12-26 21:19:33</p><p>新华社北京１２月２６日电（记者罗争光）针对日前受到关注的深圳“同一天生日”网络募捐事件，民政部社会组织管理局相关负责人２６日晚间表示，据目前掌握的情况看，此次募捐活动涉嫌违反慈善法有关规定，正在进一步调查。该负责人表示，“同一天生日”网络募捐事件发生后，民政部社会组织管理局于１２月２４日向深圳市民政局发出核查函，深圳市民政局当日启动了调查，并迅速开展了一系列工作。就目前掌握情况看，本次募捐活动涉嫌违反了慈善法有关募捐信息发布的规定。本案具体情况，正在进一步调查核实，民政部门将会及时公开处理结果。该负责人告诉记者，慈善法实施以来，网络公益成为引领社会向上行善的新潮流，各级民政部门从保护捐赠人合法权益、增强公益慈善公信力出发，不断加大执法力度，特别是对非法募捐行为予以重点关注、主动介入，对违法活动发现一起，查处一起，绝不姑息。下一步，民政部将进一步完善网络募捐监管、网上投诉举报，推动慈善组织全面履行信息公开义务，推进慈善信用管理和联合惩戒，着力营造清朗的网络公益环境和社会诚信氛围。“同一天生日”遭质疑：公益募捐别忽视伦理基础 “同一天生日”募捐本不该打法律擦边球 </p></body></html>