<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>847</title>
</head>
<body>
<h1>
国务院安委办要求切实做好2018年元旦春节期间安全生产工作-新华网
</h1>
<p id="demo"> 2017-12-26 21:34:45</p><p>新华社北京１２月２６日电（记者叶昊鸣）记者２６日从国家安全生产监督管理总局获悉，国务院安全生产委员会办公室今天发出通知，要求切实做好２０１８年元旦春节期间安全生产工作，狠抓各项安全防范责任措施落实，有效防范和坚决遏制各类生产安全事故，确保人民群众度过一个欢乐、祥和、平安的节日。据安监总局有关负责人介绍，元旦春节期间群众出行和大型群众性活动增多，同时受低温、雨雪、冰冻等灾害性天气影响，事故易发多发。各地区、各有关部门和单位要及早研究部署，强化措施落实，有针对性地制定采取安全防范措施；严密安全生产责任制，落实地方属地管理、部门监管和企业主体责任并加强督促检查；各类生产经营单位要认真落实全员安全生产责任制，依法加强安全管理和岗位隐患排查治理。这位负责人表示，要统筹做好春运工作，加强铁路、公路、水路、民航、城市公共交通等的衔接配合和安全监管；要集中开展消防安全大检查，严防火灾事故发生；要强化烟花爆竹生产、运输、储存、销售、燃放等各环节的安全监管，严厉打击无证非法生产、非法运输、分包转包、“三超一改”等行为；要加强大型文娱、焰火集中燃放等群众性活动安全管控工作，严防发生拥挤、踩踏等伤亡事故。这位负责人要求，要严厉查处各类安全生产违法违规行为，特别是要加强对全国安全生产大检查发现问题隐患的跟踪复查；切实加强对节日期间停产、节后复产企业的安全监管监察，督促高危行业企业制定并严格落实安全保障措施；要严厉打击未经验收或验收不合格擅自复产复工行为。这位负责人强调，要根据节日特点加强应急准备，落实救援队伍、装备、物资等应急资源；要加强对冬季用火用电用气、烟花爆竹燃放等安全知识和逃生自救等常识的宣传；节日期间正常生产的企业要加强员工特别是重点岗位人员安全管理和教育培训，提升全员安全技能和应急处置能力。</p></body></html>