<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>848</title>
</head>
<body>
<h1>
贵州安顺：“金融精准扶贫学校”为农户送去“致富经”-新华网
</h1>
<p id="demo"> 2017-12-26 21:34:21</p><p>新华社贵阳１２月２６日电（熊智）“多亏农商行给我们办的培训，不仅得到了5万元贷款的支持，还教我怎么养牛，现在我家养了6头牛，生活越来越有盼头。”贵州省安顺市紫云苗族布依族自治县白石岩乡新驰村贫困户朱光珍，一边忙着在她家牛圈里喂牛，一边兴奋地向来人介绍。新驰村现有建档立卡贫困户119户342人，村内自然资源匮乏，一直以来就是靠着种植传统农业为生。为满足贫困户生产经营及消费资金需求，安顺农信社为全市建档立卡贫困户提供5万元以下、3年期以内、无抵押担保“特惠贷”精准扶贫贷款，帮助贫困户脱贫致富。虽然政策非常好，但是“特惠贷”在农村推广还是遇到了难题，群众不知道‘特惠贷’是做什么的。“为了使广大农户了解‘特惠贷’，我们多次到村里进行宣传，实现金融扶贫效果最大化。”紫云农商行白石岩支行客户经理王玲海说。站在自己的牛圈里，朱光珍高兴地说：“知道这5万元不用付利息，我就按照程序去申请了贷款，并在农商行办的‘金融精准扶贫学校’里学习养牛的知识。年初得到这5万元的贷款后，我就把这些钱拿来建了牛圈，买了牛来喂，现在政策都很照顾我们贫困户。”据了解，紫云农商行结合地方特色产业发展，采取“公司+政府+农信社+村委+贫困农户”的模式筹办“金融精准扶贫学校”，并且还引入关岭牛铭品农业发展有限公司与紫云县进行项目合作，共同带动贫困户发展产业脱贫。截至目前，“金融精准扶贫学校”共举办７场培训活动，涉及贫困户３００余人，并邀请专家和当地致富带头人开展有针对性的技能培训，积极引导农户参与技能培训，从而提升农户就业创业能力，切实将扶贫与扶智扶志相结合，真正帮助贫困户增加脱贫致富的能力和信心。</p></body></html>