<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>849</title>
</head>
<body>
<h1>
南京成立律师联盟维护南京大屠杀历史真相-新华网
</h1>
<p id="demo"> 2017-12-27 18:32:00</p><p>新华社南京12月27日电（记者 蒋芳）记者27日从侵华日军南京大屠杀遇难同胞纪念馆获悉，“维护南京大屠杀历史真相律师大联盟”近日正式成立，将致力于南京大屠杀幸存者权益保护、南京大屠杀法律问题研究，并推动民间诉讼等。南京市律师协会和南京市法律援助基金会于今年11月共同发起“维护南京大屠杀历史真相律师大联盟”。目前，联盟秘书处已接到江苏、上海、安徽和新疆等地律师的150份申请。据悉，联盟发表了《维护南京大屠杀历史真相律师宣言》，宣布将进行南京大屠杀事件严重违背相关国际法和战争法的证据整理与法理论证；进行东京国际法庭关于南京大屠杀事件的审判资料的整理与研究；进行中国法庭关于南京大屠杀事件的审判资料的整理与研究；进行南京大屠杀事件民间诉讼资料的整理与研究；进行国际社会关于南京大屠杀事件法律证据的收集整理与研究等。从上世纪至今，一些日本律师也在致力于维护南京大屠杀历史、保护幸存者合法权益。其中，南典男律师自1995年开始为中国二战受害者提供无偿的法律援助，也曾在上世纪90年代日本右翼分子污蔑南京大屠杀幸存者李秀英、夏淑琴为“假证人”的诉讼中施以援手。</p></body></html>