<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>850</title>
</head>
<body>
<h1>
加快组网部署我国将在２０１８年底前完成１８颗北斗卫星全球组网-新华网
</h1>
<p id="demo"> 2017-12-27 16:42:06</p><p>新华社北京１２月２７日电（记者刘诗平、赵文君）中国卫星导航系统管理办公室主任、北斗卫星导航系统发言人冉承其２７日表示，加快北斗三号组网部署，２０１８年底前建成１８颗卫星的基本系统，提供初始服务；２０２０年底前建成３０颗卫星的完整系统，提供全球服务。冉承其在国务院新闻办公室举行的北斗系统开通五周年新闻发布会上说，在此基础上，加快构建基于北斗的国家综合定位、导航、授时体系，提供基准统一、覆盖无缝、安全可信、高效便捷的定位导航授时服务。冉承其在回答记者提问时说，在２０１８年底前发射１８颗左右的卫星，可优先为“一带一路”国家和地区提供服务。同时，加强技术交流和人才培养，服务“一带一路”国家和地区。“２０１７年１１月５日，北斗三号首批组网双星成功发射，目前卫星状况良好，信号播发正常，满足指标要求。”冉承其说。他同时表示，卫星播发的Ｂ１Ｃ和Ｂ２ａ两个互操作新信号图形，在前期发布Ｂ１Ｃ、Ｂ２ａ信号接口控制文件（测试版）的基础上，今天正式发布Ｂ１Ｃ和Ｂ２ａ信号接口控制文件（１．０版），北斗官方网站将同步上线。北斗已走出国门，正加速融入世界。冉承其说，全面开展大国合作，成立中俄卫星导航合作项委会，成立中美、中欧卫星导航合作工作组。建成开通中俄卫星导航联合监测平台，与美、俄分别签署系统兼容与互操作联合声明，为多系统实现共赢，全球用户享受更加高效可靠服务做出中国贡献。“北斗成为第三个被国际海事组织认可的卫星导航系统，已被国际民航组织认可为卫星导航核心星座，获得提供北斗星基增强服务的国际资源，为全球提供免费搜索救援服务，基于北斗的第三、第四代移动通讯定位业务等国际标准规范已正式发布。”冉承其说。</p></body></html>