<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>852</title>
</head>
<body>
<h1>
国务院扶贫开发领导小组发文为扶贫考核“减负”-新华网
</h1>
<p id="demo"> 2017-12-27 15:42:07</p><p>新华社北京12月27日电（记者侯雪静）为贯彻落实纠正“四风”、加强作风建设的精神，国务院扶贫开发领导小组27日发出通知，明确在扶贫考核中切实减轻基层工作负担。根据通知，除党中央、国务院确定的督查巡查、考核评估外，不再组织开展其他考核。各成员单位也不得开展其他扶贫专项考核，确需开展的经扶贫领导小组批准后实施。各省级扶贫开发领导小组要统筹整合本省（区、市）现有扶贫考核，取消不必要的考核，减少考核频次，严禁多头考核、层层考核、搭车考核。随着全国建档立卡数据库逐渐完善，通知明确，要改进考核方式方法，2017年省级党委和政府扶贫开发工作成效省际交叉考核不再考核贫困人口识别准确率、贫困人口退出准确率等，重点考核脱贫攻坚责任落实、政策落实和工作落实等情况。同时，简化第三方评估调查问卷，完善群众满意度评估方法。通知明确，要减少填表报数。为切实减轻基层干部工作负担，除每年根据统一部署填报一次建档立卡信息系统数据外，任何单位任何部门不得以任何理由要求村级填报扶贫数据。扶贫领导小组成员单位和各地在考核评估中所需数据由考核评估人员通过实地调查获取，不得违反规定要求村级填表报数。通知强调，要强化作风要求。各地不得在考核前搞预考自考、模拟演练、突击修改资料等，不得为迎接考核做展板、拉横幅。对层层考核、增加基层负担的，对弄虚作假、徇私舞弊的，对搞形式主义、干扰考核造成严重后果的，实行一票否决，并依纪依规追究责任。</p></body></html>