<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>853</title>
</head>
<body>
<h1>
湖北公布货车超载处罚标准及六类可投诉情形-新华网
</h1>
<p id="demo"> 2017-12-27 15:33:44</p><p>新华社武汉１２月２７日电（记者梁建强）货车超载，除车辆被扣留外，还可能最高被记６分。这是湖北省公安交通管理局近日公布货车超载交通违法行为处罚标准时透露的消息。据了解，为进一步规范公路治超执法工作，促进道路货运行业健康稳定发展，湖北省公安交管部门依据有关法律法规和文件要求，将依法查处货车超载交通违法行为，并明确了具体的处罚标准。据相关规定，驾驶货车载物超过限载标准未达３０％的，扣留机动车，卸载，对驾驶人处２００元罚款、记３分；驾驶货车载物超过限载标准３０％以上不足１００％的，扣留机动车，卸载，对驾驶人处５００元罚款、记６分；驾驶货车载物超过限载标准１００％以上的，扣留机动车，卸载，对驾驶人处１０００元罚款、记６分。湖北省公安交通管理局相关负责人介绍，当事人对公安交管部门的执法行为有异议或发现有以下六类情形的，可进行投诉。具体包括：不依据称重和卸载单所载明的超载比例实施处罚；利用职务便利，以各种形式收受当事人及其委托人财物；违规收取停车保管费、通行费等费用；超期扣留违法超限超载车辆不作处理；在公路超限检测站（点）以外现场处罚车辆超限超载违法行为；其他执法不规范的问题。</p></body></html>