<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>855</title>
</head>
<body>
<h1>
湖南：涉案金额达１６亿维卡币特大网络传销案二审宣判-新华网
</h1>
<p id="demo"> 2017-12-27 15:07:29</p><p>新华社长沙１２月２７日电（记者陈文广、阳建）记者２７日从湖南省株洲市中级人民法院获悉，株洲市中级人民法院近日对段某等３５人组织、领导传销活动一案二审公开开庭宣判。据悉，这是一起涉及全国多省市的网络传销案件，涉案金额达１６亿余元。据介绍，维卡币传销组织系境外向中国境内推广虚拟货币的组织，传销网站及营销模式由保加利亚人鲁某组织建立，服务器设立在丹麦的哥本哈根境内，对外宣称是继“比特币”之后的第二代加密电子货币。这一组织声称维卡币升值空间大，诱骗他人投入巨额资金到其设立的网站，并设立门槛，会员注册后不能退会、退款。要成为维卡币组织会员，必须在老会员的推荐下，缴纳不同级别的“门槛费”以获得相应级别激活码，注册成为不同级别的会员。该案被告人积极发展下线会员从中非法获利１万余元至２０００万元不等。法院二审审理认为，上诉人段某、李某等１０人及原审被告人宋某等２５人，扰乱社会经济秩序，其行为均已构成组织、领导传销活动罪。在组织、领导传销活动的共同犯罪中，上诉人及原审被告人等３５人均起次要作用，系从犯，依法可以从轻或减轻处罚。据此，二审法院依照相关法律规定及各上诉人在犯罪过程中所起的作用，准许上诉人丁某撤回上诉，驳回上诉人张某、刘某的上诉，依法维持对宋某、杨某等２６人的定罪量刑部分，依法维持对易某、李某等５人的定罪部分，依法撤销易某、李某等５人的量刑部分，判处上诉人段某等７人有期徒刑４年至１０个月不等，并处罚金人民币１５０万元至５万元不等，并同时判令对扣押在案的赃款赃物予以追缴、上缴国库。新闻链接湖南宣判16亿元涉外“维卡币”网络传销案 35人获刑9月8日，湖南株洲县人民法院宣判了一起涉案金额达16亿余元的特大“维卡币”网络传销案。一审以组织、领导传销活动罪，分别判处35名被告人缓刑至有期徒刑七年不等的刑罚，并处1万元至500万元不等的罚金。</p></body></html>