<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>859</title>
</head>
<body>
<h1>
今年民航预计发送旅客５．４９亿人次-新华网
</h1>
<p id="demo"> 2017-12-27 15:30:38</p><p>新华社北京１２月２７日电（记者齐中熙）截至12月27日，２０１７年民航局已圆满完成各项工作任务，没有发生运输飞行事故和空防事故；运输飞行首次突破千万小时，预计全年完成运输总周转量１０８３亿吨公里、旅客运输量５．４９亿人次、货邮运输量７１２万吨，同比分别增长１２．５％、１２．６％、６．６％。记者从２７日召开的全国民航工作会议上获悉，２０１７年，民航部门坚守飞行安全底线，安全态势总体平稳。全面实施安全绩效管理，推行安全管理失信“黑名单”制度，完善安全监管工具箱，进一步提升监管效能。建立健全安全风险防控长效机制，５０家航空公司建成运行风险管控系统，民航飞行品质监控系统实现对全行业运输机队的总体覆盖。此外，民航部门更加注重航班正常管理的系统性、协同性，积极构建以运行控制、机场保障、流量管理和考核机制为核心的航班正常管理体系。针对今年７月份航班正常率的严峻局面，从８月份起，民航部门严格把控运行总量，在优化运行流程、掌握标准航段时间和过站时间、缩小运行间隔、规范流量控制程序等方面采取一系列措施。同时持续改进保障能力，强化技术手段支撑，建成统一运行的监控和流量管理平台。一系列措施促使今年航班平均正常率回升，特别是１１月份，航班正常率达到８４．５９％，创１０２个月来新高。</p></body></html>