<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>860</title>
</head>
<body>
<h1>
民航局：２０１８年航班平均正常率将不低于７５％-新华网
</h1>
<p id="demo"> 2017-12-27 15:30:39</p><p>新华社北京１２月２７日电（记者齐中熙）２０１８年，全国民航旅客运输量预计达到６．１２亿人次，同比增长１１％以上，全年航班平均正常率将不低于７５％。记者从２７日召开的全国民航工作会议上获悉，２０１８年，民航部门将着眼提质增效，全力提升航班正常水平。民航部门将鼓励航空公司通过租赁、购买、转让等方式，及时调整机队规模和结构，增强运力管理的弹性；综合评估机场、空管部门的保障能力，对繁忙机场的容量实施动态调控，避免超能力、超负荷运行。在确保安全的前提下，为航空公司、机场、空管优化流程、提升效率提供空间。围绕提质增效这个核心目标，民航部门将继续完善以运行控制为核心的航空公司运行管理体系、以现场运行为核心的机场保障管理体系、以流量管理为核心的空管运行管理体系、以考核督查为核心的政府监督管理体系。完成全国航班运行协同决策系统工程建设，实现外航航班纳入全国统一飞行计划处理系统。</p></body></html>