<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>861</title>
</head>
<body>
<h1>
远望号船队圆满完成年度海上测控任务累计海上作业５１９天行程可绕赤道６圈-新华网
</h1>
<p id="demo"> 2017-12-27 15:38:16</p><p>新华社南京１２月２７日电（李国利、魏龙）遥感三十号０３组卫星２６日凌晨从西昌卫星发射中心发射升空，远望３号船在南太平洋某海域成功测控，卫星进入预定轨道。至此，远望号船队２０１７年度海上测控任务全部完成。据中国卫星海上测控部介绍，２０１７年，远望号船队圆满完成了包括天舟一号在内的１１次海上测控任务，累计海上作业５１９天，安全航行１３．５万余海里，相当于绕赤道６圈多。在万里大洋上，远望号船队用无线电波搭接一条条“天梯”为飞船、卫星成功飞天保驾护航。今年６月，中星９Ａ卫星发射出现异常，卫星未能进入预定轨道。３艘远望号测量船闻令而动，充分发挥海上灵活布站优势，及时调整航行计划，迅速建立应急测控任务状态，圆满完成卫星转移轨道段１３个圈次、６次变轨海上测控任务，为挽救卫星作出了贡献。作为我国航天测控网的重要组成部分，远望号船队迎来升级换代的“快车道”。今年，我国第二代航天远洋测量船远望３号船完成了第二次中修技术改造，加装了目前我国船载最高频段的统一测控系统，进一步提升了测控通信和综合试验能力。按计划，２０１８年，远望５号、６号船将开始进行第一次中修技术改造，我国第三代远洋航天测量船将全新亮相。据了解，远望３号船在外港短暂休整后将继续执行任务，并计划于２月上旬返回中国卫星海上测控部。远望６号船春节前还将两次出航执行两次任务。</p></body></html>