<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>864</title>
</head>
<body>
<h1>
山西晋中：小额诉讼实行“一审终审制”-新华网
</h1>
<p id="demo"> 2017-12-27 17:05:34</p><p>新华社太原12月27日电（记者王劲玉）记者近日从山西晋中市中级人民法院获悉，从2018年1月1日起，对于符合使用小额程序的案件，全市各基层人民法院必须严格按照有关规定使用小额程序进行审理，实行“一审终审”。对于生效的裁判文书，当事人可以通过审判监督程序实现诉讼权利救济。据介绍，小额诉讼是指基层人民法院和派出法庭审理的事实清楚、权利关系明确、争议不大，标的额为各省上年度就业人员年平均工资30%以下，符合适用简易程序条件的简单民事案件。目前，晋中中院已专门出台《关于严格执行小额诉讼审理民事案件的通知》。晋中市中级人民法院立案庭庭长郭富生介绍说，鼓励当事人积极选择小额诉讼程序维权，法院在受理案件时也将充分履行向当事人关于适用条件、审判组织、审理方式、一审终审、审理期限等事项的告知义务，提升当事人对实体裁判的认同度，并不断规范和完善小额诉讼程序。</p></body></html>