<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>865</title>
</head>
<body>
<h1>
脱贫攻坚不是为了“撞线”-新华网
</h1>
<p id="demo"> 2017-12-27 16:50:45</p><p>新华社郑州12月27日电  题：脱贫攻坚不是为了“撞线”新华社记者刘雅鸣、李亚楠近期，中部某省在脱贫攻坚暗访中发现，极个别贫困县贫困户错退率超过10%。这一细节反映了脱贫工作中存在急躁心态，警示脱贫攻坚绝非朝夕之功，“撞线”心态要不得。确保到2020年我国现行标准下农村贫困人口实现脱贫，贫困县全部摘帽，解决区域性整体贫困，做到脱真贫、真脱贫，明确写进了党的十九大报告。很多地方也都排出了各自的时间表，定下了阶段性目标。作为党的十九大提出的未来3年要重点抓好的三大攻坚战之一，精准脱贫是当前各级党委政府部门尤其是贫困地区各项工作的重中之重。在有明确时间节点、各项任务指标压实的情况下，更需要沉下心来、扑下身子，做实做细做好各项工作，把眼前治标与长远管本结合起来。小康路上一个也不能少，如期实现脱贫是硬任务。离目标越近，任务越艰巨，越不可有“撞线”心态，指望毕其功于一役，反而更需要把雷厉风行和久久为功有机结合起来，勇于攻坚克难，以钉钉子精神做实做细做好各项工作。“撞线”的一刹那看起来冲劲十足，但过线之后往往会坐下来、喘口气，松了神、懈了劲。一味凭“撞线”的劲头去搞扶贫攻坚，必然不可持续，也靠不住。“撞线”心态下，有的地方主官急于脱贫摘帽、完成任务，对上级要求层层加码压给下级；“撞线”心态下，不该退出贫困的匆忙退出，造成错退率居高不下，同精准脱贫目标背道而驰；“撞线”心态下，还容易造成干部急功近利的短视行为，只求过得去，不求可持续。精准脱贫是攻坚战，反贫困斗争是持久战，任何时候都不能有歇歇脚、松口气的念头，必须时刻警惕贫困的反扑。眼下，对贫困地区来说，更要切实抓好产业扶贫、就业扶贫、教育扶贫等管长远、治根本的脱贫举措，为如期完成脱贫任务奠定坚实基础。相关链接：脱贫工作做得越细 群众就越有信心——广西瞄准深度贫困攻坚新华时评：脱贫别“拖”在干部作风上</p></body></html>