<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>867</title>
</head>
<body>
<h1>
保卫蓝天容不得“松口气、歇歇脚”-新华网
</h1>
<p id="demo"> 2017-12-27 16:50:45</p><p>新华社北京12月27日电  题：保卫蓝天容不得“松口气、歇歇脚”新华社记者高敬今年冬天北方地区天蓝的日子明显多了，但这几天河南、山西、陕西等地空气质量又达重度污染。这是一个响亮的提醒：要打赢蓝天保卫战，万不可有“松口气、歇歇脚”的心态。2017年是“大气十条”第一阶段的收官之年。各地在大气污染减排方面下了真功夫，采取整治涉气的“散乱污”企业、推进清洁取暖、推动大宗物料运输方式从公路转向铁路、暂停土石方施工等一系列标本兼治的措施。加上天帮忙，与去年相比，除东北地区10月因秸秆焚烧出现重霾天气外，北方其他地区几乎没有发生过长时间大范围的重霾天。治理雾霾是个系统工程，取得蓝天保卫战最终胜利，还有很长的路要走。要看到阶段性的效果距离主要污染物排放总量大幅减少的目标尚远。雾霾具有反复性的特点，会不会卷土重来很大程度上仍要看天说话。有专家提醒，有可能出现的暖冬会对未来三个月空气质量形成挑战。行百里者半九十。打赢蓝天保卫战，要杜绝“松口气、歇歇脚”心态，保持一股劲干到底。各地各部门要乘势而上，在进一步调整重化工业为主的产业结构、以煤为主的能源结构和以公路为主的运输结构上持续发力。要向“黑色增长”说不，继续淘汰落后产能，为遵纪守法、达标排放的先进企业腾出市场空间和资源环境空间；坚持在保障民生基本需求前提下积极推进北方地区清洁供暖工程，抓好煤炭替代与清洁化利用；有关部门和地方还要努力提高铁路运输比例，同时，鼓励发展清洁货运车队，有效管控重型柴油车污染排放。只有用更科学、更精准方法持续减少污染物排放，真正使污染物排放总量大幅减少，才能做到即使天气不给力，也不会发生严重雾霾，让蓝天白云留得住，真正解决群众的“心肺之患”。相关链接：打好污染防治攻坚战重点是打赢蓝天保卫战 </p></body></html>