<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>868</title>
</head>
<body>
<h1>
质检总局决定对１３７家进口食品企业采取加严监管措施-新华网
</h1>
<p id="demo"> 2017-12-27 17:04:55</p><p>新华社北京１２月２７日电（记者王优玲）记者２７日从国家质检总局获悉，质检总局决定对１３７家进口食品企业采取加严监管措施。质检总局称，根据近期检验检疫情况，已有１３７家企业出现不良记录，达到《进口食品不良记录管理实施细则》规定的列入《进口食品化妆品安全风险预警通告》的条件，其中进口商４８家、境外生产企业４７家、境外出口商４２家。为保障进口食品安全，进一步落实进口食品企业主体责任，质检总局决定对上述１３７家企业采取加严监管措施，在再次进口相关产品时，应按要求提供相应检测报告或合格证明材料。被列入《进口食品化妆品安全风险预警通告》的企业要及时进行整改，提高进口食品质量，待满足《细则》规定的“解除风险预警条件”后，可按规定从名单中撤除。有关详细信息，将在质检总局网站上予以公布。质检总局数据显示，２０１２年至２０１６年，全国进口食品接触产品批次不合格率由不到４％上升至近１０％，呈逐年升高趋势。</p></body></html>