<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>869</title>
</head>
<body>
<h1>
中共中央决定调整中国人民武装警察部队领导指挥体制-新华网
</h1>
<p id="demo"> 2017-12-27 18:05:40</p><p>新华社北京１２月２７日电日前，中共中央印发《中共中央关于调整中国人民武装警察部队领导指挥体制的决定》，自２０１８年１月１日零时起，武警部队由党中央、中央军委集中统一领导，实行中央军委－武警部队－部队领导指挥体制。《决定》明确，武警部队归中央军委建制，不再列国务院序列。武警部队建设，按照中央军委规定的建制关系组织领导。中央和国家机关有关部门、地方各级党委和政府与武警部队各级相应建立任务需求和工作协调机制。《决定》要求，各地区各部门、人民解放军和武警部队，要坚决贯彻党中央决策部署，强化“四个意识”，积极主动协调配合，做细做实相关工作，确保武警部队领导指挥体制有序转换、稳定运行。相关链接：人民日报评论员：确保党对武警部队绝对领导的重大政治决定</p></body></html>