<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>871</title>
</head>
<body>
<h1>
李飞：广深港高铁“一地两检”合作安排有效维护了香港特区的高度自治权-新华网
</h1>
<p id="demo"> 2017-12-27 21:37:50</p><p>新华社北京１２月２７日电（记者 石龙洪）全国人大常委会副秘书长李飞２７日在北京表示，全国人大常委会作出批准广深港高铁“一地两检”合作安排的有关决定，依照基本法有效地维护了香港特区的高度自治权，符合香港的整体利益和长远利益。当日，十二届全国人大常委会第三十一次会议表决通过决定，批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》。会后，全国人大常委会办公厅举行专题新闻发布会，就相关问题答记者问时，李飞作出上述表示。李飞指出，有关决定依照基本法有效地维护了香港特区的高度自治权，具体体现在四个方面：一是，不改变香港特别行政区的区域范围。二是，不改变内地与香港的出入境管制制度，设“一地两检”，内地与香港的查验机构依据各自的法律实行查验。三是，不减损香港居民依法享有的权利和自由。四是，不减损香港特别行政区的管辖权。李飞强调，按照全国人大常委会的决定，内地出入境查验管理机构及其人员只在内地口岸区按照内地法律实行出入境查验，不会到口岸区以外执法。对高铁的乘客来说，除了更为高效便捷以外，和过往通过其他方式出入境没有任何区别，没有施加任何新的限制，不减损香港居民依法享有的权利和自由。民调显示绝大多数的香港人支持“一地两检”。“这是一件大好事，只有好处，没有坏处。”李飞表示，香港特区与内地开展合作，进行广深港高铁等基础设施建设，作出“一地两检”的合作安排，符合香港的整体利益和长远利益，是全面贯彻落实香港基本法的规定、增进香港居民福祉的需要，绝不是香港一些人所说的放弃高度自治权，而是依法行使高度自治权。</p></body></html>