<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>872</title>
</head>
<body>
<h1>
三部门联合部署推进货车年检年审依法合并-新华网
</h1>
<p id="demo"> 2017-12-27 21:24:29</p><p>新华社北京12月27日电（记者 赵文君）全国道路货运车辆检验检测将迎来改革，推进货车年检年审依法合并，有效减轻检验检测费用负担，切实增强道路货运企业和货车从业人员获得感。这是记者27日从交通运输部获悉的。交通运输部、公安部、国家质检总局27日联合召开电视电话会，部署道路货运车辆检验检测改革工作。交通运输部新闻发言人吴春耕介绍，2018年底前，在15个省份实行普通货运车辆在本级行政辖区范围内异地办理检验检测，无需办理委托手续，并逐步推行跨省异地检验检测。吴春耕表示，明年交通运输行业供给侧结构性改革将实现多点突破。在降成本方面，预计将减免通行费513亿元，这其中包括：持续优化货车通行费优惠政策、严格执行鲜活农产品绿色通道政策、鼓励地方结合实际进一步加大货车通行费优惠力度、完善高速公路分时段差异化收费工作等。</p></body></html>