<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>873</title>
</head>
<body>
<h1>
李飞：广深港高铁“一地两检”有关安排完全符合“一国两制”和香港基本法-新华网
</h1>
<p id="demo"> 2017-12-27 21:37:50</p><p>新华社北京１２月２７日电（记者 石龙洪）全国人大常委会副秘书长李飞２７日在北京表示，全国人大常委会作出批准“一地两检”的有关决定，确认内地和香港特区共同签署的关于在西九龙站设立口岸实施“一地两检”的合作安排，是符合宪法和香港基本法的，完全符合“一国两制”方针和香港基本法的根本宗旨。当日，十二届全国人大常委会第三十一次会议表决通过决定，批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》。会后，全国人大常委会办公厅举行专题新闻发布会，就相关问题答记者问时，李飞作出上述表示。李飞指出，全国人民代表大会作为最高国家权力机关，通过制定基本法将“一国两制”方针政策法律化、制度化、具体化，规定了特别行政区制度的各项原则以及具体的制度。全国人大常委会对实施香港基本法、处理重大法律问题所作出的决定具有宪制性地位，具有最高法律效力。全国人大常委会作出批准“一地两检”的决定，是重要的宪制性判断，不容质疑。李飞说，建设广深港高铁和实施“一地两检”，体现了中央支持香港融入国家发展大局，顺应了香港与内地广大民众希望两地交往出行更加高效快捷的普遍诉求，在西九龙站实行“一地两检”得到了香港绝大多数市民的支持。“一地两检”符合香港社会民意、符合时代发展的要求、符合香港和国家发展的利益，这与香港基本法所确定的根本宗旨是一致的。李飞表示，全国人大常委会作出的决定，明确国务院可以依据宪法规定的权力，批准在西九龙站设立口岸，派驻出入境监管机构，依法履行职责。同时，要求香港特别行政区依据香港基本法和全国人大常委会作出的决定，在本地制定相关法例来保障合作安排得以落实。以此前设立的深圳湾口岸实施“一地两检”的成功案例为例，李飞表示，实践证明，在香港回归后，在香港经济社会发展过程中，在香港与内地加强紧密合作、提升合作互利水平过程中，创设“一地两检”解决大型交通基础设施的通关查验问题是有成功的法律实践的。</p></body></html>