<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>874</title>
</head>
<body>
<h1>
（受权发布）全国人民代表大会常务委员会任免名单-新华网
</h1>
<p id="demo"> 2017-12-27 21:48:54</p><p>新华社北京12月27日电全国人民代表大会常务委员会任免名单（2017年12月27日第十二届全国人民代表大会常务委员会第三十一次会议通过）一、免去南英的最高人民法院副院长职务。二、免去杜万华的最高人民法院审判委员会委员、审判员职务。三、任命李勇为最高人民法院刑事审判第三庭庭长，免去其最高人民法院刑事审判第一庭副庭长职务。四、任命黄永维为最高人民法院行政审判庭庭长。五、任命杨立初为最高人民法院立案庭副庭长。六、任命李健为最高人民法院刑事审判第四庭副庭长。七、任命罗智勇为最高人民法院审判监督庭副庭长。八、任命董华（女）为最高人民法院审判监督庭副庭长。九、免去金剑锋的最高人民法院立案庭副庭长、审判员职务。十、免去党建军的最高人民法院刑事审判第四庭副庭长、审判员职务。十一、免去虞政平的最高人民法院审判监督庭副庭长职务。十二、任命李盛烨、冯姗（女）、曲晶晶（女）、杨辉辉、肖凤（女）、何东青（女）、翁彤彦（女）、贾伟、刘琳琳（女）、王婷婷（女）、刘艾涛、李加玺、张建英（女）、张剑、章晓瑜（女）、王珅（女）、张眉（女）、吴蓉（女）、佟姝（女）、仝蕾（女）、李绍华、杨军、夏建勇、邵长茂、邱鹏为最高人民法院审判员。十三、免去吴少军、胡伟新、席建华、韩玫（女）、孙延平（女）、王季君、聂洪勇的最高人民法院审判员职务。</p></body></html>