<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>876</title>
</head>
<body>
<h1>
“雪龙”号搭载南极科考队抵达中山站-新华网
</h1>
<p id="demo"> 2017-12-27 21:51:12</p><p>12月27日，科考队员乘坐“海豚”直升机率先抵达中山站，队员们从直升机取下慰问物资。新华社记者 白国龙 摄新华社南极中山站１２月２７日电（记者白国龙）搭载中国第３４次南极科考队的“雪龙”号极地考察船２７日抵达距中山站４２公里的近岸密集浮冰区，随后派出先遣队乘坐直升机抵达中山站。这标志着科考队中山站夏季考察行动正式开启。据科考队介绍，中山站夏季考察是本次南极科考中规模最大的一次集中行动，包括中山站卸货作业、中山站夏季科学调查、固定翼飞机航空调查、中山站后勤保障工程、中山站运行维持和越冬交接等任务。中国极地研究中心主任杨惠根是本次科考队领队、首席科学家，他率领先遣队乘坐直升机抵达了中山站。他说，在诸多任务中，中山站卸货任务“极其艰巨和繁重”，为科考队带来严峻挑战。12月27日，中山站区的科考队员向乘坐“海豚”直升机从“雪龙”号上飞来的科考队员挥手表示欢迎。新华社记者 白国龙 摄他介绍说，与“雪龙”号约半个月前在恩克斯堡岛卸货时相比，在中山站卸货的物资总量大得多，直升机吊运作业的距离比在恩克斯堡岛作业时远１０倍以上。他们力争用８天左右时间从“雪龙”号向中山站至少卸运４３０多吨物资，包括２８０吨考察物资和１５０吨燃油。据悉，“雪龙”号此次停靠中山站期间，科考队员将分批次乘坐直升机进入中山站。以中山站为支撑，科考队将开展生态环境、冰盖与冰架、地质与地球物理等南极陆地环境业务化调查，中山站水平基准和垂直基准测绘等南极地理空间信息业务化调查，以及冰架地形航空勘探等南极自然科学研究任务。这些工作对未来深入开展南极科学前沿探索意义重大。</p></body></html>