<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>877</title>
</head>
<body>
<h1>
黄柳权：广深港高铁西九龙站实施“一地两检”是最合理、最科学的方案-新华网
</h1>
<p id="demo"> 2017-12-27 21:51:49</p><p>新华社北京１２月２７日电（记者石龙洪）国务院港澳办副主任黄柳权２７日在北京表示，从２０１０年以来，中央有关部门和特区政府就广深港高铁口岸设置问题，正式磋商超过３０次，经反复研究论证，一致认为在西九龙站设立口岸并且实施“一地两检”是最合理、最科学的方案。当日，十二届全国人大常委会第三十一次会议表决通过决定，批准《内地与香港特别行政区关于在广深港高铁西九龙站设立口岸实施“一地两检”的合作安排》。会后，全国人大常委会办公厅举行专题新闻发布会，就相关问题答记者问时，黄柳权作出上述表示。黄柳权指出，香港回归以后，与内地的交流交往越来越紧密，人流、物流的增长非常快，已有的口岸满足不了两地便捷交往的需求，这些年来简化通关流程、缩短通关时间、促进两地之间人员、货物、资金、信息等要素的便捷流动，成为两地民众的共同愿望。黄柳权说，香港提出兴建高铁的目的是通过对接国家高铁网络，融入珠三角一小时生活圈。在“一国两制”之下，往来香港和内地之间要进行通关查验，建高铁能不能发挥快速、便捷作用，口岸选址及查验模式非常关键。香港特区政府经认真评估考察，提出兴建高铁且建议在西九龙站实施“一地两检”，这是香港特区政府积极作为，使香港融入国家发展大局的重要决定。他表示，中央一贯支持香港和内地开展合作，支持香港融入国家发展大局。经中央有关部门和特区政府反复协商、论证，比较、分析各种通关查验模式，多次实地到香港和广东考察，一致认为在西九龙站设立口岸并且实施“一地两检”是最合理、最科学的方案。黄柳权说，“一地两检”的查验模式，有利于充分发挥高铁的高速高效优势，使广大高铁乘客充分享受快捷便利的服务，确保广深港高铁香港段的运输、经济和社会效益的最大化，也有利于促进香港特区和内地之间的人员往来和经贸活动，有利于深化香港特区和内地的互利合作、共同发展，有利于香港特区更好地融入国家发展大局。黄柳权表示，从中央有关部门处理广深港高铁口岸设置和查验模式问题过程来看，和处理香港的其他问题一样，中央的出发点和落脚点都是要促进香港和内地的互利合作、共同发展，从而保持香港的长期繁荣稳定。</p></body></html>