<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>88</title>
</head>
<body>
<h1>
媒体:网红"杀鱼弟"悲剧映射家庭教育痛点-新华网
</h1>
<p id="demo"> 2018-08-08 12:10:50</p><p>亲子间缺少基本的沟通和疏解,只是用所谓的“忙碌”来替代一切。 2010年,年仅10岁的小孟,因一手“杀鱼绝技”而爆红网络,人称“杀鱼弟”,其父亲甚至将店名改成“杀鱼弟”水产。然而时过8年,竟然发生了悲剧,8月3日,“杀鱼弟”竟服用了剧毒农药百草枯。据报道,“杀鱼弟”已在父母陪同下转院,前往山东治疗。8年前,“杀鱼弟”的凝重表情和犀利眼神,让无数人心疼。本以为随着舆论的曝光,社会的关注和帮扶,孩子的内心能逐渐被阳光所照亮,没想到迎来的却是悲剧。让“杀鱼弟”的命运轨道产生现实偏移的,很可能就是“亲子关系”。据报道,“杀鱼弟”喝下百草枯的直接原因,是被父亲责骂,一时冲动所为。“吵架”,是所有亲子关系中都可能经历的,但悲剧却是极少数,即使孩子有一些过激之举,也基本会被家长们防范过去。可“杀鱼弟”的悲剧却没有被规避,这直接凸显出家长监护不到位的问题。而监护问题,正是亲子关系的基本面。若进一步解读网红“杀鱼弟”悲剧,会发现监护只是浅层次的问题,而深层次的问题还是在于家庭教育。即便“杀鱼弟”的家长监管到位,但家长不懂教育,只知打骂,会让孩子敏感和愤怒的情绪堆积,亲子关系的裂痕也会越来越大,如此,出事便具有一定必然性。如何才算懂教育?首先,就必须让孩子完成九年制义务教育,有一个健康而正常的成长环境,而不是早早在菜市场杀鱼度日,更不能在“杀鱼弟”经好心人帮助重返校园的情况下,又将他叫回来杀鱼。更难以理解的是,其家庭难言贫困,有知情人透露,“杀鱼弟”家庭年收入在30万元以上。对孩子最好的家庭教育,就是要换位思考,推己及人,既要尊重孩子,也要爱护孩子。在“杀鱼弟”家庭里,面对17岁的孩子,其父母竟还诉诸打骂来解决问题。亲子间缺少基本的沟通和疏解,只是用所谓的“忙碌”来替代一切。试想,如果“杀鱼弟”父母能早日与其交流,增进了解,疏解心理,多为孩子设身处地着想,多一些呵护和关爱,悲剧还会发生吗?网红“杀鱼弟”的悲剧虽然是个例,但确实映射出了很多家庭的教育痛点。家长们对孩子强化监护,注重家庭教育的科学性和合理性,构建温馨的亲子关系,才是正解。一句话,亲子关系需精心呵护,容不得半点推卸和敷衍。</p></body></html>