<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>887</title>
</head>
<body>
<h1>
人社部：过去5年城镇新增就业超过6500万人-新华网
</h1>
<p id="demo"> 2017-12-28 16:17:17</p><p>新华社北京12月28日电（记者 叶昊鸣）记者28日从人力资源和社会保障部了解到，过去5年城镇新增就业累计超过6500万人，高校毕业生就业率均在90%以上。人力资源和社会保障部部长尹蔚民在当日召开的全国人力资源和社会保障工作会议上表示，党的十八大以来的5年，人社工作取得显著成就：一是促进就业创业工作成效突出，城镇新增就业累计超过6500万人，城镇登记失业率、调查失业率保持在较低水平，高校毕业生总体就业率均在90%以上；二是覆盖城乡居民的社会保障体系基本建立，社保卡持卡人数超过10.7亿人，五项社保基金收支规模持续扩大，累计结余7.4万亿元；三是人才队伍建设进一步加强，全面深化职业资格制度改革，减少434项职业资格，专业技术人才、技能人才超过2.3亿人，引进外国高层次人才300多万人次；四是人事管理科学化水平明显提升；五是工资收入分配格局逐步完善；六是中国特色劳动关系不断创新发展。尹蔚民要求，做好2018年人社工作要坚持稳中求进工作总基调，坚持新发展理念，按照高质量发展要求，坚持人才优先、民生为本，促发展与惠民生相结合，全力促进就业创业，深化社会保障改革，加快人才队伍建设，推进人事管理创新，完善工资收入分配制度，构建和谐劳动关系，提升公共服务能力。</p></body></html>