<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>888</title>
</head>
<body>
<h1>
民政部下发通知要求两节期间兜住农村留守儿童安全底线-新华网
</h1>
<p id="demo"> 2017-12-28 15:50:29</p><p>新华社北京12月28日电（记者罗争光）民政部28日发布要求做好2018年元旦春节期间有关工作的通知，要求各地民政部门加大救助帮扶力度，其中明确要落实强制报告、应急处置等救助保护机制，切实兜住农村留守儿童、困境儿童安全底线。通知要求，加大对困难老年人、残疾人以及孤残弃儿童、农村留守儿童和困境儿童的救助帮扶和安全保护力度，指导相关福利机构根据服务对象实际生活情况及服务需求做好节日安排。落实强制报告、应急处置等救助保护机制，及时帮扶无人监护或监护不力的农村留守儿童、困境儿童，加强家庭监护的指导、监督和干预，切实兜住农村留守儿童、困境儿童安全底线。通知同时要求扎实做好“寒冬送温暖”专项救助工作，加强街面救助巡视频度，落实属地管理责任，加强部门联合督导检查，指导社会力量参与发现报告、引导求助、志愿服务等工作，及时救助陷入困境、居无定所、生活无着的流浪乞讨人员，确保流浪乞讨人员不挨饿、不受冻。通知还强调，各地民政部门要认真做好社会救助工作，及时发现并解决低保家庭、建档立卡贫困家庭、特困人员等困难群众基本生活存在的问题，密切关注两节期间物价波动情况，做好应对预案，落实社会救助和保障标准与物价上涨挂钩的联动机制，确保困难群众基本生活水平不因物价上涨而降低；要高度重视受灾群众过冬生活安排工作，按照“分类救助、重点救助”原则，科学制定救助方案，明确救助项目和标准，帮助解决受灾群众冬春期间基本生活面临的困难，及时足额将中央和地方各级安排的冬春救灾资金抓紧发放到位。</p></body></html>