<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>889</title>
</head>
<body>
<h1>
《国家主体功能区遥感监测图集》出版-新华网
</h1>
<p id="demo"> 2017-12-28 15:32:58</p><p>新华社北京１２月２８日电（记者董瑞丰）《国家主体功能区遥感监测图集》近日出版，详细展示了国家主体功能区的空间分布和基本格局。该图集包含６个图组，分别为国家主体功能区规划及指标、国家主体功能区遥感监测、国家优化开发区——京津冀地区遥感监测、国家重点开发区——中原经济区遥感监测、国家限制开发区——三江源草原草甸湿地生态功能区遥感监测图、国家禁止开发区——太湖风景名胜区遥感监测。图集主编、中国科学院遥感与数字地球研究所研究员周艺介绍，该图集有助于全面实时掌握主体功能区规划的实施状况和空间变化信息。主体功能区规划是我国面向新时期国土空间开发利用的新规划、新战略、新制度。通过遥感等技术，可以形成覆盖全国、统一协调、更新及时、反应迅速、功能完善的主体功能区动态监测管理系统。该图集由中科院遥感与数字地球研究所人居环境遥感应用技术研究团队编制，由中国地图出版社出版发行。</p></body></html>