<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>890</title>
</head>
<body>
<h1>
青海将为困难群体代缴部分基本养老保险费-新华网
</h1>
<p id="demo"> 2017-12-28 15:32:25</p><p>新华社西宁１２月２８日电（记者黄涵、李亚光）记者从青海省人力资源和社会保障厅获悉，为进一步发挥社会保险助力脱贫攻坚的作用，青海将从明年起为建档立卡未标注脱贫的贫困人口、低保对象、特困人员等困难群体代缴部分最低标准养老保险费，并通过一系列措施减轻贫困人口医疗费用负担。根据青海省人社厅、民政厅、财政厅等部门近日联合印发的《关于切实做好社会保险扶贫工作的实施意见》，从２０１８年１月１日起，青海将为建档立卡未标注脱贫的贫困人口、低保对象、特困人员等困难群体按１００元缴费标准代缴５０元养老保险费，继续为重度残疾人代缴３００元养老保险费，对中轻度残疾人给予５０元政府缴费补贴，并逐步提高城乡居民基本养老保险最低缴费标准和基础养老金标准。在减轻医疗费用负担方面，青海将继续落实建档立卡贫困人口参加城乡居民基本医疗保险个人缴费资助政策，个人缴费部分由民政部门从各级财政安排的城乡医疗救助资金中给予全额资助；将全省建档立卡贫困人口大病医保起付标准由５０００元调整为３０００元；降低贫困人口门诊特殊病慢性病病种鉴定医院级别，由省内三级或本市州最高级别降为县域内有相关病种诊断科室的定点综合医院，简化申报程序、缩短申报时间。该意见还要求，对工作方式灵活、流动性大、建档立卡农村贫困劳动力相对集中的行业采取按项目等方式一次性为农民工参加工伤保险，对符合工伤保险待遇先行支付情形的贫困劳动力，工伤保险经办机构给予先行支付。</p></body></html>