<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>891</title>
</head>
<body>
<h1>
当我们讨论“国家宝藏”时，我们在讨论什么？-新华网
</h1>
<p id="demo">/</p><p>图表：《盗/守墓笔记》一</p><p></p><p>新华网北京12月28日电（聂晨静）12月以来，有着中国版“博物馆奇妙夜”之称的《国家宝藏》持续刷屏，网友纷纷表示又燃又感动，“笑着笑着就哭了”。</p><p>然而，与节目中各大博物馆所展示的“国家宝藏”相比，现实中，还有更多的“国家宝藏”仍然躺在960万平方公里已知或未知的角落里。它们与盗墓贼之间，或许只差一个盗洞。据统计，2014年以来，全国公安机关年均2000起文物犯罪案件被立案，其中，盗掘古墓葬、古遗址案件占了一半以上。打击文物犯罪，国家在行动。今年7月31日、11月10日，公安部罕见地连发两批Ａ级通缉令，对总共20名重大文物犯罪在逃人员进行公开通缉。Ａ级通缉令的威慑力是强大的，综合新华社报道，目前至少已有17名在逃人员到案。梳理发现，这些人里半数以上为主动投案，其中2人在通缉令发出次日选择了自首。就在《国家宝藏》节目播出前五天，11月28日，公安部第二批Ａ级通缉令上的在逃人员于才，在陕西淳化县被抓获。于才曾多次在西安灞陵盗掘古墓葬，并将大量珍贵文物倒卖国外，系公安部挂牌督办的“7·20”陕西淳化系列盗掘西汉古墓葬案嫌犯。在公开报道里，“7·20”案是今年破获的最大盗墓案，共涉及96起文物案件，1100余件文物“上交国家”，追缴的西汉鎏金编钟、琉璃发簪世所罕见。</p><p></p><p></p><p></p><p></p><p>   1 2 3 4 5 6 下一页  </p><p>   1 2 3 4 5 6 下一页  </p><p></p><p></p></body></html>