<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>895</title>
</head>
<body>
<h1>
当我们讨论“国家宝藏”时，我们在讨论什么？-新华网
</h1>
<p id="demo">/</p><p>图表：《盗/守墓笔记》三威胁：“开着汽车”的盗墓贼ＶＳ“骑马骑车”的执法者近几年来，文物价格不断上涨，在“一夜暴富”神话的刺激下，文物盗、贩逐渐形成了完整的黑色产业链。从最初的盗掘者，经四五个层级转手，一件文物最终价格可翻至百倍，每一环节都有利可图。一方面，盗墓集团化、职业化、智能化趋势增强。纵观几起盗墓大案，不乏具备较高专业知识的“摸金校尉”，他们专门研究古墓葬分布，密切关注考古动态，往往是“考古队前脚勘探结束，盗墓者后脚就赶到”。微光夜视仪、军用望远镜、三维立体成像仪、金属探测器……不少盗墓贼“武装到牙齿”，相比之下，文物的防盗设备却是面临着老化、失灵的困局。这种对比，在一些边远地区表现得更为明显，媒体将其形容为“骑马骑车的执法者和开着汽车的盗墓贼”。另一方面，基层文保人手紧缺、职业素养不足，与日益繁重的田野文物保护任务不相适应。以盗墓贼经常“光顾”的皇陵为例，大到几百甚至上千平方公里的面积，主要靠文管所工作人员的日常巡视，而文管所往往只有三四个人员编制，难以做到有效保护。即便有群众文保员的“千里眼”“顺风耳”，面对海量的古墓葬以及狡猾的盗墓贼，这些人手也远远不够。再加上监守自盗、“内贼”引路等问题，当前文保工作更是面临重重挑战。此外，在盗销全球化的趋势下，文保工作还面临着另一个严重威胁——被盗文物加速流失海外。根据媒体公开报道，据联合国教科文组织统计，164万件中国文物分散在全世界47家博物馆，而民间收藏数量是其10倍之多。怎样才能堵住这些文物流向海外的通道？这些流失文物，如何才能尽快追索回国？</p><p></p><p></p><p></p><p></p><p></p><p>   上一页 1 2 3 4 5 6 下一页  </p><p>   上一页 1 2 3 4 5 6 下一页  </p><p></p><p></p></body></html>