<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>900</title>
</head>
<body>
<h1>
人社部表彰全国人社系统先进集体和先进工作者-新华网
</h1>
<p id="demo"> 2017-12-28 16:21:51</p><p>新华社北京12月28日电（记者叶昊鸣）怀抱荣誉证书，为居住在90多个岛礁约1.15万名群众的就业、社保工作奔走的浙江省舟山市嵊泗县人社局洋山分局局长倪芳芬格外激动。她告诉记者：“能够代表100名受表彰的先进工作者作大会发言，倍感荣幸。”在28日召开的全国人力资源社会保障系统先进集体和先进工作者表彰工作座谈会上，人社部对全国人社系统先进集体和先进工作者进行表彰，授予北京市海淀区人社局等100个单位“全国人力资源和社会保障系统先进集体”荣誉，授予北京市人社局工伤保险处处长李红等100名同志“全国人力资源和社会保障系统先进工作者”荣誉，享受省部级先进工作者和劳动模范待遇。据人社部有关负责人介绍，党的十八大以来，全国人社系统紧紧围绕“民生为本、人才优先”工作主线，立足岗位、扎实工作，为保障和改善民生，推动经济社会发展、维护社会和谐稳定作出了积极贡献，涌现出一大批先进集体和先进工作者。为表彰先进，树立典型，人社部决定对全国人社系统先进集体和先进工作者进行表彰。这位负责人要求，全国人社系统各级部门和工作人员都要向受表彰的先进学习，牢固树立以人民为中心的发展思想，积极推进人社事业全面发展，使人民群众的获得感、幸福感、安全感更加充实、更有保障、更可持续。</p></body></html>