<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>901</title>
</head>
<body>
<h1>
今年前11个月检察机关共批捕侵害未成年人犯罪案件嫌疑人3.14万人-新华网
</h1>
<p id="demo"> 2017-12-28 16:23:14</p><p>新华社北京12月28日电（记者白阳）记者28日从最高人民检察院举办的新闻发布会获悉，今年前11个月，全国检察机关共批准逮捕强奸、猥亵、拐卖、故意伤害等侵害未成年人犯罪案件嫌疑人3.14万人，起诉4.24万人，对侵害未成年人权益犯罪的打击更加准确有力。发布会上，最高检公布了未成年人全面综合司法保护十大典型案例，吉林四平幼儿园教师王某、孙某虐童案，浙江宁波赵某某猥亵幼女案，上海黄浦区某学院多名学生校园欺凌案等上榜。最高检未成年人检察工作办公室主任郑新俭表示，今年河南尉氏组织未成年人卖淫案、上海携程亲子园虐童案等重大敏感案件发生后，检察机关第一时间介入侦查活动引导侦查取证，依法及时对犯罪嫌疑人逮捕、起诉；最高检还挂牌督办了10起重大拐卖儿童案件，要求对此类犯罪保持严打高压态势。对侵害未成年人犯罪，检察机关坚持从严从快批准逮捕。对于提请公诉的案件，检察机关依法从严提出量刑建议，对于利用职业便利侵害未成年人的，还建议判处禁止被告人从事密切接触未成年人的职业，加大指控犯罪力度。各地检察机关还强化诉讼监督职能，对一批有案不立、有罪不究和判决确有错误的侵害未成年人犯罪案件进行了抗诉。郑新俭介绍，未成年人受侵害后身心往往受到极大伤害，为此，今年前11个月，各地检察机关联合民政、共青团组织、妇联、医疗等部门，引入专业司法社工和心理咨询师等专业力量，为未成年被害人提供法律援助1.18万人次，司法救助2173人次，心理疏导7304人次，身体康复3334人次，帮助未成年被害人及其家庭渡过难关。江苏、浙江、宁夏、山东等一些地方检察机关还发挥法律监督职能，主动链接各种社会资源，对服刑人员未成年子女、被解救拐卖儿童等困境儿童进行安置救助。</p></body></html>