<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>902</title>
</head>
<body>
<h1>
环保部将启动全国饮用水水源地专项排查-新华网
</h1>
<p id="demo"> 2017-12-28 16:23:14</p><p>新华社北京12月28日电（记者高敬）记者28日从环境保护部获悉，长江经济带饮用水水源地环保执法专项行动即将完成，环保部下一步将启动全国集中式饮用水水源地环保专项排查工作。据环保部有关负责人介绍，截至12月27日，长江经济带沿江11省市126个地级市319个饮用水水源地排查出的490个环境问题，已经整改销号489个。仅剩的一个问题，当地政府表态将于本周内完成整改。近年来，各地在推动消除饮用水环境安全隐患方面取得了积极进展，但当前很多饮用水水源地内仍存在各类环境违法问题。不少地方没有按照法律要求划定水源保护区或设立地理界标和警示标志，甚至一些水源地保护区内依然存在不少排污口、工业污染、农业面源污染等，对群众饮水安全构成潜在威胁。针对这些突出问题，这次专项排查确定了“划、立、治”的工作思路。“划”，即查清饮用水水源地是否划定保护区；“立”，即查清保护区边界是否设立了地理界标和警示标志；“治”，即查明保护区内是否存在排污口等违法建设项目并进行治理。根据安排，明年1月31日前，长江经济带11省市在已完成地级水源地排查整治基础上，要做好县级饮用水水源地的违法问题排查工作；其他省份要完成地级及以上水源地的排查工作。到3月底前，各地都要完成所有县级及以上水源地的排查工作，并建立违法问题清单。</p></body></html>