<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>904</title>
</head>
<body>
<h1>
最高检：对幼儿园虐童案件“绝不手软”-新华网
</h1>
<p id="demo"> 2017-12-28 16:23:56</p><p>新华社北京12月28日电（记者白阳）“检察机关对虐童案件一直高度重视，坚持零容忍依法严厉打击。在办案的过程中，不论是谁，不论犯什么罪，只要触犯了法律，侵害了幼儿园儿童的合法权益，我们就严厉打击，绝不手软。” 28日，最高人民检察院未成年人检察工作办公室主任郑新俭说。郑新俭是在最高检举办的检察机关未成年人全面综合司法保护新闻发布会上作出上述表示的。全国近期发生数起幼儿园虐童事件，引发舆论高度关注。郑新俭表示，这类案件虽然总体数量不多，但社会危害性非常大。从犯罪类型看，主要涉及强奸、猥亵儿童、虐待被监护、看护人等犯罪；从犯罪主体看，既有幼儿园老师，也有保安等工作人员。自2016年1月到今年11月，全国检察机关已经批准逮捕幼儿园工作人员侵害儿童案件69人，提起公诉77人。最高检未成年人检察工作办公室副主任史卫忠介绍，对于社会影响较大的上海携程亲子园等案件，检察机关及时介入侦查活动，就案件侦查取证、法律适用和保护救助未成年被害人等提出建议，目前已经对相关犯罪嫌疑人作出批准逮捕决定。此外，贵州晴隆、河北任丘等地起诉的幼儿园校车超载案、性侵幼儿园儿童案等，人民法院均依法作出了有罪判决，有力打击了侵犯儿童权益的犯罪行为。本月初，最高检下发《关于依法惩治侵害幼儿园儿童犯罪全面维护儿童权益的通知》，要求各地检察机关依法履职，积极参与侵害幼儿园儿童案件的惩治维权预防工作。目前各地正在迅速落实。针对一些幼儿园虐童案件中出现监控视频损坏难以取证等问题，史卫忠表示，检察机关在介入侦查引导取证，加强侦查活动监督，维护司法公正的同时，也会充分考虑到案件证据的特殊性，只要案件事实有证据印证，相关证据都经查证属实，综合全案证据能够排除合理怀疑的，都坚决依法惩处，做到既不冤枉一个好人，也不放过一个坏人。教育部回应幼儿园被指“虐童”事件：已部署开展专项督查教育部回应“虐童”事件：损害幼儿身心健康必须严肃查处新华微评：幼托市场不能“野蛮生长”</p></body></html>