<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>905</title>
</head>
<body>
<h1>
国防部：台湾哪来的什么“国防报告书”？-新华网
</h1>
<p id="demo"> 2017-12-28 16:28:15</p><p>12月28日下午，国防部举行例行记者会，国防部新闻局副局长、国防部新闻发言人任国强大校答记者问。12月28日下午，国防部举行例行记者会，国防部新闻局副局长、国防部新闻发言人任国强大校回答记者提问。李晓伟 摄记者：本月26日，台湾当局防务部门发布了“2017年国防报告书”，这是蔡英文上台后发布的第一本“国防报告书”，其中详细列出了解放军绕台的相关数据，还首度列出了台美军售流程，大肆宣传美台军事合作。请问对此有何评论？任国强：首先我要指出，台湾是中国的一部分，哪里来的什么“国防报告书”？我们坚决反对美台进行任何形式官方往来和联系。我们愿以最大的诚意争取和平统一的前景，但必须正告“台独”势力，我们维护国家主权和领土完整的决心是坚定不移的，任何挟洋自重、“以武拒统”的图谋都是徒劳的。只有坚持“九二共识”，维护两岸关系和平发展，才能确保台海和平稳定。</p></body></html>