<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>907</title>
</head>
<body>
<h1>
国防部：武警部队根本职能属性没有发生变化-新华网
</h1>
<p id="demo"> 2017-12-28 16:31:29</p><p>12月28日下午，国防部举行例行记者会，国防部新闻局副局长、国防部新闻发言人任国强大校答记者问。12月28日下午，国防部举行例行记者会，国防部新闻局副局长、国防部新闻发言人任国强大校回答记者提问，图为例会现场。李晓伟 摄记者：中央军委对武警部队实施集中统一领导，是否意味着武警部队的职责使命发生了一些变化？另外，武警部队这次改革之后，中国的国防政策是否有所改变？任国强：武警部队肩负维护国家安全和社会稳定、保障人民安居乐业的神圣使命，主要承担执勤、处突、反恐怖、抢险救援、防卫作战等任务。这次调整武警部队领导指挥体制的关键和核心，是加强党中央、中央军委对武警部队的集中统一领导。领导指挥体制调整后武警部队的根本职能属性没有发生变化，不列入人民解放军序列。中国始终高举和平、发展、合作、共赢的旗帜，奉行防御性的国防政策也没有发生改变。  中共中央决定调整中国人民武装警察部队领导指挥体制坚决贯彻党中央决策部署，奋力实现强军梦中国梦——军地各级坚决拥护贯彻党中央关于调整武警部队领导指挥体制的决定人民日报评论员：确保党对武警部队绝对领导的重大政治决定</p></body></html>