<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>908</title>
</head>
<body>
<h1>
最高法印发深化庭审实质化改革“三项规程”-新华网
</h1>
<p id="demo"> 2017-12-28 18:48:29</p><p>新华社北京12月28日电（记者丁小溪、罗沙）记者28日从最高人民法院获悉，最高法日前制定印发深化庭审实质化改革的“三项规程”，旨在进一步解决庭审虚化、非法证据排除难、疑罪从无难等问题，提高刑事审判的质量、效率和公信力。最高法有关负责人介绍说，此次印发的《人民法院办理刑事案件庭前会议规程（试行）》《人民法院办理刑事案件排除非法证据规程（试行）》和《人民法院办理刑事案件第一审普通程序法庭调查规程（试行）》进一步明确和细化了庭前会议、非法证据排除、法庭调查等关键环节、关键事项的基本规程，将对刑事审判工作产生深远影响。据悉，庭前会议规程将进一步完善庭前会议程序的要求，确保法庭集中持续审理，提高庭审质量和效率。规程将庭前会议界定为庭审准备程序，人民法院在庭前会议中可以依法处理可能导致庭审中断的程序性事项，组织控辩双方展示证据，归纳控辩双方争议焦点，开展附带民事调解，但不得处理定罪量刑等实体性问题。非法证据排除规程重点针对非法证据排除程序适用中存在的启动难、证明难、认定难、排除难等问题，进一步明确人民法院审查和排除非法证据的具体规则和程序，规范庭前程序和庭审环节对证据合法性争议的处理程序，为司法实践提供了更为明确的指引。法庭调查规程将证据裁判、程序公正、集中审理和诉权保障确立为法庭调查的基本原则，规范开庭讯问、发问程序，落实证人、鉴定人出庭作证制度，完善各类证据的举证、质证、认证规则，确保诉讼证据出示在法庭、案件事实查明在法庭、诉辩意见发表在法庭、裁判结果形成在法庭。“三项规程”将于2018年1月1日起在全国试行。</p></body></html>