<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>909</title>
</head>
<body>
<h1>
人文节目《信中国》２０１８年登陆央视：以书信故事讲述共产党员无悔信仰-新华网
</h1>
<p id="demo"> 2017-12-28 18:23:11</p><p>新华社北京１２月２８日电１２月２７日，中央电视台２０１８年开年巨制、大型人文艺术类节目《信中国》在北京梅地亚中心举办新闻发布会。该节目集中展现从１９２１年建党至今，近百年来共产党员的几十封书信及背后的故事。节目将在２０１８年１月起，在ＣＣＴＶ１、ＣＣＴＶ３晚间黄金档播出。在新闻发布会上，《信中国》的节目预告片打动了在场的许多人。节目联合出品制作方世熙传媒负责人表示，《信中国》致力于发现鲜为人知的中国共产党人的书信，让观众为书信中的情感而感动，为共产党人的人性光芒而震撼，为中国的现在和未来而振奋。节目主要形式为，故事讲述人上场，开启由书信文字组成的“时光隧道”，在情境中讲述书信背后的故事。一位又一位明星嘉宾作为“超级”信使走上舞台，真情流露，震撼发声，把人们带回到一个又一个记忆中的时空。《信中国》集结了李幼斌，唐国强、吴京、徐峥、黄渤、刘涛、陶虹等６０多位著名艺术家和演员。《信中国》是央视著名主持人朱军首次担任独立制作人的节目。朱军表示，这档节目的制作过程是“一次次自我洗礼”的过程，作为电视节目主持人，经常收到观众来信，让他感受到文字与书信的力量，受此启发他决定做这样一档节目，以信为载体，追求真情实感，聚焦时代命题，用真实人物、真实故事打动世道人心。“８个月的策划，４个月的录制，近一年的时间。从选择什么样的书信，到如何呈现每一封信的时空，再到什么人来读，再到作为讲述人如何讲好每一个故事，是个不断重复‘确定、推翻、再确定、再推翻’的过程。”朱军说，通过这些熟悉的共产党员先辈们的文字，感受到他们对信仰的无悔坚持，原来是那么可爱、那么让人愿意去接近。据透露，在节目中，将由黄渤读钱学森的信，唐国强读聂荣臻的信，刘涛读赵一曼的信，通过这些信使的诠释，写信人的形象将更具象、故事更加生动可感。</p></body></html>