<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>911</title>
</head>
<body>
<h1>
54岁保定大叔徒手破冰、河中救人获网友点赞-新华网
</h1>
<p id="demo"> 2017-12-28 18:11:34</p><p>新华社石家庄１２月２８日电（记者 赵鸿宇）２６日早上，河北保定的气温在零下５摄氏度左右。７时５０分，５４岁的市民石磊骑车上班，途经朝阳大街清水河桥头时，忽然发现河中央一位老妇人在冰水中挣扎。他马上把自行车扔到路边，脱下棉衣棉裤冲向河道。石磊回忆，他越过约６米宽的冰面，小心翼翼爬到老人身旁，想用力将其拖到冰面上。但河中心的冰面较薄，他不敢站起来用力，加上老人落水后身子太重，几次尝试都没把老人拖上冰面。这时石磊用拳头连续猛击两公分厚的冰面，试图强行凿开一条“救援通道”。然而正在拖拽时，冰面突然大面积坍塌，石磊也落入一米多深的冰水中。但他毫不放弃，抱住老人继续用力往冰面上拖。这时，市民马红杰找到一块木板，参与到救援中。“我过去后，看到石磊已经在救人，我又处在他身后，当时也没想别的，就开始使劲拽石磊。”马红杰说。由于冰面太薄，木板承受不住两个人的重量，发生了侧翻，两人双双落入刺骨的冰水中。好在两名救人者体力尚好，河水不是太深，另有好心市民递来用以拉拽的管子。几人齐心合力，最终将老人成功救回到岸边。救人上岸后，周围居民拿来棉袄、被褥等，石磊与身边群众也帮老人换好衣服。有附近村民认出了老人，便跑去其家中告知。老人家属赶到后，石磊又和其他人把老人抬回了家。随后，石磊回到自己家中，喝了碗姜汤，冲了个热水澡，换身衣服就去单位上班了。７３岁的被救者翟大妈目前身体并无大碍。她的儿媳赵红改说，老人不小心落水多亏了好心人们搭救，不然后果不堪设想。石磊的儿子石晓伟告诉记者，他和他父亲都是爱心团队——保定爱心摩旅机车俱乐部的一员，经常参加爱心活动，即便抽不出时间也一定会捐款捐物。“我爸是出了名的热心肠，单位同事或邻居都爱找他帮忙；别人遇到困难，他从不袖手旁观。”石晓伟说。石磊救人的短视频，在微信朋友圈和微博中引发网友一致点赞。有网友在微博中评论：“真男人！锤冰那一瞬间帅呆了”。也有网友在某微信公众号上留言：“这是冬日里的‘暖阳’，这是真正善良的人，这是全保定的骄傲，为正能量点赞。”面对赞扬，石磊称，每一个有爱心、有正义感的人遇到这种事都会有所作为，“每一位在现场伸出援手的市民都是英雄，我为保定有这么多的好市民感到骄傲。”</p></body></html>