<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>912</title>
</head>
<body>
<h1>
公安部提示：防范元旦小长假交通安全风险-新华网
</h1>
<p id="demo"> 2017-12-28 21:39:58</p><p>新华社北京12月28日电  公安部交通管理局28日发布交通安全预警，元旦小长假期间私家车酒驾、超速等交通违法肇事风险增大，提示驾驶人员要注意防范元旦小长假交通安全风险。据统计，近三年元旦期间，一次死亡3人以上事故年均发生8起，群死群伤事故易发。从事故发生时间看，小长假首日事故偏多，死亡人数占元旦假期事故死亡总数的36.3%。夜间17至21时事故高发，事故死亡人数占全天总数30.4%。分析事故发生原因，公安部交管局有关负责人表示，未按规定让行、无证驾驶、超速行驶、酒后驾驶、逆行等违法肇事多发。主要是因为节日聚餐聚会等活动增多，酒驾肇事风险大。短途自驾旅游探亲增多，私家车肇事风险加大。同时大雾天气多发易发，早晚时间不利影响大。公安部交管局提示，元旦期间，探亲访友、聚餐聚会、集会庆祝等活动增多，要牢记喝酒莫开车、开车莫喝酒、有酒莫劝驾驶人，切勿酒驾、醉驾。自驾车短途出行，应做好充足准备，提前掌握车况、路况、天气情况，避免夜间行车，不要超员载客、超速行驶、疲劳驾驶。乘坐客运车辆出行，要到客运站选择正规运营车辆，坚决抵制非法营运客车、超员客车。</p></body></html>