<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>915</title>
</head>
<body>
<h1>
河北廊坊：所有乡镇空气质量监测全覆盖明年将开展排名考核-新华网
</h1>
<p id="demo"> 2017-12-28 19:21:26</p><p>新华社石家庄１２月２８日电（记者齐雷杰）记者２８日从河北省廊坊市政府获悉，廊坊市今年１２月初在全市９０个乡镇全部建立了空气质量自动监测站。这些监测站与国家、省、市空气质量自动监测站和全市３０００多家企业在线监控、５０００多个传感器监控设备联网运行，形成了覆盖全市域的联防联控在线监测治理体系，实现了所有乡镇空气质量实时发布，明年１月１日起将在全国率先开展乡镇环境空气质量排名考核。毗邻京津的廊坊市是京津冀大气污染防治“１＋２”核心城市之一，也是首都重要生态屏障。为落实科学治霾、协同治霾、铁腕治霾要求，１２月初，全市９０个乡镇全部建立了空气质量自动监测站。近日，廊坊市发布了《廊坊市２０１８年乡镇环境空气质量排名及考核办法》，将于２０１８年１月１日起施行，在全国率先实现乡镇环境空气质量的排名和考核，把环境监测向全市域扩展，使治霾责任和压力有效向基层传导压实。如今，登录“廊坊市环境空气质量（乡镇站）实时自动发布系统”，全市所有乡镇站点ＰＭ２．５、二氧化硫的实时浓度值、实时数据排名以及浓度值日排名等情况即可一目了然。按照要求，廊坊市各县（市、区）将制定本辖区乡镇空气质量考核奖惩办法，因工作不力导致乡镇空气质量排名长期靠后的，将严肃问责。</p></body></html>