<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>916</title>
</head>
<body>
<h1>
电网公司：用电火灾高发期要确保用电设备等安全合规-新华网
</h1>
<p id="demo"> 2017-12-28 19:21:26</p><p>新华社西安12月28日电（记者刘彤）国家电网西安供电公司提醒公众：冬季是用电火灾高发期，用户应重点检查空调、电暖气等取暖家电的用电线路、插座、漏电开关等设备是否安全合规；同时，应检查导线接点是否牢固，绝缘导线的绝缘层是否老化，保障用电安全。国家电网西安供电公司新闻发言人禄镇威说，12月13日，西安电网迎来入冬以来首轮高峰，电网最大负荷达578.09万千瓦，日最大供电量达到1.11亿千瓦时。西安电网今冬用电负荷不断增长。与此同时，由于个别用电客户安全意识淡薄，在采暖中使用超大功率电器、不合理加大用电负荷、采暖电器存在安全隐患等，电路报修案件呈多发态势，不仅影响其他客户用电，也为线路正常运行带来安全隐患。禄镇威说，保障电网稳定运行，不仅供电部门需要强化用电安全管理，更需要每个用户作出贡献，特别是学校、医院、酒店、商场、大型居民小区等用电大户，更需要注意用电安全。</p></body></html>