<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>917</title>
</head>
<body>
<h1>
军民融合加速守护网络安全-新华网
</h1>
<p id="demo"> 2017-12-28 19:21:26</p><p>新华社北京12月28日电（记者郭宇靖）28日，中国工程物理研究院与360企业安全集团在京正式签署战略合作协议，双方将在信息安全研发与研究、安全服务、人才培养等方面展开多层次合作，促进网络空间领域军民深度融合。中国工程物理研究院以发展国防尖端科学技术为主，是集理论、实验、设计、生产为一体的综合性研究院。中国工程物理研究院院长刘仓理表示，信息安全已经成为信息化和智能化发展的底线和红线，双方会以应用需求为牵引，瞄准技术前沿，在信息安全技术与服务、人才培养等多方面开展深入合作，共同推动信息安全的发展。360企业安全集团是一家提供网络安全技术、产品和服务的网络安全龙头企业。360企业安全集团董事长齐向东表示，希望通过此次全面合作，更好地提升国家网络信息安全水平，推动国家军民融合有效落实。</p></body></html>