<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>918</title>
</head>
<body>
<h1>
中央环保督察实现全覆盖 问责人数超1.8万-新华网
</h1>
<p id="demo"> 2017-12-28 19:21:26</p><p>图表：中央环保督察实现全覆盖 问责人数超1.8万 新华社发 大巢制图新华社北京12月28日电（记者高敬）国家环境保护督察办公室副主任刘长根28日介绍，经过两年努力，我国已经完成了对31个省区市的中央环保督察全覆盖，解决了一大批生态环境问题，问责党政领导干部超过1.8万人。在环保部当天举行的例行新闻发布会上，刘长根表示，第一轮督察共受理群众信访举报13.5万余件，累计立案处罚2.9万家，罚款约14.3亿元；立案侦查1518件，拘留1527人；约谈党政领导干部18448人，问责18199人。他说，督察直接推动解决8万余个群众身边环境问题，涉及垃圾、恶臭、油烟、噪声、黑臭水体、“散乱污”企业污染等。同时，地方借势借力，还推动解决了一批多年来想解决而没有解决的环保“老大难”问题，纳入整改方案的1532项突出环境问题近半已得到解决。新疆卡拉麦里山等自然保护区环境问题基本整改到位；内蒙古呼伦湖湿地面积明显扩大；湖北基本完成湖泊违规养殖的清退工作；云南九大高原湖泊以及湖南洞庭湖、江西鄱阳湖治理进度明显加快；安徽全面叫停侵占巢湖滨湖湿地等行为。除边督边改过程中已问责的1.8万余人，第一轮督察还累计向地方移交了387个生态环境损害责任追究问题案卷。目前河北省督察试点和第一批督察移交案卷已完成问责工作，并向社会公开；第二批督察移交案卷问责工作已基本完成；第三批移交案卷问责工作已经开始。这意味着，问责人数还将进一步上升。刘长根表示，2018年拟对第一轮督察开展“回头看”，紧盯问题、压实责任，确保整改到位；适时组织对影响群众生产生活的突出环境问题开展专项督察。同时，下一步要配合有关部门积极探索推进督察体制建设，完善中央和省级环境保护督察体系。</p></body></html>