<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>920</title>
</head>
<body>
<h1>
肖捷：全年我国企业减负规模将超过1万亿元-新华网
</h1>
<p id="demo"> 2017-12-28 22:02:04</p><p>新华社北京12月28日电（记者申铖、郁琼源）财政部部长肖捷在27日至28日举行的全国财政工作会议上表示，今年以来，各级财政部门有效实施积极的财政政策，着力降低企业税费负担，全年为企业减负将超过1万亿元。“落实并完善营改增试点政策，出台简并增值税税率等措施，进一步清理规范政府性基金和涉企收费，今年以来，多项为企业减负的举措落地。”肖捷表示。会议提出，过去五年间，营改增累计减税近2万亿元；不断扩展小型微利企业所得税优惠政策范围；实施加大企业研发费用税前加计扣除力度等政策；取消、免征、停征和减征的政府性基金和行政事业性收费达1368项，涉及减收金额3690亿元。日前召开的中央经济工作会议，对深化供给侧结构性改革进行了部署，提出深化要素市场化配置改革，重点在“破”“立”“降”上下功夫。对此，会议明确，明年积极的财政政策要聚力增效，继续实施减税降费政策，进一步减轻企业负担。同时，健全收费基金项目动态管理机制和乱收费投诉举报查处机制，防止收费项目反弹。此外，多项促进创业创新和小微企业发展的举措也将出台。2018年，将进一步落实创新驱动发展战略，促进创业投资持续健康发展。完善对中小微企业的税收优惠政策，继续清理规范涉企收费。深入开展小微企业创业创新基地城市示范，增强“双创”服务支撑能力。设立国家融资担保基金，完善普惠金融发展专项资金政策，优化小微企业、“三农”主体融资环境。</p></body></html>