<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>921</title>
</head>
<body>
<h1>
环保部：“大气十条”的目标能够实现-新华网
</h1>
<p id="demo"> 2017-12-28 22:02:04</p><p>新华社北京12月28日电（记者高敬）“大气十条”收官在即，能不能实现既定目标，成为人们关注的焦点。环境保护部新闻发言人刘友宾28日表示，经专家分析认为，“大气十条”提出的空气质量改善目标能够实现。2013年，国务院印发《大气污染防治行动计划》，即“大气十条”，提出到2017年，全国地级及以上城市可吸入颗粒物即PM10浓度比2012年下降10%以上；京津冀、长三角、珠三角等区域细颗粒物即PM2.5浓度分别下降25%、20%、15%左右，其中北京市PM2.5年均浓度控制在60微克/立方米左右。在环保部当天举行的例行新闻发布会上，刘友宾介绍，今年1至11月，全国PM10浓度比2013年同期下降21.5%，京津冀、长三角、珠三角PM2.5浓度分别下降38.2%、31.7%、25.6%，北京市PM2.5浓度接近60微克/立方米。他提出，大气污染防治形势依然严峻，部分地区、部分时段环境空气质量超标问题突出；大气污染治理的区域进展不平衡，部分省份相对滞后；以煤为主的能源结构、以重化工为主的产业结构、以公路货物为主的运输结构尚未转变，污染物排放量大。刘友宾表示，京津冀及周边地区要继续落实秋冬季大气污染综合治理攻坚行动。有关部门将委托中国工程院对“大气十条”实施情况进行终期评估，总结经验，找准不足，提出对策。同时，要开展大气污染防治行动第二阶段指导性文件研究工作，明确打赢蓝天保卫战的时间表和路线图。</p></body></html>