<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>922</title>
</head>
<body>
<h1>
国家中医药管理局：2016年中国公民中医药健康文化素养显著提高-新华网
</h1>
<p id="demo"> 2017-12-28 22:03:11</p><p>新华社北京12月28日电（记者张泉、陈聪）国家中医药管理局28日发布了2016年中医药健康文化素养调查结果。2016年，全国中医药健康文化知识普及率、中国公民中医药健康文化素养均较2014年显著提高。调查显示，2016年，中医药健康文化普及率达91.86%，相比2014年84.02%的普及率显著提升。中医药健康文化知识阅读率、信任率分别达到89.70%、89.30%，而行动率则相对较低，为52.83%，行动率指标反映了公众将所学中医药知识应用于日常生活的情况。国家中医药管理局办公室主任查德忠表示，公众很大程度上实现了中医药健康文化知识由“知”到“信”的转化，但由“信”到“行”之间的行动壁垒需要进一步打破。2016年，中国公民中医药健康文化素养水平为12.85%，即每100个15━69岁的人群中，超过12人具备基本的中医药健康文化素养。调查从五个维度对中国公民中医药健康文化素养水平进行了衡量，其中“中医药公众适宜方法素养水平”显著低于其他四个维度，显示出公众对中医药健康文化知识的需求已经从掌握中医药知识理论变为了解应用中医药适宜方法。查德忠表示，国家中医药管理局将加大重点地区、重点场所、重点人群的中医药健康文化普及工作力度，突出中医药适宜方法技能及运用相关知识的普及，继续推动公众实现中医药健康文化知识由“信”到“行”的转化。</p></body></html>