<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>924</title>
</head>
<body>
<h1>
王晨强调倡导创新文化强化著作权的创造保护运用-新华网
</h1>
<p id="demo"> 2017-12-28 23:11:41</p><p>新华社北京12月28日电（记者史竞男）全国人大教科文卫委员会28日在京召开会议，听取关于研究处理著作权法执法检查报告和相关审议意见情况汇报。中共中央政治局委员、全国人大常委会副委员长王晨出席会议并讲话。他强调，完善知识产权保护制度，依法保护著作权，是实施创新驱动发展战略和推动社会主义文化繁荣兴盛的迫切需要，是贯彻新发展理念、建设现代化经济体系的重要任务。要深入学习贯彻党的十九大精神，以习近平新时代中国特色社会主义思想为指引，以更加有力的举措推动著作权法全面深入实施。王晨指出，著作权是创新成果向现实生产力转化的重要桥梁和纽带。通过检查发现，著作权工作近年来取得明显成效，但与经济发展的融合还不够紧密，著作权的转移转化渠道还不够顺畅。要按照党的十九大战略部署，倡导创新文化，强化著作权的创造、保护、运用，充分发挥著作权法激励创新、保护创新的功能，促进科技创新和作品的创作生产。要严格执法、公正司法，进一步加大著作权保护力度。要积极探索促进著作权有效运用的新模式新途径，切实让著作权用起来、“活”起来，努力使之转化为现实生产力，为建成创新型国家和社会主义文化强国提供更加有力的保障。全国人大常委会副委员长陈竺出席会议。</p></body></html>