<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>926</title>
</head>
<body>
<h1>
我国科技企业孵化器已从“器”之形到“业”之态-新华网
</h1>
<p id="demo"> 2017-12-28 19:21:26</p><p>新华社广州12月28日电（记者魏蒙）在28日启动的广东省江门市小微企业创业创新周活动启动仪式上，科技部创新发展司副司长余健说，今年是我国科技企业孵化器走过的第30年。30年来，中国科技企业孵化器开拓进取，继往开来，从无到有、从小到大、从“器”之形到“业”之态，走出了一条独具特色的中国创业孵化之路。余健说，经过30年的发展，科技创业孵化体系日趋完善，创新创业服务更加细分，要素更加集成融合，生态更加开放融通，政策更加精准有效。余健披露，截至2016年底，全国纳入科技部火炬统计范围的众创空间4298家，孵化器3255家，加速器超过400家，服务科技型创业企业和创业团队近40万个，带动就业超过200万人，拥有有效知识产权22.3万项，累计培育海内外上市高科技企业240余家，实现创新、创业、就业的有机结合和良性循环。“科技企业孵化器和专业化众创空间，已经成为培育高水平创新创业人才的核心载体，成为培育发展战略性新兴产业的创新源头，成为促进区域经济发展、加快科技成果转移转化的重要抓手。”余健说。</p></body></html>