<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>927</title>
</head>
<body>
<h1>
北京进入流感高发季 总体处于正常波动范围-新华网
</h1>
<p id="demo"> 2017-12-28 19:21:26</p><p>新华社北京12月28日电（侠克）北京市疾病预防控制中心28日召开发布会称，北京地区目前已进入流感等呼吸道传染病高发季。流感病毒检测阳性率已达往年高峰水平，且仍呈上升趋势，但总体处于正常波动范围内。专家建议儿童、老人及患有慢性基础病等人群应着重做好防护措施。北京市疾控中心副主任庞星火说：“目前北京市已进入季节性流感等呼吸道传染病高发季。”监测结果统计，近期北京流感病毒活动程度仍然持续上升，其中以乙型流感病毒为主，甲型H3N2和甲型H1N1流感病毒共同流行。2017年12月18日至24日，北京市144家二级及以上医疗机构累计监测的门急诊流感样病例占比达3%，高于前一周的2.35%，也高于去年同期的1.54%。截至目前，监测系统未发现影响流感病毒传播力、疾病严重性和耐药性的变异，流感流行水平总体仍在预期范围内。此外，自今年12月以来，医疗机构报告的儿童病例数上升幅度较为明显，其中疫情大部分出现在小学一、二年级和托幼机构。“流感对儿童、老年人及患有慢性基础病等人群产生的危害更大。”庞星火表示，预计在今后一段时期内，全市流感病毒活动水平仍将继续增强，由流感病毒导致的中小学校及托幼机构等集体单位集中发热的疫情或将进一步增多。针对当前形势，北京市疾控中心提醒学校和托幼机构严格落实防控措施，加强各项传染病防控工作。建议中小学校及托幼机构严格坚持晨午检制度和因病缺勤监测，及时发现发热病例并进行隔离、治疗。若出现集中发热疫情，须及时报告辖区疾控中心和相关行政部门。同时，教育机构也做好预防流感知识的宣教工作、环境和教学用具的清洁工作，并适当开窗通风。</p></body></html>