<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>929</title>
</head>
<body>
<h1>
武汉首开至景德镇、婺源、黄山等地动车-新华网
</h1>
<p id="demo"> 2017-12-28 19:21:26</p><p>新华社武汉１２月２８日电（记者王贤）随着九（江）景（德镇）衢（州）等新线的开通运营，中国铁路武汉局集团有限公司２８日起调整优化客货运列车运行线路和停靠车站，新增开２４趟客运列车，其中首开８趟武汉至婺源、景德镇、黄山等方向的动车，２小时至４个小时左右即可到达上述城市，旅行时间大大缩短。中国铁路武汉局集团有限公司相关负责人介绍，此次增开的２４趟客车包括武汉至景德镇北Ｄ３２８１／４次等１６趟长途列车，以及武汉至黄冈东Ｃ５６２７／８次等８趟中短途列车。武汉铁路部门将武汉至深圳北Ｇ７７／８次等３２趟长途客运列车，黄冈东（武汉）至襄阳Ｄ５２２８／９次等１２趟列车运行距离延伸或调整到站，汉宜铁路运能提升。利用武九客专增加的长途列车疏导武汉至黄石、阳新间客流，将短途列车车辆调整到其他繁忙线路开行等，均衡调整各条线路、车站运力，为旅客出行带来更多便利。此外，武汉铁路部门还优化调整３０趟至上海、宁波等地的列车运行线路，大幅压缩列车旅行时间。其中武昌至上海南Ｚ２５／８、Ｚ２７／６次，武昌至宁波Ｚ３１／４／１、Ｚ３２／３／２次，武昌至杭州Ｚ４５／８、Ｚ４７／６次６趟直达列车运行时间平均压缩１小时左右；信阳（平顶山）至上海南Ｋ７５２／３／２、Ｋ７５１／４／１次２趟快速列车往返分别压缩了２小时５７分和５小时１１分。据了解，武汉铁路货物列车同步调整，共开行特快、快速、普快三个类别的长途货物班列（大宗直达货物列车除外）９５列。其中，特快货物班列２列、快速班列６０列、普快班列３３列，并压缩货运班列“最先、最后一公里”时间，不断提高货物班列运输效率。</p></body></html>