<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>936</title>
</head>
<body>
<h1>
国务院办公厅印发《关于推进公共资源配置领域政府信息公开的意见》-新华网
</h1>
<p id="demo"> 2017-12-28 17:02:04</p><p>新华社北京12月28日电 日前，国务院办公厅印发《关于推进公共资源配置领域政府信息公开的意见》（以下简称《意见》），对公共资源配置领域政府信息公开工作作出部署。《意见》指出，要全面贯彻党的十九大精神，坚持以习近平新时代中国特色社会主义思想为指导，不断推进国家治理体系和治理能力现代化，推进公共资源配置决策、执行、管理、服务、结果公开，扩大公众监督，增强公开实效，努力实现公共资源配置全流程透明化，不断提高公共资源使用效益，维护企业和群众合法权益，为稳增长、促改革、调结构、惠民生、防风险作出贡献，促进经济社会持续健康发展。《意见》明确，要以保障性安居工程建设、保障性住房分配、国有土地使用权和矿业权出让、政府采购、国有产权交易、工程建设项目招标投标等为重点，推进公共资源配置领域政府信息公开。各地区、各部门要根据区域、行业特点，进一步明确本地区、本行业公共资源配置信息公开范围，细化公开事项、内容、时限、方式、责任主体、监督渠道等，纳入主动公开目录清单。《意见》要求，按照“谁批准、谁公开，谁实施、谁公开，谁制作、谁公开”的原则，明确公开责任主体。探索建立公共资源配置“黑名单”制度，逐步将骗取公共资源等不良行为的信息纳入“黑名单”并予以公开。《意见》提出，要拓宽信息公开渠道，通过政府网站、政务微博微信、新闻媒体、政务客户端等及时发布公共资源配置领域各类信息。构建以全国公共资源交易平台为枢纽的公共资源交易数据共享平台体系，推动实现公共资源配置全流程透明化，并实现公共资源配置信息与其他政务信息资源共享衔接。强化公开时效，确定为主动公开的信息，除法律法规另有规定外，要严格按照法定时限予以公开。对于政府信息公开申请，要严格按照法定时限和理由予以答复。《意见》强调，要强化组织领导，建立健全协调机制，明确分工，夯实责任；要加强监督检查，做好考核评估，切实把公共资源配置领域政府信息公开各项任务落到实处。</p></body></html>