<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>937</title>
</head>
<body>
<h1>
军委纪委持之以恒正风肃纪 部署开展“四风”隐形变异问题专项检查-新华网
</h1>
<p id="demo"> 2017-12-28 18:17:12</p><p>新华社北京12月28日电   为深入学习贯彻党的十九大精神，坚决贯彻落实习主席和军委正风反腐重要决策部署，特别是习主席关于进一步纠正“四风”、加强作风建设重要批示精神，强化执纪监督，聚力刹风肃纪，持续保持高压严治态势，近日，军委纪委对元旦、春节期间开展“四风”隐形变异问题专项检查工作作出部署。军委纪委要求，各级纪检监察机关深刻领会全面从严治党、全面从严治军的政治要求，把开展专项检查作为持之以恒正风肃纪的实际举措，层层部署落实，层层压实责任；紧盯“四风”新表现新变种，改进方法手段，综合运用普遍检查、对表排查、定向核查等方式，精准发力、严查实纠；认真执行《关于深入贯彻党的十九大精神以严格执纪执法推动全面从严治党和依法治军落实的通知》，严格纲纪要求、严肃执纪问责，对“四风”隐形变异问题，发现即查、露头就打，问题突出的，严肃追究相关单位党委、纪委和领导干部的责任。元旦春节期间，军委纪委将派出由相关局（办）和派驻纪检组领导带队的4个工作组，分赴各战区方向进行检查。为畅通监督渠道，军委纪委设立元旦春节期间“四风”问题监督举报电话：010－66791234；手机：15311021234，15311031234，受理反映军队单位和人员的问题线索。</p></body></html>