<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>938</title>
</head>
<body>
<h1>
国家宗教局：中华基督教青年会、中华基督教女青年会要努力提高社会服务水平-新华网
</h1>
<p id="demo"> 2017-12-28 21:36:16</p><p>新华社北京12月28日电（记者荣启涵）国家宗教事务局局长王作安28日表示，中华基督教青年会、中华基督教女青年会要始终坚持正确政治方向，努力提高社会服务水平，担当民间外交友好使者，进一步加强自身建设，按照职能定位积极作为、奋发有为。王作安是在28日举行的中华基督教青年会、中华基督教女青年会代表会议开幕式上作如上表述的。此次会议有来自北京、天津、上海、广州等10个城市青年会、女青年会和全国协会共130余名代表出席。王作安指出，近年来，中华基督教青年会、中华基督教女青年会全国协会高举爱国主义旗帜，适应时代发展进步要求，践行社会主义核心价值观，遵循“服务社会、造福人群”的宗旨，履行“社会服务、对外交流、自身建设”三大职能，各项工作取得显著成绩。据介绍，此次会议将审议通过中华基督教青年会全国协会、中华基督教女青年会全国协会第一届理事会工作报告；审议通过青年会、女青年会全国协会章程（修正案）；选举产生中华基督教青年会全国协会、中华基督教女青年会全国协会第二届理事会；理事会选举产生全国协会会长、副会长，聘任总干事。中央统战部、国家宗教事务局、全国妇女联合会、全国青年联合会相关负责人应邀出席开幕会。中国基督教三自爱国运动委员会主席傅先伟代表中国基督教三自爱国运动委员会和中国基督教协会致辞。2009年11月，国家宗教局成为中华基督教青年会全国协会、中华基督教女青年会全国协会的业务主管单位。新中国成立后首次中华基督教青年会、中华基督教女青年会代表会议于2012年召开。</p></body></html>