<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>939</title>
</head>
<body>
<h1>
“中国好医生、中国好护士”月度人物揭晓-新华网
</h1>
<p id="demo"> 2017-12-28 21:36:16</p><p>新华社哈尔滨12月28日电中央文明办、国家卫生计生委28日在黑龙江哈尔滨举办全国道德模范与身边好人“中国好医生、中国好护士”现场交流活动，并发布11月和12月的月度人物。勇于创新攻克多项冠心病难题的院士葛均波、30年坚守急诊科一线的医生詹红、长年驻守麻风村的护士刘大飞、探索医养结合新模式的护士赵庆华、以“医者父母心”赢得患者信任的医生光雪峰、在世界屋脊护佑孕产妇和新生儿生命的“好门巴”次仁巴珍、25年坚守在洪湖中心一条小船上给渔民看病的乡村医生谢爱娥等22名优秀个人、2支优秀团队上榜。医精诚，德昭彰，传国医，远流长……在活动现场，国医大师张琪、B超“神探”贾立群，以及最美援外医疗队代表等与观众进行了互动交流，他们奋战在生死一线的经历、真挚淳朴的话语、感人至深的故事，让全场观众热泪盈眶。乡村医生王珏的家人和患者也应邀来到活动现场，讲述王医生坚持15年捐款行善的点滴故事，“兰小草”再次深深打动无数网友。</p></body></html>