<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>94</title>
</head>
<body>
<h1>
《习近平谈治国理政》第一卷中、英文版电子书上线-新华网
</h1>
<p id="demo"> 2018-07-06 11:35:11</p><p>新华社北京7月6日电（记者史竞男）为了向国际社会全面、深入介绍习近平新时代中国特色社会主义思想，由外文出版社出版的《习近平谈治国理政》第一卷中、英文版电子书于7月6日在亚马逊、Overdrive、易阅通、掌阅四家数字交易平台上线，面向全球发布。2014年9月出版的《习近平谈治国理政》，2018年1月由中共中央宣传部会同有关部门和单位修订再版，改称《习近平谈治国理政》第一卷。《习近平谈治国理政》第一卷与2017年11月出版的《习近平谈治国理政》第二卷是有机统一的整体，生动记录了以习近平同志为核心的党中央团结带领全党全国各族人民在新时代坚持和发展中国特色社会主义的伟大实践，是国内外读者学习掌握习近平新时代中国特色社会主义思想和党的十九大精神的权威读本。《习近平谈治国理政》第一卷中、英文版电子书与纸质版图书内容一致。此次电子书上线覆盖全球网络读者，有助于国际社会更加快速、便捷地了解习近平新时代中国特色社会主义思想的发展脉络和主要内容，更好了解中国共产党为推动构建人类命运共同体、促进人类和平与发展崇高事业贡献的中国智慧和中国方案。</p></body></html>