<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>940</title>
</head>
<body>
<h1>
新注册奶粉２０１８年起全面上市 ９４０个配方已获批-新华网
</h1>
<p id="demo"> 2017-12-29 12:37:39</p><p>新华社北京１２月２９日电（记者 毛振华 陈聪）被称为“史上最严奶粉新政”已顺利实施，从２０１８年１月１日起新注册奶粉将全面上市。国家食药监总局相关负责人日前在北京表示，截至目前，已有９４０个配方获批准。接下来将加快审批进度，力争２０１８年上半年基本完成申请配方的注册，努力为消费者提供放心、高质量的乳制品。国家食药监总局特殊食品注册管理司副司长马福祥介绍，截至２０１７年１２月２７日，总局共受理婴幼儿配方乳粉产品配方申请１３３０个，９４０个获准注册，涉及企业１２８家，这包含了９３家境内企业的７３７个配方以及３５家境外企业的２０３个配方。“从注册结果看，基本保证了市场的正常供应及企业正常生产，实现平稳过渡。”马福祥表示，在注册制推出前存在两方面的突出问题，一方面是产品配方过多，制定随意，更换频繁，造成消费者选择困难；另一方面是标签、广告混乱，存在夸大宣传，容易误导消费者，注册制推出后这些状况均有望得到改善。对于顺利实施的奶粉注册制，澳优乳业股份有限公司执行董事吴少虹表示，国家实行配方注册制出发点是为了保护消费者的权益以及便于严格监管，同时提高企业的竞争门槛，倒逼企业提升自身实力，对于消费者和企业来讲是双赢的结果。“从２０１８年１月１日起，凡是没有取得注册的生产企业就不能再继续生产，直到重新注册完成。”马福祥表示，２０１８年将继续推进注册制度的实施，加快审批进度，力争明年上半年基本完成申请产品的注册。在配方审查中，国家食药监总局将坚持三个原则，对配方要求的营养素一个不能少，可选择添加的必须明示，不应使用的坚决禁止。</p></body></html>