<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>95</title>
</head>
<body>
<h1>
《习近平新闻思想讲义（2018年版）》出版发行-新华网
</h1>
<p id="demo"> 2018-06-14 10:59:26</p><p>新华社北京6月14日电 中共中央宣传部组织编写的《习近平新闻思想讲义（2018年版）》一书由人民出版社、学习出版社出版，即日起在全国各地新华书店发行。习近平新闻思想是习近平新时代中国特色社会主义思想的重要组成部分。党的十八大以来，习近平总书记对加强和改进党的新闻舆论工作提出一系列富有创见的新观点新论断新要求，科学回答党的新闻舆论工作长远发展一系列根本性、战略性、全局性重大问题，深刻论述党的新闻舆论工作历史方位、职责使命、方针原则等重大课题，形成了体系完整、科学系统的新闻思想。习近平新闻思想与我们党长期形成的新闻思想一脉相承又与时俱进，丰富和发展了马克思主义新闻理论，是做好新时代党的新闻舆论工作的科学指南、根本遵循。《习近平新闻思想讲义（2018年版）》对习近平新闻思想进行了全面深入阐释，具有很强的政治性、权威性、针对性、实用性，是新闻战线深入学习领会习近平新闻思想的重要辅导读物。</p></body></html>