<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>953</title>
</head>
<body>
<h1>
300万黑杨种了砍，“折腾”洞庭湖责任谁担？-新华网
</h1>
<p id="demo"> 2018-01-03 07:30:33</p><p>300万黑杨种了砍，“折腾”洞庭湖责任谁担？一家之言对某些靠破坏环境升迁的官员，如果既往不咎，如何能震慑那些试图伸向湿地的野蛮之手？近300万根欧美黑杨倒下了。2017年12月31日，这是中央环保督察要求湖南全部清理洞庭湖湿地9万多亩欧美黑杨的“大限”。根据《经济参考报》记者对洞庭湖区一线砍伐现场的了解，以及湖南省环保厅提供的最新统计数据，洞庭湖核心保护区欧美黑杨已经提前全部砍伐。黑杨是制浆造纸原料中的优质材种，经济效益巨大。但成片成片种植的黑杨林，却给洞庭湖保护区带来一场生态浩劫：它们像巨大的“湿地抽水机”，让洲滩湿地加速旱化；它们的密集树冠霸占了光照养分，让周边植物陷入灭顶之灾；它们还破坏鱼类繁育场和鸟类栖息，洪水季节还阻碍行洪，影响防汛。就是这样一种生态杀手，当年却成为地方政府的香饽饽，洞庭湖周边各县市几乎都制定了详细的欧美黑杨发展规划，采取“政府出资奖励”“典型引路”等方式大力推广。如果有乡镇干部“种树不力”，还会被问责。其间，虽不断有专家和业内人士提出了异议，“杨癫疯”依然愈演愈烈。在中央环保督察组的干预下，洞庭湖黑杨林终于被消灭。但是从疯狂种树到全部砍掉，这一番折腾可谓劳民伤财，也让洞庭湖生态遭受破坏。物种基因丰富的洞庭湖湿地，被誉为长江之肾。如此重要的生态区域，竟被随意折腾。不仅业内人士的异议挡不住逐利的蛮横之手，媒体的屡屡曝光同样无济于事。早在2003年，新华社记者针对黑杨林就发出预警报道“警惕良田种树风”，但丝毫挡不住黑杨林向洞庭湖深处大规模“进军”。近几十年来，任意侵占湿地，野蛮开发，在各地非常普遍。一些地方官员之所以会肆无忌惮，不仅在于湿地保护的执法力量薄弱，还来自于追责的不到位。虽然领导干部环境“离任审计”和“终身追究”制度早已明确，但是目前，却罕有地方主政官员因为湿地破坏而遭到追责的个案。对某些靠破坏环境升迁的官员，如果既往不咎，如何能震慑那些试图伸向湿地的野蛮之手？洞庭湖疯狂种树事件，不能止于全部砍掉。要想避免湿地再次成为野蛮开发的牺牲品，法律的完善和事后的问责，一个都不能少。□于平(环境研究者)</p></body></html>