<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>955</title>
</head>
<body>
<h1>
江苏贵州严肃问责地方债违规违法-新华网
</h1>
<p id="demo"> 2018-01-03 07:35:14</p><p>财政部近日发布通报，向社会公布了江苏省、贵州省严肃问责处理部分市县违法违规举债担保问题的情况。2015—2016年，江苏省常州市金坛区，南通市通州区、海安经济技术开发区，淮安市淮阴区、洪泽县，盐城市响水县、阜宁县、建湖县，扬州市江都经济技术开发区、高邮市，镇江市镇江新区、扬中市、句容市，泰州市泰州港核心港区，宿迁市泗阳县等8个设区市的15个县（市、区）共32个项目，涉及地方政府及其所属部门通过信托或资产管理计划等方式违法违规举债担保问题。江苏省政府根据经核实的违法违规举债担保事实、整改结果、造成影响、相关人员责任等情况，对负有直接责任的主管人员和其他直接责任人员共计57人给予了不同程度的处分。其中：给予时任泗阳县副县长、城南新城党工委书记李某，时任洪泽县副县长王某，时任通州区财政局局长张某，时任淮阴区财政局局长万某，时任国宇实业有限公司法人代表、泗阳县财政局信息中心副主任骆某5人行政开除处分；给予时任淮安园兴投资有限公司董事长徐某、洪泽县城市资产经营有限公司副总经理陈某2人行政撤职处分；分别给予50人行政降级、记大过、记过、警告、诫勉谈话、提醒谈话等处分。截至目前，上述违法违规举债担保问题已经全部纠正。在贵州，黔东南苗族侗族自治州的镇远县和凯里市、铜仁市碧江区、遵义市汇川区、黔西南布依族苗族自治州兴义市等因违法违规举债担保等问题被点名，14人依法依规受到相应处理。“对地方债违规违法问题，发现一起查处一起，绝不姑息纵容。”财政部有关负责人表示，将督促地方强化限额管理和预算管理，加快存量政府债务置换步伐，坚持“堵后门、开前门”。同时，督促地方落实主体责任，加大问责追责和查处力度，完善政绩考核体系，做到终身问责，倒查责任。 （记者吴秋余）</p></body></html>