<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>96</title>
</head>
<body>
<h1>
皖鄂川387位县级人大常委会主任进京参加培训-新华网
</h1>
<p id="demo"> 2018-06-14 20:54:38</p><p>新华社北京6月14日电 2018年第二期全国县级人大常委会主任学习班14日在京结束，来自安徽、湖北、四川3省的387位县级人大常委会主任参加为期3天的培训。十三届全国人大常委会把加强学习摆在人大工作突出位置，在加强自身学习、提高履职能力的同时，确定了今年内完成新一轮对全国省、市、县三级人大常委会负责同志集中培训的任务。在本期学习班上，全国人大常委会有关负责同志紧紧围绕深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神，就健全人民当家作主制度体系、地方组织法和地方人大工作若干问题、做好人大预算审查监督工作、加强改进人大监督工作、更好发挥人大代表作用等专题作了讲座。全国人大常委会秘书长杨振武在开班式上表示，希望县级人大及其常委会的同志们进一步增强责任感使命感，始终坚持人大工作的正确政治方向，全面担负起宪法法律赋予的各项职责，畅通联系人民群众渠道，扩大人民有序政治参与，为长期坚持、不断完善人民代表大会制度作出新的更大贡献。</p></body></html>