<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>961</title>
</head>
<body>
<h1>
纠正算法推荐既要听其言，更要观其行沈慎-新华网
</h1>
<p id="demo"> 2018-01-03 14:21:59</p><p>近日，针对传播低俗信息和低质内容等问题，今日头条发布《集中清理违规账号的情况通报》，关闭社会频道、将新时代频道设置为默认频道，同时封禁、禁言账号1千多个。“为守护健康的网络空间点赞”“早就盼着整改的这一天了”……网友的热议折射出对网信部门治理新兴媒介平台乱象的信任和期待。第一时间回应网友呼声，并推出相应整改措施，今日头条知错就改的态度值得肯定。同时也要看到，封禁一些账号能够惩一时之弊，但低俗内容屡禁不止的现实说明，封禁账号不过是内容平台建设的常见纠错机制，并不能从根源上解决低俗内容泛滥的问题，关键还得建立长效机制、强化企业的社会责任。技术发展推动了媒介形态的变革，不论承认与否，在这个信息过载的时代，算法推荐消耗的是最为稀缺的时间和注意力资源。拥有流量入口的平台，如果把低俗化、肤浅化的信息一股脑的推送给用户，这种无原则的迎合行为，或许能获得一时关注，但无异于坑粉、害粉；或许短期能带来巨大盈利，但长远来看必将损害自己的公信力与影响力。取缔低俗内容，光有信誓旦旦的表态不行，仅靠封禁几个账号不够，需要在技术层面、管理层面、价值层面，把长效机制真正建立起来，才能铲除低俗内容泛滥的土壤。进一步说，技术创新的边界应该是企业的社会责任。企业想盈利无可厚非，可怎么盈利却有天壤之别。以优质文化产品取胜，这是健康的产业模式，而把低俗内容兜售给消费者，这是不负责任的行为。算法推荐赚取巨大流量红利的同时，是否应该反思这种创新能给社会带来怎样的进步。如果新的媒体平台，只是为了让低俗化、媚俗化、娱乐化的信息更加便捷传播，如果新的技术，只会降低人的思考能力和审美水平，这样的媒介形态和产品创新必将在社会发展中被淘汰。整改和处罚只是手段，按照中央要求，营造清朗、干净、健康的网络空间，才是管理者和经营者的共同责任和目标。纠正算法推荐的弊端，治理低俗内容倾向，根源上来说，是关照每一个人在未来的高品质生活、自主选择以及全面发展的能力。今日头条的《通报》迈出了第一步，值得业界借鉴，但当事方不能仅满足于此，而应该以更大的决心和行动，从根本上改变不顾导向的所谓算法推荐，管理部门在关注，网民更有期待。</p></body></html>