<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>963</title>
</head>
<body>
<h1>
春运火车票开售啦-新华网
</h1>
<p id="demo"> 2018-01-03 15:14:55</p><p>新华社北京１月３日电（记者樊曦）３日，春运火车票正式开始发售，一年一度的春运“抢票热”又拉开了帷幕。２０１８年春运自２月１日开始，３月１２日结束，共４０天。网络、电话订票预售期为３０天，车站窗口、代售点和自动售票机预售期为２８天。按照３０天的预售期推算，１月３日起可购买春运首日（２月１日）的火车票，１月１７日起可购买今年除夕（２月１５日）的火车票，１月２３日起可购买正月初六（２月２１日）的火车票。中国铁路总公司客运部副主任黄欣在接受记者专访时表示，随着我国“四纵四横”高铁网基本建成，高铁的通达性和便利性进一步提高，今年的春运回家路将更加便捷。春运期间，动车组旅客发送量将接近六成。“相比２０１７年，今年春运全国铁路整体发送人数至少增加３０００万人次，从绝对值看是近年来增长最高的一年。”黄欣说。此外，高铁的快速发展也让不同地区间铁路运力更加均衡。川渝地区历来是春运期间运力紧张的重点地区之一。今年，兰渝铁路、西成高铁以及即将开通的渝贵高铁将共同服务春运，大大缓解进出川的压力。截至２０１７年底，全国铁路营业里程达到１２．７万公里，其中高铁２．５万公里，占世界高铁总量的６６．３％。</p></body></html>