<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>966</title>
</head>
<body>
<h1>
成都市纪委开展“微腐败”专项治理查处1739人-新华网
</h1>
<p id="demo"> 2018-01-03 16:16:34</p><p>新华社成都1月3日电（记者吴光于、李力可）2日，成都市纪委通报了2017年5月以来集中开展专项治理“微腐败”的情况，成都市共立案“微腐败”问题1892件2068人，查处1611件1739人，其中，党纪政纪处分1521件1661人，对336件416人进行责任追究。成都市纪委相关负责人指出，基层是“微腐败”治理的重点。专项治理期间，成都市纪委组成10余个督查组，采取不定时间、不定单位、不定线路、不打招呼方式持续开展明察暗访，着力发现群众身边的不正之风和腐败问题。截至目前，全市共开展各类明察暗访4230余次，发现、处置“微腐败”问题5000余个。通过集中梳理排查“微腐败”的信访举报、巡察监督、自查自纠等方式，发现问题线索2385件，全部纳入台账、分流处置、限时办结。成都市纪委相关负责人介绍，2017年以来，成都市纪委变被动受理投诉为上门求取诉求，开展领导干部下基层、党员联系群众、进村入户调研、村（社区）坝坝会等工作，与基层群众拉家常、了解社情民意。截至目前，各级纪检监察机关开展各类下基层8600余次，收集群众反映意见建议16400余件。同时，全市纪检监察机关采取多种方式开展实地回访，对22个区（市）县开展回访督改、“杀回马枪”20余次，各区（市）县纪检监察机关同步对基层单位开展回访督改1140余次，督促各级党组织根据不同地区、系统、行业、领域等的特点，主动整改问题，各地各部门出台各类制度规定850余项。成都市纪委相关负责人表示，成都市将继续重拳治理“微腐败”，努力提升人民群众满意度、幸福感和获得感，积极营造与成都市建设全面体现新发展理念、国家中心城市理念相匹配的政治生态和创业环境。</p></body></html>