<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>967</title>
</head>
<body>
<h1>
青岛市民政局提醒市民：注意甄别真假社会组织谨防上当受骗-新华网
</h1>
<p id="demo"> 2018-01-03 16:20:49</p><p>新华社青岛１月３日电（记者苏万明）青岛市民政局日前依法取缔一“山寨”房地产经纪人俱乐部，并提醒市民注意甄别真假社会组织，谨防上当受骗。青岛市民政局相关负责人介绍，连日来，青岛市民政部门接到群众举报，有人以“青岛房地产经纪人俱乐部”的名义，进行与房地产营销有关的活动。此事引起了青岛市民政局的关注，并安排社会组织执法监察部门跟进调查。执法人员依法传唤当事人，并对当事人进行了问询。经调查发现，“青岛房地产经纪人俱乐部”未经登记（批准筹备），擅自以民办非企业单位的名义进行活动，违反了《民办非企业单位登记管理暂行条例》的规定。青岛市民政局执法监察部门依据《民办非企业单位登记管理暂行条例》第二十七条的规定，依法对其予以取缔。同时要求当事人及时撤掉媒体上以“青岛房地产经纪人俱乐部”名义传播的宣传信息，消除社会影响。青岛市民政局提醒，我国对民办非企业单位登记管理有明确的规定，以防止非法组织擅自开展不法活动，导致群众生命财产安全受到损失。青岛市民政局同时提醒市民，参加社会组织的活动之前，要先查询社会组织是否依法进行登记注册，谨防上当受骗。</p></body></html>