<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>969</title>
</head>
<body>
<h1>
我国申请基层法律服务工作者执业门槛提高-新华网
</h1>
<p id="demo"> 2018-01-03 15:52:18</p><p>新华社北京1月3日电 记者3日从司法部获悉，司法部在新修订的《基层法律服务工作者管理办法》和《基层法律服务所管理办法》中提出，申请基层法律服务工作者执业学历条件大幅提高。基层法律服务是一项具有中国特色的法律服务制度。近年来，基层法律服务工作发生了重要变化。为顺应新时代人民群众对基层法律服务的新期待、新要求，司法部对原两个办法进行了修订。修订后的《基层法律服务工作者管理办法》规定，符合下列条件之一的人员可以申请基层法律服务工作者执业：一是具有法律职业资格；二是曾经取得过基层法律服务工作者执业资格；三是高等学校法律专业本科毕业，参加省级司法行政机关组织的考试合格，对参加考试人员的学历要求比原《基层法律服务工作者管理办法》规定的“具有高中或者中等专业以上的学历”有了较大提高。修订后的《基层法律服务所管理办法》对基层法律服务所设立和组织形式作出了调整，删除了基层法律服务所设立的相关规定，规定了事业体制和普通合伙制两种组织形式，并对这两种组织形式的基层法律服务所应当具备的条件作出了明确规定。据悉，两个办法自2018年2月1日起施行。</p></body></html>