<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>97</title>
</head>
<body>
<h1>
第四届中国经济社会理事会第五次会议在京举行-新华网
</h1>
<p id="demo"> 2018-06-14 20:28:08</p><p>新华社北京6月14日电（记者林晖）中国经济社会理事会四届五次会议14日在北京举行，主要任务是全面学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神，研究部署新一年度重点工作。全国政协副主席张庆黎出席会议。会议强调，要把牢坚定正确的政治方向，提高政治站位，增强全局观念，保持战略定力；明确精准有力的重心指向，着力推进经济高质量发展，解决深化改革重点难点问题，促进保障和改善民生，推动协商民主广泛多层制度化发展，服务中国特色大国外交；坚持清晰鲜明的工作导向，以正确理念为引领，准确把握功能定位，发挥好理事会的政治、组织、人才和对外工作优势；强化追求卓越的价值取向，着力提高研究质量和水平。中国经济社会理事会主席杜青林作主旨讲话。</p></body></html>