<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>970</title>
</head>
<body>
<h1>
山西大同警方破获一起特大贩毒案-新华网
</h1>
<p id="demo"> 2018-01-03 15:52:18</p><p>新华社太原1月3日电（胡靖国、孙亮全）记者3日从山西大同市公安局获悉，大同警方近日破获一起部督特大贩毒目标案件，抓获犯罪嫌疑人21人，缴获冰毒8.855公斤，涉案资金85万元。2017年5月份，大同警方接到群众举报，棚户区刘某东涉嫌多次贩卖毒品。获此线索后，警方迅速展开案件初步侦查工作，查实了刘某东贩卖毒品的犯罪事实，并成功摸清了以其上线刘某云为核心的流窜于山西、河北、内蒙古三地六市的家族式贩毒团伙。不久，公安部将此案列为部督案件进行挂牌督办。专案组民警多次赴河北张家口、内蒙古集宁、湖北潜江等地，掌握了该层级分明、系统庞大、跨五省七市的特大贩毒集团的七层团伙架构，并获得了所有涉案人员的活动轨迹及贩毒藏毒窝点。2017年11月9日，专案民警在高速公路河南济源服务区成功抓获持刀贩毒嫌疑人刘某云、陈某等5人，现场缴获冰毒8.695公斤、毒资2万余元。同日，民警成功抓获该贩毒集团其余成员。11月12日，另一组办案民警在湖北潜江市成功抓获该贩毒集团上线黄某元。目前，黄某元、刘某云等16名犯罪嫌疑人已被批准逮捕，案件仍在进一步深挖办理当中。</p></body></html>