<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>972</title>
</head>
<body>
<h1>
用中国故事讲好大学思政课-新华网
</h1>
<p id="demo"> 2018-01-03 15:54:19</p><p>新华社上海1月3日电  题：用中国故事讲好大学思政课新华社记者吴振东教育部2017年对全国3万多名大学生的随机访问显示，86.8%的学生表示喜欢上思政课，91.3%的学生表示在思政课上有收获。记者在上海采访也发现，高校里“网红”思政课不断涌现，不少课“一座难求”。把“大学里最难讲的课”讲好，往往离不开精妙的课程设计、富有感染力的课堂讲授，甚至是思政教师的个人魅力。但究其根本，内容才是基石，那些能把中国故事讲好、生活热度与思想深度兼具的思政课，才能引起学生的情感共鸣、思想共振，让学生发自内心地接受。思政课是知识教育，更是认同教育。今日之中国青年，普遍拥有更扎实的知识、更开阔的视野、更宽广的天地，因而愈发自信开放。这种集体自信，源自于他们早就告别了物质的贫困，远离了信息的匮乏，一路的成长伴随着国家强盛，复兴梦想也变得可望可及。正是由于身边的发展成就真实可触，他们对于中国道路、中国模式才有更旺盛的认知需求。知其然，而欲知其所以然，这是一些思政课能够走“红”的深层次原因。也正因此，大学思政课就需要顺应青年成长发展的需求和期待，以提升他们的获得感。就需要摒弃纯粹的灌输说教，将现实生活中的实际案例尤其是我国改革开放和社会主义现代化建设所取得的巨大成就融入教材、理论中去，把大道理融入小故事，用小故事讲清大道理，以道理赢得认同，使思政课更有“底气”，说服力感召力不断增强。打造一门“网红课”不是目的，引导当代青年懂中国、爱中国，进一步增强“四个自信”，凝聚更多共识，始终是高校思政教育的根本任务。要帮助青年掌握科学的世界观和方法论，帮助青年形成自信、理性的社会心态，更要引导他们走向广阔的实践天地，走进社会大课堂。人生只有融入国家和民族的伟大事业才能闪闪发光。处于黄金时代的青年学生，更应以青春与奋斗成就人生，为实现中华民族伟大复兴的中国梦贡献自己的力量。</p></body></html>