<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>973</title>
</head>
<body>
<h1>
广东：中小学教师从“学校人”变成“系统人”-新华网
</h1>
<p id="demo"> 2018-01-03 16:14:51</p><p>新华社广州1月3日电（记者郑天虹）广东省教育厅、省编办、省财政厅和省人社厅日前联合出台《关于推进中小学教师“县管校聘”管理改革的指导意见》，实现县域内教师由“学校人”向“系统人”转变。为进一步促进县域内教师资源的均衡配置，努力破解教师交流轮岗工作中遇到的困难和问题，意见要求各地教育行政部门根据本地实际制定校长教师交流轮岗实施方案并组织实施，通过多种交流轮岗形式，逐步实现学校之间专任教师高一层次学历比例、中高级教师职称比例和骨干教师比例大体相当，实现区域内教师资源的均衡配置。意见要求采取切实有效措施，积极引导优秀校长教师向农村学校、薄弱学校有序流动，缩小城乡、校际间教师队伍水平差距。在调整分配学校专业技术岗位时，应向农村、偏远地区学校和薄弱学校倾斜，适当增加高、中级专业技术岗位数量。根据意见，原则上县域内中小学教职员编制总额每年核定一次，按生师比与班师比相结合的方式核定县域内中小学教职员编制的总量，按照教育教学规模和教师队伍结构要求统筹提出各学校教职员编制的分配方案以及动态调整意见。根据国家、省制定的中小学专业技术岗位结构比例控制标准和县域内中小学校编制总量，核定县域内中小学专业技术高、中、初级岗位总量，实行总量控制。意见还鼓励创新教师公开招聘考试办法，建立完善学校、教师、学生、家长和社会多方参与的教师考核评价机制，建立完善能上能下、能进能出的竞争性用人机制，激发中小学教师队伍的活力。逐步完善教师退出机制。严格师德考核，实行师德考核“一票否决制”。意见将于2018年2月1日起施行，有效期五年。实行“县管校聘”管理改革的对象范围为公办中小学在编在岗教职员。</p></body></html>