<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>975</title>
</head>
<body>
<h1>
追回7.3亿元！财政部披露近500人滥用扶贫资金被查处-新华网
</h1>
<p id="demo"> 2017-12-29 16:50:16</p><p>新华社北京12月29日电（记者韩洁、申铖）财政部、国务院扶贫办29日发布今年财政扶贫资金专项检查结果，一批违法违规问题被查处，已追回被虚报冒领、挤占挪用等扶贫资金7.3亿元，对231人追究党纪政纪责任，通报及诫勉谈话201人，移送司法机关14人。农村贫困人口如期脱贫、贫困县全部摘帽、解决区域性整体贫困，是全面建成小康社会的底线任务。财政部、国务院扶贫办于2017年3到5月组织开展了财政扶贫资金专项检查，重点检查2015年和2016年中央财政专项扶贫资金以及中央专项彩票公益金支持贫困革命老区扶贫开发部分。财政部表示，总体看，各地各部门坚决贯彻落实党中央、国务院脱贫攻坚战略部署，把支持打赢脱贫攻坚战作为当前工作的重中之重，持续加大政策支持和制度创新，进一步强化资金规范管理和监督检查，推进精准扶贫精准脱贫不断深入，阶段性减贫任务超额完成，群众满意度有所提高，违法违规问题发生率呈逐年下降趋势，但是虚报冒领、挤占挪用和浪费财政扶贫资金的问题仍时有发生。“发现一起、查处一起、绝不姑息！”财政部监督检查局有关负责人指出，此次检查发现了一批违法违规问题，本着“零容忍”态度已进行了严肃处理。从检查发现问题中的一些典型案例看，虚报冒领、挤占挪用、违规招投标、盲目决策导致资金大量浪费、精准扶贫贯彻落实不到位是当前滥用扶贫资金的主要问题所在。数据显示，中央财政4年来累计安排专项扶贫资金共1961亿元，年均增长达19.22%，2016年和2017年连续两年每年新增200亿元。（图片来源：新华视点微博）</p></body></html>