<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>976</title>
</head>
<body>
<h1>
“宝马司机殴打环卫工人”案有进展警方正抓捕嫌疑人-新华网
</h1>
<p id="demo"> 2017-12-29 16:47:36</p><p>新华社石家庄１２月２９日电（记者闫起磊）近日，有网友发帖称“１２月２７日上午，在石家庄新乐市国税局门口，一宝马车司机殴打５０多岁环卫工人，并将前来劝阻的４位老人也一并打伤。”对此，新乐市警方回应，五名犯罪嫌疑人已被全部锁定。据新乐市公安局通报，１２月２７日上午９时５５分，该局指挥中心接到群众报警称：在新乐市国税局门口旁，有人打架滋事。接警后，该局立即出警，并开展调查工作。经调查，一宝马车司机在公路上因停车问题与环卫工人王某（女，５８岁）发生争执。争执中，宝马车司机伙同他人持械将王某及其随后赶来的４名亲属打伤，后宝马车司机等人逃离现场。案发后，新乐公安局立即组织警力走访周边群众、询问受害人、调取监控视频，全面开展相关工作，杨某等五名犯罪嫌疑人已被全部锁定。目前，一名犯罪嫌疑人已被新乐市公安局依法采取刑事强制措施，其他犯罪嫌疑人正在抓捕中。</p></body></html>