<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>977</title>
</head>
<body>
<h1>
合肥通报三起环保问责典型案例-新华网
</h1>
<p id="demo"> 2017-12-29 16:43:33</p><p>新华社合肥12月29日电（记者汪奥娜）合肥市近日通报了3起环保违纪案件查处情况，其中，合肥市城管局原副局长程本友因利用职务便利为他们谋取工程建设利益，被开除党籍和公职，并追究刑事责任。程本友和市重点局水环境建设处原负责人王上等6人因龙泉山生活垃圾填埋场二期工程建设质量及环保验收等问题受到查处。经查，龙泉山垃圾填埋场二期工程由市城管局负责前期报批，存在未经环保验收投入使用和质量等方面问题。其中，程本友利用职务便利，在工程建设方面为他人谋取利益，非法收受他人财物，被开除党籍和公职并追究刑事责任。肥东县白龙镇现代牧业（合肥）有限公司牧场存在东侧500米卫生防护距离内有78户居民未按期搬迁、厂区雨污分流不完善等7项环境违法问题，给当地环境保护工作造成了严重影响。肥东县环保局局长殷传才和白龙镇党委书记徐向东受到诫勉处理。庐江县环保局在安徽金牛矿业有限公司未完成整改的情况下，没有进行认真审查即同意上报市环保局进行摘牌预验收申请，两次均未通过，未能按期完成省环保厅挂牌督办的整改事项。庐江县环保局局长杨林飞因对环境违法整改监管不力受到诫勉处理。</p></body></html>