<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>979</title>
</head>
<body>
<h1>
最高检发布禁酒令：检察机关公务活动全面禁止饮酒-新华网
</h1>
<p id="demo"> 2017-12-29 18:46:24</p><p>原标题：最高人民检察院下发修改后禁酒令 在检察机关公务活动中全面禁止饮酒日前，最高人民检察院下发修改后的《最高人民检察院禁酒令》（以下简称《禁酒令》），并发出通知要求各级检察机关认真贯彻执行，在检察机关公务活动中全面禁止饮酒。修改后《禁酒令》包括“六个严禁”，即严禁工作时间内和工作日中午饮酒；严禁在检察系统举办的各类会议、考察调研、学习培训、检查指导、请示汇报等公务活动期间饮酒；严禁司法办案和执行公务期间饮酒；严禁携带枪支、弹药、档案、案卷、案件材料、秘密文件或者其他涉密载体饮酒；严禁到可能影响公正办案和检察机关形象的场合饮酒；严禁佩戴检察标志和着法警制服在公共场所饮酒。最高检通知指出，修改《禁酒令》是检察机关深入贯彻党的十九大精神，坚定不移推进全面从严治党、全面从严治检，驰而不息落实中央八项规定精神的重要举措。各级检察机关特别是检察长必须高度重视，切实担负起主体责任，采取有力措施抓好《禁酒令》的贯彻落实。要认真开展宣传学习教育，使全体检察人员人人皆知、时时遵循。各级领导干部要以上率下，层层带动，确保贯彻执行到位。通知要求，各级检察机关监察机构要紧盯关键节点，抓日常、经常抓，强化修改后《禁酒令》执行情况的监督检查。对违规违纪饮酒行为要严肃查处并及时报告，视情节给予批评教育、组织处理或党纪检纪处分，尤其对领导干部发生的违规违纪饮酒行为要从严处理，决不能姑息迁就。对执行《禁酒令》不力、导致本单位违规违纪问题多发频发，或者造成严重后果、产生不良影响的，严肃追究主体责任、监督责任和领导责任，并公开通报曝光。</p></body></html>