<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>98</title>
</head>
<body>
<h1>
杭州下城警方摧毁一特大吸贩毒团伙 抓获100余人-新华网
</h1>
<p id="demo"> 2018-06-14 20:02:43</p><p>抓捕现场。杭州下城警方 供图14日，记者在浙江省毒情形势新闻发布会上获悉，杭州下城警方近日成功摧毁一涉案人数达100余人的特大吸贩毒网络团伙，缴获冰毒200余克、冰毒片剂200颗。2017年11月，杭州下城警方接到上级部门相关线索得知，男子陈某疑似在辖区内贩卖冰毒。经调查，犯罪嫌疑人陈某来自武汉，并在当地“毒友圈”较为活跃，他对外宣称自己备有充足货源。随着侦查的深入，警方发现该案涉案人员众多且牵涉外省，遂联合上级有关部门成立专案组。经严密追踪，专案组掌握了主要涉案人员的活动规律。警方发现，陈某每月会从湖北籍女子汪某某处拿货2到3次。据悉，年近40岁的汪某某常往返于浙江、湖北，早年间曾在杭州某娱乐场所工作过，她“以贩养吸”，在杭州本地“毒圈”颇有名气。汪某某在收到毒资后，用快递将毒品发至陈某手中。杨某、王某等人则从陈某处购买分包毒品，继而转销给杭州150余名吸贩毒人员。“陈某等人通过提前放置毒品，以及通过快递的方式运送毒品，掩护自己的贩毒行为。”杭州市公安局下城区分局副局长于海群介绍，这一方式较为隐蔽，被称作“埋地雷”，是典型的贩毒、运毒手段之一。2018年3月7日，在浙江省公安厅禁毒总队统一协调下，杭州市公安局抽调400余名警力分成82个小组，在浙江杭州和湖北咸宁两地展开收网行动。在湖北警方配合下，湖北抓捕组在咸宁市先后擒获了该案件主要嫌疑人汪某某及其“上家”丁某某，并在二人藏匿处缴获冰毒30余克。“收网过程中，我们在审讯二级毒贩孙某某时，他交代自己曾在武汉青山区晶银大酒店内向一名自称‘毛毛’的男子购买过60余克冰毒。”于海群介绍，警方怀疑“毛毛”系另一主犯陈某(武汉人)，随即通过研判分析确认了推测。专案组立即派精干警力赴武汉，由于陈某具备一定反侦察能力且踪迹飘忽不定，追捕工作一度陷入僵局。3月13日，在武汉警方配合下，专案组最终在当地一酒店房间内将陈某擒获。至此，全案主要犯罪嫌疑人全部到案，该案共抓获违法犯罪嫌疑人100余名。(记者 张斌 实习生 罗媛安 通讯员 蒋敏杰)</p></body></html>