<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>980</title>
</head>
<body>
<h1>
海南启动环保督察移交案卷调查问责-新华网
</h1>
<p id="demo"> 2017-12-29 18:09:43</p><p>新华社海口１２月２９日电（记者赵叶苹）海南省２８日启动对中央环保督察组移交案卷的调查问责工作，自中央环保督察组２３日反馈意见后，连日来，海南各有关市县和部门纷纷对照反馈意见指出的问题，对号入座、主动认领、立行立改。海南高度重视中央环境保护督察组反馈意见整改工作，１２月２８日召开的专题会议对中央环境保护督察组移交的９类案卷一条一条研究，一项一项分析，逐件明确调查问责工作任务。为确保调查问责工作有序开展、执行到位、高效权威，针对９类案卷，海南成立了均以省政府领导任组长的９个联合调查处理工作领导小组。目前海南已梳理出５６条整改措施清单，逐条明确整改目标、整改措施、整改期限、主体责任单位、监督责任单位、督办省领导等，做到一个问题、一名责任领导、一抓到底。其中，针对中央第四环境保护督察组指出的部分自然保护区管护不力的问题，海南省生态环境保护厅、省海洋与渔业厅和省林业厅等部门联合行动，结合“绿盾２０１７”国家级自然保护区监督检查专项行动，对全省自然保护区存在问题进行全面检查整改。据最新统计，此次专项行动共关停保护区内违法违规企业１０个，拆除吊罗山、尖峰岭、青皮林等保护区内违法建筑１.４万平方米，拆除东寨港、清澜保护区栈道４.２公里，追责１５人。为推进群众环境诉求持续解决，海南建立群众信访投诉办理常态长效机制，狠抓解决群众环境诉求不放松。对中央环保督察举报电话和邮箱关闭后的环境信访举报，统一由“１２３６９”环保热线和“１２３４５”市民服务热线受理，实行２４小时不间断值守。</p></body></html>