<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>981</title>
</head>
<body>
<h1>
实验室里“跑”高铁 精确“问诊”高铁路基-新华网
</h1>
<p id="demo"> 2017-12-29 18:16:15</p><p>新华社杭州12月29日电（记者朱涵）“复兴号”高铁运行时速达350公里，车厢内，4枚硬币能够立住并保持状态超过一分钟。高速环境下，车厢能如此平稳，一项攻克了高铁路基沉降难题的研究起了关键作用。在教育部日前公布的2017年度中国高等学校重大科技进展中，“高速铁路列车运行动力效应试验系统”名列其中。浙江大学紫金港校区的建工试验大厅里，“驻扎”着一台实验装置：它能准确模拟全国各地高铁运行的情况，最高时速可达360公里，它帮助科学家了解高铁路基的沉降规律，探索沉降控制与修复的方法。“高速铁路列车运行动力效应试验系统”由浙江大学陈云敏院士团队发明，领衔专家为浙江大学教授边学成。边学成告诉记者，我国高铁密集分布的东南沿海地区，大部分属于软土地基，是沉降极易发生的地段。列车要平稳运行，路基的沉降必须控制在15毫米范围之内。如果沉降过大，小则发生车身颠簸，大则有可能引发列车安全问题。在一次讨论中，陈云敏和边学成提出了“假车真路”的实验装置，提出并设计了高速铁路全比尺动力试验创新装置。试验大厅里，记者看到了这个高大的实验装置。从铁路线上运来的轨道板叠放在一边，等待被吊装后进行试验，装置底部是高达8米的路基，路基之上是轨枕和铁轨，这些来自全国各条铁路线，唯独铁轨之上的“列车”不是“车”，而是8个动力激振器。“这些激振器每秒最快能起降30次，像‘弹钢琴’快速此起彼伏，把车轮驶过铁轨的连续过程模拟出来。”边学成说。现实中长达10年的高速列车荷载，这套试验装置“弹”一个月“钢琴”就能交出数据。</p></body></html>