<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>986</title>
</head>
<body>
<h1>
方震同志逝世-新华网
</h1>
<p id="demo"> 2017-12-29 17:49:41</p><p>新华社北京１２月２９日电原第二军医大学副政委方震同志，因病医治无效，于２０１７年１２月１０日在北京逝世，享年１０６岁。方震是江西弋阳人，１９３０年参军，１９３１年加入中国共产主义青年团，同年加入中国共产党。土地革命战争时期，他历任排长、连长、连政治指导员、兵站政治委员、参谋等职，参加了反“围剿”等战役战斗，参加了长征。抗日战争时期，他历任兵站分站站长、兵站部巡视主任兼太谷兵站办事处主任等职。解放战争时期，他历任晋绥军区总兵站副站长、华北军区运输分部部长等职。中华人民共和国成立后，他历任原总后勤部运输部检查室主任、检查局副局长、重庆办事处副主任、第一物资部上海办事处主任，第二军医大学顾问等职，为部队革命化、现代化、正规化建设作出了贡献。方震１９５５年被授予大校军衔，１９６４年被授予少将军衔，曾荣获二级八一勋章、二级独立自由勋章、二级解放勋章和一级红星功勋荣誉章。</p></body></html>