<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>988</title>
</head>
<body>
<h1>
中央军委主席习近平签署命令发布新修订的《中国人民解放军军事训练条例（试行）》-新华网
</h1>
<p id="demo"> 2017-12-29 17:39:50</p><p>新华社北京１２月２９日电（黎云、吴旭）中央军委主席习近平日前签署命令，发布新修订的《中国人民解放军军事训练条例（试行）》（以下简称《条例》），自２０１８年１月１日起施行。《条例》全面贯彻习近平强军思想，坚持党对人民军队绝对领导的根本原则和制度，贯彻新形势下军事战略方针，聚焦备战打仗，坚持战斗力这个唯一的根本的标准，坚持问题导向、严实导向、发展导向，创新组织模式，重塑政策制度，规范运行方式，是一部与人民军队新时代使命任务相适应、与新体制相协调、与战斗力生成规律相符合的军事训练基本法规，对于提高我军军事训练实战化水平、推动军事斗争准备深入发展，具有重要意义。《条例》共１１章７７条，按照“军委管总、战区主战、军种主建”总原则，构建军委统一领导下归口统筹、分工负责的军事训练管理模式，科学划分各级职能界面，整体重塑军事训练管理体系。《条例》坚持以战领训，突出真难严实，按照打仗要求创新训练方式，瞄准强敌对手发展训练标准，优化新形势下人民军队军事训练基本布局，明确各层次各领域训练的目的要求、组训主体、参训对象、主要内容和实施步骤，立起实战实训刚性规范，推进训练与实战达到一体化。《条例》具体规范军事训练规划、计划、统计、报告、考核和评估、等级评定等基本制度，拓展完善军事训练保障、安全管理、监察、奖励与处分等支撑制度，建立健全军事训练工作运行机制，推进全军军事训练“一盘棋”设计、“一棋盘”运行。</p></body></html>