<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>99</title>
</head>
<body>
<h1>
吉林四平抓获49名网络电信诈骗案犯 涉案金额近亿元-新华网
</h1>
<p id="demo"> 2018-06-14 19:28:42</p><p>新华社长春６月１４日电（记者周立权）吉林省四平市警方历时３个月，辗转湖北、河南、广东等７省１０市，近日成功打掉一特大电信网络诈骗犯罪团伙，抓获犯罪嫌疑人４９人，涉案金额近１亿元。四平市今年３月发生一起电信网络诈骗案件，一陌生微信好友以投资微交易平台可获得高收益为由，骗取被害人迟某３.４万元。四平警方立即成立专案组，查获主要犯罪嫌疑人活动地点在湖北恩施。在当地警方配合下，专案组迅速锁定了两处诈骗窝点，并查明共有３０名涉案人员。在恩施市公安局配合下，警方组成７个抓捕小组，将涉案人员全部抓获。四平警方历经４０余小时长途跋涉，用大客车将３０名犯罪嫌疑人押解回四平。通过审讯，专案组掌握了该犯罪团伙实施诈骗的方式，他们通过微信添加好友，然后发布虚假“外汇平台”账号，取得对方信任之后，介绍所谓的优秀“分析师”指导，诱惑对方投资，在背后控制虚假平台跌涨走势，最终将投资人资金全部亏掉，以此方式获利。据犯罪嫌疑人陈某交代，其使用的诈骗平台是微信昵称“吴先生”提供的。经侦查，“吴先生”活动地点在河南洛阳，四平警方即刻赴当地开展工作，成功锁定“吴先生”的真实身份，及其余在广东深圳的涉案者。随后，四平警方又抽调３０名干警赶赴河南洛阳、广东深圳、陕西、安徽等地。１１个抓捕组同时行动，一举抓获１８名犯罪嫌疑人，并对一名出国旅游案犯进行网上通缉。6月2日，此案犯在广东珠海落网。至此，涉案的４９名犯罪嫌疑人全部落网。据统计，此案有近３万名群众被骗，涉案金额近１亿元。</p></body></html>