<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>991</title>
</head>
<body>
<h1>
全国铁路公安机关启动“猎鹰-2018”战役严厉打击倒票活动-新华网
</h1>
<p id="demo"> 2017-12-31 22:19:31</p><p>新华社北京12月31日电（记者刘奕湛）记者31日从铁路公安局获悉，全国铁路公安机关自近日起，部署开展了为期100天的打击倒票“猎鹰-2018”战役。据统计，自战役开展以来，共破获倒票案件186起，抓获违法嫌疑人765名，查缴火车票2.6万余张、假火车票1.2万余张。据了解，此次打击倒票“猎鹰-2018”战役，设立“线上网络、线下实体”两个战场，在前期集中开展倒票线索排查“寻迹行动”的基础上，迅速推进打击倒票“清剿行动”，分阶段、分层次深化战役开展，确保取得实效。各地铁路公安机关加强与车站客运部门的联系，及时掌握热门车票的重点车次、重点方向、重点时间。进一步密切与地方公安机关及站区周边单位联系，不间断强化火车站地区治安管控，组织民警加强广场、售票厅巡查，深入到重点车站和旅客列车开展票源调查，加强互联网涉及火车票信息巡查，通过设立举报台、公布举报电话等方式，全面收集各类倒票情报线索，逐条梳理，综合研判。连日来，各地铁路公安机关抽调有打击倒票经验的民警组建500余支专业打击小分队，实行治安、刑侦等多部门多警种合成作战。北京、南京、乌鲁木齐等铁路公安处加强站区巡查，及时盘查清理有倒票嫌疑人的“熟面孔”；深圳、徐州、白城等铁路公安处乘警支队民警配合列车工作人员开展车票核查，对发现的高价票线索，及时向相关单位反馈；哈尔滨、武威、佳木斯等铁路公安处加强对火车票代售点的检查监督，开展相关法制宣传教育。</p></body></html>