<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>992</title>
</head>
<body>
<h1>
公安部:元旦假期第二天全国道路交通流量环比下降5%左右-新华网
</h1>
<p id="demo"> 2017-12-31 22:19:31</p><p>新华社北京12月31日电 公安部交通管理局31日发布，元旦假期次日，全国道路交通流量总体平稳，从部分交通流量监测点看，交通流量较30日下降5%左右。全国公安交通管理部门针对元旦假期进出城交通流量大、旅游需求旺盛、商场促销活动集中的实际，科学部署警力，加强指挥疏导。各地启动所有交警执法站，突出管控重点，严格路检路查，严管通行秩序，严防重大事故。据统计，元旦期间，日均出动警力18.1万人、警车5.9万辆，查处各类交通违法行为132.1万起，其中超员6860起、超速3.8万起、超载1.2万起、疲劳驾驶1.7万起，酒驾5518起、醉驾579起。截至31日19时，全国主干高速公路通行正常，未出现长时间、大范围交通拥堵，未接报重特大道路交通事故。元旦期间亲朋聚会、欢庆活动、外出旅游相对集中，公安部交管局提醒广大群众，自觉遵法守规，安全文明出行，切实做到开车不喝酒、喝酒不开车。驾车外出期间，不争道抢行、不疲劳驾驶、不超员超速，高高兴兴出门，平平安安回家。</p></body></html>