<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>995</title>
</head>
<body>
<h1>
岁末年初｜习近平这10句话为你鼓劲加油-新华网
</h1>
<p id="demo"> 2017-12-31 10:07:01</p><p>岁末年初，你或许在感怀时光流逝，或许在憧憬未知未来。在此，新华社《学习进行时》为你挑选习近平2017年10句暖心质朴、砥砺人心的话，为你加油鼓劲。1天上不会掉馅饼，努力奋斗才能梦想成真。——习近平2017年新年贺词2大家撸起袖子加油干。——习近平2017年新年贺词3事要去做才能成就事业，路要去走才能开辟通途。——2017年12月1日，习近平在中国共产党与世界政党高层对话会上作主旨讲话时强调4不能因现实复杂而放弃梦想，也不能因理想遥远而放弃追求。——2017年12月1日，习近平在中国共产党与世界政党高层对话会上作主旨讲话时强调5中国人是了不起的。——2017年6月30日，习近平在香港特别行政区政府欢迎晚宴上的致辞6时间不等人！我们必须走在时间前面，成为时代的弄潮儿。——2017年12月29日，习近平在全国政协新年茶话会上讲话时强调7不要在遥远的距离中割断了真情，不要在日常的忙碌中遗忘了真情，不要在日夜的拼搏中忽略了真情。——2017年1月26日，习近平在2017年春节团拜会上讲话时强调8新时代要有新气象，更要有新作为。——2017年10月25日，习近平在十九届中共中央政治局常委同中外记者见面时的强调9中华民族伟大复兴，绝不是轻轻松松、敲锣打鼓就能实现的。——2017年10月18日，习近平在中国共产党第十九次全国代表大会上作报告时强调10我们有足够的理由相信，这个世界会更好。——2017年9月3日，习近平在金砖国家工商论坛开幕式上讲话时强调（记者：黄玥）</p></body></html>